/* styles for the Synergy tooltip */

DACTooltipSynergy
{
	width: 800px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}


#Contents.SynergyContents
{
	width: 600px;
	flow-children: down;
	padding: 0px;

	background-color: gradient( linear, 0% 0%, 0% 80%, from( #2d2d2ddd ), to( #00000075));
	background-image: url("s2r://panorama/images/hud/popup_background_glass_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	
    border-top: 4px solid #afcae250;
    border-right: 4px solid #a196ff50;
    border-bottom: 4px solid #44428add;
    border-left: 4px solid #6e9bc250;

    box-shadow: fill #000000cc -8px 0px 2px 16px;
}

.Header
{

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #00000075 ) );
	width: 100%;
	
	padding: 12px;

	height: 100px;

	flow-children: right;
}

DACSynergyIcon
{
	ui-scale: 60%;
	vertical-align: center;
}

.HeaderText
{
	color: #C3C3C3;
	font-size: 30px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	margin-left: 12px;
	letter-spacing: 1px;
}

.Body
{
	visibility: visible;
	height: fit-children;
	width: 100%;
	padding: 15px;
	flow-children: down;
}

.Body Label
{
	color: white;
	font-size: 16px;
}

.LevelRow
{
	margin-left: 10px;
	margin-right: 10px;
	width: fit-children;
	height: fit-children;
	horizontal-align: left;
}

.Body .LevelNumber
{
	font-family: radiance;
	font-weight: bold;
	font-size: 36px;
	color: #C3C3C3;
	
	text-shadow: 0px 2px 0px 3.0 #00000035;


	vertical-align: top;
}

.Body .LevelDescription
{
	font-family: radiance;
	font-size: 24px;
	color: #C3C3C3;

	padding-left: 35px;
	line-height: 30px;

	white-space: normal;
}

.LevelRow
{
	visibility: collapse;
}

.Row1Visible #LevelRow1,
.Row2Visible #LevelRow2,
.Row3Visible #LevelRow3
{
	visibility: visible;
}