/* styles for the Underlord Ability tooltip */
 
#Contents {
	padding: 0px;
	background-color: #111;
}

.UnderlordAbility
{
	width: 500px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

.UnderlordAbilityOptions
{
	width: 800px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

.UnderlordAbilityOptions #Header
{
	horizontal-align: center;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.UnderlordAbilityOptions #Body
{
	width: 100%;
	flow-children: right;
}

.UnderlordAbilityOptions .OrSection
{
	flow-children: down;
	height: 100%;
	padding: 0px 20px;
}

.UnderlordAbilityOptions .OrSection .VerticalSeparator
{
	width: 2px;
	height: fill-parent-flow( 1.0 );
	margin: 4px 0px;
	horizontal-align: center;

	background-color: #444;
}

.UnderlordAbilityOptions .OrSection #or
{
	font-size: 20px;
	vertical-align: center;
	color: white;
	font-weight: bold;
}

.UnderlordAbilityOptions .AbilityOption
{
	width: 355px;
	flow-children: down;
}

.AbilitySection
{
	width: 100%;
	flow-children: down;
	//margin-bottom: 4px;
	background-color: #131313;
	padding: 10px 15px;
}

.AbilitySection .AbilityName
{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 2px;
	font-family: 'Ravenhook';
}

.Underlord1 .AbilitySection .AbilityName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #F8DCFF ), to( #D321FF) );
}

.Underlord4 .AbilitySection .AbilityName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFCC22 ), to( #EB6221) );
}

.AbilitySection .AbilityDescription
{
	color: #dedede;
	font-size: 16px;
	font-weight: semi-bold;
}

.UnderlordAbilityOptions .AbilitySection .AbilityDescription
{
}

.AbilitySection .AbilityDescription .PerLevel
{
	color: #b9902e;
}

.AbilitySection .BottomRow
{
	margin-top: 10px;
	width: 100%;
}

.AbilitySection .AbilityHype
{
	color: #999;
	font-size: 14px;
	font-style: italic;
	horizontal-align: left;
}

.AbilitySection .UnderlordAbilityScalingRow
{
	width: 100%;
	transform: translateY( 7px );

	visibility: collapse;
}

.HasAbilityPerLevel .AbilitySection .UnderlordAbilityScalingRow
{
	visibility: visible;
}

.AbilitySection .UnderlordAbilityScalingRow #ScalesWithUnderlord
{
	color: #b9902e;
	font-size: 14px;
	horizontal-align: right;
}

.AbilitySection #CooldownLabel
{
	color: #878787;
	font-size: 14px;
	font-style: italic;
	horizontal-align: right;
}

#TalentSection
{
	width: 100%;
	flow-children: down;
	background-color: #000000;
	padding: 0px 15px;
}

.Talent 
{
	width: 100%;
	flow-children: right;

	border-top: 2px solid #111;
	padding: 10px 0px;
}

.Talent.NotSelected #TalentImage
{
	saturation: 0.35;
	brightness: 0.3;
}

.Talent.NotSelected .RightSide .TalentName
{
	color: #999;
	font-family: 'Ravenhook';
	letter-spacing: 1px;
}

.Talent.NotSelected .RightSide .TalentDescription
{
	color: #666;
}

.Talent.NotSelected .RightSide .TalentDescription .PerLevel
{
	color: #826622;
}


.Talent #TalentImage
{
	height: 64px;
	width: 64px;

	vertical-align: top;

	background-color: black;
}

.Talent .RightSide
{
	width: fill-parent-flow( 1.0 );
	padding-left: 12px;
}

.Talent .RightSide .TalentName
{
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;

	color: #FFF;
}

.Talent .RightSide .DescriptionContainer
{
	width: 100%;
	flow-children: down;
}

.Talent .RightSide .DescriptionContainer .TalentDescription
{
	margin-top: 20px;
	font-size: 17px;
	color: #CCC;
}

.Talent .RightSide .DescriptionContainer #ScalesWithUnderlord
{
	horizontal-align: right;

	color: #b9902e;
	font-size: 14px;
	transform: translateY( 3px );
	margin-top: 4px;
	visibility: collapse;
}

.Talent.HasPerLevel .RightSide .DescriptionContainer #ScalesWithUnderlord
{
	visibility: visible;
}

.Talent .RightSide .DescriptionContainer .TalentDescription .PerLevel
{
	color: #b9902e;
}

.Talent .RightSide .TalentLevel
{
	vertical-align: top;
	horizontal-align: right;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;

	font-size: 14px;

	color: #545454;
}

.UnderlordIcon
{
	width: 16px;
	height: 16px;
	background-position: 0px 0px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	transform: translateY( 3px );
}
