/* styles for the Meter Detail tooltip */
 
.MeterDetail
{
	width: 250px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

.Empty .MeterDetail
{
	visibility: collapse;
}

.MeterDetail #AbilityList
{
	width: 100%;
	flow-children: down;
}

.Ability
{
	width: 100%;
}

.Ability #AbilityImage
{
	width: 20px;
	height: 20px;
}

.Ability #AbilityName
{
	margin-left: 26px;
	font-size: 16px;
	color: #AAA;
	vertical-align: center;
}

.Ability #Value
{
	horizontal-align: right;
	font-size: 16px;
	color: #DDD;
	vertical-align: center;
	text-align: right;
}