DACTooltipChallengeMapClaim
{
	width: 400px;
	height: fit-children;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );

	margin-left: 400px;
}

.TooltipContainer.LeftArrowVisible #Contents.ChallengeMapClaimContents
{
	width: 400px;
	flow-children: down;
	padding: 0px;
	margin-left: 20px;

	background-color: #252b30;
	border: 0px solid white;
}

DACTooltipChallengeMapClaim #LeftArrow
{
	visibility: collapse;
}

.Header
{
	width: 100%;
	overflow: noclip;
}

.Body
{
	width: 400px;
}

.ClaimTitle.TextSubTitle
{
	horizontal-align: center;
	margin-top: 25px;
	font-size: 45px;
}

.ClaimLockedBadge.TextSubTitle,
.ClaimBlockedBadge.TextSubTitle
{
	background-color: #AD0000;

	horizontal-align: right;
	margin-right: 10px;
	margin-top: 70px;

	transform: rotateZ(4deg);

	visibility: collapse;
}

.ClaimBlockedBadge.TextSubTitle
{
	background-color: #A14E00;
}

.ClaimLocked .ClaimLockedBadge
{
	visibility: visible;
}

.ClaimBlocked .ClaimBlockedBadge
{
	visibility: visible;
}

.ClaimLocked .ClaimBlockedBadge
{
	visibility: collapse;
}

.HeaderText
{
	color: #C3C3C3;
	font-size: 30px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	margin-left: 12px;
	letter-spacing: 1px;
}

.Body
{
	visibility: visible;
	width: 400px;
	padding: 15px;
	flow-children: down;
}

.ClaimDescription
{
	margin-bottom: 20px;
	width: 100%;
	horizontal-align: center;
	margin-left: 10px;
	margin-right: 0px;

	font-size: 28px;

	color: textDefault;

	visibility: visible;
}

.ClaimRewardTextTitle
{
	text-transform: uppercase;
	color: white;
	font-size: 18px;

	visibility: collapse;
}

.HasRewards .ClaimRewardTextTitle
{
	visibility: visible;
}

.ClaimRewardContainer
{
	flow-children: right;
	margin-bottom: 10px;
	width: 100%;
	horizontal-align: center;

	border: 1px solid #eee2;

	visibility: collapse;
}

.HasItemReward .ClaimRewardContainer
{
	visibility: visible;
}

.ClaimLockedTextContainer
{
	margin-top: 4px;
	flow-children: down;
	height: 100%;
}

.ClaimRewardName
{
	color: textAccent;
	vertical-align: center;
}

.ClaimLockedTextContainer Label
{
	color: white;
	font-size: 25px;
}

#ClaimRewardImage
{
	width: 80px;
	height: 80px;
	background-color: #51515100;
}

#ClaimLocationImage
{
	width: 250px;
	height: 250px;
	border: 1px solid black;
	horizontal-align: center;
}

.ClaimRewardXP
{
	color: white;
	font-size: 24px;
	horizontal-align: center;
	width: 100%;
	border: 1px solid #eee2;
	padding: 5px;

	margin-bottom: 15px;

	visibility: collapse;
}

.XPRewardVisible .ClaimRewardXP
{
	visibility: visible;
}