/* styles for the Item tooltip */

DACTooltipItem
{
	width: 800px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#Contents.ItemContents
{
	width: 600px;
	flow-children: down;
	padding: 0px;

	background-color: gradient( linear, 0% 0%, 0% 80%, from( #2d2d2ddd ), to( #00000075));
	background-image: url("s2r://panorama/images/hud/popup_background_glass_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	
    border-top: 4px solid #afcae250;
    border-right: 4px solid #a196ff50;
    border-bottom: 4px solid #44428add;
    border-left: 4px solid #6e9bc250;

    box-shadow: fill #000000cc -8px 0px 2px 16px;
}

.Header
{

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #00000075 ) );
	width: 100%;
	
	padding: 12px;

	height: fit-children;

	flow-children: right;
}

#ItemIcon
{
	width: 60px;
	height: 60px;

	visibility: collapse;
}

.HeaderText
{
	color: #C3C3C3;
	font-size: 30px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

.TierText
{
	font-size: 20px;
	color: #C3C3C3;
}


.Tier2 .TierText,
.Tier2 .HeaderText 
{
	color: #32CD2F;
}

.Tier2 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #94c67b ), to( #32CD2F) );
}

.Tier3 .TierText,
.Tier3 .HeaderText
{
	color: #056BF7;
}

.Tier3 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #57baf3 ), to( #056BF7) );
}


.Tier4 .TierText,
.Tier4 .HeaderText
{
	color: #BD05F7;
}

.Tier4 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eb7cea ), to( #BD05F7) );
}

.Tier5 .TierText,
.Tier5 .HeaderText
{
	color: #F7C105;
}

.Tier5 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ecde7f ), to( #F7C105) );
}

.Body
{
	visibility: visible;
	height: fit-children;
	width: 100%;
	padding: 12px;
	flow-children: down;
}

.BodyText
{
	color: #eee;
	font-size: 20px;
	margin-bottom: 5px;

	line-height: 20px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.TypeContainer
{
	flow-children: right;
	margin-top: -4px;
	//Shawn told me to use negative margin so yell at him when your brain explodes on fire
}

.LoreText
{
	font-style: italic;
	color: #888;
	font-size: 18px;

	visibility: collapse;
}

.LoreVisible .LoreText
{
	visibility: visible;
}

.ItemTypeContainer
{
	flow-children: right;
	width: 100%;
	margin-bottom: 20px;
}

.ItemTypeIcon
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	margin-top: 5px;
	margin-right: 10px;

	visibility: collapse;
}

.ItemTypeEquipDefensive .ItemTypeIcon
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_psd.vtex");
}

.ItemTypeEquipSupport .ItemTypeIcon
{
	background-image: url("s2r://panorama/images/hud/icon_tag_support_psd.vtex");
}

.ItemTypeEquipOffensive .ItemTypeIcon,
.ItemTypeEquipDefensive .ItemTypeIcon,
.ItemTypeEquipSupport .ItemTypeIcon
{
	visibility: visible;
}

.ItemTypeGlobal .ItemImageBackground
{
	visibility: collapse;
}

.ItemTypeLabelDivider,
.ItemTypeLabel
{
	vertical-align: center;
	color: #888;
	font-size: 20px;
}

.ItemTypeLabelDivider,
.ItemTypeLabel
{
	margin-left: 4px;
	font-weight: light;
}