#AbilityContainer {
	width: 400px;
	flow-children: down;
}

#AbilityTitle {
	font-size: 32px;
	color: #fff;
	margin-bottom: 10px;
}

#AbilityDesc {
	font-size: 24px;
	color: #808080;
	margin-bottom: 10px;
}

.AbilityStat {
	color: #fff;
	font-size: 22px;
}