.TooltipContainer #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	wash-color: #61738a;
	margin-right: -3px;
}

#Contents
{
			width: 400px;
	flow-children: down;
	padding: 0px;

	background-color: gradient( linear, 0% 0%, 0% 80%, from( #2d2d2ddd ), to( #00000075));
	background-image: url("s2r://panorama/images/hud/popup_background_glass_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	
    border-top: 4px solid #afcae250;
    border-right: 4px solid #a196ff50;
    border-bottom: 4px solid #44428add;
    border-left: 4px solid #6e9bc250;

    box-shadow: fill #000000cc -8px 0px 2px 16px;
}

#AbilityContainer 
{
	
		width: 400px;
	flow-children: down;
	
		padding: 12px;

	
}

#AbilityTitle {
	color: gradient(linear, 0% 0%, 0% 100%, from( #f8d37f ), to(#f8ecd2));
	font-size: 30px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	margin-left: 12px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

#AbilityDesc {
	font-size: 24px;
	color: textDefault;

	margin-left: 12px;
	margin-bottom: 10px;
	
}

.AbilityStat {
	color: #C3C3C3;
	font-size: 22px;
	margin-left: 12px;
}

.LoreText
{
	font-style: italic;
	color: #888;
	font-size: 18px;

	margin-top: 15px;

	visibility: collapse;
}

.LoreVisible .LoreText
{
	visibility: visible;
}