/* styles for the Meter Detail tooltip */
 
.MeterDetail
{
	width: 320px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

.Empty .MeterDetail
{
	visibility: collapse;
}

.MeterDetail #DetailList
{
	width: 100%;
	flow-children: down;
}

.Detail
{
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.Detail #Image
{
	width: 20px;
	height: 20px;
}

.Detail #Name
{
	margin-left: 26px;
	font-size: 16px;
	color: #dfe6f9;
	vertical-align: center;
	margin-top: 1px;
}

.Detail #SubName,
.Detail #Dash
{
	margin-left: 6px;
	font-size: 16px;
	color: #dfe6f9;
	vertical-align: center;
	margin-top: 1px;

	visibility: collapse;
}

.Detail.HasSubName #SubName,
.Detail.HasSubName #Dash
{
	visibility: visible;
}

.Detail #Value
{
	horizontal-align: right;
	font-size: 16px;
	color: #dfe6f9;
	vertical-align: center;
	text-align: right;
	margin-top: 1px;
}