@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

#MatchIntro {
    width: 100%;
    height: 100%;
   	opacity:0;
} 

#MatchIntro.PlayIntroAnim
{	
	animation-name: DACMatchIntroRootAnim;
    animation-delay: 0.0s;
    animation-duration: 9s;
    animation-iteration-count: 1;    
	animation-timing-function: ease-out;	
	opacity:1;
	visibility: visible;
	transition-property: opacity;
	transition-duration:.5s;
	transition-timing-function: ease-out;
}

#MatchIntro.PlayOutroAnim
{	
	animation-name: DACMatchOutroRootAnim;
    animation-delay: 0.0s;
    animation-duration: 9s;
    animation-iteration-count: 1;    
	animation-timing-function: ease-out;	
	opacity:1;
	visibility: visible;
	transition-property: opacity;
	transition-duration:.5s;
	transition-timing-function: ease-out;
}

.GameMode_Duos #MatchIntro.PlayIntroAnim
{
	animation-name: DACMatchIntroDuosRootAnim;
}


@keyframes 'DACMatchIntroRootAnim'
{
	0%
	{
		opacity:1;
		transform: translateX(200px) translateY(420px);
		pre-transform-scale2d: 2;
	}	
	48%
	{
		opacity:1;
		transform: translateX(200px) translateY(420px);
		pre-transform-scale2d: 2;
	}	
	50%
	{
		opacity:1;
		transform: translateZ(0px);
		pre-transform-scale2d: 1;
	}
	94%
	{
		opacity: 1;
	}
	100%	
	{
		opacity: 1;
	}
}

@keyframes 'DACMatchOutroRootAnim'
{
	0%
	{
		opacity:0;
		transform: translateX(200px) translateY(420px);
		pre-transform-scale2d: 2;
	}	
	10%
	{
		opacity:1;
		transform: translateX(200px) translateY(420px);
		pre-transform-scale2d: 2;
	}	
	48%
	{
		opacity:1;
		transform: translateX(200px) translateY(420px);
		pre-transform-scale2d: 2;
	}	
	50%
	{
		opacity:1;
		transform: translateZ(0px);
		pre-transform-scale2d: 1;
	}
	94%
	{
		opacity: 1;
	}
	100%	
	{
		opacity: 1;
	}
}

@keyframes 'DACMatchIntroDuosRootAnim'
{
	0%
	{
		opacity:1;
		transform: translateX(450px) translateY(420px);
		pre-transform-scale2d: 2.5;
	}	
	48%
	{
		opacity:1;
		transform: translateX(450px) translateY(420px);
		pre-transform-scale2d: 2.5;
	}	
	50%
	{
		opacity:1;		
		transform: translateX(0px) translateY(0px);
		pre-transform-scale2d: 1;
	}
	94%
	{
		opacity: 1;
	}
	100%	
	{
		opacity: 1;
	}
}



.SoloProfileContainer, .DuosProfileContainer
{
	horizontal-align: middle;
	vertical-align: middle;	
	overflow: noclip;	  
}

.DuosProfileContainer
{
	ui-scale:80%;
}

.IntroProfileContainerRows
{
	flow-children: down;		
}

.IntroProfileContainerRow
{	
	flow-children: right;
	overflow: noclip;	
}

.GameMode_Duos .IsLayoutLargeScreen .IntroProfileContainerRows
{
	margin-top: 20px;
	ui-scale: 70%;
}


.IntroRoot
{
	width:100%;
	height:100%;
	background-color:black;
}

#IntroBG
{	
	width:100%;
	height:100%;
	background-image: url("s2r://panorama/images/post_game/poster_brick_wall_psd.vtex");	
	background-size:100%;
}

.GameMode_Duos .IntroProfileContainerRow DACMiniProfile
{
	//width:350px;
	width: 450px;
}

.LowVisualQuality .IntroProfilePlayerSlot
{
    opacity: 1;	
	animation-name: none;
	animation-delay: 0.0s;
	animation-duration: 0s;
}

.IntroTeamNameRow1,
.IntroTeamNameRow2
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
	height: fit-children;
	width: 100%;
	height: 60px;

	margin-top: 20px;
	margin-bottom: 10px;
	visibility: collapse;
	vertical-align: bottom;
}

#MatchIntro.PlayOutroAnim .IntroTeamName,
#MatchIntro.PlayIntroAnim .IntroTeamName
{
	animation-name: IntroAppearAnim;
	animation-duration: 9s;	
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.TeamName
{
	width: 400px;
	height: 70px;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 80px;

	flow-children: right;
	horizontal-align: center;
}

.IntroTeamName
{
	font-size: 50px;
	font-weight: black;
	//font-weight: bold;

	text-align: center;
	//text-transform: uppercase;
	text-overflow: shrink;

	horizontal-align: center;
	vertical-align: center;
	margin-left: 5px;
	margin-right: 5px;

	//opacity: 0;
	//pre-transform-scale2d: .5;


}

.CustomTeamName .IntroTeamName
{

}

.IntroTeamName.ShowingRank
{
	margin-left: 75px;
}

.TeamRank
{
	width: 48px;
	height: 64px;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 30px;
	z-index: 1;
}

DACRankIcon
{
	visibility: collapse;
	ui-scale: 80%;
}

DACRankIcon.HasRank
{
	visibility: visible;
}




#TeamName1
{
	color: #b2da42;
    animation-delay: 1.4s;
}

#TeamName2
{
	color: #ffee78;
    animation-delay: 4.4s;
}

#TeamName3
{
	color: #957bf2;
    animation-delay: 4.43s;
}

#TeamName4
{
	color: #f0581f;
    animation-delay: 4.32s;
}

#TeamName5
{
	color: #fef9af;
    animation-delay: 4.41s;
}

#TeamName6
{
	color: #8bc1fa;
    animation-delay: 4.34s;
}

#TeamName7
{
	color: #ff8fae;
    animation-delay: 4.34s;
}

#TeamName8
{
	color: #fdbf5a;
    animation-delay: 4.35s;
}

// Individual profile anim
@keyframes 'IntroAppearAnim' {
	from
	{
		opacity: 0;
		pre-transform-scale2d: 3.0;
	}
	0% {
		opacity: 0;
		pre-transform-scale2d: 3.0;
	}
	1% {
		opacity: 1;
		pre-transform-scale2d: 3.0;
	}
	1.5% {
		opacity: 1;
		pre-transform-scale2d: .95;
	}		
	97%
	{
		opacity: 1; 
		pre-transform-scale2d: .95;
	}
	100%
	{
		opacity: 1; 
		pre-transform-scale2d: .95;
	}
	to {
		opacity: 1;
		pre-transform-scale2d: .95;
	}
}

// Root container anim
@keyframes 'DACMatchIntroFadeInAndOutTeams'
{
	0%
	{
		opacity: 0; 
		pre-transform-scale2d: 0.5;
	}
	10%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
	90%	
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		ui-scale: 100%;
	}
	100%
	{
		opacity: 0; 
		pre-transform-scale2d: 0.5;
	}
}

DACMiniProfile.InvalidPlayer
{
	visibility: collapse;
}

DACMiniProfile.Appear {	
	animation-name: IntroAppearAnim;	
	animation-duration: 9s;	
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	opacity:0;	
}

.HoldMatchIntro DACMiniProfile.Appear
{
	opacity: 1;	
	animation-name: none;
}

.HiddenForTutorial
{
    visibility: collapse;
}

.SoloProfileContainer .IntroProfilePlayerSlot
{
	pre-transform-scale2d: .95;
}

.GameMode_Duos .IntroProfilePlayerSlot
{
	margin: 0px;
	ui-scale: 70%;
	height: 550px;
	pre-transform-scale2d: .95;
}

.GameMode_Duos #IntroProfilePlayerSlot0,
.GameMode_Duos #IntroProfilePlayerSlot2,
.GameMode_Duos #IntroProfilePlayerSlot4,
.GameMode_Duos #IntroProfilePlayerSlot6,
.GameMode_Duos #IntroProfilePlayerSlot8,
.GameMode_Duos #IntroProfilePlayerSlot10,
.GameMode_Duos #IntroProfilePlayerSlot12,
.GameMode_Duos #IntroProfilePlayerSlot14
{
	//margin-left: 100px;
	margin-right: 0px;
	margin-right: -75px;
}

.GameMode_Duos .IntroTeamNameRow1,
.GameMode_Duos .IntroTeamNameRow2
{
	visibility: visible;
}

/*
.GameMode_Duos #IntroProfilePlayerSlot0 { transform: rotatez(0deg); }
.GameMode_Duos #IntroProfilePlayerSlot1 { transform: rotatez(-3deg);  }
.GameMode_Duos #IntroProfilePlayerSlot2 { transform: rotatez(2deg);  }
.GameMode_Duos #IntroProfilePlayerSlot3 { transform: rotatez(5deg);  }
.GameMode_Duos #IntroProfilePlayerSlot4 { transform: rotatez(2deg);  }
.GameMode_Duos #IntroProfilePlayerSlot5 { transform: rotatez(1deg);  }
.GameMode_Duos #IntroProfilePlayerSlot6 { transform: rotatez(0deg);  }
.GameMode_Duos #IntroProfilePlayerSlot7 { transform: rotatez(-3deg);  }
.GameMode_Duos #IntroProfilePlayerSlot8 { transform: rotatez(2deg); }
.GameMode_Duos #IntroProfilePlayerSlot9 { transform: rotatez(1deg);  }
.GameMode_Duos #IntroProfilePlayerSlot10 { transform: rotatez(0deg);  }
.GameMode_Duos #IntroProfilePlayerSlot11 { transform: rotatez(-4deg);  }
.GameMode_Duos #IntroProfilePlayerSlot12 { transform: rotatez(-2deg);  }
.GameMode_Duos #IntroProfilePlayerSlot13 { transform: rotatez(3deg);  }
.GameMode_Duos #IntroProfilePlayerSlot14 { transform: rotatez(1deg);  }
.GameMode_Duos #IntroProfilePlayerSlot15 { transform: rotatez(4deg);  }

.GameMode_Duos #IntroProfilePlayerSlot0.Appear { animation-delay: 1.4s; }
.GameMode_Duos #IntroProfilePlayerSlot1.Appear { animation-delay: 1.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot2.Appear { animation-delay: 4.40s;  }
.GameMode_Duos #IntroProfilePlayerSlot3.Appear { animation-delay: 4.32s;  }
.GameMode_Duos #IntroProfilePlayerSlot4.Appear { animation-delay: 4.22s;  }
.GameMode_Duos #IntroProfilePlayerSlot5.Appear { animation-delay: 4.29s;  }
.GameMode_Duos #IntroProfilePlayerSlot6.Appear { animation-delay: 4.23s;  }
.GameMode_Duos #IntroProfilePlayerSlot7.Appear { animation-delay: 4.21s;  }
.GameMode_Duos #IntroProfilePlayerSlot8.Appear { animation-delay: 4.23s; }
.GameMode_Duos #IntroProfilePlayerSlot9.Appear { animation-delay: 4.23s;  }
.GameMode_Duos #IntroProfilePlayerSlot10.Appear { animation-delay: 4.40s;  }
.GameMode_Duos #IntroProfilePlayerSlot11.Appear { animation-delay: 4.32s;  }
.GameMode_Duos #IntroProfilePlayerSlot12.Appear { animation-delay: 4.22s;  }
.GameMode_Duos #IntroProfilePlayerSlot13.Appear { animation-delay: 4.29s;  }
.GameMode_Duos #IntroProfilePlayerSlot14.Appear { animation-delay: 4.23s;  }
.GameMode_Duos #IntroProfilePlayerSlot15.Appear { animation-delay: 4.21s;  }

.GameMode_Duos #IntroProfilePlayerSlot0.Appear { animation-delay: 1.4s; }
.GameMode_Duos #IntroProfilePlayerSlot1.Appear { animation-delay: 1.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot2.Appear { animation-delay: 4.40s;  }
.GameMode_Duos #IntroProfilePlayerSlot3.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot4.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot5.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot6.Appear { animation-delay: 4.1s;  }
.GameMode_Duos #IntroProfilePlayerSlot7.Appear { animation-delay: 4.1s;  }
.GameMode_Duos #IntroProfilePlayerSlot8.Appear { animation-delay: 4.2s; }
.GameMode_Duos #IntroProfilePlayerSlot9.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot10.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot11.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot12.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot13.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot14.Appear { animation-delay: 4.3s;  }
.GameMode_Duos #IntroProfilePlayerSlot15.Appear { animation-delay: 4.3s;  }
*/


// would be nice for this to be the whole poster, instead of individual people
.GameMode_Duos #IntroProfilePlayerSlot0.Appear { animation-delay: 1.4s; }
.GameMode_Duos #IntroProfilePlayerSlot1.Appear { animation-delay: 1.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot2.Appear { animation-delay: 4.40s;  }
.GameMode_Duos #IntroProfilePlayerSlot3.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot4.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot5.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot6.Appear { animation-delay: 4.1s;  }
.GameMode_Duos #IntroProfilePlayerSlot7.Appear { animation-delay: 4.1s;  }
.GameMode_Duos #IntroProfilePlayerSlot8.Appear { animation-delay: 4.2s; }
.GameMode_Duos #IntroProfilePlayerSlot9.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot10.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot11.Appear { animation-delay: 4.4s;  }
.GameMode_Duos #IntroProfilePlayerSlot12.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot13.Appear { animation-delay: 4.2s;  }
.GameMode_Duos #IntroProfilePlayerSlot14.Appear { animation-delay: 4.3s;  }
.GameMode_Duos #IntroProfilePlayerSlot15.Appear { animation-delay: 4.3s;  }

.GameMode_Duos .Team1 { transform: rotatez(0deg); }
.GameMode_Duos .Team2 { transform: rotatez(-2deg);  }
.GameMode_Duos .Team3 { transform: rotatez(2deg);  }
.GameMode_Duos .Team4 { transform: rotatez(-1deg);  }
.GameMode_Duos .Team5 { transform: rotatez(2deg);  }
.GameMode_Duos .Team6 { transform: rotatez(1deg);  }
.GameMode_Duos .Team7 { transform: rotatez(0deg);  }
.GameMode_Duos .Team8 { transform: rotatez(-2deg);  }

.SoloProfileContainer #IntroProfilePlayerSlot0.Appear { animation-delay: 1.4s; }
.SoloProfileContainer #IntroProfilePlayerSlot1.Appear { animation-delay: 4.23s;  }
.SoloProfileContainer #IntroProfilePlayerSlot2.Appear { animation-delay: 4.40s;  }
.SoloProfileContainer #IntroProfilePlayerSlot3.Appear { animation-delay: 4.32s;  }
.SoloProfileContainer #IntroProfilePlayerSlot4.Appear { animation-delay: 4.22s;  }
.SoloProfileContainer #IntroProfilePlayerSlot5.Appear { animation-delay: 4.29s;  }
.SoloProfileContainer #IntroProfilePlayerSlot6.Appear { animation-delay: 4.23s;  }
.SoloProfileContainer #IntroProfilePlayerSlot7.Appear { animation-delay: 4.21s;  }

.SoloProfileContainer #IntroProfilePlayerSlot0 { transform: translateY(40px) translateX(-25px) rotatez(0deg); }
.SoloProfileContainer #IntroProfilePlayerSlot1 { transform: translateY(60px) translateX(-35px) rotatez(0deg); }
.SoloProfileContainer #IntroProfilePlayerSlot2 { transform: translateY(15px) translateX(-20px) rotatez(0deg); }
.SoloProfileContainer #IntroProfilePlayerSlot3 { transform: translateY(35px) translateX(-5px) rotatez(0deg); }
.SoloProfileContainer #IntroProfilePlayerSlot4 { transform: translateY(25px) translateX(-10px) rotatez(4.5deg);}
.SoloProfileContainer #IntroProfilePlayerSlot5 { transform: translateY(10px) translateX(-5px) rotatez(0deg);}
.SoloProfileContainer #IntroProfilePlayerSlot6 { transform: translateY(-25px) translateX(-15px) rotatez(0deg);}
.SoloProfileContainer #IntroProfilePlayerSlot7 { transform: translateY(5px) translateX(-30px) rotatez(0deg);}


// new duos intro stuff

.GameMode_Duos .IntroTeamRow1,
.GameMode_Duos .IntroTeamRow2
{
	flow-children: right;
}

.GameMode_Duos .TeamContainer
{
	flow-children: none;
	height: 500px;
	width: 490px;
	background-image: url("s2r://panorama/images/post_game/wanted_poster_duos_01_psd.vtex");
	background-size: 100% 90%;
	background-repeat: no-repeat;
	background-position: center;	
}


.GameMode_Duos .Teammates
{
	margin-top: 80px;
	flow-children: right;
}

.GameMode_Duos .Teammates .IntroBGContainer.BGVisible
{
	visibility: collapse;
}
