@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");
/* Forgive me for that one, this came from a popup in the heropedia that had a bunch of shared classes... I hope it doesn't break... lmao. */

DACPatchNotesPage {
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/heropedia/heropedia-bg-2_psd.vtex");
	background-size: 100%;
	background-position: left;
	background-repeat: no-repeat;
}

.Dimmer {
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: #06060688;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#PatchNotesContainer {
	width: 100%;
	height: 100%;
	//background-image: url("s2r://panorama/images/heropedia/heropedia-bg-2_psd.vtex");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.IsPlatformPC #PatchNotesContainer
{
	background-size: 80%;
	ui-scale: 80%;
}

.PatchNotesBody
{
	width: 100%;
	height: fill-parent-flow(0.5);
	flow-children: right;
	height: 100%;
	vertical-align: bottom;
	padding: safe-area-inset-top safe-area-inset-right safe-area-inset-bottom safe-area-inset-left;
}

#PatchNotesScrollContainer
{
	width: 1280px;
	overflow: clip scroll;
	flow-children: down;
	horizontal-align: center;
	font-size: 24px;
	color: #9395a6;
	line-height: 36px;
	font-family: Radiance, k_alwaysFontNames;

	padding-bottom: 300px;
}

#SectionTitleArea
{
	padding-bottom: 40px;
}

#LoadingIndicator
{
	margin-top: 50px;
	width: 770px;
}

#LoadingIndicator Label
{
	horizontal-align: center;
	color: gradient(linear, 0% 0%, 0% 100%, from( #afc3cf ), to( #cfcfdc ));
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: semi-bold;
	text-shadow: 0px 1px 0px 3.0 #000;
}

.PatchContainer
{
	width: 1280px;
	flow-children: down;
	padding: 30px 30px 30px 0px;
}

.PatchContainer .Patch
{
	width: 100%;
	flow-children: down;
	background-color: #161a1b;
	padding: 30px 40px 40px 40px;
	margin-bottom: 60px;
}

.PatchContainer .Patch.HiddenOverride
{
    background-color: #091828;
    border: 1px solid #3E366A;
}

.PatchContainer .PatchDate Label
{
	font-size: 24px;
	text-transform: uppercase;
	color: #9395a6;
	font-weight: black;
	letter-spacing: 1px;

}

Label.ProbablyUnlocalizedText
{
	background-color: #0000;
	color: white;
	animation-duration: 0s;
}

.PatchContainer .PatchDate
{

}

.PatchContainer .PatchTitle Label
{
	text-transform: uppercase;
	color: #e1e3f3;
	font-size: 40px;
	text-overflow: shrink;
	letter-spacing: 3px;
	font-weight: black;
	padding-top: 3px;
	padding-bottom: 10px;
}

.PatchContainer .PatchTitle Label i
{
	color: #9193a3;
}

.PatchNote_Root
{
	flow-children: down;
}

.PatchNote_UL
{
	flow-children: down;
	padding-left: 20px;
}

Panel.PatchNote_LI
{
	flow-children: down;
}

.PatchNote_UL
{
	margin-top: -16px;
	margin-bottom: 16px;
}

Label.PatchNote_Empty
{
	font-size: 12px;
	line-height: 12px;
}

.PatchNote_Root Label b
{
	font-weight: normal;
	color: #c1c3d3;
}

.PatchNote_Root Label a
{
	color: #dfdff2;
	text-decoration: underline;
}

.PatchNote_Root Label a:hover
{
	color: white;
}

.PatchNote_Root Label i
{
	font-style: italic;
}

.PatchNote_Bullet
{
	color: #838596;
}