@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACAchievementsPage
{
    width:100%;
    height:100%;
    background-color:#333333;
    flow-children:down;
}


#AchievementsContainer
{
    width: 50%;
    vertical-align:center;
    margin: 50px 50px 50px 50px;
    flow-children: down;
}


