#PlayerIcons
{
	//width: 564px;
	width: 500px;
	horizontal-align: right;
	ui-scale: 120%;
	vertical-align: top;
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transform: translateX( 0px );
	margin-right: -20px;
}

.IsLayoutSmallScreen #PlayerIcons
{
	ui-scale: 200%;
	height: 590px;
	width: 480px;
	transition-property: opacity, position;
	transition-duration: .15s;
	transition-delay: .15s;
	
}

.IsLayoutSmallScreen.AspectRatio4x3 #PlayerIcons
{
	margin-top: 300px;
	height: 650px;
	width: 480px;
}

.AspectRatio16x9.HasSafeAreaLeft.HasSafeAreaRight.IsLayoutSmallScreen #PlayerIcons
{
	margin-right: 130px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .ShowAllTabs #PlayerIcons
{
	margin-top: 0px;
	height: 900px;
}

.IsLayoutSmallScreen.ShopVisible #PlayerIcons
{
	opacity: 0;
	position: 150px 0 0;
}


#SynergyIcons
{
	width: fit-children;
	//horizontal-align: right;
	//flow-children: left-wrap;
	horizontal-align: left;
	flow-children: right-wrap;
	margin-top: 5px;

}

.ShowOnlyOneTab #SynergyIcons.IconList,
.ShowOnlyOneTab DACInventory.IconList
{
	flow-children: down-wrap-left;
	max-height: 500px;
	horizontal-align: right;
	width: 700px;
}

.IconTab DACInventory
{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	//flow-children: left-wrap;
	flow-children: right-wrap;
	horizontal-align: left;
}

.IconsPanel
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	//vertical-align: middle;
	vertical-align: top;
	margin-top: 45px;
	margin-top: 82px;
	margin-bottom: 20px;
}

.AspectRatio16x10 .IconsPanel
{
	margin-top: 82px;
}


.IsLayoutSmallScreen .IconsPanel
{
	overflow: noclip;
}

.ShowOnlyOneTab .IconsPanel,
#IconsMobileContainer
{
	flow-children: none;
	vertical-align: bottom;
	height: 450px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconsPanel
{
	height: 600px;
	margin: 0px;
	vertical-align: center;
}

.IsLayoutSmallScreen.AspectRatio21x9 .IconsPanel
{
	margin-left: -90px;
	//background-color: red; 
	margin-bottom: 0px;
	overflow: noclip;
	
}

.IconSection
{
	width: 100%;
	//transform: translateX( 0px ) translateY( 0px );
	vertical-align: middle;
	height: fit-children;
}

.AspectRatio4x3 #ItemsSection
{
	margin-right: 50px;
}

.AspectRatio4x3 #IconsMobileContainer
{
	visibility: collapse;
}


.ShowBattleStats #BattleStatsSection,
.ShowSynergies #SynergiesSection,
.ShowItems #ItemsSection
{
	margin-bottom: 10px;
}

.ShowOnlyOneTab .IconSection
{
	flow-children: none;
	//transform: translateX(0px) translateY(0px);
	max-height: 100%;
	margin: 0px;
}

.IsLayoutSmallScreen.AspectRatio16x9 #SynergiesSection
{
	padding-right: 35px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #SynergiesSection
{
	padding-right: 51px;
}

.IconTab
{
	width: 100%;
	height: fit-children;
	vertical-align: middle;
	margin-top: 50px;
}

.ShowOnlyOneTab .IconTab
{
	horizontal-align: right;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconTab
{
	margin: 0px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .ShowAllTabs .IconTab
{
	margin-top: 38px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #SynergiesSection .IconTab
{
	ui-scale: 90%;
}

.IsLayoutSmallScreen.AspectRatio21x9 #SynergiesSection .IconTab
{
	margin-top: 0px;
}

#BattleStats.IconTab
{
	margin-top: 10px;
}

.IconList
{
	//padding-right: 76px;
	padding-right: 0px;
	//padding-top: 12px;
	//padding-bottom: 4px;

	//transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;			
}

.ShowOnlyOneTab .IconList
{
	padding-right: 72px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconList
{
	ui-scale: 90%;
	padding-right: 95px;
	width: 100%;
	max-height: 900px;
	//margin-right: 200px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #BattleStats
{
	margin-right: 13px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #Items
{
	padding-right: 110px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .ShowAllTabs .IconList
{
	padding-right: 0px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .BattleStatsParent .IconList
{
	width: 420px;
	max-height: 900px;
	height: fit-children;
}


.IsLayoutSmallScreen.AspectRatio16x9 .IconList
{
	padding-right: 92px;
}


.IsLayoutSmallScreen #SynergyIcons.IconList
{
	padding-right: 78px;
}



.IsLayoutSmallScreen .IconList
{
	//transform: translateX( 100% );
	visibility: collapse;
}
#BattleStats.IconList
{
	//padding-right: 50px;
	visibility: collapse;
}
#SynergyIcons.IconList
{
	//padding-right: 50px;
	padding: 0px;
	padding-left: 25px;
	visibility: collapse;
	ui-scale: 91%;
}
.ShowSynergiesCondensed #SynergyIcons.IconList
{
	padding-right: 82px;
	visibility: collapse;
}

.ShowSynergies #SynergyIcons.IconList,
.ShowItems #Items.IconList,
.ShowBattleStats #BattleStats.IconList,
.IsLayoutLargeScreen #SynergyIcons.IconList,
.IsLayoutLargeScreen #Items.IconList,
.IsLayoutLargeScreen #BattleStats.IconList
{
	//transform: translateX(0px);
	visibility: visible;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible1 #Items
{
	
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_1_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 124px;
	height: 125px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible1 #Items
{
	
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_1_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 102px;
	height: 102px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible2 #Items
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 124px;
	height: 235px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible2 #Items
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 102px;
	height: 202px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;
	overflow: noclip;
}


.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible3 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 124px;
	height: 344px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible3 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 102px;
	height: 300px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible4 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible5 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible6 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_6_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 234px;
	height: 344px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible4 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible5 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible6 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_6_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 201px;
	height: 300px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible7 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible8 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible9 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_7_9_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 344px;
	height: 344px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible7 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible8 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible9 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_7_9_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 300px;
	height: 300px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible10 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible11 #Items,
.IsLayoutSmallScreen.AspectRatio21x9 .NumItemIconsVisible12 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_10_12_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 454px;
	height: 344px;
	margin-right: 87px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -42px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible10 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible11 #Items,
.IsLayoutSmallScreen.AspectRatio16x9 .NumItemIconsVisible12 #Items
{
	//background-color: green;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_10_12_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 400px;
	height: 300px;
	margin-right: 107px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible1 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_1_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 106px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible2 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 200px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible3 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 294px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible4 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 386px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible5 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 480px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible6 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 106px;
	height: 576px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible7 #Items.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible8 #Items.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible9 #Items.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible10 #Items.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible11 #Items.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumItemIconsVisible12 #Items.IconList
{
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_7_9_item_icons_psd.vtex");
	background-size: 100%, 100%;
	width: 202px;
	height: 576px;
	margin-right: 109px;
	padding-right: 0px;
	//padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 10px;
	overflow: noclip;
}


.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible1 #SynergyIcons
{
	width: 180px;
	height: 82px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-bottom: 148px;	
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible1 #SynergyIcons
{
	width: 180px;
	height: 82px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_1_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: top;
	padding-top: 8px;
	//padding-bottom: 10px;
	margin-bottom: 148px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible2 #SynergyIcons
{
	width: 180px;
	height: 133px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-top: -42px;	
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible2 #SynergyIcons
{
	width: 180px;
	height: 133px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_2_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: -42px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible3 #SynergyIcons,
{
	width: 180px;
	height: 192px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-top: -10px;	
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible3 #SynergyIcons,
{
	width: 180px;
	height: 192px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_3_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: -10px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible4 #SynergyIcons,
{
	width: 180px;
	height: 252px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_4_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible4 #SynergyIcons,
{
	width: 180px;
	height: 252px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_4_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible5 #SynergyIcons,
{
	width: 180px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_5_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible5 #SynergyIcons,
{
	width: 180px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_5_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: 0px;
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible6 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible7 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible8 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible9 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible10 #SynergyIcons
{
	width: 277px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_6_10_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-top: 0px;	
}


.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible6 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible7 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible8 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible9 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible10 #SynergyIcons
{
	width: 277px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_6_10_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible11 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible12 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible13 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible14 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio21x9 .NumSynergyIconsVisible15 #SynergyIcons
{
	width: 372px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible11 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible12 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible13 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible14 #SynergyIcons,
.IsLayoutSmallScreen.AspectRatio16x9 .NumSynergyIconsVisible15 #SynergyIcons
{
	width: 372px;
	height: 312px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 2px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio21x9 #SynergyIcons
{
	//width: fit-children;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible2 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 130px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -50px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible3 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 190px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -30px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible4 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 250px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -20px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible5 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 310px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: -10px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible6 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 370px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible7 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 430px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible8 #SynergyIcons.IconList
{
	padding-right: 36px;
	width: 138px;
	height: 490px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;	
	margin-right: 32px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible9 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible10 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible11 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible12 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible13 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible14 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible15 #SynergyIcons.IconList,
.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible16 #SynergyIcons.IconList
{
	padding-right: 60px;
	width: 262px;
	height: 490px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

.IsLayoutSmallScreen.AspectRatio4x3 .NumSynergyIconsVisible10 #SynergyIcons.IconList
{
	padding-right: 60px;
	width: 262px;
	height: 490px;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_11_15_synergy_icons_psd.vtex");
	background-size: 100%, 100%;
	//background-position: 100%, 30%;
	vertical-align: center;
	padding-top: 4px;
	//padding-bottom: 10px;
	margin-top: 0px;	
}

#SynergyIcons DACSynergyIcon
{
	width: 160px;
	height: 92px;
	height: 99px;
	overflow: noclip;
	ui-scale: 60%;
	visibility: collapse;
	padding: 0px;
	margin: 0px;
	//vertical-align: middle; 
	margin-bottom: 0px;
}

#SynergyIcons DACSynergyIcon.Appear
{
	visibility: visible;
}

#SynergyIcons DACSynergyIcon.HiddenInactive
{
	visibility: collapse;
}

.IsLayoutSmallScreen #SynergyIcons
{
	ui-scale: 130%;
}

.IsLayoutSmallScreen.AspectRatio16x9 #SynergyIcons
{
	ui-scale: 110%;
}

.TopDivider
{
	background-image: url("s2r://panorama/images/hud/horizontal_divider_psd.vtex");
	background-size: 100% 100%;
	width: 80%;
	height: 8px;
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	visibility: visible;
	opacity: 0.3;
	horizontal-align: right;

	visibility: collapse;
}
.IsLayoutSmallScreen .TopDivider
{
	visibility: collapse;
}

.Collapse .TopDivider
{
	transform: translateX( 480px );
}

.NumSynergyIconsVisible0 #SynergiesSection,
.NumSynergyIconsVisible0 #IconsMobileSelector .ToggleSectionButton.Synergies,
.NumItemIconsVisible0 #ItemsSection,
.NumItemIconsVisible0 #IconsMobileSelector .ToggleSectionButton.Items
{
	visibility: collapse;
}

#PuzzleStatsSection
{
	vertical-align: top;
	visibility: collapse;
}

.GameMode_Puzzle #PuzzleStatsSection
{
	visibility: visible;
}

.GameMode_Puzzle #IconsPanel #PuzzleStatsSection
{
	visibility: collapse;
}

#PuzzleStatsSection .PuzzleHistogramContainer
{
	margin-top: 400px;
}

.ToggleSectionButton
{
	horizontal-align: right;
	width: 80px;
	height: fit-children;
	brightness: 1;
	transition-property: brightness;
	transition-duration: 0.1s;
}
.LowVisualQuality .ToggleSectionButton
{
	transition-property: none;
}

.ShowOnlyOneTab .IconsPanel .IconSection .ToggleSectionButton
{
	visibility: collapse;
}

.ShowOnlyOneTab #IconsMobileContainer,
{
	visibility: visible;
}

#IconsMobileContainer
{
	horizontal-align: right;
	//visibility: collapse;
	width: fit-children;
	vertical-align: bottom;
	margin-right: 22px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #IconsMobileContainer
{
	//vertical-align: center;
	//margin-top: 300px;
	vertical-align: center;
}

.AspectRatio21x9.IsLayoutSmallScreen #IconsMobileContainer
{
	horizontal-align: right;
	//visibility: collapse;
	width: fit-children;
	vertical-align: bottom;
	margin-right: 91px;
	overflow: noclip;
	
}


.ShowOnlyOneTab #IconsMobileContainer
{
	padding-top: 9px;
	visibility: visible;
}

.ShowAllTabs #IconsMobileContainer
{
	visibility: collapse;
}

#IconsMobileSelector  
{
	width: 88px;
	height: fit-children;
	flow-children: down;
	vertical-align: middle;
	//padding-top: 10px;
	//margin-right: 0px;
	margin-right: 2px;
	overflow: noclip;
}

.IsLayoutLargeScreen #IconsMobileSelector
{
	visibility: collapse;
}


.ShowOnlyOneTab.ShowSynergies		.SynergiesButtonGroup,
.ShowOnlyOneTab.ShowItems			.ItemsButtonGroup,
.ShowOnlyOneTab.ShowBattleStats	.BattleStatsButtonGroup
{
	height: 80px;
	width: 100%;
}

.AspectRatio21x9 .ShowOnlyOneTab.ShowSynergies		.SynergiesButtonGroup,
.AspectRatio21x9 .ShowOnlyOneTab.ShowItems			.ItemsButtonGroup,
.AspectRatio21x9 .ShowOnlyOneTab.ShowBattleStats	.BattleStatsButtonGroup
{
	height: 80px;
	width: 100%;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_tab_icon_backer_psd.vtex");
	background-size: 100%;
	//overflow: noclip;
}

.AspectRatio16x9 .ShowOnlyOneTab.ShowSynergies		.SynergiesButtonGroup,
.AspectRatio16x9 .ShowOnlyOneTab.ShowItems			.ItemsButtonGroup,
.AspectRatio16x9 .ShowOnlyOneTab.ShowBattleStats	.BattleStatsButtonGroup
{
	height: 80px;
	width: 100%;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_tab_icon_backer_psd.vtex");
	background-size: 100%;
	//overflow: noclip;
	//ui-scale: 97%;
}

.AspectRatio4x3 .ShowOnlyOneTab.ShowSynergies		.SynergiesButtonGroup,
.AspectRatio4x3 .ShowOnlyOneTab.ShowItems			.ItemsButtonGroup,
.AspectRatio4x3 .ShowOnlyOneTab.ShowBattleStats	.BattleStatsButtonGroup
{
	height: 80px;
	width: 100%;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_tab_icon_backer_psd.vtex");
	background-size: 100%;
	//overflow: noclip;
	//ui-scale: 97%;
}

.AspectRatio21x9 .ShowOnlyOneTab.NumSynergyIconsVisible0		.SynergiesButtonGroup,
.AspectRatio21x9 .ShowOnlyOneTab.NumItemIconsVisible0		.ItemsButtonGroup,
.AspectRatio21x9 .ShowOnlyOneTab.NoBattleStats	.BattleStatsButtonGroup
{
	background-image: none;
}



.ShowOnlyOneTab .Synergies
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_synergies_psd.vtex");
	background-repeat: no-repeat;
	background-position: 35% 50%;
	height: 100%;
	width: 100%;
	opacity: 1;
	overflow: noclip;
	transition-property: background-image;
	transition-duration: .15s;
	opacity: 1;
}

.ShowOnlyOneTab.ShowSynergies .Synergies
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_synergies_on_psd.vtex");
	overflow: noclip;
	
}

.ShowOnlyOneTab.NumSynergyIconsVisible0  .Synergies
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_synergies_disabled_psd.vtex");
	
	//opacity: 0;
	//transform: translateX( 10px );
}


.ShowOnlyOneTab .Items
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_items_psd.vtex");
	background-repeat: no-repeat;
	background-position: 35% 50%;
	height: 100%;
	width: 100%;
	transition-property: background-image;
	transition-duration: .15s;
	opacity: 1;
}

.ShowOnlyOneTab.ShowItems .Items
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_items_on_psd.vtex");
}

 .ShowOnlyOneTab.NumItemIconsVisible0 .Items
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_items_disabled_psd.vtex");
	//background-color: red;
	//opacity: 0;
	//transform: translateX( 10px );
}

.ShowOnlyOneTab .BattleStats
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_dps_psd.vtex");
	background-repeat: no-repeat;
	background-position: 35% 50%;
	height: 100%;
	width: 100%;
	transition-property: background-image;
	transition-duration: .15s;
	opacity: 1;
}

.ShowOnlyOneTab.NoBattleStats .BattleStats
{
	//opacity: 0;
	//transform: translateX( 10px );
	background-image: url("s2r://panorama/images/hud/right_tab_icon_dps_disabled_psd.vtex");
}




.ShowOnlyOneTab.ShowBattleStats .BattleStats
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_dps_on_psd.vtex");
}

.ToggleIcon {
	width: 30px;
	height: 30px;
}

.SidebarLabel {
	font-size: 28px;
	//font-size: 24px;
	text-transform: uppercase;
	//margin-right: 40px;
	margin-left: 30px;
	margin-top: 5px;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #605979 ), to( #48425F ) );
	//color: gradient( linear, 0% 0%, 0% 100%, from( #aaaaaa ), to( #888888 ) );
	//color: gradient(linear, 0% 0%, 0% 100%, from( #7e8bab ), to(#a9b6d5) );
	color: gradient(linear, 0% 0%, 0% 100%, from( #7272c7 ), to(#cdd2f3) );
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: black;
	letter-spacing: 2px;
	//text-shadow: 0px 0px 0px 3 #000000;
	vertical-align: middle;

	transition-property: opacity;
	transition-duration: .2s;

	horizontal-align: left;
	
	font-family: ravenhook;
}

.SidebarLabel.Clickable:hover
{
	brightness: 2.0;
}

.AspectRatio4x3.IsLayoutSmallScreen .ShowAllTabs .SidebarLabel
{
	font-size: 20px;
}

.ShowOnlyOneTab .SidebarLabel
{
	font-size: 12px;
	text-align: right;
	horizontal-align: right;
	margin-right: 12px;
	margin-bottom: -4px;
	vertical-align: bottom;
	width: 90px;
	height: 17px;
	visibility: collapse;
}

.ShowBattleStats #BattleStatsSection .SidebarLabel
{
	opacity: 0;
}

.LocalPlayer
{
	width: 100%;
	flow-children: right;
	margin-bottom: 0px;
	height: 60px;
	height: 80px;
}


// BATTLE STATS SECTION

#BattleStatsSection,
DACDPSChart
{
	horizontal-align: right;
	margin-bottom: 8px;
	
}

.IsLayoutSmallScreen #BattleStatsSection
{
	vertical-align: middle;
}

#BattleStatsSection,
#IconsMobileSelector .LocalPlayer.ToggleSectionButton.BattleStats
{
	visibility: collapse;
}
.HasAnyBattleStats #BattleStatsSection,
.HasAnyBattleStats #IconsMobileSelector .LocalPlayer.ToggleSectionButton.BattleStats
{
	visibility: visible;
}

#StatsContainer
{
	flow-children: down;
	vertical-align: top;
}

#StatBestGoldSpend
{
	margin-top: 38px;
}

#StatLastGoldSpend
{
	margin-top: 38px;
}