DACDBControlCityCrawlChallenges 
{
	horizontal-align: center;
	vertical-align: center;
	flow-children:down;
	width: 100%;
	height: 100%;
}

#UnderlordTabs
{
	height:144px;
	width:100%;
	flow-children:right;		
}

#ChallengesAvailableText
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 24px;
	text-overflow: shrink;	
	text-align: left;	
	width:100%;	
	margin-left: 44px;

	color: #cdd2f344;
    font-size: 28px;
    font-weight: medium;
    letter-spacing: 0px;
    //text-shadow: 0px 0px 0px 3.0 #4242b4;
    text-transform: uppercase;
	background-color:none;
	z-index: 20;
	text-shadow: 2px 2px 2.0 #15182733;
}

.ActiveTab #ChallengesAvailableText
{
	color: #f4f4f4;
	text-shadow: 2px 2px 2.0 #15182788;
}

#SettingsMenuSection #ChallengesAvailableText
{
	margin-left: 16px;
}

.HasChallenges #ChallengesAvailableText
{

}
.UnderlordTab
{
	width:fill-parent-flow(.25);
	height:fit-children;
	flow-children: none;
	margin:0px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #212530 ), to( #292C3F ) );
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#212530), color-stop( 0.93, #292C3F), to(#1f222c));
	border-top: 2px solid #2a2933;
	//border-bottom: 2px solid #2D334B;

	transition-property: brightness, background-color;
	transition-duration: 0.2s;
}

.ActiveTab.UnderlordTab
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #28293c ), to( #3a4380 ) );
	border-top: 2px solid #6273bd66;
	border-bottom: 2px solid #00000000;
}

#UnderlordChallengeContainer
{
	width:100%;
	height:100%;
	//background-image: url("s2r://panorama/images/dashboard/equip_bg_psd.vtex");
	background-size: 100%;
}

.UnderlordChallengeList
{
	flow-children:right-wrap;
	height:100%;
	width:100%;	
	horizontal-align:left;
	visibility: collapse;
	overflow:clip scroll;
	padding-right:10px;
	padding: 12px;
	margin: 0px 8px;
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#292a3f), to(#00000000));
}

.VerticalScrollBar
{
	width: 16px;
}

.ActiveTab.UnderlordChallengeList
{
	visibility: visible;
}

.ChallengesUnavailable .NoActiveChallengesText,
.ChallengesUnavailable.UnderlordTab
{
	opacity: 1;
	saturation: 0;
	wash-color: #444c64;	
}

.UnderlordHeader
{
	horizontal-align:center;
	height:200px;
	width:200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	horizontal-align: right;
	margin-right: -26px;
	margin-top: -12px;
}

#AnessixHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_1_0_png.vtex"); }
#JullHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_2_0_png.vtex"); }
#EnnoHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_3_0_png.vtex"); }
#HobgenHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_4_0_png.vtex"); }
