
DACTalentSelector,
DACTalentBrowser
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;

	opacity: 0;

	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #000000aa ), to( #000000 ) );

	flow-children: down;

	padding: 200px 200px;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

DACTalentBrowser
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #000000ee ), to( #000000 ) );
}


DACTalentSelector.HasUnselectedTalent,
DACTalentBrowser.ShowTalentBrowser,
.TabPageUnderlord DACTalentSelector 
{
	opacity: 1;
}

.HeaderSection
{
	height: 140px;
	flow-children: right;
	horizontal-align: center;
	padding: 40px;
}

.Arrow
{
	width: 40px;
	height: 60px;
    background-size: 100%;
    opacity: 0.6;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.Arrow:hover
{
	opacity: 1.0;
}


.ArrowLeft
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_left_underlord_psd.vtex"); 
	margin-right: 20px;
}

.ArrowRight
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_right_underlord_psd.vtex"); 
	margin-left: 20px;
}

.NoLeft .ArrowLeft,
.NoRight .ArrowRight
{
	opacity: 0;
}

.HeaderText 
{
	horizontal-align: center;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Ravenhook;

	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#C6DCFE));
}

#TalentOptions
{
	height: fill-parent-flow( 1.0 );

	padding-top: 40px;
	horizontal-align: center;

	flow-children: right;
}

#TalentOptions .TalentOption
{
	width: 300px;
	height: 460px;

	margin: 0px 20px;

	border-radius: 12px;

	flow-children: down;

	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#TalentOptions .TalentOption.NeedsPrereq .ImageDimmer,
#TalentOptions .TalentOption.NeedsPrereq .BottomSection,
#TalentOptions .TalentOption.NeedsPrereq #AbilityContainer,
#TalentOptions .TalentOption.Unavailable .ImageDimmer,
#TalentOptions .TalentOption.Unavailable .BottomSection,
#TalentOptions .TalentOption.Unavailable #AbilityContainer
{
	saturation: 0.0;
	brightness: 0.2;
}

.CanSelect #TalentOptions .TalentOption:not(.NeedsPrereq):hover
{
	transform: scaleX( 1.05 ) scaleY( 1.05 );
}

#TalentOptions .TalentOption .ImageDimmer
{
	width: 100%;
	height: 100%;
}

#TalentOptions .TalentOption .ImageContainer
{
	width: 100%;
	height: width-percentage( 100% );

}

#TalentOptions .TalentOption .TalentImage
{
	width: 100%;
	height: 100%;
}

#TalentOptions .TalentOption .Prereq
{
	vertical-align: center;
	horizontal-align: center;

	text-align: center;

	width: 100%;

	font-size: 40px;
	color: white;

	text-transform: uppercase;
	font-weight: bold;

	padding: 0px 10px;

	visibility: collapse;
}

#TalentOptions .TalentOption.NeedsPrereq .Prereq
{
	visibility: visible;
}

#TalentOptions .TalentOption .Locked
{
	vertical-align: center;
	horizontal-align: center;

	text-align: center;

	width: 100%;

	font-size: 40px;
	color: white;

	text-transform: uppercase;
	font-weight: bold;

	padding: 0px 10px;
	padding-bottom: 50px;

	visibility: collapse;
}

#TalentOptions .TalentOption.Unavailable .Locked,
#TalentOptions .TalentOption.Unavailable #UnlockCondition,
#TalentOptions .TalentOption.Unavailable.UnavailableGeneric #UnlockConditionGeneric
{
	visibility: visible;
}

#TalentOptions .TalentOption #UnlockCondition,
#TalentOptions .TalentOption #UnlockConditionGeneric
{
	vertical-align: center;
	horizontal-align: center;

	text-align: center;

	width: 100%;

	font-size: 20px;
	color: white;

	text-transform: uppercase;
	font-weight: bold;

	padding: 0px 10px;
	padding-top: 70px;

	visibility: collapse;
}


#TalentOptions .TalentOption #AbilityContainer
{
	horizontal-align: left;
	vertical-align: bottom;
	background-color: #000000aa;
	background-color: gradient(linear, 10% 0%, 100% 0%, from( #000000 ), to(#00000000));
	width: 100%;


	flow-children: right;
}

#TalentOptions .TalentOption .Ability
{
	color: white;
	font-size: 18px;
	font-weight: semi-bold;

	//text-shadow: 0px 0px 0px 2.0 #000;

	vertical-align: middle;
}

#TalentOptions .TalentOption.NoParent #AbilityContainer
{
	visibility: collapse;
}


#TalentOptions .TalentOption #AbilityImage
{
	width: 45px;
	height: 45px;
	margin-right: 8px;
}

#TalentOptions .TalentOption .BottomSection
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	background-color: black;

	flow-children: down;
}

#TalentOptions .TalentOption .BottomSection .TalentName
{
	width: 100%;
	font-size: 24px;
	color: #DDD;
	font-weight: bold;
	font-family: Ravenhook;
	text-align: center;
	line-height: 22px;
	

	margin-top: 10px;

	text-transform: uppercase;
	letter-spacing: 2px;
}

#TalentOptions .TalentOption .BottomSection .TalentDescription
{
	font-size: 18px;
	padding: 0px 10px;
	color: #999;
	line-height: 22px;
	padding: 0px 16px;
	text-align: center;
}

#TalentOptions .TalentOption .BottomSection .TalentDescription .PerLevel
{
	color: #b9902e;
	font-weight: semi-bold;
}

#TalentOptions  .TalentOption {
	brightness: 0.8;
	transform: rotateZ(-3deg);

	transition-property: pre-transform-scale2d, brightness, transform;
	transition-duration: 0.1s;
	//transition-timing-function: ease;
}

#TalentOptions  .TalentOption:hover {
	pre-transform-scale2d: 1.10;
	brightness: 1.5;
	transform: rotateZ(0deg);

	transition-property: pre-transform-scale2d, brightness, transform;
	transition-duration: 0.1s;
	//transition-timing-function: ease;
}

