@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACUnitStatus {
	flow-children: down;
}

.UnitStatsDetails
{
	width: 220px;
	padding: 0px;
	horizontal-align: center;
	height: fit-children;
	max-height: 115px;
	overflow: clip scroll;
	flow-children: down;
	margin-bottom: 3px;
}

.IsLayoutSmallScreen .UnitStatsDetails
{
	max-height: 245px;
	width: 300px;
	overflow: clip scroll;
}

.IsLayoutSmallScreen.AspectRatio4x3 .UnitStatsDetails
{
	max-height: 180px;
	width: 300px;
	overflow: clip scroll;
}

.HeaderPlayerName
{
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	margin-top: -2px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 26px;
	font-weight: bold;
	text-overflow: shrink;
	width: fit-children;
	max-width: 200px;	
	height: 33px;
	
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 2.0 #000;
}

.IsLayoutSmallScreen .HeaderPlayerName
{
	font-size: 28px;
	width: 300px;
}

.LowVisualQuality .HeaderPlayerName {
	text-shadow: 0px 1px 0px 2.0 #000;
}

.Cost1 .HeaderPlayerName,
.Cost2 .HeaderPlayerName,
.Cost3 .HeaderPlayerName,
.Cost4 .HeaderPlayerName,
.Cost5 .HeaderPlayerName
{
	max-width: 240px;
	horizontal-align: center;
}

.Cost1 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#d0b2cd), to(#cedef8));
}

.Cost2 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#3ed93b), to(#99d3a0));
}

.Cost3 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#5990ff), to(#9cbbed));
}

.Cost4 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#e347ff), to(#e49bff));
}

.Cost5 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #181818 ), to(#2d2c30));
	text-shadow: none;
	font-weight: black;
	background-image: url("s2r://panorama/images/hud/highroller_title_bg_psd.vtex");
	background-size: 100%;
	padding: 0px 12px 0px 12px;
}


#PlayerProfile
{
	//background-image: url("s2r://panorama/images/hud/unit_inspect_portrait_bevel_psd.vtex");
	//background-size: cover;
	//width: 200px;
	flow-children: none;
	width: 100%;
	height: 120px;
}


#PlayerAvatar {
	//background-image: url("s2r://panorama/images/hud/unit_inspect_portrait_bevel_psd.vtex");
	background-size: cover;
	width: 220px;
	height: 100%;
	horizontal-align: center;
	flow-children: none;
}

.IsLayoutSmallScreen #PlayerProfile,
.IsLayoutSmallScreen #PlayerAvatar
{
	width: 100%;
	height: 200px;
	horizontal-align: center;
}

.IsUnderlord #PlayerProfile
{
	// can do a bigger profile image for underlords here, but will need an edit to the scene panel 
}

.HPLabel
{
	width: 100%;
	color: #a2ff92;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	text-overflow: shrink;
	vertical-align: bottom;
	horizontal-align: center;
	
	text-shadow: 0px 0px 0px 3.0 #000;
}

.IsLayoutSmallScreen .HPLabel
{
	font-size: 28px;
}

.ERoundState_Combat #StatusHP
{
	visibility: collapse;
}

#StatusHPInCombat
{
	visibility: collapse;
}

.ERoundState_Combat #StatusHPInCombat
{
	visibility: visible;
}

.LowVisualQuality #StatusHP {
	text-shadow: 0px 0px 0px 2.0 #000;
}


#UnitPortraitView {
	width: 100%;
	height: 100%;
}

.Cost1 #UnitPortraitView
{
	border-top: 2px solid #66666644;
	border-left: 2px solid #66666622;
	border-right: 2px solid #66666622;	
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#333), to(#4442));
	border-bottom: 2px solid #66666622;	
	//background-image: url("s2r://panorama/images/shop/cost1_background_psd.vtex");
}


.Cost2 #UnitPortraitView
{
	border-top: 2px solid #62df8144;
	border-left: 2px solid #62df8122;
	border-right: 2px solid #62df8122;
	border-bottom: 2px solid #62df8122;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#28813F), to(#4442));
}

.Cost3 #UnitPortraitView
{
	border-top: 2px solid #829cf044;
	border-left: 2px solid #829cf022;
	border-right: 2px solid #829cf022;
	border-bottom: 2px solid #829cf022;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#233368), to(#4442));
}

.Cost4 #UnitPortraitView
{
	border-top: 2px solid #ef87f344;
	border-left: 2px solid #ef87f322;
	border-right: 2px solid #ef87f322;
	border-bottom: 2px solid #ef87f322;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#733a75), to(#4442));
}

.Cost5 #UnitPortraitView
{
	border-top: 2px solid #806d41;
	border-left: 2px solid #78663d;
	border-right: 2px solid #78663d;
	border-bottom: 2px solid #78663d;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#99834e), to(#4442));
}

#PlayerFlag {
	//background-image: url("s2r://panorama/images/hud/black_ribbon_psd.vtex");
	background-image: url("s2r://panorama/images/shop/cost1_background_psd.vtex");
	background-size: cover;
	width: 240px;
	//height: 240px;
	//box-shadow: #000000bb 0px 0px 22px;
}

#SelectUnitItem {
	visibility: collapse;
	//width: 80px;
	//height: 80px;
	width: 50px;
	height: 50px;
	margin-right: 15px;
	margin-top: 5px;

	horizontal-align: right;
	vertical-align: top;
}

.IsLayoutSmallScreen #SelectUnitItem
{
	width: 80px;
	height: 80px;
	margin-right: 5px;
}

#SelectUnitItem.ContainsItem {
	visibility: visible;
}


.SynergyContainer {
	//margin-top: 5px;
	width: 100%;
	vertical-align: center;
	
	ui-scale: 50%;
}

.IsLayoutSmallScreen .SynergyContainer
{
	ui-scale: 80%;
}

#SynergyCapsule {
	horizontal-align: center;
}

#SelectUnitStats {
	background-color: #00000090;
	background-image: url("s2r://panorama/images/hud/unit_inspect_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: top;
	box-shadow: #000000bb 0px 0px 22px;
	//padding: 4px 2px 20px 2px;
	width: 100%;
}

#SelectUnitStatsTint
{
	background-color: red;
	width: 100%;
} 

.Stat {
	color: #8588a0;
	font-size: 16px;
	text-shadow: 0px 1px 0px 3.0 #000;
	width: 100%;
	text-align: center;
	//margin-left: 10px;
}


.Bonus {
	color: #28d500;
}

.NegBonus {
	color: red;
}

.DuelBonusDamageStat
{
	visibility: collapse;
}

.HasDuelBonusDamage .DuelBonusDamageStat
{
	visibility: visible;
}

.BrawnyKillsStat {
    visibility: collapse;
}
/*
.HasBrawnyKills .BrawnyKillsStat {
    visibility: visible;
}*/

.IsLayoutSmallScreen .Stat
{
	font-size: 28px;
}


#SelectUnitStats .Count {
	color: #fff;
}


.RankLabel {
	font-size: 18px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 0px 0px 3.0 #000;
	text-align: left;
	visibility: collapse;
	text-overflow: clip;
	horizontal-align: center;
}

.IsLayoutSmallScreen .RankLabel
{
	font-size: 21px;
}

.UnderlordIcon
{
	width: 35px;
	height: 25px;
	margin: 6px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/underlord_icon_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	visibility: collapse;
}

.IsUnderlord .UnderlordIcon
{
	visibility: visible;
}

#SelectedUnitContainer .UnderlordIcon
{
	margin-top: 5px;
	margin-bottom: 0px;
}


.UnitNameContainer
{
	flow-children: down;
	width: 100%;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	//margin-top: 8px;
}

.LowVisualQuality .RankLabel {
	text-shadow: 0px 0px 0px 2.0 #000;
}

.TextContainer {
	width: 100%;
	height: 100%;

	//margin-right: 10px;
}

.Rank_1 .Rank1Label {
	visibility: visible;
	color: rank1Color;
}

.Rank_2 .Rank2Label {
	visibility: visible;
	color: rank2Color;
}

.Rank_3 .Rank3Label {
	visibility: visible;
	color: rank3Color;
}

.AbilityRow
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
}

#AbilitySnippetContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	overflow: scroll;
	width: fit-children;
	height: fit-children;
	margin-top: 5px;
	//ui-scale: 70%;

	//height: 20px;
}

.IsLayoutSmallScreen #AbilitySnippetContainer
{
	ui-scale: 100%;
}

.AbilityContainer
{
	margin: 2px 2px 6px 2px;
	box-shadow: #000000bb 0px 0px 12px;
	background-image: url("s2r://panorama/images/hud/ability_icon_bevel_psd.vtex");
	background-size: 100%;

	horizontal-align: center;
	width: 70px;
	height: 70px;
}

.TwoAbilities .AbilityContainer
{
	//width: 80px;
	//height: 80px;
	margin-left: 4px;
	margin-right: 4px;
}

.IsLayoutSmallScreen .AbilityContainer {
	width: 85px;
	height: 85px;
	//width: fill-parent-flow( 1.0 );
}

.ThreeAbilities .AbilityContainer {
	width: fill-parent-flow( 1.0 );
}

#UnitAbility
{
	width: 100%;
	height: 100%;
}

#AbilityBevel
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/ability_icon_bevel_psd.vtex");
	background-size: 100%;
}

.IsLayoutSmallScreen #AbilityBevel
{
	width: 100px;
	height: 100px;
}

#HighRollerContainer
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/heroes/spellicons/highroller_psd.vtex");
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
	//margin: 2px 0 12px 0;
	margin-left: 10px;
	vertical-align: center;
	box-shadow: #000000bb 0px 0px 12px;
	background-size: 100%;
}

#HighRollerIconEffect
{
	width: 100%;
	height: 100%;
	//margin-top: -84px;
}

.Cost5 #HighRollerContainer
{
	visibility: visible;
}


#AbilityCooldown
{
	width: 100%;
	height: 5px;
	vertical-align: bottom;
	margin-left: 10px;
	margin-right: 10px;

	background-color: #222;

	//background-color: red;
	visibility: collapse;
}

.ERoundState_Combat .UnitIsAlive.AbilityInCooldown #AbilityCooldown
{
	visibility: visible;
}

ProgressBar .ProgressBarLeft
{
	background-color: #ddd;
	height: 12px;
}



//olden

#PlayerEXPGraph_FG {
	background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_fg_png.vtex");
	background-size: cover;
	transition-property: clip;
	transition-duration: 200ms;
}

#HealthBar {
	width: 33%;
	height: 30%;
	opacity: 0;

	vertical-align: top;
	horizontal-align: right;
}

#HealthBar_FG {
	background-image: url("s2r://panorama/images/hud/health_ring_psd.vtex");
	width: 100%;
	height: 100%;
	background-size: cover;
	transition-property: clip;
	transition-duration: 200ms;
}