DACPartyInvite {
    width: 100%;
    height: 100%;
    flow-children: right;
    background-color: #9086c309;
}

.PartyButton {
    //border: 2px solid #ffffff22;
    width: 55px;
    height: 55px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: brightness;
    transition-duration: .2s;
    vertical-align: center;
    margin-right: 10px;
}

#PartyMembers {
    width: fill-parent-flow( 1.0 );
    flow-children: right;
    vertical-align: center;
}

#PartyMembers DACAvatarImage {
    width: 40px;
    height: 40px;
}


#AcceptInvite {
    background-image: url("s2r://panorama/images/dashboard/party_invite_icon_bright_png.vtex");
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: .2s;
}

#AcceptInvite:hover 
{
    //background-image: url("s2r://panorama/images/dashboard/party_invite_icon_bright_png.vtex");
    opacity: 1;
    //background-color: green;
}

.CanAcceptInvite #AcceptInvite {
    opacity: 1.0;
}

.CanAcceptInvite #AcceptInvite:hover 
{
    opacity: .3;
    background-color: green;
}

#RejectInvite {
    //background-image: url("s2r://panorama/images/dashboard/party_invite_icon_bright_png.vtex");
    //opacity: 0.5;
    //transform: rotateZ(45deg);
    //wash-color: red;
    background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
    background-size: 56% 56%;
    wash-color: #b2411a;
    transition-property: wash-color;
    transition-duration: .2s;
    //border-radius: 32px;
}

#RejectInvite:hover {
     wash-color: #fd4a1a;   
}

#PartyOverflow {
    font-size: 30px;
    color: white;
    vertical-align: center;
    visibility: collapse;
}

.HasOverflowMembers #PartyOverflow {
    visibility: visible;
}
