@import url("file://{resources}/styles/battle_pass/current_battlepass.css");


DACLoadoutPage
{
    width:100%;
    height:100%;
    background-color:#333333;
    flow-children:none;
    background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
    background-size: 100%;
}

.Dimmer
{
    width:100%;
    height:100%;
		background-color: #060606cc;
}

#TopRow
{
    width: 100%;
    height: 400px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    vertical-align: top;
    horizontal-align:center;
    flow-children: right;
    //background-image: url("s2r://panorama/images/heropedia/paintbrush-blue-bg_psd.vtex");
    background-size: 100%;
}

.PageTitleLabel
{
    font-weight: black;
    font-size: 64px;
    color: black;
    text-transform: uppercase;
    background-color: white;

    transform: rotatez(-2deg);
    margin-left: 30px;
    padding: 5px 30px -3px;
    vertical-align: top;
    box-shadow: 0px 0px 3px #fff;
}

.PageDescription
{
    font-weight: black;
    font-size: 24px;
    color: white;
    text-transform: uppercase;

    margin-left: 20px;
    margin-top: 30px;
    padding: 5px 30px;
    vertical-align: top;
}

.LoadoutPanel
{
    width: 600px;
    height: 850px;
    margin-right: 20px;
    background-color: black;
}

// TEMP LOADOUT STUFF

.ComingSoonViolator
{
    font-weight: black;
    font-size: 72px;
    padding: 10px 60px -2px 60px;
    text-transform: uppercase;
    color: white;
    //background-color: #d07c18;
    background-color: gradient( linear, 0% 90%, 0% 0%, from( #b7231a ), to( #de2b20 ) );
    horizontal-align: center;
    vertical-align: center;
    transform: rotatez(-5deg);
    box-shadow: 0px 0px 3px #b7231a;
    margin-left: 40px;
}

#BottomRow
{
    //width: 100%;
    width: fit-children;
    horizontal-align: center;
    vertical-align: center;
    height: fit-children;
    flow-children: right;
    padding-left: 40px;
    margin-top: 150px;
    //background-color: red;
}

.LoadoutContainer
{
    height: 750px;
    width: 550px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_psd.vtex");
    background-size: 100%;
    box-shadow: fill 0px 0px 24px #000000cc;
    flow-children: down;
    //background-position: 50% 50%;
    //background-repeat: repeat-x;
}

.Left
{
	   background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_left_psd.vtex");
}

.Right
{
	   background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_right_psd.vtex");
}

.LoadoutDetail
{
    border: 2px solid #00000022;
}

.LoadoutLabel
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 36px;
    font-weight: black;
    text-transform: uppercase;
    color: #666666aa;
}

.LoadoutBanners
{
    width: 500px;
    height: 700px;
    horizontal-align: center;
    vertical-align: center;
    //background-color: #000000aa;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutMaps
{
    width: 500px;
    height: 700px;
    margin-top: 25px;
    horizontal-align: center;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutTitles
{
    width: 500px;
    height: 175px;
    margin-top: 25px;
    horizontal-align: center;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutFireworks
{
    width: 500px;
    height: 240px;
    margin-top: 25px;
    horizontal-align: center;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutTeleports
{
    width: 500px;
    height: 235px;
    margin-top: 25px;
    horizontal-align: center;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutContainerBottom
{
    width: 500px;
    height: 175px;
    margin-top: 25px;
    horizontal-align: center;
    flow-children: right;
}

.LoadoutYos
{
    width: 235px;
    height: 175px;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    margin-right: 25px;
}

.LoadoutStreaks
{
    width: 240px;
    height: 175px;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}