
DACSynergyIcon
{
	width: 108px;
	height: 108px;

	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

DACSynergyIcon.Levels_1
{
	width: 160px;
}

DACSynergyIcon.Levels_2
{
	width: 170px;
}

DACSynergyIcon.Levels_3
{
	width: 190px;
}

.SynergyNullified
{
	width: 108px;
	height: 108px;
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/hud/synergy_slash_psd.vtex");

	visibility: collapse;
}

DACSynergyIcon.Nullified .SynergyNullified
{
	visibility: visible;
}

.SynergyBG
{
	width: 108px;
	height: 108px;
	
	//width: 90px;
	//height: 90px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule01_psd.vtex");
}

.Style1 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule01_psd.vtex");
}

.Style2 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule02_psd.vtex");
}

.Style3 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule03_psd.vtex");
}

.Style4 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule04_psd.vtex");
}

.Style5 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule05_psd.vtex");
}

.Style6 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule06_psd.vtex");
}

.Style7 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule07_psd.vtex");
}

.Style8 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule08_psd.vtex");
}

.Style9 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule09_psd.vtex");
}

.Style10 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule10_psd.vtex");
}

.Style11 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule11_psd.vtex");
}

.Style12 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule12_psd.vtex");
}

.Style13 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule13_psd.vtex");
}

.Style14 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule14_psd.vtex");
}

.Style15 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule15_psd.vtex");
}

.Style16 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule16_psd.vtex");
}

.SynergyIcon
{
	width: 108px;
	height: 108px;
	background-size: 62.5% 62.5%;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	horizontal-align: left;
}

.SynergyDisabled .SynergyIcon 
{
	wash-color: #64588799;
	
}

.SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border01_psd.vtex");
	width: 108px;
	height: 108px;
	
	//width: 90px;
	//height: 90px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
	//visibility: collapse; 
}

.Style1 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border01_psd.vtex");
}

.Style2 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border02_psd.vtex");
}

.Style3 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border03_psd.vtex");
}

.Style4 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border04_psd.vtex");
}

.Style5 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border05_psd.vtex");
}

.Style6 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border06_psd.vtex");
}

.Style7 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border07_psd.vtex");
}

.Style8 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border08_psd.vtex");
}

.Style9 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border09_psd.vtex");
}

.Style10 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border10_psd.vtex");
}

.Style11 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border11_psd.vtex");
}

.Style12 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border12_psd.vtex");
}

.Style13 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border13_psd.vtex");
}

.Style14 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border14_psd.vtex");
}

.Style15 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border15_psd.vtex");
}

.Style16 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border16_psd.vtex");
}

.SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop01_psd.vtex");
	width: 108px;
	height: 108px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Style1 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop01_psd.vtex");
}

.Style2 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop02_psd.vtex");
}

.Style3 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop03_psd.vtex");
}

.Style4 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop04_psd.vtex");
}

.Style5 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop05_psd.vtex");
}

.Style6 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop06_psd.vtex");
}

.Style7 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop07_psd.vtex");
}

.Style8 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop08_psd.vtex");
}

.Style9 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop09_psd.vtex");
}

.Style10 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop10_psd.vtex");
}

.Style11 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop11_psd.vtex");
}

.Style12 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop12_psd.vtex");
}

.Style13 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop13_psd.vtex");
}

.Style14 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop14_psd.vtex");
}

.Style15 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop15_psd.vtex");
}

.Style16 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop16_psd.vtex");
}

.Segment
{
	height: 108px;
	width: 65px;
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	visibility: collapse;
}

.Segment1
{
	margin-left: 72px;
	margin-left: 78px;
}

.Segment2
{
	margin-left: 94px;
	margin-left: 96px;
}

.Segment3
{
	margin-left: 116px;
	margin-left: 114px;
}

.SegmentsPerLevel_1 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}


.SegmentsPerLevel_1 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_1 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_pop_psd.vtex");
	wash-color: #645887;
	wash-color: #51486e;
}

.SegmentsPerLevel_1.Level1_Full .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}

.SegmentsPerLevel_1 .Segment.SegmentFillBorder
{
	background-image:url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_psd.vtex");
	opacity: .4; 
	
}

.SegmentsPerLevel_1 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_pop_psd.vtex");
	//wash-color: #645887;
}

.SegmentsPerLevel_2 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_psd.vtex");
}

.SegmentsPerLevel_2 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_2 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_pop_psd.vtex");
	wash-color: #645887;
	wash-color: #51486e;
}

.SegmentsPerLevel_2 .Segment.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_psd.vtex");
	opacity: .4; 
	
}

.SegmentsPerLevel_2 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_pop_psd.vtex");
	//wash-color: #645887;
}

.SegmentsPerLevel_3 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_psd.vtex");
}

.SegmentsPerLevel_3 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_3 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_pop_psd.vtex");
	wash-color: #645887;
	wash-color: #4c4466;
}

.SegmentsPerLevel_3 .Segment.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_psd.vtex");
	opacity: .4; 
	
}

.SegmentsPerLevel_3 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_pop_psd.vtex");
	//wash-color: #645887;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBG,
DACSynergyIcon.Levels_2 .Segment1.SegmentBG,
DACSynergyIcon.Levels_3 .Segment1.SegmentBG,
DACSynergyIcon.Levels_2 .Segment2.SegmentBG,
DACSynergyIcon.Levels_3 .Segment2.SegmentBG,
DACSynergyIcon.Levels_3 .Segment3.SegmentBG
{
	visibility: visible;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_2 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_2 .Segment2.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment2.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment3.SegmentBGBorderPop
{
	visibility: visible;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_2 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_2 .Segment2.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment2.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment3.SegmentBGBorder
{
	visibility: visible;
}

DACSynergyIcon.Level1_Full .Segment1.SegmentFill,
DACSynergyIcon.Level2_Full .Segment2.SegmentFill,
DACSynergyIcon.Level3_Full .Segment3.SegmentFill,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFill,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFill,
DACSynergyIcon.PulseLevel_1 .Segment1.SegmentPulse,
DACSynergyIcon.PulseLevel_2 .Segment2.SegmentPulse,
DACSynergyIcon.PulseLevel_3 .Segment3.SegmentPulse
{
	visibility: visible;
}


DACSynergyIcon.Level1_Full .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Full .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Full .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Full .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Full .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Full .Segment3.SegmentFillBorderPop,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFillBorderPop,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFillBorderPop
{
	visibility: visible;
}

.Level1Bench_Count_1 .Segment1.SegmentBenchFill,
.Level1Bench_Count_2 .Segment1.SegmentBenchFill,
.Level1Bench_Full .Segment1.SegmentBenchFill,
.Level2Bench_Count_1 .Segment2.SegmentBenchFill,
.Level2Bench_Count_2 .Segment2.SegmentBenchFill,
.Level2Bench_Full .Segment2.SegmentBenchFill,
.Level3Bench_Count_1 .Segment3.SegmentBenchFill,
.Level3Bench_Count_2 .Segment3.SegmentBenchFill,
.Level3Bench_Full .Segment3.SegmentBenchFill
{
	visibility: visible;
}

.Level1Bench_Full.SegmentsPerLevel_1 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_1 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_1 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_bench_psd.vtex");
}

.Level1Bench_Count_1.SegmentsPerLevel_2 .Segment1.SegmentBenchFill,
.Level2Bench_Count_1.SegmentsPerLevel_2 .Segment2.SegmentBenchFill,
.Level3Bench_Count_1.SegmentsPerLevel_2 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_bench_psd.vtex");
}

.Level1Bench_Full.SegmentsPerLevel_2 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_2 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_2 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_bench_psd.vtex");
}

.Level1Bench_Count_1.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Count_1.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Count_1.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_bench_psd.vtex");
}

.Level1Bench_Count_2.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Count_2.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Count_2.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_bench_psd.vtex");
}

.Level1Bench_Full.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_bench_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_border_pop_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFillBorder
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFillBorder
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFillBorderPop
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_border_pop_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFillBorderPop
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_border_pop_psd.vtex");
}

@keyframes 'PulseAnim3'
{
	0%
	{
		opacity: 0;
	}

	35%
	{
		opacity: 1;
	}

	65%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

.SegmentPulse
{
	animation-name: PulseAnim3;
	animation-delay: 0.0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	saturation: 2;
	brightness: 2;
}

.SegmentsPerLevel_1.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}

.SegmentsPerLevel_2.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_psd.vtex");
}

.SegmentsPerLevel_2.PulseSlot_2 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_bottom_pip_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_2 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_middle_pip_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_3 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_bottom_pip_psd.vtex");
}

DACSynergyIcon.Beast .TakeWashColor
{
	wash-color: beastColor;
}

DACSynergyIcon.Demon .TakeWashColor
{
	wash-color: demonColor;
}

DACSynergyIcon.Dragon .TakeWashColor
{
	wash-color: dragonColor;
}

DACSynergyIcon.Dwarf .TakeWashColor
{
	wash-color: dwarfColor;
}

DACSynergyIcon.Element .TakeWashColor
{
	wash-color: elementColor;
}

DACSynergyIcon.Elf .TakeWashColor
{
	wash-color: elfColor;
}

DACSynergyIcon.Goblin .TakeWashColor
{
	wash-color: goblinColor;
}

DACSynergyIcon.Human .TakeWashColor
{
	wash-color: humanColor;
}

DACSynergyIcon.Naga .TakeWashColor
{
	wash-color: nagaColor;
}

DACSynergyIcon.Ogre .TakeWashColor
{
	wash-color: ogreColor;
}

DACSynergyIcon.Orc .TakeWashColor
{
	wash-color: orcColor;
}

DACSynergyIcon.Troll .TakeWashColor
{
	wash-color: trollColor;
}

DACSynergyIcon.Undead .TakeWashColor
{
	wash-color: undeadColor;
}

DACSynergyIcon.Satyr .TakeWashColor
{
	wash-color: satyrColor;
}

DACSynergyIcon.Assassin .TakeWashColor
{
	wash-color: assassinColor;
}

DACSynergyIcon.DemonHunter .TakeWashColor
{
	wash-color: demonhunterColor;
}

DACSynergyIcon.Druid .TakeWashColor
{
	wash-color: druidColor;
}

DACSynergyIcon.Hunter .TakeWashColor
{
	wash-color: hunterColor;
}

DACSynergyIcon.Knight .TakeWashColor
{
	wash-color: knightColor;
}

DACSynergyIcon.Mage .TakeWashColor
{
	wash-color: mageColor;
}

DACSynergyIcon.Mech .TakeWashColor
{
	wash-color: mechColor;
}

DACSynergyIcon.Shaman .TakeWashColor
{
	wash-color: shamanColor;
}

DACSynergyIcon.Warlock .TakeWashColor
{
	wash-color: warlockColor;
}

DACSynergyIcon.Warrior .TakeWashColor
{
	wash-color: warriorColor;
}

DACSynergyIcon.Beast .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
}

DACSynergyIcon.Dragon .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/dragon_psd.vtex");
}

DACSynergyIcon.Demon .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/demon_psd.vtex");
}

DACSynergyIcon.Dwarf .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/deadeye_psd.vtex");
}

DACSynergyIcon.Element .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
}

DACSynergyIcon.Elf .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/elusive_psd.vtex");
}

DACSynergyIcon.Human .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/bold_psd.vtex");
}

DACSynergyIcon.Goblin .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/scrappy_psd.vtex");
}

DACSynergyIcon.Naga .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/resilient_psd.vtex");
}

DACSynergyIcon.Ogre .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/bloodbound_psd.vtex");
}

DACSynergyIcon.Orc .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brawny_psd.vtex");
}

DACSynergyIcon.Troll .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/relentless_psd.vtex");
}

DACSynergyIcon.Undead .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/undead_psd.vtex");
}

DACSynergyIcon.Satyr .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/satyr_psd.vtex");
}

DACSynergyIcon.Assassin .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/assassin_psd.vtex");
}

DACSynergyIcon.DemonHunter .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/demonhunter_psd.vtex");
}

DACSynergyIcon.Druid .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/druid_psd.vtex");
}

DACSynergyIcon.Hunter .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/hunter_psd.vtex");
}

DACSynergyIcon.Knight .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/knight_psd.vtex");
}

DACSynergyIcon.Mage .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/mage_psd.vtex");
}

DACSynergyIcon.Mech .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
}

DACSynergyIcon.Shaman .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/shaman_psd.vtex");
}

DACSynergyIcon.Warlock .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/warlock_psd.vtex");
}

DACSynergyIcon.Warrior .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/warrior_psd.vtex");
}


DACSynergyIcon.Beast .TakeBrightWashColor
{
	wash-color: beastColorBright;
}

DACSynergyIcon.Demon .TakeBrightWashColor
{
	wash-color: demonColorBright;
}

DACSynergyIcon.Dragon .TakeBrightWashColor
{
	wash-color: dragonColorBright;
}

DACSynergyIcon.Dwarf .TakeBrightWashColor
{
	wash-color: dwarfColorBright;
}

DACSynergyIcon.Element .TakeBrightWashColor
{
	wash-color: elementColorBright;
}

DACSynergyIcon.Elf .TakeBrightWashColor
{
	wash-color: elfColorBright;
}

DACSynergyIcon.Goblin .TakeBrightWashColor
{
	wash-color: goblinColorBright;
}

DACSynergyIcon.Human .TakeBrightWashColor
{
	wash-color: humanColorBright;
}

DACSynergyIcon.Naga .TakeBrightWashColor
{
	wash-color: nagaColorBright;
}

DACSynergyIcon.Ogre .TakeBrightWashColor
{
	wash-color: ogreColorBright;
}

DACSynergyIcon.Orc .TakeBrightWashColor
{
	wash-color: orcColorBright;
}

DACSynergyIcon.Troll .TakeBrightWashColor
{
	wash-color: trollColorBright;
}

DACSynergyIcon.Undead .TakeBrightWashColor
{
	wash-color: undeadColorBright;
}

DACSynergyIcon.Satyr .TakeWashColor
{
	wash-color: satyrColor;
}

DACSynergyIcon.Assassin .TakeBrightWashColor
{
	wash-color: assassinColorBright;
}

DACSynergyIcon.DemonHunter .TakeBrightWashColor
{
	wash-color: demonhunterColorBright;
}

DACSynergyIcon.Druid .TakeBrightWashColor
{
	wash-color: druidColorBright;
}

DACSynergyIcon.Hunter .TakeBrightWashColor
{
	wash-color: hunterColorBright;
}

DACSynergyIcon.Knight .TakeBrightWashColor
{
	wash-color: knightColorBright;
}

DACSynergyIcon.Mage .TakeBrightWashColor
{
	wash-color: mageColorBright;
}

DACSynergyIcon.Mech .TakeBrightWashColor
{
	wash-color: mechColorBright;
}

DACSynergyIcon.Shaman .TakeBrightWashColor
{
	wash-color: shamanColorBright;
}

DACSynergyIcon.Warlock .TakeBrightWashColor
{
	wash-color: warlockColorBright;
}

DACSynergyIcon.Warrior .TakeBrightWashColor
{
	wash-color: warriorColorBright;
}

DACSynergyIcon.SynergyDisabled .SynergyBG,
.SegmentBG
{
	wash-color: #333;
}


DACSynergyIcon.SynergyDisabled .SynergyBGBorderPop
{
	wash-color: #645887;
	wash-color: #51486e;
}

DACSynergyIcon.SynergyDisabled .SynergyBGBorder, 
{
	opacity: .4; 
}


.SegmentBenchFill
{
	brightness: 1;
}


@keyframes 'SynergyIconAppear'
{
	0%
	{
		opacity: 0.01;
	}
	50%
	{
		opacity: 0.01;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes 'SynergyIconFadeOut'
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}