DACUIHudTutorial
{
	width: 100%;
	height: 100%;
}

#DebugTutorialText { visibility: collapse; }
.CheatsEnabled #DebugTutorialText 
{ 
	font-family: Ravenhook, Radiance;
	horizontal-align: left;	
	color: white;
	font-size: 18px;
	visibility: visible; 
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom:10px;
	margin-right:10px;

}

#RickyContainer
{
	width:100%;
	height:100%;
	transition-property: transform, position;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#Ricky
{
	background-image: url("s2r://panorama/images/tutorial/raven_hookey_tutorial_psd.vtex");
	background-size: contain;
	width: 30%;
	height: 30%;		
	margin-right: 25px;
	margin-bottom: 25px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	horizontal-align:right;
	vertical-align: bottom;
	visibility: collapse;
}



#RickyTextHidden,
#RickyText
{	
	font-family: Radiance;
	font-weight:semibold;
	font-size:28px;
	color:black;
	horizontal-align: left;	
	padding:40px 85px 40px 45px;		
	text-overflow: shrink; 	
	max-height: 215px;
}

#RickyChatBubble
{
	background-image: url("s2r://panorama/images/tutorial/raven_hookey_tutorial_bubble_psd.vtex");
	background-size: contain;
	width:650px;
	//height:250px;
	height: fit-children;
	min-height: 175px;
	max-height: 300px;
	background-repeat: no-repeat;	
	horizontal-align:right;
	vertical-align: bottom;	
	margin-bottom:100px;
	margin-right:300px;
	background-size: 100% 100%;
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}


.RickyLeft #RickyContainer
{	
	transition-property: transform, position;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transform: translateX(-500px) translateY(100px);
}

.IsLayoutSmallScreen #RickyChatBubble
{
	ui-scale: 120%;
}

.MobileHigher.IsLayoutSmallScreen #RickyChatBubble
{
	margin-bottom: 275px;
	margin-right: 250px;
}

#RickyTextHidden
{
	opacity: 0;
}

#TapHereParticle
{
	width: 65px;
	height: 65px;
	vertical-align: bottom;
	//horizontal-align: right;
	//margin-right: 100px;
	horizontal-align: right;
	margin-bottom: 28px;
	margin-right: 80px;
	visibility: collapse;
}

.ShowTapTip #TapHereParticle
{
	visibility: visible;
}

.ShowRicky #Ricky,
.ShowChatBubble #RickyChatBubble
{
	opacity:1;
	visibility: visible;
}
