
DACPostGameScoreboardEntry
{
	flow-children: right;
	background-color: #00000020;
}

DACPostGameScoreboardEntry.Odd {
	background-color: #FFFFFF07;
}

.Column.Rank,
.Column.Roster,
.Column.Talent,
.Column.Score
{
	//background-color: #00000044;
}

/* Rank icon */
#RankIcon {
	ui-scale: 40%;
	margin-top: -3px;
	
	horizontal-align: center;
	vertical-align: center;
}

.Bot #RankIcon {
	visibility: collapse;
}

/* Win/Loss */

.WinLossRecord {
	//color: #2f2a28;
	color: #e1decc77;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: black;
}

.TotalGoldLabel {
	color: #e6a83b;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: black;

}

/* Roster */
#RosterContainer {
	flow-children: right;
}

#RosterUnitIcon {
	width: 28px;
	height: 28px;
}

#BenchContainer .HasItem #ItemIcon{
	visibility: collapse;
}

.HasItem #ItemIcon{
	visibility: visible;
}

#ItemIcon {
	margin: 0px;
	margin-top: 40px;
	width: 28px;
	height: 28px;
	visibility: collapse;
}


.RosterUnit {
	margin: 5px 5px -5px 5px;
	vertical-align: top;
	
}

.RosterUnit.HasItem
{
	//margin-bottom: 0px;
}

#BenchContainer .RosterUnit
{
	
	margin-top: 12px;
}

.Column Label.HeroRank {
	visibility: collapse;
	
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin-top: 24px;
	vertical-align: top;

	text-shadow: 0px 0px 0px 2.0 #000;
}

.Rank1
{
	color: #b29d8e;
}

.Rank2
{
	color: #b8c6dd;
}

.Rank3
{
	color: #fffb11;
}

.Rank1 .HeroRank.Rank1 {
	visibility: visible;
}

.Rank2 .HeroRank.Rank2 {
	visibility: visible;
}

.Rank3 .HeroRank.Rank3 {
	visibility: visible;
}

/* Alliances */
#SynergyContainer {
	flow-children: right-wrap;	
}

DACSynergyIcon {
	ui-scale: 40%;
	padding-right: 0px;
	margin-right: -5px;
	vertical-align: center;
}

#SynergyContainer DACSynergyIcon.Levels_3
{
	width: 180px;
	/* margin-left: -5px;
	margin-right: -5px; */
}

/* Globals */
#GlobalContainer
{ 
	flow-children: right-wrap;
}

#GlobalContainer Image
{
	width: 45px;
	height: 45px;
	vertical-align: center;
	margin: 3px;
}

/* talents */
#TalentContainer
{ 
	flow-children: right-wrap;
}
#TalentHeader {
	width: 260px;
	background-color: #00000055;
	text-align: center;
}

.Column.Talent {
	width: 260px;
	padding-top: 5px;
	padding-left: 5px;
	//background-color: #00000044;
}

.Column.Talent Image {
	width: 50px;
	height: 50px;
	margin: 5px;
	vertical-align: middle;
}

.TalentItems0 #TalentHeader,
.TalentItems0 .Column.Talent,
.TalentItems1 #TalentHeader,
.TalentItems1 .Column.Talent,
.TalentItems2 #TalentHeader,
.TalentItems2 .Column.Talent,
.TalentItems3 #TalentHeader,
.TalentItems3 .Column.Talent,
.TalentItems4 #TalentHeader,
.TalentItems4 .Column.Talent,
.TalentItems5 #TalentHeader,
.TalentItems5 .Column.Talent,
.TalentItems6 #TalentHeader,
.TalentItems6 .Column.Talent
{
	width: 375px;
}

.TalentItems7 #TalentHeader,
.TalentItems7 .Column.Talent,
.TalentItems8 #TalentHeader,
.TalentItems8 .Column.Talent
{
	width: 260px;
}

/* Bench */
#BenchContainer {
	flow-children: right-wrap;
}

.Place Label,
.Name Label,
.TotalDamage Label
{
	//color: #2f2a28;
	color: #e1decc77;
	font-size: 24px;
	font-weight: black;
}

.Self .Name Label,
.Self .WinLossRecord
{
	color: #e8e7e3;
}

.Place Label
{
	font-weight: black;
	font-size: 32px;
}

.Column Label
{
	vertical-align: center;
	horizontal-align: center;
}

.Column.Name Label {
	horizontal-align: left;
}

/* Miniprofile */
#MiniProfile {
	//ui-scale: 26%;
	ui-scale: 15%;
	vertical-align: center;	
	height: 100%;
}

DACPostGameStatsOverview #PlayerProfileAvatar
{
	opacity-mask: none;
}

/* Placing */
.HealthLabel {
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	
}

.HealthLabel Label {
	color: #a2ff92;
	font-size: 36px;
	font-weight: black;
}

/* Not used right now, until we get some real art in place 
#MedalPanel
{
	width:100%;
	height:100%;
}

.GoldMedalFX
{
	overflow:noclip;
	width:80px;
	height:80px;
	vertical-align: center;
	horizontal-align: center;
}

.Medal
{
	width:40px;
	height:40px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/leaderboard/medal_gold_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	visibility: collapse;
}

.FirstPlace #GoldMedal
{	
	background-image: url("s2r://panorama/images/leaderboard/medal_gold_png.vtex");
}

.SecondPlace #SilverMedal
{
	background-image: url("s2r://panorama/images/leaderboard/medal_silver_png.vtex");
}

.ThirdPlace #BronzeMedal
{
	background-image: url("s2r://panorama/images/leaderboard/medal_bronze_png.vtex");
}

*/

.HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	width: 18px;
	height: 18px;
	margin-top: -1px;
	margin-left: 3px;
	background-size: contain;

	vertical-align: middle;
}

.IsDead .HealthIcon {
	visibility: collapse;
}

.HealthMid .HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.HealthLow .HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}

.HealthMid .HealthLabel {
	color: #fff66e;
}

.HealthLow .HealthLabel {
	color: #ff6123;
}

/*.Alive .PlaceLabel {
	visibility: collapse;
}

.Alive .HealthLabel {
	visibility: visible;
}*/

/* Mobile fixes (unwelcome selectors) */

.IsLayoutSmallScreen #GlobalContainer DACInventoryItem
{
	ui-scale: 60%;
}

.AspectRatio21x9.IsLayoutSmallScreen DACPostGameScoreboardEntry DACInventoryItem
{
	ui-scale: 100%;
}

DACPostGameScoreboardEntry.Self
{
	//background-image: url("s2r://panorama/images/post_game/self-bg_psd.vtex");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #7279e623;
}