DACUIZoo
{
	width: 100%;
	height: 100%;
	margin: 40px;
	padding: 10px;

	border: 1px solid white;
	background-color: #444;
}

.TabBar
{
	flow-children: right;
}

.TabBar Button
{
	height: 60px;
	border: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.TabBar Button:hover
{
	border: 1px solid white;
}

.TabBar Button Label
{
	font-size: 20px;
	color: white;
	vertical-align: center;
}

.ZooRowContainer
{
	flow-children: down;
	width: 100%;
	height: fit-children;
}

DACUIZoo Label
{
	font-size: 18px;
	color: white;
}

DACUIZoo .CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/dac_library_button_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;
	height: 130px;
}

.ZooSynergies
{
	vertical-align: top;
	width: 100%;
	height: fit-children;
	flow-children: right-wrap;
	margin-bottom: 10px;
}

DACUIZoo .SynergyCapsule
{
	margin-right: 20px;
}

.Page
{
	width: 100%;
	height: fit-children;
	margin-top: 200px;
	overflow: clip scroll;

	visibility: collapse;
}

.Page0 .SynergyPage,
.Page1 .ItemsPage,
.Page2 .HeroesPage
{
	visibility: visible;
}

.PageButton
{
	background-color: #888;
}

#ItemsPage
{
	flow-children: right-wrap;
}

.ItemBlock
{
	width: 30%;
	height: fit-children;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	flow-children: down;
	padding: 5px;

	border: 1px solid white;
}

.ItemHeaderRow
{
	flow-children: right;
}

.ItemName
{
	text-transform: uppercase;
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	horizontal-align: left;
}

.ItemTier
{
	text-transform: uppercase;
	horizontal-align: left;
	color: white;
	font-size:  35px;
	font-weight: bold;
	text-align: center;

	margin-left: 10px;
}

#ItemImage
{
	width: 150px;
	height: 150px;
	horizontal-align: left;
	margin-bottom: 10px;

	background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_axe_png.vtex");

}

.ItemBlock.Tier1
{
	border: 1px solid grey;
}

.ItemBlock.Tier2
{
	border: 1px solid blue;
}

 .ItemBlock.Tier3
{
	border: 1px solid purple;
}

.ItemBlock.Tier4
{
	border: 1px solid yellow;
}

.ItemBlock.Tier5
{
	border: 1px solid teal;
}

.ItemDescription
{
	color: white;
	font-size: 20px;
	height: 100%;
}

.ItemTypeIcon
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;

	visibility: collapse;
}

.ItemTypeIconOffensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_png.vtex");
}

.ItemTypeIconDefensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
}

.ItemTypeIconSupport
{
	background-image: url("s2r://panorama/images/hud/icon_tag_support_png.vtex");
}

.ItemTypeIconGlobal
{
	border: 1px solid red;
}

.ItemTypeEquipOffensive .ItemTypeIconOffensive,
.ItemTypeEquipDefensive .ItemTypeIconDefensive,
.ItemTypeEquipSupport .ItemTypeIconSupport,
.ItemTypeGlobal .ItemTypeIconGlobal
{
	visibility: visible;
}

#MidButtonPanel
{
	margin-top: 100px;
	margin-left: 20px; 
}

.MidButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7; 
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}
	
.MidButtonTextStyle
{
	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 3px;
	color: white; 
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	vertical-align: center;
}

.PopupPanelStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7; 
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

.PopupButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7; 
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

#HeroesPage
{
	flow-children: down;
}

.HeroEntry
{
	font-size: 30px;
	color: #fff;
	width: 320px;
	height: 600px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	padding: 8px 4px 8px 4px;
	padding: 16px 8px 16px 8px;

	margin: 10px;

	visibility: collapse;
}

.HeroEntry.HeroVisible
{
	visibility: visible;
}

#SceneView
{
	width: 100%;
	height: 100%;
}

Label.ProbablyUnlocalizedText
{
	background-color: #0000;
	color: white;
	animation-duration: 0s;
}

#BottomFade
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/shop/cost1_vignette_psd.vtex");
	background-size: 100%;
}

.Cost2 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost2_vignette_psd.vtex");
}

.Cost3 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost3_vignette_psd.vtex");
}

.Cost4 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost4_vignette_psd.vtex");
}

.Cost5 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost5_vignette_psd.vtex");
}

DropDownMenu Label
{
	height: 36px;
}

#GiveButton
{
	padding: 10px;
	border: 1px solid #999;
}

#GiveButton:hover
{
	border: 1px solid white;
}