DACUnderlordStatus 
{
	visibility: collapse;
	height: 100%;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
}

.LowVisualQuality DACUnderlordStatus
{
	transition-property: none;
	transition-duration: 0s;
}

.GameMode_Duos.DraggingShopUnit .LeftPlayer DACUnderlordStatus,
.UnitSelected .LeftPlayer DACUnderlordStatus,
.LeftPlayer DACUnderlordStatus
{
	transform: translateX( -1000px );
}

.EGameState_Playing DACUnderlordStatus 
{
	visibility: visible;
}

DACUnderlordStatus.ShowPlayer
{
	transform: translateX( 0px );
}

.LowVisualQuality DACUnderlordStatus.ShowPlayer
{
	transform: none;
	visibility: visible;
}

.ERoundState_Preparing .LeftPlayer DACUnderlordStatus
{
	visibility: collapse;
}

.DuosBuddy DACUnderlordStatus
{
	visibility: collapse;
}

.GameMode_Duos.ERoundState_Preparing .DuosBuddy DACUnderlordStatus,
.ERoundState_Preparing.GameMode_Sandbox .LeftPlayer DACUnderlordStatus
{
	visibility: visible;
}

.VersusScreenVisible .NeutralOpponent #SideItems,
#SideItems
{
	vertical-align: center;	
	horizontal-align: right;
	width: 1100px;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
	transform: translateX( 0px );
	height: 100%;
}

.VersusScreenVisible .NeutralOpponent .LeftPlayer #SideItems,
.LeftPlayer #SideItems
{
	horizontal-align: left;
	height: 900px;
	vertical-align: bottom;
}

.VersusScreenVisible #SideItems
{
	transform: translateX( 1000px );
}

.VersusScreenVisible .LeftPlayer #SideItems
{
	transform: translateX( -1000px );
}

#UnderlordParticle
{
	width: 900px;
	height: 900px;
	horizontal-align: right; 
	opacity: 1;
	transition-property: opacity;
	transition-duration: .3s;
	vertical-align: bottom; 
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_psd.vtex");
}

.LowVisualQuality #UnderlordParticle,
.IsLayoutSmallScreen #UnderlordParticle
{
	visibility: collapse;
}


.UnderlordVignette
{
	width: 800px;
	height: 500px;
	background-image: url("s2r://panorama/images/hud/underlord_backing_gradient_psd.vtex");
	background-size: 100%;
	opacity: 1;
	//opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	
	

	vertical-align: bottom;
	horizontal-align: right;
}

.LeftPlayer .UnderlordVignette
{
	horizontal-align: left;
	transform: ScaleX(-1);
}

#UnderlordSmokeParticle
{
	width: 100%;
	height: 100%;
	margin-top: 450px;
	margin-left: 150px;
	overflow: noclip;
	opacity: .7;
}

.LeftPlayer #UnderlordSmokeParticle
{
	margin-left: -275px;
	opacity: 1;
	
}

.LowVisualQuality #UnderlordSmokeParticle
{
	opacity: 1;
}

.BottomSection
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
	
	padding-bottom: safe-area-inset-bottom;
	margin-bottom: 18px;



}

.LeftPlayer .BottomSection
{
	horizontal-align: left;
}

.AspectRatio21x9.IsLayoutSmallScreen .BottomSection 
{
	ui-scale: 130%;
	margin-right: -52px;
	margin-bottom: -28px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer .BottomSection
{
	ui-scale: 130%;
	margin-left: -58px;
	margin-bottom: -28px;
	overflow: noclip;
}

.IsLayoutSmallScreen .BottomSection 
{
	//ui-scale: 110%;
	//margin-right: -52px;
	margin-bottom: 0px;
}

.IsLayoutSmallScreen .LeftPlayer .BottomSection
{
	//ui-scale: 110%;
	//margin-left: -58px;
	margin-bottom: 0px;
	overflow: noclip;
}

.Info 
{
	horizontal-align: right;

	flow-children: right;
	//margin-bottom: 250px;
	margin-bottom: 20px;

	//width: 310px;
	width: 530px;
	height: 600px;

	//background-color: #101010D0;
	padding-bottom: 25px;
}

.LeftPlayer .Info
{
	horizontal-align: left;
	//margin-left: 75px;
	margin-left: 38px;
}

.RightPlayer .Info
{
	//margin-right: 75px;
	margin-right: 25px;
}

.InfoBlock
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	horizontal-align: right;
	//background-color: #101010D0;
	padding: 0px 12px;
	margin-bottom: -30px;
}

.NameContainer 
{
	width: 493px;
	flow-children: right;
	//margin-bottom: 3px;
	margin-bottom: -5px;
	height: 60px;
}

.LeftPlayer #PlayerName
{
	horizontal-align: left;
}

#DuosTeamName
{
	vertical-align: bottom;
	margin-bottom: -8px;
	margin-left: 0px;
}

#DuosTeamName Label
{
	color: #fff;
	font-weight: black;
	text-shadow: 0px 0px 0px 2.5 #000000FF;
	font-size: 34px;
	text-transform: uppercase;
}

.IsTeammate #DuosTeamName Label
{
	color: #83c831;
}

.IsOpponent #DuosTeamName Label
{
	color: #cd3939;
}

.LeftPlayer #AbilitySection
{
	margin-left: 40px;
}

#AbilitySection
{
	width: 100%;
	height: fit-children;

	flow-children: right;
}

#AbilitySection .TalentAbility
{
	width: 108px;
	height: 128px;
	margin: 7px;
	margin-top: 7px;

	flow-children: down;
}

#AbilitySection .TalentAbility.Large
{
	width: 136px;
	height: 156px;
	margin-top: 0px;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer
{
	width: 100%;
	height: width-percentage( 100% );

	background-color: black;
	border-radius: 8px;
}

.LowVisualQuality #AbilitySection .TalentAbility .TalentAbilityImageContainer
{
	border-radius: 0px;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #TalentAbilityImage
{
	width: 100%;
	height: 100%;

	border: 6px solid black;

	opacity-mask: url("s2r://panorama/images/masks/square_vignette_psd.vtex");
}

.LowVisualQuality #AbilitySection .TalentAbility .TalentAbilityImageContainer #TalentAbilityImage
{
	opacity-mask: none;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #CooldownOverlay
{
	width: 100%;
	height: 100%;
	saturation: 0;
	brightness: 0.1;

	border: 6px solid black;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #CooldownOverlay
{
	saturation: 1;
	brightness: 1;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #CooldownOverlay.Hidden
{
	visibility: collapse;
}

#AbilitySection .TalentAbility .PipContainer
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	
	overflow: noclip;

	flow-children: right;
}

#AbilitySection .TalentAbility .PipContainer .Pip
{
	width: 14px;
	height: 14px;
	background-color: red;
	margin: 6px 4px;
	border: 1px solid black;
	
	background-image: url("s2r://panorama/images/hud/ability_pip_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	visibility: collapse;
}

#AbilitySection .TalentAbility.HasUpgrade1 .PipContainer #Pip1,
#AbilitySection .TalentAbility.HasUpgrade2 .PipContainer #Pip2,
#AbilitySection .TalentAbility.HasUpgrade3 .PipContainer #Pip3,
#AbilitySection .TalentAbility.HasUpgrade4 .PipContainer #Pip4
{
	visibility: visible;
}

#AbilitySection .RightSection
{
	width: fill-parent-flow( 1.0 );
	height: 100%;

	flow-children: down;
}

#AbilitySection .RightSection #HypeBarBackground
{
	width: 357px;
	height: 18px;

	background-color: #000;
	border-radius: 8px;

	margin-bottom: 4px;
	flow-children: right;
	border: 4px solid #000;
	margin-left: 4px;
}

.LowVisualQuality #AbilitySection .RightSection #HypeBarBackground
{
	border-radius: 0px;
}

#AbilitySection .RightSection .HypeSegment
{
	height: 100%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #343434 ), to(#525252) );
}

#AbilitySection .RightSection .HypeSegmentActive
{
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

	transition-property: width;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.LowVisualQuality .HypeSegment,
.LowVisualQuality .HypeSegmentActive
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	transition-property: none;
	transition-duration: 0s;
}

@keyframes 'BrightnessPulse'
{
	0%
	{
		brightness: 1;
	}

	50%
	{
		brightness: 10;
	}

	100%
	{
		brightness: 1;
	}
}

.BrightnessPulse
{
	animation-name: BrightnessPulse;
	animation-duration: .4s;
	animation-iteration-count: 1;
}

#AbilitySection #HypeBarBackground.Underlord_1 #HypeSegmentActive1
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #6b14a7 ), to( #6e1ef3 ) );
}

#AbilitySection #HypeBarBackground.Underlord_1 #HypeSegmentActive2
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #8d00af ), to( #6f00fc ) );
}

#AbilitySection #HypeBarBackground.Underlord_1 #HypeSegmentActive3
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #c316ca ), to( #f869ec ) );
}

#AbilitySection #HypeBarBackground.Underlord_2 #HypeSegmentActive1
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #149aa7 ), to( #1ef3d2 ) );
}

#AbilitySection #HypeBarBackground.Underlord_2 #HypeSegmentActive2
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #00a4af ), to( #00edfc ) );
}

#AbilitySection #HypeBarBackground.Underlord_2 #HypeSegmentActive3
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #16aeca ), to( #69e6f8 ) );
}

#AbilitySection #HypeBarBackground.Underlord_4 #HypeSegmentActive1
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #A73B14 ), to( #F3591E ) );
}

#AbilitySection #HypeBarBackground.Underlord_4 #HypeSegmentActive2
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #AF5500 ), to( #FC7F00 ) );
}

#AbilitySection #HypeBarBackground.Underlord_4 #HypeSegmentActive3
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #b48918 ), to( #f8cb4d ) );
}

#AbilitySection .RightSection .ProgressPip
{
	width: 8px;
	height: 100%;
	background-color: white;

	border-left: 2px solid black;
	border-right: 2px solid black;

	margin-left: 20px;
}

#AbilitySection .RightSection .ProgressPip.Hidden
{
	visibility: collapse;
}

#AbilitySection .RightSection #HypeSegment1
{
	border-right: 2px solid #000;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

#AbilitySection .RightSection #HypeSegment2
{
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-radius: 8px;
	margin-left: -3px;
	margin-right: -3px;
}

#AbilitySection .RightSection #HypeSegment3
{
	border-left: 2px solid #000;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}


.LowVisualQuality #AbilitySection .RightSection #HypeSegment1,
.LowVisualQuality #AbilitySection .RightSection #HypeSegment2,
.LowVisualQuality #AbilitySection .RightSection #HypeSegment3
{
	border-radius: 0px;
}


#AbilitySection .RightSection .OtherAbilities
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	flow-children: right;
}


.HeaderPlayerName 
{
	color: #fff;
	//font-size: 30px;
	font-size: 54px;
	font-weight: bold;
	margin-bottom: -5px;
	font-family: Ravenhook, Radiance;
	letter-spacing: 2px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #84abd9 ), to(#FFFFFF));
	text-overflow: shrink;
	text-shadow: 0px 0px 0px 3.0 #000;
}

.IsTeammate .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #cfe3b6 ), to(#6fba16));
}

.IsOpponent .HeaderPlayerName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ff5539 ), to(#ffddcd));
}

.DetailsContainer 
{
	flow-children: right;
	width: 493px;
	//width: 100%;
	horizontal-align: left;
	margin-bottom: -15px;

}



.CornerStatusLevel,
.CornerStatusGold,
.CornerStatusHealth,
.CornerStatusHype
{
	flow-children: right;
	width: fit-children;
	padding-right: 20px;
}

.CornerStatusHealth
{
	padding-right: 0px;
}


.CornerStatusHype
{
	width: 190px;
	horizontal-align: right;
	padding-right: 0px;

	vertical-align: bottom;
	margin-bottom: 4px;
	//margin-right: 12px;
}

#DuosBuddyPlayerProfile .CornerStatusHype
{
	visibility: collapse;
}

.CornerStatusHype Label
{
	width: 100%;
	text-align: right;
}


.CornerStatusLevel
{
	margin-left: 2px;
}

.CornerStatusGold
{
	horizontal-align: left;
}

.RightPlayer .CornerStatusGold
{
	//visibility: collapse;
}

#StatusLevel,
#StatusGold,
#StatusHP
{
	font-size: 54px;
}

#StatusHype
{
	font-size: 36px;
}

#StatusLevel 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #8db0f4 ), to(#aad8de));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
}

#StatusGold 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;

}

#StatusHP 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #81cd74 ), to(#b1feaa));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
	//width: 20px;
}

#StatusHype 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#bfbfbf));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
	//width: 20px;
}


.PlayerLevelIcon
{
	width: 32px;
	height: 32px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 2px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.PlayerHealthIcon
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-top: 10px;
	background-repeat: no-repeat;
	//horizontal-align: right;
}

.PlayerGoldIcon
{
	width: 26px;
	height: 26px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 3px;
}


.DetailsContainer Label 
{
	font-size: 38px;
	color: #DEDEDE;
}

.DetailsContainer Panel 
{
	//width: fill-parent-flow(1);
}



#StatusUnits 
{
	color: grey;

	font-size: 38px;

	width: fill-parent-flow(1);

	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: RadianceM;
}

.NotEnoughUnits #StatusUnits 
{
	color: yellow;
}

.TooManyUnits #StatusUnits 
{
	color: darkred;
}

.VersusScreenVisible .NeutralOpponent #UnderlordPortrait,
#UnderlordPortrait 
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 878px;
	height: 878px;
	margin-right: 60px;
	
	width: 678px;
	height: 678px;
	
	brightness: 2;
	
	z-index: 0;

	transform: translateX(100px) translateY(-100px);

	transition-property: width,height,transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
	visibility: collapse;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_psd.vtex");
}

.LowVisualQuality.VersusScreenVisible .NeutralOpponent #UnderlordPortrait,
.LowVisualQuality #UnderlordPortrait 
{
	brightness: 1;
	opacity-mask: none;
}

.IsLayoutSmallScreen #UnderlordPortrait
{
	width: 760px;
	height: 760px;
	margin-bottom: -50px;
}

.AspectRatio21x9.IsLayoutSmallScreen #UnderlordPortrait
{
	width: 760px;
	height: 760px;
	margin-bottom: -50px;

	opacity: 1;

}

.LowVisualQuality #UnderlordPortrait 
{
	transition-duration: 0.0s;
}

.VersusScreenVisible #UnderlordPortrait
{
	transform: translateX(-160px);
	width: 1100px;
	height: 1100px;
	z-index: 100;
}

.LeftPlayer #UnderlordPortrait
{
	horizontal-align: left;
	transform: ScaleX(-1) translateX(-100px) translateY(-100px);
	
	opacity: 1;
}

.VersusScreenVisible .LeftPlayer #UnderlordPortrait
{
	transform: ScaleX(-1) translateX(160px);
}


#ChatButton
{
	width: 142px;
	height: 142px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 32px;
	margin-bottom: 615px;
	//margin-top: 12px;
	//margin-left: 150px;
	background-image: url("s2r://panorama/images/hud/chat_icon_psd.vtex");
	background-size: 100% 100%;
	transition-property: brightness, opacity;
	transition-duration: .2s;
	brightness: 1.0;

	context-menu-body-position: 100% 50%;
	
	//hue-rotation:130deg;
}

.AspectRatio21x9.IsLayoutSmallScreen #ChatButton
{
	margin-right: 0px;
	margin-bottom: 500px;
}

.Underlord_4  #ChatButton 
{
	background-image: url("s2r://panorama/images/hud/chat_icon_underlord_4_psd.vtex");
}	

.Underlord_1  #ChatButton 
{
	background-image: url("s2r://panorama/images/hud/chat_icon_underlord_1_psd.vtex");
}	


#DuosBuddyPlayerProfile #ChatButton,
#OpponentPlayerStateContainer #ChatButton,
.LocalPlayerNotInMatch #ChatButton
{
	visibility: collapse;
}

#TalentsButton
{
	//width: 144px;
	//height: 144px;
	width: 135px;
	height: 135px;

	visibility: collapse;

	horizontal-align: right;
	vertical-align: bottom;
	//margin-bottom: 416px;
	//margin-right: 22px;

	//margin-bottom: 400px;
	margin-bottom: 480px;
	margin-right: 25px;
	
	
}

.LocalPlayerBoard .RightPlayer #TalentsButton
{
	visibility: visible;
	visibility: collapse; 
}

.LeftPlayer #TalentsButton
{
	horizontal-align: left;
	margin-right: 0px;
	margin-left: 22px;

	visibility: collapse;
}

#TalentSelectIcon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/underlordtalents_icon_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	
	
}

#TalentSelectPulse
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/hud/inventory_unassigned_png.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	

	animation-name: SelectTalentBGPulse;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}

.LeftPlayer #TalentSelectPulse,
.NumTalentsNeedingSelection0 #TalentSelectPulse
{
	visibility: collapse;
}

.IsLayoutSmallScreen .LeftPlayer #PlayerIcons
{
	ui-scale: 140%;
}

.LeftPlayer #PlayerIcons
{
	horizontal-align: left;

	visibility: collapse;
}

@keyframes 'SelectTalentBGPulse'
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0.15;
	}

	100%
	{
		opacity: 1;
	}
}


#SideItems
{
	height: 100%;
	horizontal-align: right;
}

#UnderlordItems
{
	width:100%;
	height:100%;
	visibility: collapse;	
}

.HasUnderlord #UnderlordPortrait ,
.HasUnderlord #UnderlordItems
{
	visibility: visible;
}

.GameMode_Sandbox #TalentsButton		{ opacity: 0; }
