DACWantedPosterTitle 
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}


#PlayerSubtitleContainer
{
	horizontal-align: center;
	height:100%;
	width:100%;
	flow-children:none;	
}

#LoadoutFX
{
	height:100%;
	width:100%;
	margin-bottom:5%;
	visibility: collapse;
}

.PosterTitleText
{
    font-size: 38px;
    color:black;
    horizontal-align:center;
    vertical-align: bottom;      
    text-overflow: shrink;
    text-align:center;
  	height:10%;
	width:60%;
	margin-bottom:10%;
	font-family: Ravenhook, k_alwaysFontNames;
}

.the_closer .PosterTitleText { color: #e1d3c6; }
.ash_man .PosterTitleText { color: #2e2a2d; }
.throne_collector .PosterTitleText { color: #2e2a2d; }
.money_man .PosterTitleText { color: #1f1c1e;  }
.default_title .PosterTitleText { color: #97887d; }
.black_title .PosterTitleText { color: black; }
.white_title .PosterTitleText { color: white; }

DACUIWeeklyChallenge .PosterTitleText
{
	font-size: 32px;
	height:32px;
	text-overflow:shrink;
	width:70%;
	margin-bottom:65px;
}

DACAchievementsPage .PosterTitleText
{
	font-size: 32px;
	height:32px;
	text-overflow:shrink;
	width:70%;
	margin-bottom:45px;
}