@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACSettingsPage {
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: center;
    /*margin-top: 48px;*/
    /*margin-left: 180px;*/
    /*margin-right: 180px;*/
    background-color: #111111;
}