DACPostGameScoreboard
{
	flow-children: down;
	ui-scale: 100%;
	overflow: scroll clip;
	max-width: 100%;
	horizontal-align: center;
	vertical-align: center;
	//margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 16px;
	opacity-mask: url("s2r://panorama/images/post_game/scoreboard_fade_psd.vtex");
}


.IsLayoutSmallScreen DACPostGameScoreboard  {
	ui-scale: 115%;
	padding-left: 0;
}

.AspectRatio21x9.IsLayoutSmallScreen DACPostGameScoreboard {
	ui-scale: 115%;
}

DACPostGameScoreboard.HideScoreboard
{
	visibility: collapse;
}

#ScoreboardEntryContainer {
	//background-image: url("s2r://panorama/images/shop/shop_backing_image_psd.vtex");
	background-size: 120%;
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

DACPostGameScoreboard #ScrollThumb {
	background-color: #2f2a28bb;
	height: 12px;
}

DACPostGameScoreboard #HorizontalScrollBar {
	background-color: #2f2a2833;
	height: 12px;
	box-shadow: none;
}

DACPostGameScoreboard #VerticalScrollBar {
	background-color: #2f2a2833;
	width: 12px;
}

#Header {
	flow-children: right;
	max-height: 48px;
}

#Header Label {
	//color: #2f2a28;
	color: #e8e7e3;
	font-size: 24px;
	padding: 16px 0px 0px 0px;
	text-transform: uppercase;
	font-weight: black;
	overflow: squish squish;
	text-overflow: shrink;
}

#ScoreboardEntryContainer {
	flow-children: down;
	width: fit-children;
}

/* Headers */

#PlaceHeader,
#RankHeader,
#WinLossHeader,
#TotalGoldHeader,
#TotalDamageHeader
{
	text-align: center;
}

/* Columns */
.Column {
	height: 76px;
}

#Header .Column
{
	height: 60px;
}

.Column.Place
{
	width: 100px;
}

.Column.Rank {
	width: 100px;
}

.Column.MiniProfile
{
	width: 80px;
	//width: 60px;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
	ui-scale: 90%;
	vertical-align: center;
}

.Column.Name {
	width: 250px;
}

.Column.Score {
	width: 180px;
}

.Column.TotalGold {
	width: 170px;
}

.Column.TotalDamage {
	width: 180px;
}

/* Roster sizers */

.Column.Roster {
	width: 710px;
	margin-right: 20px;
}

.MaxUnits1 .Column.Roster {
	width: 150px;
}

.MaxUnits2 .Column.Roster {
	width: 150px;
}

.MaxUnits3 .Column.Roster {
	width: 150px;
}

.MaxUnits4 .Column.Roster {
	width: 160px;
}

.MaxUnits5 .Column.Roster {
	width: 200px;
}

.MaxUnits6 .Column.Roster {
	width: 240px;
}

.MaxUnits7 .Column.Roster {
	width: 280px;
}

.MaxUnits8 .Column.Roster {
	width: 320px;
}

.MaxUnits9 .Column.Roster {
	width: 360px;
}

.MaxUnits10 .Column.Roster {
	width: 400px;
}

.MaxUnits11 .Column.Roster {
	width: 440px;
}

.MaxUnits12 .Column.Roster {
	width: 480px;
}

/* Alliance sizers */
.Column.Alliances {
	width: 510px;
	
	vertical-align: center;
}

.Alliances1 .Column.Alliances {
	width: 150px;
}

.Alliances2 .Column.Alliances {
	width: 168px;
}

.Alliances3 .Column.Alliances {
	width: 252px;
}

.Alliances4 .Column.Alliances {
	width: 336px;
}

.Alliances5 .Column.Alliances {
	width: 420px;
}

.Alliances6 .Column.Alliances {
	width: 504px;
}

.Alliances7 .Column.Alliances {
	width: 588px;
}

.Alliances8 .Column.Alliances {
	width: 672px;
}

.Alliances9 .Column.Alliances
{
	width: 756px;
}
.Alliances10 .Column.Alliances {
	width: 840px;

}

.Alliances11 .Column.Alliances {
	width: 924px;

}

.Alliances12 .Column.Alliances {
	width: 1008px;

}

.Column.Talent{
	width: 365px;
}

/* Global item sizers */

.Column.Global {
	width: 340px;
	margin-left: 15px;
	
}

.GlobalItems1 .Column.Global {
	width: 180px;
}

.GlobalItems2 .Column.Global {
	width: 180px;
}

.GlobalItems3 .Column.Global {
	width: 180px;
}

.GlobalItems4 .Column.Global {
	width: 208px;
}

.GlobalItems5 .Column.Global {
	width: 260px;
}

.GlobalItems6 .Column.Global {
	width: 312px;
}

.GlobalItems7 .Column.Global {
	width: 364px;
}

.GlobalItems8 .Column.Global {
	width: 416px;
}

.GlobalItems9 .Column.Global {
	width: 468px;
}

.Column.Bench {
	width: 520px;
}


/* Sizing CSS */