DACParty {
	width: 100%;
    vertical-align: bottom;	
    flow-children: down;
}


.InParty #InPartyGroup,
.InParty.PartyInMM #InPartyMMGroup,
.HasPartyInvites #InviteGroup {
    visibility: visible;
}

.InParty.PartyInMM #InPartyGroup {
    visibility: collapse;
}

#InviteGroup {
    width: 100%;
    flow-children: down;
    visibility: collapse;
    margin-bottom: 30px;
}

#InPartyMMGroup {
    width: 100%;
    flow-children: down;
    visibility: collapse;
}

#InPartyGroup {
    width: 100%;
    //height: 100%;
    flow-children: down;
    visibility: collapse;
    margin-bottom: 20px;
}

#NotInPartyGroup {
    width: 100%;
    flow-children: down;
    margin-bottom: 50px;
    visibility: collapse;
}

.CanCreateParty #NotInPartyGroup {
    visibility: visible;
}

#PartyCancelMMLabel {
    font-size: 32px;
    color: white;
    horizontal-align: center;
}

#MemberList {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
    max-height: 500px;
    flow-children: down;
    overflow: clip scroll;
    //background-color: black;
}

#PartyFooterGroup {
    width: 100%;
    flow-children: down;
    //vertical-align: bottom;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 30px;
	visibility: collapse;
}

#PartyInfoGroup {
    width: 100%;
    flow-children: right;
    background-color: #333;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

#InviteHeaderGroup {
	flow-children: right;
	width: 100%;
	padding-left: 10px;
	horizontal-align: center;
	background-color: #8588a011;
}

.InviteHeaderText {
  text-transform: uppercase;
  color: white;
  padding-bottom: 8px;
	padding-left: 0px;
	background-color: none;
	opacity: 1;
	flow-children: right;
	font-size: 24px;
	color: #8588a0;
	margin: 0px;
	padding-top: 8px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 1px;
}

.IsLayoutSmallScreen .InviteHeaderText
{
	font-size: 30px;
}

#InviteList {
    width: 100%;
}

.InviteCount {
    horizontal-align: left;
}

.InviteCount
{
	font-size: 28px;
	color: #fff;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	width: 58px;
	text-align: center;
	font-weight: bold;
	text-overflow: shrink;
}

.IsLayoutSmallScreen .InviteCount
{
	font-size: 32px;
}


.PartyInfoBlock {
    flow-children: right;
}

.PartyInfoIcon {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#PartyCodeGroup {
    width: fill-parent-flow( 1.0 );
    flow-children: right;
    vertical-align: center;
    margin-left: 8px;
    margin-top: 2px;
}

.PartyCode {
    color: #8588a0;
		font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

.IsLayoutSmallScreen .PartyCode {
    font-size: 35px;
}

#PartyCodeGroup:hover .PartyCode {
    //color: yellow;
}

.PartyInfoBlock Label {
    color: white;
    vertical-align: center;
    font-size: 30px;
    visibility: collapse;
}

#PartyInfoPlayers .PartyInfoIcon {
    background-image: url("s2r://panorama/images/dashboard/profilebutton_png.vtex");
    background-color: green;
    visibility: collapse;
}

#PartyInfoSpectators .PartyInfoIcon {
    background-image: url("s2r://panorama/images/dashboard/eye_png.vtex");
    background-color: blue;
    visibility: collapse;
}

#PartyInfoInvites .PartyInfoIcon {
    background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
    background-color: aqua;
}

#PartyInfoReady .PartyInfoIcon {
    background-image: url("s2r://panorama/images/dashboard/achievementsbutton_png.vtex");
    opacity: 0.2;
    visibility: collapse;
}

.AllReady #PartyInfoReady .PartyInfoIcon {
    opacity: 1.0;
    background-color: green;
    visibility: collapse;
}

#PartyInfoSpectators {
    visibility: collapse;
}

.HasSpectators #PartyInfoSpectators {
    visibility: visible;
    visibility: collapse;
}

#MemberList DACPartyMember {
    width: 100%;
    height: 60px;
    padding-left: 8px;
    padding-top: 2px;
    padding-right: 4px;
    margin-top: 8px;

}

#InviteList DACPartyInvite {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    margin-top: 5px;
}

.IsLayoutSmallScreen #MemberList DACPartyMember,
.IsLayoutSmallScreen #InviteList DACPartyInvite {
    width: 100%;
    height: 80px;
    padding-left: 20px;
    margin-top: 5px;
}

#PartyContextMenu
{
    width: 28px;
    margin: 4px;
    height: 28px;
    vertical-align: center;
    transition-property: opacity;
    transition-duration: .2s;
    opacity: .2;
    background-image: url("s2r://panorama/images/dashboard/icon_dropdown_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    wash-color: #b8bcdd;
}

#PartyContextMenu  Label
{
    visibility: visible;
}

.IsLayoutSmallScreen #PartyContextMenu
{
	width: 48px;
	height: 48px;
	margin: 4px;
}

.IsLayoutSmallScreen #PartyInfoInvites
{
    width: 50px;
    height: 50px;

}


#PartyContextMenu:hover
{
    opacity: 0.5;
}

#PartyContextMenu Label
{
    font-size: 24px;
    vertical-align: center;
    horizontal-align: center;
    //margin-bottom: 5px;
    color: #ffffffaa;
    //text-transform: uppercase;
}

.IsLayoutSmallScreen #PartyContextMenu Label
{
    font-size: 27px;
}

.PartyButton {
    horizontal-align: center;
    width: 100%;
    margin-top: 12px;
    min-height: 60px;
    border: 2px solid #ffffff22;
		min-width: 192px;
		min-height: 52px;
		padding: 0px 10px 0px 10px;
		margin: 0px 20px 12px 20px;
		transition-property: background-color, wash-color, brightness;
		transition-delay: 0.0s;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		//margin-right: 8px;
		//margin-left: 8px;
	}
	
	.MatchButton {
    horizontal-align: center;
    width: 100%;
    margin-top: 16px;
    min-height: 60px;
    //border: 2px solid #000;
		min-width: 192px;
		min-height: 74px;
		padding: 5px 10px 5px 10px;
		transition-property: background-color, wash-color, brightness;
		transition-delay: 0.0s;
		transition-duration: 0.1s;
		transition-timing-function: linear;
    //background-image: url("s2r://panorama/images/dashboard/btn_find_match_psd.vtex");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    saturation: 0;
    wash-color: #8588a0;
    border-top: 4px solid #f8e0b622; 
    border-right: 4px solid #7a370f33;
    border-bottom: 4px solid #62290bee;
    border-left: 4px solid #f8d25333;
	}
	
.IsLayoutSmallScreen .MatchButton
{
	height: 100px;
}

.CanPartyMM #PartyMatchMaking,
.CanPartyPrivate #PartyPrivateMatch,
.CanPartyMMRanked #PartyMatchMakingRanked {
    saturation: 1;
    wash-color: none;
}

.IsLayoutSmallScreen .PartyButton {
    horizontal-align: center;
    width: 100%;
    margin-top: 24px;
    height: 100px;
}

.PartyButton Label {
    font-size: 24px;
    vertical-align: center;
    horizontal-align: center;
    text-transform: uppercase;
		text-align: center;
    text-overflow: shrink;
		font-weight: black;
		letter-spacing: 3px;
	  color: #eeeeee;

		transition-property: color;
		transition-delay: 0.0s;
		transition-duration: 0.1s;
		transition-timing-function: linear;
}

.MatchButton Label {
    font-size: 28px;
    vertical-align: center;
    horizontal-align: center;
    text-transform: uppercase;
		padding-top: 3px;
		text-align: center;
    text-overflow: shrink;
		font-weight: bold;
		letter-spacing: 2px;
	  color: #eeeeee;
	  text-shadow: 0px 0px 0px 2.3 #000;

		transition-property: color;
		transition-delay: 0.0s;
		transition-duration: 0.1s;
		transition-timing-function: linear;
}
		
.IsLayoutSmallScreen .MatchButton Label
{
	font-size: 40px;
}

.IsLayoutSmallScreen .PartyButton Label {
    font-size: 40px;
}

.NoMatchReason {
    margin-top: 4px;
    color: #dd4e35;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    horizontal-align: center;
    font-size: 20px;
    font-weight: bold;
}

.PartyButton:hover {
    brightness: 1.3;
}

.IsLayoutSmallScreen .NoMatchReason {
    font-size: 24px;
    margin-top: 12px;
}

.CanPartyMM #NoPartyMMReason,
.CanPartyMMRanked #NoPartyMMRankedReason,
.CanPartyPrivate #NoPartyPrivateReason {
    visibility: collapse;
}

#PartyMatchMaking, #PartyPrivateMatch {

}

.CanPartyMM #PartyMatchMaking:hover,
.CanPartyMMRanked #PartyMatchMakingRanked:hover,
.CanPartyPrivate #PartyPrivateMatch:hover {
    brightness: 1.3;
}

#PartyMatchMaking
{
	background-image: url("s2r://panorama/images/dashboard/btn_find_match_dis_psd.vtex");
}

#PartyPrivateMatch
{
	background-image: url("s2r://panorama/images/dashboard/btn_private_match_dis_psd.vtex");
}

.CanPartyMM #PartyMatchMaking
{
	background-image: url("s2r://panorama/images/dashboard/btn_find_match_psd.vtex");
}

.CanPartyMMRanked #PartyMatchMakingRanked {
    background-image: url("s2r://panorama/images/dashboard/btn_find_match_psd.vtex");
}

.CanPartyPrivate #PartyPrivateMatch
{
	background-image: url("s2r://panorama/images/dashboard/btn_private_match_psd.vtex");
}

.CanPartyMM #PartyMatchMaking,
.CanPartyMMRanked #PartyMatchMakingRanked,
.CanPartyPrivate #PartyPrivateMatch {
    border-top: 4px solid #f8e0b6aa;
    border-right: 4px solid #7a370faa;
    border-bottom: 4px solid #62290baa;
    border-left: 4px solid #f8d253cc;
}

.ShowPartyCode #PartyCodeVisible,
#PartyCodeHidden {
    visibility: visible;
    color: #ffffff;
}

#PartyCodeVisible,
.ShowPartyCode #PartyCodeHidden {
    visibility: collapse;
}

#PrivateBotSettings {

    width: 100%;
    //height: 44px;
    margin: 8px 0px 0px 0px;
    horizontal-align: center;
    transition-property: background-color;
    transition-duration: .2s;
    visibility: collapse;
}

.HasBotSlots #PrivateBotSettings {
    visibility: visible;
}

.IsLayoutSmallScreen #PrivateBotSettings {
    height: 72px;
}

#PrivateBotSettings:hover
{
    //background-color: #ffffff05;
}

/*#PrivateBotSettings Label {
    color: gray;
    font-size: 21px;    
    margin: 8px;
    text-transform: uppercase;
    horizontal-align: center;
    transition-property: color;
    transition-duration: .2s;
}*/

.IsLayoutSmallScreen #PrivateBotSettings Label {
    font-size: 30px;    
}

#PrivateBotSettings:hover Label {
    color: #ffffffaa;

}

#DisconnectedFromGCGroup {
    width: 100%;
    height: 400px;
    visibility: visible;
}

.ConnectedToGC #DisconnectedFromGCGroup {
    visibility: collapse;
}

#PartyNotConnectedToGC {
    font-size: 20px;
    color: gray;
    horizontal-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

#ConnectedToGCGroup {
    width: 100%;
    //height: 100%;
    height: fit-children;
    visibility: collapse;
    flow-children: down;
}

.ConnectedToGC #ConnectedToGCGroup {
    visibility: visible;
}

#PlayOptionDivider
{
	text-align: center;
	horizontal-align: center;
	color: #8588a0;
	font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
	margin-top: 20px;
  width: 100%;
}

.IsLayoutSmallScreen #PlayOptionDivider
{
	font-size: 32px;
}

