
DACScoreboardEntry
{
	flow-children: right;
	background-color: #352d3e55;
}

DACScoreboardEntry.Odd 
{
	
	background-color: #221c2855;
}

/* Headers */

.HeaderSpacer
{
	width: 210px;
}

.IsPlatformMobile.AspectRatio16x9 .HeaderSpacer
.IsPlatformMobile.AspectRatio21x9 .HeaderSpacer{
	width: 290px;
}

#RankHeader {
	width: 100px;
	text-align: center;
}

#WinLossHeader {
	width: 180px;
	text-align: center;
	background-color: #00000055;
}

#TotalGoldHeader
{
	width: 170px;
	text-align: center;
}

#RosterHeader {
	//width: 620px;
	width: 710px;
	background-color: #00000055;
}

#AlliancesHeader {
	//width: 240px;
	width: 510px;
}

#GlobalHeader {
	width: 260px;
	background-color: #00000055;
}

#BenchHeader {
	//width: 480px;
	width: 260px;
}


/* Columns */
.Column {
	height: 130px;
}

.Column.Rank {
	width: 100px;
	margin-left: 210px;
}

.IsPlatformMobile .Column.Rank {
	margin-left: 275px;
}

.IsPlatformMobile.AspectRatio4x3 .Column.Rank {
	margin-left: 210px;
}

.IsPlatformMobile.AspectRatio21x9 .Column.Rank {
	margin-left: 150px;
}

.Column.Score {
	width: 180px;
	flow-children: down;
	background-color: #00000044;
}

.Column.TotalGold {
	width: 170px;
}

.Column.Roster {
	//width: 620px;
	width: 710px;
	background-color: #00000044;
}

.Column.Alliances {
	//width: 240px;
	width: 510px;
	//width: 440px;
	padding-top: 5px;
	padding-left: 5px;
	vertical-align: center;
}

.Column.Global {
	width: 260px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #00000044;
}

.Column.Bench {
	width: 260px;
	//width: 1000px;
	//background-color: #00000044;
}

/* Rank icon */
#RankIcon {
	ui-scale: 65%;
	
	
	horizontal-align: center;
	vertical-align: center;
}

/* Win/Loss */

.HasWinStreak .WinLossRecord,
.HasLoseStreak .WinLossRecord
{
	margin-top: 30px;
}

.WinLossRecord {
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
	horizontal-align: center;
}

.TotalGoldLabel {
	color: gold;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
	horizontal-align: center;
}


.Streak {
	visibility: collapse;
}

.WinStreak,
.LoseStreak
{
	text-transform: uppercase;
	font-weight: black;
	font-size: 18px;
	horizontal-align: center;
}

.WinStreak
{
	color: gold;
}

.LoseStreak
{
	color: #aaa;
}

.HasWinStreak .Streak.WinStreak {
	visibility: visible;
}

.HasLoseStreak .Streak.LoseStreak {
	visibility: visible;
}

/* Roster */
#RosterContainer {
	flow-children: right;
}

#RosterUnitIcon {
	//width: 45px;
	//height: 45px;
	width: 48px;
	height: 48px;
}

#BenchContainer .HasItem #ItemIcon{
	visibility: collapse;
}

.HasItem #ItemIcon{
	visibility: visible;
}

#ItemIcon {
	margin-top: 65px;
	//ui-scale: 80%;
	//ui-scale: 70%;
	ui-scale: 80%;
	visibility: collapse;
}

.IsPlatformMobile #ItemIcon {
	ui-scale: 45%;
}

.IsPlatformMobile DACInventoryItem,
.ScoreboardVisible.IsPlatformMobile.AspectRatio21x9 DACInventoryItem
{
	ui-scale: 50%;
}

.RosterUnit {
	margin: 15px 10px -5px 10px;
	vertical-align: top;
	//margin-bottom: 42px;
	ui-scale: 90%;
	//ui-scale: 80%;
}

.RosterUnit.HasItem
{
	//margin-bottom: 0px;
}

#BenchContainer .RosterUnit
{
	ui-scale: 85%;
	margin-top: 12px;
}

.HeroRank {
	visibility: collapse;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 100%;
	margin-top: 35px;

	text-shadow: 0px 0px 0px 1.0 #fff;
}

.Rank1
{
	color: #b29d8e;
}

.Rank2
{
	color: #b8c6dd;
}

.Rank3
{
	color: #fffb11;							
}

.Rank1 .HeroRank.Rank1 {
	visibility: visible;
}

.Rank2 .HeroRank.Rank2 {
	visibility: visible;
}

.Rank3 .HeroRank.Rank3 {
	visibility: visible;
}

/* Alliances */
#SynergyContainer {
	flow-children: right-wrap;
	
}

DACSynergyIcon {
	ui-scale: 55%;
}


/* Globals */
#GlobalContainer
{ 
	flow-children: right-wrap;
}

#GlobalContainer Image {
	width: 50px;
	height: 50px;
	margin: 5px;
}

/* Bench */
#BenchContainer {
	flow-children: right-wrap;
}
