DACRoundStart
{
	width:100%;
	height:100%;
	
	vertical-align: center;
	horizontal-align: center;

	visibility: collapse;
}

DACRoundStart.Visible
{
	visibility: visible;
}

.ShopVisible DACRoundStart
{
	vertical-align: bottom;
	ui-scale: 70%;
}

.IsDragging DACRoundStart
{
	visibility: collapse;
}

.IsLayoutLargeScreen DACRoundStart
{
	ui-scale: 70%;
	padding: 10%;
}

.IsLayoutSmallScreen DACRoundStart
{
		ui-scale: 80%;	
}

.NextRound_BG
{
	width: 2500px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;
}

.IsLayoutLargeScreen .NextRound_BG
{
	margin-top: -100px;
}

@keyframes 'NextRoundAnim'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 0.0;
		wash-color: black;
	}
		
	4%
	{
		opacity: 1; 
		pre-transform-scale2d: 1.1;
		wash-color: white;
	}
	
	10%
	{
		pre-transform-scale2d: 1.0;
	}
	 
	90%
	{
		pre-transform-scale2d: 1;
		wash-color: white;
	}
	
	95%
	{
		opacity: 1; 
		wash-color: white;
		pre-transform-scale2d: 1.1;
	}
	to
	{
		opacity: 0; 
		wash-color: black;
		pre-transform-scale2d: 0;
	}
}

.FadeNextRound .NextRound_GoldInfo
{
	opacity: 1;
	animation-name: NextRoundAnim;
	animation-delay: 0.0s;
	animation-duration: 5.0s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

#TitleLine
{
	width: fit-children;
	height: 160px;
	margin-top: 180px;
	vertical-align: center;
	horizontal-align: center;
	padding: 0px 40px;
	overflow: noclip;
}

#NextRoundLabel
{
	font-size: 120px;
	font-weight: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	background-image: url("s2r://panorama/images/hud/black_text_bg_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	width: fit-children;
	height: 148px;
	vertical-align: top;
	horizontal-align: center;
	animation-delay: 0.0s;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
	padding: 0px 50px 0px 50px;
}

.RoundNumber_0 DACRoundStart.Visible
{
	visibility: collapse;
}

#NeutralRoundName
{
	visibility: collapse;
	font-size: 52px;
	font-weight: bold;
	color: white;
	//color: gradient(linear, 0% 0%, 0% 100%, from( #ffc680 ), to(#f7b461));
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	background-image: url("s2r://panorama/images/hud/black_text_bg_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 120px;
	padding: 0px 20px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	width: fit-children;
	//height: 100px;
	vertical-align: top;
	horizontal-align: center;
	animation-delay: 0.0s;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
}


.Language_schinese #NextRoundLabel,
.Language_tchinese #NextRoundLabel
{
	height: 180px;
}

.Language_schinese #NeutralRoundName,
.Language_tchinese #NeutralRoundName
{
	margin-top: 150px;
}


.NeutralRound #NeutralRoundName
{
	visibility: collapse;
}

.NextRound_GoldInfo
{
	width: 800px;
	height: 100%;
	flow-children: down;
	horizontal-align: center;
	margin-top: 440px;
}

.IsLayoutSmallScreen .NextRound_GoldInfo
{
	margin-top: 460px;
}

.NextRound_GoldInfoBreakdown
{
	width: 100%;
	height: 100%;
	flow-children: down;
	horizontal-align: center;
}

.BreakdownLabel
{
	letter-spacing: 8px;
	margin-top: 0px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	text-overflow: shrink;
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 36px;
	font-weight: bold;
	
	transition-property: height, transform, opacity;
	transition-duration: 0s, .1s, .1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
	opacity: 0;
	transform: translateY(-36px);
	height: 0px;
}

.TopRound
{
	//background-color: red;
	horizontal-align: center;
	width: 300px;
	height: 48px;
	margin-top: 284px;
	z-index: 2;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.4s;
	transform: rotateZ(-3deg);
	background-image: url("s2r://panorama/images/hud/top_round_bg_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
}

.GameMode_Streetfight .TopRound
{
    visibility: collapse;
}

.TopFour .TopRound,
.TopThree .TopRound,
.TopTwo .TopRound
{
	opacity: 1;
}
.TopFour .TopFourLabel,
.TopThree .TopThreeLabel,
.TopTwo .TopTwoLabel
{
	opacity: 1;
}

.TopFour .TopThreeLabel,
.TopFour .TopTwoLabel,
.TopThree .TopFourLabel,
.TopThree .TopTwoLabel,
.TopTwo .TopFourLabel,
.TopTwo .TopThreeLabel

{
	opacity: 0;
}

.TopRoundLabel
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 40px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffc400 ), to(#fffdd7));
	padding: 0px;
	text-overflow: shrink;
	text-shadow: 0px 1px 0px 3.0 #000;
}

.GameMode_Streetfight .TopRoundLabel {
    visibility: collapse;
}

.ShowOffensiveGem .BreakdownFreeOffensiveGemLabel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #AA0000 ), to(#ffe287));
}

.ShowDefensiveGem .BreakdownFreeDefensiveGemLabel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #00FF00 ), to(#ffe287));
}

.ShowSupportGem .BreakdownFreeSupportGemLabel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #00FF00 ), to(#ffe287));
}


.ShowInterest .BreakdownInterestLabel,
.ShowStreak .BreakdownStreakLabel,
.ShowItems .BreakdownItemsLabel,
.ShowVictoryGold .BreakdownVictoryLabel,
.ShowRoundGold .BreakdownRoundGoldLabel,
.ShowFreeReroll .BreakdownFreeRerollLabel,
.ShowOffensiveGem .BreakdownFreeOffensiveGemLabel,
.ShowDefensiveGem .BreakdownFreeDefensiveGemLabel,
.ShowSupportGem .BreakdownFreeSupportGemLabel
{
	height: 40px;
	opacity: 1.0;
	transform: translateY(36px);
}

.ShowTotalGold #BreakdownTotalGold
{
	margin-top: 20px;
	opacity: 1.0;
	height: 100px;
	transform: translateY(36px);
}

#BreakdownTotalGold
{
	font-size: 60px;
	text-shadow: 0px 1px 0px 3.0 #000;
}

.LineBreak
{
	width: 576px;
	height: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	horizontal-align: center;

	background-color: #d8b14a;

	transition-property: opacity;
	transition-duration: 0.0s;
	opacity: 0.0;

	border: 1px solid #444;
}

.ShowTotalGold .LineBreak
{
	opacity: 1;
}

.LowVisualQuality .BreakdownLabel,
.LowVisualQuality .LineBreak
{
	transition-duration: 0s;
}