#PlayerIcons
{
	//width: 564px;
	width: 500px;
	height: 1000px;
	horizontal-align: right;
	ui-scale: 120%;
	vertical-align: top;
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transform: translateX( 0px );
	margin-right: -20px;
}

.IsLayoutSmallScreen #PlayerIcons
{
	ui-scale: 200%;
	height: 590px;
	width: 480px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #PlayerIcons
{
	margin-top: 300px;
	height: 650px;
	width: 480px;
}

.IsLayoutSmallScreen.ShopVisible #PlayerIcons
{
	visibility: collapse;
}


#SynergyIcons
{
	width: fit-children;
	//horizontal-align: right;
	//flow-children: left-wrap;
	horizontal-align: left;
	flow-children: right-wrap;
	margin-top: 5px;

}

.IsLayoutSmallScreen #SynergyIcons.IconList,
.IsLayoutSmallScreen DACInventory.IconList
{
	flow-children: down-wrap-left;
	max-height: 500px;
	horizontal-align: right;
	width: 700px;
}

.IconTab DACInventory
{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	//flow-children: left-wrap;
	flow-children: right-wrap;
	horizontal-align: left;
}

.IconsPanel
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	//vertical-align: middle;
	vertical-align: top;
	margin-top: 45px;
	margin-bottom: 20px;
}


.IsLayoutSmallScreen .IconsPanel
{
	overflow: noclip;
}

.IsLayoutSmallScreen .IconsPanel,
#IconsMobileContainer
{
	flow-children: none;
	vertical-align: bottom;
	height: 450px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconsPanel
{
	height: 600px;
	margin: 0px;
	vertical-align: center;
}

.IconSection
{
	width: 100%;
	transform: translateX( 0px ) translateY( 0px );
	vertical-align: middle;
	height: fit-children;
}

.AspectRatio4x3 #ItemsSection
{
	margin-right: 50px;
}

.AspectRatio4x3 #IconsMobileContainer
{
	visibility: collapse;
}


.ShowBattleStats #BattleStatsSection,
.ShowSynergies #SynergiesSection,
.ShowItems #ItemsSection
{
	margin-bottom: 10px;
}

.IsLayoutSmallScreen .IconSection
{
	flow-children: none;
	transform: translateX(0px) translateY(0px);
	max-height: 100%;
	margin: 0px;
}


.IconTab
{
	width: 100%;
	height: fit-children;
	vertical-align: middle;
	margin-top: 50px;
}

.IsLayoutSmallScreen .IconTab
{
	horizontal-align: right;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconTab
{
	margin: 0px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #SynergiesSection .IconTab
{
	ui-scale: 90%;
}

#BattleStats.IconTab
{
	margin-top: 10px;
}

.IconList
{
	//padding-right: 76px;
	padding-right: 0px;
	//padding-top: 12px;
	//padding-bottom: 4px;

	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;			
}

.IsLayoutSmallScreen .IconList
{
	padding-right: 72px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .IconList
{
	ui-scale: 90%;
	padding-right: 95px;
	width: 400px;
	max-height: 900px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .BattleStatsParent .IconList
{
	width: 420px;
	max-height: 900px;
	height: fit-children;
}


.IsLayoutSmallScreen.AspectRatio16x9 .IconList
{
	padding-right: 95px;
}

.IsLayoutSmallScreen #SynergyIcons.IconList
{
	padding-right: 78px;
}

.IsLayoutSmallScreen .IconList
{
	transform: translateX( 100% );
	visibility: collapse;
}
#BattleStats.IconList
{
	//padding-right: 50px;
	visibility: collapse;
}
#SynergyIcons.IconList
{
	//padding-right: 50px;
	padding: 0px;
	padding-left: 25px;
	visibility: collapse;
}
.ShowSynergiesCondensed #SynergyIcons.IconList
{
	padding-right: 82px;
	visibility: collapse;
}

.ShowSynergies #SynergyIcons.IconList,
.ShowItems #Items.IconList,
.ShowBattleStats #BattleStats.IconList,
.IsLayoutLargeScreen #SynergyIcons.IconList,
.IsLayoutLargeScreen #Items.IconList,
.IsLayoutLargeScreen #BattleStats.IconList
{
	transform: translateX(0px);
	visibility: visible;
}

#SynergyIcons DACSynergyIcon
{
	width: 160px;
	height: 92px;
	overflow: noclip;
	ui-scale: 60%;
	visibility: collapse;
	padding: 0px;
	margin: 0px;
	//vertical-align: middle; 
	margin-bottom: 0px;
}

#SynergyIcons DACSynergyIcon.Appear
{
	visibility: visible;
}

#SynergyIcons DACSynergyIcon.HiddenInactive
{
	visibility: collapse;
}

.IsLayoutSmallScreen #SynergyIcons
{
	ui-scale: 130%;
}

.TopDivider
{
	background-image: url("s2r://panorama/images/hud/horizontal_divider_psd.vtex");
	background-size: 100% 100%;
	width: 80%;
	height: 8px;
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	visibility: visible;
	opacity: 0.3;
	horizontal-align: right;

	visibility: collapse;
}
.IsLayoutSmallScreen .TopDivider
{
	visibility: collapse;
}

.Collapse .TopDivider
{
	transform: translateX( 480px );
}

.NumSynergyIconsVisible0 #SynergiesSection,
.NumSynergyIconsVisible0 #IconsMobileSelector .ToggleSectionButton.Synergies,
.NumItemIconsVisible0 #ItemsSection,
.NumItemIconsVisible0 #IconsMobileSelector .ToggleSectionButton.Items
{
	visibility: collapse;
}

.ToggleSectionButton
{
	horizontal-align: right;
	width: 80px;
	height: 100px;
	background-size: 70px 90px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	brightness: 1;
	transition-property: brightness;
	transition-duration: 0.1s;
}
.LowVisualQuality .ToggleSectionButton
{
	transition-property: none;
}

.IsLayoutSmallScreen .IconsPanel .IconSection .ToggleSectionButton
{
	visibility: collapse;
}
.IsLayoutSmallScreen #IconsMobileContainer,

{
	visibility: visible;
}

#IconsMobileContainer
{
	horizontal-align: right;
	//visibility: collapse;
	width: fit-children;
	vertical-align: bottom;
	margin-right: 22px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #IconsMobileContainer
{
	//vertical-align: center;
	//margin-top: 300px;
	vertical-align: center;
}

.AspectRatio21x9.IsLayoutSmallScreen #IconsMobileContainer
{
	horizontal-align: right;
	//visibility: collapse;
	width: fit-children;
	vertical-align: bottom;
	margin-right: 0px;
	
}

#IconsMobileSelector  
{
	width: 100px;
	height: fit-children;
	flow-children: down;
	vertical-align: middle;
	padding-top: 10px;
	//margin-right: 0px;
}

.IsLayoutLargeScreen #IconsMobileSelector
{
	visibility: collapse;
}


.IsLayoutSmallScreen	.ShowSynergies		.ToggleSectionButton.Synergies,
.IsLayoutSmallScreen	.ShowItems			.ToggleSectionButton.Items,
.IsLayoutSmallScreen	.ShowBattleStats	.ToggleSectionButton.BattleStats
{
	brightness: 8;
}

.IsLayoutSmallScreen .ToggleSectionButton.Items
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_items_psd.vtex");
}

.IsLayoutSmallScreen .ToggleSectionButton.Synergies
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_synergies_psd.vtex");
}

.IsLayoutSmallScreen .ToggleSectionButton.BattleStats
{
	background-image: url("s2r://panorama/images/hud/right_tab_icon_dps_psd.vtex");
}

.ToggleIcon {
	width: 30px;
	height: 30px;
	//background-color: red;
}

.SidebarLabel {
	font-size: 28px;
	//font-size: 24px;
	text-transform: uppercase;
	margin-right: 40px;
	margin-top: 3px;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #605979 ), to( #48425F ) );
	//color: gradient( linear, 0% 0%, 0% 100%, from( #aaaaaa ), to( #888888 ) );
	color: gradient(linear, 0% 0%, 0% 100%, from( #7e8bab ), to(#a9b6d5) );
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: black;
	letter-spacing: 2px;
	//text-shadow: 0px 0px 0px 3 #000000;
	vertical-align: middle;

	transition-property: opacity;
	transition-duration: .2s;

	horizontal-align: left;
	
	
}

.IsLayoutSmallScreen .SidebarLabel
{
	font-size: 12px;
	text-align: right;
	horizontal-align: right;
	margin-right: 12px;
	margin-bottom: -4px;
	vertical-align: bottom;
	width: 90px;
	height: 17px;
	visibility: collapse;
}

.ShowBattleStats #BattleStatsSection .SidebarLabel
{
	opacity: 0;
}

.LocalPlayer {
	width: 100%;
	//flow-children: left;
	flow-children: right;
	margin-bottom: 20px;
	height: 60px;
}


// BATTLE STATS SECTION

#BattleStatsSection,
DACDPSChart
{
	horizontal-align: right;
	margin-bottom: 8px;
	
}

.IsLayoutSmallScreen #BattleStatsSection
{
	vertical-align: middle;
}

#BattleStatsSection,
#IconsMobileSelector .LocalPlayer.ToggleSectionButton.BattleStats
{
	visibility: collapse;
}
.BattleStatsEnabled #BattleStatsSection,
.BattleStatsEnabled #IconsMobileSelector .LocalPlayer.ToggleSectionButton.BattleStats
{
	visibility: visible;
}