
DACDPSChart
{
	opacity: 0;
	//transform: translateX(1000px);
	//transition-property: transform;
	//transition-duration: 0.15s;

	width: 470px;
	//width: 300px;
}
.LowVisualQuality DACDPSChart
{
	transition-property: none;
}

.IsLayoutSmallScreen DACDPSChart
{
	ui-scale: 75%;
	width: 420px;
	//background-color: #000000cc;
	background-image: url("s2r://panorama/images/right_bar_backers/right_bar_backer_battlestats_psd.vtex");
	background-size: 100%;
	height: 539px;
	padding: 20px;
	//border-radius: 8px;
	//border: 2px solid black;
	margin-right: 14px;
	margin-top: -2px;
}

.IsLayoutSmallScreen.AspectRatio4x3 DACDPSChart
{
	ui-scale: 75%;
	width: 500px;
	height: 900px;
	max-height: 900px;
	height: fit-children;
	//background-color: #000000cc;
	//border: 2px solid black;
	margin-right: 10px;
	//margin-bottom: 100px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .ShowAllTabs DACDPSChart
{
	max-height: 360px;
}

.DPSActive DACDPSChart#DPS
{
	opacity: 1;
	//transform: translateX(0px);
}
.DamageDealtActive DACDPSChart#DamageDealt
{
	opacity: 1;
	//transform: translateX(0px);
}
.DamageTakenActive DACDPSChart#DamageTaken
{
	opacity: 1;
	//transform: translateX(0px);
}
.HealingDoneActive DACDPSChart#HealingDone
{
	opacity: 1;
	//transform: translateX(0px);
}
.KillsActive DACDPSChart#Kills
{
	opacity: 1;
	//transform: translateX(0px);
}
.DisableDoneActive DACDPSChart#DisableDone {
    opacity: 1;
    //transform: translateX(0px);
}

#BattleStatsBody,
.BattleStatsHeader
{
	//background-image: url("s2r://panorama/images/hud/stats_background_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% auto;
	//background-color: #000000de;
	//border-bottom: 4px solid #00000055;
	opacity-mask: url("s2r://panorama/images/masks/bottom_fade_with_scroll_psd.vtex");
	width: 400px;
}

.IsLayoutLargeScreen #BattleStatsBody
{
	width: 440px;
}

#BattleStatsBody
{
	//box-shadow: #000000bb 0px 0px 22px;
	//flow-children: down;
}

.IsLayoutSmallScreen.AspectRatio4x3 #BattleStatsBody
{
	max-height: 100%;
	height: fit-children;
}

.IsLayoutSmallScreen #BattleStatsBody
{
	margin-bottom: 20px;
}

.BattleStatsHeader
{
	height: 40px;
	width: 100%;
}

.ChartTypeOld
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	//horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	padding-top: 4px;
	//text-align: center;
	horizontal-align: left;
	opacity: 1;
}

.ChartType
{
	font-size: 28px;
	//font-size: 24px;
	text-transform: uppercase;
	margin-right: 40px;
	margin-top: 0px;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #605979 ), to( #48425F ) );
	//color: gradient( linear, 0% 0%, 0% 100%, from( #aaaaaa ), to( #888888 ) );
	//color: gradient(linear, 0% 0%, 0% 100%, from( #7e8bab ), to(#a9b6d5) );
	color: gradient(linear, 0% 0%, 0% 100%, from( #7272c7 ), to(#cdd2f3) );
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: black;
	letter-spacing: 2px;
	//text-shadow: 0px 0px 0px 3 #000000;
	vertical-align: middle;
	horizontal-align: left;
	//brightness: 3;
	padding-left: 2px;
	
	font-family: ravenhook;
}

.DPSRow
{
	height: 36px;
	margin-bottom: 8px;
	margin-right: 8px;
	flow-children: right;
	transition-property: position;
	transition-duration: 0.2s;
}

.DPSRow:hover
{
	brightness: 1.2;
}

.LowVisualQuality .DPSRow
{
	transition-property: none;
	transition-duration: 0s;
}

.BarContainer {
	height: 200px;
	width: 372px;
	// if you change width here, also change max-width in:
	// .IsLayoutSmallScreen .DPSOverlay .NameLabel
	// and width in:
	// .IsLayoutSmallScreen .BarContainer	
}

.IsLayoutSmallScreen .BarContainer {
	width: 320px;
	margin-left: 2px;
	// if you change width here, you may also need to change width in:
	// .BarContainer
	// and max-width in:
	// .IsLayoutSmallScreen .DPSOverlay .NameLabel
}

.DPSOverlay .NameLabel
{
	max-width: 185px;
	text-overflow: ellipsis;
}

.IsLayoutSmallScreen .DPSOverlay .NameLabel
{
	font-size: 24px;
	font-size: 27px;
	vertical-align:middle;
	text-overflow:ellipsis;
	max-width: 230px;
	max-width: 200px;
	// If you change max-width here, you may also need to change width in:
	// .BarContainer
	// and
	// .IsLayoutSmallScreen .BarContainer
}

DACDPSChart VerticalScrollBar
{
	//todo
	//margin-right: -5px;
	//background-color: #00000077;
	overflow: noclip;
}

DACDPSChart VerticalScrollBar .ScrollThumb, HTMLVerticalScrollBar .ScrollThumb
{
	background-color: #adade033;
	border: 0px solid white;
	//border-radius: 3px;
	margin-left: 2px;
	//margin-top: 65px;
}


DACDPSChart VerticalScrollBar:hover .ScrollThumb, HTMLVerticalScrollBar:hover .ScrollThumb {
	background-color: #adade066;
}


DACDPSChart VerticalScrollBar:active .ScrollThumb, HTMLVerticalScrollBar:active .ScrollThumb {
	background-color: #adade0aa;
}


#HeroIcon
{
	width: 36px;
	height: 36px;
	margin-right: 5px;
	margin-top: 6px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	brightness: 2;
}

.IsUnderlord #HeroIcon 
{
	width: 42px;
	height: 42px;
	margin-top: -2px;
	margin-right: -2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#DPSBarContainer
{
	height: 100%;
	transition-property: width;
	transition-duration: 1s;
	flow-children: right;
}

#PhysicalDmgBar
{
	height: 100%;
	background-image: url("s2r://panorama/images/hud/dps_physical_damage_bar_psd.vtex");
	background-size: 100% 6px;
	background-repeat: no-repeat;
	background-position: bottom;
	transition-property: width;
	transition-duration: 1s;
	width: 100%;
	margin-bottom: 2px;
	brightness: 2;
}

#MagicalDmgBar
{
	height: 100%;
	background-image: url("s2r://panorama/images/hud/dps_magical_damage_bar_psd.vtex");
	background-size: 100% 6px;
	background-repeat: no-repeat;
	background-position: bottom;
	transition-property: width;
	transition-duration: 1s;
	width: 100%;
	margin-bottom: 2px;
	brightness: 2;
}

#PureDmgBar
{
	height: 100%;
	background-image: url("s2r://panorama/images/hud/dps_pure_damage_bar_psd.vtex");
	background-size: 100% 6px;
	background-repeat: no-repeat;
	background-position: bottom;
	transition-property: width;
	transition-duration: 1s;
	width: 100%;
	margin-bottom: 2px;
	brightness: 2;
}

.TeamNumber3 #PhysicalDmgBar {
	background-image: url("s2r://panorama/images/hud/dps_physical_damage_bar_enemy_psd.vtex");
}

.TeamNumber3 #MagicalDmgBar {
	background-image: url("s2r://panorama/images/hud/dps_magical_damage_bar_enemy_psd.vtex");
}

.TeamNumber3 #PureDmgBar {
	background-image: url("s2r://panorama/images/hud/dps_pure_damage_bar_enemy_psd.vtex");
}

.DPSOverlay Label
{
	color: #dfe6f9;
	//color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 0px 0px 2.0 #000;
	font-size: 22px;
	margin-top: 1px;
	text-overflow: shrink;
}

.IsLayoutSmallScreen .DPSOverlay Label
{
	font-size: 27px;
}

.DPSOverlay .NumberOutput
{
	color: #e4e7ff;
	font-weight: bold;
	horizontal-align: right;
	text-align: right;
}

.NumberSpacer
{
	width: fill-parent-flow( 1 );
	height: 100%;
}

.DPSChartContainer
{
	overflow: clip scroll;
	padding-bottom: 0px;
	margin-bottom: 0px;
	opacity: 1;
	visibility: visible;

	//margin-top: 50px;
	margin-top: 100px;
	//padding-top: 110px;
	padding-top: 10px;
	height: 193px;
	width: 450px;
	//border-bottom: 3px solid #11111188;

	//background-color: #00000066;
}

#DPSChartContainerDummy.DPSChartContainer
{
	height: 0px;
}

.IsLayoutSmallScreen .DPSChartContainer
{
	max-height: 315px;
	max-height: 525px;
	margin-top: 0px;
	margin-top: 35px;
}

.AspectRatio4x3.IsLayoutSmallScreen .DPSChartContainer
{
	max-height: 900px; 
	height: fit-children;
}

.DPSOverlay .StarIcon
{
	visibility: collapse;
	letter-spacing: -3px;
	text-overflow: clip;
	margin-right: 8px;
	margin-left: 3px;
	margin-top: -1px;
	font-size: 20px;
}

.DPSRow.OneStar .OneStar
{
	visibility: visible;
	color: rank1Color;
}
.DPSRow.TwoStar .TwoStar
{
	visibility: visible;
	color: rank2Color;
}
.DPSRow.ThreeStar .ThreeStar
{
	visibility: visible;
	color: rank3Color;
}

.DPSRow.IsUnderlord .OneStar
{
	visibility: collapse;
}
.DPSRow.IsUnderlord .TwoStar
{
	visibility: collapse;
}
.DPSRow.IsUnderlord .ThreeStar
{
	visibility: collapse;
}

/* Mobile sizing */

.IsLayoutSmallScreen .DPSRow
{
	height: 40px;
}

.IsLayoutSmallScreen #HeroIcon
{
	width: 40px;
	height: 40px;
	margin-right: 2px;
}

.IsLayoutSmallScreen .StarIcon
{
	//vertical-align:middle;
}
.IsLayoutSmallScreen .NameLabel
{
	//visibility: collapse;
}

.IsLayoutSmallScreen .DPSOverlay .StarIcon
{
	//margin-left: 0px;
	font-size: 22px;
	//margin-top: 1px;
}

#PipsContainer
{
	//margin-top:20px;
	margin-bottom:-3px;
	vertical-align: bottom;
	height:20px;
	flow-children:right;
	horizontal-align:center;
	//horizontal-align: right;
	//width: 100%;
	//background-color: #000000aa;
}
.Pip
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hud/stats_pip_off_psd.vtex");
	margin-left: 2px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#DamageTaken #DamageTakenPip
{
	background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}
#DamageDealt #DamageDealtPip 
{
	background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}
#HealingDone #HealingDonePip 
{
	background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}
#DPS #DPSPip
{
	background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}
#Kills #KillsPip {
	background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}
#DisableDone #DisableDonePip {
    background-image: url("s2r://panorama/images/hud/stats_pip_on_psd.vtex");
}

.ButtonHolder
{
	width:100%;
	height:50px;
	flow-children:right;
	background-color: #000000dd;
	//margin-top: 244px;
	margin-top: 50px;
}

.ButtonHolder Button
{
	width:50%;
	height:100%;
	background-image: url("s2r://panorama/images/hud/dps_tab_off_psd.vtex");
	background-size: 100% 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #2b2448 ), to(#00000088));
}
.ButtonHolder Label
{
	text-align:center;
	width:100%;
	color: #8588a0;
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align:middle;
	height:25px;
}

.ShowPlayerBattleStats #PlayerButton 
{
	background-image: url("s2r://panorama/images/hud/dps_tab_on_left_psd.vtex");
	brightness: 1.2;
}

.ShowEnemyBattleStats #EnemyButton
{
	background-image: url("s2r://panorama/images/hud/dps_tab_on_right_psd.vtex");
	brightness: 1.2;
}

.ShowPlayerBattleStats #PlayerButton Label, .ShowEnemyBattleStats #EnemyButton Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
}
.ShowPlayerBattleStats #EnemyButton, .ShowEnemyBattleStats #PlayerButton
{
	brightness: 0.5;
}

#PlayerButton
{
	margin-right: 1px;	
}

#EnemyButton
{
	margin-left: 1px;
}

//TESTING NEW DESIGN MERGING PLAYER AND ENEMY STATS

#PlayerVsEnemyDivider
{
	margin-top: 7px;
	margin-bottom: 6px;
	height: 3px;
	width: 100%;
	background-color: #ffffff09;
}

.ShowPlayerBattleStats #DPSChartContainerEnemy,
.ShowEnemyBattleStats #DPSChartContainerPlayer
{
	//opacity: 0;
	//visibility: collapse;
}

#DPSCharts
{
	padding: 0px 8px 0px 8px;
	width: 100%;
}

.DPSChartContainer
{
	flow-children: down;
	width: fit-children;
	padding-right: 15px;
}

#DPSChartContainerEnemy .DPSOverlay Label
{
	color: #ffb99a;
}
#DPSChartContainerEnemy .DPSOverlay .NumberOutput
{
	color: #ffb99a;
}
#DPSChartContainerEnemy
{
	//border-top: 3px solid #cdd2f333;
	padding-top: 10px;
	//margin-top: 6px;
}

.ButtonHolder
{
	visibility: collapse;
}
.DPSChartContainer
{
	margin-top: 40px;
	max-height: 250px;
	height: fit-children;
	
}

#PipsContainer
{
	visibility: collapse;
}

.IsLayoutSmallScreen #PipsContainer
{
	visibility: visible;
}

#BattleStatsType 
{
	flow-children: right;
}

.IsLayoutSmallScreen #BattleStatsType
{
	margin-top: -5px;
}

.ChartType
{
	margin-right: 5px;
}

.ChartNextButton
{
	background-image: url("s2r://panorama/images/hud/dps_next_arrow_psd.vtex");
	background-size: contain;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	background-size: 100%;
	//margin-bottom: 2px;
	overflow: noclip;
	
}

.IsLayoutSmallScreen .ChartNextButton
{
	margin-top: 0px;
	height: 26px;
	width: 26px;
}

.ChartNextButton:hover
{
	brightness: 1.5;
}

.IsLayoutLargeScreen DACDPSChart VerticalScrollBar
{
	opacity: 0;
	
}

.IsLayoutLargeScreen DACDPSChart .DPSChartContainer:hover VerticalScrollBar
{
	opacity: 1;
}