DACPostGameScoreboard
{
	flow-children: down;
	ui-scale: 100%;
	overflow: scroll clip;
	max-width: 100%;
	horizontal-align: center;
	vertical-align: center;
	//margin-top: 30px;
	margin-bottom: 10px;

	padding-bottom: 36px;
}


.IsPlatformMobile DACPostGameScoreboard  {
	ui-scale: 126%;
	padding-left: 0;
}

.AspectRatio21x9.IsPlatformMobile DACPostGameScoreboard {
	ui-scale: 119%;
}

DACPostGameScoreboard.HideScoreboard
{
	visibility: collapse;
}

#ScoreboardEntryContainer {
	//background-image: url("s2r://panorama/images/shop/shop_backing_image_psd.vtex");
	background-size: 120%;
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

DACPostGameScoreboard #ScrollThumb {
	background-color: #4b4354aa;
	height: 20px;
}

DACPostGameScoreboard #HorizontalScrollBar {
	background-color: #000000;
	height: 20px;
}

DACPostGameScoreboard #VerticalScrollBar {
	background-color: #000000;
	width: 20px;
}

.IsPlatformMobile DACPostGameScoreboard #HorizontalScrollBar {
	height: 10px;
}

#Header {
	flow-children: right;
	max-height: 48px;
}

#Header Label {
	color: #fff;
	font-size: 18px;
	padding: 15px 10px 15px 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	overflow: squish squish;
}

#ScoreboardEntryContainer {
	flow-children: down;
	width: fit-children;
}

/* Headers */

#PlaceHeader,
#RankHeader,
#WinLossHeader,
#TotalGoldHeader,
#TotalDamageHeader
{
	text-align: center;
}

/* Columns */
.Column {
	height: 75px;
}

#Header .Column
{
	height: 60px;
}

.Column.Place
{
	width: 100px;
}

.Column.Rank {
	width: 100px;
}

.Column.MiniProfile
{
	width: 80px;
}

.Column.Name {
	width: 250px;
}

.Column.Score {
	width: 180px;
}

.Column.TotalGold {
	width: 170px;
}

.Column.TotalDamage {
	width: 180px;
}

/* Roster sizers */

.Column.Roster {
	width: 710px;
	margin-right: 20px;
}

.MaxUnits1 .Column.Roster {
	width: 150px;
}

.MaxUnits2 .Column.Roster {
	width: 150px;
}

.MaxUnits3 .Column.Roster {
	width: 150px;
}

.MaxUnits4 .Column.Roster {
	width: 160px;
}

.MaxUnits5 .Column.Roster {
	width: 200px;
}

.MaxUnits6 .Column.Roster {
	width: 240px;
}

.MaxUnits7 .Column.Roster {
	width: 280px;
}

.MaxUnits8 .Column.Roster {
	width: 320px;
}

.MaxUnits9 .Column.Roster {
	width: 360px;
}

.MaxUnits10 .Column.Roster {
	width: 400px;
}

.MaxUnits11 .Column.Roster {
	width: 440px;
}

.MaxUnits12 .Column.Roster {
	width: 480px;
}

/* Alliance sizers */
.Column.Alliances {
	width: 510px;
	
	vertical-align: center;
}

.Alliances1 .Column.Alliances {
	width: 150px;
}

.Alliances2 .Column.Alliances {
	width: 168px;
}

.Alliances3 .Column.Alliances {
	width: 252px;
}

.Alliances4 .Column.Alliances {
	width: 336px;
}

.Alliances5 .Column.Alliances {
	width: 420px;
}

.Alliances6 .Column.Alliances {
	width: 504px;
}

.Alliances7 .Column.Alliances {
	width: 588px;
}

.Alliances8 .Column.Alliances {
	width: 672px;
}

.Alliances9 .Column.Alliances
{
	width: 756px;
}
.Alliances10 .Column.Alliances {
	width: 840px;

}

.Alliances11 .Column.Alliances {
	width: 924px;

}

.Alliances12 .Column.Alliances {
	width: 1008px;

}

/* Global item sizers */

.Column.Global {
	width: 340px;
	margin-left: 15px;
	
}

.GlobalItems1 .Column.Global {
	width: 180px;
}

.GlobalItems2 .Column.Global {
	width: 180px;
}

.GlobalItems3 .Column.Global {
	width: 180px;
}

.GlobalItems4 .Column.Global {
	width: 208px;
}

.GlobalItems5 .Column.Global {
	width: 260px;
}

.GlobalItems6 .Column.Global {
	width: 312px;
}

.GlobalItems7 .Column.Global {
	width: 364px;
}

.GlobalItems8 .Column.Global {
	width: 416px;
}

.GlobalItems9 .Column.Global {
	width: 468px;
}

.Column.Bench {
	width: 520px;
}



/* Sizing CSS */