DACUIMain
{
	width: 100%;
	height: 100%;
}

DACUIMain.InGame
{
	visibility: collapse;
}

#Core
{
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FF00FF33 ), to( #00FF0033 ) );
	margin-bottom: 100px;
}

.InGame #Core
{
	horizontal-align: right;
	margin-bottom: 0px;
}

#SteamBetaLoginPanel
{
	horizontal-align: center;
	vertical-align: top;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FF00FF33 ), to( #00FF0033 ) );
	margin-bottom: 100px;
}

#HudModeDropdown {
	vertical-align: bottom;
	width: 200px;
	//opacity: 0;
}

#TooltipManager, #ContextMenuManager, #DashboardPopupManager, #PopupManager
{
	width: 100%;
	height: 100%;
}

#ContextMenuManager
{
}

.GCStatusVisible #MainMenuContainer
{
	margin-top: 30px;
}

.IsLayoutSmallScreen.GCStatusVisible #MainMenuContainer
{
	margin-top: 45px;
}


.Loading #MainMenuContainer,
{
	visibility: collapse;
}

.IsLayoutLargeScreen #MainMenuContainer
{
	ui-scale: 80%;
}

.Page_DACPagePostGame #MainMenuContainer
{
	visibility: collapse;
}

@define toastExitDuration: 0.3s;

#ToastManager
{
	margin-top: 400px;
	height: 100%;
	width: 350px;
	flow-children: down;
}

#ToastManager > .ToastPanel
{
	opacity: 0.0;
	transform: translateX( -40px );

	transition-property: position, opacity, transform;
	transition-duration: toastExitDuration;
}

#ToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

.TempButton
{
	border: 1px solid black;
	background-color: black;
	min-width: 300px;
	height: 80px;
	padding: 0 3px;
	margin: 3px;
	flow-children: down;
}

.TempButton Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
}

.TempButton:hover
{
	background-color: #444;
}

.DefaultHidden
{
	visibility: collapse;
}

.CanLocalHost #LocalHost,
.CanMM #StartMM,
.CanCancelMM #CancelMM,
.CanLeaveLobby #LeaveLobby,
.CanLeaveGame #LeaveGame,
.CanReconnect #Reconnect,
.NeedsSteamLogin #SteamBetaLoginPanel,
.NeedsSteamGuard #SteamGuardLabel,
.NeedsSteamGuard #SteamGuard,
.CanCreateParty #CreateParty,
.CanForceMatch #ForceMatch
{
	visibility: visible;
}

.SettingsTextEntryPartyCode
{
	horizontal-align: center;
	font-size: 24px;
	width: 150px;
	height: 30px;
	border: 2px solid #5e686966;
}

.SettingsTextEntryUserName
{
	font-size: 64px;
	width: 450px;
	height: 80px;
	border: 2px solid #5e686966;
}

.SettingsTextEntryPassword
{
	font-size: 36px;
	width: 450px;
	height: 80px;
	border: 2px solid #5e686966;
}

.SettingTitle
{
	font-size: 24px;
	margin-top: 8px;
	text-transform: uppercase;
}

#TopBarStatusBar {
	width: 100%;
	padding: 5px;
	max-height: 0px;
	transition-property: max-height;
	transition-duration: 0.35s;
	background-color: gradient( radial, 50% 50%, 0% 0%, 65% 35%, from( #942516 ), to( #3f0000 ) );
	box-shadow: inset #000000ff 3px 3px 6px 6px;
}

.GCStatusVisible #TopBarStatusBar {
	max-height: 50px;
}


.InitialDisplay #TopBarStatusBar {
	max-height: 0px;
	transition-delay: 3s;
}

#TopBarStatusMessageContainer {
	horizontal-align: center;
	flow-children: right;

	width: 100%;
}

#TopBarStatusMessageContainer Label {
	letter-spacing: 1px;
	horizontal-align: center;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #aaccff;
	text-shadow: 0px 0px 4px 1.0 #101010;
}

.IsLayoutSmallScreen #TopBarStatusMessageContainer Label {
	font-size: 28px;
	font-weight: black;
}
 
.GCStatusScary #TopBarStatusMessageContainer Label {
	color: #ffaa88;
	text-shadow: 0px 0px 6px 1.0 #ff1010;
}


#TopBarStatusSpinner {
	visibility: collapse;
}

#TopBarStatusBar.ShowSpinner #TopBarStatusSpinner {
	margin-top: 0px;
	margin-right: 12px;
	visibility: visible;
	wash-color: #aaccff;
}

.GCStatusScary #TopBarStatusBar.ShowSpinner #TopBarStatusSpinner {
	wash-color: #ffaa88;
}

.IsLayoutSmallScreen.NeedsSteamLogin #TopBarStatusBar
{
	visibility: collapse;
}

.IsLayoutSmallScreen.NeedsSteamLogin #MainMenuContainer
{
	margin: 0px;
}


#Background
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/dashboard/mobile_bg_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.InGame #Background
{
	visibility: collapse;
}

.InGame #Profile
{
	visibility:collapse;
}

#Profile
{
	visibility:visible;
}

#PageManager
{
	width:100%;
	height:100%;
}

#MainMenuContainer
{
	width: fit-children;
	height: 158px;
	overflow: noclip;
	vertical-align: top;
	horizontal-align: center;
	flow-children: right;
}
.MainMenuButtonContainer 
{
	/*width: 204px;*/
	height: 200px;
	/*height: 129px;*/
	/*border-right: 4px solid #9086c344;*/
	/*border-bottom: 4px solid #58518c44;*/
	/*border-left: 4px solid #8c919244;*/
	/*background-color: gradient(linear, 12% 100%, 0% 0%, from( #22222277 ), to( #ffffff13 ));*/
	margin: 0px -5px 0px -5px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.MainMenuButton 
{
	//width: 150px;
	horizontal-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/dashboard/top-btn-play_png.vtex");
	//transition-property: transform;
	//transition-duration: .2s;
}

.MainMenuButton:hover 
{
	//transform: translateY(3px);
}

#MainMenuContainer Label {
	visibility: collapse;
}

.Selected #MainMenuLabel {
	visibility: visible;
}

/*.MainMenuButton:hover {*/
	/*brightness: 1.6;*/
/*}*/

#MainMenuLabel {
	font-size: 30px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.PlayLabel {
	transform: rotateZ(-2deg);
	margin-top: 163px;
	margin-left: 10px;
}

.HeropediaLabel {
	transform: rotateZ(2deg);
	margin-top: 93px;
}

.SettingsLabel {
	transform: rotateZ(-2deg);
	margin-top: 93px;
	margin-left: 0px;
}

#PatchNotesViolator
{
	visibility: collapse;

	width: 35px;
	height: 35px;

	margin-top: 58px;
	margin-right: 10px;
	
	background-image: url("s2r://panorama/images/dashboard/patch_notes_violator_psd.vtex");
	background-size: 100%;

	horizontal-align: right;
}

.IsLayoutSmallScreen #PatchNotesViolator
{
	margin-top: 68px;
	margin-right: 20px;
}

#Exclamation
{
	font-size: 25px;
	font-weight: black;
	color: black;
	horizontal-align: center;

}

.NewSteamAnnouncement #PatchNotesViolator
{
	visibility: visible;
}

.MainMenuButtonContainer.Selected
{
	/*brightness:1.2;*/
} 

#PlayButtonContainerheroe
{
	x:0px;
}

#HeropediaButtonContainer {
	x: 180px;
}

#BattlePassButtonContainer
{
	x: 360px;
}

.EventActive #BattlePassButtonContainer
{
	visibility: visible;
}

#LoadoutButtonContainer
{
	x: 540px;
	visibility: collapse;
}

.EventActive #LoadoutButtonContainer
{
	visibility: visible;
}

#ProfileButtonContainer
{
	visibility: collapse;
	x: 720px;
}

.PlayContainer #PlayButton #PlayButtonParticle,
.HeropediaContainer #HeropediaButton #HeropediaButtonParticle,
.BattlePassContainer #BattlePassButton #BattlePassButtonParticle,
.LoadoutButtonContainer #LoadoutButton #LoadoutButtonParticle
{
	visibility: visible;
	opacity: .20;
}


#PlayButton
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_play_psd.vtex");
	background-size: 100%;
	width: 200px;
	height: 140px;
	
	transition-property: background-image;
	transition-duration: .1s;//temp
}

.PlayContainer #PlayButton:hover,
.HeropediaContainer #HeropediaButton:hover
{
	opacity: 1;
}

.PlayContainer #PlayButton
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_play_active_psd.vtex");
	
	transition-property: background-image;
	transition-duration: .3s;
	
	animation-name: LightGlowPulse;
	animation-duration: 4.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#HeropediaButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_heropedia_psd.vtex");
	background-size: 100%;
	height: 131px;
	width: 200px;
	
	transition-property: background-image;
	transition-duration: .1s;
}

.HeropediaContainer #HeropediaButton
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_heropedia_active_psd.vtex");
	
	transition-property: background-image;
	transition-duration: .3s;
	
	animation-name: LightGlowPulse;
	animation-duration: 5.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#PlayButton:hover,
#SettingsMenuButton:hover,
#HeropediaButton:hover
{
}

@keyframes

'LightGlowPulse'
{

0%
{
	brightness: .8;
}

12%
{
	brightness: 1.2;
}

25%
{
	brightness: 1.0;
}

50%
{
	brightness: 1.3;
}

80%
{
	brightness: .75;
}

95%
{
	brightness: 1.15;
}

100%
{
	brightness: 1.0;
}
}


#AchievementsButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_achievements_psd.vtex");
	background-size: 100%;
	height: 131px;
	width: 180px;
	
	transition-property: background-image;
	transition-duration: .1s;
}

.AchievementsContainer #AchievementsButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_achievements_active_psd.vtex");
}

#ProfileButton 
{
	background-image: url("s2r://panorama/images/dashboard/profilebutton_png.vtex");
}


#BattlePassButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_battlepass_psd.vtex");
	background-size: 100%;
	height: 131px;
	width: 200px;
	
	transition-property: background-image;
	transition-duration: .1s;
}

.BattlePassContainer #BattlePassButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_battlepass_active_psd.vtex");
}

#LoadoutButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_loadout_psd.vtex");
	background-size: 100%;
	height: 131px;
	width: 200px;
	
	transition-property: background-image;
	transition-duration: .1s;
}

.LoadoutButtonContainer #LoadoutButton 
{
	background-image: url("s2r://panorama/images/dashboard/top_btn_loadout_active_psd.vtex");
}

.GCStatusVisible .SystemButtons
{
	margin-top: 30px;
}

//System Buttons

.SystemButtons
{
	width: fit-children;
	height: fit-children;
	vertical-align: top;
	horizontal-align: right;
	flow-children: right;

	margin-right: safe-area-inset-right;
}


.Page_DACPagePostGame .SystemButtons,
.Page_DACPagePostGame .FeedbackPanel
{
	visibility: collapse;
}

#QuitButtonContainer
{
	vertical-align: top;
	horizontal-align: right;
}

.IsLayoutLargeScreen #QuitButtonContainer
{
	height: 120px;
	//ui-scale: 80%;
}

.QuitButton
{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/dashboard/icon_power_png.vtex");

	height: 50px;
	width: 50px;
	margin-top: 30px;
	margin-right: 50px;
}

.PatchNotesContainer #PatchNotesButton,
.SettingsMenuContainer #SettingsMenuButton
{
	wash-color: #ffd461;
	opacity: 1.0;
}

.ZooContainer #ZooButton
{
	wash-color: #ffd461;
	opacity: 1;
}

#TempQuitLogin
{
	background-image: url("s2r://panorama/images/dashboard/steam_logo_png.vtex");
}

.IsPlatformMobile #QuitButton
{
	visibility: collapse;
}

#SettingsMenuButton 
{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/dashboard/icon_settings_png.vtex");

	height: 50px;
	width: 50px;
	margin-top: 30px;
	margin-right: 20px;
}

#PatchNotesButton 
{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/dashboard/icon_updates_png.vtex");

	height: 50px;
	width: 50px;
	margin-top: 30px;
	margin-right: 20px;
}

#ZooButton 
{
	opacity: 0.6;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/dashboard/icon_zoo_psd.vtex");

	height: 50px;
	width: 50px;
	margin-top: 30px;

	transition-property: opacity;
	transition-duration: 0.2s;

	visibility: collapse;
}

.BetaUniverse #ZooButton
{
	visibility: visible;
}

.IsLayoutSmallScreen #QuitButton,
.IsLayoutSmallScreen #SettingsMenuButton,
.IsLayoutSmallScreen #PatchNotesButton,
.IsLayoutSmallScreen #ZooButton
{
	ui-scale: 130%;
	margin-right: 20px;
}

.AspectRatio21x9.IsLayoutSmallScreen #SettingsMenuButton
{
	margin-right: 20px;
}

.FeedbackPanel
{
	vertical-align: top;
	horizontal-align: right;
	margin: 30px 30px 0px 0px;
	flow-children: right;
}

.IsLayoutLargeScreen .FeedbackPanel
{
	ui-scale: 80%;
}

.SubmitFeedbackIntro
{
	font-weight: semi-bold;
	font-size: 24px;
	letter-spacing: 2px;
	vertical-align: center;
	//margin-left: 60px;
	margin-top: 6px;
	color: #8588a0;
	//color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
	text-transform: uppercase;
	text-shadow: 0px 0px 0px 2.0 black;
	visibility: collapse;
}

#SubmitFeedbackButton Label
{
	font-size: 24px;
	text-align: center;
}

#SubmitFeedbackButton
{
	height: 60px;
	margin-left: 10px;
	opacity: .75;
	min-width: 200px;
	padding: 0px 16px 0px 12px;
}

#IntroScreen
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
}

.Startup #IntroScreen
{
	background-color: black;
	transition-property: background-color;
	transition-duration: 2.0s;
}

.IntroFinished #IntroScreen
{
	visibility: collapse;
}

#IntroLogo
{
	width: 655px;
	height: 274px;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/logos/valve_white_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	
	opacity: 0.001;
	transition-property: opacity;
	transition-duration: 1s;
}

.Startup #IntroLogo
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
}