DACPartyMember {
	width: 100%;
	height: 100%;
    flow-children: right;
    background-color: gradient( linear, 0% 0%, 100% 0%, from(#8588a009), to(#2e2f4d30) );
}

DACPartyMember.LocalPlayer {
    //border: 2px solid gold;
    background-color: gradient(linear, 12% 100%, 0% 0%, from( #22222244 ), to( #9086c366 ));
    background-color: gradient( linear, 0% 0%, 100% 0%, from(#8588a010), to(#2e2f4d90) );
}

DACPartyMember.IsInvite {
//border: 2px solid gold;
    background-color: #232323;
}

DACPartyMember.LocalPlayer.IsSpectator {
    background-color: #9086c315;
}

DACPartyMember.IsSpectator {
    background-color: #9086c309;  
}

DACPartyMember DACFriend:hover
{
	background-color: none;
}


.PartyButton {
   // width: 28px;
   // margin: 4px;
   // height: 28px;
    width: 36px;
    height: 36px;
    vertical-align: center;
    transition-property: opacity;
    transition-duration: .2s;
    opacity: .2;
    background-image: url("s2r://panorama/images/dashboard/icon_dropdown_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    wash-color: #b8bcdd;
}

#InvalidVersion {
    background-image: url("s2r://panorama/images/control_icons/warning_alt_png.vtex");
    wash-color: red;
    visibility: collapse;
}

.InvalidVersion #InvalidVersion,
.MismatchedVersion #InvalidVersion {
    visibility: visible;
}

.MobileIcon {
    width: 18px;
    height: 30px;
    vertical-align: bottom;
    margin-bottom: 18px;
    margin-left: -24px;
    wash-color: white;
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/leaderboard/icon_mobile_psd.vtex");
    visibility: collapse;
}

#SocialBodyParty .IsMobile.IsReady .MobileIcon {
    visibility: visible;
}



.PartyButton:hover {
    opacity: 0.5;
}

.IsLayoutSmallScreen .PartyButton {
    width: 48px;
    height: 48px;
    margin: 4px;
}

.ReadyButton
{
    width: 36px;
    height: 36px;
    margin: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
    transition-property: opacity;
    transition-duration: .2s;
    vertical-align: center;
    margin-right: 6px;
}

.IsLayoutSmallScreen .ReadyButton
{
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-right: 10px;
}

DACFriend #FriendRichPresence Label {
    color: red;
}

#ReadyStatus
{
    background-image: url("s2r://panorama/images/dashboard/icon_party_ready_psd.vtex");
    background-position: 50% 50%;
    background-size: 40px 40px;
    visibility: collapse;
}
.IsReady.IsPlayer #ReadyStatus
{
    opacity: 0.0;
}

.IsLayoutSmallScreen #ReadyStatus
{
    background-image: url("s2r://panorama/images/dashboard/icon_party_ready_psd.vtex");
    background-position: 50% 50%;
    background-size: 60px 60px;
}

#ContextMenu Label {
    color: white;
    font-size: 24px;
    horizontal-align: center;
    vertical-align: center;
}

.IsLayoutSmallScreen #ContextMenu Label {
    color: white;
    font-size: 40px;
    horizontal-align: center;
    vertical-align: center;
}


#ContextMenu:hover {
    background-color: #222;
}

#ContextMenu
{
    margin-right: 8px;
}

.IsInvite #ReadyStatus {
    visibility: collapse;
}

#SpectatorIcon {
    width: 20px;
    height: 14px;
    horizontal-align: right;
    vertical-align: bottom;
    visibility: collapse;
    background-image: url("s2r://panorama/images/dashboard/eye_png.vtex");
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.IsSpectator #SpectatorIcon {
    visibility: visible;
}

.IsLayoutSmallScreen #SpectatorIcon
{
    width: 30px;
    height: 20px;
}

#PlayerType {
    width: 150px;
    height: 50px;
    border: 2px solid #99999933;
    vertical-align: center;
    transition-property: brightness;
    transition-duration: .2s;
}

#PlayerType Label
{
    color: #ffffffaa;
    vertical-align: center;
    horizontal-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 1px;
    margin-top: 2px;
    //visibility: collapse;
}

.IsPlayer .RolePlayer,
.IsSpectator .RoleSpectator
{
    visibility: visible;
}

.IsPlayer .RoleSpectator,
.IsSpectator .RolePlayer
{
    visibility: collapse;
}

#PlayerInfo {
    width: fill-parent-flow( 1.0 );
    height: 100%;
}

.IsInvite #PlayerType {
    background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
    background-color: aqua;
}

.IsPlayer #PlayerType {
    //background-image: url("s2r://panorama/images/dashboard/profilebutton_png.vtex");
    //background-color: green;
    //background-color: gradient(linear, 12% 100%, 0% 0%, from( #22222244 ), to( #9086c36a ));    
    background-color: #9086c333;
}

.IsSpectator #PlayerType {
    //background-image: url("s2r://panorama/images/dashboard/eye_png.vtex");
    //background-color: blue;
    //background-color: gradient(linear, 12% 100%, 0% 0%, from( #22222277 ), to( #ffffff13 ));
    background-color: #ffffff08;
}

.IsReady #ReadyStatus {
    //background-color: green;
    //background-color: #9086c377;
}

.IsNotReady #ReadyStatus {
    background-image: url("s2r://panorama/images/dashboard/icon_party_not_ready_psd.vtex");
    animation-name: PulseAnim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.LocalPlayer #PlayerType:hover {
    brightness: 2.0;
}

.LocalPlayer #ReadyStatus:hover {
    opacity: 1.0;
}

#ReadyUnderlordAvatar
{
    width: 60px;
    height: 60px;
    vertical-align: center;
    border: 1px solid grey;
    //margin: 4px;
    margin-right: 0px;
    visibility: collapse;
}

.IsLayoutSmallScreen #ReadyUnderlordAvatar
{
    background-size: 60px 60px;
    width: 48px;
    height: 48px;
    width: 80px;
    height: 80px;
}

.IsReady.IsPlayer #ReadyUnderlordAvatar
{
    visibility: visible;
}
.Team1 #ReadyUnderlordAvatar {    border: 2px solid #b2b22c;    }
.Team2 #ReadyUnderlordAvatar {    border: 2px solid #ebb150;    }
.Team3 #ReadyUnderlordAvatar {    border: 2px solid #736bd2;    }
.Team4 #ReadyUnderlordAvatar {    border: 2px solid #b82e22;    }
.Team5 #ReadyUnderlordAvatar {    border: 2px solid #908860;    }
.Team6 #ReadyUnderlordAvatar {    border: 2px solid #6499e6;    }
.Team7 #ReadyUnderlordAvatar {    border: 2px solid #dd8aaa;    }
.Team8 #ReadyUnderlordAvatar {    border: 2px solid #dd8531;    }