
DACTalentSelector,
DACTalentBrowser
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;

	opacity: 0;

	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #000000aa ), to( #000000 ) );

	flow-children: down;

	padding: 200px 200px;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.IsLayoutSmallScreen DACTalentSelector,
.IsLayoutSmallScreen DACTalentBrowser
{
	padding: 100px 0px;
}

DACTalentBrowser
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #000000ee ), to( #000000 ) );
}

DACTalentSelector.HasUnselectedTalent,
DACTalentBrowser.ShowTalentBrowser,
.TabPageUnderlord DACTalentSelector 
{
	opacity: 1;
}

.HeaderSection
{
	height: 140px;
	flow-children: right;
	horizontal-align: center;
	padding: 40px;
}

.Arrow
{
	width: 40px;
	height: 60px;
    background-size: 100%;
    opacity: 0.6;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.Arrow:hover
{
	opacity: 1.0;
}


.ArrowLeft
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_left_underlord_psd.vtex"); 
	margin-right: 20px;
}

.ArrowRight
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_right_underlord_psd.vtex"); 
	margin-left: 20px;
}

.NoLeft .ArrowLeft,
.NoRight .ArrowRight
{
	opacity: 0;
}

.HeaderText 
{
	horizontal-align: center;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Ravenhook;

	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#C6DCFE));
}

#TalentOptions
{
	//width: 1360px;
	width: fit-children;
	height: fill-parent-flow( 1.0 );

	padding-top: 40px;
	horizontal-align: center;

	flow-children: right;
	overflow: scroll clip;
}

.IsLayoutSmallScreen.AspectRatio4x3 #TalentOptions
{
	width: 1800px;
	ui-scale: 80%;
}

.IsLayoutSmallScreen.AspectRatio4x3 #TalentSelector .HeaderText
{
	margin-top: 300px;
}

#TalentOptions .TalentRoundContainer
{
	width: 1360px;
}

#TalentOptions .TalentRoundContainerInner
{
	flow-children: right;
	horizontal-align: center;
}

.AspectRatio21x9 #TalentOptions .TalentRoundContainer
{
	width: 2520px;
}

#TalentOptions #HorizontalScrollBar
{
	opacity: 0;
}