@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

/* overrides */

.HeropediaList .HeroContainer {
    height: 220px;
}

.HeropediaList .HeroContainer .Icon {
    width: 140px;
    height: 140px;
    border: 0px 0px 0px 0px;
    box-shadow: none;
}

/* end overrides */

.ItemTypeIcon {
    width: 32px;
    height: 32px;
    background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
}

.ItemTypeEquipOffensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_attack_png.vtex");
}

.ItemTypeEquipDefensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
}

.ItemTypeEquipSupport .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_support_png.vtex");
}

.ItemTypeGlobal .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/item_icon_global_psd.vtex");
    /*visibility: collapse;*/
}

.NextPageButton {
    height: 60px;
    padding: 15px;
    margin-top: 1px;
    vertical-align: top;
    horizontal-align: right;
    background-color: #ff6511;
    /*blur: gaussian( 2.5 );*/
    visibility: collapse;
    margin-top: 200px;
    margin-right: 120px;
}

PopupHeropedia .NextPageButton {
    margin-top: 100px;
}

.NextPageButton:hover {
    brightness: 1.6;
}

.NextPageButton:active {
    brightness: 1.5;
}

.NextPageButton Label {
    color: #fff;
    vertical-align: middle;
    horizontal-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;
    //text-overflow: shrink;
}
.NamePageSwitch #NamePageButton,
.TypePageSwitch #TypePageButton,
.TierPageSwitch #TierPageButton,
.NamePageSwitch #NamePageContainer,
.TypePageSwitch #TypePageContainer,
.TierPageSwitch #TierPageContainer {
    visibility: visible;
}
