DACUIPosterBattlePassLevel
{
	visibility: collapse;	
}

DACUIPosterBattlePassLevel.OwnsBattlePass
{
	visibility: visible;
}

#BPLevelRoot
{
	width:100%;
	height:100%;
	background-size: cover;	
	background-image: url("s2r://panorama/images/battle_pass/poster/battle_pass_rank_art_s1_psd.vtex") url("s2r://panorama/images/battle_pass/poster/battle_pass_rank_backing_psd.vtex");	
	transform:translateX(15px) translateY(25px);
}

#BPLevelRandomized
{
	width:100%;
	height:100%;
}

.BPBadgeChild
{
	width:100%;
	height:100%;
	background-size: cover;	
	visibility: visible;	
	overflow:noclip;
}

.BPBadgeChild1 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/arrow_psd.vtex"); }
.BPBadgeChild2 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/goo_psd.vtex"); }
.BPBadgeChild3 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/knife_psd.vtex"); }
.BPBadgeChild4 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/kunai_psd.vtex"); }
.BPBadgeChild5 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/nails_psd.vtex"); }
.BPBadgeChild6 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/vine_psd.vtex"); }
.BPBadgeChild7 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/web_psd.vtex"); }
.BPBadgeChild8 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/nail_psd.vtex"); }
.BPBadgeChild9 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/nails_psd.vtex"); }
.BPBadgeChild10 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/nails_variation_psd.vtex"); }
.BPBadgeChild11 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/staples_psd.vtex"); }
.BPBadgeChild12 { background-image: url("s2r://panorama/images/battle_pass/poster/sticky/stitches_psd.vtex"); }

.BadgeText
{
	width:80px;
	margin-right:8px;
	vertical-align: center;
	horizontal-align:center;
	text-align: center;
	color: #222;
	text-overflow: shrink;
	font-size: 20px;
	font-family: Ravenhook, k_alwaysFontNames;	
}


#LevelHeaderText
{
	transform:translateY(-2px);
}

#LevelText
{
	font-size: 30px;
	transform:translateY(35px);
}