@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACAchievementsPage
{
    width:100%;
    height:100%;
    background-color:#222;
    background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
    background-size: 100%;
    flow-children:none;
}

.Dimmer
{
    width:100%;
    height:100%;
	background-color: #060606ee;
}

.MainContainer
{
	width: 100%;
	height: 100%;
}

.AchievementsFlow
{
	//width: fit-children;
	width: 95%;
	height: fit-children;
	margin-top: 60px;
	margin-bottom:60px;
	vertical-align: center;
	horizontal-align: center;

	flow-children: down-wrap;
	overflow: scroll clip;
}

.Claimable .DailyChallengeClaimFX
{
	visibility: visible;
}

.AchievementProgressSummaryRankIcon
{
	vertical-align: bottom;
	horizontal-align: center;
	height: 24px;
	background-size: contain;
}

.DailyChallengeClaimFX
{
	width: 120px;
	height: 120px;
	margin-top: 20px;

	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.AchievementCategory3 .DailyChallengeClaimFX
{
	margin-bottom: 0px;
}

.Claimable .DailyChallengeClaimFX
{
	visibility: visible;
}


.AchievementCategory1 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon1
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_1star_psd.vtex");
}

.AchievementCategory1 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon2
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_2star_psd.vtex");
}

.AchievementCategory1 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon3
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_3star_psd.vtex");
}



.AchievementCategory2 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon1
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_1star_psd.vtex");
}

.AchievementCategory2 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon2
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_2star_psd.vtex");
}

.AchievementCategory2 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon3
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_3star_psd.vtex");
}



.AchievementCategory3 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon1
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_1star_psd.vtex");
}

.AchievementCategory3 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon2
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_2star_psd.vtex");
}

.AchievementCategory3 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon3
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_3star_psd.vtex");
}


.AchievementCategory4 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon1
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_1star_psd.vtex");
}

.AchievementCategory4 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon2
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_2star_psd.vtex");
}

.AchievementCategory4 .AchievementProgressSummaryIcon.AchievementProgressSummaryIcon3
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_3star_psd.vtex");
}


// Daily Challenges

#QuestItemContainer
{
	width: 500px;
	height: 500px;
}