DACSendUnitBar.Hovered #SendUnitIcon
{
    //background-image: url("s2r://panorama/images/hud/send_unit_icon_on_psd.vtex");
}

.UnderlordSelected #SendUnitBar
{
    visibility: collapse;
}

.GameMode_Duos #SendUnitBar.CanSendUnit 
{
    visibility: visible;
}

.InCombat.SelectedUnitOnBoard #SendUnitBar
{
    visibility: collapse;
}

.GameMode_Duos.DraggingShopUnit #SendUnitBar
{
    visibility: visible;
}

#SendUnitIcon
{
	opacity: 0;
    width: 120px;
    height: 90px;
    //horizontal-align: left;
    //margin-left: 46px;    
    horizontal-align: center;
    margin-top: 3px;
    background-image: url("s2r://panorama/images/hud/send_unit_icon_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    transition-property: background-image, wash-color, brightness, opacity;
    transition-duration: .2s;
}

.DraggingUnit #SendUnitIcon {
    opacity: 1;
}

.IsLayoutSmallScreen #SendUnitIcon
{
    width: 150px;
    height: 150px;
    margin-top: 12px;
    opacity: 1;
}

.GameMode_Duos.InCombat #SendUnitIcon
{
    background-image: none;
}

.IsLayoutSmallScreen.GameMode_Duos.InCombat #SendUnitIcon
{    
    background-image: url("s2r://panorama/images/hud/send_unit_icon_psd.vtex");
}


#SendUnitInfo
{
    height: fit-children;
    width: 65%;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 18px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #SendUnitInfo,
.GameMode_Duos.IsLayoutSmallScreen.AspectRatio4x3 #SendUnitInfo,
.InCombat.GameMode_Duos.IsLayoutSmallScreen.AspectRatio4x3 #SendUnitInfo {
    margin-bottom: -20px;
}

#SendUnitPlayer
{
    width: 60px;
    height: 60px;
    horizontal-align: center;
    vertical-align: center;
    margin-bottom: 32px;

    visibility: collapse;
}

.CanSendUnit #SendUnitPlayer
{
    //visibility: visible;
}

.BenchFullLabel, 
.CantAffordLabel
{
    horizontal-align: center;
    vertical-align: center;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: textBright;
    font-size: 21px;
    text-overflow: shrink;

    visibility: collapse;
}

.IsLayoutSmallScreen .BenchFullLabel,
.IsLayoutSmallScreen .CantAffordLabel
{
    font-size: 28px;
    margin-bottom: 20px;
}

.BenchFull .BenchFullLabel
{
    visibility: visible;
}

.CantAffordSending .CantAffordLabel
{
    visibility: visible;
}

.BenchFull .SendLabel,
.CantAffordSending .SendLabel
{
    //visibility: collapse;
    saturation: .5;
    opacity: .5;
}

#SendUnitAvatarBG
{
    width: 90%;
    height: 90%;
    horizontal-align: center;
    vertical-align: center;
    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");
    background-size: 100%;

    border-radius: 45px;
    border: 6px solid black;
}

#SendUnitAvatar
{
    width: 80%;
    height: 80%;
    border-radius: 50px;
    horizontal-align: center;
    vertical-align: center;
    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_1_0_png.vtex");
    background-size: 85%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.LowVisualQuality DACSendUnitBar,
.LowVisualQuality #SendButtonContainer,
.LowVisualQuality #SendUnitIcon
{
    transition-duration: 0.0s;
}

#SendUnitPlus
{
    width: 28px;
    height: 28px;
    wash-color: #ffd36d88;
    background-image: url("s2r://panorama/images/hud/sell_unit_plus_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: center;
    horizontal-align: left;
    margin-left: -5px;
}

.BenchUnitCount,
.BenchLabel,
.SendLabel
{
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 6px;
    font-weight: black;
    font-size: 20px;
    color: #ffffff88;
    background-color: none;
    box-shadow: none;
    visibility: collapse;
}

.SendLabel
{
    color: #83c831;
    color: gradient(linear, 0% 0%, 0% 100%, from( #c0f285 ), to(#6fba16));    
    visibility: visible;
    vertical-align: bottom;
    text-transform: uppercase;
    margin-bottom: 72px;
    font-size: 22px;
}

.IsLayoutSmallScreen .SendLabel,
.IsLayoutSmallScreen.InCombat .SendLabel
{
    font-size: 32px;
	margin-bottom: 104px;
}

.IsLayoutSmallScreen .BenchLabel
{
    font-size: 28px;
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
}

.AspectRatio4x3.IsLayoutSmallScreen .BenchLabel
{
    margin-bottom: 132px;
}

.AspectRatio21x9.IsLayoutSmallScreen .BenchLabel
{
    margin-bottom: 55px;
}

.IsLayoutSmallScreen .BenchUnitCount
{
    font-size: 28px;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}

.AspectRatio4x3.IsLayoutSmallScreen .BenchUnitCount
{
    margin-bottom: 108px;
}


.InCombat .SendLabel
{
    margin-bottom: 55px;
}


.CanSendUnit .BenchUnitCount,
.CanSendUnit .BenchLabel
{
    visibility: visible;
}

.BenchLabel
{
    text-transform: uppercase;
    margin-bottom: 24px;
}

