
.AchievementProgressBoxTitle
{
	color: #d7d7d7;
	font-size: 21px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 12px;
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: 10px;
	width: 460px;
	text-overflow: shrink;
}

.AchievementProgressBar
{
	width: 380px;
	height: 21px;
	overflow: noclip;
	//padding: 2px;
	horizontal-align: center;
	margin-top: 6px;
	background-color: black;
}

.AchievementProgressBar .ProgressBarLeft
{
	height: 21px;
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
}
.AchievementProgressBar .ProgressBarRight
{
	background-color: #000;
}

.AchievementProgressLabelsRow
{
	width: 100%;
}

.AchievementProgressCounter
{
	color: #d7d7d7;
	font-size: 18px;
	font-weight: semi-bold;
	margin-top: 8px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 12px;

	//visibility: collapse;
}

.AchievementProgressTier
{
	horizontal-align: center;
	vertical-align: top;
	height: 24px;
	width: 24px;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/healthbar_one_star_rank_1_psd.vtex");
	margin-top: 8px;
}

.Rank2 .AchievementProgressTier
{
	width: 48px;
	background-image: url("s2r://panorama/images/hud/healthbar_one_star_rank_2_psd.vtex");
}

.Rank3 .AchievementProgressTier
{
	width: 72px;
	background-image: url("s2r://panorama/images/hud/healthbar_one_star_rank_3_psd.vtex");
}

.AchievementProgressReward
{
	horizontal-align: right;
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 8px;
	margin-right: 10px;
	letter-spacing: 1px;
	text-align: right;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}


.DailyChallengeClaimButton
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/claim_button_psd.vtex");
	background-size: 100%;
	horizontal-align: left;
	vertical-align: top;
	margin-top:2px;	

	transition-property: brightness;
	transition-duration: .2s;
}

.DailyChallengeClaimFX
{
	width: 100%;
	height: 124%;
	margin-left: -2px;
	margin-top: -2px;
}

#DailyChallengeClaimButtonContainer
{
	margin-top: 8px;
	margin-left: 12px;
	visibility: collapse;
	overflow: noclip;
	background-color: gradient( linear, 0% 90%, 0% 0%, from( #836218 ), to( #4a370e) );
	height: 36px;
	margin-bottom: 8px;
	border: 2px solid #fbbc2e ;
	max-width: 170px;
	text-overflow: shrink;
}

.Claimable #DailyChallengeClaimButtonContainer
{
	visibility: visible;
	opacity: 1.0;
}


.DailyChallengeClaimButton:hover
{
	brightness: 1.5;
}


.Claimable .AchievementProgressCounter
{
	visibility: collapse;
}

.AchievementClaim
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	vertical-align: center;
	letter-spacing: 1px;
	margin-top: 2px;
	visibility: collapse;
	font-weight: black;
	padding: 2px 12px 2px 12px;
	text-overflow: shrink;
	max-width: 170px;
}

.Claimable .AchievementClaim
{
	visibility: visible;
}