DACUITurboShop
{
	width: 1600px;
	height: fit-children;
	height: 780px;
	width: 100%;
	height: 100%;
	//horizontal-align: center;

	//border: 1px solid red;
	//background-color: red;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	opacity: 0; 

	
	//margin-top: 150px;

	//padding: 10px;
	
	background-image: url("s2r://panorama/images/ui/turbo_backer_psd.vtex");
	background-size: 100%;
}

.AspectRatio21x9 DACUITurboShop
{
	background-image: url("s2r://panorama/images/ui/turbo_backer_21x9_psd.vtex");
	background-size: 100%;
}

.AspectRatio4x3 DACUITurboShop
{
	background-image: url("s2r://panorama/images/ui/turbo_backer_4x3_psd.vtex");
	background-size: 100%;
}

DACUITurboShop.Visible
{
	opacity: 1;
}

#DACUITurboShopContainer
{
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;

	flow-children: down;
}

.Title
{
	
	
	horizontal-align: center;
	color: #363434;
	color: gradient(linear, 0% 0%, 100% 0%, from( #000000 ), color-stop( .5, #363434 ), to( #000000 ));
	font-size: 80px;
	text-transform: uppercase;
	margin-top: 140px;
	//margin-bottom: 20px;
	font-family: ravenhook;
	opacity-mask: url("s2r://panorama/images/masks/crunchy_text_mask_psd.vtex");
	
}

.AspectRatio16x10 .Title
{
	margin-top: 190px;
}

.AspectRatio4x3 .Title
{
	margin-top: 300px;
}

.MulliganButton
{
	horizontal-align: center;

	//border: 1px solid white;

	padding: 20px 40px 20px 40px;

	visibility: collapse;
	
	background-image: url("s2r://panorama/images/ui/turbo_reroll_backer_psd.vtex");
	background-size: 100%;
	
	
}

.MulliganButton Label:hover
{
	brightness: 2;
	opacity: 1; 
}

#TurboRerollButton
{
	text-transform: uppercase;
	font-family: ravenhook;
}

.MulliganAvailable .MulliganButton
{
	visibility: visible;
}

.MulliganButton Label
{
	color: #ffffffbb;
	color: gradient(linear, 0% 0%, 100% 0%, from( #dcd4c4cc ), color-stop( .5, #ffffffcc ), to( #dcd4c4cc ));
	font-size: 58px;
	opacity-mask: url("s2r://panorama/images/masks/crunchy_text_mask_psd.vtex");
	transition-property: brightness, opacity;
	transition-duration: .2s;
	opacity: .9;
}

#OfferingContainer
{
	width: fit-children;
	height: fit-children;

	flow-children: right;

	horizontal-align: center;

	margin-top: 5px;
	margin-bottom: 5px;
}

@keyframes 'OfferingAnimateIn'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 1.2;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

.Offering
{
	width: 500px;
	height: 600px;
	margin-left: 10px;
	margin-right: 10px;
	
	padding:30px;
	
	background-image: url("s2r://panorama/images/ui/turbo_crew_backer_psd.vtex");
	background-size: 100%;
	transition-property: brightness;
	transition-duration: .2s;

	opacity: 0;
}

.Offering.ContainsInfo
{
	animation-name: OfferingAnimateIn;
	animation-delay: 0s;
	animation-duration: 1.25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	opacity: 1;
}

#offering_0
{
	animation-duration: 0.2s;
}

#offering_1
{
	animation-duration: 0.35s;
}

#offering_2
{
	animation-duration: 0.5s;
}

.Offering:hover
{
	brightness: 2; 
}

.OfferingName
{
	color: white;
	font-size: 35px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
}

DACSynergyCapsule
{
	horizontal-align: center; 
	background-image: url("s2r://panorama/images/shop/synergy_drop_shadow_psd.vtex");
	background-size: 110%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	overflow: noclip;
	ui-scale: 75%;

	vertical-align: bottom;
	margin-bottom: 87px;
}

.TopRowHeroes
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 18px;
}

.OfferingHeroGeneric,
.OfferingHero
{
	//background-color: #444;
	width: 140px;
	height: 180px;
	margin-left: 5px;
	margin-right: 5px;
	
	background-image: url("s2r://panorama/images/ui/mystery_select_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	
}

.OfferingHeroGeneric
{
	width: 130px;
}

#OfferingHeroGeneric1
{
	background-image: url("s2r://panorama/images/ui/mystery_select2_psd.vtex");
}

#OfferingHeroGeneric2
{
	background-image: url("s2r://panorama/images/ui/mystery_select1_psd.vtex");
}

.OfferingHero
{
	opacity-mask: url("s2r://panorama/images/ui/turbo_portrait_mask_png.vtex");
	saturation: 1;
	brightness: 1.5;
	//margin-left: 10px;
}

.OfferingHeroContainer1,
.OfferingHeroContainer2
{
	flow-children: none;
}

.OfferingHeroBorder
{	
	width: 140px;
	height: 180px;
	//border: 1px solid red;
	//background-color: red; 
	background-image: url("s2r://panorama/images/ui/turbo_portrait_border_psd.vtex");
	background-size: 100%;
	margin-left: 4px;
	
}


.BottomRowHeroes
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	margin-top: 160px;

	ui-scale: 120%;
}

.SynergyTip
{
	color: white;
	font-size: 27px;

	horizontal-align: center;
	vertical-align: bottom;
	saturation: .4;
	font-family: radianceblackdistressed;
	max-width: 420px;
	text-overflow: shrink;
	white-space: nowrap;
	width: fit-children;
	text-align: center;
	horizontal-align: center;
}

#Synergy1Tip
{
	margin-bottom: 55px;
}

#Synergy2Tip
{
	margin-bottom: 21px;
}