.LeaderboardNotification
{
	max-width: 1500px;
	height: fit-children;

	z-index: 2;
	width: 1920px;

    flow-children: right;
}

.GameMode_Duos  DACLeaderboardDuos .LeaderboardNotification {
	ui-scale: 70%;
}

.GameMode_Duos DACLeaderboardDuos .IsOpen .LeaderboardNotification {
	ui-scale: 90%;
	vertical-align: middle;
}

.IsAwayGame .LeaderboardNotification
{
/*	margin-top: -15px; */
}

.LowVisualQuality .ShowNotification .LeaderboardNotification 
{
    transition-property: none;
	transition-duration: 0s;
}

.LeaderboardNotification .NotificationItem {
	//height: 92px;
	//margin: 0px 10;
	//padding: 5px 15px;
	height: 60px;	
}

.DuosMessage.NotificationItem
{
	height: 60px;
	margin-left: 10px;

	ui-scale: 90%;
	margin-top: 3px;
	flow-children: right;
}

#DuosBuddyNotificationContainer .DuosMessage.NotificationItem
{
	ui-scale: 130%;
	//opacity: 1;
}

.ShopVisible #DuosBuddyNotificationContainer .DuosMessage.NotificationItem,
.ShopVisible #DuosMyNotificationContainer .DuosMessage.NotificationItem
{
	
	opacity: 1;
}

.DuosLeftImage
{
	width: 42px;
	height: 60px;
	background-image: url("s2r://panorama/images/notifications/duos_notification_left_png.vtex");
	background-size: cover;	
}

.DuosRightImage
{
	width: 22px;
	height: 60px;
	background-image: url("s2r://panorama/images/notifications/duos_notification_right_png.vtex");
	background-size: 100% 100%;	
	background-position: center;
	background-repeat: no-repeat;
}


.IsPlatformPC .NotificationItem {
	//width: 400px;
	width: fit-children;
	//min-width: 100px;
}

.LeaderboardNotification DACParticleScenePanel {
	width: 1000px;
	height: 1000px;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

.LeaderboardNotification .TextContainer {
	flow-children: right;
	vertical-align: middle;
	//width: fill-parent-flow(1);
	width: fit-children;

	//padding-left: 15px;
	//padding-right: 15px;
	padding-left: 12px;
	padding-right: 0px;
}

.DuosMessageContents.TextContainer
{
	background-color: #e1e1e1;
	height: 60px;
	border: 3px solid #888;
	border-left: 0px;
	border-right: 0px;

	//padding-left: 10px;
	//padding-right: 10px;

	padding-left: 10px;
	padding-right: 0px;

	margin: 0px;
}

.LeaderboardNotification .TextContainer Label {
	//width: fill-parent-flow(1);
	width: fit-children;
}

.DuosMessageContents.TextContainer Label
{
    width: fit-children;
}

.LeaderboardNotification .ChatMessageContents
{
    vertical-align: middle;
}

.NotificationItemContainer {
	visibility: collapse;
	width: fit-children;
	transition-property: position, width;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
}

.CombatContainer .NotificationItemContainer
{
	//margin-left: 25px;
}

.GameMode_Duos .LeaderboardNotification {
	margin-left: 160px;
	//margin-top: 5px;

	/* CHANGED */
}

/* DUOS - SINGLE PLAYER NOTIFICATION - COMBAT */
.GameMode_Duos .Combat .LeaderboardNotification {
	margin-left: 170px;
	//margin-top: 5px;
}

/* DUOS - SINGLE PLAYER NOTIFICATION - PREPARE */
.GameMode_Duos DACLeaderboardEntry .LeaderboardNotification {
	margin-left: 170px;
	//margin-top: 5px;
}




.NotificationItemContainer.Appear {
	visibility: visible;
}

.NotificationItem Label {
	font-size: 20px;
}

.NotificationItem .DuosMessageLabel 
{
	font-size: 24px;
	font-weight: bold;
	text-shadow: none;
	color: black;

	//color: textBrightest;
	//margin-left: 15px;
}

.NotificationItem .DuosMessageType
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	//color: #ccc;
	color: textAccent;
	margin-right: 15px;
	margin-left: 10px;
	visibility: collapse;
}

#DuosMessage_UnitIcon
{
    vertical-align: center;
    margin-left: 8px;
    ui-scale: 120%;
    brightness: 1.2;
    visibility: collapse;
}

#DuosMessage_AllianceIcon
{
    width: 70px;
    height: 70px;
    margin-left: 8px;
    visibility: collapse;
}

#DuosMessage_GoldIcon
{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 8px;
    visibility: collapse;
}

.DuosMessage_UnitIcon #DuosMessage_UnitIcon,
.DuosMessage_AllianceIcon #DuosMessage_AllianceIcon,
.DuosMessage_GoldIcon #DuosMessage_GoldIcon,
{
    visibility: visible;
}
.DuosMsgGoldIcon
{
    width: 100%;
    height: 100%;
}

#ResponseContainer
{
    //height: 100%;
    //height: fit-children;
    height: 60px;
    //width: 110px;
    width: fit-children;

    background-color: #e1e1e1;
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;

    vertical-align: center;
    horizontal-align: right;
    flow-children: right;


    visibility: collapse;
}

.ShowResponseOptions #ResponseContainer
{
    visibility: visible;
}

.ResponsePanel
{
    //height: 100%;
    //width: 50%;
    vertical-align: center;
    margin-right: 3px;
    margin-bottom: 1px;
    background-color: #fafafa;
}

#ThumbsUp
{
	width: 60px;
	height: 40px;
	border: 1px solid #aaa;
	border-radius: 5px;
	//margin-bottom: 5px;

	transition-property: brightness;
	transition-duration: .2s;
	//background-color: red;
    //background-image: url("s2r://panorama/images/hud/thumbs_up_psd.vtex");
}

#ThumbsDown
{
	width: 60px;
	height: 40px;
	border: 1px solid #aaa;
	border-radius: 5px;
	//background-color: red;
    //background-image: url("s2r://panorama/images/hud/thumbs_down_psd.vtex");
}

.ResponsePanel .InlineResponse
{
	horizontal-align: center;
	vertical-align: center;
	text-shadow: none;
	color: black;
	font-weight: black;
	text-align: center;
	//padding-bottom: 5px;
}

#ThumbsUp:hover,
#ThumbsDown:hover
{
	brightness: 1.5;
	background-color: red;
}

.NotificationItem.CombatResult #NotificationLabel {
	font-weight: bold;
	text-shadow: 0px 0px 0px 2.5 #000000FF;
}

.NotificationItem.CombatDefeat #NotificationLabel {
	color: gradient(linear, 0% 0%, 0% 100%, from( #dcaba7 ), to( #bb665d ));
}

.NotificationItem.CombatVictory #NotificationLabel {
	color: gradient(linear, 0% 0%, 0% 100%, from( #eee4b0 ), to( #c2b154 ));
}