DACSynergyCapsule
{
	flow-children: right;
}

DACSynergyCapsule.NoValidKeywords
{
	visibility: collapse;
}

DACSynergyCapsule #CenterIcon
{
	margin-left: -20px;
}

DACSynergyCapsule.ThreeIcons #RightIcon
{
	margin-left: -19px;
}

DACSynergyCapsule #RightIcon
{
	margin-left: -20px;
}

DACSynergyIcon
{
	visibility: collapse;
}

DACSynergyIcon.IconVisible
{
	visibility: visible;
}