
DACSynergyIcon,
DACSynergyIconNoBars
{
	width: 108px;
	height: 108px;

	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

DACSynergyIcon.Levels_1
{
	width: 160px;
}

DACSynergyIcon.Levels_2
{
	width: 170px;
}

DACSynergyIcon.Levels_3
{
	width: 190px;
}

.SynergyBG
{
	width: 108px;
	height: 108px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule01_psd.vtex");
}

.Style1 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule01_psd.vtex");
}

.Style2 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule02_psd.vtex");
}

.Style3 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule03_psd.vtex");
}

.Style4 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule04_psd.vtex");
}

.Style5 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule05_psd.vtex");
}

.Style6 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule06_psd.vtex");
}

.Style7 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule07_psd.vtex");
}

.Style8 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule08_psd.vtex");
}

.Style9 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule09_psd.vtex");
}

.Style10 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule10_psd.vtex");
}

.Style11 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule11_psd.vtex");
}

.Style12 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule12_psd.vtex");
}

.Style13 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule13_psd.vtex");
}

.Style14 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule14_psd.vtex");
}

.Style15 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule15_psd.vtex");
}

.Style16 .SynergyBG
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule16_psd.vtex");
}

.SynergyIcon
{
	width: 108px;
	height: 108px;
	background-size: 62.5% 62.5%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	horizontal-align: left;
}

.SynergyDisabled .SynergyIcon 
{
	wash-color: #64588799;
	
}

.SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border01_psd.vtex");
	width: 108px;
	height: 108px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Style1 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border01_psd.vtex");
}

.Style2 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border02_psd.vtex");
}

.Style3 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border03_psd.vtex");
}

.Style4 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border04_psd.vtex");
}

.Style5 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border05_psd.vtex");
}

.Style6 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border06_psd.vtex");
}

.Style7 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border07_psd.vtex");
}

.Style8 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border08_psd.vtex");
}

.Style9 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border09_psd.vtex");
}

.Style10 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border10_psd.vtex");
}

.Style11 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border11_psd.vtex");
}

.Style12 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border12_psd.vtex");
}

.Style13 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border13_psd.vtex");
}

.Style14 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border14_psd.vtex");
}

.Style15 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border15_psd.vtex");
}

.Style16 .SynergyBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border16_psd.vtex");
}

.SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop01_psd.vtex");
	width: 108px;
	height: 108px;
	
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Style1 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop01_psd.vtex");
}

.Style2 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop02_psd.vtex");
}

.Style3 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop03_psd.vtex");
}

.Style4 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop04_psd.vtex");
}

.Style5 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop05_psd.vtex");
}

.Style6 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop06_psd.vtex");
}

.Style7 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop07_psd.vtex");
}

.Style8 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop08_psd.vtex");
}

.Style9 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop09_psd.vtex");
}

.Style10 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop10_psd.vtex");
}

.Style11 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop11_psd.vtex");
}

.Style12 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop12_psd.vtex");
}

.Style13 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop13_psd.vtex");
}

.Style14 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop14_psd.vtex");
}

.Style15 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop15_psd.vtex");
}

.Style16 .SynergyBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/synergy_backing_layers/leftcapsule_border_bottom_pop16_psd.vtex");
}

.Segment
{
	height: 108px;
	width: 65px;
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	visibility: collapse;
}

.Segment1
{
	margin-left: 78px;
}

.Segment2
{
	margin-left: 96px;
}

.Segment3
{
	margin-left: 114px;
}

.SegmentsPerLevel_1 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}


.SegmentsPerLevel_1 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_1 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_pop_psd.vtex");
	wash-color: #51486e;
}

.SegmentsPerLevel_1.Level1_Full .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}

.SegmentsPerLevel_1 .Segment.SegmentLocked
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_locked_psd.vtex");
	//opacity: 0.7;
}

.SegmentsPerLevel_1 .Segment.SegmentFillBorder
{
	background-image:url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_psd.vtex");
	opacity: .4;	
}

.SegmentsPerLevel_1 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_border_pop_psd.vtex");
}

.SegmentsPerLevel_2 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_psd.vtex");
}

.SegmentsPerLevel_2 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_2 .Segment.SegmentLocked
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_locked_psd.vtex");
	//opacity: 0.7;
}


.SegmentsPerLevel_2 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_pop_psd.vtex");
	wash-color: #51486e;
}

.SegmentsPerLevel_2 .Segment.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_psd.vtex");
	opacity: .4; 
	
}

.SegmentsPerLevel_2 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_border_pop_psd.vtex");
}

.SegmentsPerLevel_3 .Segment
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_psd.vtex");
}

.SegmentsPerLevel_3 .Segment.SegmentBGBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_psd.vtex");
	opacity: .4; 
}

.SegmentsPerLevel_3 .Segment.SegmentLocked
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_locked_psd.vtex");
	//opacity: 0.7;
}

.SegmentsPerLevel_3 .Segment.SegmentBGBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_pop_psd.vtex");
	wash-color: #4c4466;
}

.SegmentsPerLevel_3 .Segment.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_psd.vtex");
	opacity: .4; 
	
}

.SegmentsPerLevel_3 .Segment.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_border_pop_psd.vtex");
}

DACSynergyIcon.Level1Locked .Segment1.SegmentLocked,
DACSynergyIcon.Level2Locked .Segment2.SegmentLocked,
DACSynergyIcon.Level3Locked .Segment3.SegmentLocked
{
	visibility: visible;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBG,
DACSynergyIcon.Levels_2 .Segment1.SegmentBG,
DACSynergyIcon.Levels_3 .Segment1.SegmentBG,
DACSynergyIcon.Levels_2 .Segment2.SegmentBG,
DACSynergyIcon.Levels_3 .Segment2.SegmentBG,
DACSynergyIcon.Levels_3 .Segment3.SegmentBG
{
	visibility: visible;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_2 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment1.SegmentBGBorderPop,
DACSynergyIcon.Levels_2 .Segment2.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment2.SegmentBGBorderPop,
DACSynergyIcon.Levels_3 .Segment3.SegmentBGBorderPop
{
	visibility: visible;
}

DACSynergyIcon.Levels_1 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_2 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment1.SegmentBGBorder,
DACSynergyIcon.Levels_2 .Segment2.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment2.SegmentBGBorder,
DACSynergyIcon.Levels_3 .Segment3.SegmentBGBorder
{
	visibility: visible;
}

DACSynergyIcon.Level1_Full .Segment1.SegmentFill,
DACSynergyIcon.Level2_Full .Segment2.SegmentFill,
DACSynergyIcon.Level3_Full .Segment3.SegmentFill,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFill,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFill,
DACSynergyIcon.PulseLevel_1 .Segment1.SegmentPulse,
DACSynergyIcon.PulseLevel_2 .Segment2.SegmentPulse,
DACSynergyIcon.PulseLevel_3 .Segment3.SegmentPulse
{
	visibility: visible;
}

DACSynergyIcon.Level1_Full .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Full .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Full .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFillBorder,
DACSynergyIcon.Level1_Full .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Full .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Full .Segment3.SegmentFillBorderPop,
DACSynergyIcon.Level1_Count_1 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1 .Segment3.SegmentFillBorderPop,
DACSynergyIcon.Level1_Count_2 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_2 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_2 .Segment3.SegmentFillBorderPop
{
	visibility: visible;
}

.Level1Bench_Count_1 .Segment1.SegmentBenchFill,
.Level1Bench_Count_2 .Segment1.SegmentBenchFill,
.Level1Bench_Full .Segment1.SegmentBenchFill,
.Level2Bench_Count_1 .Segment2.SegmentBenchFill,
.Level2Bench_Count_2 .Segment2.SegmentBenchFill,
.Level2Bench_Full .Segment2.SegmentBenchFill,
.Level3Bench_Count_1 .Segment3.SegmentBenchFill,
.Level3Bench_Count_2 .Segment3.SegmentBenchFill,
.Level3Bench_Full .Segment3.SegmentBenchFill
{
	visibility: visible;
}

.Level1Bench_Full.SegmentsPerLevel_1 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_1 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_1 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_bench_psd.vtex");
}

.Level1Bench_Count_1.SegmentsPerLevel_2 .Segment1.SegmentBenchFill,
.Level2Bench_Count_1.SegmentsPerLevel_2 .Segment2.SegmentBenchFill,
.Level3Bench_Count_1.SegmentsPerLevel_2 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_bench_psd.vtex");
}

.Level1Bench_Full.SegmentsPerLevel_2 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_2 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_2 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_bench_psd.vtex");
}

.Level1Bench_Count_1.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Count_1.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Count_1.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_bench_psd.vtex");
}

.Level1Bench_Count_2.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Count_2.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Count_2.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_bench_psd.vtex");
}

.Level1Bench_Full.SegmentsPerLevel_3 .Segment1.SegmentBenchFill,
.Level2Bench_Full.SegmentsPerLevel_3 .Segment2.SegmentBenchFill,
.Level3Bench_Full.SegmentsPerLevel_3 .Segment3.SegmentBenchFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_bench_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFillBorder
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_2 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_2 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_2 .Segment3.SegmentFillBorderPop
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_border_pop_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFill,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFill,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFill
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFillBorder
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFillBorder,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFillBorder,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFillBorder
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_border_psd.vtex");
}

DACSynergyIcon.Level1_Count_1.SegmentsPerLevel_3 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_1.SegmentsPerLevel_3 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_1.SegmentsPerLevel_3 .Segment3.SegmentFillBorderPop
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_border_pop_psd.vtex");
}

DACSynergyIcon.Level1_Count_2.SegmentsPerLevel_3 .Segment1.SegmentFillBorderPop,
DACSynergyIcon.Level2_Count_2.SegmentsPerLevel_3 .Segment2.SegmentFillBorderPop,
DACSynergyIcon.Level3_Count_2.SegmentsPerLevel_3 .Segment3.SegmentFillBorderPop
{
		background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_2_border_pop_psd.vtex");
}

@keyframes 'PulseAnim3'
{
	0%
	{
		opacity: 0;
	}

	35%
	{
		opacity: 1;
	}

	65%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

.SegmentPulse
{
	animation-name: PulseAnim3;
	animation-delay: 0.0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	saturation: 2;
	brightness: 2;
}

.SegmentsPerLevel_1.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_full_bar_psd.vtex");
}

.SegmentsPerLevel_2.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_partial_psd.vtex");
}

.SegmentsPerLevel_2.PulseSlot_2 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_half_bar_bottom_pip_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_1 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_partial_1_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_2 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_middle_pip_psd.vtex");
}

.SegmentsPerLevel_3.PulseSlot_3 .SegmentPulse
{
	background-image: url("s2r://panorama/images/synergyicons/empty_synergy_pip_third_bar_bottom_pip_psd.vtex");
}

.Beast .TakeWashColor
{
	wash-color: beastColor;
}

.Savage .TakeWashColor
{
	wash-color: beastColor;
}

.Demon .TakeWashColor
{
	wash-color: demonColor;
}

.MegaDemon .TakeWashColor
{
	wash-color: demonColor;
}

.Dragon .TakeWashColor
{
	wash-color: dragonColor;
}

.Dwarf .TakeWashColor
{
	wash-color: dwarfColor;
}

.Element .TakeWashColor
{
	wash-color: elementColor;
}

.Primordial .TakeWashColor
{
	wash-color: elementColor;
}

.Elf .TakeWashColor
{
	wash-color: elfColor;
}

.MegaElusive .TakeWashColor
{
	wash-color: elfColor;
}


.Goblin .TakeWashColor
{
	wash-color: goblinColor;
}

.Human .TakeWashColor
{
	wash-color: humanColor;
}

.Naga .TakeWashColor
{
	wash-color: nagaColor;
}

.MegaScaled .TakeWashColor
{
	wash-color: nagaColor;
}

.Ogre .TakeWashColor
{
	wash-color: ogreColor;
}

.MegaBloodbound .TakeWashColor
{
	wash-color: ogreColor;
}

.Orc .TakeWashColor
{
	wash-color: orcColor;
}

.Brawny .TakeWashColor
{
	wash-color: orcColor;
}

.Troll .TakeWashColor
{
	wash-color: trollColor;
}

.MegaTroll .TakeWashColor
{
	wash-color: trollColor;
}

.Undead .TakeWashColor
{
	wash-color: undeadColor;
}

.Assassin .TakeWashColor
{
	wash-color: assassinColor;
}

.MegaAssassin .TakeWashColor
{
	wash-color: assassinColor;
}

.DemonHunter .TakeWashColor
{
	wash-color: demonhunterColor;
}

.Druid .TakeWashColor
{
	wash-color: druidColor;
}

.Hunter .TakeWashColor
{
	wash-color: hunterColor;
}

.Knight .TakeWashColor
{
	wash-color: knightColor;
}

.Mage .TakeWashColor
{
	wash-color: mageColor;
}

.Mech .TakeWashColor
{
	wash-color: mechColor;
}

.Inventor .TakeWashColor
{
	wash-color: mechColor;
}
.Shaman .TakeWashColor
{
	wash-color: shamanColor;
}

.Warlock .TakeWashColor
{
	wash-color: warlockColor;
}

.MegaWarlock .TakeWashColor
{
	wash-color: warlockColor;
}

.Warrior .TakeWashColor
{
	wash-color: warriorColor;
}

.MegaWarrior .TakeWashColor
{
	wash-color: warriorColor;
}

.Champion .TakeWashColor
{
	wash-color: championColor;
}

.Insect .TakeWashColor
{
	wash-color: insectColor;
}

.Brutal .TakeWashColor
{
	wash-color: brutalColor;
}

.Healer .TakeWashColor
{
	wash-color: healerColor;
}

.SpiritBrother .TakeWashColor
{
	wash-color: spiritBrotherColor;
}

.Beast .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
}

.Savage .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
}

.Dragon .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/dragon_psd.vtex");
}

.Demon .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/demon_psd.vtex");
}

.MegaDemon .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megademon_psd.vtex");
}

.Dwarf .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/deadeye_psd.vtex");
}

.Element .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
}

.Primordial .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
}

.Elf .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/elusive_psd.vtex");
}

.MegaElusive .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megaelusive_psd.vtex");
}

.Human .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/bold_psd.vtex");
}

.Goblin .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/scrappy_psd.vtex");
}

.Naga .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/resilient_psd.vtex");
}

.MegaScaled .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megascaled_psd.vtex");
}

.Ogre .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/bloodbound_psd.vtex");
}

.MegaBloodbound .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megabloodbound_psd.vtex");
}

.Orc .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brawny_psd.vtex");
}

.Brawny .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brawny_psd.vtex");
}

.Troll .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/relentless_psd.vtex");
}

.MegaTroll .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megatroll_psd.vtex");
}

.Undead .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/undead_psd.vtex");
}

.Assassin .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/assassin_psd.vtex");
}

.MegaAssassin .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megaassassin_psd.vtex");
}

.DemonHunter .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/demonhunter_psd.vtex");
}

.Druid .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/druid_psd.vtex");
}

.Hunter .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/hunter_psd.vtex");
}

.Knight .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/knight_psd.vtex");
}

.Mage .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/mage_psd.vtex");
}

.Mech .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
}

.Inventor .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
}

.Shaman .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/shaman_psd.vtex");
}

.Warlock .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/warlock_psd.vtex");
}

.MegaWarlock .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megawarlock_psd.vtex");
}

.Warrior .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/warrior_psd.vtex");
}

.MegaWarrior .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/megawarrior_psd.vtex");
}

.Champion .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
}

.Insect .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
}

.Brutal .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
}

.Healer .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
}

.SpiritBrother .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/spiritbrother_psd.vtex");
}

.Beast .TakeBrightWashColor
{
	wash-color: beastColorBright;
}

.Savage .TakeBrightWashColor
{
	wash-color: beastColorBright;

}
.Demon .TakeBrightWashColor
{
	wash-color: demonColorBright;
}

.MegaDemon .TakeBrightWashColor
{
	wash-color: demonColorBright;
}

.Dragon .TakeBrightWashColor
{
	wash-color: dragonColorBright;
}

.Dwarf .TakeBrightWashColor
{
	wash-color: dwarfColorBright;
}

.Element .TakeBrightWashColor
{
	wash-color: elementColorBright;
}

.Primordial .TakeBrightWashColor
{
	wash-color: elementColorBright;
}

.Elf .TakeBrightWashColor
{
	wash-color: elfColorBright;
}

.MegaElusive .TakeBrightWashColor
{
	wash-color: elfColorBright;

}
.Goblin .TakeBrightWashColor
{
	wash-color: goblinColorBright;
}

.Human .TakeBrightWashColor
{
	wash-color: humanColorBright;
}

.Naga .TakeBrightWashColor
{
	wash-color: nagaColorBright;
}

.MegaScaled .TakeBrightWashColor
{
	wash-color: nagaColorBright;
}

.Ogre .TakeBrightWashColor
{
	wash-color: ogreColorBright;
}

.MegaBloodbound .TakeBrightWashColor
{
	wash-color: ogreColorBright;
}

.Orc .TakeBrightWashColor
{
	wash-color: orcColorBright;
}

.Brawny .TakeBrightWashColor
{
	wash-color: orcColorBright;
}

.Troll .TakeBrightWashColor
{
	wash-color: trollColorBright;
}

.MegaTroll .TakeBrightWashColor
{
	wash-color: trollColorBright;
}

.Undead .TakeBrightWashColor
{
	wash-color: undeadColorBright;
}

.Assassin .TakeBrightWashColor
{
	wash-color: assassinColorBright;
}

.MegaAssassin .TakeBrightWashColor
{
	wash-color: assassinColorBright;
}

.DemonHunter .TakeBrightWashColor
{
	wash-color: demonhunterColorBright;
}

.Druid .TakeBrightWashColor
{
	wash-color: druidColorBright;
}

.Hunter .TakeBrightWashColor
{
	wash-color: hunterColorBright;
}

.Knight .TakeBrightWashColor
{
	wash-color: knightColorBright;
}

.Mage .TakeBrightWashColor
{
	wash-color: mageColorBright;
}

.Mech .TakeBrightWashColor
{
	wash-color: mechColorBright;
}

.Inventor .TakeBrightWashColor
{
	wash-color: mechColorBright;
}

.Shaman .TakeBrightWashColor
{
	wash-color: shamanColorBright;
}

.Warlock .TakeBrightWashColor
{
	wash-color: warlockColorBright;
}

.MegaWarlock .TakeBrightWashColor
{
	wash-color: warlockColorBright;
}

.Warrior .TakeBrightWashColor
{
	wash-color: warriorColorBright;
}

.MegaWarrior .TakeBrightWashColor
{
	wash-color: warriorColorBright;
}

.Champion .TakeBrightWashColor
{
	wash-color: championColorBright;
}

.Insect .TakeBrightWashColor
{
	wash-color: insectColorBright;
}

.Brutal .TakeBrightWashColor
{
	wash-color: brutalColorBright;
}

.Healer .TakeBrightWashColor
{
	wash-color: healerColorBright;
}

.SpiritBrother .TakeBrightWashColor
{
	wash-color: spiritBrotherColorBright;
}

.SynergyDisabled .SynergyBG,
.SegmentBG
{
	wash-color: #333;
}

.SynergyDisabled .SynergyBGBorderPop
{
	wash-color: #51486e;
}

.SynergyDisabled .SynergyBGBorder, 
{
	opacity: .4; 
}

.SegmentBenchFill
{
	brightness: 1;
}

@keyframes 'SynergyIconAppear'
{
	0%
	{
		opacity: 0.01;
	}
	50%
	{
		opacity: 0.01;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes 'SynergyIconFadeOut'
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

#SelectUnitStats DACSynergyIcon
{
	width: 100px;
	height: 100px;
}

.ShowSynergiesCondensed .Segment
{
	width: 22px;
	background-size: 220% 100%;
	visibility: collapse;
}

.ShowSynergiesCondensed .Segment1
{
	margin-left: 0px;
}

.ShowSynergiesCondensed .Segment2
{
	margin-left: 18px;
}

.ShowSynergiesCondensed .Segment3
{
	margin-left: 36px;
}

.ShowSynergiesCondensed .SynergyIcon,
.ShowSynergiesCondensed .SynergyBG,
.ShowSynergiesCondensed .SynergyBGBorderPop,
.ShowSynergiesCondensed .SynergyBGBorder,
.ShowSynergiesCondensed #SynergyCounter,
.ShowSynergiesCondensed .Segment.SegmentBGBorderPop
{
	visibility: collapse;
	visibility: visible;
	width: 0;
	transition-duration: 0s;
}

.ShowSynergiesCondensed #SynergyCounter,
.ShowSynergiesCondensed .Segment.SegmentBGBorderPop
{
	transition-property: position;
	transition-duration: .1s;
}

.SynergyIcon,
.SynergyBG,
.SynergyBGBorderPop,
.SynergyBGBorder
{
	transition-property: width, position;
	transition-duration: .1s, .1s;
}

.LowVisualQuality .SynergyIcon,
.LowVisualQuality .SynergyBG,
.LowVisualQuality .SynergyBGBorderPop,
.LowVisualQuality .SynergyBGBorder,
.LowVisualQuality #SynergyCounter,
.LowVisualQuality .Segment.SegmentBGBorderPop,
.LowVisualQuality .ShowSynergiesCondensed .SynergyIcon,
.LowVisualQuality .ShowSynergiesCondensed .SynergyBG,
.LowVisualQuality .ShowSynergiesCondensed .SynergyBGBorderPop,
.LowVisualQuality .ShowSynergiesCondensed .SynergyBGBorder,
.LowVisualQuality .ShowSynergiesCondensed #SynergyCounter,
.LowVisualQuality .ShowSynergiesCondensed .Segment.SegmentBGBorderPop
{
	transition-property: none;
}

.ShowSynergiesCondensed #SynergyIcons DACSynergyIcon
{
	width: fit-children;
}

.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_0 .Segment1,
.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_0 .Segment2,
.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_0 .Segment3,
.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_1 .Segment2,
.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_1 .Segment3,
.ShowSynergiesCondensed DACSynergyIcon.LevelsWithAnyFilled_2 .Segment3
{
	visibility: collapse;
}

// For VS interstitial

.VSInfoContainer #SynergyIcons DACSynergyIcon
{
	width: fit-children;
}

.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_0 .Segment1,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_0 .Segment2,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_0 .Segment3,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_1 .Segment1,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_1 .Segment2,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_1 .Segment3,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_2 .Segment1,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_2 .Segment2,
.VSInfoContainer DACSynergyIcon.LevelsWithAnyFilled_2 .Segment3
{
	visibility: collapse;
}

.VSInfoContainer DACSynergyIcon,
.VSInfoContainer DACSynergyIcon,
.VSInfoContainer DACSynergyIcon,
{
	width: 108px;
}
