DACSellUnitBar
{
    width: 185px;
    height: 100%;
    background-image: url("s2r://panorama/images/leaderboard/leader_board_backer_psd.vtex");
    background-size: 100%;
    //position: 0px 0px 0px;
    opacity: 0;
	
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #00000088 ), to(#000000dd));
	
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #000000 ), to(#000000));
	box-shadow: #000000 0px 0px 15px;

    transition-property: opacity, brightness, position, background-image;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.DraggingUnit DACSellUnitBar
{
    //background-image: url("s2r://panorama/images/hud/sell_unit_panel_bg_on_psd.vtex");
}

.SellUnitVisible DACSellUnitBar
{
    position: 0px 0px 0px;
    opacity: 1;
}

DACSellUnitBar.Hovered #SellButtonContainer
{
	background-image: url("s2r://panorama/images/hud/sell_unit_button_dragging_psd.vtex");
}

#SellButtonContainer
{
    width: 150px;
    height: 500px;
    horizontal-align: center;
    vertical-align: center;
    background-image: url("s2r://panorama/images/hud/sell_unit_button_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

#SellButtonContainer
{
	transition-property: background-image;
	transition-duration: .2s;
}

.DraggingUnit #SellButtonContainer
{
    //ackground-image: url("s2r://panorama/images/hud/sell_unit_button_dragging_psd.vtex");
}

#SellUnitIcon
{
    width: 130px;
    height: 190px;
    horizontal-align: center;
    margin-top: 126px;
    background-image: url("s2r://panorama/images/hud/sell_unit_icon_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
	transition-property: background-image;
	transition-duration: .2s;
}

DACSellUnitBar.Hovered #SellUnitIcon
{
    background-image: url("s2r://panorama/images/hud/sell_unit_icon_on_psd.vtex");
}

.DraggingUnit #SellUnitIcon
{
    //background-image: url("s2r://panorama/images/hud/sell_unit_icon_on_psd.vtex");
}

#GoldValueContainer
{
    width: 100px;
    height: 90px;
    horizontal-align: center;
    margin-top: 300px;
    margin-left: 3px;

    background-image: url("s2r://panorama/images/hud/dac_shop_button_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

#UnitCost
{
    width: 100%;
    text-align: center;
    padding-right: 4px;
    margin-top: 13px;
    color: gradient(linear, 0% 0%, 0% 100%, from(#973c00), to(#906030));
    font-size: 40px;
    font-weight: bold;
}

#PlusMinus
{
    wash-color: #FFDE6D88;
	width: 28px;
    height: 28px;
    margin-top: 24px;
    background-image: url("s2r://panorama/images/hud/sell_unit_plus_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
