/* styles for the player context menu */
#Contents.PlayerMenuContents 
{
    width: 420px;
    flow-children: down;
}

#ProfileCard
{
	z-index: 1;
}

#MenuOptionsContainer
{
	width: 100%;
}

#MenuOptionsPanel
{
    flow-children: down;
    //background-color: #161616;
    //background-color: #8588a033;
    width: 100%;

	transform: translateX( -3% );

	transition-property: transform;
	transition-duration: 0.05s;
	//transition-timing-function: ease-out;
}

.EntranceAnimation #MenuOptionsPanel
{
	transform: translateX( 0px );
}

/* Don't animate the options appearing if the menu is on the top */
.BottomArrowVisible #MenuOptionsPanel
{
	transition-duration: 0.0s;
}

#MenuOptionsPanel Button
{
	padding: 6px 12px 3px 12px;
	margin-bottom: 8px;
    horizontal-align: center;
    width: 100%;
	border: 2px solid #ffffff11;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#MenuOptionsPanel Button.First
{
	//border-top: 1px solid transparent;
}

#MenuOptionsPanel Button Label
{
	text-align: center;
	horizontal-align: center;
	color: #ffffffaa;
	padding: 10px 0px 10px 0px;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	transition-duration: 0.2s;
	transition-property: color;
}

#MenuOptionsPanel Button:hover
{
	background-color: #8588a033;
}

#MenuOptionsPanel Button:active
{
}

#MenuOptionsPanel Button:hover Label
{
	color: white;
}

/* Custom styling for player context menu (with a profile card at the top) */
DACContextMenuPlayer #Contents
{
    background-color: transparent;
    padding: 0px;
    border: 0px solid transparent;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;
}