DACInventoryItem
{
	width: 64px;
	height: 64px;

	visibility: collapse;

	ui-scale: 100%;

	margin: 8px 8px 8px 8px;

	overflow: noclip;
}



/* Mobile styles */
.IsLayoutSmallScreen DACInventoryItem
{
	width: 80px;
	height: 80px;
	margin: 12px;
}

.AspectRatio21x9.IsLayoutSmallScreen DACInventoryItem
{
	ui-scale: 120%;
}

.Slot_Equipment,
.Slot_Global,
.Slot_Alliance,
.Slot_Placeable
{
	visibility: visible;
}

.Slot_Alliance
{
	visibility:visible;
}
.Slot_Empty
{
	visibility: collapse;
}

#ItemImage
{
	width: 100%;
	height: 100%;
	flow-children:right;
}

#OffensiveGem,
#DefensiveGem,
#SupportGem
{
	visibility:collapse;
	background-size: 100%;
	width: 33%;
	height: 33%;
	vertical-align: bottom;
	margin-bottom: -4px;
}

.OffensiveEquipped #OffensiveGem,
.DefensiveEquipped #DefensiveGem,
.SupportEquipped #SupportGem
{
	visibility:visible;
}

#DefensiveGem
{
	background-image: url("s2r://panorama/images/items/gem_defensive_small_psd.vtex");
}

#OffensiveGem
{
	background-image: url("s2r://panorama/images/items/gem_offensive_small_psd.vtex");
}

#SupportGem
{
	background-image: url("s2r://panorama/images/items/gem_support_small_psd.vtex");
}

#ParticleScenePanel
{
	width: 150%;
	height: 150%;
	horizontal-align: center;
	vertical-align: center;
}

.UnitAssignBG
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/assigned_hero_head_backing_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#UnitAssignment
{
	width: 35px;
	height: 35px;
	margin: 2px;
}


.IsLayoutLargeScreen #UnitAssignment,
.IsLayoutLargeScreen .UnitAssignBG {
	ui-scale: 80%;
}

.UnassignedIcon
{
	visibility: collapse;
}

.Slot_Equipment .UnassignedIcon
{
	width: 32px;
	height: 32px;
	margin: 4px;
	
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/unassigned_item_head_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	
}

.IsAssigned .UnassignedIcon
{
	visibility: collapse;
}

.UnitAssignBG,
#UnitAssignment
{
	visibility: collapse;
}

.Slot_Equipment.IsAssigned .UnitAssignBG
{
	visibility: visible;
}

.Slot_Equipment.IsAssigned #UnitAssignment
{
	visibility: visible;
}

.Slot_Equipment.IsGem .UnitAssignBG,
.Slot_Equipment.IsAssigned .UnitAssignBG 
{
	visibility: collapse;
}


.TierBlob
{
	width: 5px;
	height: 5px;

	visibility: collapse;

	background-color: grey;

	horizontal-align: right;
}

.Tier2 .TierBlob
{
	background-color: green;
}

.Tier3 .TierBlob
{
	background-color: blue;
}

.Tier4 .TierBlob
{
	background-color: purple;
}

.Tier5 .TierBlob
{
	background-color: gold;
}

@keyframes 'ItemBGPulse'
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0.15;
	}

	100%
	{
		opacity: 1;
	}
}

.LocalPlayerSelected .UnassignedBackground,
.BenchBackground
{
	width: 100%;
	height: 100%;


	animation-name: ItemBGPulse;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}

.Slot_Equipment .UnassignedBackground
{
	background-image: url("s2r://panorama/images/hud/inventory_unassigned_png.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	
}

.IsGem .UnassignedBackground,
.IsAssigned .UnassignedBackground
{
	visibility: collapse;
}

.BenchBackground
{
	visibility: collapse;
}

.InBench .BenchBackground
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/inventory_bench_png.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	
}

#ItemControllerGlyph
{
    visibility: collapse;
}

.ControllerHighlightingItem #ItemControllerGlyph
{
    visibility: visible;
    margin-left: 30px;
    margin-top: 35px;
    width: 50px;
    height: 50px;
}

.IsLayoutLargeScreen #ItemControllerGlyph {
    ui-scale: 80%;
    margin-left: 10px;
    margin-top: 25px;
}

.IsAssigned #ParticleScenePanel,
.Slot_Global #ParticleScenePanel, 
.Slot_Alliance #ParticleScenePanel {
    visibility: collapse;
}

#ItemCounter {
    visibility: collapse;
    vertical-align: bottom;
    horizontal-align: right;
    width: 28px;
    height: 28px;
    padding-top: 1px;
    background-color: gold;
    border-radius: 50%;
    border: 2px solid black;
    //color: black;
    color: white;
    font-size: 17px;
    font-weight: semi-bold;
	text-shadow: 0px 1px 0px 3.0 #000000cc;
    text-align: center;
}

.LowVisualQuality #ItemCounter {
    text-shadow: 0px 1px 0px 2.0 #000;
}

.HasItemCounter #ItemCounter {
    visibility: visible;
}

.IsLayoutSmallScreen #ItemCounter {
	ui-scale: 160%;
	font-size: 16px;
	//padding-top: 2px;
	border: 3px solid black;
	text-shadow: 0px 1px 0px 3.0 #000;
	color: white;

}