DACZooPage
{
	flow-children: down;

	margin-top: 116px;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

DACZooPage Label.ProbablyUnlocalizedText
{
	background-color: none;
	animation-name: none;
	color: textDark;
}

DACZooPage Label.ProbablyUnlocalizedText.ZooTextHeader
{
	color: textBrightest;
	background-color: black;
	padding: 2px 6px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.ZooTextDesc
{
	font-size: 21px;
	margin-top: -5px;
	margin-bottom: 5px;
	color: textDefault;
}

Label
{
	font-size: 24px;
	color: white;
}

.TopNav
{
	flow-children: right;
	margin-bottom: 10px;
	margin-left: 15px;
}

.ZooPage
{
	width: 100%;
	height: fill-parent-flow(1);
	visibility: collapse;

	background-color: #222;
	background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_psd.vtex");
    background-size: 100%;
	padding: 30px;
	flow-children: right;
}

.Page1 .ZooPage1,
.Page2 .ZooPage2,
.Page3 .ZooPage3,
.Page4 .ZooPage4,
.Page5 .ZooPage5
{
	visibility: visible;
}

.PageButton
{
	font-size: 30px;
	margin-left: 13px;
	margin-right: 13px;
	color: textDefault;
}

.NavDivider
{
	font-size: 30px;
	margin-left: 13px;
	margin-right: 13px;
	color: grey;
}

.Page1 .PageButton1,
.Page2 .PageButton2,
.Page3 .PageButton3,
.Page4 .PageButton4,
.Page5 .PageButton5
{
	color: textBrightest;
}

.PageTitle
{
	vertical-align: top;
	margin: 10px;
	font-size: 40px;
}

.ZooColumn
{
	flow-children: down;
	margin-right: 40px;
}


// TEXT COLORS

#textBrightest
{
	color: textBrightest;
	margin-top: 20px;
}

#textBrighter
{
	color: textBrighter;
}

#textBright
{
	color: textBright;
}

#textDefault
{
	color: textDefault;
}

#textDark
{
	color: textDark;
}

#textAccent
{
	margin-top: 20px;
	color: textAccent;
}

#textGold
{
	color: textGold;
}

#textFancy
{
	color: textFancy;
}

#textMinorRank1
{
	margin-top: 20px;
	color: textMinorRank1;
}

#textMinorRank2
{
	color: textMinorRank2;
}

#textMinorRank3
{
	color: textMinorRank3;
}

#textMinorRank4
{
	color: textMinorRank4;
}

#textMinorRank5
{
	color: textMinorRank5;
}



// TEXT STYLES


.TextBody
{
	width: 570px;
}


// BUTTON STYLES

DACZooPage Label.ProbablyUnlocalizedText.ZooTextHeader.ColumnTop
{
	margin-top: 45px;
}

.LiftButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp0/items/shield_01_png.vtex");
}

.HideTemp
{
	//hiding for now
	visibility: collapse;
}

// MAP STYLES

.MapContainer
{
	width: 100%;
	height: 100%;

	margin: 20px;
	border: 1px solid white;
}

.Map
{
	width: 3000px;
	height: 1080px;

	background-image: url("s2r://panorama/images/map/sample_map_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
}

DragZoom
{
	flow-children: down;
}

#DragZoomContentPanel
{
	vertical-align: middle;
	horizontal-align: middle;
	overflow: noclip;
	z-index: 1;
	transition-property: transform, position;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.MapContainer #VerticalScrollBar,
.MapContainer #HorizontalScrollBar
{
	opacity: 1;
}

.DragZoomSlowTransition
{
	transition-property: transform;
	transition-duration: 0.5s;
}

.DragZoomFastTransition
{
	transition-property: transform;
	transition-duration: 0.001s;
}