@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia.css");

DACHeropediaSeasonPage {
    flow-children: none;
}

.Body {
    width: 100%;
    height: 100%;
}

.SeasonList {
    width: 100%;
    flow-children: down;
}

.UnderlordsWelcome {
    horizontal-align: right;
    vertical-align: bottom;
    width: 800px;
    height: 793px;
}

.IsPlatformMobile .Header.PC,
.IsPlatformMobile .SectionType.PC,
.IsPlatformMobile .SeasonDesc.PC,
.IsPlatformPC .Header.Mobile,
.IsPlatformPC .SectionType.Mobile,
.IsPlatformPC .SeasonDesc.Mobile
{
    visibility: collapse;
}

.IsPlatformPC .Header.PC,
.IsPlatformPC .SectionType.PC,
.IsPlatformPC .SeasonDesc.PC,
.IsPlatformMobile .Header.Mobile,
.IsPlatformMobile .SectionType.Mobile,
.IsPlatformMobile .SeasonDesc.Mobile
{
    visibility: visible;
}




#SeasonIntro {
    height: fit-children;
    margin-bottom: 70px;
}

.SeasonListElement {
    height: fit-children;
    padding-top: 280px;
    padding-left: 100px;
    flow-children: down;

}

.SeasonListElement .Header {
    font-size: 85px;
    font-weight: black;
    letter-spacing: 3px;
    vertical-align: top;
    text-overflow: clip;
    text-transform: uppercase;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: #000000;
    padding: 0px 30px;
    box-shadow: 0px 0px 3px #000000;


}

.SectionType {
    horizontal-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: black;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 0px 30px;
    letter-spacing: 2px;
    margin-top: 125px;
    box-shadow: 0px 0px 2px #ffffff;
    horizontal-align: right;
    /*margin-left: 40px;*/

}

.SeasonDesc {
    font-size: 32px;
    color: #ffffff;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    width: 900px;
}
