DACLeaderboardDuos {
	
	//height: 100%;
	height: fit-children;
	transition-property: opacity;
	transition-duration: .1s;
	opacity: 1;
	visibility: collapse;
	//margin-top: 20px;
	ui-scale: 110%;
}

.ScoreboardVisible DACLeaderboardDuos
{
	margin-top: 20px;
}

.IsLayoutSmallScreen DACLeaderboardDuos {
	ui-scale: 110%;
	margin-top: 0px;
}

.IsLayoutSmallScreen.AspectRatio4x3 DACLeaderboardDuos,
.IsLayoutLargeScreen DACLeaderboardDuos {
	margin-top: 60px;
}

.GameMode_Duos DACLeaderboardDuos 
{
	visibility: visible;
}

DACLeaderboardEntry, .TeamHeaderContainer {
	transition-property: position;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	width: 240px;
	height: 30px;
	overflow: noclip;
}

.TeamHeaderContainer {
	margin: 1px 0px;
}

.TeamHeaderContainer.IsOpen,
.TeamHeaderContainer.IsAwayGame,
.TeamHeaderContainer.IsHomeGame,
.TeamHeaderContainer.IsFinished {
	//height: 28px;
	margin: 0px;
}

.TeamHeaderContainer.IsOpen {
	height: 30px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.TeamHeaderContainer.IsOpen.IsAwayGame {
	height: 30px;
	margin-top: 0px;
}




.TeamHeaderContainer.IsOpen #EventNotificationContainer {
	visibility: collapse;
}

.HasPlayerOpponent.ScoreboardHidden.InCombat .IsAwayGame
{
	margin-bottom: 5px;
}

.HasPlayerOpponent.ScoreboardHidden.InCombat .IsAwayGame.IsOpen
{
	margin-top: -5px;
}

#ParticleBG {
	height: 500px;
	width: 500px;
	margin-top: -186px;
	margin-left: 40px;
	ui-scale: 80%;

}
/* Scale particle down a smidge for "small" sized team headers */
.Combat #ParticleBG, .IsOpen #ParticleBG {
	/* margin-top: -185px;
	ui-scale: 80%; */
}

/* Selection/Visibility styles */
DACLeaderboardEntry, 
.ScoreboardHidden DACLeaderboardDuos .IsClone {
	visibility: collapse;
}

DACLeaderboardEntry.IsOpen, 
.ScoreboardHidden.HasPlayerOpponent .IsClone.CloneIsVisible {
	visibility: visible;
}

DACLeaderboardDuos DACLeaderboardEntry
{
	transition-property: height;
	//transition-duration: .1s;
	transition-timing-function: ease-in-out;	
	height: 0px;
	//visibility: collapse;
}

DACLeaderboardDuos DACLeaderboardEntry.IsOpen
{
	height: 60px;
	width: 320px;
}


.IsClone {
	visibility: collapse;
}

.HasPlayerOpponent .IsClone {
	visibility: visible;
}


#GameMode_Duos 
{
	visibility: visible;
}

#PlayerLeaderboardContainer {
	flow-children: down;
	vertical-align: top;
	overflow: noclip;
	//margin-top: 70px;
	min-height: 350px;
	height: fit-children;

	transition-property: margin-top, transform;
	transition-duration: 3s;
}

.GameMode_Duos.ShopVisible #PlayerLeaderboardContainer
{
	//margin-top: 440px;
}

.GameMode_Duos.ShopVisible.IsDragging #PlayerLeaderboardContainer,
.GameMode_Duos.ShopVisible.UnitSelected #PlayerLeaderboardContainer
{
	//margin-top: 0px;
	//opacity: 0;
}


.UnitSelected DACLeaderboardDuos.Combat,
.IsDragging DACLeaderboardDuos.Combat
{
	opacity: 1;
}




.UnitSelected .Combat #PlayerLeaderboardContainerCombat, 
.UnitSelected .Combat #PlayerLeaderboardContainerCombat #EventNotificationContainer 
{
	visibility: collapse;
}


.TeamSection {
	flow-children: none;
	margin-bottom: 0px;
}

.Combat .TeamSection
{
	flow-children: down;
	margin-bottom: 10px;
}

.TeamHeader.IsClone {
	opacity: 0.3;
	background-color: cornflowerblue;
}

.TeamHeader.IsDead, .IsDead .TeamHeader {
	wash-color: #AA3333ff;
	opacity: 1;
	saturation: 0;
}

.InCombat .IsDead {
	visibility: collapse;
}

.IsClone {
	wash-color: #456699ff;
	opacity: 1;
	saturation: 0;
}

DACLeaderboardEntry {
	ui-scale: 75%;
}


.TeamHeader {
	width: 240px;
	//width: 300px;
	flow-children: right;

	color: #000;
	text-transform: uppercase;
	padding: 1px 0px;
	//height: 80px;
	//margin-left: 10px;
	height: 30px;
	//background-color: #131313;
	background-image: url("s2r://panorama/images/leaderboard/team_header_closed_psd.vtex");
	border-radius: 4px;

	saturation: .9;
	brightness: .8;

	transition-property: brightness;
	transition-duration: .2s;	
}

.MyTeam.TeamHeader {
	//border-radius: 10px 10px 0px 0px;
	//background-image: url("s2r://panorama/images/leaderboard/team_isself_header_open_psd.vtex");
	brightness: 2.0;
}

.IsOpen .TeamHeader {
	background-image: url("s2r://panorama/images/leaderboard/team_header_open_psd.vtex");
}

.IsHomeGame .TeamHeader {
	border-radius: 10px 10px 0px 0px;
}

.IsAwayGame .TeamHeader {
	border-radius: 0px 0px 10px 10px;
}

.IsLoss .TeamHeader {
	wash-color: #FF3D3D90;
}

.LowVisualQuality .TeamHeader
{
	saturation: 1;
	brightness: 1;
}

.TeamHeader:hover
{
	brightness: 1.3;
}


.Combat .TeamVSTop
{
	height: 80px;
	//width: 275px;
	width: 320px;
	flow-children: none;
}

.Combat .TeamVSTop .TeamHeader.Away
{
	margin-top: 38px;
}

.Combat .TeamVSTop .TeamHeader
{
	//width: 220px;
	//width: 275px;
}

.TeamHeader.Away {
}

#HealthRow {
	//width: fit-children;
	horizontal-align: right;
	//margin-right: 4px;
	vertical-align: middle;
	flow-children: right;
	width: 43px;
	//border: 1px solid pink;
}

#TeamHealth {
	color: #a2ff92;
	vertical-align: center;
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	//font-family: 'Ravenhook';
	text-align: right;
	horizontal-align: right;
	width: 30px;

	font-size: 18px;
	//margin-right: 15px;
}

.HealthMid #TeamHealth 
{
	color: #ffb66e;
}


.HealthLow #TeamHealth  {
	color: #ff6123;

	animation-duration: 2.24s;
	animation-timing-function: linear;
	animation-name: HealthDeltaThrob;
	animation-iteration-count: infinite;
}

//Two throbs
//Three
@keyframes 'HealthDeltaThrob'
{
	0%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 1.0 #000000ff;
	}

	8.33333%
	{
		pre-transform-scale2d: 1.0;
	}

		13%
		{
			
			pre-transform-scale2d: 1.0;
		}

			16.6666%
			{
				
				pre-transform-scale2d: 1.1;
			}

		19%
		{
			
			pre-transform-scale2d: 1.0;
		}

	25%
	{
		
		pre-transform-scale2d: 1.0;
	}

		30%
		{
			
			pre-transform-scale2d: 1.0;
		}

				33.333%
				{
					
					pre-transform-scale2d: 1.2;
				}

		36%
		{
			
			pre-transform-scale2d: 1.0;
		}

	41.666%
	{
		pre-transform-scale2d: 1.0;
	}

	//blip
	50%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 2.0 #73000b60;
	}

	58.33%
	{
		pre-transform-scale2d: 1.0;
	}


		63%
		{
			pre-transform-scale2d: 1.0;		
		}

			66.666%
			{
				pre-transform-scale2d: 1.1;	
			}

		69%
		{
			pre-transform-scale2d: 1;	
		}

	
	75%
	{
		pre-transform-scale2d: 1.0;
	}

		80%
		{
			pre-transform-scale2d: 1.0;
		}

				83.333%
				{
					pre-transform-scale2d: 1.2;
				}

		88%
		{
			pre-transform-scale2d: 1.0;
		}

	91.666%
	{
		pre-transform-scale2d: 1.0;
	}

	100%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 1.0 #000000ff;
	}
	//blip
}

.PlayerHealthIcon
{
	width: 12px;
	height: 12px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-repeat: no-repeat;
	//background-position: 50% 50%;
	background-size: 100% 100%;
 	margin-top: 3px; 
	horizontal-align: right;
}
/*
.Combat #TeamHealth
{
	font-size: 18px;
	margin-right: 5px;
}
*/
.HealthMid .PlayerHealth
{
	color: #ffb66e;
}

.HealthLow #TeamHealth
{
	color: #ff6123;
}	

.HealthMid .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.HealthLow .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}	


#PlayerNameContainer {
	width: 125px;
	opacity-mask: url("s2r://panorama/images/masks/fade_name_right_psd.vtex");	
	transition-property: width;
	transition-duration: .15s;
	//margin-top: 2px;
	margin-left: 6px;
	vertical-align: center;
}

.IsOpen #PlayerNameContainer {
	width: 98px;
}

.TeamAvatars {
	width: 85px;
	height: 100%;
	flow-children: right;
	visibility: collapse;
}

.IsOpen .TeamAvatars,
.IsAwayGame .TeamAvatars,
.IsHomeGame .TeamAvatars,
.IsFinished .TeamAvatars
 {
	visibility: collapse;
}


.Teammate {
	width: 40px;
	height: 40px;
	background-color: yellow;
}

.TeammateOne {
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_4_0_png.vtex");
	background-size: 100% 100%;
}

.TeammateTwo {
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_4_0_png.vtex");
	background-size: 100% 100%;
}

.TeamName
{
	font-size: 15px;
	color: #dedede;


	vertical-align: center;
	line-height: 17px;
	//margin-top: -1px;
	text-align: left;
	horizontal-align: left;
	
	text-overflow: ellipsis;
	width: 135px;
	height: 20px;
	margin-top: 3px;
	white-space: nowrap;
	//font-family: 'Ravenhook';
	//letter-spacing: 1px;
	//text-transform: uppercase;
	font-weight: semi-bold;

}
/* 
.DuosTeam_0 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#aeec9b));
}

.DuosTeam_1 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#ebe18b));
}

.DuosTeam_2 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#af8beb));
}

.DuosTeam_3 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#b4856f));
}

.DuosTeam_4 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#ebb98b));
}

.DuosTeam_5 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#98a1f0));
}

.DuosTeam_6 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#f8aade));
}

.DuosTeam_7 .TeamName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#eba98b));
} */

/* .IsOpen .TeamName {
	horizontal-align: left;
	text-align: left;
	padding-left: 7px;
	max-width: 150px;
	//border: 1px solid red;
} */


/* .IsAwayGame .TeamName,
.IsHomeGame .TeamName,
.IsFinished .TeamName {
	horizontal-align: left;
	text-align: left;
	margin-left: 20px;
	padding-left: 7px;
} */

.MyTeam  {
	//border: 3px solid white;
	//brightness: 1.5;
	//border-top: 2px solid #ffffff88;
	//border-right: 2px solid #ffffff44;
	//border-bottom: 2px solid #ffffffaa;
}

.MyTeam .TeamName {
	//font-weight: semi-bold;
	color: #ffffff;
}

.TeamInfo {
	vertical-align: center;
	flow-children: right;
	margin-left: 5px;
	margin-right: 8px;
	width: 80px;
	horizontal-align: right;
}


.TeamMembers {
	//margin-top: 65px;
	//margin-left: 25px;

	margin-top: 40px;
	margin-left: 15px;

	visibility: collapse;
	flow-children: down;
	//opacity: 0;
	height: 0px;
	transition-property: height;
	transition-duration: .15s;
	overflow: clip;


}


.Combat .TeamMembers {
	margin-top: 0px;
	margin-bottom: 5px;
	transition-duration: 0s;
}


.TeamVsRow {
	flow-children: none;
	padding: 3px;
	width: 250px;
	margin-bottom: 0px;
	//margin-top: 3px;

   	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel01_psd.vtex");
   	background-size: 70% 100%;
   	background-repeat: no-repeat;

   	height: 50px;

	font-size: 15px;
	color: #fff;

	transition-property: brightness;
	transition-duration: .2s;
}

.TeamVsRow:hover
{
	brightness: 1.5;
}

.TeamVsRow .PlayerName {
	width: fit-children;
	max-width: 150px;
	//height: 20px;
	vertical-align: top;
	horizontal-align: left;
	//margin-left: 5px;
}

.PlayerHomeRow,
.PlayerAwayRow
{
	flow-children: none;
	width: 165px;
}

.PlayerHomeRow
{
	margin-top: 3px;
}

.PlayerAwayRow
{
	margin-top: 24px;
}

.TeamVsRow .PlayerLevel,
.TeamVsRow .PlayerGold
{
	font-size: 14px;
	horizontal-align: right;
	margin-top: -2px;
	width: 24px;
	text-align: right;
}

.TeamVsRow .PlayerGold
{
	margin-right: 7px;
}

.TeamVsRow .PlayerLevel
{
	margin-right: 38px;
}

#PlayerLevelContainer {
	flow-children: right;
	width: 28px;
	margin-left: 5px;
	//border: 1px solid blue;
	horizontal-align: right;
	vertical-align: center;
}

.PlayerLevel
{
	text-shadow: 0px 0px 0px 1.0 #00000000;
	color: #93b7fe;
	color: gradient(linear, 0% 0%, 0% 100%, from( #8db0f4 ), to(#aad8de));
	vertical-align: center;
	text-align: left;
	margin-left: 0px;
	font-size: 14px;
	font-weight: bold;

	text-overflow: shrink;
}

.PlayerLevelIcon
{
	width: 12px;
	height: 12px;
	opacity: .75;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 2px;

}

.LowVisualQuality .PlayerLevelIcon
{
	opacity: 1;
}

.PlayerGoldIcon
{
	width: 8px;
	height: 8px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	margin-right: 2px;
	margin-bottom: 1px;
	horizontal-align: right;
}

#PlayerInfo {
	min-width: 40px;
}

.PlayerVs { 
	font-weight: black;
	font-size: 12px;
	//color: #de5151;
	color: #aaa;
	text-align: center;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 100px;
	//margin: 0px 5px 2px 3px;
	visibility: collapse;
}

.SpectatingIcon
{
	height: 35px;
	width: 35px;
	background-image: url("s2r://panorama/images/hud/dac_profile_spectate_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 35px;
	//visibility: collapse;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .2s;

}

.Viewing .SpectatingIcon
{
	opacity: 1;
	//visibility: visible;
}

.TeamVsRow.Viewing
{
	brightness: 2.0;
}

.TeamPreview {
	visibility: collapse;
	flow-children: right;
}

.PlayerPreview {
	flow-children: right;
	width: fill-parent-flow(1);
}

.PlayerSep {
	width: 2px;
	height: 100%;
	margin: 2px 2px;
	background-color: #000;
}

/* .PlayerGold {
	font-size: 22px;
	text-shadow: 0px 0px 0px 3.0 #000;
	color: gold;
	padding: 2px 5px;
	text-overflow: shrink;
}

.PlayerLevel {
	//margin-left: -17px;
	//margin-bottom: 3px;
	
	background-color: #CDD2F3;
	width: 17px;
	text-align: center;
	color: #292952;
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
	border-radius: 30px;
	box-shadow: 0 0 0 1.0 #000;
	text-overflow: shrink;
	horizontal-align: right;

} */


/* 
.PlayerAvatarGroup .PlayerLevel {
	
	color: #3E4586;
	font-size: 18px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 6px;
} */

/* .IsOpen #PlayerLevelContainer,
.IsAwayGame #PlayerLevelContainer,
.IsHomeGame #PlayerLevelContainer,
.IsFinished #PlayerLevelContainer {
	visibility: collapse;
} */

.Selected .TeamMembers {
	visibility: visible;
	//opacity: 1;
	//height: 100px;
}

.Combat .TeamMembers
{
	transition-property: height;
	transition-duration: .2s;
	visibility: visible;
	height: 0px;
	margin: 0px;
	margin-left: 8px;
	width: 260px;
}

.Combat .Selected .TeamMembers
{
	height: 100px;
	margin: 0px;
	margin-left: 8px;
	margin-top: 0px;
}

.Selected .TeamPreview {
	visibility: collapse;
}


.TeamBacking
{
	width: 18px;
	height: 40px;

	brightness: .5;
	opacity: .5;

	transition-property: width;
	transition-duration: .15s;
}

.IsOpen .TeamBacking {
	width: 45px;
	border-radius: 10px 0px 0px 0px;
}

.IsAwayGame.IsOpen .TeamBacking {
	border-radius: 0px 0px 0px 10px;
}



/* Teams */

.Combat .DuosTeam_0.TeamHeader,
.Combat .DuosTeam_1.TeamHeader,
.Combat .DuosTeam_2.TeamHeader,
.Combat .DuosTeam_3.TeamHeader,
.Combat .DuosTeam_4.TeamHeader,
.Combat .DuosTeam_5.TeamHeader,
.Combat .DuosTeam_6.TeamHeader,
.Combat .DuosTeam_7.TeamHeader
{
	background-size: 100% 100%;
	background-position: 0% 0%;
	//background-image: url("s2r://panorama/images/leaderboard/team_header_open_psd.vtex");
}

.DuosTeam_0 .TeamHeader,
.DuosTeam_1 .TeamHeader,
.DuosTeam_2 .TeamHeader,
.DuosTeam_3 .TeamHeader,
.DuosTeam_4 .TeamHeader,
.DuosTeam_5 .TeamHeader,
.DuosTeam_6 .TeamHeader,
.DuosTeam_7 .TeamHeader
{
	background-size: contain;
	background-size: 100% 100%;
	background-position: 100% 0%;
	//wash-color: #b2da42;
	//background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_png.vtex");
}



.StreakGold1.WinStreak .TeamHeader  {
	background-image: url("s2r://panorama/images/leaderboard/team_header_closed_streak1_psd.vtex");
}

.IsOpen.StreakGold1.WinStreak .TeamHeader {
	background-image: url("s2r://panorama/images/leaderboard/team_header_open_streak1_psd.vtex");
}

.StreakGold2.WinStreak .TeamHeader  {
	background-image: url("s2r://panorama/images/leaderboard/team_header_closed_streak2_psd.vtex");
}

.IsOpen.StreakGold2.WinStreak .TeamHeader {
	background-image: url("s2r://panorama/images/leaderboard/team_header_open_streak2_psd.vtex");
}

.StreakGold3.WinStreak .TeamHeader  {
	background-image: url("s2r://panorama/images/leaderboard/team_header_closed_streak3_psd.vtex");
}

.IsOpen.StreakGold3.WinStreak .TeamHeader {
	background-image: url("s2r://panorama/images/leaderboard/team_header_open_streak3_psd.vtex");
}



DACLeaderboardEntry #PlayerSlot_2 .MyTeam {
	margin-top: -2px;
}

.Combat .Selected .TeamHeader
{
	brightness: 2.0;
}

.DuosTeam_0 .TeamHeader,
.DuosTeam_0.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");
	//background-color: gradient(linear, 0% 50%, 100% 100%, from( #b2da42ff ), to( #b2da4200 ));
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_00_psd.vtex");
}

.DuosTeam_0 .TeamBacking
{
	//background-color: gradient(linear, 0% 50%, 100% 100%, from( #b2da42ff ), to( #b2da4200 ));
	//background-color: gradient(linear, 0% 0%, 0% 100%, from( black ), to( #00000000 ));		
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_1 .TeamHeader,
.DuosTeam_1.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_1_png.vtex");
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_01_psd.vtex");
	//background-color: black;
}

.DuosTeam_1 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #ffee78ff ), to( #ffee7800 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_1_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_2 .TeamHeader,
.DuosTeam_2.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_2_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_02_psd.vtex");
}

.DuosTeam_2 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #957bf2ff ), to( #957bf200 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_2_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_3 .TeamHeader,
.DuosTeam_3.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_3_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_03_psd.vtex");
}

.DuosTeam_3 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #f0581fff ), to( #f0581f00 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_3_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_4 .TeamHeader,
.DuosTeam_4.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_4_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_04_psd.vtex");
}

.DuosTeam_4 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #fef9afff ), to( #fef9af00 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_4_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_5 .TeamHeader,
.DuosTeam_5.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_05_psd.vtex");
}

.DuosTeam_5 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #8bc1faff ), to( #8bc1fa00 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_6 .TeamHeader,
.DuosTeam_6.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_6_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_06_psd.vtex");
}

.DuosTeam_6 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #ff8faeff ), to( #ff8fae00 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_6_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}


.DuosTeam_7 .TeamHeader,
.DuosTeam_7.TeamHeader
{
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_7_png.vtex");
	//background-color: black;
	//background-image: url("s2r://panorama/images/leaderboard/duos_header_07_psd.vtex");
}

.DuosTeam_7 .TeamBacking
{
	background-color: gradient(linear, 0% 50%, 100% 100%, from( #fdbf5aff ), to( #fdbf5a00 ));
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_7_png.vtex");
	background-size: 100% 100%;
	brightness: 1.2;
}

.LowVisualQuality .TeamBacking
{
	opacity: 1;
	brightness: 1;
}

.IsFinished .IsVictory.PlayerName
{
	color: #99d3a0;
}

.IsFinished .IsLoss.PlayerName
{
	color: #FFB4B4;
}

.MyTeamIndicator
{
	height: 70px;
	width: 3px;
	margin-top: 4px;
	margin-left: -3px;
	background-color: white;
	visibility: collapse;
}

.MyTeam .MyTeamIndicator
{
	visibility: visible;
}


/* Combat icon */

.IconColumn
{
	height: 70px;
	width: 70px;
	horizontal-align: right;
	margin-right: 5px;
}

.InCombatIcon {
	ui-scale: 40%;
	width: 50%;
	height: 50%;
	horizontal-align: right;
	vertical-align: center;
	margin-bottom: 3px;
}
.InCombatIcon .SwordIcon
{
	//margin-right: 5px;
	animation-name: Fighting;
	margin-top: 20px;
}

.InCombatIcon Image {
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.InCombatIcon .DefendIcon
{
	margin-right: 15px;
	animation-name: Defending;
	margin-top: 20px;
}

.IsFinished .DefendIcon,
.IsFinished .SwordIcon
{
	visibility: collapse;
}

.IsClone .DefendIcon,
.IsClone .SwordIcon
{
	wash-color: #00aeffff;
	opacity: .85;
}



@keyframes 'Fighting'
{
	0%
	{
		transform: translateX(10px) translateY(5px);
	}
	15%
	{
		transform: translateX(-15px) translateY(-5px) rotateZ(-55deg);
	}	
	100%
	{
		transform: translateX(10px) translateY(5px);
	}
}


@keyframes 'Defending'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	15%
	{
		pre-transform-scale2d: 1.1;
	}	
	100%
	{
		pre-transform-scale2d: 1.0;
	}
}









//old

/*
.DuosTeam_0 .TeamBacking,
.Combat .DuosTeam_0.TeamHeader
{
	//background-color: #86892a;
	//background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");
	//background-size: cover;
}


.DuosTeam_1 .TeamBacking,
.Combat .DuosTeam_1.TeamHeader
{
	//background-color: #af8641;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_1_png.vtex");
	background-size: cover;
}


.DuosTeam_2 .TeamBacking,
.Combat .DuosTeam_2.TeamHeader
{
	//background-color: #4d4b8a;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_2_png.vtex");
	background-size: cover;
}


.DuosTeam_3 .TeamBacking,
.Combat .DuosTeam_3.TeamHeader
{
	//background-color: #7f201d;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_3_png.vtex");
	background-size: cover;
}


.DuosTeam_4 .TeamBacking,
.Combat .DuosTeam_4.TeamHeader
{
	//background-color: #696045;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_4_png.vtex");
	background-size: cover;
}


.DuosTeam_5 .TeamBacking,
.Combat .DuosTeam_5.TeamHeader
{
	//background-color: #4969a8;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex");
	background-size: cover;
}


.DuosTeam_6 .TeamBacking,
.Combat .DuosTeam_6.TeamHeader
{
	//background-color: #9b4a75;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_6_png.vtex");
	background-size: cover;
}


.DuosTeam_7 .TeamBacking,
.Combat .DuosTeam_7.TeamHeader
{
	//background-color: #93451f;
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_7_png.vtex");
	background-size: cover;
}
*/

#EventNotificationContainer {
	
	overflow: noclip;
}

.CombinedNotifications, .DuosNotifications {
	ui-scale: 70%;
	margin-left: 130px;
}

.IsOpen .CombinedNotifications,
.IsOpen .DuosNotifications {
	ui-scale: 100%;
	margin-left: 130px;
}





.Selected .CombinedNotifications {
	visibility: collapse;
}

.Viewing {
	//border-left: 2px solid cornflowerblue;
}

/* Target indicator */


@keyframes 'LeaderboardTargetIndicatorFighting'
{
	0%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
	20%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #ffe692 ), to(rgb(223, 108, 32)));
	}	
	100%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
}


.LeaderboardTargetIndicator {
	opacity: 0.9;
	transition-property: opacity;
	transition-duration: 100ms;
	
	width: 350px;//expanded so that clashing sword and shield are visible
	height: 75px;
	margin-top: 14px;//offset to line up with child stuff
	wash-color: #ccc;//

	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	visibility: collapse;
	margin-left : -15px;
}

/* todo
.IsCombatSelected .LeaderboardTargetIndicator
{
	brightness: 3;
	margin-left : -1px;
}
*/

.PlayerLeaderboard:hover .LeaderboardTargetIndicator
{
	brightness: 2;
	margin-left: -18px;
}

/* todo
.IsCombatSelected .PlayerLeaderboard:hover .LeaderboardTargetIndicator
{
	brightness: 4;
	margin-left : -1px;
}
*/


.LeaderboardTargetIndicator Image 
{
	vertical-align: middle;
	horizontal-align: right;
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 42px;
	height: 42px;
	margin-bottom: 12px;
	overflow: noclip;

}


.LeaderboardTargetIndicator .SwordIcon
{
	margin-right: 5px;
	animation-name: Fighting;
	
}


.LeaderboardTargetIndicator .DefendIcon
{
	margin-right: 15px;
	animation-name: Defending;
	margin-top: 20px;
}

/* TARGET INDICATOR FOR COMBAT ROUNDS */
.ScoreboardHidden.InCombat .IsHomeGame .LeaderboardTargetIndicator
{
	margin-top: 5px;
	ui-scale: 60%;
	width: 300px;
	margin-left: 95px;
	z-index: 100;
	opacity: 0.5;
}

.ScoreboardHidden.InCombat .IsAwayGame .LeaderboardTargetIndicator
{
	visibility: collapse;
}

.ScoreboardHidden.InCombat .IsDead .LeaderboardTargetIndicator
{
	visibility: collapse;
}


/* TARGET INDICATOR FOR CREEP ROUNDS */
.ScoreboardHidden.InCombat .LeaderboardTargetIndicator
{
	ui-scale: 50%;
	margin-top: -5px;
	margin-left: 100px;
	opacity: 0.5;

	visibility: visible;
}


.ScoreboardHidden.InCombat .IsOpen .LeaderboardTargetIndicator {
	visibility: collapse;
}

.ScoreboardVisible .LeaderboardTargetIndicator
{
	visibility: collapse;
}

/* Victory/loss states */

.IsFinished.IsLoss .TeamName
{
	color: #FFB4B4;
}
.IsFinished.IsVictory .TeamName
{
	color: #99d3a0;
}
