@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACMiniProfile {
	overflow: noclip;
	flow-children: down;
}

DACMiniProfile.IntroProfilePlayerSlot {
	margin:-15px -30px;	
}	

DACMiniProfile.DashboardProfile 
{
	width:500px;	
}

.DashboardProfile #DefaultProfileContainer
{
	width:100%;
	height:100%;
}

.DashboardProfile #PlayerSubtitleContainer
{
	visibility: collapse;
}

#DefaultProfileContainer
{
	horizontal-align: center;
	flow-children:none;		
	overflow:noclip;
}

#PlayerProfile
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;		
	margin-left:5px;
	overflow:noclip;
}

#OverridePlayerName,
#PlayerNameContainer
{
	horizontal-align: center;
	vertical-align: top;		
}

.GameMode_Duos #MatchIntro #PlayerNameContainer
{
	vertical-align: top;
	margin-top: 400px;
}

#PlayerAvatar {
	vertical-align: center;
	horizontal-align:center;
	width: 100%;
	height: 100%;	
}

.GameMode_Turbo .Eliminated #PlayerAvatar,
.GameMode_Streetfight .Eliminated #PlayerAvatar {
    saturation: 0;
    brightness: 0.3;
    wash-color: #00000080;
}


#PlayerProfileAvatar
{		
	width: 100%;
	height: 100%;
}

.GameMode_Duos #MatchIntro #PlayerProfile
{
	//margin-top: 40px;
}

#ScoreboardPage #PlayerProfileAvatar
{
	opacity-mask: none;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}


#RankIcon
{
	visibility: collapse;
}

.IntroBGContainer
{	
	horizontal-align: center;
	vertical-align: center;	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;		
	
	width:400px;
	height:500px;
	visibility: collapse;
}

.IntroBGContainer.BGVisible
{
	visibility: visible;
}

// editing things for duos intro
.GameMode_Duos #MatchIntro .Teammates .IntroBGContainer.BGVisible,
.GameMode_Duos #MatchIntro #PlayerSubtitleContainer
{
	//visibility: collapse;
	opacity: 0;
}

.DashboardProfile .IntroBGContainer
{
	visibility: collapse;
}

.LocalPlayer .IntroBGContainer
{
    /*wash-color: #7f000088;*/
}

.LocalPlayer .HeaderPlayerName
{	
	color: gradient( linear, 0% 0%, 0% 75%, from( #9a8874 ), to( #777777FF ) );	
}

.GameMode_Duos #MatchIntro .LocalPlayer .HeaderPlayerName
{
	color: #222;
}

#IntroBGContainer_1 { background-image: url("s2r://panorama/images/post_game/wanted_poster_01_psd.vtex"); }
#IntroBGContainer_2 { background-image: url("s2r://panorama/images/post_game/wanted_poster_02_psd.vtex"); }
#IntroBGContainer_3 { background-image: url("s2r://panorama/images/post_game/wanted_poster_03_psd.vtex"); }
#IntroBGContainer_4 { background-image: url("s2r://panorama/images/post_game/wanted_poster_04_psd.vtex"); }
#IntroBGContainer_5 { background-image: url("s2r://panorama/images/post_game/wanted_poster_05_psd.vtex"); }

#PlayerProfileAvatarOverlay
{
	visibility: collapse;
}

#PlayerSubtitleContainer
{
	horizontal-align: center;
	margin-left:5px;
	height:500px;
	width:400px;
}

#PlayerSubtitleContainer .PosterTitleText
{
	height:50px;
	width:340px;
	margin-bottom:3px;
	font-size:35px;		
}

.DirtyText
{	
	text-overflow: shrink;
	font-size: 34px;
	font-family: Ravenhook, k_alwaysFontNames;
}

#PlayerDollarValue
{
	color: black;
	font-size: 34px;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	margin-bottom: 15px;	
	
	font-family: Ravenhook, k_alwaysFontNames;
	visibility: collapse;
}


.LowVisualQuality .IntroProfilePlayerSlot
{
    opacity: 1;
	transform: translateX(0px);
	animation-name: none;
	animation-delay: 0.0s;
	animation-duration: 0s;
}


#PlayerProfile {
	horizontal-align: center;
	overflow: noclip;
	width: 100%;
	height: 100%;
}

#PlayerEXPContainer {
	
	width: 110px;
	height: 110px;
	
	margin: 127px 0 0 154px;

	visibility: collapse;
}

#PlayerEXPGraph {
	background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_bg_psd.vtex");
	background-size: cover;	
	width: 100%;
	height: 100%;
}

#PlayerEXPGraph_FG {
	hue-rotation: -165deg;
	background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_fg_png.vtex");
	width: 100%;
	height: 100%;
	background-size: cover;
	transition-property: clip;
	transition-duration: 200ms;
}


#PlayerEXPGraphLevel {
	color: #6d94e3ff;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 29px 0px 0px 0px;
	font-size: 44px;
	text-shadow: 0px 0px 0px 2.0 #000;
}



#StatusHP {
	position: 84px 160px 0px;
	color: #a2ff92;
	font-size: 38px;
	//font-size: 48px;
	text-align: center;
	width: 70px;
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: RadianceM;

	//horizontal-align: center;
	visibility: collapse;
}

#EliminatedContainer
{
	flow-children:none;	
	visibility: collapse;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	width:1px;
	height:1px;
}

.Eliminated #EliminatedContainer
{
	visibility: visible;
}


.EliminatedX
{			
	background-position: center;
	background-repeat: no-repeat;		
	background-size: cover;
	horizontal-align: center;
	vertical-align: center;
	width: 300px;
	height: 300px;	
	visibility: collapse;
}

.GameMode_Turbo .EliminatedX,
.GameMode_Streetfight .EliminatedX {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}



.EliminatedX.BGVisible
{
	visibility: visible;
}

#EliminatedX_1 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_01_psd.vtex"); }
#EliminatedX_2 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_02_psd.vtex"); }
#EliminatedX_3 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_03_psd.vtex"); }
#EliminatedX_4 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_04_psd.vtex"); }
#EliminatedX_5 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_05_psd.vtex"); }
#EliminatedX_6 {	background-image: url("s2r://panorama/images/post_game/player_eliminated_06_psd.vtex"); }


.GameMode_Turbo #EliminatedX_1,
.GameMode_Turbo #EliminatedX_2,
.GameMode_Turbo #EliminatedX_3,
.GameMode_Turbo #EliminatedX_4,
.GameMode_Turbo #EliminatedX_5,
.GameMode_Turbo #EliminatedX_6
 {	
	background-image: url("s2r://panorama/images/post_game/player_eliminated_knockout_psd.vtex");
	background-size: 100% 70%;
}


.LowVisualQuality #StatusHP {
	text-shadow: 0px 0px 0px 2.0 #000;
}

#ButtonBuyEXP {
	width: 50px;
	height: 51px;
	background-image: url("s2r://panorama/images/hud/dac_profile_levelup_button_png.vtex");
	margin: 70px 0 0 170px;
}

#PlayerFlag {
	background-image: url("s2r://panorama/images/hud/black_ribbon_psd.vtex");
	background-size: cover; 

	width: 242.25px;
	height: 273.75px;
	margin-top: 134px;
}



#TempPlayerPanel {
	flow-children: down;
}

	#TempPlayerPanel > Label {
		color: #FF8888;
		font-size: 20px;
	}

.PlayerStateName {
	font-size: 24px;
	color: #fff;
}

.Heading {
	color: #fff;
	font-size: 18px;
}


#PlayerBench {
	position: 200px 800px 0px;
	height: 150px;
	background-color: #00000030;
	flow-children: right;
}

.BenchEntry {
	flow-children: down;
	margin: 5px;
	background-color: #00000030;
	border: 1px solid #000;
	height: 100%;
	width: 100px;
}

#StatusXP {
	font-size: 24px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #f7b461 ), to(#c6924e));
	color: #a8a7a7;
	color: gradient(linear, 0% 0%, 0% 100%, from( #999999 ), to(#f6f6f6));
	//color: gradient(linear, 0% 0%, 0% 100%, from( #aea473 ), to(#f1ebd1));
	//color: gradient(linear, 0% 0%, 0% 100%, from( #704c21 ), to(#d84f13));
	font-weight: bold;
	text-shadow: 0px 1px 0px 3.0 #000;
	margin: 195px 0 0 70px;
	text-align: center;
	width: 150px;
	
	
}

.LowVisualQuality #StatusXP {
	text-shadow: 0px 1px 0px 2.0 #000;
}

.PlayerIsMaxLevel #StatusXP,
.PlayerIsMaxLevel #ButtonBuyEXP {
	visibility: collapse;
}

DACParticleScenePanel {
	width: 100%;
	height: 100%;
}

.DashboardProfile #StatusXP,
.DashboardProfile #StatusHP,
.DashboardProfile #PlayerEXPContainer,
.DashboardProfile #ButtonBuyEXP {
	visibility: collapse;
}

.VSProfile #ButtonBuyEXP,
.VSProfile #StatusXP {
	visibility: collapse;
}

.NeutralRound #StatusHP,
.NeutralRound #PlayerEXPGraphLevel,
.NeutralRound CircularProgressBar
{
	visibility: collapse;
}

.HeaderPlayerName {
	height:44px;
	max-width:280px;
	text-align: center;	
	vertical-align: top;
	margin-top:40px;
	visibility:collapse;	
	color: #9a8874;
	text-overflow: shrink;
}

.GameMode_Duos #MatchIntro .HeaderPlayerName
{
	height: 150px;
	width: 300px;
	line-height: 55px;
	margin-bottom: -50px;
	font-size: 50px;
}

/*#MatchIntro .HeaderPlayerName {
	font-size: 64px;
	font-weight: normal;
	width: 448px;
	margin-right: 32px;
	margin-left: 32px;
}*/

DACRoundOverScreen #MiniProfile #PlayerFlag,
DACRoundOverScreen #MiniProfile .HeaderPlayerName
{
	opacity: 0;
}

.LowVisualQuality .HeaderPlayerName {
	text-shadow: 0px 1px 0px 2.0 #000;
}

.OverrideName #OverridePlayerName,
.ShowName #PlayerNameContainer
{
	visibility: visible;
}


/* Bot avatars etc */

.DacProfileAvatarDefault {
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_placeholder_png.vtex");
}

.DacProfileAvatarPlaceholder
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_placeholder_png.vtex");
}



#RankIcon
{
	margin: 40px 0 0 5px;
	width: 225px;
	height: 446.25px;
}

#PlayerProfileAvatarOverlay
{
	overflow: noclip;
    margin: 0px 0 0 5px;
	width: 225px;
	height: 236px;
}

.BotPlayer #PlayerProfileAvatarOverlay
{
	
}
.NeutralRound #PlayerProfileAvatarOverlay,
.NeutralRound #PlayerProfileAvatar
{
	visibility: collapse;
}

.NeutralRound #RankIcon,
.BotPlayer #RankIcon,
.HideRank #RankIcon
{
    visibility: collapse;
}

#ButtonBuyEXP {
	//visibility: collapse;
}

#ParticleFG {
	width: 100%;
	height: 100%;
}

@keyframes 'HeadShake'
{
	0%
	{
        brightness: 1;
		transform: scale3d( 1, 1, 1 );
	}

	50%
	{
        brightness: 1.3;
		transform: scale3d( 1.1, 1.1, 1.1 );
	}

	100%
	{
        brightness: 1;
		transform: scale3d( 1, 1, 1 );
	}
}


.HeadShakeForTutorial_LevelUp #PlayerEXPContainer
{
    animation-duration: 0.66s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 6;
	animation-name: HeadShake;
}

.MuteButton
{
	width: 50px;
	height: 50px;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 25px;
	margin-top: 10px;
	border-radius: 30px;

    //turn this off until we turn on chat
    visibility: collapse;

	/*background-image: url("s2r://panorama/images/control_icons/mute_png.vtex");*/
	/*background-repeat: no-repeat;*/
	/*background-size: 80% 80%;*/
	/*background-position: 50% 50%;*/
	/*wash-color: #ffffff;*/
}

.Muted .MuteButton
{
	background-color: #ff4346;

	background-image: url("s2r://panorama/images/control_icons/mute_png.vtex");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
	wash-color: #ffffff;
}

.Unmuted .MuteButton
{
	background-color: #ffffff;

	background-image: url("s2r://panorama/images/control_icons/unmuted_png.vtex");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;

}

.ViewingFlippableBoard #PlayerStateContainer .MuteButton
{
    //turn this off until we turn on chat
	//visibility: visible;
}

.PlayerProfileAvatarVignette
{
	background-image: url("s2r://panorama/images/mini_profile/mini_profile_avatar_vignette_psd.vtex");
	background-size: cover;	
	z-index: -11;
	width: 100%;
	height: 100%;
}

.PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/mini_profile_avatar_border_psd.vtex");
	background-size: cover;	

	width: 350px;
	height: 350px;
	margin-left: -62px;
	margin-top: -62px;
	z-index: -10;
}



// Rewards Tab Profile

DACRewardsProtopassPage #StatusXP,
DACRewardsProtopassPage #StatusHP,
DACRewardsProtopassPage #PlayerEXPContainer,
DACRewardsProtopassPage #ButtonBuyEXP,
DACRewardsProtopassPage #PlayerAvatar,
DACRewardsProtopassPage #PlayerProfileAvatarOverlay,
DACRewardsBattlePassPage #StatusXP,
DACRewardsBattlePassPage #StatusHP,
DACRewardsBattlePassPage #PlayerEXPContainer,
DACRewardsBattlePassPage #ButtonBuyEXP,
DACRewardsBattlePassPage #PlayerAvatar,
DACRewardsBattlePassPage #PlayerProfileAvatarOverlay 
{
	visibility: collapse;
}

DACRewardsProtopassPage #RankIcon,
DACRewardsBattlePassPage #RankIcon
{
	margin-top: -100px;
}

.IntroProfileContainerRow .MuteButton,
.LocalPlayerBoard #PlayerProfile .MuteButton,
.ScoreboardPage .MuteButton
{
	visibility: collapse;
}
