
DACRankIcon, #RankPositionAdjust 
{
	width: 225px;
	height: 446.25px;
	overflow: clip;
}

DACRankIcon.RankTierUnknown
{
    visibility: collapse;
}

DACRankIcon.RankIconStyle_MiniProfile
{
}

DACRankIcon.RankIconStyle_StandAlone, #RankPositionAdjust .RankIconStyle_StandAlone
{
	height: 200px;
	width: 130px;
}

.LeaderboardPosition {
	visibility: collapse;
	font-size: 24px;
	color: gradient( linear, 0% 0%, 100% 100%, from( #96530b ), to( #5a3c1b ) );
	text-shadow: 1px 1px 0px 1.0 #000;
	font-weight: black;
	text-align: center;
	width: 100%;
	margin-top: 349px;
}

.RankTier9 .LeaderboardPosition {
	visibility: visible;
}

.RankIconStyle_StandAlone .LeaderboardPosition {
	
	margin-top: 349px;
}

.RankTier9 #RankNumeral {
	visibility: collapse;
}

.RankIconStyle_StandAlone #RankFlag {
	visibility: collapse;
}



.RankTier1 #RankNumeral {
	margin-bottom: 78px;
}

.RankTier2 #RankNumeral {
	margin-bottom: 72px;
}

.RankTier3 #RankNumeral {
	margin-bottom: 63px;
}

.RankTier4 #RankNumeral {
	margin-bottom: 55px;
}

.RankTier5 #RankNumeral {
	margin-bottom: 48px;
}

.RankTier6 #RankNumeral {
	margin-bottom: 40px;
}

.RankTier7 #RankNumeral {
	margin-bottom: 32px;
}

.RankTier8 #RankNumeral {
	margin-bottom: 28px;
}

.RankTier9 #RankPin {	
	margin: 220px 0 0 4px;
}


/* Center standalone rank icons in their little widget. TALK TO CHRISK BEFORE ADJUSTING THESE */
.RankIconStyle_StandAlone #RankPositionAdjust {
	margin-top: -220px;
	margin-left: -50px;
}

.RankIconStyle_StandAlone.RankTier1 #RankPositionAdjust {
	margin-top: -190px;
}

.RankIconStyle_StandAlone.RankTier2 #RankPositionAdjust {
	margin-top: -193px;
}

.RankIconStyle_StandAlone.RankTier3 #RankPositionAdjust {
	margin-top: -197px;
}

.RankIconStyle_StandAlone.RankTier4 #RankPositionAdjust {
	margin-top: -200px;
}

.RankIconStyle_StandAlone.RankTier5 #RankPositionAdjust {
	margin-top: -202px;
}

.RankIconStyle_StandAlone.RankTier6 #RankPositionAdjust {
	margin-top: -210px;
}

.RankIconStyle_StandAlone.RankTier7 #RankPositionAdjust {
	margin-top: -213px;
}

.RankIconStyle_StandAlone.RankTier8 #RankPositionAdjust {
	margin-top: -215px;
}

.RankIconStyle_StandAlone.RankTier9 #RankPositionAdjust {
	margin-top: -221px;
}



#RankNumeral
{
	width: 50px;
	height: 43px;
	margin-left: 1px;
	horizontal-align: center;
	vertical-align: bottom;
}

#ForegroundContainer #RankNumeral
{
    visibility: collapse;	
}

Image {
	width: 225px;
	height: 446.25px;
}

#RankPin
{
	width: 135px;
	height: 200px;
	margin-top: 204px;
	margin-right: 4px;
	horizontal-align: center;
}

@keyframes 'PulseAnim3'
{
	0%
	{
		opacity: 0;
	}

	35%
	{
		opacity: 1;
	}

	65%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

.SegmentPulse
{
	animation-name: PulseAnim3;
	animation-delay: 0.0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	saturation: 2;
	brightness: 2;
}
