@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACPlayerAvatar {
}

#AvatarFG, #AvatarBG {
	width: 100%;
	height: 100%;
}

#AvatarFG {
	background-size: contain;
}

#AvatarFG {
	background-size: cover;
}

.IsClone.CloneIsVisible  #AvatarFG
{
	visibility: collapse;
}
