DACPostGameStats {
	width:100%;
	height:100%;
	flow-children:down;
	background-color:black;
}

#TopRow
{
	height:90%;
	width:100%;
	flow-children:right;
}

#BottomRow 
{
	height: 10%;
	width: 100%;
	flow-children:right;
}

#LocalPlayerStats
{
	width:50%;
	height:100%;
	flow-children:down;
}

#LocalPlayerDetails
{
	flow-children:down;
	width:100%;
}

#LocalPlayerUnits,
#OtherPlayerUnits{
	width: 100%;
	height: 310px;
	flow-children: down;
}

#LocalPlayerGeneric
{
	width:100%;
	height:200px;
	flow-children:down;
}

#LocalPlayerSynergies 
#OtherPlayerSynergies
{
	width: 100%;
	height: 310px;
}

#LocalPlayerGoldStats 
{
	width: 100%;
	height: 310px;
}

#LocalPlayerGenericStats,
#OtherPlayerGenericStats
{
	flow-children: right;
	width: 100%;
}

#SpectateButton 
{
	horizontal-align: right;
}

#LocalPlayerInfo {
	width: 600px;
	flow-children: down;
}


#LocalUnderlordContainer
{
	flow-children:down;
	width:100%;
}

.Versus #OtherPlayerContainer
{
	visibility:visible;
	width:45%;
	flow-children:down;
	height:100%;
}

.Versus #LocalUnderlordContainer,
#OtherUnderlordContainer 
{
	flow-children: right;
}

.Versus #LocalPlayerInfo
{
	width: 800px;
	height: 400px;
}

#OtherPlayerInfo {
	margin-top:106px;
	width: 800px;
	height: 300px;
}

.Versus #LocalPlayerUnderlord,
#OtherPlayerUnderlord {
	width: 300px;
}

#OtherPlayerDetails
{
	flow-children:down;
	height:600px;
	width:500px;
}

#OtherPlayerUnderlord 
{
	horizontal-align: center;
	height: 600px;
	margin-top: 50px;
}

#LocalPlayerUnitsContainer
{
	flow-children:right-wrap;
}

.HeroIconPanel
{
	flow-children: down;
}

.HeroIconPanel Label
{
	horizontal-align:center;
	font-size:20px;
	color:white;
}

.LocalPlayerRoundText,
.OtherPlayerRoundText
{
	color: white;
	font-size: 40px;
	margin-left: 50px;
	margin-top: 50px;
}

.LocalPlayerPlacementText,
.LocalPlayerRoundLostText,
.LocalPlayerStillPlayingText,
.OtherPlayerPlacementText,
.OtherPlayerRoundLostText,
.OtherPlayerStillPlayingText
{
	color: white;
	font-size: 20px;
	horizontal-align: center;
	
}

.LocalPlayerRoundLostText,
.PlayerEliminated .LocalPlayerStillPlayingText 
{
	visibility: collapse;
}

.PlayerEliminated .LocalPlayerRoundLostText
{
	visibility:visible;
}

.OtherPlayerRoundLostText,
.PlayerEliminated .OtherPlayerStillPlayingText {
	visibility: collapse;
}

.PlayerEliminated .OtherPlayerRoundLostText {
	visibility: visible;
}


#LocalPlayerUnderlord
{
	horizontal-align:center;
	height:600px;
	margin-top:50px;
}

#RoundScrubSlider
{
	horizontal-align:center;
	width:1000px;
}

#RoundScrubSlider.Hidden
{
	visibility:collapse;
}
#SliderContainer
{
	width:1435px;
}

#MainMenuButton
{
	margin-left:50px;
	width:250px;
}

#SpectateButton
{
	margin-right:50px;
}

#HeroImage
{
	horizontal-align:center;
}

.LocalPlayerTitleLabel
{
	color:white;
	font-size:40px;
}

.OtherPlayerTitleLabel {
	color: white;
	font-size: 40px;

}
#OtherPlayerContainer
{
	visibility:collapse;
}

#OtherPlayerUnitsContainer {
	flow-children:right;
}

.LocalPlayerRankLabel, 
.OtherPlayerRankLabel {
	color: white;
	font-size: 20px;
}

#LocalPlayerGenericStats
{
	horizontal-align:center;
}

#LocalPlayerGenericStats Label,
#OtherPlayerGenericStats Label {
	color: white;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#LocalPlayerSynergies,
#OtherPlayerSynergies
{
	flow-children:down;
}

#LocalPlayerSynergyContainer,
#OtherPlayerSynergyContainer
{
	flow-children:right-wrap;
}

#LocalPlayerItems,
#OtherPlayerItems {
	flow-children: down;
}

#LocalPlayerItemsContainer,
#OtherPlayerItemsContainer {
	flow-children: right-wrap;
}

#HeroItem
{
	width:60px;
	height:60px;
}

#LocalPlayerItems Image,
#OtherPlayerItems Image
{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

#LeaderboardEntryContainer
{
	flow-children:down;
	horizontal-align:right;
	width:10%;
}

#OtherPlayerStats {
	width: 100%;
	height: 100%;
	flow-children: down;
}

#OtherPlayerUnits {
	width: 100%;
	height: 310px;
	flow-children: down;
}

#OtherPlayerGeneric {
	width: 100%;
	height: 200px;
	flow-children: down;
}

#OtherPlayerSynergies {
	width: 100%;
	height: 310px;
}

.Versus #LocalPlayerContainer
{
	flow-children:down;
	width:45%;
}

.Versus #LocalPlayerGeneric
{
	visibility:collapse;
}

.Versus #LocalPlayerStats
{
	width:100%;
	margin-left:20px;
}

.Versus #LocalPlayerUnits,
#OtherPlayerUnits
{
	height:200px;
}

.Versus #LocalPlayerSynergies,
#OtherPlayerSynergies
{
	height: 200px;
}

#LocalPlayerContainer
{
	flow-children:right;
	height:100%;
	width:90%;
}

#LocalPlacementRoundContainer,
#OtherPlacementRoundContainer {
	flow-children: right;
	width: 100%;
}

#LocalPlayerDetails .LocalPlayerRankLabel,
#LocalPlayerDetails #LocalPlayerGenericStats
{
	visibility: collapse;
}

.Versus #LocalPlayerDetails .LocalPlayerRankLabel,
.Versus #LocalPlayerDetails #LocalPlayerGenericStats {
	visibility: visible;
}

DACLeaderboardEntry
{
	transition-property:position;
	transition-duration:0.2s;	
}

DACSynergyIcon
{
	transform: scale3d(0.7, 0.7, 0.7);
	margin-right:-50px;
}
