@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

/* overrides */

.HeropediaList .HeroContainer {
    height: 280px;
}

.HeropediaList .HeroContainer .Icon {
    width: 180px;
    height: 180px;
    border: 0px 0px 0px 0px;
    box-shadow: none;
	background-position: center center;
}

/* end overrides */

.ItemTypeIcon {
    width: 38px;
    height: 38px;
    background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: -10px;
}

.ItemTypeEquipOffensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_attack_psd.vtex");
}

.ItemTypeEquipDefensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_defense_psd.vtex");
}

.ItemTypeEquipSupport .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_support_psd.vtex");
}

.ItemTypeGlobal .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/item_icon_global_psd.vtex");
}

.ItemTypeAlliance .ItemTypeIcon
{
	background-image: url("s2r://panorama/images/hud/item_icon_global_psd.vtex");
}

.ItemTypePlaceable .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
}
.NextPageButton {
    height: 60px;
    padding: 2px 24px;
    vertical-align: top;
    horizontal-align: right;
    background-color: #53538c;
    /*blur: gaussian( 2.5 );*/
    visibility: collapse;
    margin-top: 300px;
    margin-right: 120px;
		box-shadow: fill #00000050 0px 0px 10px 8px;
		transition-property: brightness;
		transition-duration: 0.2s;
		brightness: 1;
}

PopupHeropedia .NextPageButton {
    margin-top: 100px;
}

.NextPageButton:hover {
    brightness: 1.6;
}

.NextPageButton:active {
    brightness: 1.5;
}

.NextPageButton Label {
    color: #fff;
    vertical-align: middle;
    horizontal-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;
}

.NamePageSwitch #NamePageButton,
.TypePageSwitch #TypePageButton,
.TierPageSwitch #TierPageButton,
.NamePageSwitch #NamePageContainer,
.TypePageSwitch #TypePageContainer,
.TierPageSwitch #TierPageContainer {
    visibility: visible;
}


#TierPanelz
{
    visibility: collapse;
}

.ItemTypeIcon
{
    margin-top: -21px;
    margin-bottom: 8px;
    width: 42px;
    height: 42px;
    opacity: 1.0;
}


#CloseButtonContainer
{
    vertical-align: top;
    width: 100%;
    padding: 100px 260px;
}

.IsLayoutSmallScreen .CloseButton
{
    width: 96px;
    height: 96px;
}

.IsLayoutLargeScreen .HeroContainer
{ 	
	ui-scale: 78%;
	margin-right: 10px;
}