DACUnderlordConfig
{
	width: 100%;
	height: 100%;

	position: 0px 0px 0px;

	transition-property: position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

DACUnderlordConfig.Left
{
	position: -100% 0px 0px;
}

DACUnderlordConfig.Right
{
	position: 100% 0px 0px;
}

#Left, #Right
{
	font-size: 24px;
	color: #DDD;
}

#Name
{
	font-size: 48px;
	color: #68668F;
}

.NavigationButton
{
	width: 100px;
	height: 100px;
	vertical-align: center;
}

.NextHidden #Next.NavigationButton,
.PreviousHidden #Previous.NavigationButton
{
	visibility: collapse;
}

.NavigationButton Label
{
	horizontal-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #CCC;

	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.NavigationButton:hover Label
{
	color: #FFF;
}


#Previous
{
	horizontal-align: left;
}

#Next
{
	horizontal-align: right;
	text-align: right;
}

.Arrow
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	wash-color: #CCC;

	y: 40px;

	transition-property: position, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.Arrow:hover
{
	wash-color: #FFF;
}

.Arrow.Left
{
	x: 20px;
	transform: rotateZ( 90deg );
}

.NavigationButton:hover .Arrow.Left
{
	x: 15px;
}

.Arrow.Right
{
	x: 15px;
	transform: rotateZ( -90deg );
}

.NavigationButton:hover .Arrow.Right
{
	x: 20px;
}

#UnderlordContainer
{
	width: 100%;
	height: 100%;
	padding: 80px 80px;
}

#UnderlordContainer .BioSection
{
	flow-children: down;

	width: 600px;
	height: 400px;
}

#UnderlordContainer .BioSection #Name
{
	font-size: 120px;
	text-transform: uppercase;
	font-weight: black;
	
	font-family: Radiance;
	color: #FFF;
}

#UnderlordContainer .BioSection #Subtitle
{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;

	margin-top: -40px;

	padding: 0px 6px 2px 6px;

	height: 44px;

	transform: rotateZ( -1.8deg );

	background-color: #FFF;
	color: #000;
}

.IsLayoutLargeScreen #UnderlordContainer .BioSection #Subtitle
{
	box-shadow: 0px 0px 2px #FFF;
}

#UnderlordContainer .BioSection #DescriptionHeader
{
	margin-top: 20px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;

	color: #FFF;
}

#UnderlordContainer .BioSection #Description
{
	font-size: 18px;
	letter-spacing: 2px;

	color: #FFF;
}

#UnderlordContainer  #Portrait
{
	height: 1080px;
	horizontal-align: right;
	margin-bottom: -100px;
	margin-right: -200px;
	wash-color: #666;

	z-index: -1;
}

.SelectButton
{
	width: 400px;
	height: 40px;

	background-color: #10A539;

	horizontal-align: right;
	vertical-align: bottom;
}

.SelectButton:hover
{
	background-color: #30C559;
}


.SelectedUnderlordPanel
{
	width: 400px;
	height: 40px;

	background-color: #333;

	horizontal-align: right;
	vertical-align: bottom;

}

.SelectButton Label,
.SelectedUnderlordPanel Label
{
	horizontal-align: center;
	vertical-align: center;

	color: white;
	font-size: 24px;
}

.SelectedUnderlord .SelectButton,
.SelectedUnderlordPanel
{
	visibility: collapse;
}

.SelectedUnderlord .SelectedUnderlordPanel
{
	visibility: visible;
}

DACUnderlordConfig .LevelProgress
{
	horizontal-align: left;
	vertical-align: bottom;
}

DACUnderlordConfigLevelProgress
{
	flow-children: down;
}

DACUnderlordConfigLevelProgress #Levels
{
	width: 100%;
}

DACUnderlordConfigLevelProgress #Levels Label
{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

DACUnderlordConfigLevelProgress #CurLevel
{
	horizontal-align: left;
	text-align: left;

	color: #FFF;
}

DACUnderlordConfigLevelProgress #NextLevel
{
	horizontal-align: right;
	text-align: right;

	color: #393939;
}

DACUnderlordConfigLevelProgress #ProgressBar
{
	flow-children: right;
	margin-bottom: 8px;
}

DACUnderlordConfigLevelProgress .ProgressNotch
{
	width: 80px;
	height: 32px;

	background-color: #C4C4C4;
	border-radius: 3px;

	margin-left: 6px;
	margin-right: 6px;
}

DACUnderlordConfigLevelProgress .ProgressNotch.Completed
{
	background-color: #6CFF27;
}

DACUnderlordConfigLevelProgress #GamesPlayed
{
	width: 100%;
	text-align: center;
	color: #888;

	text-transform: uppercase;
	letter-spacing: 2px;

	font-size: 14px;
}

