@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACAchievementsPage
{
	width:100%;
	height:100%;
	background-color:#222;
	background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
	background-size: 100%;
	flow-children:none;
}

.Dimmer
{
	width:100%;
	height:100%;
	background-color: #060606ee;
}

.MainContainer
{
	width: 100%;
	height: 100%;
}

.AchievementsFlow
{
	//width: fit-children;
	width: 95%;
	height: fit-children;
	margin-top: 60px;
	margin-bottom:60px;
	vertical-align: center;
	horizontal-align: center;

	flow-children: down-wrap;
	overflow: scroll clip;
}

.Claimable .DailyChallengeClaimFX
{
	visibility: visible;
}

.AchievementProgressSummaryRankIcon
{
	vertical-align: bottom;
	horizontal-align: center;
	height: 24px;
	background-size: contain;
}

.DailyChallengeClaimFX
{
	width: 120px;
	height: 120px;
	margin-top: 20px;

	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.AchievementCategory3 .DailyChallengeClaimFX
{
	margin-bottom: 0px;
}

.Claimable .DailyChallengeClaimFX
{
	visibility: visible;
}

// Daily Challenges

#QuestItemContainer
{
	width: 500px;
	height: 500px;
}