#Contents
{
	flow-children:down;
}

.MenuGems
{
	min-width:600px;
	min-height: 200px;
	color: gray;
}

.Hover 
{
	color: darkgreen;
}

.Gem
{
	width:100%;
	height:40px;
	flow-children:right;
	font-size:20px;
}

#ItemPanel
{
	height:40px;
	width:40px;
}

#HeroPanel
{
	height: 40px;
	width: 40px;
}