@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes.css");

.SharedPoolDescription
{
    font-size: 28px;
    line-height: 42px;
    color: #c1c3d3;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    width: 1000px;
}