#RickyContainer
{
	width:100%;
	height:100%;
}

#Ricky
{
	background-image: url("s2r://panorama/images/jail/raven_hookey_psd.vtex");
	background-size: contain;
	width: 25%;
	height: 25%;		
	background-repeat: no-repeat;
	background-position: 100% 100%;
	horizontal-align:right;
	vertical-align: bottom;
}

#RickyText
{	
	font-family: Radiance;
	font-weight:semibold;
	font-size:26px;
	color:black;
	horizontal-align: left;	
	padding:15px 70px 45px 25px;		
	text-overflow: shrink; 	
}

#RickyChatBubble
{
	background-image: url("s2r://panorama/images/tutorial/ricky_chatbubble_png.vtex");
	background-size: contain;
	width:350px;
	min-height:230px;
	background-repeat: no-repeat;	
	horizontal-align:right;
	vertical-align: bottom;	
	margin-bottom:50px;
	margin-right:250px;
	background-size: 100% 100%;	
}
