.UnitDropBar
{
	width: 100%;
	height: 100%;
	//background-image: url("s2r://panorama/images/leaderboard/leader_board_backer_psd.vtex");
	background-size: 100%;
	visibility: collapse;
	
	//background-color: gradient(linear, 0% 0%, 100% 0%, from( #00000088 ), to(#000000dd));
	
	//background-color: gradient(linear, 0% 0%, 100% 0%, from( #000000 ), to(#000000));
	//box-shadow: #000000 0px 0px 15px;

	transition-property: brightness, background-image;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;

	margin-bottom: 0px;
}

.GameMode_Duos .UnitDropBar
{
	width: 50%;
	vertical-align: bottom;
}

.GameMode_Duos.UnitSelected.SellUnitVisible .UnitDropBar
{
	visibility: visible;
}

.UnderlordSelected.GameMode_Duos .UnitDropBar
{
	visibility: collapse;
}

.GameMode_Duos.DraggingShopUnit #SellUnitBar
{
	wash-color: #777;
    visibility: visible;
}

.SellUnitVisible #SellUnitBar
{
	vertical-align: top;
	visibility: visible;
}

.InCombat.SelectedUnitOnBoard #SellUnitBar
{
	visibility: collapse;
}

#SendButtonContainer
{
	//flow-children: down;
}

.UnitBarButtonContainer
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	vertical-align: center;

	transition-property: background-color, background-image, brightness;
	transition-duration: .2s;

	border-top: 2px solid #716f7e88;
	border-left: 2px solid #41396133;
	border-right: 2px solid #413961aa;
	border-bottom: 2px solid #8a7bc1aa;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#45455c88), to(#1a1a1d88));

	//background-image: url("s2r://panorama/images/hud/sell_unit_button_psd.vtex");
	//background-repeat: no-repeat;
	//background-size: 96% 112%;
	//background-position: 50% 50%;
}

.GameMode_Duos .UnitBarButtonContainer
{
	height: 92%;
	width: 95%;
}

.SellUnitVisible .Hovered #SellButtonContainer.UnitBarButtonContainer,
.CanSendUnit.Hovered #SendButtonContainer.UnitBarButtonContainer
{
	//background-image: url("s2r://panorama/images/hud/sell_unit_button_dragging_psd.vtex");
	//background-color: #888888;
	brightness: 1.8;
}

#SellUnitIcon
{
	//width: 120px;
	//height: 130px;
	width: 110px;
	height: 110px;
	horizontal-align: center;
	margin-top: -5px;
	background-image: url("s2r://panorama/images/hud/sell_unit_icon_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	transition-property: background-image, wash-color, brightness;
	transition-duration: .2s;
}

.IsLayoutSmallScreen #SellUnitIcon
{
    width: 175px;
    height: 175px;
    margin-top: 12px; 
}

.AspectRatio4x3.IsLayoutSmallScreen #SellUnitIcon
{
	margin-top: -16px;
	ui-scale: 80%;
}

.GameMode_Duos.IsLayoutSmallScreen #SellUnitIcon
{
    width: 150px;
    height: 150px;
    margin-top: 12px; 
}


.GameMode_Duos #SellUnitIcon
{
	margin-top: -2px;
	width: 120px;
	height: 90px;	
}

.GameMode_Duos.InCombat #SellUnitIcon
{
    background-image: none;
}

.IsLayoutSmallScreen.GameMode_Duos.InCombat #SellUnitIcon
{
	background-image: url("s2r://panorama/images/hud/sell_unit_icon_psd.vtex");
}

.LowVisualQuality DACSellUnitBar,
.LowVisualQuality #SellButtonContainer,
.LowVisualQuality #SellUnitIcon
{
	transition-duration: 0.0s;
}

.UnitDropBar.Hovered #SellUnitIcon
{
	//background-image: url("s2r://panorama/images/hud/sell_unit_icon_on_psd.vtex");
}



.CanSendUnit #SendButtonContainer
{
	wash-color: #00000000;
}

.SellLabel
{
    horizontal-align: center;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 24px;

    color: gradient(linear, 0% 0%, 0% 100%, from( #ffec87 ), to(#ffd700));    
    visibility: visible;
    text-transform: uppercase;
    //margin-bottom: 78px;
    margin-bottom: 73px;
}

#RecycleLabel
{
	visibility:collapse;
}

.IsDraggingItem #RecycleLabel
{
	visibility:visible;
}

.IsDraggingItem #SellLabel
{
	visibility: collapse;
}

.IsLayoutSmallScreen .SellLabel,
.IsLayoutSmallScreen.InCombat .SellLabel,
.GameMode_Duos.IsLayoutSmallScreen .SellLabel,
.GameMode_Duos.IsLayoutSmallScreen.InCombat .SellLabel
{
	font-size: 32px;
	//margin-bottom: 125px;
	margin-bottom: 115px;
}

.AspectRatio4x3.IsLayoutSmallScreen .SellLabel
{
	margin-bottom: 100px;
}

.GameMode_Duos .SellLabel
{
   font-size: 21px;
   margin-bottom: 65px;
}

.GameMode_Duos.InCombat .SellLabel
{
    margin-bottom: 55px;
}


#GoldValueContainer
{
	width: 80px;
	height: 65px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 5px;

	background-image: url("s2r://panorama/images/hud/dac_shop_button_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

	visibility: collapse;
}

#OffensiveGemValueContainer,
#DefensiveGemValueContainer,
#SupportGemValueContainer
{
	width: 80px;
	height: 65px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	visibility: collapse;
}

#GemContainer
{
	flow-children:right;
	width:fit-children;
	height:fit-children;
	vertical-align:bottom;
	horizontal-align:middle;
}


.IsDraggingItem #SellUnitBar #GoldValueContainer
{
	visibility: collapse;
}

.DraggingItemWithOffensiveGem #OffensiveGemValueContainer
{
	background-image: url("s2r://panorama/images/items/gem_offensive_psd.vtex");
	visibility:visible;
}

.DraggingItemWithDefensiveGem #DefensiveGemValueContainer
{
	background-image: url("s2r://panorama/images/items/gem_defensive_psd.vtex");
	visibility: visible;
}

.DraggingItemWithSupportGem #SupportGemValueContainer
{
	background-image: url("s2r://panorama/images/items/gem_support_psd.vtex");
	visibility: visible;
}

.IsLayoutSmallScreen #GoldValueContainer,
.GameMode_Duos.IsLayoutSmallScreen #GoldValueContainer,
.InCombat.GameMode_Duos.IsLayoutSmallScreen #GoldValueContainer
{
	width: 105px;
	height: 85px;
	margin-bottom: 15px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #GoldValueContainer,
.GameMode_Duos.IsLayoutSmallScreen.AspectRatio4x3 #GoldValueContainer,
.InCombat.GameMode_Duos.IsLayoutSmallScreen.AspectRatio4x3 #GoldValueContainer
{
	margin-bottom: -15px;
}

.GameMode_Duos.InCombat #GoldValueContainer
{
	width: 70px;
	height: 55px;
	margin-bottom: 0px;
}

#SellUnitBar #GoldValueContainer
{
	visibility: visible;
}

#UnitCost
{
	width: 100%;
	text-align: center;
	padding-right: 4px;
	margin-top: 7px;
	font-size: 32px;
	font-weight: bold;
	color: gradient(linear, 0% 0%, 0% 100%, from(#973c00), to(#906030));
}

.IsLayoutSmallScreen #UnitCost,
.GameMode_Duos.IsLayoutSmallScreen #UnitCost,
.InCombat.GameMode_Duos.IsLayoutSmallScreen #PlusMinus
{
	font-size: 36px;
	margin-top: 15px;
}

.GameMode_Duos #UnitCost
{
	padding-right: 4px;
	margin-top: 7px;
	font-size: 28px;
}

#PlusMinus
{
	wash-color: #FFDE6D88;
	width: 24px;
	height: 24px;
	margin-top: 13px;
	background-image: url("s2r://panorama/images/hud/sell_unit_plus_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.IsLayoutSmallScreen #PlusMinus,
.GameMode_Duos.IsLayoutSmallScreen #PlusMinus,
.InCombat.GameMode_Duos.IsLayoutSmallScreen #PlusMinus
{
	margin-top: 20px;
	width: 30px;
	height: 30px;
}
