DACUnderlordStatus 
{
	visibility: collapse;
	height: 100%;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
}

.LowVisualQuality DACUnderlordStatus
{
	transition-property: none;
	transition-duration: 0s;
}

.GameMode_Duos.DraggingShopUnit .LeftPlayer DACUnderlordStatus,
.UnitSelected .LeftPlayer DACUnderlordStatus,
.LeftPlayer DACUnderlordStatus
{
	transform: translateX( -1000px );
}

.EGameState_Playing DACUnderlordStatus 
{
	visibility: visible;
}

DACUnderlordStatus.ShowPlayer
{
	transform: translateX( 0px );
}

.LowVisualQuality DACUnderlordStatus.ShowPlayer
{
	transform: none;
	visibility: visible;
}

.ERoundState_Preparing .LeftPlayer DACUnderlordStatus
{
	visibility: collapse;
}

.DuosBuddy DACUnderlordStatus
{
	visibility: collapse;
}

.GameMode_Duos.ERoundState_Preparing .DuosBuddy DACUnderlordStatus,
.ERoundState_Preparing.GameMode_Sandbox .LeftPlayer DACUnderlordStatus,
.ERoundState_Preparing.GameMode_Puzzle .LeftPlayer DACUnderlordStatus
{
	visibility: visible;
}

.VersusScreenVisible .NeutralOpponent #SideItems,
#SideItems
{
	vertical-align: center;	
	horizontal-align: right;
	width: 1100px;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
	transform: translateX( 0px );
	height: 100%;
}

.VersusScreenVisible .NeutralOpponent .LeftPlayer #SideItems,
.LeftPlayer #SideItems
{
	horizontal-align: left;
	height: 900px;
	vertical-align: bottom;
}

.VersusScreenVisible #SideItems
{
	transform: translateX( 1000px );
}

.VersusScreenVisible .LeftPlayer #SideItems
{
	transform: translateX( -1000px );
}

#UnderlordParticle
{
	width: 900px;
	height: 900px;
	horizontal-align: right; 
	opacity: 1;
	transition-property: opacity;
	transition-duration: .3s;
	vertical-align: bottom; 
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_psd.vtex");
}

.LowVisualQuality #UnderlordParticle,
.IsLayoutSmallScreen #UnderlordParticle
{
	visibility: collapse;
}


.UnderlordVignette
{
	width: 800px;
	height: 500px;
	background-image: url("s2r://panorama/images/hud/underlord_backing_gradient_psd.vtex");
	background-size: 100%;
	opacity: 1;
	//opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	
	

	vertical-align: bottom;
	horizontal-align: right;
}

.LeftPlayer .UnderlordVignette
{
	horizontal-align: left;
	transform: ScaleX(-1);
}

#UnderlordSmokeParticle
{
	width: 100%;
	height: 100%;
	margin-top: 450px;
	margin-left: 150px;
	overflow: noclip;
	opacity: .7;
}

.LeftPlayer #UnderlordSmokeParticle
{
	margin-left: -275px;
	opacity: 1;
	
}

.LowVisualQuality #UnderlordSmokeParticle
{
	opacity: 1;
}

.BottomSection
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
	
	padding-bottom: safe-area-inset-bottom;
	margin-bottom: 18px;



}

.LeftPlayer .BottomSection
{
	horizontal-align: left;
}

.AspectRatio21x9.IsLayoutSmallScreen .BottomSection 
{
	ui-scale: 130%;
	margin-right: 122px;
}

.AspectRatio21x9.IsLayoutSmallScreen.HasSafeAreaBottom .BottomSection
{
	margin-bottom: -68px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer .BottomSection
{
	ui-scale: 130%;
	margin-left: 270px;
	margin-left: 112px;
	overflow: noclip;
	margin-right: 0px;
}

.IsLayoutSmallScreen .BottomSection 
{
	//ui-scale: 110%;
	//margin-right: -52px;
	margin-bottom: 0px;
}

.IsLayoutSmallScreen .LeftPlayer .BottomSection
{
	//ui-scale: 110%;
	//margin-left: -58px;
	margin-bottom: 0px;
	overflow: noclip;
}

.Info 
{
	horizontal-align: right;

	flow-children: right;
	//margin-bottom: 250px;
	margin-bottom: 20px;

	//width: 310px;
	width: 530px;
	height: 600px;

	//background-color: #101010D0;
	padding-bottom: 25px;
}

.LeftPlayer .Info
{
	horizontal-align: left;
	//margin-left: 75px;
	margin-left: 38px;
}

.RightPlayer .Info
{
	//margin-right: 75px;
	margin-right: 25px;
}

.IsLayoutSmallScreen.AspectRatio21x9 .RightPlayer .Info
{
	//margin-right: 75px;
	margin-right: 85px;
	width: 480px;
}

.InfoBlock
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	horizontal-align: right;
	//background-color: #101010D0;
	padding: 0px 12px;
	margin-bottom: -30px;
}

.LeftPlayer .InfoBlock
{
	margin-left: 16px;
	horizontal-align: right;
}


.IsLayoutSmallScreen.AspectRatio21x9 .InfoBlock
{
	width: 380px;
	horizontal-align: left;
	padding: 8px 0px;
	margin-left: 10px;
	//background-color: green;
}

.IsLayoutSmallScreen.AspectRatio21x9 .LeftPlayer .InfoBlock
{
	margin-left: 16px;
	horizontal-align: right;
}

.LeftPlayer .InfoBlock
{
	margin-left: 16px;
	horizontal-align: right;
}


.NameContainer 
{
	width: 493px;
	flow-children: right;
	//margin-bottom: 3px;
	margin-bottom: 0px;
	height: 50px;
}

.LeftPlayer .NameContainer
{
	horizontal-align: right;
	margin-right: -15px;
}

.AspectRatio21x9 .LeftPlayer .NameContainer
{
	horizontal-align: right;
	margin-right: -20px;
}

.IsLayoutSmallScreen.AspectRatio21x9 .LeftPlayer .NameContainer
{
	horizontal-align: right;
	margin-right: -12px;
}

.LeftPlayer #PlayerName
{
	horizontal-align: right;
}

.IsLayoutSmallScreen.AspectRatio21x9 .LeftPlayer #PlayerName
{
	horizontal-align: right;
}

#DuosTeamName
{
	vertical-align: bottom;
	margin-bottom: -8px;
	margin-left: 0px;
}

.IsLayoutSmallScreen.AspectRatio21x9 .LeftPlayer #DuosTeamName
{
	horizontal-align: right;
}

#DuosTeamName Label
{
	color: #fff;
	font-weight: black;
	text-shadow: 0px 0px 0px 2.5 #000000FF;
	font-size: 34px;
	text-transform: uppercase;
}

.IsTeammate #DuosTeamName Label
{
	color: #83c831;
}

.IsOpponent #DuosTeamName Label
{
	color: #cd3939;
}

.LeftPlayer #AbilitySection
{
	//margin-left: 40px;
	horizontal-align: right;
	//width: fit-children;
}

#AbilitySection
{
	width: 100%;
	height: fit-children;

	flow-children: right;
}

.AspectRatio21x9 #AbilitySection
{
	ui-scale: 80%;
}

#AbilitySection .TalentAbility
{
	width: 108px;
	height: 128px;
	margin: 7px;
	margin-top: 7px;

	

	flow-children: down;
}

.AspectRatio21x9 #AbilitySection .TalentAbility
{
	width: 102px;
	height: 122px;
}

#AbilitySection .TalentAbility.Large
{
	width: 136px;
	height: 156px;
	
	margin: 7px;
	margin-top: 2px;

	visibility: collapse;
}

.AspectRatio21x9 #AbilitySection .TalentAbility.Large
{
	width: 144px;
	height: 164px;
	margin-top: 2px;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer
{
	width: 100%;
	height: width-percentage( 100% );

	background-color: black;
	border-radius: 8px;
}

.LowVisualQuality #AbilitySection .TalentAbility .TalentAbilityImageContainer
{
	border-radius: 0px;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #TalentAbilityImage
{
	width: 100%;
	height: 100%;
	padding: 10px;
	//background-position: center;
	//background-size: 50%;

	//border: 6px solid red;

	opacity-mask: url("s2r://panorama/images/masks/square_vignette_psd.vtex");

	brightness: 1.8;
	
}

#TalentAbility4
{
	visibility: collapse;
}


#AbilityBevelOverlay
{
	width: 100%;
	height: 100%;
	
	background-image: url("s2r://panorama/images/hud/ability_bevel_overlay_psd.vtex");
	background-size: 100%;
}

#AbilityBevelOverlayLarge
{
	width: 100%;
	height: 100%;
	
	background-image: url("s2r://panorama/images/hud/ability_bevel_overlay_large_psd.vtex");
	background-size: 100%;
}
	

.LowVisualQuality #AbilitySection .TalentAbility .TalentAbilityImageContainer #TalentAbilityImage
{
	opacity-mask: none;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #CooldownOverlay
{
	width: 100%;
	height: 100%;
	saturation: 0;
	brightness: 0.2;

	border: 6px solid black;
}

#AbilitySection .TalentAbility .TalentAbilityImageContainer #CooldownOverlay.Hidden
{
	visibility: collapse;
}

#AbilitySection .TalentAbility .PipContainer
{
	visibility: collapse;
	height: fill-parent-flow( 1.0 );
	width: 100%;
	
	overflow: noclip;

	flow-children: right;
}

#AbilitySection .TalentAbility .PipContainer .Pip
{
	width: 14px;
	height: 14px;
	background-color: red;
	margin: 6px 4px;
	border: 1px solid black;
	
	background-image: url("s2r://panorama/images/hud/ability_pip_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	visibility: collapse;
}

#AbilitySection .TalentAbility.HasUpgrade1 .PipContainer #Pip1,
#AbilitySection .TalentAbility.HasUpgrade2 .PipContainer #Pip2,
#AbilitySection .TalentAbility.HasUpgrade3 .PipContainer #Pip3,
#AbilitySection .TalentAbility.HasUpgrade4 .PipContainer #Pip4
{
	visibility: visible;
}

#AbilitySection .RightSection
{
	width: 100%;
	height: 100%;
	height: 140px;

	flow-children: down;
}

#AbilitySection .RightSection #HypeBarBackground
{
	width: 357px;
	height: 18px;

	background-color: #000;
	border-radius: 8px;

	margin-bottom: 4px;
	flow-children: right;
	border: 4px solid #000;
	margin-left: 4px;
	visibility: collapse;
}

.AspectRatio21x9 #AbilitySection .RightSection #HypeBarBackground
{
	height: 33px;
	width: 333px;
}

.LowVisualQuality #AbilitySection .RightSection #HypeBarBackground
{
	border-radius: 0px;
}

#AbilitySection .RightSection .HypeMeter
{
	height: 100%;
	width: 100%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #343434 ), to(#525252) );
}

#AbilitySection .RightSection .HypeMeterActive
{
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

	transition-property: width;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.LowVisualQuality .HypeMeter,
.LowVisualQuality .HypeMeterActive
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	transition-property: none;
	transition-duration: 0s;
}

@keyframes 'BrightnessPulse'
{
	0%
	{
		brightness: 1;
	}

	50%
	{
		brightness: 10;
	}

	100%
	{
		brightness: 1;
	}
}

.BrightnessPulse
{
	animation-name: BrightnessPulse;
	animation-duration: .4s;
	animation-iteration-count: 1;
}

#AbilitySection .RightSection .ProgressPip
{
	width: 8px;
	height: 100%;
	background-color: white;

	border-left: 2px solid black;
	border-right: 2px solid black;

	margin-left: 20px;
}

#AbilitySection .RightSection .ProgressPip.Hidden
{
	visibility: collapse;
}

#AbilitySection .RightSection .OtherAbilities
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	flow-children: right;
}

.LeftPlayer #AbilitySection .RightSection .OtherAbilities
{
	width: fit-children;
	height: fill-parent-flow( 1.0 );

	flow-children: right;
	horizontal-align: right;
}


.HeaderPlayerName 
{
	color: #fff;
	//font-size: 30px;
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 0px;
	font-family: Ravenhook, Radiance;
	letter-spacing: 2px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #84abd9 ), to(#FFFFFF));
	text-overflow: shrink;
	text-shadow: 0px 0px 0px 3.0 #000;
}

.LeftPlayer .HeaderPlayerName
{
	horizontal-align: right;
}


.IsTeammate .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #cfe3b6 ), to(#6fba16));
}

.IsOpponent .HeaderPlayerName {
	color: gradient(linear, 0% 0%, 0% 100%, from( #ff5539 ), to(#ffddcd));
}

.DetailsContainer 
{
	flow-children: right;
	width: 493px;
	width: fit-children;
	//width: 100%;
	horizontal-align: left;
	margin-bottom: -15px;

}

.LeftPlayer .DetailsContainer
{
	horizontal-align: right;
}

.AspectRatio21x9 .DetailsContainer
{
	overflow: noclip;
	margin-bottom: -20px;
}

.AspectRatio21x9 .IsOpponent .DetailsContainer
{
	width: 380px;
	width: fit-children;
	flow-children: right;
	horizontal-align: right;
}

.AspectRatio21x9 .RightPlayer .IsOpponent .DetailsContainer
{
	horizontal-align: left;
}



.CornerStatusLevel,
.CornerStatusGold,
.CornerStatusHealth,
.CornerStatusHype
{
	flow-children: right;
	width: fit-children;
	padding-right: 20px;
}

.AspectRatio21x9 .IsOpponent .CornerStatusLevel,
.AspectRatio21x9 .IsOpponent .CornerStatusGold,
.AspectRatio21x9 .IsOpponent .CornerStatusHealth,
.AspectRatio21x9 .IsOpponent .CornerStatusHype
{
	flow-children: right;
	width: fit-children;
	padding-left: 20px;
	padding-right: 0px;
	horizontal-align: right;
	
}

.AspectRatio21x9 .RightPlayer .IsOpponent .CornerStatusLevel,
.AspectRatio21x9 .RightPlayer .IsOpponent .CornerStatusGold,
.AspectRatio21x9 .RightPlayer .IsOpponent .CornerStatusHealth,
.AspectRatio21x9 .RightPlayer .IsOpponent .CornerStatusHype
{
	flow-children: right;
	width: fit-children;
	padding-left: 0px;
	padding-right: 20px;
	horizontal-align: left;
	
}



.CornerStatusHealth
{
	padding-right: 0px;
}


.CornerStatusHype
{
	width: 190px;
	horizontal-align: right;
	padding-right: 0px;

	vertical-align: bottom;
	margin-bottom: 4px;
	//margin-right: 12px;

	visibility: collapse;
}

.AspectRatio21x9 .CornerStatusHype
{
	visibility: collapse;
}

.CornerStatusHypeMobile
{
	opacity: 0;
	visibility: collapse;
}

.AspectRatio21x9 .CornerStatusHypeMobile
{
	vertical-align: bottom;
	margin-bottom: 26px;
	margin-left: 10px;
	opacity: 0;
	visibility: collapse;
}

#DuosBuddyPlayerProfile .CornerStatusHype
{
	visibility: collapse;
}

.CornerStatusHype Label
{
	width: 100%;
	text-align: right;
}


.CornerStatusLevel
{
	margin-left: 2px;
}

.CornerStatusGold
{
	horizontal-align: left;
}

.RightPlayer .CornerStatusGold
{
	//visibility: collapse;
}

#StatusLevel,
#StatusGold,
#StatusHP
{
	font-size: 54px;
}

#StatusHype
{
	font-size: 36px;
}

#StatusLevel 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #8db0f4 ), to(#aad8de));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
}

#StatusGold 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;

}

#StatusHP 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #81cd74 ), to(#b1feaa));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
	//width: 20px;
}

#StatusHype 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#bfbfbf));
	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: Ravenhook;
	//width: 20px;
}


.PlayerLevelIcon
{
	width: 32px;
	height: 32px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 2px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.PlayerHealthIcon
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-top: 10px;
	background-repeat: no-repeat;
	//horizontal-align: right;
}

.PlayerGoldIcon
{
	width: 26px;
	height: 26px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 3px;
}


.DetailsContainer Label 
{
	font-size: 38px;
	color: #DEDEDE;
}

.DetailsContainer Panel 
{
	//width: fill-parent-flow(1);
}



#StatusUnits 
{
	color: grey;

	font-size: 38px;

	width: fill-parent-flow(1);

	text-shadow: 0px 0px 0px 3.0 #000;
	font-weight: bold;
	font-family: RadianceM;
}

.NotEnoughUnits #StatusUnits 
{
	color: yellow;
}

.TooManyUnits #StatusUnits 
{
	color: darkred;
}

.VersusScreenVisible .NeutralOpponent #UnderlordPortrait,
#UnderlordPortrait 
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 878px;
	height: 878px;
	margin-right: 60px;
	
	width: 678px;
	height: 678px;
	
	brightness: 2;
	
	z-index: 0;

	transform: translateX(100px) translateY(-100px);

	transition-property: width,height,transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
	visibility: collapse;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_psd.vtex");
}

.UnknownUnderlord
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 60px;
	
	width: 678px;
	height: 678px;
	
	brightness: 2;
	
	z-index: 0;

	transform: translateX(100px) translateY(-100px);

	transition-property: width,height,transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;	
	visibility: collapse;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_psd.vtex");	

	flow-children: none;
}

#UnknownUnderlordPortrait
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	pre-transform-scale2d:.7;
}

.LeftPlayer .UnknownUnderlord
{
	margin-left: 60px;
}

.UnknownUnderlordBacking
{
	width: 175px;
	height: 150px;
	margin-top: 75px;
	horizontal-align: center;
	vertical-align: center;
}

.Team_0 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");
}
.Team_1 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_1_png.vtex");
}
.Team_2 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_2_png.vtex");
}
.Team_3 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_3_png.vtex");
}
.Team_4 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_4_png.vtex");
}
.Team_5 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex");
}
.Team_6 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_6_png.vtex");
}
.Team_7 .UnknownUnderlordBacking
{
	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_7_png.vtex");
}

.LeftPlayer .UnknownUnderlord
{
	horizontal-align: left;
	transform: ScaleX(-1) translateX(-100px) translateY(-100px);
}

.InvalidUnderlord .UnknownUnderlord
{
	visibility: visible;
}

.GameMode_Tutorial .InvalidUnderlord .UnknownUnderlord
{
	visibility: collapse;
}

.LowVisualQuality.VersusScreenVisible .NeutralOpponent #UnderlordPortrait,
.LowVisualQuality #UnderlordPortrait 
{
	brightness: 1;
	opacity-mask: none;
}

.LowVisualQuality #UnderlordPortrait 
{
	transition-duration: 0.0s;
}

.IsLayoutSmallScreen #UnderlordPortrait
{
	width: 760px;
	height: 760px;
	margin-bottom: -50px;
}

.AspectRatio21x9.IsLayoutSmallScreen #UnderlordPortrait
{
	width: 760px;
	height: 760px;
	margin-bottom: 0px;
	margin-bottom: -130px;
	margin-right: 0px;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_mobile_psd.vtex");
	opacity: 1;
	ui-scale: 100%;
}

.AspectRatio16x9.IsLayoutSmallScreen #UnderlordPortrait
{
	width: 760px;
	height: 760px;
	margin-bottom: 0px;
	margin-bottom: -130px;
	margin-right: 0px;
	opacity-mask: url("s2r://panorama/images/masks/left_side_fade_mobile_psd.vtex");
	opacity: 1;
	ui-scale: 100%;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer #UnderlordPortrait
{
	margin-left: 0px;
	margin-right: 0px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer .Underlord_1 #UnderlordPortrait
{
	margin-bottom: -160px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer .Underlord_4 #UnderlordPortrait
{
	margin-left: 70px;
	
	
}

.AspectRatio21x9.IsLayoutSmallScreen .Underlord_2 #UnderlordPortrait
{
	margin-right: 30px;
	margin-bottom: -60px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LeftPlayer .Underlord_2 #UnderlordPortrait
{
	margin-left: 30px;
	margin-bottom: -60px;
}

.AspectRatio21x9.IsLayoutSmallScreen .Underlord_4 #UnderlordPortrait
{
	ui-scale: 91%;
	margin-bottom: -30px;
	margin-right: 70px;
}

.VersusScreenVisible #UnderlordPortrait
{
	transform: translateX(-160px);
	width: 1100px;
	height: 1100px;
	z-index: 100;
}

.LeftPlayer #UnderlordPortrait
{
	horizontal-align: left;
	transform: ScaleX(-1) translateX(-100px) translateY(-100px);
	
	opacity: 1;
}

.VersusScreenVisible .LeftPlayer #UnderlordPortrait
{
	transform: ScaleX(-1) translateX(160px);
}

#TooltipTarget
{
	visibility: collapse;

	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 188px;

	width: 456px;
	height: 566px;
}

.LeftPlayer #TooltipTarget
{
	horizontal-align: left;
}

.IsLayoutSmallScreen #TooltipTarget
{
	visibility: collapse;
}

#ChatButton
{
	width: 130px;
	height: 130px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 38px;
	//margin-bottom: 615px;
	margin-bottom: 35px;
	//margin-top: 12px;
	//margin-left: 150px;
	background-image: url("s2r://panorama/images/hud/chat_icon_psd.vtex");
	
	background-size: 100% 100%;
	transition-property: brightness, opacity;
	transition-duration: .2s;
	brightness: 1.0;
	
	opacity: .4;

	context-menu-body-position: 100% 50%;
	
	//hue-rotation:130deg;
}

.IsLayoutSmallScreen #ChatButton
{
	margin-bottom: 0px;
}

.AspectRatio16x9.IsLayoutSmallScreen #ChatButton,
.AspectRatio4x3.IsLayoutSmallScreen #ChatButton
{
	margin-bottom: 16px;
}


.NoUnderlord #ChatButton
{
	margin-bottom: 178px;
	margin-right: 430px;
	//margin-right: 36px;
}

.IsLayoutSmallScreen .NoUnderlord #ChatButton
{
	margin-bottom: 38px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .NoUnderlord #ChatButton
{
	margin-bottom: 160px;
}

.AspectRatio21x9.IsLayoutSmallScreen #ChatButton
{
	//margin-right: 120px;
	margin-right: 48px;
	//margin-right: 280px;
	//margin-bottom: 40px;
	margin-bottom: 40px;
	width: 180px;
	height: 180px;
	//width: 160px;
	//height: 160px;
	//background-image: url("s2r://panorama/images/hud/chat_icon_underlord_psd.vtex");
	opacity: .4;
}

.AspectRatio16x9.IsLayoutSmallScreen .NoUnderlord #ChatButton
{
	margin-bottom: 160px;
}


.Underlord_4  #ChatButton 
{
	background-image: url("s2r://panorama/images/hud/chat_icon_underlord_4_psd.vtex");
}	

.Underlord_1  #ChatButton 
{
	background-image: url("s2r://panorama/images/hud/chat_icon_underlord_1_psd.vtex");
}

.Underlord_2 #ChatButton {
    background-image: url("s2r://panorama/images/hud/chat_icon_underlord_2_psd.vtex");
}	

#DuosBuddyPlayerProfile #ChatButton,
#OpponentPlayerStateContainer #ChatButton,
.LocalPlayerNotInMatch #ChatButton
{
	visibility: collapse;
}

#TalentsButton
{
	//width: 144px;
	//height: 144px;
	width: 135px;
	height: 135px;

	visibility: collapse;

	horizontal-align: right;
	vertical-align: bottom;
	//margin-bottom: 416px;
	//margin-right: 22px;

	//margin-bottom: 400px;
	margin-bottom: 480px;
	margin-right: 25px;
	
	
}

.LocalPlayerBoard .RightPlayer #TalentsButton
{
	visibility: visible;
	visibility: collapse; 
}

.LeftPlayer #TalentsButton
{
	horizontal-align: left;
	margin-right: 0px;
	margin-left: 22px;

	visibility: collapse;
}

#TalentSelectIcon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/underlordtalents_icon_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	
	
}

#TalentSelectPulse
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/hud/inventory_unassigned_png.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;	

	animation-name: SelectTalentBGPulse;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}

.LeftPlayer #TalentSelectPulse,
.NumTalentsNeedingSelection0 #TalentSelectPulse
{
	visibility: collapse;
}

.IsLayoutSmallScreen .LeftPlayer #PlayerIcons
{
	ui-scale: 140%;
}

.LeftPlayer #PlayerIcons
{
	horizontal-align: left;

	visibility: collapse;
}

@keyframes 'SelectTalentBGPulse'
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 0.15;
	}

	100%
	{
		opacity: 1;
	}
}


#SideItems
{
	height: 100%;
	horizontal-align: right;
}

#UnderlordItems
{
	width:100%;
	height:100%;
	visibility: collapse;
}

.HasUnderlord #UnderlordPortrait,
.HasUnderlord #UnderlordItems,
.HasUnderlord #TooltipTarget
{
	visibility: visible;
}

.NoUnderlord #UnderlordItems,
{
    visibility: visible;
}
.NoUnderlord #AbilitySection,
.NoUnderlord .CornerStatusHype,
{
    visibility: collapse;
}
.NoUnderlord .InfoBlock,
.NoUnderlord .DetailsContainer,
{
    margin-bottom: 0px;
}

.IsLayoutSmallScreen.AspectRatio21x9.HasSafeAreaBottom .NoUnderlord .InfoBlock
{
	 margin-bottom: -35px;
}


.GameMode_Sandbox #TalentsButton,
.GameMode_Puzzle #TalentsButton
{
    opacity: 0;
}
