
DACZooPage
{
	flow-children: down;

	margin-top: 116px;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

.ZooTab
{
	visibility: collapse;
	flow-children: right-wrap;
}

#ZooTabContents
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 64px;
}

.ZooTab.TabVisible
{
	visibility: visible;
}

.ZooGroup
{
	min-width: 300px;
	min-height: 200px;
	padding:16px;
	margin-right: 24px;
	margin-bottom: 24px;
	//opacity: 0.0;

	border-style: solid;
	border-color: #00000022;
	border-width: 0px;
	//border-radius: 18px;

	//box-shadow: fill #00000011 -4px -4px 8px 9px;

	background-color: #00000044;
	flow-children: down;
}

.ZooGroupTitle
{
	text-transform: uppercase;
	color: #ccc;
}
