@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");


.NextPageButton {
    height: 60px;
    padding: 5px 32px;
    vertical-align: top;
    horizontal-align: right;
    background-color: #53538c;
    /*blur: gaussian( 2.5 );*/
    visibility: collapse;
    margin-top: 280px;
    margin-right: 122px;
		box-shadow: fill #00000050 0px 0px 10px 8px;
		transition-property: brightness;
		transition-duration: 0.2s;
		brightness: 1;
}

    PopupHeropedia .NextPageButton {
        margin-top: 100px;
    }

    .NextPageButton:hover {
        brightness: 1.3;
    }

    .NextPageButton:active {
        brightness: 1.0;
    }

    .NextPageButton Label {
        color: #fff;
        vertical-align: middle;
        horizontal-align: center;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 28px;
        //text-overflow: shrink;
    }

.NamePageSwitch #NamePageButton,
.TierPageSwitch #TierPageButton,
.NamePageSwitch #NamePageContainer,
.TierPageSwitch #TierPageContainer {
    visibility: visible;
}

#SectionTitleArea
{
    //margin-left: 25px;
}

#HeroName
{
	background-image: url("s2r://panorama/images/heropedia/paintbrush-black-bg_png.vtex");
    background-size: 100%;
    background-position: top;
    width: 100%;
    margin-top: -30px;
    padding: 24px 0px 12px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 21px;
}

.IsLayoutSmallScreen #HeroName
{
    font-size: 24px;
}

#SynergyCapsulePC
{
    margin-top: -12px;
}


/* Panel */
DACSelectUnderlordPage
{
	width: 100%;
	height: 100%;
	background-size: 100%;
}

#ForegroundContainer
{
    width: 100%;
    height:100%;
    flow-children: down;
    horizontal-align: right;
}

#UnderlordSelectorContainer {
	width: 100%;
    height: 100%;
    margin-top: 340px;
    margin-left: 28px;
}

.IsLayoutSmallScreen #UnderlordSelectorContainer
{
    margin-top: 352px;   
}


#UnderlordSelector {
	width: fit-children;
	height: 100%;
	
	flow-children: down;
}

.SelectedUnderlord .UnderlordSelectorContainer {
	opacity: 0;
}


#UnderlordSelectorContainer {
	flow-children: right-wrap;
}

#UnderlordsTitle {
	font-family: Ravenhook, Radiance;
	color: #fff;
	font-size: 48px;
	height: 50px;

	margin: 10px 0 0 25px;
}

.UnderlordItem {
	flow-children: none;
    width: 712px;
    margin-top: -132px;
    margin-right: 48px;
}

.UnderlordName {
	font-family: Ravenhook, Radiance;
	color: textBrighter;
    font-size: 64px;
    margin-top: 420px;
    margin-left: 420px;
}

#UnderlordScenePanel {
	/* Dimensions here must be square to match camera aspect of ingame panel */
	width: 600px;
	height: 600px;

}

.Title
{
    font-size: 110px;
    color: textBrighter;
    margin-left: 25px;
    margin-top: 180px;
}

.IsLayoutSmallScreen .Title
{
    ui-scale: 130%;
    margin-top: 220px;
}

.UnderlordBackground
{
    background-size: 100%;
    width: 712px;
    height: 422px;
    z-index: -1;
    vertical-align: bottom;
    box-shadow: fill #00000066 -3px -3px 6px 6px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.UnderlordBackground:hover
{
    brightness: 1.5;
}

.underlord_anessix .UnderlordBackground
{
    background-image: url("s2r://panorama/images/heropedia/bg_anessix_psd.vtex");
}

.underlord_hobgen .UnderlordBackground
{
    background-image: url("s2r://panorama/images/heropedia/bg_hobgen_psd.vtex");
}

.underlord_jull .UnderlordBackground
{
    background-image: url("s2r://panorama/images/heropedia/bg_jull_psd.vtex");
}

.underlord_enno .UnderlordBackground
{
    background-image: url("s2r://panorama/images/heropedia/bg_enno_psd.vtex");
}
