@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACControlBattlePass 
{
	flow-children: down;
	//padding-top: 180px;
	visibility: collapse;
	horizontal-align: right;
	margin-top: 172px;
}


.ProgressBarParticle {
	width: 100%;
	height: 100%;
	z-index: 2;
}

.IsPlatformPC DACControlBattlePass
{
	margin-top: 246px;	
}

.EventActive DACControlBattlePass,
.NeedsGC DACControlBattlePass,
.NeedsSteamLogin DACControlBattlePass,
.HUD_BattlePassProgressVisible DACControlBattlePass
{
	visibility: visible;
}

.AspectRatio4x3.IsPlatformMobile DACControlBattlePass
{
		margin-top: 400px;
}

.IsPlatformMobile DACControlBattlePass 
{
	ui-scale: 120%;
}

#SectionTitleArea
{
	width: 520px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: -48px;
	z-index: 20;
	visibility: collapse;
	horizontal-align: right;
	margin-right: safe-area-inset-right;
}

.HasEventData #SectionTitleArea
{
	visibility: visible;
}

DACRewardsPage #SectionTitleArea {
	margin-right: 0px;
	padding-bottom: -12px;
	visibility: collapse;
}

.BattlePassTitle
{
	color: black;
	font-size: 30px;
	font-weight: black;
	text-transform: uppercase;
	//background-color: white;
	background-color: gradient ( linear, 0% 0%, 0% 100%, from(#fbe792), to(#fdf4af));
	padding: 0px 10px 0px 10px;
	box-shadow: 0px 0px 3px #fdf4af;
	transform: rotatez(-3deg);
	z-index: 20;
	margin-bottom: 28px;
}

.IsPlatformMobile DACRewardsPage .BattlePassTitle {
	margin-right: 0px;
	padding-bottom: -12px;
	visibility: collapse;
}

#PlayerBPLevel
{
	flow-children: right;

	horizontal-align: left;
	//margin-left: 10px;
	margin-left: -12px;
	margin-top: -84px;
	z-index: 30;
	visibility: collapse;
	visibility: collapse;
}


.HasEventData #PlayerBPLevel
{
	visibility: visible;
}

.BPLevelText
{
	color: #bdbdbd;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 0px;
	margin-right: -4px;
	letter-spacing: 2px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	visibility: collapse;
}

.BPLevel
{
	color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
	font-size: 40px;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 8px;
	padding-top: 12px;
	vertical-align: bottom;
	text-shadow: 0px 0px 0px 2.8 #000000dd;
	text-align: center;
	
	background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	width: 100px;
	height: 100px;
}

.Shield0 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
}

.Shield1 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_bronze_tier_psd.vtex");
}

.Shield2 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_silver_tier_psd.vtex");
}

.Shield3 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_gold_tier_psd.vtex");
}

.Shield4 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_platinum_tier_psd.vtex");
}

.HeaderPlayerInfo .BPLevel
{
	color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
	font-size: 32px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	
	margin-top: 8px;
	margin-right: 12px;
	margin-left: -48px;
	font-weight: bold;
	vertical-align: center;
	text-shadow: 0px 2px 0px 2.0 #000000;
	text-align: center;
	
	width: 64px;
	height: 54px;
	
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#fff));

}



.BPXPLabel
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 16px;
	font-weight: black;
	//background-color: black;
	//padding: 0px 9px;
	margin: 5px 18px 0px 4px;
	vertical-align: center;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}


#BattlePassProgress
{
	width: 500px;
	horizontal-align: right;
	flow-children: none;
	padding-top: 8px;
	background-image: url("s2r://panorama/images/dashboard/challenge_bg_03_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;	
	
	//border-bottom: 2px solid #13141bdd;
	//border-top: 2px solid #bfb3e610;
	//border-left: 2px solid #6f688633;
	background-color: #3b3e4f66;
	/* overflow: noclip; */

	box-shadow: fill 0px 0px 24px #000000cc;
	z-index: 10;
	brightness: 1.4;
	visibility: collapse;

	margin-right: safe-area-inset-right;
}

.HasEventData #BattlePassProgress
{
	visibility: visible;
}

DACRewardsPage #BattlePassProgress {
	margin-right: 0px;
}

#PlayerBPBackgroundTop
{
	width: 500px;
	height: 48px;
}


#PlayerBPBackgroundBottom
{
	width: 500px;
	height: 40px;
}

.BPBottomRow
{
	margin-top: 40px;
	flow-children: none;
}

.BPLevelProgressContainer
{
	flow-children: right;
	horizontal-align: right;
}

.BattlePassCurrentLevelProgress
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	//horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
	letter-spacing: 1px;
	text-align: right;
	margin-right: 1px;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}

DACDailyChallenge
{
	margin-right: safe-area-inset-right;
}

DACRewardsPage DACDailyChallenge
{
	margin-right: 0px;
}

#QuestLevelContainer
{
	flow-children: down;
	horizontal-align: right;
}

DACRewardsPage #QuestLevelContainer
{
	margin-top: 50px;
	//margin-left: 20px;
}

#QuestItemContainer
{
	horizontal-align: right;
	visibility: collapse;
	visibility: visible;
}

.HasEventData #QuestItemContainer,
{
	visibility: visible;
}

.DailyChallenge
{
	flow-children: none;
	height: 160px;
	//background-color: red;
	background-image: url("s2r://panorama/images/dashboard/challenge_bg_01_psd.vtex");
	//height: fit-children;
	//height: 120px;
	padding: 0px 0px 0px 0px;
	horizontal-align: right;
	//border-bottom: 2px solid #13141b;
	//border-top: 2px solid #bfb3e605;
	//border-left: 2px solid #6f688633;
	margin-bottom: 0px;
	background-repeat: no-repeat;
}

.ChallengeSlot2 .DailyChallenge
{
		background-image: url("s2r://panorama/images/dashboard/challenge_bg_02_psd.vtex");
}

.Claimed .DailyChallenge
{
	//background-position: top;
	//background-repeat: no-repeat;
	//background-color: gradient(linear, 0% 0%, 0% 100%, from( #f7c241 ), to(#f7c24100));
	//background-color: gradient( radial, 50% 0%, 0% 0%, 65% 35%, from( #31395933 ), to( #10121d11 ) );
}

.DailyChallengeContainer
{
	flow-children: down;
	width: 500px;
	height: 160px;
}


//treatment when challenge is complete and reward is claimed

.Claimed .DailyChallengeDesc
{
	color: #606374;
}

.Claimed .RewardBackground
{
	visibility: collapse;
}


.DailyChallengeComplete
{
	color: #606374;
	font-size: 20px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-top: 74px;
	horizontal-align: left;
	z-index: 20;
	visibility: collapse;
	margin-left: 22px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	font-weight: bold;
	letter-spacing: 1px;
}

.Claimed .DailyChallengeComplete
{
	visibility: visible;
}

.DailyChallengeRewardContainer
{
	//flow-children: right;
	horizontal-align: right;
	vertical-align: center;
	height: 100%;
	width: fit-children;
	flow-children: right;
	padding-top: 3px;
	text-align: right;
}

.RewardIcon
{
	width: 35px;
	height: 35px;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-image: url("s2r://panorama/images/dashboard/gem_icon_png.vtex");
	background-color: black;
	wash-color: gold;
}

.RewardsAboutHeader
{
	margin-top: 50px;
	horizontal-align: center;
}

.DailyChallengeReward,
.DailyChallengeRewardPlacement
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: center;
	letter-spacing: 1px;
	text-align: right;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}

.DynamicReward .DailyChallengeReward
{
	width: 300px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
}  

.DynamicReward .DailyChallengeRewardPlacement
{
	width: 200px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
}

.DailyChallengeDesc
{
	color: #d7d7d7;
	font-size: 24px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 22px;
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: 20px;
	width: 460px;
	text-overflow: shrink;
}

.DailyChallengeDescContainer
{
	height: 52px;
	vertical-align: center;
} 

.ProgressRemaining
{
	margin-top: 74px;
	font-size: 20px;
	color: #8D60C6;
	//color: gradient (linear, 0% 100%, 0% 0%, from(#8D60C6), to(#8D60C6));
	horizontal-align: left;
	margin-left: 22px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	font-weight: bold;
	z-index: 20;
	letter-spacing: 1px;
}

.Claimed .ProgressRemaining
{
	visibility: collapse;
}

.DailyChallengeDescContainer
{
	flow-children: down;
	vertical-align: center;
}

.ProgressBars
{
	//flow-children: none;
	width: 100%;
	overflow: noclip;
	background-color:#000;
	padding: 2px;
	width: 464px;
	horizontal-align: center;
	margin-top: 6px;
}

#PlayerProgress,
.DailyChallengeProgressBar
{
	
	height: 24px;
	width: 460px;
	
	//opacity-mask: url("s2r://panorama/images/dashboard/progress_bar_mask_psd.vtex");
	//visibility: collapse;
}

.PlayerProgressContainer {
	margin-top: 10px;
	padding: 2px;
	background-color: #000;
	width: 420px;

	horizontal-align: right;
	margin-right: 18px;
}

#PlayerProgress
{
	
	background-color: #0e101b;
	
	width: 416px;
	
}

ParticleProgressBar {
	overflow: noclip;
	flow-children: none;
}

#ChallengeProgress
{

}

.DailyChallengeProgressBar
{
	vertical-align: top;
	
	background-color: #0e101b;
	
	height: 10px;
	//visibility: collapse;
}

.DailyChallengeProgressBar .ProgressBarParticle {
	height: 10px;
	overflow: noclip;
	opacity: .6;
	
}

#PlayerProgress .ProgressBarParticle {
	height: 24px;
	opacity: .15;
	overflow: noclip;
	
}

#PlayerProgress_Left
{
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#D39614), to(#f6cd40));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #fefb4d;
	border-bottom: 1px solid #b13a1c;
	border-right: 1px solid #fefb53;
}

#ChallengeProgress_Left
{
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
}

#InGameChallengeProgress_Left
{
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
	border-left: 1px solid #522848;

	background-color: #806d99;
}

#PlayerRankProgressBar 
{
    width: 200px;
    height: 14px;
		//overflow: noclip;
		background-color: #1e2027;
		border: 2px solid #000000;
		width: 240px;
		horizontal-align: center;
		margin-top: 28px;
		horizontal-align: left;
}

#PlayerRankProgressBar_Left
{
	//background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000033;
	border-right: 1px solid #ffffff22;
}

.MinorRank1 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}


#PlayerProgress_Right,
#InGameChallengeProgress_Right,
#ChallengeProgress_Right
#PlayerRankProgressBar_Right
{
	//background-color: #0e101b;
	opacity: 0.001;
}

#QuestItemContainer
{
	flow-children: down;
	//background-image: url("s2r://panorama/images/dashboard/challenge_bg_psd.vtex");
	background-size: 100%;
	background-position: top;
	margin-top: -22px;
	//background-color: gradient (linear, 0% 0%, 0% 100%, from(#160f6898 ), to(transparent));
	box-shadow: fill 0px 0px 24px #000000cc;
	//box-shadow: fill 10px 0px 24px black;
	visibility: collapse;
}

.HasEventData #QuestItemContainer
{
	visibility: visible;
}


#BattlePassProgress
{
	//flow-children: down;
}

#BattlePassProgress #PlayerProgress
{
	visibility: visible;
}




.DailyChallengeRerollButton
{
	visibility: visible;
	width: 52px;
	height: 52px;

	background-image: url("s2r://panorama/images/shop/reroll_button_psd.vtex");
	background-size: 100%;
	horizontal-align: right;
	vertical-align: bottom;	

	transition-property: brightness;
	transition-duration: .2s;
	
	vertical-align: center;
	margin-left: 12px;
	margin-top: 1px;

	opacity: .2;
}

.RerollAvailable .DailyChallengeRerollButton
{
	opacity: 1.0;
	brightness: 1.0;
}

.RerollAvailable .DailyChallengeRerollButton:hover
{
	brightness: 1.5;
}



#RewardsAboutButton
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	vertical-align: top;	
	background-image: url("s2r://panorama/images/shop/shop_info_icon_psd.vtex");
	background-size: 100%;
	margin-top: -10px;
	margin-right: 16px;

	transition-property: brightness;
	transition-duration: .2s;
}

#RewardsAboutButton:hover
{
	brightness: 1.5;
}

DACRewardsPage #RewardsAboutButton {
	visibility: collapse;
}

.HUD_BattlePassProgressVisible #RewardsAboutButton
{
	visibility: collapse;
}

.RewardsAbout
{
	flow-children: down;
}

.RewardsAbout Label
{
	font-size: 28px;
	padding: 0px 16px;
	color: white;
}

#DynamicRewardsContainer
{
	//visibility: collapse;
	margin-top: 30px;
	flow-children: down;
	horizontal-align: center;
}

.DynamicReward
{
	flow-children: right;
}

#RerollAvailableText,
#RerollClaimableText,
.RerollAvailable #RerollAtText,
.Claimable #RerollAtText
{
	visibility: collapse;
}

.RerollAvailable #RerollAvailableText
{
	visibility: visible;
}

.Claimable #RerollAvailableText,
.Claimable.RerollAvailable #RerollAvailableText
{
	visibility: collapse;
}

.Claimable #RerollClaimableText
{
	visibility: visible;
}

.DailyChallengeClaimButton
{
	width: 45px;
	height: 45px;
	background-image: url("s2r://panorama/images/hud/claim_button_psd.vtex");
	background-size: 100%;
	horizontal-align: left;
	vertical-align: top;
	margin-top:2px;	

	transition-property: brightness;
	transition-duration: .2s;
}

.DailyChallengeClaimFX
{
	width: 65px;
	height: 65px;
	margin-left: -10px;
	margin-top: -10px;
}

#DailyChallengeClaimButtonContainer
{
	margin-left: 16px;
	visibility: collapse;
	overflow: noclip;
}

.Claimable #DailyChallengeClaimButtonContainer
{
	visibility: visible;
	opacity: 1.0;
}


.DailyChallengeClaimButton:hover
{
	brightness: 1.5;
}


.Claimable .DailyChallengeRerollButton
{
	visibility: collapse;
}

.RerollLabel
{
	color: #8588a0;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	vertical-align: center;
	letter-spacing: 1px;
	margin-left: 4px;
	margin-top: 3px;
}

.PlatformIsMobile .RerollLabel
{
	font-size: 22px;
}

#RerollClaimableText
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	margin-left: -2px;
}

.UpperContainer
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	flow-children: down;
}

.LowerContainer
{
	vertical-align: bottom;
	width: 100%;
	height: 56px;
	flow-children: right;
	background-color: #00000088;
}

.RerollContainer
{
	flow-children: right;
}

.HUD_BattlePassProgressVisible .RerollContainer
{
	visibility: collapse;
}

.InGameProgressLegend
{
	height: 50px;
	width: 100%;

	visibility: collapse;
}

.HUD_BattlePassProgressVisible .InGameProgressLegend
{
	visibility: collapse;
	flow-children: right;
}

.InGameProgressColorSwatch
{
	height: 15px;
	width: 40px;
	vertical-align: center;

	margin-left: 10px;
	margin-bottom: 5px;
	
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
	border-left: 1px solid #522848;

	background-color: #806d99;
}

#InGameChallengeProgress
{
	visibility: collapse;
}

.HUD_BattlePassProgressVisible #InGameChallengeProgress
{
	visibility: visible;
}

.InGameProgressLegendDesc
{
	color: #8588a0;
	font-size: 24px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 22px;
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: 0px;
	width: 460px;
	text-overflow: shrink;
}

.RewardBackground
{
	width: 132px;
	height: 100%;
	//background-image: url("s2r://panorama/images/battle_pass/xp_bg_psd.vtex");
	background-position: left;
	horizontal-align: right;
}

#ErrorContainer
{
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	flow-children: down;
	background-image: url("s2r://panorama/images/dashboard/challenge_bg_psd.vtex");
	background-size: 100%;
	background-position: top;
	margin-top: -24px;
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#160f6898 ), to(transparent));
	box-shadow: 0px 0px 100px #00000090;

	visibility: collapse;
	width: 500px;
	horizontal-align: right;
}


DACRewardsPage #ErrorContainer {
	margin-top: 0px;
}

#ProtoPassLogo_Error {
	background-image: url("s2r://panorama/images/battle_pass/protopass_logo_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 400px;
	height: 100px;
	margin-bottom: -10px;
	/*horizontal-align: center;*/

}

.ConnectToSteamText
{
	color: #bdbdbd;
	font-size: 26px;
	/*font-weight: bold;*/
	/*text-transform: uppercase;*/
	vertical-align: top;
	padding: 10px;
	letter-spacing: 0.5px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
}

.ErrorTitle {
	font-size: 30px;
	color: #ffffff;
	font-weight: black;
	margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-overflow: shrink;
}

#ConnectToSteamContainer,
#ReconnectToSteamContainer
{
	flow-children: down;
}

#GCErrorContainer,
#ConnectToSteamContainer,
#ReconnectToSteamContainer
{
	visibility: collapse;
}

.NeedsGC #QuestLevelContainer
{
	visibility: collapse;
}

.NeedsGC #ErrorContainer,
.NeedsSteamLogin #ErrorContainer
{
	visibility: visible;
}

.HasEventData #ConnectToSteamContainer,
.NeedsGC.NeedsSteamLogin #GCErrorContainer
{
	visibility: collapse;
}

.NeedsSteamLogin #ConnectToSteamContainer,
.NeedsSteamLogin.HasCredential #ReconnectToSteamContainer
{
	visibility: visible;
}

.NeedsSteamLogin.HasCredential #ConnectToSteamContainer
{
	visibility: collapse;
}

.NeedsGC #GCErrorContainer
{
	visibility: visible;
}


#MainContent,
#ErrorContent
{
	flow-children: down;
}

.PostGameBPControl #BattlePassProgress,
.PostGameBPControl #PlayerBPLevel
{
    visibility: collapse;
}
