@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACPagePostGame
{
	width:100%;
	height:100%;
	flow-children:none;

	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg_jpg.vtex");
	background-size: cover;
	background-position: center;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;

	opacity: 0;
}

.LowVisualQuality DACPagePostGame
{
	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg-lowres_jpg.vtex");
}

.IsLayoutSmallScreen DACPagePostGame
{
	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg-mobile_jpg.vtex");
	background-position: center;
}
.LowVisualQuality DACPagePostGame Label
{
	transition-property: none;
	transition-duration: 0.0s;
}

#PageContainer
{
    height: fill-parent-flow( 1.0 );
    width: 100%;
    overflow: clip;
}
#PageContainer .ScrollThumb
{
    visibility: collapse;
}

#ScrollingPage
{
    height: fill-parent-flow( 1.0 );
    width: 5760px;
    flow-children: right;
    visibility: collapse;
    transition-property: transform;
	transition-duration: 0.2s;
	background-image: url("s2r://panorama/images/post_game/postgame_bg_psd.vtex");
	background-size: cover;
}

#ResultPage
{
    visibility: collapse;
}
.ResultPage #ResultPage
{
    visibility: visible;
}

.SeasonProgressPage #ScrollingPage,
.StatsPage #ScrollingPage,
.ScoreboardPage #ScrollingPage,
{
    visibility: visible;
}

.StatsPage #ScrollingPage
{
    transform: translateX( -1920px );
}

.AspectRatio21x9 #ScrollingPage
{
	width: 7100px;
}
.AspectRatio21x9  .OverlayContainer
{
	width: 2400px;
}


.AspectRatio21x9 .StatsPage #ScrollingPage
{
    transform: translateX( -2400px );
}


.ScoreboardPage #ScrollingPage
{
    transform: translateX( -3840px );
}

.AspectRatio21x9 .ScoreboardPage #ScrollingPage
{
    transform: translateX( -4800px );
}


.OverlayContainer
{
    flow-children: down;
    width: 1920px;
	height: fill-parent-flow( 1.0 );
	background-position: center;
}


.AspectRatio21x9 #ScoreboardContainer
{
	margin-top: 28px;
}

#ScoreboardContainer
{
	background-size: 100%;
	padding: 24px 24px 32px 24px;
	max-width: 96%;

	horizontal-align: center;
	vertical-align: center;
}

#HeroImage
{
	width: 88px;
	height: 88px;
	opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;
	background-position: center center;
}

.HeroIconPanel DACInventoryItem,
.IsLayoutSmallScreen .HeroIconPanel DACInventoryItem
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	margin-top: -20px;
}

.HeroRoster
{
	flow-children: right-wrap;
}

.PlaceTitle
{
	font-weight: black;
	letter-spacing: 2px;
	color: #2f2a28;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 100px;
	margin-top: 0px;
	transition-duration: 4s;
	transition-timing-function: ease-in;
	transition-property: color;
	padding: 0px 48px;
	visibility: visible;
}

.PlaceQuote
{
	color: #2f2a28;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: black;
	horizontal-align: center;
	vertical-align: top;
	transition-duration: 4s;
	transition-timing-function: ease-in;
	transition-property: color;
	background-size: cover;
	margin-top: -20px;
}

#StatsPage .PlaceQuote
{
	visibility: collapse;
}

.ButtonContainer
{
	width: 100%;
	vertical-align: bottom;
	height: fit-children;

	margin-left: safe-area-inset-left;
	margin-right: safe-area-inset-right;
	margin-bottom: safe-area-inset-bottom;
}

#StatsPageContainer
{
	width: 1600px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	margin-top: 80px;
	background-image: url("s2r://panorama/images/post_game/stats_bg_01_psd.vtex");
	background-size: 100%;
}

.AspectRatio21x9.IsLayoutSmallScreen #StatsPageContainer
{
	ui-scale: 102%;
}

.IsLayoutSmallScreen #StatsPageContainer
{
	ui-scale: 110%;
}


.PostGameButtons
{
	height: fit-children;
	margin-right: 60px;
	horizontal-align: right;
	flow-children: down;
}

.ButtonContainer Label
{
	font-size: 32px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 4px;
	vertical-align: center;
	text-align: center;
	padding-top: 6px;
	color: #ffffff;
	text-transform: uppercase;
	width: 100%;
}

.LowerNavButton
{
  	vertical-align: center;
  	margin-left: 4%;
  	width: 400px;
	height: 64px;
	transition-property: brightness, background-color;
	transition-duration: .2s; 
	margin: 16px;
}

.AspectRatio21x9.IsLayoutSmallScreen .LowerNavButton
{
	margin: 0px;	
}

.LowerNavButton Label
{
	font-size: 64px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 1px;
	vertical-align: center;
	text-align: center;
	color: #e1decc;
	opacity: 0.8;
}

.GlassButton:hover
{
	brightness: 1.5;
}


.HomeButton {
	horizontal-align: left;
	width: 500px;
	height: 133px;
	background-image: url("s2r://panorama/images/dashboard/play_btn_bg_psd.vtex");
	background-size: 100%;
	margin-left: 60px;
	transition-property: brightness;
	transition-duration: .2s; 
}

.HomeButton:hover
{
	brightness: 1.5;
}

.HomeButton Label
{
	font-size: 120px;
	width: 100%;
	text-overflow: shrink;
	overflow: noclip;
	text-align: center;
	font-weight: black;
	letter-spacing: 4px;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 20px;
	color: #ffffff;
	text-transform: uppercase;
	transform: rotateZ(-2deg);
	text-shadow: 0px 1px 0px 2.0 #000;
}

.Language_schinese .HomeButton Label
.Language_tchinese .HomeButton Label
{
	font-size: 80px;
}

#ProgressBody
{
	flow-children: right;
	margin-top: 32px;
	width: 100%;
	height: 100%;
}

.ProgressContainer
{
	width: 556px;
	margin-left: 52px;
	height: 100%;
	flow-children: down;
}
#RightPanel.ProgressContainer
{
    margin-left: 26px;
}
#UnderlordContainer
{
    background-color: #00000040;
    width: 556px;
    height: 556px;
    vertical-align: top;
    opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
    background-size: 100%;
    flow-children: right;
}
.GameMode_Duos #UnderlordContainer
{
    height: 302px;
    margin-bottom: 26px;
}

.PlayerUnderlordContainer
{
    width: 100%;
    height: 100%;
    flow-children: down;
}
.GameMode_Duos .PlayerUnderlordContainer
{
    width: 50%;
}
#TeammateUnderlordContainer
{
    visibility: collapse;
}
.GameMode_Duos #TeammateUnderlordContainer
{
    visibility: visible;
}

.PlayerUnderlordContainer Label
{
    horizontal-align: center;
    font-size: 22px;
    text-transform: uppercase;
    width: fit-children;
	color: #2f2a28;
	font-weight: black;
}

.UnderlordPortrait
{
    width: 100%;
    height: 100%;
    transform: translateZ(2px);
}
.GameMode_Duos .UnderlordPortrait
{
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 19px;
}
.UnderlordPlayerName
{
    visibility: collapse;
}
.GameMode_Duos .UnderlordPlayerName
{
    visibility: visible;
}

.InfoBlock
{
    background-color: #00000040;
    width: 100%;
    flow-children: down;
    opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}

.BattlePassBlock
{
	margin-bottom: 24px;
}

.InfoHeader
{
	font-size: 28px;
	font-weight: black;
	text-align: center;
	color: #908680;
	text-transform: uppercase;
	background-color: #3f3836;
	//background-image: url("s2r://panorama/images/post_game/title_bg_01_psd.vtex");
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: center;
	padding: 4px;
}

.StatsMainRow
{
	horizontal-align: center;
	flow-children: right;
	width: fit-children;
	
	animation-duration: 3.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;

	width: 100%;
	height: 420px;
}

.IsLayoutSmallScreen .StatsMainRow
{

}

// on play the anim?
.AnimateIn .StatsMainRow
{
	animation-name: PlacePanelInFlip;
}

.StatsColumn
{
	flow-children: down;
	height: 100%;
	background-color: #00000040;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");	
}

.SynergiesColumn
{
	width: 400px;
	margin-left: 28px;
}

.HeroesColumn
{
	width: 700px;
	margin: 0px 20px 0px 20px;
	horizontal-align: center;
}

.ItemsAndTalentsColumn
{
	flow-children: down;
}

.ItemsColumn
{
	width: 400px;
	margin-right: 28px;
	height: fill-parent-flow(1);
	margin-top: 20px;
}

.TalentsColumn
{
	width: 400px;
	margin-right: 28px;
	height: fit-children;
}

#SynergiesContainer
{
	margin-top: 32px;
	horizontal-align: center;
	flow-children: right-wrap;
}

#SynergiesContainer DACSynergyIcon
{
	ui-scale: 64%;
}

#HeroesContainer
{
	margin-top: 10px;
	horizontal-align: center;
	flow-children: right-wrap;
}

#HeroesContainer DACPlayerAvatar
{
	width: 88px;
	height: 88px;
	opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex");
	margin: 8px;
	margin-top: 31px;
}

#ItemsContainer
{
	margin-top: 20px;
	horizontal-align: center;
	flow-children: right-wrap;
	visibility: collapse;
}

.HasGlobalItems #ItemsContainer
{
	visibility: visible;
}

#ItemsContainer DACInventoryItem
{
	width: 64px;
	height: 64px;
	margin: 4px;
}

.NoGlobalItemsLabel
{
	color: #2f2a28;
	font-size: 24px;
	horizontal-align: center;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: black;
}

.HasGlobalItems .NoGlobalItemsLabel
{
	visibility: collapse;
}

#TalentsContainer
{
	width: 100%;
	height: fit-children;
	flow-children: right-wrap;
	padding: 20px;

}

#TalentsContainer Image
{
	width: 52px;
	height: 52px;
	margin: 4px;
}

.FinalCrewTitle,
.TalentsTitle
{
	font-size: 28px;
	font-weight: black;
	letter-spacing: 1px;
	text-align: center;
	color: #908680;
	padding: 4px 12px 4px 12px;
	text-transform: uppercase;
	background-color: #3f3836;
	//background-image: url("s2r://panorama/images/post_game/title_bg_01_psd.vtex");
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: center;
}

.StatsContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 20px;
	overflow: noclip;
}

.StatsSubContainer
{
	min-width: 341px;
	flow-children: down;
	margin: 0px 10px 0px 10px;
	padding-bottom: 20px;
	background-color: #00000040;
	
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}

@keyframes 'StatsPanelIn'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
	}
	80%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
	}
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
}

.AnimateIn .StatsSubContainer
{
	animation-name: StatsPanelIn;
}

#RoundsWon
{
	animation-duration: 1.6s; 
}

#EndGameDamageDealt 
{	
	animation-duration: 1.8s; 
}

#GoldEarned 
{
	animation-duration: 2s; 
}

.StatsSubContainer Label
{
	horizontal-align: center;
	//line-height: 40px;
}

.tilt-left
{
	transform: rotateZ(-2deg);
}

.tilt-right
{
	transform: rotateZ(2deg);
}

.PlaceContainer
{
	horizontal-align: center;
	width: 100%;
	flow-children: down;
	margin-top: 40px;
    visibility: visible;
}

.BigStat
{
	font-size: 64px;
	font-weight: black;
	color:#2f2a28;
	z-index: 2;
	margin-top: 2px;
}

.StatDescription
{
	font-size: 28px;
	font-weight: black;
	letter-spacing: 1px;
	text-align: center;
	color: #908680;
	padding: 4px 12px 4px 12px;
	margin-bottom: 4px;
	text-transform: uppercase;
	background-color: #3f3836;
	//background-image: url("s2r://panorama/images/post_game/title_bg_01_psd.vtex");
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#EndGameDamageDealt .StatDescription
{
	//background-image: url("s2r://panorama/images/post_game/title_bg_02_psd.vtex");	
}

#GoldEarned .StatDescription
{
	//background-image: url("s2r://panorama/images/post_game/title_bg_03_psd.vtex");	
}


.HeroRoster Label
{
	horizontal-align: center;
	//margin-bottom: 350px;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000cc;
	margin-top: 2px;
	letter-spacing: 2px;
}

#ReturnToGameButton
{
	visibility: collapse;

	horizontal-align: left;
}

.ConnectedToGame #ReturnToGameButton
{
	visibility: visible;
}

#MainMenuButton
{
	horizontal-align: right;
}

#PlayButton
{
	visibility: collapse;
}

.HideRank .HeroRank
{
	opacity: 0.01;
}

.HeroIconPanel.Rank1 .HeroRank
{
	color: rank1Color;
}

.HeroIconPanel.Rank2 .HeroRank
{
	color: rank2Color;
}

.HeroIconPanel.Rank3 .HeroRank
{
	color: rank3Color;
}

.HeroIconPanel
{
	flow-children: down;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	height: fit-children;
}

.HeroIconPanel Label
{
	horizontal-align: center;
	font-size: 20px;
	color: white;
}

#ScoreboardButton,
#StatsButton
{
	horizontal-align: center;
	visibility: collapse;

	vertical-align: bottom;
}

.StatsPage #ScoreboardButton,
.ScoreboardPage #StatsButton
{
	visibility: visible;
}

#ScoreboardPage .PlaceTitle
{
	horizontal-align: left;
	vertical-align: top;
	
	transform: rotateZ(-1deg);
	font-size: 90px;
	height: 110px;

	margin-left: 32px;
	margin-top: 48px;

	ui-scale: 90%;
	visibility: collapse;
}

.AspectRatio21x9.IsLayoutSmallScreen #ScoreboardPage
{
	padding-left: safe-area-inset-left;
	padding-right: safe-area-inset-right;
}

.GameMode_Duos #ScoreboardPage
{
	visibility: collapse;
	// hiding for now
}

.SeasonProgressHeaderContainer
{
    horizontal-align: center;
    margin-top: 100px;
}

#SeasonTitleImage
{
    width: 850px;
    height: 212px;
	background-image: url("s2r://panorama/images/battle_pass/protopass_logo_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	transform: rotatez(-2deg);
	
	margin-right: 12px;
}

#SeasonQuote
{
    horizontal-align: right;
    margin-top: 120px;
    /* margin-right: 60px; */
    transform: rotateZ(-3deg);
}

#SeasonDesc
{
    horizontal-align: center;
    margin-top: 32px;
    color: #C6DCFE;
	font-size: 24px;
	line-height: 34px;
    text-shadow: 1px 2px 0px 2.0 #00000066;
    font-weight: semi-bold;
    text-align: center;
}

#SeasonProgressContainer
{
	width: 1248px;
    height: 828px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 80px;
	background-size: 100%;
	background-image: url("s2r://panorama/images/post_game/progress_bg_psd.vtex");
	flow-children: down;
}


#SeasonProgressContainer .ProgressBar
{
	height: 132px;
}


#SeasonLevelProgress
{
	width: 360px;
    height: 28px;
	horizontal-align: center;
	background-color: #00000033;
	margin-top: 44px;
	margin-left: 132px;
  	border: 4px solid #2f2a28;	
	box-shadow: inset 0px 6px 20px #000000cc;
}

#SeasonLevelProgress_Left
{
    background-color: gradient (linear, 60% 60%, 100% 0%, from(#ffcc00), to(#ffebaf));
    transition-property: width;
    transition-duration: 0s;
	transition-timing-function: ease-out;
	border-right: 2px solid #FFFCCD;
	border-top: 2px solid #FFFCCD;
	border-bottom: 2px solid #F53707EF;
}

.ProgressBarAnimate #SeasonLevelProgress_Left
{
    transition-duration: .5s;
}

#LevelContainer
{
	horizontal-align: left;
	flow-children: down;
	margin-top: -8px;
}

#SeasonLevelHeader,
#SeasonLevelNum
{
    color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: black;
    text-shadow: 0px 1px 0px 2.0 #000;
	text-align: center;
}

#SeasonLevelHeader
{
	font-size: 26px;
	line-height: 32px;
	padding-left: 36px;
	opacity: 0;
	margin-bottom: -12px;
}

#SeasonLevelNum
{
    font-size: 32px;
	horizontal-align: center;
	padding-top: 56px;
	padding-right: 2px;
	vertical-align: center;
	width: 124px;
	height: 124px;
	margin-left: 6px;
}

.Tier_Default_Bg
{
	background-image: url("s2r://panorama/images/post_game/tier-default-bg_png.vtex");
    background-repeat: no-repeat;
	background-size: 100% 70%;
	background-position: bottom;

	width: 100%;
}

#LevelDescriptionContainer
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
	margin-right: 32px;
	margin-top: 40px;
}

#LevelPointCounts
{
	font-size: 28px;
	color: #2f2a28;
	font-weight: black;
	text-transform: uppercase;
	horizontal-align: left;
	margin-left: 132px;
	margin-top: 72px;
}

#NextRewardDesc
{
	font-size: 26px;
	font-weight: black;
	color: #2f2a28;
	text-transform: uppercase;
	text-align: left;
	visibility: visible;
	horizontal-align: left;
	margin-left: 132px;
	margin-top: 20px;
}


#NextRewardName
{
	font-size: 36px;
	line-height: 36px;
	font-weight: black;
	color: #2f2a28;
	text-transform: uppercase;
	text-align: left;
	visibility: visible;
	horizontal-align: left;
	margin-left: 132px;
	margin-top: 44px;
}

.AspectRatio21x9 #NextRewardDesc
{
	margin-right: 80px;
}

#NextLevelDesc
{
    horizontal-align: right;
    visibility: collapse;
}

#NextRewardContainer
{
	horizontal-align: right;
	width: 124px;
	height: 124px;
	flow-children: down;
	horizontal-align: left;
	margin-left: 8px;
	vertical-align: top;
}

#NextRewardImageContainer
{
	width: 210px;
	height: 240px;
	
	horizontal-align: left;

}

#NextRewardBg
{
    /* horizontal-align: right; */
    //background-image: url("s2r://panorama/images/post_game/next-reward-bg_png.vtex");
    background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 100%;
	height: 100%;

	margin-bottom: 10px;
}

#RewardsContainer
{
	flow-children: none;
	height: 132px;
}

#NextRewardImage
{
    width: 100%;
    height: 100%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	vertical-align: top;
	horizontal-align: center;
}

.AspectRatio4x3 #NextRewardImage
{
	
}

.IsLayoutSmallScreen #ScoreboardPage .PlaceTitle {
	ui-scale: 60%;
	margin-top: 20px;
}

.Shield0
{
    background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
}

.Shield1
{
    background-image: url("s2r://panorama/images/dashboard/rank_bronze_tier_psd.vtex");
}

.Shield2
{
    background-image: url("s2r://panorama/images/dashboard/rank_silver_tier_psd.vtex");
}

.Shield3
{
    background-image: url("s2r://panorama/images/dashboard/rank_gold_tier_psd.vtex");
}

.Shield4
{
    background-image: url("s2r://panorama/images/dashboard/rank_platinum_tier_psd.vtex");
}

.PostGameTopBar
{
    width: fit-children;
    height: 120px;
    flow-children: right;
	horizontal-align: center;
	z-index: 3;
}

.AspectRatio21x9.IsLayoutSmallScreen .PostGameTopBar
{
	ui-scale: 120%;
}

.PostGameTopBar, .ButtonContainer {
	opacity: 0;

	transition-property: opacity;
	transition-duration: 500ms; 
}

.RewardQueueEmpty .PostGameTopBar, .RewardQueueEmpty .ButtonContainer {
	opacity: 1;
}

.TopBarButton
{
  	vertical-align: center;
  	margin-left: 4%;
  	width: 400px;
	height: 64px;
	transition-property: brightness, background-color;
	transition-duration: .2s; 
	margin: 16px;
}
.TopBarButton Label
{
	font-size: 64px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 1px;
	vertical-align: center;
	text-align: center;
	color: #e1decc;
	text-transform: uppercase;
	width: 100%;
	font-family: Radiance Black Distressed, k_alwaysFontNames;
	opacity: 0.8;
}

.TopBarButton:hover
{
	brightness: 1.5;
}

#TopBarProgressButton
{
    //margin-left: 8%;
}

.SeasonProgressPage #TopBarProgressButton, .StatsPage #TopBarStatsButton, .ScoreboardPage #TopBarScoreboardButton
{
	background-image: url("s2r://panorama/images/post_game/nav_button_bg_01_psd.vtex");
	background-size: cover;
	padding: 0px 20px 0px 20px;

}

.GameMode_Duos #TopBarScoreboardButton
{
	visibility: collapse;
}

.SeasonProgressPage #TopBarProgressButton Label, .StatsPage #TopBarStatsButton Label, .ScoreboardPage #TopBarScoreboardButton Label
{
	color: #2f2a28;
	font-family: Radiance, k_alwaysFontNames;
	text-transform: uppercase;
	opacity: 1;
}

.SeasonProgressPage #TopBarProgressButton:hover, .StatsPage #TopBarStatsButton:hover, .ScoreboardPage #TopBarScoreboardButton:hover
{
	brightness: 1.0;
}

#CelebrationParticles {
	width: 100%;
	height: 100%;
}

.ChallengeAndRankContainer
{
    width: 100%;
    height: 228px;
}
#TeamRankContainer
{
    visibility: collapse;
}
.GameMode_Duos #TeamRankContainer
{
    visibility: visible;
}

.RankIndicator
{
    width: 500px;
    height: 250px;
    //background-image: url("s2r://panorama/images/dashboard/rank_backing_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    horizontal-align: center;
    flow-children: right;
    visibility: collapse;
    margin-left: -24px;
    margin-top: 4px;
}

.RankedMatch #SoloRankDataContainer,
.DuosRankedMatch #SoloRankDataContainer,
.DuosRankedMatch #TeamRankDataContainer,
{
    visibility: visible;
}

.NonRankedContainer
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 28px;
	height: 100%;
    //text-transform: uppercase;
	color: #2f2a28;
	font-weight: black;
	margin-top: 32px;
	text-align: center;
	padding: 0px 24px 0px 24px;
}

.RankedMatch .NonRankedContainer,
.DuosRankedMatch .NonRankedContainer,
{
    visibility: collapse;
}


DACRankIcon
{
    margin-left: 26px;
    vertical-align: middle;
	horizontal-align: center;
	ui-scale: 84%;
}

/* Center heavy icons */
.MajorRank1 #RankIcon
{
    margin-top: -8px;
}

.MajorRank2 #RankIcon
{
    margin-top: -8px;
}

.MajorRank3 #RankIcon
{
    margin-top: -8px;
}

.MajorRank4 #RankIcon
{
    margin-top: -8px;
}

.MajorRank5 #RankIcon
{
    margin-top: -8px;
}

.MajorRank6 #RankIcon
{
    margin-top: -8px;
}

.MajorRank7 #RankIcon
{
    margin-top: 12px;
}

.MajorRank8 #RankIcon
{
    margin-top: -6px;
}

.MajorRank9 #RankIcon
{
    margin-top: 6px;
}

#ForegroundContainer #RankNumeral
{
    visibility: collapse;
}

.NameContainer
{
    flow-children: down;
    vertical-align: top;
    margin-top: 24px;
	margin-left: 10px;
    width: fill-parent-flow(1.0);
}

#PlayerName
{
    color: #fff;
    font-size: 26px;
    margin-top: 8px;
    text-shadow: 1px 2px 0px 2.0 #00000066;
    //font-weight: regular;
    visibility: collapse;
}

.RankDesc
{
    font-size: 28px;
    text-transform: uppercase;
    width: fit-children;
	color: #2f2a28;
	margin-top: 8px;
	font-weight: black;
}

.RankScore
{
	font-size: 28px;
	font-weight: black;
	color: #2f2a28;
	text-transform: uppercase;
}

.MajorRank9 .RankProgressBar
{
    visibility: collapse;
}

.ProgressBarAnimate #PlayerRankProgressBar_Left,
.ProgressBarAnimate #TeamRankProgressBar_Left,
{
    transition-duration: .5s;
}

.LeaderboardPosition
{
    visibility: collapse;
    font-size: 22px;
    text-shadow: 1px 1px 0px 2.0 #00000066;
    font-weight: black;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 1px;
    color: gradient( linear, 80% 100%, 0% 0%, from( #f8cc33 ), to( #f8ad33 ) );
}

.MajorRank9 .LeaderboardPosition
{
    visibility: visible;
    margin-top: -8px;
}

.MajorRank9 .RankDesc
{
    visibility: collapse;
}

.MinorRank1 .RankScoreDelta
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 .RankScoreDelta
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 .RankScoreDelta
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 .RankScoreDelta
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 .RankScoreDelta
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}


.ProgressBarParticle
{
    width: 100%;
    height: 100%;
    z-index: 2;
}
#SeasonLevelProgress .ProgressBarParticle
{
    opacity: .4;
    overflow: noclip;
}

.RankScoreContainer
{
    flow-children: right;
    width: 100%;
    height: 28px;
	overflow: noclip;
	margin-top: 1px;
}

.RankScoreDelta
{
    opacity: 0;
    transition-property: opacity, transform;
    transform: translateX( 200px );
    transition-duration: 0.5s;
   	font-size: 28px;
	font-weight: black;
	text-shadow: 0px 0px 0px 3.0 #2f2a28;
	text-transform: uppercase;
	margin-left: 8px;
}

.ShowRankLevelDelta .RankScoreDelta
{
    opacity: 1;
    transform: translateX( 0px );
    transition-duration: 0.2s;
}

.RankProgressBar 
{
	width: 360px;
    height: 28px;
	horizontal-align: center;
	background-color: #00000033;
	margin-top: 2px;
  	border: 4px solid #2f2a28;	
	box-shadow: inset 0px 6px 20px #000000cc;
	horizontal-align: left;
}

#PlayerRankProgressBar_Left,
#TeamRankProgressBar_Left,
{
    //background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    border-top: 1px solid #ffffff22;
    border-bottom: 1px solid #00000033;
    border-right: 1px solid #ffffff22;
}

.MinorRank1 #PlayerRankProgressBar_Left,
.MinorRank1 #TeamRankProgressBar_Left,
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 #PlayerRankProgressBar_Left,
.MinorRank2 #TeamRankProgressBar_Left,
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 #PlayerRankProgressBar_Left,
.MinorRank3 #TeamRankProgressBar_Left,
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 #PlayerRankProgressBar_Left,
.MinorRank4 #TeamRankProgressBar_Left,
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 #PlayerRankProgressBar_Left,
.MinorRank5 #TeamRankProgressBar_Left,
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}

#PlayerRankProgressBar_Right,
#TeamRankProgressBar_Right,
{
    //background-color: #0e101b;
    opacity: 0.001;
}


#PopupManager
{
	width: 100%;
	height: 100%;
}

#PopupManager 
{
    visibility: collapse;
}

#PopupManager.HaveActivePopups
{
    visibility: visible;
}

#BackButton
{
	visibility: collapse;
}
