DACEquipControl
{
	width:1000px;
	height:300px;
	
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

#EquippableItemContainer
{
	flow-children: right;
}


.EquippableItem
{
	margin-right: 10px;
	margin-left: 10px;
	width: 200px;
	height: 200px;

	background-color: yellow;
}

.EquipText
{
	font-size: 30px;
	width: 100%;
}

#EquipButton
{
	vertical-align: bottom;
	background-color: red;
	width: 100%;
	height: 50px;
	font-size: 30px;
}

.EquipLabel
{
	font-size: 20px;
	color: white;
}