DACScoreboard {
	flow-children: down;
	vertical-align: center;
	margin-bottom: 26px;
	ui-scale: 80%; /* Matches scale value of scoreboard in PC mode */
	
	overflow: scroll;
	width: 100%;
	
	//background-color: #2c2a32;
}

#ScoreboardEntryContainer {
	background-image: url("s2r://panorama/images/shop/shop_backing_image_psd.vtex");
	background-size: 120%;
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

.IsPlatformMobile DACScoreboard {
	ui-scale: 100%;
}

.IsPlatformMobile.AspectRatio16x9 DACScoreboard {
	margin-bottom: 0px;
}

.IsPlatformMobile.AspectRatio4x3 DACScoreboard {
	ui-scale: 100%;
	margin-bottom: 28px;
}

.IsPlatformMobile.AspectRatio21x9 DACScoreboard {
	ui-scale: 100%;
	margin-bottom: 0px;
	//max-width: 1920px;
}


.IsPlatformMobile.AspectRatio16x9 #Header,
.IsPlatformMobile.AspectRatio21x9 #Header {
	height: 30px;
}

.IsPlatformMobile.AspectRatio4x3 #Header {
	visibility: visible;
}

.PlayerLeaderboardBackground DACScoreboard #ScrollThumb
{
	background-color: #4b4354aa;
	height: 20px;
}

.PlayerLeaderboardBackground DACScoreboard #HorizontalScrollBar
{
	background-color: #000000;
	//background-color: red;
	height: 20px;
}

.IsPlatformMobile .PlayerLeaderboardBackground DACScoreboard #HorizontalScrollBar
{
	height: 10px;
	//background-color: #ffffff88;
}

#Header {
	flow-children: right;
	background-color: #352d3e;
	max-height: 60px;
}

#Header Label {
	color: #fff;
	font-size: 24px;
	padding: 15px 10px 15px 10px;
	text-transform: uppercase;
	overflow: squish squish;
}

.IsPlatformMobile.AspectRatio16x9 #Header Label,
.IsPlatformMobile.AspectRatio21x9 #Header Label{
	color: #fff;
	font-size: 24px;
	padding: 0px 10px 0px 10px;
	text-transform: uppercase;
	overflow: squish squish;
}

.IsPlatformMobile.AspectRatio16x9 #Header{
	padding-left: 64px;
}

.IsPlatformMobile.AspectRatio21x9 #Header{
	padding-left: 0px;
	margin-left: -60px;
}

#ScoreboardEntryContainer {
	flow-children: down;
	width: fit-children;
}

.MatchModeSoloBot #RankHeader, .MatchModeCasual #RankHeader {
	width: 0;
	opacity: 0;
}