
.AchievementPanel
{
    width: 150px;
    height: 150px;
    border: 1px solid white;
}

.AchievementScore
{
    horizontal-align: right;
    vertical-align: bottom;
}

.AchievementReward
{
    horizontal-align: center;
    vertical-align: middle;
}


.AchievementBlock
{
    flow-children: right;
    margin-right: 10px;
}

#AchievementPanel2,
#AchievementPanel3
{
    visibility: collapse;
}

.AchievementLevels2 #AchievementPanel2,
.AchievementLevels3 #AchievementPanel2,
.AchievementLevels3 #AchievementPanel3
{
    visibility: visible;
}
