
DACLeaderboardEntry {
	overflow: noclip;
	//height: 130px;
	height: 60px;
	width: 380px;
}

.AspectRatio21x9.IsLayoutSmallScreen DACLeaderboardEntry
{
	//ui-scale: 91%;
}

.EGameState_Intro.ERoundState_Ready #PlayerLeaderboardContainer {
	visibility: collapse;
}

#PlayerLeaderboardContainer {
	/* visibility: collapse; */
	height: 100%;
	margin-left: 5px;
}

.TabLeaderboard #PlayerLeaderboardContainer {
	visibility: visible;
}

#PostGameStats
{
	margin-top:10px;
}

/* COMMENTING OLD FAT LEADERBOARD STYLE

.PlayerLeaderboard 
{
	width: 235px;
	height: 130px;
	margin-top: 15px;  //helps line up with scoreboard
	transition-property: position;
	transition-duration: 100ms;
	overflow: noclip;
}*/

.ScoreboardVisible .PlayerLeaderboard 
{
	//margin-top: 15px;
}

.HasPlayerOpponent .InCombat .PlayerLeaderboard 
{
	margin-top: -5px;
}

.HasPlayerOpponent .InCombat .IsAwayGame .PlayerLeaderboard 
{
	margin-top: -15px;
}



.LeaderboardBackgroundGroup 
{	
	width: 100%;
	height: 100%;

	transition-property: brightness, margin-left;
	transition-duration: 200ms; 
	transition-timing-function: ease-out;
	margin-left: -15px;
}

.HasPlayerOpponent .IsCombat .LeaderboardBackground
{
	visibility: collapse;
}

.IsSelected .LeaderboardBackground 
{
	brightness: 3.0;
	transition-property: brightness;
	transition-duration: .2s; 
}

.IsSelected .PlayerLeaderboard:hover .LeaderboardBackground 
{
	brightness: 4.0;
	transition-property: brightness;
	transition-duration: .2s; 
}

.PlayerLeaderboard:hover .LeaderboardBackground 
{
	brightness: 2.0;
	transition-property: brightness;
	transition-duration: .2s; 
}

.LowVisualQuality .IsSelected .LeaderboardBackground 
{
	brightness: 1.0;
}

.LeaderboardBackground 
{	
	opacity: 1.0;
	width: 100%;
	height: 100%;
	background-size: 100%, 100%;
}

.LeaderboardLevelAndAegisGroup 
{	
	width: 100%;
	height: 100%;
}


#Leaderboard_1 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel01_psd.vtex"); 
}
#Leaderboard_2 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel02_psd.vtex"); 
}
#Leaderboard_3 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel03_psd.vtex"); 
}
#Leaderboard_4 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel04_psd.vtex"); 
}
#Leaderboard_5 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel05_psd.vtex"); 
}
#Leaderboard_6 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel06_psd.vtex"); 
}
#Leaderboard_7 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel07_psd.vtex"); 
}
#Leaderboard_8 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel08_psd.vtex"); 
}

//FOR DUOS
.GameMode_Duos #PlayerSlot_1 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_9 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel01_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_2 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_10 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel02_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_3 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_11 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel03_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_4 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_12 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel04_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_5 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_13 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel05_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_6 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_14 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel06_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_7 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_15 .LeaderboardBackground 
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel07_psd.vtex"); 
}
.GameMode_Duos #PlayerSlot_8 .LeaderboardBackground, 
.GameMode_Duos #PlayerSlot_16 .LeaderboardBackground
{ 
	background-image: url("s2r://panorama/images/leaderboard/background_panel08_psd.vtex"); 
}

.LeaderboardForeground
{
	width: 100%;
	height: 100%;
	margin-left: 6px;
	margin-top: 12px;
}

.PlayerAvatarGroup
{
	width: 90px;
	height: 90px;
	//margin-left: -5px;
	//margin-top: -5px;
	horizontal-align: left;
	vertical-align: top;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/hud/dac_profile_rounded_corner_mask_psd.vtex");	
}

.GameMode_Duos .PlayerAvatarGroup {
	opacity-mask: none;
}


.HasPlayerOpponent.InCombat .IsAwayGame
{
	margin-bottom: 10px;
}

.HasPlayerOpponent.InCombat .LeaderboardBackground
{
	visibility: collapse;
}

//slightly hacky: reusing some graphics.
/*
.ScoreboardHidden.HasPlayerOpponent .InCombat .IsSelected .LeaderboardBackground
{

	margin-top: 2px;
	background-size: 75%;
	background-repeat: no-repeat;
	visibility: visible;
}*/

.HasPlayerOpponent .InCombat #ParticleBG,
.HasPlayerOpponent .InCombat #ParticleFG
{
	visibility: collapse;
}



.IsDead .PlayerLeaderboard:hover .LeaderboardBackground,
.IsDead .LeaderboardBackground {
	margin-left: -42px;	
}

#PlayerLeaderboardContainer .IsSelf .LeaderboardBackground {
	background-image: url("s2r://panorama/images/leaderboard/background_panel_glow_psd.vtex");


	animation-name: SelfThrobAnim;
	animation-timing-function: ease-in-out;
	animation-duration: 3.0s;
	animation-iteration-count: infinite;
}

@keyframes 'SelfThrobAnim'
{
	0%
	{
		opacity: 0.6;
	//	color:  white; 
	}
	50%
	{
		opacity: 1;
		//color:  #dddddd; 
	}
	100%
	{
		opacity: 0.6;
		//color:  white; 
	}
}
.InCombat .IsDead
{
	visibility: collapse;
}

.InCombat .IsDead.IsLoss.IsFinished
{
	visibility: visible;
}

.LeaderboardName 
{
	margin-top: 75px;
	//width: 145px;
	width: 200px;
	font-size: 24px;
	font-weight: light;
	margin-left: 2px;
	color: #8588a0;
	transition-property: brightness, color;
	transition-duration: .2s;
}

.PlayerLeaderboard:hover .LeaderboardName
{
	color: #cacde4;
	brightness: 2.0;
	transition-property: brightness, color;
	transition-duration: .2s;
}

#LeaderboardAvatarGroup {
	height: 100%;
	width: 100%;
} 

#LeaderboardAvatar {
	saturation: 1.0;
	height: 100%;
	width: 100%;
	//margin-left: 5px;
	//margin-top: 5px;
	transition-property: brightness, border, saturation;
	transition-duration: .1s;
	opacity-mask: url("s2r://panorama/images/hud/dac_profile_rounded_corner_right_mask_psd.vtex");
}

.GameMode_Duos #LeaderboardAvatar,
.GameMode_Tutorial #LeaderboardAvatar  
{
	opacity-mask: none;
}

.LowVisualQuality .PlayerAvatarGroup,
.LowVisualQuality #LeaderboardAvatar
{
	transition-property: none;
	transition-duration: 0s;
	opacity-mask: none;
}

#LeaderboardHilight {
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-image: url("s2r://panorama/images/hud/dac_profile_hilight_psd.vtex");
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
}

#LeaderboardSpectate {
	height: 100%;
	width: 100%;
	//width: 30px;
	//height: 30px;
	//margin-left: 3px;
	//vertical-align: center;
	background-size: 100%;
	background-image: url("s2r://panorama/images/hud/dac_profile_spectate_psd.vtex");
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
}

.PlayerLeaderboard:hover #LeaderboardHilight
{
	visibility: visible;
	opacity: .5;
	transition-property: opacity;
	transition-duration: .25s;
}

.PlayerLeaderboard:hover #LeaderboardSpectate
{
	visibility: visible;
	opacity: .5;
	transition-property: opacity;
	transition-duration: .25s;
}

.IsSelf .PlayerLeaderboard #LeaderboardHilight
{
	background-image: url("s2r://panorama/images/hud/dac_profile_isself_psd.vtex");
	visibility: visible;
	opacity: .4;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-name: SelfOpacityThrob;//temp
	animation-iteration-count: infinite;
}

.LowVisualQuality .HealthLow #LeaderboardHealth,
.LowVisualQuality .IsSelf .PlayerLeaderboard #LeaderboardHilight,
.LowVisualQuality #PlayerLeaderboardContainer .IsSelf .LeaderboardBackground
{
	animation-name: none;	
	opacity: 1;
}

.IsSelf .PlayerLeaderboard #LeaderboardHilight,
.LowVisualQuality #LeaderboardHilight
{
	transition-property: none;
	transition-duration: 0s;
	opacity: 1;
}

@keyframes 'SelfOpacityThrob'
{
	0%
	{
	opacity: .1;
	}


	50%
	{
	opacity: 0.4;
	}
	
	100%
	{
	opacity: .1;
	}
}

.IsSelf .PlayerLeaderboard:hover #LeaderboardHilight
{
	background-image: url("s2r://panorama/images/hud/dac_profile_isself_psd.vtex");
	opacity: .5;
}

.IsSelf .PlayerLeaderboard:hover #LeaderboardSpectate
{
	//visibility: collapse;
}

.IsSelf.IsSelected #LeaderboardHilight
{
	background-image: url("s2r://panorama/images/hud/dac_profile_isself_psd.vtex");
	animation-name: none;
}

.IsSelf.IsSelected .PlayerLeaderboard:hover #LeaderboardHilight
{
	background-image: url("s2r://panorama/images/hud/dac_profile_isself_psd.vtex");
	opacity: 1;
}

.IsSelected .PlayerLeaderboard:hover #LeaderboardHilight
{
	opacity: 1;
}

.IsSelf.IsSelected #LeaderboardSpectate
{
	//visibility: collapse;
	wash-color: white;
}

.IsSelected #LeaderboardHilight
{
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .25s;
}

.IsSelected #LeaderboardSpectate
{
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	opacity: 1;

//	pre-transform-scale2d: .6;
//	transform: translateY(28px) translateX(-20px);
//	animation-duration: 1s;
//	animation-timing-function: ease-out;
//	animation-name: SpectateEyeDuck;
//	animation-iteration-count: 1;

}

.IsSelected .PlayerLeaderboard:hover #LeaderboardSpectate
{
	visibility: visible;
	transition-property: opacity;
	transition-duration: .25s;
	opacity: 1;
}

.IsSelf.IsSelected .PlayerLeaderboard:hover #LeaderboardSpectate
{
	visibility: collapse;
}

/*
.IsSelected .PlayerLeaderboard:hover #LeaderboardSpectate
{
	opacity: 0;
}


@keyframes 'SpectateEyeDuck'
{
	0%
	{
	opacity: 1;
	pre-transform-scale2d: 1.0;
	transform: translateY(0px) translateX(0px);
	}


	33%
	{
	opacity: .5;
	pre-transform-scale2d: .6;
	transform: translateY(28px) translateX(-20px);
	}
	
	100%
	{
	opacity: 0;
	pre-transform-scale2d: .6;
	transform: translateY(28px) translateX(-20px);
	}

}
*/

.IsDead #LeaderboardAvatar {
	saturation: 0;
	//brightness: 1;
	//contrast: 3;
	contrast: 1.5;
	wash-color: #b64040;
}

.IsDead .PlayerName
{
	color: #b64040;
}

.IsDead.IsFinished .PlayerName Label 
{
	color: #b64040;
}

.IsDead .PlayerLevel,
.IsDead .PlayerLevelIcon,
.IsDead .PlayerGold,
.IsDead .PlayerGoldIcon,
.IsDead .PlayerHealth,
.IsDead .PlayerHealthIcon
{
	visibility: collapse;
}

.IsDead .PlayerLeaderboard
{
	width: 285px;
}

.LeaderboardName Label {
	padding: 5px;
	padding-top: 18px;
	padding-left: 4px;
	text-overflow: clip;
	white-space: nowrap;
	width: 100%;
	opacity-mask: url("s2r://panorama/images/leaderboard/name_mask_psd.vtex");

	color: #8588a0;
	transition-property: color;
	transition-duration: .2s;
	brightness: 1.0;
//text-shadow: 0px 0px 0px 3.0 #000;
}


//hmm?
.AspectRatio21x9.IsLayoutSmallScreen .LeaderboardName {
	margin-top: 64px;
}

.IsSelf .LeaderboardName Label
{
	color: white;
}

/*.LeaderboardName .MobileIcon {
	margin-top: 22px;
	margin-right: 6px;
	width: 14px;
	height: 22px;
	wash-color: #8588a0;
	visibility: collapse;
}

.IsSelf .LeaderboardName .MobileIcon {
	wash-color: white;
}

.IsDead .LeaderboardName .MobileIcon {
	wash-color: rgb(141, 80, 80);
}


.IsMobile .LeaderboardName .MobileIcon {
	visibility: visible;
}*/

.IsLayoutSmallScreen .LeaderboardName Label,
.LowVisualQuality .LeaderboardName Label 
{
	text-shadow: 0px 0px 0px 2.0 #000;
    opacity-mask: none;
}

    

.IsFinished .LeaderboardName Label,
.IsOpponent .LeaderboardName Label 
{
	//max-width:115px;
	// turning off checks and Xs
}





.PlayerVictory
{
	// victory particles
	height: 40px;
	width: 200px;
	margin-left: -85px;
	margin-top: 85px;
	opacity: 0;
	transform: rotateZ(180deg);
	visibility: collapse;
}

.InCombat .IsHomeGame .PlayerVictory
{
	margin-top: -25px;
}

.InCombat .IsAwayGame .PlayerVictory
{
	margin-top: 85px;
}

.IsFinished.IsVictory .PlayerVictory
{
	visibility: visible;
}

.IsFinished.IsLoss .PlayerName
{
	color: #d74545;
}
.IsFinished.IsVictory .PlayerName
{
	color: #99d3a0;
}

.IsMobile.IsFinished .LeaderboardName Label,
.IsMobile.IsOpponent .LeaderboardName Label 
{
	//max-width: 95px;
}

.BattlepassRank {
	width: 15px;
	height: 19.5px;
	margin: 12px 10px 0 0;
}

.LevelIcon {
	width: 17.25px;
	height: 21px;
	margin-top: -2px;
}

#GoldStat {
	margin-top: 4px;	
	margin-left: 4px;
}

.IsDead #GoldStat {
	visibility: collapse;
}

.GoldIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_psd.vtex");
	background-size: 100%, 100%;
	width: 11px;
	height: 11px;
	vertical-align: center;
	margin-left: 2px;
	margin-bottom: 2px;
}

.HealthIcon {
	width: 18px;
	height: 18px;
	margin-top: -1px;
	background-size: contain;
}

#LeaderboardHealth {
	color: #a2ff92;
	font-size: 45px;
	margin-top: 0px;
}

#LeaderboardHealthDelta {
	color: #E21F0200;
	text-shadow: 0px 0px 0px 1.0 #00000000;
	font-size: 24px;
	font-weight: bold;
	vertical-align: top;
	margin-left: -5px;
	font-style: italic;
	
	transition-property: color, text-shadow;
	transition-duration: 1.5s, 1.5s;
	transition-timing-function: ease-in-out, ease-in-out;

	pre-transform-scale2d: 1.0;
	overflow: noclip;
}



.OnLeaderboardHealthDelta #LeaderboardHealthDelta {
	transition-property: none;
	color: #E21F02FF;
	text-shadow: 0px 0px 0px 1.0 #000000ff;

	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-name: HealthDeltaFlash;
	animation-iteration-count: 1;
}

.AegisUsed.OnLeaderboardHealthThrob #LeaderboardHealthDelta {
	opacity: 0;
	transition-property: none;
	color: #555F;
	text-shadow: 0px 0px 0px 1.0 #000000ff;
	animation-name: none;
}

//Intro
@keyframes 'HealthDeltaFlash'
{
	0%
	{
		color: #E21F0200;
		text-shadow: 0px 0px 0px 3.0 #EF220000;
		pre-transform-scale2d: 2.0;
		transform: translateX(50px);
	}

	24%
	{
		color: #E21F02FF;
		text-shadow: 0px 0px 0px 1.0 #EF2200ff;
		pre-transform-scale2d: 0.8;
		transform: translateX(0px);
	}
	25%
	{
		color: #FFFFFFFF;
		text-shadow: 0px 0px 0px 1.0 #EF2200ff;
		pre-transform-scale2d: 0.8;
		transform: translateX(0px);
	}

	35%
	{
		color: #E21F02FF;
		text-shadow: 0px 0px 0px 1.0 #FFFFFFFF;
		pre-transform-scale2d: 1.0;
		transform: translateX(0px);
	}

	100%
	{
		text-shadow: 0px 0px 0px 1.0 #000000ff;
		transform: translateX(0px);
	}

}

.OnLeaderboardHealthDelta .PlayerLeaderboard
{
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-name: HealthDeltaSlam;
	animation-iteration-count: 1;
}

//Intro
@keyframes 'HealthDeltaSlam'
{
	0%
	{
		pre-transform-scale2d: 1.0;
		transform: translateX(0px);
	}

	46%
	{
		pre-transform-scale2d: 1.0;
		transform: translateX(0px);
	}
	48%
	{
		pre-transform-scale2d: 0.8;
		transform: translateX(-20px);
	}

	70%
	{
		pre-transform-scale2d: 1.01;
		transform: translateX(0px);
	}

	100%
	{
		pre-transform-scale2d: 1.0;	
		transform: translateX(0px);
	}

}

.OnLeaderboardHealthThrob #LeaderboardHealthDelta {
	
	transition-property: none;
	color: #E21F02FF;
	text-shadow: 0px 0px 0px 1.0 #000000ff;

	animation-duration: 2.24s;
	animation-timing-function: linear;
	animation-name: HealthDeltaThrob;
	animation-iteration-count: infinite;
}



//Two throbs
//Three
@keyframes 'HealthDeltaThrob'
{
	0%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 1.0 #000000ff;
	}

	8.33333%
	{
		pre-transform-scale2d: 1.0;
	}

		13%
		{
			
			pre-transform-scale2d: 1.0;
		}

			16.6666%
			{
				
				pre-transform-scale2d: 1.1;
			}

		19%
		{
			
			pre-transform-scale2d: 1.0;
		}

	25%
	{
		
		pre-transform-scale2d: 1.0;
	}

		30%
		{
			
			pre-transform-scale2d: 1.0;
		}

				33.333%
				{
					
					pre-transform-scale2d: 1.2;
				}

		36%
		{
			
			pre-transform-scale2d: 1.0;
		}

	41.666%
	{
		pre-transform-scale2d: 1.0;
	}

	//blip
	50%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 2.0 #73000b60;
	}

	58.33%
	{
		pre-transform-scale2d: 1.0;
	}


		63%
		{
			pre-transform-scale2d: 1.0;		
		}

			66.666%
			{
				pre-transform-scale2d: 1.1;	
			}

		69%
		{
			pre-transform-scale2d: 1;	
		}

	
	75%
	{
		pre-transform-scale2d: 1.0;
	}

		80%
		{
			pre-transform-scale2d: 1.0;
		}

				83.333%
				{
					pre-transform-scale2d: 1.2;
				}

		88%
		{
			pre-transform-scale2d: 1.0;
		}

	91.666%
	{
		pre-transform-scale2d: 1.0;
	}

	100%
	{
		pre-transform-scale2d: 1.0;
		text-shadow: 0px 0px 0px 1.0 #000000ff;
	}
	//blip
}

.AegisUsed.OnLeaderboardHealthDelta #LeaderboardHealthDelta {
	
	transition-property: none;
	opacity: 1;
	color: #E21F02FF;
	text-shadow: 0px 0px 0px 3.0 #000000ff;

	animation-duration: 1.0s;
	animation-timing-function: ease-out;
	animation-name: HealthDeltaBlockedByAegisAnim;
	animation-iteration-count: 1;
}

@keyframes 'HealthDeltaBlockedByAegisAnim'
{
	0%
	{
		color: #E21F0200;
		text-shadow: 0px 0px 0px 3.0 #EF220000;
		pre-transform-scale2d: 2.0;
		transform: translateX(50px) ;
	}

	24%
	{
		color: #E21F02FF;
		text-shadow: 0px 0px 0px 3.0 #EF2200ff;
		pre-transform-scale2d: 0.8;
		transform: translateX(0px) ;
	}
	25%
	{
		color: #FFFFFFFF;
		text-shadow: 0px 0px 0px 3.0 #EF2200ff;
		pre-transform-scale2d: 0.8;
		transform: translateX(0px);
	}

	35%
	{
		color: #555f;
		text-shadow: 0px 0px 0px 3.0 #FFFF;
		pre-transform-scale2d: 1.0;
		transform: translateX(25px) ;
	}

	100%
	{
		text-shadow: 0px 0px 0px 3.0 #FFFF;
		color: #555f;
		transform: translateX(50px) ;
		opacity: 0;
		
	}
}

.AegisIconLeaderboard 
{
	opacity : 0.0;

	transition-property: opacity;
	transition-duration: 200ms;

	horizontal-align: right;
	vertical-align: top;
	font-size: 24px;
	margin-right: 12px;
	margin-top: 4px;
	border-radius: 50%;
	border: 1px solid #a00;
	background-color: #000000cc;
	background-image: url("s2r://panorama/images/items/prevent_next_death_psd.vtex");
	background-size: 100%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	text-shadow: 0px 0px 0px 0.0 #000000ff;
}

.AegisUsed.OnLeaderboardHealthDelta .AegisIconLeaderboard
{	
	opacity : 1.0;
	pre-transform-scale2d: 1.0;
	
	animation-duration: 1.0s;
	animation-timing-function: ease-out;
	animation-name: AegisDefendAnim;
	animation-iteration-count: 1;	
	transition-property: none;
}

@keyframes 'AegisDefendAnim'
{

	0% 
	{
		brightness: 1;
		pre-transform-scale2d: 1.0;
		opacity: 0;
	}

	15% 
	{
		opacity: 1;
		brightness: 1;
		pre-transform-scale2d: 0.0;
	}

	25% 
	{
		brightness: 2;
		pre-transform-scale2d: 1.4;
	}

	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1.0;
	}
}

.AegisUsed.OnLeaderboardHealthThrob .AegisIconLeaderboard  
{
	opacity : 1.0;
	pre-transform-scale2d: 1.0;

	animation-duration: 2.24s;
	animation-timing-function: linear;
	animation-name: HealthDeltaThrob;
	animation-iteration-count: infinite;

	transition-property: none;
}

.IsDead #LeaderboardHealth {
	visibility: collapse;
}

#LeaderboardGold {
	color: #e6a83b;
}

#LeaderboardGoldRoundDelta {
	color: #ffd10400;
	vertical-align: top;
	text-align: left;
	text-shadow: 0px 0px 0px 3.0 #00000000;
	transition-property: color, text-shadow;
	transition-duration: 1.5s;
	transition-timing-function: ease-in-out, ease-in-out;
	
}

.OnLeaderboardShowGoldDelta #LeaderboardGoldRoundDelta {
	color: #ffd1048e;
	text-shadow: 0px 0px 0px 1.0 #000000ff;
	animation-duration: 0.85s;
	animation-timing-function: ease-out;
	animation-name: GoldDeltaFlash;
	animation-iteration-count: 1;

	transition-property: none;

}

.OnLeaderboardShowGoldDelta.IsSelf #LeaderboardGoldRoundDelta {
	color: #ffd104ff;
}

@keyframes 'GoldDeltaFlash'
{
	0%
	{
		text-shadow: 0px 0px 0px 1.0 #FFFFFFFF;
		color: #FFFFFFFF;
		pre-transform-scale2d: 1.8;
	}

	12%
	{
		color: #FFFFFFFF;
		text-shadow: 0px 0px 0px 3.0 #FFFFFFFF;
		pre-transform-scale2d: 1.0;
	}

	25%
	{
		color: #FFFFFFFF;
		text-shadow: 0px 0px 0px 1.0 #ffd1048e;
		pre-transform-scale2d: 1.0;
	}

	100%
	{
		color: #ffd1048e;
		text-shadow: 0px 0px 0px 1.0 #0000;
		pre-transform-scale2d: 1.0;
	}

}




#LeaderboardCircle {
	margin-right: 12px;
	margin-top: 14px;
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_level_psd.vtex");
	background-size: 100%, 100%;
	width: 32px;
	height: 32px;
}

.PlayerLevel {
	transition-property: brightness;
	transition-duration: .2s;
}


.LevelUpFlash .PlayerLevel
{
	animation-name: LevelUpFlashText;
	animation-duration: 1.25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

@keyframes 'LevelUpFlashText'
{
	0%
	{
		color: #6d94e3ff;
		text-shadow: 0px 0px 0px 0.0 #6d94e3ff;
		pre-transform-scale2d: 1.1;
	}

	5%
	{
		color: #ffffffff;
		text-shadow: 0px 0px 0px 2.0 #ffffff10;
		pre-transform-scale2d: 1.2;
	}

	30%
	{
		color: #ffffffff;
		text-shadow: 0px 0px 0px 1.0 #6d94e3ff;
	}

	100%
	{
		color: #6d94e3ff;
		text-shadow: 0px 0px 0px 0.0 #000000ff;		
		pre-transform-scale2d: 1.0;
	}
}

.IsDead .PlayerLevel {
	//margin-right: 48px;
	wash-color: #a00;
}


.BattlepassRank {
	horizontal-align: right;
}


/*
.IsFinished .LeaderboardIndicator {
	//opacity: 1;
	//visibility: visible;
}

.IsVictory.IsFinished .LeaderboardIndicator {
	background-image: url("s2r://panorama/images/leaderboard/icon_finished_psd.vtex");
}

.IsLoss.IsFinished .LeaderboardIndicator {
    background-image: url("s2r://panorama/images/leaderboard/icon_finished_loss_psd.vtex");
}

.IsDead.IsFinished .LeaderboardIndicator {
	visibility: collapse;
}
*/

.LeaderboardIndicator {
	visibility: collapse;
	opacity: 0;
	width: 30px;
	height: 30px;
	margin-top: 18px;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: 0.2s;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.LeaderboardDisconnectedIndicator {
	opacity: 0;
	width: 110%;
	height: 110%;
	
	transition-property: opacity;
	transition-duration: 150ms;	
}

.HealthContainer {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 500ms;
	 
	overflow: noclip;
}

.HasDamage .HealthContainer {
	opacity: 1;
}

.IsDisconnected .LeaderboardDisconnectedIndicator {
	animation-name: OpacityThrob;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes 'OpacityThrob'
{
	0%
	{
		opacity: 0.2;
	}

	50%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0.2;
	}
}

.IsDead.IsDisconnected .LeaderboardDisconnectedIndicator {
	visibility: collapse;
}

#LeaderboardHealthBar {
	width: 140px;
	height: 8px;
	margin: 0;
	vertical-align: bottom;
	margin-bottom: 40px;
	margin-left: 6px;
	visibility: collapse;
}

#LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_green_psd.vtex");
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	transition-property: height, position;
	transition-duration: 250ms;
}

#LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_green_empty_psd.vtex");
	background-size: 25px 100px;
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-repeat: no-repeat;*/
	background-color: black;
}

.HealthIcon {
}

.IsDead .HealthIcon {
	visibility: collapse;
}

.HealthMid .HealthIcon {
}

.HealthMid #LeaderboardHealth {
	color: #fff66e;
}

.HealthMid #LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_yellow_psd.vtex");
}

.HealthMid #LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_yellow_empty_psd.vtex");*/
}

/*.HealthLow .HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}*/

.HealthLow .PlayerHealth {
	color: #ff6123;

	animation-duration: 2.24s;
	animation-timing-function: linear;
	animation-name: HealthDeltaThrob;
	animation-iteration-count: infinite;
}

.HealthLow #LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_red_psd.vtex");
}

.HealthLow #LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_red_empty_psd.vtex");*/
	background-color: black;
}


.StatsContainer {
	horizontal-align: left;
	vertical-align: top;
	margin-left: 8px;
	
}

.StatsContainer > Panel {
	/*margin-bottom: -8px;
	height: 33px;*/
}

.StatsContainer Image, .StatsContainer .HealthIcon {
	vertical-align: center;
	margin-left: 2px;
}

.StatsContainer Label {
	font-size: 24px;
//text-shadow: 0px 0px 0px 3 #000;
	color: #fff;
	text-align: left;
	/*width: 25px;*/
	width: fit-children;
	min-width: 15px;
	font-family: Radiance;
//	font-family: RadianceM;
}

#LeaderboardGold
{
 	text-align: left;
}

.LowVisualQuality .StatsContainer Label {
	text-shadow: 0px 0px 0px 2.0 #000;
}

#PostGameStats #ParticleBG, #PostGameStats #ParticleFGTop, #PostGameStats #ParticleFGBottom
{
	visibility:collapse;
}


#ParticleFGTop, #ParticleFGBottom {
	z-index: 2;
}

#ParticleBG,
#ParticleFGTop, #ParticleFGBottom {
	height: 500px;
	width: 500px;
	margin-top: -220px;
}


.GameMode_Duos #ParticleBG {
	margin-left: 30px;
}


/*
.IsAwayGame .LeaderboardTargetIndicator 
{
	opacity: 1;
	animation-name: none;
	background-color: transparent;
}

.IsOpponent .LeaderboardTargetIndicator {
	opacity: 1;
}

.IsOpponent .SwordIcon,
.IsAwayGame .DefendIcon
{
	visibility: collapse;
}

.IsOpponent.IsAwayGame .SwordIcon,
.IsAwayGame.IsOpponent .DefendIcon
{
	// show both icons when attacking / defending same player
	visibility: visible;
}




.IsOpponent.IsAwayGame .LeaderboardTargetIndicator Image
{
	// move sword out when hitting shield
	margin-right: 10px;
}


*/

.LowVisualQuality .LeaderboardTargetIndicator,
.LowVisualQuality .LeaderboardTargetIndicator Image
{
    border-radius: 0px;
    animation-duration: 0.0s;
}

@keyframes 'Fighting'
{
	0%
	{
		transform: translateX(10px) translateY(5px);
	}
	15%
	{
		transform: translateX(-15px) translateY(-5px) rotateZ(-55deg);
	}	
	100%
	{
		transform: translateX(10px) translateY(5px);
	}
}


@keyframes 'Defending'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	15%
	{
		pre-transform-scale2d: 1.1;
	}	
	100%
	{
		pre-transform-scale2d: 1.0;
	}
}


@keyframes 'LeaderboardTargetIndicatorFighting'
{
	0%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
	20%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #ffe692 ), to(rgb(223, 108, 32)));
	}	
	100%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
}

.LeftConnector 
{
	
}

//todo: this doesn't line up correctly on dead leaderboard entries.
.LeaderboardChatMessage
{
	max-width: 1500px;
	height: fit-children;
	max-height: 300px;
	opacity: 0.0;
	
	margin-bottom: 350px;
	margin-left: 100px;
	
	transition-property: opacity;
	transition-duration: 500ms;
}

.ShowChatMessage .LeaderboardChatMessage
{
	opacity: 1.0;
}

.LowVisualQuality .ShowChatMessage .LeaderboardChatMessage 
{
    transition-property: none;
	transition-duration: 0s;
}

.LeaderboardChatText
{
	font-size: 28px;
	color: white;
    font-weight: semi-bold;
	background-color: #333333;
    border-radius: 15px;
	margin-left: 15px;
	max-width: 300px;
	min-height: 60px;
	max-height: 140px;
	
	text-overflow: ellipsis;
	vertical-align: center;
	padding: 20px 30px;
}

.LeaderboardChatMessageTail {
	vertical-align: bottom;

	background-image: url("s2r://panorama/images/leaderboard/chat_tail_png.vtex");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
	margin-bottom: 12px;
	margin-left: 2px;


	width:  25px;
	height: 25px;
}

.LeaderboardChatMuteButton
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	margin-right: -10px;
    background-color: #ff4346;
    border-radius: 30px;
	horizontal-align: left;
    border: 3px solid #ff4346;

	background-image: url("s2r://panorama/images/control_icons/mute_png.vtex");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
	wash-color: #ffffff;
    margin-top: -30px;

    //turn this off until we turn on chat
    visibility: collapse;
}

.LeaderboardChatMuteButton:hover
{
	wash-color: #ff4346;
    background-color: #ffffff;
}



.IsSelf .LeaderboardChatMuteButton
{
	visibility: collapse;
}

// CLONE BITS

.IsClone
{
    visibility: collapse;
}

.GameMode_Tutorial .IsClone.CloneIsVisible
{
    visibility: collapse;
}

 .IsClone.CloneIsVisible
{
    visibility: visible;
}

.IsClone.CloneIsVisible #ParticleBG,
.IsClone.CloneIsVisible #ParticleFG,
.IsClone.CloneIsVisible .StatsContainer
{
	visibility: collapse;
}

.IsClone.CloneIsVisible #LeaderboardAvatar
{
	saturation: 0.0;
	
	contrast: 2;
	brightness: 1.6;
	wash-color: #456699ff;
	animation-name: GhostlyThrob;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;

	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.IsClone .PlayerLevel,
.IsClone .PlayerLevelIcon,
.IsClone .PlayerGold,
.IsClone .PlayerGoldIcon,
.IsClone .PlayerHealth,
.IsClone .PlayerHealthIcon
{
	wash-color: #456699ff;
	opacity: 1;
	saturation: 0;
}

.IsClone .PlayerName
{
	color: #6587bb;
}

.IsDisconnected #LeaderboardAvatar
{
	saturation: 0;
	brightness: 0.5;
}

.IsDisconnected .PlayerName
{
	opacity: .35;
	saturation: 0;
}

.IsDisconnected .PlayerLevel,
.IsDisconnected .PlayerLevelIcon,
.IsDisconnected .PlayerGold,
.IsDisconnected .PlayerGoldIcon,
.IsDisconnected .PlayerHealth,
.IsDisconnected .PlayerHealthIcon
{
	opacity: .15;
	saturation: 0;
}


@keyframes 'GhostlyThrob'
{
	0%
	{
		opacity: 0.6;
	}

	50%
	{
		opacity: 0.3;
	}

	100%
	{
		opacity: 0.6;
	}
}

.IsClone.CloneIsVisible #LeaderboardAvatar #AvatarFG
{
	opacity: 1;
	//wash-color: #00aeffff;
	//visibility: collapse;
}

.IsClone .LeaderboardName
{
	color: #009cff88;
}

.CloneIcon
{
	//saturation: 0;
	wash-color: #00aeffff;
	opacity: .2;
	height: 100%;
	width: 100%;
	visibility: collapse;

}

.IsClone .CloneIcon
{
	visibility: visible;
}

.IsDead.IsClone .CloneIcon 
{
	opacity: 0.5;
	wash-color: #f88;
}


// Target Indicator


.LeaderboardTargetIndicator {
	opacity: 0.9;
	transition-property: opacity;
	transition-duration: 100ms;
	
	width: 320px;//expanded so that clashing sword and shield are visible
	height: 75px;
	margin-top: 0px;//offset to line up with child stuff
	wash-color: #ccc;//

	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	visibility: collapse;
	margin-left : -15px;
}

.GameMode_Duos .LeaderboardTargetIndicator {
	width: 355px;
}

/* todo
.IsCombatSelected .LeaderboardTargetIndicator
{
	brightness: 3;
	margin-left : -1px;
}
*/

.PlayerLeaderboard:hover .LeaderboardTargetIndicator
{
	brightness: 2;
	margin-left: -18px;
}

/* todo
.IsCombatSelected .PlayerLeaderboard:hover .LeaderboardTargetIndicator
{
	brightness: 4;
	margin-left : -1px;
}
*/


.LeaderboardTargetIndicator Image 
{
	vertical-align: middle;
	horizontal-align: right;
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 32px;
	height: 32px;
	margin-bottom: 12px;
	overflow: noclip;
	//visibility: collapse;
}


.CombatLeaderboardBackground 
{
	width: 235px;
	height: 260px;
	margin-right: 55px;//pulled back so that we align with the other things
	
	vertical-align: top;

	transition-property: brightness;
	transition-duration: .2s;
}


.LeaderboardTargetIndicator .SwordIcon
{
	margin-right: 5px;
	animation-name: Fighting;
	
}


.LeaderboardTargetIndicator .DefendIcon
{
	margin-right: 15px;
	animation-name: Defending;
	margin-top: 20px;
}

.InCombat .IsHomeGame .LeaderboardTargetIndicator
{
	margin-top: 20px;
	ui-scale: 100%;
	margin-left: 20px;
}

// for tutorial

.GameMode_Tutorial.InCombat .LeaderboardTargetIndicator
{
	visibility: collapse;
}

.GameMode_Tutorial.InCombat .IsSelf .LeaderboardTargetIndicator
{
	visibility: visible;
}


/* .GameMode_Duos.InCombat .IsHomeGame .LeaderboardTargetIndicator {
	margin-left: 15px;
} */

.InCombat .IsAwayGame .LeaderboardTargetIndicator
{
	visibility: collapse;
}

.InCombat .LeaderboardTargetIndicator
{
	ui-scale: 80%;
	margin-top: 0px;
	margin-left: 60px;

	visibility: visible;
}

.GameMode_Duos.InCombat .LeaderboardTargetIndicator
{
	ui-scale: 80%;
	margin-top: 0px;
	margin-left: 83px;

	visibility: visible;
}



.IsFinished .DefendIcon,
.IsFinished .SwordIcon
{
	visibility: collapse;
}

/*
.IsSelected.IsHomeGame .DefendIcon,
.IsSelected.IsAwayGame .SwordIcon,
.IsOpponent.IsHomeGame .DefendIcon,
.IsOpponent.IsAwayGame .SwordIcon
{
	visibility: visible;
}

.IsHomeGame .DefendIcon,
.IsAwayGame .SwordIcon
{
	visibility: visible;
	opacity: 1;
}

.IsAwayGame .DefendIcon,
.IsHomeGame .SwordIcon
{
	//shouldn't need this, but...
	visibility: collapse;
}
*/

.IsClone .DefendIcon,
.IsClone .SwordIcon
{
	wash-color: #00aeffff;
	opacity: .85;
}
/*
.IsFinished .DefendIcon,
.IsFinished .SwordIcon
{
	opacity: 0;
}
*/

.LeaderboardNotification
{
	margin-left: 285px;
	max-width: 1500px;
	height: fit-children;
	height: 60px; 

	//margin-top: 20px;

	z-index: 2;

    /*flow-children: right;*/
}

.GameMode_Duos .LeaderboardNotification {
	margin-left: 330px;
}



.LowVisualQuality .ShowNotification .LeaderboardNotification 
{
    transition-property: none;
	transition-duration: 0s;
}

.LeaderboardNotification .NotificationItem {
	height: 92px;
	margin: 0px 10;
	padding: 5px 15px;
}

.IsPlatformPC .NotificationItem {
	width: 400px;
}

.LeaderboardNotification DACParticleScenePanel {
	width: 1000px;
	height: 1000px;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

.LeaderboardNotification .TextContainer {
	flow-children: right;
	vertical-align: middle;
	width: fill-parent-flow(1);
}

.LeaderboardNotification .TextContainer Label {
	width: fill-parent-flow(1);
}

.DuosMessageContents.TextContainer Label
{
    width: fit-children;
}

.LeaderboardNotification .ChatMessageContents
{
    vertical-align: middle;
}

.NotificationItemContainer {
	visibility: collapse;
}

.NotificationItemContainer.Appear {
	visibility: visible;
}

.NotificationItem Label {
	font-size: 20px;
}

.NotificationItem .DuosMessageLabel 
{
	font-size: 28px;
	color: textBrightest;
	margin-left: 15px;
}

.NotificationItem .DuosMessageType
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	//color: #ccc;
	color: textAccent;
	margin-right: 15px;
	margin-left: 10px;
	visibility: collapse;
}

#DuosMessage_UnitIcon
{
    vertical-align: center;
    margin-left: 8px;
    ui-scale: 120%;
    brightness: 1.2;
}

#DuosMessage_AllianceIcon
{
	width: 70px;
	height: 70px;
}

#ResponseContainer
{
    height: 100%;
    width: 60px;
    horizontal-align: right;
    flow-children: down;
    visibility: collapse;
}
.ShowResponseOptions #ResponseContainer
{
    visibility: visible;
}

.ResponsePanel
{
    height: 50%;
    width: 100%;
}
#ThumbsUp
{
    background-image: url("s2r://panorama/images/hud/thumbs_up_psd.vtex");
}
#ThumbsDown
{
    background-image: url("s2r://panorama/images/hud/thumbs_down_psd.vtex");
}

// DUOS

.GameMode_Duos .HealthContainer
{
	visibility: collapse;
}

.GameMode_Duos #GoldStat
{
	margin-top: 35px;
	ui-scale: 160%;
}

.GameMode_Duos .GoldIcon
{
	margin-top: 3px;
	ui-scale: 80%;
}

//---------------------------------------------------
// NEW STYLES FOR MINI LEADERBOARD IN PREPARE PHASE
//---------------------------------------------------



.PlayerLeaderboard 
{
	width: 286px;
	//height: 130px;
	min-height: 60px;
	//margin-top: 15px;  //helps line up with scoreboard
	transition-property: position, brightness;
	transition-duration: 100ms;
	overflow: noclip;

	//background-color: black;
}

.IsLoss .PlayerLeaderboard {
	wash-color: #FF3D3D90;
}


.GameMode_Duos .PlayerLeaderboard {
	width: 320px;
}

.LowVisualQuality .PlayerLeaderboard
{
	transition-duration: 0s;
}

.IsSelected .PlayerLeaderboard
{
	//brightness: 3.0;
}

.PlayerLeaderboard:hover
{
	brightness: 2.0;
}

.PlayerLeaderboard .PlayerAvatarGroup
{
	//visibility: collapse;
	height: 60px;
	width: 60px;
	//vertical-align: center;
}

.PlayerLeaderboard
{
	flow-children: right;
}

#PlayerNameContainer {
	max-width: 130px;
	opacity-mask: url("s2r://panorama/images/masks/fade_name_right_psd.vtex");
	margin-top: 5px;
	margin-bottom: -3px;
}

.LowVisualQuality #PlayerNameContainer
{
	opacity-mask: none;
}


.PlayerName 
{
	text-shadow: 0px 0px 0px 1.0 #00000000;
	font-size: 20px;
	font-weight: light;
	//vertical-align: top;
	max-height: 25px;
	color: #dedede;
	width: 130px;
	text-overflow: ellipsis;
	line-height: 23px;
	//margin-top: -2px;

	opacity-mask: url("s2r://panorama/images/masks/fade_name_right_psd.vtex");	
}



.LowVisualQuality .PlayerName
{
	opacity-mask: none;
}

.GameMode_Duos #PlayerNameContainer,
.GameMode_Duos .PlayerName,
.GameMode_Duos #PlayerStats {
	max-width: 245px;
	width: 245px;
}

.GameMode_Turbo #PlayerNameContainer,
.GameMode_Turbo .PlayerName,
.GameMode_Turbo #PlayerStats {
	max-width: 215px;
	width: 215px;
}

#PlayerLevelContainer {
	width: 40px;
	height: 100%;
	flow-children: right;
}

.GameMode_Turbo #PlayerLevelContainer {
	visibility: collapse;
}

/* .IsDead #PlayerLevelContainer {
	visibility: collapse;
} */

/* .PlayerLevelBG {
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	horizontal-align: right;

	background-image: url("s2r://panorama/images/leaderboard/levelcontainer_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
} */

.PlayerAvatarGroup .PlayerLevel {
	
	color: #3E4586;
	font-size: 18px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-right: 0px;
	text-overflow: shrink;
	max-width: 13px;
	
}

#PlayerStats {
	width: 135px;
	height: 100%;
	//flow-children: down;
    flow-children: none;
	margin-left: 10px;
}

#PlayerInfo {
	flow-children: right;
	horizontal-align: left;
    vertical-align: bottom;
	width: 100%;
	height: 26px;
	//margin-top: 3px;
    margin-bottom: 6px;
}



#GoldRow {
    margin-top: 0px;
    flow-children: right;
    horizontal-align: left;
    height: 100%;
}

#HealthRow {

	flow-children: left;
	horizontal-align: right;
	width: 70px;
	margin-right: 5px;
	//border: 1px solid pink;
	vertical-align: middle;
}

.GameMode_Duos #HealthRow {
	visibility: collapse;
}

.GameMode_Turbo #HealthRow {
	visibility: collapse;
}



.PlayerLevel,
.PlayerHealth,
.PlayerGold
{
	font-size: 20px;
	font-weight: bold;
	//font-family: 'Ravenhook';
}


.GameMode_Duos .PlayerGold {
	margin-left: 0px;
	text-align: left;
	
}

.PlayerLevel
{
	text-shadow: 0px 0px 0px 1.0 #00000000;
	color: #93b7fe;
	color: gradient(linear, 0% 0%, 0% 100%, from( #8db0f4 ), to(#aad8de));
	vertical-align: center;
	//width: 24px;
	text-align: left;
	margin-left: 0px;

	text-overflow: shrink;
}


.PlayerHealth {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	font-size: 28px;
	text-align: right;
	padding-right: 6px;
	color: #a2ff92;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #a2ff92 ), to( #52af43 ) );
	vertical-align: middle;
	horizontal-align: right;
	letter-spacing: 1px;
	text-shadow: 0px 0px 3 #000000;
	width: 60px;
}

.HealthMid .PlayerHealth
{
	color: #ffb66e;
}

.HealthLow .PlayerHealth
{
	color: #ff6123;
}	

.PlayerGold {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	//width: 30px;
	//font-size: 25px;
	text-align: right;
	//text-overflow: shrink;
	padding-right: 6px;
	color: gold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FBF8E2 ), to( #B1AC77 ) );
	vertical-align: middle;
	letter-spacing: 0px;
	font-weight: bold;
	text-shadow: 0px 0px 3 #000000;

}

.GameMode_Duos #PlayerInfo {
	//vertical-align: middle;
    vertical-align: bottom;
	horizontal-align: right;
	min-width: 58px;
	margin-top: -3px;
}

.GameMode_Turbo #PlayerInfo {
	/* width: 100%;
	border: 1px solid red; */
}



.PlayerLevelIcon
{
	width: 16px;
	height: 16px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.LowVisualQuality .PlayerLevelIcon
{
	opacity: 1;
}

.PlayerHealthIcon
{
	width: 17px;
	height: 17px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-top: 2px;
	margin-left: -3px;
}

.HealthMid .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.HealthLow .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}	

.PlayerGoldIcon
{
	width: 12px;
	height: 12px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	margin-top: 0px;
	margin-left: -4px;
	margin-right: 2px;
}


.MobileIcon 
{
	margin-left: 5px;
	margin-top: 5px;
	horizontal-align: left;
	vertical-align: top;

	width: 10px;
	height: 18px;
	wash-color: #ffffff;
	visibility: collapse;
}

/* .IsSelf .MobileIcon {
	wash-color: white;
} */

.IsSelected .MobileIcon {
	visibility: collapse;
}

.IsDead .MobileIcon {
	wash-color: rgb(141, 80, 80);
}


.IsMobile .MobileIcon {
	visibility: visible;
}

.IsMobile .IsSelected .MobileIcon
{
	visibility: collapse;
}

.IsMobile .PlayerName
{
	//width: 98px;
	//width: 108px;
	//margin-left: 25px;
}

//DUOS
/* 
.GameMode_Duos .PlayerLeaderboard
{
	width: 300px;
} */

.GameMode_Duos .PlayerLeaderboard .PlayerHealth,
.GameMode_Duos .PlayerLeaderboard .PlayerHealthIcon,
.GameMode_Duos .PlayerLeaderboard #PlayerLevelContainer,
.GameMode_Duos .PlayerLeaderboard .PlayerLevel,
.GameMode_Duos .PlayerLeaderboard .PlayerLevelIcon
{
	visibility: collapse;
}

.GameMode_Duos #PlayerSlot_2.IsOpen,
.GameMode_Duos #PlayerSlot_4.IsOpen,
.GameMode_Duos #PlayerSlot_6.IsOpen,
.GameMode_Duos #PlayerSlot_8.IsOpen,
.GameMode_Duos #PlayerSlot_10.IsOpen,
.GameMode_Duos #PlayerSlot_12.IsOpen, 
.GameMode_Duos #PlayerSlot_14.IsOpen, 
.GameMode_Duos #PlayerSlot_16.IsOpen {
	margin-bottom: 5px;
}

.GameMode_Duos #PlayerSlot_2.IsHomeGame.IsOpen,
.GameMode_Duos #PlayerSlot_4.IsHomeGame.IsOpen,
.GameMode_Duos #PlayerSlot_6.IsHomeGame.IsOpen,
.GameMode_Duos #PlayerSlot_8.IsHomeGame.IsOpen,
.GameMode_Duos #PlayerSlot_10.IsHomeGame.IsOpen,
.GameMode_Duos #PlayerSlot_12.IsHomeGame.IsOpen, 
.GameMode_Duos #PlayerSlot_14.IsHomeGame.IsOpen, 
.GameMode_Duos #PlayerSlot_16.IsHomeGame.IsOpen {
	margin-bottom: 0px;
}

// TURBO 

#TurboHealth {
	//background-color: red;
	flow-children: right;
	horizontal-align: right;
	margin-right: 5px;
	margin-top: 8px;
	visibility: collapse;
} 

.GameMode_Turbo #TurboHealth {
	visibility: visible;
}

.TurboHeart {
	width: 17px;
	height: 17px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-right: 1px;
}

.Heart4 .TurboHeart1,
.Heart4 .TurboHeart2,
.Heart4 .TurboHeart3,
.Heart4 .TurboHeart4 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
}

.Heart3 .TurboHeart1,
.Heart3 .TurboHeart2,
.Heart3 .TurboHeart3 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
}

.Heart3 .TurboHeart4 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_empty_psd.vtex");
	opacity: 0.5;
}
 
.Heart2 .TurboHeart1,
.Heart2 .TurboHeart2 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.Heart2 .TurboHeart3,
.Heart2 .TurboHeart4 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_empty_psd.vtex");
	opacity: 0.5;
}

.Heart1 .TurboHeart1 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");

	
	animation-duration: 2.24s;
	animation-timing-function: linear;
	animation-name: HealthDeltaThrob;
	animation-iteration-count: infinite;
	
}

.Heart1 .TurboHeart2,
.Heart1 .TurboHeart3,
.Heart1 .TurboHeart4 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_empty_psd.vtex");
	opacity: 0.5;
}

.IsDead .TurboHeart1,
.IsDead .TurboHeart2,
.IsDead .TurboHeart3,
.IsDead .TurboHeart4 {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_empty_psd.vtex");
	opacity: 0.3;
}

.IsClone .TurboHeart1,
.IsClone .TurboHeart2,
.IsClone .TurboHeart3,
.IsClone .TurboHeart4 {
	wash-color: #456699ff;
}



//------------------------------------------
// NEW BACKGROUNDS
//------------------------------------------

.PlayerLeaderboard
{
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.MyTeam .PlayerLeaderboard {
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_you_psd.vtex");
}

.StreakGold1.WinStreak .PlayerLeaderboard  {
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_streak1_psd.vtex");
}

.StreakGold2.WinStreak .PlayerLeaderboard  {
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_streak2_psd.vtex");
}

.StreakGold3.WinStreak .PlayerLeaderboard  {
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_streak3_psd.vtex");
}

.IsSelf .PlayerName
{
	color: #ffffff;
	font-weight: normal;
}

.IsDead .PlayerLeaderboard {
	background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_enemy_dead_psd.vtex");
}

.IsSelected .PlayerLeaderboard {
	brightness: 2;
}

.IsSelf .PlayerLeaderboard {
	//brightness: 3.0;
	//background-image: url("s2r://panorama/images/leaderboard/leaderboard_bar_png.vtex");
}

.LowVisualQuality .IsSelected .PlayerLeaderboard,
.LowVisualQuality .IsSelf .PlayerLeaderboard {
	brightness: 1;
}

/* #Leaderboard_1 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel01_psd.vtex");
}

#Leaderboard_2 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel02_psd.vtex");
}

#Leaderboard_3 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel03_psd.vtex");
}

#Leaderboard_4 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel04_psd.vtex");
}

#Leaderboard_5 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel05_psd.vtex");
}

#Leaderboard_6 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel06_psd.vtex");
}

#Leaderboard_7 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel07_psd.vtex");
}

#Leaderboard_8 .PlayerLeaderboard{
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel08_psd.vtex");
} */
