@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

@define districtRadius: 2px;

DACControlCityCrawl
{
	width: 400px;
	height: 100px;

	flow-children: right;
}

DACControlCityCrawl .DistrictsContainer
{
	vertical-align: center;

	width: 70px;
	height: width-percentage( 100% );

	margin-right: 20px;
	margin-left: 15px;
}

DACControlCityCrawl .DistrictsContainer .Quadrant
{
	width: 47%;
	height: 47%;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Upper
{
	vertical-align: top;

	border-top-right-radius: districtRadius;
	border-top-left-radius: districtRadius;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Lower
{
	vertical-align: bottom;

	border-bottom-right-radius: districtRadius;
	border-bottom-left-radius: districtRadius;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Left
{
	horizontal-align: left;

	border-top-left-radius: districtRadius;
	border-bottom-left-radius: districtRadius;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Right
{
	horizontal-align: right;

	border-top-right-radius: districtRadius;
	border-bottom-right-radius: districtRadius;
}

DACControlCityCrawl .DistrictsContainer .Quadrant .Background
{
	width: 100%;
	height: 100%;
	background-color: #3E3D4B;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Left .Background,
DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Left .Foreground
{
	border-top-left-radius: 100%;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Right .Background,
DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Right .Foreground
{
	border-top-right-radius: 100%;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Left .Background,
DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Left .Foreground
{
	border-bottom-left-radius: 100%;
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Right .Background,
DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Right .Foreground
{
	border-bottom-right-radius: 100%;
}

DACControlCityCrawl .DistrictsContainer .Quadrant .Foreground
{
	width: 100%;
	height: width-percentage( 100% );
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Left .Foreground
{
	horizontal-align: right;
	vertical-align: bottom;

	background-color: gradient( radial, 100% 0%, 0% 0%, 100% 100%, from( #9A7F52 ), to( #B48F58 ) );
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Upper.Right .Foreground
{
	horizontal-align: left;
	vertical-align: bottom;

	background-color: gradient( radial, 0% 0%, 0% 0%, 100% 100%, from( #76529a ), to( #8e58b4 ) );
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Left .Foreground
{
	horizontal-align: right;
	vertical-align: top;

	background-color: gradient( radial, 0% 100%, 0% 0%, 100% 100%, from( #597D6F ), to( #569775 ) );
}

DACControlCityCrawl .DistrictsContainer .Quadrant.Lower.Right .Foreground
{
	horizontal-align: left;
	vertical-align: top;

	background-color: gradient( radial, 100% 100%, 0% 0%, 100% 100%, from( #895F61 ), to( #BD5963 ) );
}

DACControlCityCrawl .DistrictsContainer .CenterCircle
{
	horizontal-align: center;
	vertical-align: center;

	border-radius: 100%;
	width: 18px;
	height: width-percentage( 100% );

	background-color: #202028;
}

DACControlCityCrawl .NumbersContainer
{
	width: fill-parent-flow( 1.0 );

	vertical-align: center;

	flow-children: down;

}

DACControlCityCrawl .NumbersContainer .Title
{
	font-size: 22px;
	font-weight: black;
	color: #4b4e5d;
	text-transform: uppercase;
	margin-top: 4px;
}

DACControlCityCrawl .NumbersContainer .Results
{
	font-size: 24px;
	text-transform: uppercase;
	color: #c7dbda;
	font-weight: black;
}
