/* styles for the player context menu */
#Contents.PlayerMenuContents 
{
    width: 366px;
    flow-children: down;
}

#ProfileCard
{
	z-index: 1;
}

#MenuOptionsContainer
{
	width: 100%;
}

#MenuOptionsPanel
{
    flow-children: down;
    //background-color: #161616;
    background-color: #666666;
    width: 100%;

	transform: translateX( -3% );

	transition-property: transform;
	transition-duration: 0.05s;
	//transition-timing-function: ease-out;
}

.EntranceAnimation #MenuOptionsPanel
{
	transform: translateX( 0px );
}

/* Don't animate the options appearing if the menu is on the top */
.BottomArrowVisible #MenuOptionsPanel
{
	transition-duration: 0.0s;
}

#MenuOptionsPanel Button
{
	padding: 6px 5px 3px 5px;
    horizontal-align: center;
    width: 100%;
	border-top: 1px solid #2d3636;
	border-left: 1px solid #2d2d2d;
	border-bottom: 1px solid #121212;
	border-right: 1px solid #121212;
	//border: 2px solid red;
}

#MenuOptionsPanel Button.First
{
	border-top: 1px solid transparent;
}

#MenuOptionsPanel Button Label
{
    text-align: center;
    horizontal-align: center;
    //color: #758d8c;
    color: #ffffffaa;
    padding: 10px 0px 10px 0px;
    font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#MenuOptionsPanel Button:hover
{
}

#MenuOptionsPanel Button:active
{
}

#MenuOptionsPanel Button:hover Label
{
	color: white;
}

/* Custom styling for player context menu (with a profile card at the top) */
DACContextMenuPlayer #Contents
{
    background-color: transparent;
    padding: 0px;
    border: 0px solid transparent;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;
}