DACUIPuzzleStatus
{
	height: fit-children;
	width: 500px;

	margin-top: 50px;
	margin-left: safe-area-inset-left;

	vertical-align: top;
	horizontal-align: left;
	
	background-color: #00000099;

	flow-children: down;

	padding: 10px;
	padding-left: 20px;
}

.PuzzleTitle
{
	font-size: 60px;
	font-family: Ravenhook;
	color: gradient( linear, 0% 0%, 0% 100%, from( #dd7676 ), to(  #8c3636 ) ); 
	text-transform: uppercase;
	text-overflow: shrink;
	white-space: nowrap;
	max-width: 480px;
}

.PuzzleDifficulty
{
	text-transform: uppercase;
	font-size: 28px;
	font-family: Ravenhook;
	color: white;
	margin-left: 3px;
}

.PuzzleCompletion
{
	font-size: 30px;
	color: #ddd;
}