//turning these off for season 1 achievements

.AchievementProgressBar,
.AchievementProgressLabelsRow
{
	vertical-align: bottom;
	horizontal-align: center;
}

DACAchievementPanel
{
	height:400px;
	width:400px;
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#2c2e37cc), to(#00000000));
	margin:10px;
	padding:20px;
}

.AchievementDesc
{
	color: #d7d7d7;
	font-size: 27px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 12px;
	font-family: ravenhook;
	vertical-align: top;
	text-align:center;
	margin-top: 10px;
	width: 100%;
	text-overflow: shrink;
	text-transform: uppercase;		
}

#PosterPanel
{
	height:100%;
	width:100%;
}

#PosterTitle
{	
	width: 400px;
	height: 200px;		
	background-size:cover; 
	background-position:0 100%;
}


.DailyChallengeClaimButton
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/claim_button_psd.vtex");
	background-size: 100%;
	horizontal-align: left;
	vertical-align: top;
	margin-top:2px;	

	transition-property: brightness;
	transition-duration: .2s;
}

.DailyChallengeClaimFX
{
	width: 100%;
	height: 124%;
	margin-left: -2px;
	margin-top: -2px;
}

.Claimed .DailyChallengeClaimFX
{
	visibility: collapse;
}

#DailyChallengeClaimButtonContainer
{
	margin-top: 8px;
	margin-left: 12px;	
	overflow: noclip;
	background-color: gradient( linear, 0% 90%, 0% 0%, from( #836218 ), to( #4a370e) );
	height: 36px;
	margin-bottom: 8px;
	border: 2px solid #fbbc2e ;
	max-width: 170px;
	text-overflow: shrink;
	visibility: collapse;
}

.Claimed #DailyChallengeClaimButtonContainer,
.Claimable #DailyChallengeClaimButtonContainer
{
	visibility: visible;
	opacity: 1.0;
}


.DailyChallengeClaimButton:hover
{
	brightness: 1.5;
}


.Claimable .AchievementProgressCounter
{
	visibility: collapse;
}

.AchievementClaimed,
.AchievementClaim
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.3, #ffffff), color-stop( 0.3, #eddcb7), color-stop( 0.93, #b08d50), color-stop( 0.93, #b4712d),  to( #b4712d) );
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	letter-spacing: 1px;
	font-weight: black;
	text-align:center;
	padding: 5px 2px;
	text-overflow: shrink;
	max-width: 200px;
}

.AchievementClaimed
{
	color:white;
}

.Language_korean .AchievementClaim, .Language_tchinese .AchievementClaim, .Language_schinese .AchievementClaim, .Language_japanese .AchievementClaim
{
	margin-top: -4px;
}

.Claimed .AchievementClaim
{
	visibility: collapse;
}
.Claimed .AchievementClaimed
{
	visibility: visible;
}

.Claimable .AchievementClaimed
{
	visibility: collapse;
}
.Claimable .AchievementClaim
{
	visibility: visible;
}