@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_items.css");

.HeaderLabel
{
	visibility: collapse;
}

.ItemTypeEquipOffensive #ItemTypeEquipOffensive,
.ItemTypeEquipDefensive #ItemTypeEquipDefensive,
.ItemTypeEquipSupport #ItemTypeEquipSupport,
.ItemTypeAlliance #ItemTypeAlliance,
.ItemTypeGlobal #ItemTypeGlobal,
.ItemTypePlaceable #ItemTypeAlliance
{
	visibility: visible;
}

/* overrides */
#TierPanel .ItemTypeIcon
{
	width: 60px;
	height: 60px;
}