DACUIPuzzleRules
{
	background-color: #00000030;
	padding: 20px 30px;
}

#ActiveRules
{
	flow-children: down;
}

.ActiveRule Label
{
	font-size: 20px;
	color: #FF0000;
    margin-top: 6px;
    margin-bottom: 6px;
}

.ActiveRule.Satisfied Label
{
	color: #FFFFFF;
}

#PuzzleTopLeft .ActiveRule.Satisfied Label
{
	color: #44FF44;
}