@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_items.css");

#ItemTypeEquipOffensive, #ItemTypeEquipDefensive #ItemTypeEquipSupport, #ItemTypeGlobal {
    visibility: collapse;
}
.ItemTypeEquipOffensive #ItemTypeEquipOffensive,
.ItemTypeEquipDefensive #ItemTypeEquipDefensive,
.ItemTypeEquipSupport #ItemTypeEquipSupport,
.ItemTypeGlobal #ItemTypeGlobal {
    visibility: visible;
}

/* overrides */
#TierPanel .ItemTypeIcon {
    width: 60px;
    height: 60px;
}