DACNotifications
{
	z-index: -10;	

	width: 800px;
	height: 300px;

	horizontal-align: center;
	vertical-align: top;
}

.IsPlatformPC DACNotifications
{
	ui-scale: 80%;
	width: 1200px;
}

.IsPlatformMobile DACNotifications
{
	width: 1000px;
	margin-right: 130px;
}

#NotificationsContainer
{
	width: 100%;
	height: fit-children;
	flow-children: up;
}

.ButtonContainer
{
	vertical-align: bottom;
	width: 100%;	
	height: 100px;
	background-color: grey;
	flow-children: right;
	padding: 10px;

	visibility: collapse;
}

.TurnThisOnForDevButtons
DACNotifications
{
	margin-top: 10px;
	height: 800px;
	width: 1000px;
}

.TurnThisOnForDevButtons
.ButtonContainer
{
	visibility: visible;
}

Button
{
	color: white;
	background-color: black;
	height: 90px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
}

Button:hover
{
	background-color: #444;
}

Button Label
{
	font-size: 20px;
	vertical-align: center;
}

#NotificationsContainer
{
	margin-top: 4px;
}

.NotificationItem
{
	horizontal-align: center;
	width: 100%;
	background-color: #222222ee;

	height: 60px;
	margin-bottom: 5px;
	padding: 5px;
	padding-right: 95px;
	padding-left: 95px;
	flow-children: right;
	border-radius: 2px;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.NotificationItem.NoRightFlow
{
	flow-children: none;
	padding-left: 0px;
	padding-right: 0px;
}

.IsPlatformPC .NotificationItem
{
	width: 1100px;
}


.IsPlatformMobile .NotificationItem
{
	width: 1000px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #11111100 ), color-stop( 0.1, #111111ee ), color-stop( .9, #111111ee ), to( #11111100 ) );
}


.NotificationItem.LocalPlayer
{	
	background-color: #111111dd;	
}

.IsPlatformMobile .NotificationItem.LocalPlayer
{	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #11111100 ), color-stop( 0.1, #111111ee ), color-stop( .9, #111111ee ), to( #11111100 ) );
}

.Appear .NotificationItem {
	opacity: 1;
}

.FadeOut .NotificationItem
{
	transition-duration: 0.5s;
	opacity: 0;
}

.LowVisualQuality .NotificationItem
{
	transition-duration: 0.0s;
	border-radius: 0px;
}

.NotificationItem.ChatMessage,
.NotificationItem.ChatWheelMessage
{
	min-height: 60px;
	height: fit-children;
}

.NotificationItem Label
{
	font-size: 24px;
	text-shadow: 0px 1px 0px 2.0 #000;
	color: #a8acca;
	vertical-align: center;

	margin-top: 5px;
}

.IsPlatformMobile .NotificationItem Label
{
	font-size: 28px;	
}

#PlayerAvatar
{
	width: 45px;
	height: 45px;
	//border: 2px #000000ff;
	border-radius: 20px;

	vertical-align: center;
	margin-right: 10px;
	margin-left: 3px;
}

.PlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
	font-weight: bold;
}

.HeroCombineStars2
{
	color: rank2Color;
}

.HeroCombineStars3
{
	color: rank3Color;
}

.CombineImg
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
	background-position: 0px, 0px;
	background-size: 16px 16px;
	background-repeat: no-repeat;

	width: 12px;
	height: 12px;
}

#Combine2Label, #Combine3Label
{
	visibility: collapse;
}

.Combine2 .NotificationItem #Combine2Label,
.Combine3 .NotificationItem #Combine3Label {
	visibility: visible;
}

.WinStreakCount
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #f3de98 ), to(#fefad1));
	font-weight: bold;
}

.KnockedOut
{
	color: #ff4e31;
	font-weight: bold;
}

.CombatDamage
{
	color: #ff4e31;
	font-weight: bold;
}

.ChatMessageContents
{
	flow-children: down;
}

.NotificationItem .ChatMessageLabel
{
	color: #8588a0;
	font-size: 24px;
	margin-top: -6px;
}

.NotificationItem.PlayerEliminated,
.NotificationItem.CombatLose,
.NotificationItem.CombatLoseAway
{
	background-color: #5b1124cc;
}

.IsPlatformMobile .NotificationItem.PlayerEliminated
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.1, #720b26 ), color-stop( .9, #720b26 ), to( #5b112400 ) );

	animation-name: RedFadeInEliminated;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
}

@keyframes 'RedFadeInEliminated'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124cc ), color-stop( .8, #5b1124cc ), to( #5b112400 ) );
	}
	
	50%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #720b26 ), color-stop( .8, #720b26 ), to( #5b112400 ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124cc ), color-stop( .8, #5b1124cc ), to( #5b112400 ) );
	}
}

.IsPlatformMobile .NotificationItem.CombatLoseAway
{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.1, #5b1124aa ), color-stop( .9, #5b1124aa ), to( #5b112400 ) );

	animation-name: RedFadeIn;
	animation-duration: .3s;
	animation-iteration-count: 1;
		
}

@keyframes 'RedFadeIn'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b112400 ), color-stop( .8, #5b112400 ), to( #5b112400 ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124aa ), color-stop( .8, #5b1124aa ), to( #5b112400 ) );
	}
}

.NotificationItem.WinStreak,
.NotificationItem.CombatWin
{
	background-color: #4c6fd475;
}

.IsPlatformMobile .NotificationItem.WinStreak,
.IsPlatformMobile .NotificationItem.CombatWin,
.IsPlatformMobile .NotificationItem.CombatLose
{

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25277c00 ), color-stop( 0.2, #25277caa ), color-stop( .8, #25277caa ), to( #25277c00 ) );
		
	animation-name: BlueFadeIn;
	animation-duration: .3s;
	animation-iteration-count: 1;
		
}

@keyframes 'BlueFadeIn'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #25277c00 ), color-stop( 0.2, #25277c00 ), color-stop( .8, #25277c00 ), to( #25277c00 ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #25277c00 ), color-stop( 0.2, #25277caa ), color-stop( .8, #25277caa ), to( #25277c00 ) );
	}
}

#UpvoteContainer
{
	width: 55px;
	height: 100%;
	margin: 2px;

	horizontal-align: right;

	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");

	opacity: 0.07;
}

.HasUpvotes #UpvoteContainer
{
	opacity: 1;
}

.UpvoteCount
{
	visibility: collapse;
}

.HasUpvotes .UpvoteCount
{
	visibility: visible;
}

DACParticleScenePanel {
	width: 2000px;
	height: 2000px;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

.NotificationItemContainer {
	overflow: noclip;
	flow-children: none;	

}

.ParticleContainer {
	height: 100%;
	width: 100%;
	
	overflow: noclip;
}

.NotificationContent {
	flow-children: right;
	width: 100%;
	margin-left: 95px;
	margin-right: 95px;
}

#ParticleStreakLevel1,
#ParticleStreakLevel1Burst,
#ParticleStreakLevel2,
#ParticleStreakLevel2Burst,
#ParticleStreakLevel3,
#ParticleStreakLevel3Burst {
	visibility: collapse;
}


.StreakLevel1 #ParticleStreakLevel1,
.StreakLevel1 #ParticleStreakLevel1Burst,
.StreakLevel2 #ParticleStreakLevel2,
.StreakLevel2 #ParticleStreakLevel2Burst,
.StreakLevel3 #ParticleStreakLevel3,
.StreakLevel3 #ParticleStreakLevel3Burst {
	visibility: visible;
}


.StreakLevel1 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a1b4900 ), color-stop( 0.2, #1a1b49ee ), color-stop( .8, #1a1b49ee ), to( #1a1b4900 ) );
}

.StreakLevel2 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5c1e8300 ), color-stop( 0.2, #5c1e83ee ), color-stop( .8, #5c1e83ee ), to( #5c1e8300 ) );
}

.StreakLevel3 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #875c1e00 ), color-stop( 0.2, #875c1eee ), color-stop( .8, #875c1eee ), to( #875c1e00 ) );
}