@import url("file://{resources}/styles/battle_pass/current_battlepass.css");


DACCreditsPage
{
	width:100%;
	height:100%;
	background-color:#000000;
}

DACCreditsPage Label
{
	font-family: ravenhook;
	font-size: 29px;
	color: white;
}

.ValveLogo
{
	width: 50%;
	height: 200px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/logos/valve_white_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.CreditsHeader
{
	font-family: ravenhook;
	font-size: 80px;
	horizontal-align:center;
	margin-top: 20px;
	margin-bottom: 5px; 
}

#CreditsContainer
{
	margin-top: 280px;

	horizontal-align: center;

	width: 1200px;
	height: fit-children;
	margin-left: 130px;
	margin-right: 130px;

	opacity: 0;

	overflow: noclip;

	flow-children: down;
}

.Scroll #CreditsContainer
{
	animation-delay: 0.25s;
	animation-duration: 59.02s;
	animation-name: Scroll;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#DevNamesContainer,
#ContractorNamesContainer,
#ThanksNamesContainer,
#ActorNamesContainer,
{
	width: 100%;
	height: fit-children;

	flow-children: down;

	padding-bottom: 18px;
}

#ThanksNamesContainer
{
	padding-bottom: 100px;
}

.Splitter
{
	horizontal-align: center;
	width: 24px;
	height: 100%;
}

.ActorSplitter
{
	width: 100%;
	height: 7px;
}

.DevName
{
	horizontal-align: center;
}

.ActorName
{
	width: fit-children;
	height: fit-children;

	horizontal-align: center;
	flow-children: down;

	padding-bottom: 38px;
}

.ActorName Label
{
	horizontal-align: center;
}

.RoleNames
{
	font-size: 22px;
}

.CreditsRow
{
	horizontal-align: center;

	height: fit-children;
	width: fit-children;
	flow-children: right;
}

#ActorNamesContainer .CreditsRow
{
	horizontal-align: center;
}

@keyframes 'Scroll'
{
	0%
	{
		transform: translateY(0);
		opacity: 0;
	}
	2%
	{
		opacity: 1;
	}
	90%
	{
		opacity: 1;
	}
	92%
	{
		opacity: 0;
	}
	100%
	{
		transform: translateY(-720%);
		opacity: 0;
	}
}