
DACScoreboardEntry
{
	flow-children: right;
	background-color: #352d3e55;

	transition-property: position;
	transition-duration: 360ms;
}

DACScoreboardEntry.Odd 
{
	
	background-color: #221c2855;
}

DACScoreboardEntry.Self
{
	//background-color: #71659325;
	background-color: #71659350;
}

/* Columns */



.Column {
	height: 130px;
}

#NameHeader {
	width: 235px;
	text-align: center;
}

.Column.Name {
	width: 220px;
	margin-left: 15px;
}

#RankHeader {
	width: 100px;
	text-align: center;
}

.Column.Rank {
	width: 100px;
	
}

.IsLayoutSmallScreen .Column.Rank {
	//margin-left: 275px;
	margin-left: 63px;
}

.IsLayoutSmallScreen.AspectRatio4x3 .Column.Rank {
	
}

.IsLayoutSmallScreen.AspectRatio21x9 .Column.Rank {
	
}

.MatchModeSoloBot .Column.Rank, .MatchModeCasual .Column.Rank {
	width: 0;
	opacity: 0;
}

#WinLossHeader {
	width: 180px;
	text-align: center;
	background-color: #00000055;
}

.Column.Score {
	width: 180px;
	flow-children: down;
	background-color: #00000044;
}

#TotalGoldHeader
{
	width: 170px;
	text-align: center;
}

.Column.TotalGold {
	width: 170px;
}

#RosterHeader {
	//width: 620px;
	width: 710px;
	background-color: #00000055;
	text-align: center;
}

.Column.Roster {
	//width: 620px;
	width: 710px;
	background-color: #00000044;
}

.MaxUnits1 #RosterHeader,
.MaxUnits1 .Column.Roster,
.MaxUnits2 #RosterHeader,
.MaxUnits2 .Column.Roster
{
	width: 200px;
}

.MaxUnits3 #RosterHeader,
.MaxUnits3 .Column.Roster,
.MaxUnits4 #RosterHeader,
.MaxUnits4 .Column.Roster
{
	width: 275px;
}

.MaxUnits5 #RosterHeader,
.MaxUnits5 .Column.Roster,
.MaxUnits6 #RosterHeader,
.MaxUnits6 .Column.Roster,
{
	width: 400px;
}

.MaxUnits7 #RosterHeader,
.MaxUnits7 .Column.Roster,
.MaxUnits8 #RosterHeader,
.MaxUnits8 .Column.Roster
{
	width: 525px;
}

.MaxUnits9 #RosterHeader,
.MaxUnits9 .Column.Roster,
.MaxUnits10 #RosterHeader,
.MaxUnits10 .Column.Roster
{
	width: 650px;
}

.MaxUnits11 #RosterHeader,
.MaxUnits11 .Column.Roster
{
	width: 710px;
}

#AlliancesHeader {
	//width: 240px;
	width: 510px;
	text-align: center;
}

.Column.Alliances {
	//width: 240px;
	width: 510px;
	//width: 440px;
	padding-top: 5px;
	padding-left: 5px;
	vertical-align: center;
}

.Alliances0 #AlliancesHeader,
.Alliances0 .Column.Alliances,
.Alliances1 #AlliancesHeader,
.Alliances1 .Column.Alliances,
.Alliances2 #AlliancesHeader,
.Alliances2 .Column.Alliances
{
	width: 200px;
}

.Alliances3 #AlliancesHeader,
.Alliances3 .Column.Alliances,
.Alliances4 #AlliancesHeader,
.Alliances4 .Column.Alliances
{
	width: 220px;
}

.Alliances5 #AlliancesHeader,
.Alliances5 .Column.Alliances,
.Alliances6 #AlliancesHeader,
.Alliances6 .Column.Alliances
{
	width: 310px;
}


.Alliances7 #AlliancesHeader,
.Alliances7 .Column.Alliances,
.Alliances8 #AlliancesHeader,
.Alliances8 .Column.Alliances
{
	width: 410px;
}


.Alliances9 #AlliancesHeader,
.Alliances9 .Column.Alliances,
.Alliances10 #AlliancesHeader,
.Alliances10 .Column.Alliances
{
	width: 510px;
}

/* Talents */
#TalentContainer
{ 
	flow-children: right-wrap;
}

#TalentHeader {
	width: 260px;
	background-color: #00000055;
	text-align: center;
}

.Column.Talent {
	width: 260px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #00000044;
}

.Column.Talent Image {
	width: 50px;
	height: 50px;
	margin: 5px;
	
}


.TalentItems0 #TalentHeader,
.TalentItems0 .Column.Talent,
.TalentItems1 #TalentHeader,
.TalentItems1 .Column.Talent,
.TalentItems2 #TalentHeader,
.TalentItems2 .Column.Talent,
.TalentItems3 #TalentHeader,
.TalentItems3 .Column.Talent,
.TalentItems4 #TalentHeader,
.TalentItems4 .Column.Talent,
.TalentItems5 #TalentHeader,
.TalentItems5 .Column.Talent,
.TalentItems6 #TalentHeader,
.TalentItems6 .Column.Talent
{
	width: 200px;
}

.TalentItems7 #TalentHeader,
.TalentItems7 .Column.Talent,
.TalentItems8 #TalentHeader,
.TalentItems8 .Column.Talent
{
	width: 260px;
}

#GlobalHeader {
	width: 260px;
	background-color: #00000055;
	text-align: center;
}

.Column.Global {
	width: 260px;
	padding-top: 5px;
	padding-left: 5px;
	
}

.GlobalItems0 #GlobalHeader,
.GlobalItems0 .Column.Global,
.GlobalItems1 #GlobalHeader,
.GlobalItems1 .Column.Global,
.GlobalItems2 #GlobalHeader,
.GlobalItems2 .Column.Global,
.GlobalItems3 #GlobalHeader,
.GlobalItems3 .Column.Global,
.GlobalItems4 #GlobalHeader,
.GlobalItems4 .Column.Global,
.GlobalItems5 #GlobalHeader,
.GlobalItems5 .Column.Global,
.GlobalItems6 #GlobalHeader,
.GlobalItems6 .Column.Global
{
	width: 200px;
}

.GlobalItems7 #GlobalHeader,
.GlobalItems7 .Column.Global,
.GlobalItems8 #GlobalHeader,
.GlobalItems8 .Column.Global
{
	width: 260px;
}

#BenchHeader {
	//width: 480px;
	width: 260px;
	text-align: center;
}

.Column.Bench {
	width: 260px;
	//width: 1000px;
	background-color: #00000055;
}

/* Rank icon */
#RankIcon {
	ui-scale: 65%;
	
	
	horizontal-align: center;
	vertical-align: center;
}

.Bot #RankIcon {
	visibility: collapse;
}

/* Win/Loss */

.HasWinStreak .WinLossRecord,
.HasLoseStreak .WinLossRecord
{
	margin-top: 30px;
}

.WinLossRecord {
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
	horizontal-align: center;
}

.TotalGoldLabel {
	color: gold;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
	horizontal-align: center;
}


.Streak {
	visibility: collapse;
}

.WinStreak,
.LoseStreak
{
	text-transform: uppercase;
	font-weight: black;
	font-size: 18px;
	horizontal-align: center;
}

.WinStreak
{
	color: gold;
}

.LoseStreak
{
	color: #aaa;
}

.HasWinStreak .Streak.WinStreak {
	visibility: visible;
}

.HasLoseStreak .Streak.LoseStreak {
	visibility: visible;
}

/* Roster */
#RosterContainer {
	flow-children: right;
}

#RosterUnitIcon {
	//width: 45px;
	//height: 45px;
	width: 48px;
	height: 48px;
}

#BenchContainer .HasItem #ItemIcon{
	visibility: collapse;
}

.HasItem #ItemIcon{
	visibility: visible;
}

#ItemIcon {
	margin-top: 65px;
	//ui-scale: 80%;
	//ui-scale: 70%;
	ui-scale: 80%;
	visibility: collapse;
}

.IsLayoutSmallScreen #ItemIcon {
	ui-scale: 45%;
}

.IsLayoutSmallScreen DACInventoryItem,
.ScoreboardVisible.IsLayoutSmallScreen.AspectRatio21x9 DACInventoryItem
{
	ui-scale: 50%;
}

.Roster DACInventoryItem
{
	margin: 0px 0px 0px 0px;
}

.RosterUnit
{
	margin: 15px 10px -5px 10px;
	vertical-align: top;
	//margin-bottom: 42px;
	ui-scale: 90%;

	transition-property: opacity, saturation;
	transition-duration: .2s;
}

.RosterUnit.FilteredOut
{
	opacity: 0.15;
	saturation: 0.1;
}

.RosterUnit.HasItem
{
	//margin-bottom: 0px;
}

#BenchContainer .RosterUnit
{
	ui-scale: 85%;
	margin-top: 12px;
}

.HeroRank {
	visibility: collapse;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 100%;
	margin-top: 35px;

	text-shadow: 0px 0px 0px 1.0 #fff;
}

.Rank1
{
	color: #b29d8e;
}

.Rank2
{
	color: #b8c6dd;
}

.Rank3
{
	color: #fffb11;							
}

.Rank1 .HeroRank.Rank1 {
	visibility: visible;
}

.Rank2 .HeroRank.Rank2 {
	visibility: visible;
}

.Rank3 .HeroRank.Rank3 {
	visibility: visible;
}

/* Alliances */
#SynergyContainer {
	flow-children: right-wrap;
	
}

DACSynergyIcon {
	ui-scale: 55%;
}


/* Globals */
#GlobalContainer
{ 
	flow-children: right-wrap;
}

#GlobalContainer Image {
	width: 50px;
	height: 50px;
	margin: 5px;
}

/* Bench */
#BenchContainer {
	flow-children: right-wrap;
}

/* Player state styles (DACLeaderboardEntry) */
.Column.Name {
	flow-children: down;
}

.StatsContainer {
	flow-children: down;
	vertical-align: middle;
}

.AvatarContainer {
	flow-children: right;
}

#PlayerAvatar {
	margin: 5px;
	margin-right: 10px;
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.PlayerHP, .PlayerLevel, .PlayerGold {
	font-size: 25px;
	//font-weight: bold;
	margin-left: 25px;

	text-shadow: 0px 0px 0px 3.0 #000000;
	font-family: Ravenhook;
}

.PlayerHP {
	color: #a2ff92;
}

.HealthMid .PlayerHP
{
	color: #fff66e;
}

.HealthLow .PlayerHP
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #81cd74 ), to(#b1feaa));
}	

.PlayerLevel {
	color: gradient(linear, 0% 0%, 0% 100%, from( #8db0f4 ), to(#aad8de));
}

.PlayerGold
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
}


.PlayerLevelIcon
{
	width: 20px;
	height: 20px;
	opacity: 1;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.PlayerHealthIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-top: 10px;
	background-repeat: no-repeat;
	//horizontal-align: right;
}

.PlayerGoldIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 3px;
}

.NameLabel {
	color: #fff;
	font-size: 28px;
		text-shadow: 0px 0px 0px 3.0 #000000;
	
}