@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

.NextPageButton {
    height: 60px;
    padding: 15px;
    margin-top: 1px;
    vertical-align: top;
    horizontal-align: right;
    background-color: #ff6511;
    /*blur: gaussian( 2.5 );*/
    visibility: collapse;
    margin-top: 200px;
    margin-right: 120px;
}

    .NextPageButton:hover {
        brightness: 1.6;
    }

    .NextPageButton:active {
        brightness: 1.5;
    }

    .NextPageButton Label {
        color: #fff;
        vertical-align: middle;
        horizontal-align: center;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 28px;
        //text-overflow: shrink;
    }

.NamePageSwitch #NamePageButton,
.TierPageSwitch #TierPageButton,
.NamePageSwitch #NamePageContainer,
.TierPageSwitch #TierPageContainer {
    visibility: visible;
}
