@import url("file://{resources}/styles/dac_ui_vs_screen.css");

DACRoundOverScreen
{
	width:100%;
	height:100%;
	//width: 80%;
	//height: 80%;
	
	vertical-align: center;
	horizontal-align: center;
	margin-top: 0px;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0.001;

	visibility: visible;
}

.LowVisualQuality DACRoundOverScreen
{
	opacity: 0;
}

.ShopVisible DACRoundOverScreen
{
	//height: 85%;
	//vertical-align: bottom;
	//ui-scale: 75%;
}

DACRoundOverScreen .Victory,
DACRoundOverScreen .Draw,
DACRoundOverScreen .Defeat
{
	visibility: collapse;
}

DACRoundOverScreen.ShowVictory .Victory,
DACRoundOverScreen.ShowDraw	   .Draw
{
	visibility: visible;
}

DACRoundOverScreen.ShowDefeat  #BreakLabelContainer,
DACRoundOverScreen.ShowDefeat  .Defeat {
	visibility: visible;
}

DACRoundOverScreen #DuosDataContainer
{

	//animation-name: RoundOverResultAnim;
	//animation-duration: 1s;
	//animation-iteration-count: 1;
	//animation-timing-function: ease-out;

	visibility: collapse;
}

DACRoundOverScreen.ShowVictory #DuosDataContainer,
DACRoundOverScreen.ShowDraw #DuosDataContainer,
DACRoundOverScreen.ShowDefeat #DuosDataContainer
{
	visibility: visible;
}


.ShowDraw DACBannerPaintin #Headline Label
{
	color: #fff;
	animation-name: FightResultLabelIn;
	font-size: 120px;
	height: 148px;
	padding: 10px 30px 18px;
}

.ShowDraw .FightResultLabel
{
	color: #fff;
	animation-name: FightResultLabelIn;
	font-size: 120px;
	height: 148px;
}

.IsDragging DACRoundOverScreen
{
	visibility: collapse;
}

.IsLayoutLargeScreen #FightResultPanel
{
    ui-scale: 100%;
    margin-top: 150px;
    //padding: 10%;
}

.IsLayoutLargeScreen DACBannerPaintin
{
	margin-top: 240px;
}

.GameMode_Duos #FightResultAnimation
{
	visibility: collapse;
}


DACRoundOverScreen.AnimateIn
{
	opacity: 1;
}

DACRoundOverScreen.AnimateOut
{
	opacity: 1;
}

@keyframes 'HeroIconAnimateIn'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	60%
	{
		wash-color: white;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

.Appear
{
	animation-name: HeroIconAnimateIn;
    animation-delay: 0s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.LowVisualQuality .Appear 
{
    animation-name: none;
    animation-duration: 0.0s;
}

#RoundOverContainer
{
	flow-children:down;
	width: 100%;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;
}

#FightResultPanel
{
	width: 100%;
	height: 100%;
	/*margin-top: -300px;*/
	vertical-align: top;
	horizontal-align: center;
	visibility: visible;
	opacity: 0;
	transition-property: opacity;
	transition-timing-function: ease-in;
	
	flow-children: down;
}

.GameMode_Duos #FightResultPanel
{
	visibility: collapse;
}

@keyframes 'FightResultPanelIn'
{
	0%
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}
	80%
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}
	90%
	{
		wash-color: white;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

.AnimateIn #FightResultPanel
{
	opacity: 1; 
	animation-name: FightResultPanelIn;
    animation-delay: 1s;
    animation-duration: 1.251s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.ShowDefeat.AnimateIn #FightResultPanel
{	
	animation-delay: 0.0s;	
}


@keyframes 'FightResultPanelOut'
{
	from
	{
		opacity: 1; 
		pre-transform-scale2d: 1.0;
		wash-color: white;
	}

	60%
	{
		opacity: 1; 
		wash-color: white;
		pre-transform-scale2d: 1.0;
	}
	
	85%
	{
		opacity: 1; 
		wash-color: white;
		pre-transform-scale2d: 1.0;
	}
	
	95%
	{
		opacity: 1; 
		wash-color: white;
		pre-transform-scale2d: 1.25;
	}
	to
	{
		opacity: 0; 
		wash-color: black;
		pre-transform-scale2d: 0;
	}
}

.AnimateOut #FightResultPanel
{
	opacity: 0; 
	animation-name: FightResultPanelOut;
    animation-delay: 0.0s;
    animation-duration: 3.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.GameModeDuos #FightResultPanel
{
    //opacity: 0;
    //visibility: collapse;
}

#BreakLabelContainer
{
	width: 100%;
	//margin-top: 200px;
	margin-top: 150px;

	overflow: noclip;
	opacity: 0;
	height: 0px;
	//visibility: collapse;
}

.GameModeDuos #BreakLabelContainer
{
	margin-top: 50px;
}

.ShowDefeat #BreakLabelContainer
{
	height: 167px;
	opacity: 1;
}

.FightResultLabel
{
	font-size: 110px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	background-image: url("s2r://panorama/images/hud/black_text_bg_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px 30px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	margin-top: 420px;
	margin-left: 0px;
	margin-bottom: 0px;
	horizontal-align: center;
	width: fit-children;
	height: fit-children;
	z-index: 0;
    animation-delay: 0.0s;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
}


/*
.FightResultLabel
{
	letter-spacing: 8px;
	margin-top: 350px;
	margin-left: 0px;
	margin-bottom: 0px;
	
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 250px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #edce6e ), to(#fffdd7));
	text-shadow: 2px 2px 0px 2.0 #000000aa;
	font-size: 170px;
	font-weight: bold;  
	z-index: 0;
    animation-delay: 0.0s;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
}
*/

.Language_schinese .FightResultLabel.Break1,
.Language_schinese .FightResultLabel.Break2,
.Language_schinese .FightResultLabel,
.Language_tchinese .FightResultLabel.Break1,
.Language_tchinese .FightResultLabel.Break2,
.Language_tchinese .FightResultLabel,
.Language_koreana .FightResultLabel.Break1,
.Language_koreana .FightResultLabel.Break2,
.Language_koreana .FightResultLabel,
.Language_japanese .FightResultLabel.Break1,
.Language_japanese .FightResultLabel.Break2,
.Language_japanese .FightResultLabel
{
	text-overflow: shrink;
	//font-size: 200px;
}

.FightResultLabel.Break1
{
	margin-top: 0;
	opacity-mask: url("s2r://panorama/images/masks/break_01_psd.vtex");
	vertical-align: middle;
}

.FightResultLabel.Break2
{
	margin-top: 0;
	opacity-mask: url("s2r://panorama/images/masks/break_02_psd.vtex");
	vertical-align: middle;
}


@keyframes 'FightResultLabelIn'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
		wash-color: red;
	}
	56%
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
		wash-color: red;
	}
	
	75%
	{
		opacity: 1; 
		pre-transform-scale2d: 0.8;
		wash-color: white;
	}
	
	76%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1.00;
		wash-color: white;
	}
}


@keyframes 'FightResultLabelInBreak'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
	}
	56%
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
	}
	
	75%
	{
		opacity: 1; 
		pre-transform-scale2d: 0.8;
	}
	
	76%
	{
		opacity: 1; 
		pre-transform-scale2d: 1.01;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1.03;
	}
}



@keyframes 'FightResultLabelInBreakDebris'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
	}
	56%
	{
		opacity: 0; 
		pre-transform-scale2d: 6.0;
	}
	72%
	{
		opacity: 0; 
		pre-transform-scale2d: 0.8;
	}
	75%
	{
		opacity: 1 ;
		pre-transform-scale2d: 0.8;
	}
	90%
	{
		opacity: 1; 
		pre-transform-scale2d: 1.25;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1.3;
	}
}


.BreakDebris {
	background-image: url("s2r://panorama/images/masks/break_03_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	wash-color: #ce5747;
	pre-transform-scale2d: 1.3;
	margin-bottom: -20px;
	
    animation-delay: 0.0s;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
	animation-timing-function: ease-out;
	transform-origin: 50% 50%;
}

.LowVisualQuality .FightResultLabel,
.LowVisualQuality .BreakDebris 
{
    animation-duration: 0.0s;
}

#RoundAndRoundDamage
{
	flow-children: down;
	opacity: 0;
	height: 0;
	width: 100%;
	pre-transform-scale2d: 3;
	transition-property: height, pre-transform-scale2d, opacity, transform;
	transition-duration: 0s, .21s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
	overflow: noclip;
	//margin-top: 8px;
	margin-bottom: 16px;
	pre-transform-scale2d: 4;

}

.ShowHealthLost #RoundAndRoundDamage
{
	opacity: 1;
	height: 82px;
	pre-transform-scale2d: 1;
	transition-delay: 0s;
}

.ShowVictory #RoundAndRoundDamage
{
	visibility: collapse;
}

#RoundLabel
{
	letter-spacing: 3px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	color: #a2a4d0;
	//color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 36px;
	font-weight: bold;
	z-index: 0;
	color: #c0493d;

}

#RoundRank
{
	text-align: center;
	width: 100%;
	//color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
	font-size: 26px;
	color: #c0493d;
	text-shadow: 0px 1px 0px 3.0 #000;
	margin-bottom: 16px;
}


.IsLayoutSmallScreen .ShowVictory .FightResultLabel,
.IsLayoutSmallScreen .ShowVictory DACBannerPaintin
{
		ui-scale: 85%;
}

.IsLayoutLargeScreen .ShowVictory .FightResultLabel,
.IsLayoutLargeScreen .ShowVictory DACBannerPaintin
{
		ui-scale: 70%;
}


.ShowDefeat .FightResultLabel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #a82a2a ), to(#ce5747));
	animation-name: FightResultLabelIn;
	font-size: 120px;
	height: 148px;
	box-shadow: 0px 0px 3px #00000000;
}

.IsLayoutSmallScreen .ShowDefeat .FightResultLabel
{
		ui-scale: 85%;
}

.IsLayoutLargeScreen .ShowDefeat .FightResultLabel
{
		ui-scale: 80%;
}


.ShowDefeat .FightResultLabel.Break2 
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #942929 ), to(#9e4236));
}

.ShowDefeat .Break2
{
	animation-name: FightResultLabelInBreak;
	pre-transform-scale2d: 1.03;
}

.ShowDefeat .BreakDebris
{
	animation-name: FightResultLabelInBreakDebris;
}

.IsLayoutSmallScreen .ShowDraw .FightResultLabel,
.IsLayoutSmallScreen .ShowDraw DACBannerPaintin
{
		ui-scale: 85%;
}

.IsLayoutLargeScreen .ShowDraw .FightResultLabel,
.IsLayoutLargeScreen .ShowDraw DACBannerPaintin
{
		ui-scale: 80%;
}

#RoundOverSpecialLabel
{
	letter-spacing: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 65px;
	/*line-height: 30px;*/
	text-overflow: shrink;
	color: gradient(linear, 0% 0%, 0% 100%, from( #edce6e ), to(#fffdd7));
	text-shadow: 2px 2px 0px 2.0 #000000aa;
	font-size: 65px;
	font-weight: bold;  
	z-index: 0;
	transition-property: transform, opacity;
	transition-duration: .51s;
	transition-delay: 1s;
	transition-timing-function: ease-in;
	visibility: collapse;
	transform: translateX(100%);
}

.ShowSpecialLabel #RoundOverSpecialLabel
{
	/*visibility: visible;
	transform: translateX(0%);*/
	visibility: collapse;
}

#OpponentHeroesPanel
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
		
	flow-children: right;
	margin-bottom: 5px;
	margin-top: 30px;
	
	transition-property: transform, opacity;
	transition-duration: .51s;
	transition-delay: 1s;
	transition-timing-function: ease-in;
	opacity: 0;
	transform: translateX(100%);
}

.ShowDefeat #OpponentHeroesPanel
{
	opacity: 1;
	transform: translateX(0%);

	//visibility: collapse;
}

.ShowVictory #OpponentHeroesPanel
{
	visibility: collapse;
}


.HeroInfo
{
	width: 72px;
	
	flow-children: down;
	margin-left: 5px;
	margin-right: 5px;
}

#HeroIcon
{
	width: 72px;
	height: 72px;
		
	background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_axe_png.vtex");
	horizontal-align: center;
}

#HeroRank
{
	horizontal-align: center;
	text-align: center;		
	font-size: 24px;
	color: #c0493d;
	text-shadow: 0px 1px 0px 3.0 #000;
}

#HealthPanel
{
	width: 100%;
	height: 150px;
		
	flow-children: down;
	horizontal-align: center;
	
	margin-bottom: 0px;
	
	transition-property: transform, opacity;
	transition-duration: .51s;
	transition-delay: 1s;
	transition-timing-function: ease-in;
	opacity: 0;
	transform: translateX(100%);
}

.ShowDefeat #HealthPanel
{
	opacity: 1;
	transform: translateX(0%);
}

.ShowVictory #HealthPanel
{
	visibility: collapse;
}

#HealthNumberLabel
{
	letter-spacing: 5px;
	margin-top: 0px;
	margin-left: 0px;
	text-transform: uppercase;
	width: 200px;
	height: 100px;
	/*line-height: 30px;*/
	//color: gradient(linear, 0% 0%, 0% 100%, from( #ff3d18 ), to(#b38d20));
	color: #c0493d;
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
}

#LostLabel
{
	font-size: 90px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
}

#HealthLostLabel
{
	letter-spacing: 3px;
	margin-top: 4px;
	margin-left: 0px;
	margin-bottom: 0px;
	
	horizontal-align: center;
	text-transform: uppercase;
	width: 500px;
	/*height: 200px;
	line-height: 30px;*/
	text-overflow: shrink;
	text-shadow: 0px 1px 0px 3.0 #000;
	color: #c0493d;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	/*vertical-align: bottom;*/
}


#NextRound_GoldInfo
{
    width: 800px;
    height: 100%;
	flow-children: down;
	horizontal-align: center;

	background-color: rgba(25, 25, 25, 0.0);
	margin-top: 24px;
	
	visibility: visible;
	opacity: 1;
}


#NextRound_GoldInfoBreakdown
{
    width: 100%;
    height: 100%;
    margin-top: 0px;
	margin-left: 0px;
	flow-children: down;
	horizontal-align: center;
	
	visibility: visible;
	opacity: 1;
}

.BreakdownLabel {
	letter-spacing: 8px;
	margin-top: 0px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	text-overflow: shrink;
	color: gradient(linear, 0% 0%, 0% 100%, from( #edce6e ), to(#fffdd7));
	text-shadow: 2px 2px 0px 2.0 #000000aa;
	font-size: 55px;
	font-weight: bold;  
	z-index: 0;
	
	transition-property: height, transform, opacity;
	transition-duration: 0s, .51s;
	transition-delay: 1s, 1s;
	transition-timing-function: ease-in;
	opacity: 0;
	transform: translateX(100%);
	height: 0px;
}

#BreakdownInterestLabel
{
}

.ShowInterest #BreakdownInterestLabel
{
	opacity: 1;
	height: 40px;
	transform: translateX(0%);
}

#BreakdownStreakLabel
{
}

.ShowStreak #BreakdownStreakLabel
{
	height: 40px;
	opacity: 1.0;
	transform: translateX(0%);
}

#BreakdownItemsLabel
{
}

.ShowItems #BreakdownItemsLabel
{
	height: 40px;
	opacity: 1.0;
	transform: translateX(0%);
}

#BreakdownRoundGoldLabel
{
}

.ShowVictoryGold #BreakdownVictoryLabel,
.ShowRoundGold #BreakdownRoundGoldLabel
{
	opacity: 1.0;
	height: 40px;
	transform: translateX(0%);
}


#BreakdownVictoryLabel
{
}

#LineBreak
{
	width: 500px;
	height: 5px;
	z-index: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	horizontal-align: center;

	transition-property: opacity;
	transition-duration: 0.2s;
	
	visibility: collapse;
	opacity: 0.0;
	
	background-color: #997d2f;
}

.ShowTotalGold #LineBreak
{
	opacity: 0.5;
	visibility: visible;
}

#BreakdownTotalGold
{
}

.ShowTotalGold #BreakdownTotalGold
{
	opacity: 1.0;
	height: 75px;
	transform: translateX(0%);
}

.RoundOpponent
{
	font-size:36px;
	color:#8588a0;
	margin-left: 1100px;
	margin-top: 0px;
	visibility: collapse;
	/*
	transition-property: transform, opacity;
	transition-duration: .32s;
	transition-delay: .6s;
	transition-timing-function: ease-in-out;
	transform: translateX(-320px);
	*/
	opacity: 0;
	font-weight: bold;
	text-shadow: 0px 1px 0px 3.0 #000;
}

.LowVisualQuality #RoundAndRoundDamage,
.LowVisualQuality #RoundOverSpecialLabel,
.LowVisualQuality #OpponentHeroesPanel,
.LowVisualQuality #HealthPanel,
.LowVisualQuality .BreakdownLabel,
.LowVisualQuality .RoundOpponent 
{
    transition-duration: 0.0s;
}

.LowVisualQuality #LineBreak 
{
    opacity: 1.0;
    transition-duration: 0.0s;
}

.ShowDefeat .RoundOpponent
{
	//color: gradient(linear, 0% 0%, 0% 100%, from( #dd0404 ), to(#740000));
}


.ShowVictory .RoundOpponent
{
	//color: gradient(linear, 0% 0%, 0% 100%, from( #c9a52f ), to(#af7723));
}

.ShowVictory .RoundOpponent,
.ShowDefeat .RoundOpponent
{
	opacity: 1;
	transform: translateX(0);
}
