@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACRewardsBattlePassPage
{
    width:100%;
    height:100%;
    /*flow-children: down;*/
   // background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
//    background-size: 100%;
}

DACRewardsBattlePassPage #BattlePassOverview .PlayerProgressContainer {
    margin-top: 10px;
    padding: 2px;
    background-color: #343434;
    width: 100%;

}


DACRewardsBattlePassPage #BattlePassOverview .Description
{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 14px;
    
    text-align: center;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-weight: semi-bold;
}

