DACUIHudTopBar {
	width: 100%;
	height: fit-children;
	visibility: visible;
	opacity: 1.0;

	

	horizontal-align: center;

	transition-property: opacity, transform, position, margin-top;
	transition-duration: 0.26s;	

	padding-bottom: 10px;
}

.LowVisualQuality DACUIHudTopBar
{
	transition-duration: 0.0s;
}


#TimerContainer
{
	width: 100%;
	horizontal-align: center;
	vertical-align: top;
	height: 12px;
	//background-color: #000000dd;
	margin-top: 0px;
	//padding: 4px;

	opacity: 0.01;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.LowVisualQuality #TimerContainer
{
	transition-duration: 0s;
	opacity: 0;
}

.IsCombatIntroRunning #TimerContainer
{
	opacity: 1;
}

.TimerVisible #TimerContainer
{
	opacity: 1;
}

#TimerBar
{
	height: 100%;
	horizontal-align: center;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#efeca777), color-stop (.2, #0fdfba77), color-stop (.3, #0cabca77), color-stop (.4, #618bb877), color-stop (.47, #7bc2ff77), color-stop (.5, #7bc2ff99), color-stop (.53, #7bc2ff77), color-stop (.6, #618bb877), color-stop (.7, #0cabca77), color-stop (.8, #0fdfba77), to(#efeca777));
	//background-color: gradient( radial, 50% 50%, 0% 0%, 300% 300%, from(#efeca7), color-stop (.2, #0fdfba), color-stop (.3, #0cabca), color-stop (.4, #618bb8), color-stop (.5, #8bb6dd), color-stop (.6, #618bb8), color-stop (.7, #0cabca), color-stop (.8, #0fdfba), to(#efeca7));
	//background-color: gradient(linear, 0% 0%, 50% 0%, from(rgba(255,244,244,1)), color-stop (.5, #EE2222), to(#970a00));
	//background-color: gradient(linear, 0%, rgba(255,244,244,1) 15%, rgba(9,107,121,1) 60%, rgba(255,0,0,1) 100%);
	//transition-delay: 0.5s;//this is weird
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;  
	border: 2px solid #ffffff22;
	border-top: 0px;
	//background-image: url("s2r://panorama/images/shop/timer_bar_backer_psd.vtex");
	//background-size: 100%;
}


#TimerBar.ThreeTwoOneGo
{
	//animation-delay: 0.5s;
	animation-name: CountDownFlash;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;//just do one flash at a time since game time can be paused
}

.TimerHide #TimerContainer,
.GameMode_Streetfight #TimerContainer,
.GameMode_Streetfight #TimerBar,
.GameMode_Streetfight .GameStatePanelClock,
.GameMode_Streetfight #RoundHeaderPauseIndicator
{
	visibility: collapse;
}


@keyframes 'CountDownFlash'
{
	0%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from(#fff), color-stop (.2, #fff), color-stop (.47, #fff), color-stop (.5, #fff), color-stop (.53, #fff), color-stop (.8, #fff), to(#fff));

	}
	100%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from(#efeca777), color-stop (.2, #0fdfba77), color-stop (.47, #7bc2ff77), color-stop (.5, #7bc2ff99), color-stop (.53, #7bc2ff77), color-stop (.8, #0fdfba77), to(#efeca777));
	}
}


#FightHeader
{
	horizontal-align: center;
	margin-top: 50px;
	background-image: url("s2r://panorama/images/hud/dac_banner_postgame_bg_png.vtex");
	visibility: collapse;
	animation-name: FightFlash;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}

.IsLayoutSmallScreen #FightHeader
{
	margin-top: 100px;
}

.FightHeaderLabel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#ffffff));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 72px;
	font-family: ravenhook;
}

.RoundNumber_0 .FightHeaderLabel
{
	visibility: collapse;
}

.Fight #FightHeader
{
	visibility: visible;
}

.Fight #TimerDripParticle
{
	visibility: collapse;
}

@keyframes 'FightFlash'
{
	0%
	{
		//background-color: gradient(linear, 0% 0%, 100% 0%, from(#fff), color-stop (.2, #fff), color-stop (.47, #fff), color-stop (.5, #fff), color-stop (.53, #fff), color-stop (.8, #fff), to(#fff));
		pre-transform-scale2d: 2;	
	}
	100%
	{
		//background-color: gradient(linear, 0% 0%, 100% 0%, from(#efeca777), color-stop (.2, #0fdfba77), color-stop (.47, #7bc2ff77), color-stop (.5, #7bc2ff99), color-stop (.53, #7bc2ff77), color-stop (.8, #0fdfba77), to(#efeca777));
		pre-transform-scale2d: 1;
	}
}


.GameStatePanelClock
{

	width: 100px;
	horizontal-align: center;
	transition-property: transform;
	transition-duration: 0.2s;
	overflow: noclip;
	transition-timing-function: ease-in;
	overflow: noclip;
	horizontal-align: center;
}

.GameStateTimer
{
	overflow: noclip;
}


.HiddenForTutorial_Timer #TimerContainer
{
	visibility: collapse;
}

.TutorialCutscene DACUIHudTopBar
{
	opacity: 0;
}

.IsLayoutLargeScreen DACUIHudTopBar
{
    ui-scale: 75%;
}

.IsLayoutSmallScreen DACUIHudTopBar
{
    ui-scale: 66%;
}

.HideGameStatePanel DACUIHudTopBar
{
	visibility: collapse;
}


.TopBarLeft .RoundPhaseText
{
	width: fit-children;
	text-align: right;
	font-family: ravenhook;
	margin-right: 3px;
	transform: translateY(-100px);
	z-index: 100;
}


.TopBarRight .RoundPhaseText
{
	width: fit-children;
	text-align: left;
	font-family: ravenhook;
	margin-left: 3px;
	transform: translateY(-100px);
	z-index: 100;
}

.RoundNumber_0 .TopBarRight .RoundPhaseText.Preparing
{
	visibility: collapse;
}


.RoundPhaseText {
	font-size: 34px;
	font-weight: bold;
	padding: 4px, 0px 4px 0px;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000;
	color: gradient(linear, 0% 0%, 0% 100%, from( #7272c7 ), to(#cdd2f3));
	margin-top: 20px;
	margin-bottom: 5px;
	transition-property: color, transform;
	transition-duration: .2s;
	letter-spacing: 1px;
	opacity: 0;
	transition-timing-function: ease-in;
}

.ShopVisible .RoundPhaseText
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#ffffff));
}



#asdf
{
	opacity: 1;
	width: 500px;
	text-align: right;
	margin-right: 10px;
	font-family: ravenhook;
	letter-spacing: 1px;
	opacity: 1;
}


.Language_schinese .RoundPhaseText,
.Language_tchinese .RoundPhaseText,
.Language_koreana .RoundPhaseText,
.Language_japanese .RoundPhaseText,
.Language_russian .RoundPhaseText
{
	font-size: 20px;
}


#TimerDripParticle
{
	width: 600px;
	height: 170px;
	//background-color: red;
	overflow: noclip;
	pre-transform-scale2d: .75;
	margin-top: -55px;
	margin-top: -50px;
	margin-left: -250px;

	background-image: url("s2r://panorama/images/hud/timer_backing_glow_psd.vtex");
	background-size: 100%;
	background-position: 50% 50%;
	overflow: noclip;
	opacity: .9;
	
	transition-property: opacity, transform, brightness;
	transition-duration: .2s;
	
	animation-name: TimerBackerPulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	//visibility: collapse;
	z-index: 0;
}

.IsLayoutSmallScreen #TimerDripParticle
{
	margin-top: -58px;
}

@keyframes 'TimerBackerPulse'
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0;
	}	
	100%
	{
		opacity: 1;
	}
}

.ShopVisible #TimerDripParticle
{
	opacity: .6;
	animation-name: TimerBackerPulseShop;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	brightness: 4;
}

@keyframes 'TimerBackerPulseShop'
{
	0%
	{
		opacity: .6;
	}
	50%
	{
		opacity: .3;
	}	
	100%
	{
		opacity: .6;
	}
}

.IsVersusOrCombatRunning #TimerDripParticle
{
	opacity: .001;
	animation-name: TimerBackerPulseCombat;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

@keyframes 'TimerBackerPulseCombat'
{
	0%
	{
		opacity: .5;
	}
	50%
	{
		opacity: .3;
	}	
	100%
	{
		opacity: .5;
	}
}

#VertTimerContainer
{
	horizontal-align: center;
	overflow: noclip;
}

#RoundHeaderContainer
{
	padding-top: 12px;
	margin-top: -16px;
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	//background-color: blue;
	//opacity-mask: url("s2r://panorama/images/masks/crunchy_text_mask_psd.vtex");
}
.GameMode_Puzzle #RoundHeaderContainer
{
    visibility: collapse;
}

.IsLayoutSmallScreen #RoundHeaderContainer
{
    ui-scale: 140%;
    padding: 0px;
    margin-top: 2px;
}

#RoundHeaderPauseIndicator
{
	horizontal-align: center;
	color: #eaf3ff;
	font-size: 28px;
	max-height: 44px;
	font-weight: black;
	text-transform: uppercase;
	//transform: rotatez( -3deg ) translateY( 0px );
	background-image: url("s2r://panorama/images/hud/paused_bg_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 2px 16px 5px 22px;
	letter-spacing: 2px;
	margin-top: 140px;
	opacity: 0.0;
	text-overflow: shrink;
	overflow: noclip; // because it has rotation	
	
}

.ShopVisible #RoundHeaderPauseIndicator
{
	transform: translateY( -40px );
}

.IsLayoutSmallScreen.ShopVisible #RoundHeaderPauseIndicator
{
	transform: translateY( -76px );
}


.LowVisualQuality .IsPaused #RoundHeaderPauseIndicator,
.LowVisualQuality #RoundHeaderPauseIndicator
{
	box-shadow: none;
	transition-property: none;
	transition-duration: 0.5s;
	transform: none;
}

.IsLayoutSmallScreen #RoundHeaderPauseIndicator
{
	ui-scale: 140%;
	margin-top: 200px;
	margin-top: 216px;
}

.AspectRatio4x3.IsLayoutSmallScreen #RoundHeaderPauseIndicator
{
	margin-top: 220px;
}
.IsPaused:not(.GameMode_Puzzle) #RoundHeaderPauseIndicator
{
	opacity: 1.0;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.HeaderRoundTime
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#ffffff));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 70px;
	letter-spacing: -6px;
	text-align: center;
	horizontal-align: center;
	vertical-align: top;
	width: 100px;
	height: 70px;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-property: color, text-shadow, transform;
	transform: translateY(0px);
	margin-top: -20px;

	overflow: noclip;
}

.IsLayoutSmallScreen .HeaderRoundTime
{
	margin-top: 0px;
}

.ShopVisible .HeaderRoundTime
{
	transform: translateY(-40px);
}

.IsLayoutSmallScreen.ShopVisible .HeaderRoundTime
{
	transform: translateY(-60px);
}

.TimerHide .HeaderRoundTime
{
	visibility: collapse;
}

#HeaderRoundTimeContainer
{
	flow-children: none;
	overflow: noclip;
}



@keyframes 'TimerAnim'
{
	0%
	{
		color: #f00;
		text-shadow: 0px 0px 0px 4.0 #000;

	}
	100%
	{
		text-shadow: 0px 0px 0px 2.0 #000;
		color: gradient(linear, 0% 0%, 0% 100%, from( #bbd1ff ), to(#fff));
	}
}

/* Round control */
.RoundPhaseText {
	visibility: collapse;
}

/* Setup phase */
.ERoundState_Preparing .RoundPhaseText.Preparing {
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
}

.ShopVisible.ERoundState_Preparing .RoundPhaseText.Preparing {
	visibility: visible;
	transform: translateY(-100px);
	opacity: 0;
}

.ShopVisible.ERoundState_Preparing #TimerDripParticle {
	visibility: visible;
	transform: translateY(-40px);
	opacity: 0;
}

.IsLayoutSmallScreen.ShopVisible.ERoundState_Preparing #TimerDripParticle {
	visibility: visible;
	transform: translateY(-50px);
	opacity: 0;
}

/* Combat phase */

.ERoundState_Combat  DACUIHudTopBar:not(.AfterMyCombat) .RoundPhaseText.Combat {
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
}

.ShopVisible.ERoundState_Combat  DACUIHudTopBar:not(.AfterMyCombat) .RoundPhaseText.Combat {
	visibility: visible;
	//transform: translateY(-100px);
	opacity: 1;
}

.ERoundState_Combat:not(.GameMode_Puzzle) DACUIHudTopBar:not(.AfterMyCombat) .GameStatePanelClock
{
    visibility: collapse;
    transform: translateY(-100px);
    opacity: 0;
}

.ShopVisible.ERoundState_Combat  DACUIHudTopBar:not(.AfterMyCombat) .GameStatePanelClock {
	visibility: visible;
	transform: translateY(0px);
	opacity: 0;
}

/* After combat */
.ERoundState_Combat DACUIHudTopBar.AfterMyCombat .RoundPhaseText.Countdown {
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
}

.ShopVisible.ERoundState_Combat DACUIHudTopBar.AfterMyCombat .RoundPhaseText.Countdown {
	visibility: visible;
	transform: translateY(-100px);
	opacity: 0;
}

.ShopVisible.ERoundState_Combat #TimerDripParticle {
	visibility: visible;
	transform: translateY(-40px);
	opacity: 0;
}

.IsLayoutSmallScreen.ShopVisible.ERoundState_Combat #TimerDripParticle {
	visibility: visible;
	transform: translateY(-50px);
	opacity: 0;
}

/* Item pick */
.ERoundState_RoundOver .RoundPhaseText.Loot {
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
}

.ShopVisible.ERoundState_RoundOver  .RoundPhaseText.Loot {
	visibility: visible;
	//transform: translateY(-100px);
	opacity: 1;
}

.ShopVisible.ERoundState_RoundOver   .GameStatePanelClock {
	visibility: visible;

}

/* Preparing for next round phase */
.ERoundState_RoundOver .RoundPhaseText.Countdown,
.ERoundState_Ready .RoundPhaseText.Countdown
{
	visibility: visible;
}