@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia.css");

DACHeropediaRulesPage {
    width: 100%;
}

.RuleList {
    width: 99%;
    flow-children: down;
}

.RuleListRow {
    flow-children: right;
    margin: 10px;
    padding: 10px;
}

.RuleListColum {
    flow-children: down;
    margin: 10px;
    padding: 10px;
}

.RuleImage {
    width: 512px;
    height: 512px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    horizontal-align: center;
}

.RuleHeader {
    font-size: 26px;
    color: white;
    letter-spacing: 3px;
    vertical-align: top;
    text-overflow: clip;
    line-height: 20px;
}

.RuleLabel {
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    vertical-align: top;
    text-overflow: clip;
    line-height: 20px;
}