DACUIPosterPrestigeLevel 
{
	width: 100%;
	height: 100%;	
	visibility: collapse;
}

DACUIPosterPrestigeLevel.HasAnyPrestige
{
	visibility: visible;
}

#SealBG
{
	width:100%;
	height:100%;
	background-position: center;
	background-size: contain;	
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/battle_pass/poster/prestige_wax_seal_s1_psd.vtex");
}

#BackingBG
{
	width:100%;
	height:100%;
	horizontal-align:center;
	background-position: center;
	background-size: contain;	
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/battle_pass/poster/prestige_backing_psd.vtex");
	visibility: collapse;
}

.ShowPrestigeBacking #BackingBG
{
	visibility: visible;
}

#PrestigeLevelText
{
	width:100%;
	transform:translateY(38px);
	vertical-align: center;
	horizontal-align:center;
	text-align: center;
	color: #222;
	text-overflow: shrink;
	font-size: 25px;
	font-family: Ravenhook, k_alwaysFontNames;		
}

