
DACLeaderboardEntry {
	overflow: noclip;
	height: 140px;
}

.EGameState_Intro.ERoundState_Ready #PlayerLeaderboardContainer {
	visibility: collapse;
}

#PlayerLeaderboardContainer {
	/* visibility: collapse; */
	height: 100%;
	margin-left: 5px;
}

.TabLeaderboard #PlayerLeaderboardContainer {
	visibility: visible;
}

#PostGameStats .PlayerLeaderboard
{
	margin-top:10px;
}

.PlayerLeaderboard {
	width: 170px;
	height: 130px;
	margin-top: 20px;
	transition-property: position;
	transition-duration: 500ms;
}

.AspectRatio21x9.IsPlatformMobile .PlayerLeaderboard {
	margin-top: 0px;
}


.LeaderboardBackground {
	width: 170px;
	height: 117px;
}

.IsDead .LeaderboardBackground {
	margin-left: -42px;
	wash-color: #f88;
}

.IsSelf .LeaderboardBackground {
	wash-color: #8af;
}

.LeaderboardBelow {
	margin-top: 70px;
	width: 145px;
	font-size: 28px;
	margin-left: 2px;
	color: #8588a0;
}

.PlayerLeaderboard:hover .LeaderboardBelow
{
	color: #bec1d6;
}

.PlayerLeaderboard:hover .LeaderboardBelow
{
	color: #bec1d6;
}

.AspectRatio21x9.IsPlatformMobile .LeaderboardBelow {
	margin-top: 64px;
}

.IsSelf .PlayerLeaderboard:hover .LeaderboardBelow,
.IsSelf .LeaderboardBelow {
	color: white;
}

.IsDead .LeaderboardBelow {
	color: rgb(141, 80, 80);
}

	.LeaderboardBelow Label {
		padding: 5px;
		padding-top: 18px;
		padding-left: 0px;
		text-overflow: clip;
		white-space: nowrap;
		width: 100%;
		opacity-mask: url("s2r://panorama/images/leaderboard/name_mask_psd.vtex");
	}

	.LeaderboardBelow .MobileIcon {
		margin-top: 22px;
		margin-right: 6px;
		width: 14px;
		height: 22px;
		wash-color: #8588a0;
		visibility: collapse;
	}

	.IsSelf .LeaderboardBelow .MobileIcon {
		wash-color: white;
	}

	.IsDead .LeaderboardBelow .MobileIcon {
		wash-color: rgb(141, 80, 80);
	}

	.IsMobile .LeaderboardBelow .MobileIcon {
		visibility: visible;
	}

	.LowVisualQuality .LeaderboardBelow Label {
		text-shadow: 0px 0px 0px 2.0 #000;
	}

.IsFinished .LeaderboardBelow Label, .IsOpponent .LeaderboardBelow Label {
	max-width: 115px;
}

.BattlepassRank {
	width: 15px;
	height: 19.5px;
	margin: 12px 10px 0 0;
}

.LevelIcon {
	width: 17.25px;
	height: 21px;
	margin-top: -2px;
}

#GoldStat {
	margin-top: 12px;
	margin-bottom: -10px;
	margin-left: 3px;
}

.IsDead #GoldStat {
	visibility: collapse;
}

.GoldIcon {
	width: 16px;
	height: 16px;
	margin-top: -3px;
	//margin-right: 4px;
}

.HealthIcon {
	width: 18px;
	height: 18px;
	margin-top: -1px;
	background-size: contain;
}

#LeaderboardHealth {
	color: #a2ff92;
	font-size: 38px;
	font-weight: bold;
	margin-top: 0px;
}

.IsDead #LeaderboardHealth {
	visibility: collapse;
}

#LeaderboardGold {
	color: #ffd1048e;
}

.IsSelf #LeaderboardGold {
	color: #ffd104;
}


#LeaderBoardBackgroundStrip {
	width: 120px;
	height: 77px;
	margin-top: 8px;
}

#LeaderboardLevel {
	color: #f7b461;
	horizontal-align: right;
	font-size: 24px;
	vertical-align: center;
	margin-right: -2px;
	margin-bottom: 7px;
	background-image: url("s2r://panorama/images/hud/dac_profile_level_leaderboard_bg_psd.vtex");
	//background-size: 50px;
	background-size: 100%;
	width: 49px;
	height: 49px;
	text-align: center;
	padding-top: 9px;
	padding-right: 6px;
}

.IsDead #LeaderboardLevel {
	margin-right: 48px;
	wash-color: #a00;
}


.BattlepassRank {
	horizontal-align: right;
}

#LeaderboardAvatar {
	margin: 5px 0 0 36px;
	height: 86px;
	width: 110px;
	background-color: pink;
	
	horizontal-align: right;
	
	margin-top: 4px;
	margin-right: 24px;
}

.IsDead #LeaderboardAvatar {
	horizontal-align: left;
	margin-left: 0px;
	width: 104px;
	saturation: 0;
	wash-color: #900;
}

.IsSelf #LeaderBoardBackgroundStrip {
	width: 48px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #ffffff44 ), color-stop( .15, #ffffff55 ),to( rgba(255, 255, 255, 0) ) );	
	border-left: 4px solid white;
}

.IsSelf.IsSelected #LeaderBoardBackgroundStrip {
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #cae7ffec ), color-stop( .15, #e2efff94 ),to( rgba(255, 255, 255, 0) ) );	
	border-left: 4px solid white;
}

.IsSelected #LeaderBoardBackgroundStrip {
	border-left: 4px solid #3da8ff;
	width: 48px;

	background-color: gradient(linear, 0% 0%, 100% 0%, from( #3da8ff ), color-stop( .15, #4973ff94 ),to( rgba(255, 255, 255, 0) ) );
}

.IsSelf #LeaderboardAvatar {
	border: 2px solid rgb(127, 178, 255);
}



.IsSelected .LeaderboardIndicator, .IsOpponent .LeaderboardIndicator, .IsFinished .LeaderboardIndicator {
	opacity: 1;
	visibility: visible;
}

.IsVictory.IsFinished .LeaderboardIndicator {
	background-image: url("s2r://panorama/images/leaderboard/icon_finished_psd.vtex");
}

.IsLoss.IsFinished .LeaderboardIndicator {
    background-image: url("s2r://panorama/images/leaderboard/icon_finished_loss_psd.vtex");
}

.IsDead.IsFinished .LeaderboardIndicator {
	visibility: collapse;
}


.LeaderboardIndicator {
	visibility: collapse;
	opacity: 0;
	width: 30px;
	height: 30px;
	margin-top: 18px;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: 0.2s;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.IsSelected .LeaderboardIndicator {
	opacity: 1;
}

.LeaderboardSelfIndicator {
	visibility: collapse;
	width: 129.75px;
	height: 83.25px;
	margin: 5px 0 0 19px;
}

.IsSelf .LeaderboardSelfIndicator {
	visibility: visible;
}

.LeaderboardDefeatedIndicator {
	opacity: 0;
	width: 143px;
	height: 87px;
	margin: 3px 0 0 8px;
	transition-property: opacity;
	transition-duration: 500ms;
	
}

.LeaderboardDisconnectedIndicator {
	opacity: 0;
	width: 143px;
	height: 87px;
	margin: 3px 0 0 8px;
	transition-property: opacity;
	transition-duration: 500ms;
}

.HealthContainer {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 500ms;
	margin-top: 4px;
}

.HasDamage .HealthContainer {
	opacity: 1;
}



.IsDead .LeaderboardDefeatedIndicator {
	/*opacity: 1;*/
}

.IsDisconnected .LeaderboardDisconnectedIndicator {
	opacity: 1;
}

.IsDead.IsDisconnected .LeaderboardDisconnectedIndicator {
	margin-left: -42px;
}

#LeaderboardHealthBar {
	width: 140px;
	height: 8px;
	margin: 0;
	vertical-align: bottom;
	margin-bottom: 40px;
	margin-left: 6px;
	visibility: collapse;
}

#LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_green_psd.vtex");
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	transition-property: height, position;
	transition-duration: 250ms;
}

#LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_green_empty_psd.vtex");
	background-size: 25px 100px;
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-repeat: no-repeat;*/
	background-color: black;
}

.HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
}

.IsDead .HealthIcon {
	visibility: collapse;
}

.HealthMid .HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.HealthMid #LeaderboardHealth {
	color: #fff66e;
}

.HealthMid #LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_yellow_psd.vtex");
}

.HealthMid #LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_yellow_empty_psd.vtex");*/
}

.HealthLow .HealthIcon {
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}

.HealthLow #LeaderboardHealth {
	color: #ff6123;
}

.HealthLow #LeaderboardHealthBar_Left {
	background-image: url("s2r://panorama/images/leaderboard/health_bar_red_psd.vtex");
}

.HealthLow #LeaderboardHealthBar_Right {
	/*background-image: url("s2r://panorama/images/leaderboard/health_bar_red_empty_psd.vtex");*/
	background-color: black;
}


.StatsContainer {
	margin: 0px 0 0 8px;
}

.StatsContainer > Panel {
	/*margin-bottom: -8px;
	height: 33px;*/
}

.StatsContainer Image, .StatsContainer .HealthIcon {
	vertical-align: center;
	margin-left: 2px;
}

.StatsContainer Label {
	font-size: 24px;
	text-shadow: 0px 0px 0px 3.0 #000;
	color: #fff;
	text-align: left;
	/*width: 25px;*/
	width: fit-children;
	min-width: 15px;
	font-family: RadianceM;
	
}

.LowVisualQuality .StatsContainer Label {
	text-shadow: 0px 0px 0px 2.0 #000;
}

#PostGameStats #ParticleBG, #PostGameStats #ParticleFG
{
	visibility:collapse;
}

#ParticleBG, #ParticleFG {
	width: 250px;
	height: 250px;
	margin-top: -50px;
}

#ParticleFG {
	z-index: 2;
}

.LeaderboardTargetIndicator {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 300ms;
	background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	border-radius: 18px;
	width: 230px;
	height: 72px;
	margin-top: 32px;

	animation-name: LeaderboardTargetIndicatorFighting;
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.IsAwayGame .LeaderboardTargetIndicator {
	opacity: 1;
	animation-name: none;
	background-color: transparent;
}

.IsOpponent .LeaderboardTargetIndicator {
	opacity: 1;
}

.IsOpponent .SwordIcon,
.IsAwayGame .DefendIcon
{
	visibility: collapse;
}

.LeaderboardTargetIndicator Image {
	vertical-align: middle;
	horizontal-align: right;
	margin-right: 15px;
	animation-name: Fighting;
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	width: 42px;
	height: 42px;
	margin-bottom: 12px;
}

.LeaderboardTargetIndicator .DefendIcon
{
	animation-name: none;
	margin-top: 10px;
	margin-right: 20px;
}


.LowVisualQuality .LeaderboardTargetIndicator,
.LowVisualQuality .LeaderboardTargetIndicator Image
{
    border-radius: 0px;
    animation-duration: 0.0s;
}

@keyframes 'Fighting'
{
	0%
	{
		transform: translateX(0px);
	}
	15%
	{
		transform: translateX(-20px) translateY(-10px) rotateZ(-55deg);
	}	
	100%
	{
		transform: translateX(0px);
	}
}


@keyframes 'Defending'
{
	0%
	{
		pre-transform-scale2d: .8;
	}
	25%
	{
		pre-transform-scale2d: 1.2;
	}	
	100%
	{
		pre-transform-scale2d: .8;
	}
}


@keyframes 'LeaderboardTargetIndicatorFighting'
{
	0%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
	20%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #ffe692 ), to(rgb(223, 108, 32)));
	}	
	100%
	{
		background-color: gradient(linear, 0% 0%, 100% 0%, from( #91339300 ), color-stop( .68, #b93f19 ), to(rgba(255, 94, 0, 0.281)));
	}
}

.LeftConnector 
{
	width: 14px;
	height: 82px;
	margin-top: 6px;
	background-color: black;
}