@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");


#SynergyIcon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    vertical-align: middle;
}

#HeroIconList {
    width: 780px;
    height: fit-children;
    margin-left: 20px;
    margin-top: 10px;
    flow-children: right-wrap;
}

.SynergyStats {
    width: 500px;
    height: fit-children;
    padding: 30px;
    flow-children: down;
}

.LevelNumber {
    font-weight: bold;
    font-size: 50px;
    vertical-align: top;
    margin-top: -12px;
    margin-bottom: 5px;
    color: slategray;
}

.LevelDescription {
    font-size: 26px;
    /*padding-left: 60px;*/
    margin-top: 0px;
    white-space: normal;
    color: #dedede;
}

.LevelRow {
    height: fit-children;
    flow-children: down;
}
