/* Styles that are shared by all types*/
DACBattlepassLevel
{
	min-width: 128px;
	min-height: 128px;
}

.OnDACHomePage DACBattlepassLevel
{
	margin-top: -10px;
}

#DACPlayPage DACBattlepassLevel
{
	ui-scale: 70%;
	margin-top: -20px;
}

#DACProfilePage DACBattlepassLevel 
{
	ui-scale: 80%;
	margin-left: -8px;
}

#SettingsMenuSection DACBattlepassLevel
{
	visibility: collapse;
}

DACBattlepassLevel Label
{
	font-family: Radiance;
	font-weight: black;    
	text-transform: uppercase;    
}

DACBattlepassLevel.NoText Label
{
	visibility: collapse;
}

#LevelUpContainer
{
	margin-left: 80px;
	height: fit-children;
	width: fit-children;

	margin-top: 42px;
	//margin-top: 52px;
	flow-children: right;

	visibility: collapse;
	
	//border: 2px solid #b7d5ffaa;
	box-shadow: 0px 0px 20px #4b5aff44;
	
	transition-property: brightness;
	transition-duration: .2s;
}

.IsLayoutSmallScreen #LevelUpContainer
{
	box-shadow: 0px 0px 10px #4b5aff44;
}

#RetailPrice
{
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 42px;
	margin-right: 4px;
	color:white;
	font-family: Radiance;
	font-size: 22px;
	color: #5c89c6aa;
	font-weight: semi-bold;	
}

.ShowBuy #RetailPrice,
.ShowBuy #LevelUpContainer
{
	visibility: visible;
}

.OwnsBattlepass #LevelUpContainer
{
	width: fit-children;
}

#LevelUpContainer:hover
{
	brightness: 2;
}

#LevelUpContainer Label
{
	vertical-align: middle;
	font-size: 30px;
	color:white;
	font-family: ravenhook;
	font-weight: black;
	padding: 8px;
	padding-bottom: 9px;
	padding-right: 18px;
}

#PurchasePrice Label
{
	color: #0f3b76;
	padding-left: 2px;
	padding-right: 16px;
}

#PurchasePrice
{
	horizontal-align: right;
	flow-children: right;
	width: fit-children;
	height: 100%;
	
	border: 2px solid #b7d5ffaa;
	border-left: 0px;
	box-shadow: inset 0px 0px 20px #4b5affcc;
	background-color: #b7d5ffaa;
}

.IsLayoutSmallScreen #PurchasePrice
{
	box-shadow: inset 0px 0px 10px #4b5affcc;
}

.CurrencyIcon
{
	width: 45px;
	height: 45px;
	vertical-align: middle;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/battle_pass/currency_small_psd.vtex");
	background-size: 100%;	
	margin-right: 0px;
	margin-top: 1px;
	margin-left: 10px;
}

#PurchaseOptions .CurrencyIcon
{
	width: 55px;
	height: 55px;
}

#LevelUpTextContainer
{
	width: fit-children;

	flow-children: right;
	horizontal-align: right;

	border: 2px solid #b7d5ffaa;
	box-shadow: inset 0px 0px 20px #4b5affcc;	
}

.IsLayoutSmallScreen #LevelUpTextContainer
{
	box-shadow: inset 0px 0px 10px #4b5affcc;	
}

#LevelUpTextContainer Label
{
	text-align: left;
}

.LevelUpTextSpacer
{
	width: 48px;
}

.LevelUpText
{
	width: fit-children;
	text-align: right;
	horizontal-align: right;
}

.DoesNotOwnBattlepass .LevelUpText
{
	visibility: collapse;
}

.UnlockBattlepassText
{
	width: fit-children;
	text-align: right;
	horizontal-align: right;
	font-family: ravenhook;
}



.OwnsBattlepass .UnlockBattlepassText
{
	visibility: collapse;
}

#BattlepassBadgeContainer
{
	width: fit-children;
	height: fit-children;

	horizontal-align: left;
}

#LockedRewardsContainer
{
	width: fit-children;
	height: fit-children;

	horizontal-align: right;
	vertical-align: top;
	margin-top: 16px;

	visibility: collapse;
}

.OneRewardLabel
{
	visibility: collapse;
}

.NumLockedRewards_1 .OneRewardLabel
{
	visibility: visible;
}

.NumLockedRewards_1 .ManyRewardsLabel
{
	visibility: collapse;
}

.ShowBuy #LockedRewardsContainer
{
	visibility: visible;
}

.NumLockedRewards_0 #LockedRewardsContainer,
.OwnsBattlepass #LockedRewardsContainer
{
	visibility: collapse;
}

#LockedRewardsContainer Label
{
	font-size: 20px;
	color:white;
	font-family: ravenhook;
	font-weight: black;
}

.OnDACHomePage .SeasonText,
#DACPlayPage .SeasonText
{
	visibility: collapse;
}

.SeasonText
{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
	text-shadow: 0px 0px 0px 3.0 #black;
	
}

.BattlepassBadge
{
	margin-top: 6px;
	width: 164px;
	height: 164px;
	

	background-image: url("s2r://panorama/images/battle_pass/bp1/bp1_logo_psd.vtex");
	background-size: 100%;
}

.NoText .BattlepassBadge
{
	margin-top: -12px;
}

.LevelText
{
	width: 100%;
	padding-bottom: 10px;
	vertical-align: bottom;
	text-align: center;
	font-size: 58px;
	color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.3, #ffffff), color-stop( 0.3, #eddcb7), color-stop( 0.93, #b08d50), color-stop( 0.93, #b4712d),  to( #b4712d) );
	font-family: ravenhook;
	text-shadow: 0px 0px 0px 3.0 #black;
	
}