@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

#PatchNotesOuterContainer
{
	width: 1280px;
	height: fit-children;
	flow-children: down;
	font-size: 24px;
	color: #9395a6;
	line-height: 36px;
	font-family: Radiance, k_alwaysFontNames;
	padding-right: 100px;
	padding-top: 40px;
}

#LoadingIndicator
{
	margin-top: 50px;
	width: 770px;
}

#LoadingIndicator Label
{
	horizontal-align: center;
	color: gradient(linear, 0% 0%, 0% 100%, from( #afc3cf ), to( #cfcfdc ));
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: semi-bold;
	text-shadow: 0px 1px 0px 3.0 #000;
}

#PatchNotesScrollContainer
{
	overflow: clip scroll;
	flow-children: down;
	padding-bottom: 300px;
}

.PatchContainer
{
	width: 1280px;
	flow-children: down;
	padding: 30px 30px 30px 0px;
}

.PatchContainer .Patch
{
	width: 100%;
	flow-children: down;
	background-color: #00000090;
	padding: 30px 40px 40px 40px;
	margin-bottom: 60px;
}

.PatchContainer .PatchDate Label
{
	font-size: 20px;
	color: #717383;
}

.PatchContainer .PatchTitle Label
{
	text-transform: uppercase;
	color: #e1e3f3;
	font-size: 40px;
	text-overflow: shrink;
	letter-spacing: 3px;
	font-weight: black;
	padding-top: 3px;
	padding-bottom: 10px;
}

.PatchNote_Root
{
	flow-children: down;
}

.PatchNote_UL
{
	flow-children: down;
	padding-left: 20px;
}

Panel.PatchNote_LI
{
	flow-children: down;
}

Label.PatchNote_Empty
{
	font-size: 12px;
	line-height: 12px;
}

.PatchNote_Root Label b
{
	font-weight: normal;
	color: #c1c3d3;
}

.PatchNote_Bullet
{
	color: #838596;
}