
DACRankIcon
{
	overflow: clip;
}

DACRankIcon.RankIconStyle_MiniProfile {
	
}

.RankTier1 #RankNumeral {
	margin-bottom: 78px;
}

.RankTier2 #RankNumeral {
	margin-bottom: 72px;
}

.RankTier3 #RankNumeral {
	margin-bottom: 63px;
}

.RankTier4 #RankNumeral {
	margin-bottom: 55px;
}

.RankTier5 #RankNumeral {
	margin-bottom: 48px;
}

.RankTier6 #RankNumeral {
	margin-bottom: 40px;
}

.RankTier7 #RankNumeral {
	margin-bottom: 32px;
}

.RankTier8 #RankNumeral {
	margin-bottom: 28px;
}

#RankNumeral
{
	width: 50px;
	height: 43px;
	margin-left: 1px;
	horizontal-align: center;
	vertical-align: bottom;
}

Image {
	width: 225px;
	height: 446.25px;
}


@keyframes 'PulseAnim3'
{
	0%
	{
		opacity: 0;
	}

	35%
	{
		opacity: 1;
	}

	65%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

.SegmentPulse
{
	animation-name: PulseAnim3;
	animation-delay: 0.0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	saturation: 2;
	brightness: 2;
}
