@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACNotifications
{
	z-index: -10;	

	width: 800px;
	height: 300px;

	horizontal-align: center;
	vertical-align: top;
}

.IsLayoutLargeScreen DACNotifications
{
	ui-scale: 80%;
}



.AegisIcon {
	visibility: collapse;
	width: 40px;
	height: 40px;
	vertical-align: center;
	margin-left: 25px;
}

.AegisUsed .AegisIcon {
	visibility: visible;
}

#NotificationsContainer
{
	width: 100%;
	height: fit-children;
	flow-children: up;
}

.ButtonContainer
{
	vertical-align: bottom;
	width: 100%;	
	height: 100px;
	background-color: grey;
	flow-children: right;
	padding: 10px;

	visibility: collapse;
}

.TurnThisOnForDevButtons
DACNotifications
{
	margin-top: 10px;
	height: 800px;
	width: 1000px;
}

.TurnThisOnForDevButtons
.ButtonContainer
{
	visibility: visible;
}

Button
{
	color: white;
	background-color: black;
	height: 90px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
}

Button:hover
{
	background-color: #444;
}

Button Label
{
	font-size: 20px;
	vertical-align: center;
}

#NotificationsContainer
{
	margin-top: 4px;
}

.NotificationItem {
	
	height: 60px;
	//margin-right: 40px; 
	margin-right: 10px;
	//border-radius: 2px;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.NotificationItem.CombatResult {
	background-color: none;
}

.NotificationItem.CombatResult #NotificationLabel {
	color: #fff;
	font-size: 28px;
}

.DuosMessage.NotificationItem
{
	//background-color: #222222fb;
	//border-right: 6px solid textAccent;
	//background-color: white;
	background-color: none;

	//temp for playtest
	//ui-scale: 110%;
	//margin-bottom: 10px;

}

.Combat .DuosMessage.NotificationItem
{
	//ui-scale: 120%;
}

.NotificationItem.NoRightFlow
{
	flow-children: none;
	padding-left: 0px;
	padding-right: 0px;
}


.NotificationItem.LocalPlayer
{	
	background-color: #111111dd;	
}

.Appear .NotificationItem {
	opacity: 1;
	transition-duration: 0.5s;
}


.Appear.NotificationItemContainer {
	transition-duration: 0.5s;
}

.FadeOut.NotificationItemContainer {
	width: 0.01px;
}

.FadeOut .NotificationItem
{
	opacity: 0;
	width:fit-children;
}

.LowVisualQuality .NotificationItem
{
	transition-duration: 0.0s;
	border-radius: 0px;
}

.NotificationItem.ChatMessage,
.NotificationItem.ChatWheelMessage
{
	min-height: 60px;
	height: fit-children;
}

.NotificationItem Label
{
	font-size: 24px;
	text-shadow: 0px 1px 0px 2.0 #000;
	color: #a8acca;
	vertical-align: center;

	//margin-top: 5px;
}

.IsLayoutSmallScreen .NotificationItem Label
{
	font-size: 28px;	
}

#PlayerAvatar
{
	width: 45px;
	height: 45px;
	//border: 2px #000000ff;
	border-radius: 20px;

	vertical-align: center;
	margin-right: 10px;
	margin-left: 3px;
}

.PlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
	font-weight: bold;
}

.HeroCombineStars2
{
	color: rank2Color;
}

.HeroCombineStars3
{
	color: rank3Color;
}

.CombineImg
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
	background-position: 0px, 0px;
	background-size: 16px 16px;
	background-repeat: no-repeat;

	width: 12px;
	height: 12px;
}

#Combine2Label, #Combine3Label
{
	visibility: collapse;
}

.Combine2 .NotificationItem #Combine2Label,
.Combine3 .NotificationItem #Combine3Label {
	visibility: visible;
}

.WinStreakCount
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #f3de98 ), to(#fefad1));
	font-weight: bold;
}

.CombatDamage
{
	color: #ff4e31;
	font-weight: bold;
}

.ChatMessageContents
{
	flow-children: down;
}

.NotificationItem .ChatMessageLabel
{
	//color: #8588a0;
	//font-size: 24px;
	//margin-top: -6px;
	font-size: 21px;
}


@keyframes 'RedFadeInEliminated'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124cc ), color-stop( .8, #5b1124cc ), to( #5b112400 ) );
	}
	
	50%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #720b26 ), color-stop( .8, #720b26 ), to( #5b112400 ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124cc ), color-stop( .8, #5b1124cc ), to( #5b112400 ) );
	}
}

.IsLayoutSmallScreen .NotificationItem.CombatLoseAway
{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.1, #5b1124aa ), color-stop( .9, #5b1124aa ), to( #5b112400 ) );

	animation-name: RedFadeIn;
	animation-duration: .3s;
	animation-iteration-count: 1;
		
}

@keyframes 'RedFadeIn'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b112400 ), color-stop( .8, #5b112400 ), to( #5b112400 ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #5b112400 ), color-stop( 0.2, #5b1124aa ), color-stop( .8, #5b1124aa ), to( #5b112400 ) );
	}
}

.NotificationItem.CombatWin
{
	background-color: #4c6fd475;
}

/* Knockout eliminated */

.NotificationItem.PlayerEliminated.Knockout #NotificationLabel {
	overflow: noclip;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 0;

	font-weight: bold;
	text-shadow: 0px 0px 0px 2.5 #000000FF;
	font-size: 28px;
	

	color: gradient(linear, 0% 0%, 0% 100%, from( #dcaba7 ), to( #bb665d ));
	//color: gradient(linear, 0% 0%, 0% 100%, from( #eee4b0 ), to( #c2b154 ));
}

.PlayerEliminated.Knockout #NotificationLabel {
	
	transition-duration: 200ms;
	transition-property: opacity, pre-transform-scale2d, transform;
	transition-timing-function: ease-in-out;
	opacity: 0;

	pre-transform-scale2d: 1.4;
	transform: rotateZ( 15deg );
	
}

 .AppearEffects .PlayerEliminated.Knockout #NotificationLabel {
	
	opacity: 1;

	pre-transform-scale2d: 1;
	transform: none;
}

/* win streaks */
.NotificationItem.WinStreak .TextContainer {
	flow-children: down;
}

.StreakPips {
	flow-children: right;
	height: 20px;
		overflow: noclip;
}

.NotificationItem.WinStreak #NotificationLabel {
	text-shadow: 1px 1px 0px 3.0 #000;
	font-size: 20px;
	height: 24px;
	
}

.WinStreak1 .NotificationItem.WinStreak #NotificationLabel  {
	color: #9bf1f6;
}

.WinStreak2 .NotificationItem.WinStreak #NotificationLabel  {
	color: #e6baf1;
}

.WinStreak3 .NotificationItem.WinStreak #NotificationLabel  {
	color: #ffe794;
}
/* Streak complete */
.WinStreak4 .NotificationItem.WinStreak #NotificationLabel  {
	color: #ffe794;
}

.WinStreak1 .NotificationItem.WinStreak .Win1 {
	visibility: visible;
}

.WinStreak2 .NotificationItem.WinStreak .Win2 {
	visibility: visible;
}

.WinStreak3 .NotificationItem.WinStreak .Win3 {
	visibility: visible;
}

.WinStreak4 .NotificationItem.WinStreak .Win4 {
	visibility: visible;
}

.StreakPip {
	width: 20px;
	height: 20px;
	opacity: 0;
	transition-duration: 200ms;
	transition-delay: 100ms;
	transition-property: opacity, pre-transform-scale2d, transform;

	visibility: collapse;

	background-image: url("s2r://panorama/images/notifications/chevron_blue_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	pre-transform-scale2d: 1.4;
	transform: translate3d( -20px, 0px, 0px );
	
}

.LowVisualQuality .StreakPip {
	pre-transform-scale2d: 1.0;
	transform: none;
}

.WinStreak2 .NotificationItem.WinStreak .StreakPip  {
	background-image: url("s2r://panorama/images/notifications/chevron_purple_png.vtex");
}

.WinStreak3 .NotificationItem.WinStreak .StreakPip {
	background-image: url("s2r://panorama/images/notifications/chevron_yellow_png.vtex");
}

/* Streak complete */
.WinStreak4 .NotificationItem.WinStreak .StreakPip {
	background-image: url("s2r://panorama/images/notifications/chevron_yellow_png.vtex");
}

/* Streak animations */
.AppearEffects .StreakPip  {
	opacity: 1;
	margin-left: 0;
	pre-transform-scale2d: 1.0;
	transform: none;
}

.StreakPip.Pip1 {
	transition-delay: 100ms;
}
.StreakPip.Pip2 {
	transition-delay: 200ms;
}
.StreakPip.Pip3 {
	transition-delay: 300ms;
}
.StreakPip.Pip4 {
	transition-delay: 400ms;
}
.StreakPip.Pip5 {
	transition-delay: 500ms;
}
.StreakPip.Pip6 {
	transition-delay: 600ms;
}
.StreakPip.Pip7 {
	transition-delay: 700ms;
}
.StreakPip.Pip8 {
	transition-delay: 800ms;
}

#UpvoteContainer
{
	margin-right: -10px;
	margin-top: -20px;
	horizontal-align: right;
	flow-children: right;
	ui-scale: 90%;
	//margin: 2px;
	
	height: 100%;
	width: fit-children;
}

#UpvoteButton
{
	width: 55px;
	//width: 80px;
	height: 100%;

	opacity: 0.2;
	saturation: 0;

	//background-size: 35px 35px;
	background-size: 45px 45px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");
}

.HasUpvoted #UpvoteButton
{
	opacity: 1.;
	saturation: 1.;
}

.FadeOut #UpvoteButton {
	visibility: collapse;
}

.UpvoteType
{
	width: 155px;
	height: 100%;

	//background-size: 35px 35px;
	background-size: 45px 45px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");
	//margin-left: -15px;
}

#DynamicUpvotes
{
	height: 100%;
	width: fit-children;
	flow-children: right;
}

DACNotifications DACParticleScenePanel {
	width: 2000px;
	height: 2000px;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

.NotificationItemContainer {
	overflow: noclip;
	flow-children: none;	
}	

.ParticleContainer {
	height: 100%;
	width: 100%;
	
	overflow: noclip;
}

.NotificationContent {
	flow-children: right;
	width: 100%;
	margin-left: 95px;
	margin-right: 95px;
}

#ParticleStreakLevel1,
#ParticleStreakLevel1Burst,
#ParticleStreakLevel2,
#ParticleStreakLevel2Burst,
#ParticleStreakLevel3,
#ParticleStreakLevel3Burst,
#ParticleStreakLevel4,
#ParticleStreakLevel4Burst {
	visibility: collapse;
}

.StreakLevel0 #ParticleStreakLevel1,
.StreakLevel0 #ParticleStreakLevel1Burst {
	visibility: visible;
}

.StreakLevel1 #ParticleStreakLevel1,
.StreakLevel1 #ParticleStreakLevel1Burst,
.StreakLevel2 #ParticleStreakLevel2,
.StreakLevel2 #ParticleStreakLevel2Burst,
.StreakLevel3 #ParticleStreakLevel3,
.StreakLevel3 #ParticleStreakLevel3Burst,
.StreakLevel4 #ParticleStreakLevel4,
.StreakLevel4 #ParticleStreakLevel4Burst {
	visibility: visible;
}


.StreakLevel1 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1a1b4900 ), color-stop( 0.2, #1a1b49ee ), color-stop( .8, #1a1b49ee ), to( #1a1b4900 ) );
}

.StreakLevel2 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5c1e8300 ), color-stop( 0.2, #5c1e83ee ), color-stop( .8, #5c1e83ee ), to( #5c1e8300 ) );
}

.StreakLevel3 .NotificationItem.WinStreak
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #875c1e00 ), color-stop( 0.2, #875c1eee ), color-stop( .8, #875c1eee ), to( #875c1e00 ) );
}

.StreakLevel4 .NotificationItem.WinStreakComplete {
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #875c1e00 ), color-stop( 0.2, #875c1eee ), color-stop( .8, #875c1eee ), to( #875c1e00 ) );
}

/* Level up */
.NotificationItem.LevelUp Label {
	background-color: #131313;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #b2b7db ) );
	border: 2px solid #555555;
	border-radius: 12px;
	padding: 13px 15px;
	color: #dedede;
	font-size: 24px;
	text-shadow: none;
	font-weight: bold;
	//text-transform: uppercase;
	//font-family: 'Ravenhook';
	//text-shadow: 1px 1px 0px #fff;
}

.NotificationItem.LevelUp #NotificationLabel {
	color: #fff;
}

/* Hero combine */

.NotificationItem.HeroCombine {
	vertical-align: middle;
}

.NotificationItem.HeroCombine .TextContainer {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e1e1e1 ), to( #6f6f6f ) );
	border: 3px solid #999999;
	border-radius: 15px;
	padding: 5px 15px;
	font-size: 20px;	
}

.NotificationItem.HeroCombine Label {
	color: #dddddd;
	text-shadow: 0px 0px 2 #000000;
	font-size: 20px;
	margin-top: -4px;
	margin-left: 5px;
	vertical-align: middle;

}

.NotificationItem #HeroImage {
	width: 40px;
	height: 40px;
	vertical-align: center;
}

.Combine3 .NotificationItem.HeroCombine .TextContainer {
	border-color: #ded39e;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #f7ec9f ), to( #cbac0d ) );
}

.Combine3 .NotificationItem.HeroCombine Label {
	color: #f1d20a;
	text-shadow: 0px 0px 2 #000000;
	vertical-align: middle;
}

/* Chat messages */
.NotificationItem.ChatMessage Label {
	background-color: #1983CF;
	border-radius: 7px;
	padding: 16px 15px;
	font-size: 20px;
	color: #fff;
}

/* Item acquire */
.NotificationItem.AcquiredItem .TextContainer, .NotificationItem.ItemChangedOwner .TextContainer {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dadada ), to( #e0e0e0 ) );
	border: 2px solid #ececec;
	border-radius: 15px;
	padding: 20px 15px 11px 35px;
	font-size: 28px;	
	margin-left: 18px;
}

.NotificationItem.AcquiredItem Label, .NotificationItem.ItemChangedOwner Label {
	color: #292929;
	text-shadow: 0px 0px 0px 0 #000;
	font-size: 20px;
	font-weight: semi-bold;
	margin-top: -10px;
}

.NotificationItem #ItemIcon {
	width: 50px;
	height: 50px;
	vertical-align: center;
	border: 2px solid #e8e8e8;
	border-radius: 25px;
	
}


/* Elimintated */
.NotificationItem.PlayerEliminated Label {
	background-color: #ae483a;
	border: 2px solid #d27970;
	border-radius: 7px;
	padding: 13px 0px;
	color: #fff;
	font-size: 20px;
}

.NotificationItem.PlayerEliminated #NotificationLabel {
	color: #dedede;
}

.KnockedOut
{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

/* Earned Gold */
.NotificationItem.EarnGold .GoldBg {
	border: 2px solid #f8efb1;
	background-color: #f1d20a;
	//background-image: url("s2r://panorama/images/notifications/gold_bg_psd.vtex");
	background-size: 100% 100%;
	color: #7f6b02;
	border-radius: 20px;
	width: 40px;
	height: 40px;
}

.NotificationItem.EarnGold .GoldBg Label
{
	font-size: 20px;
	color: #836f02;
	text-align: center;
	width: 46px;
	text-shadow: none;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: center;
}

.NotificationItem.EarnGold Label
{
	font-size: 32px;
	font-weight: bold;
	color: #f1d20a;
	margin-right: 2px;
}