DACSelectUnderlordPage
{
	width: 100%;
	height: 100%;
	background-size: 100%;
}

#ForegroundContainer
{
    width: 100%;
    height:100%;
    flow-children: down;
    horizontal-align: right;
}

#UnderlordSelectorContainer {
	width: 100%;
	height: 100%;
}


.UnderlordSelectorContainer {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

#UnderlordSelector {
	width: fit-children;
	height: 100%;
	
	flow-children: down;
}

.SelectedUnderlord .UnderlordSelectorContainer {
	opacity: 0;
}


#UnderlordSelectorContainer {
	flow-children: right;
}

#UnderlordsTitle {
	font-family: Ravenhook, Radiance;
	color: #fff;
	font-size: 48px;
	height: 50px;

	margin: 10px 0 0 25px;
}

.UnderlordItem {
	flow-children: down;
	width: fill-parent-flow(1.0);

	margin: 20px;
	
}

.UnderlordName {
	horizontal-align: center;
	font-family: Ravenhook, Radiance;
	color: #fff;
	font-size: 32px;
}

#UnderlordScenePanel {
	width: 100%;
	height: 600px;

}