@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACControlBattlePass 
{
	flow-children: down;
	visibility: collapse;
	horizontal-align: left;
	width: 100%;
}

.ProgressBarParticle {
	width: 100%;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.EventActive DACControlBattlePass,
.NeedsGC DACControlBattlePass,
.NeedsSteamLogin DACControlBattlePass,
.HUD_BattlePassProgressVisible DACControlBattlePass
{
	visibility: visible;
}

#SectionTitleArea
{
	width: 520px;
	z-index: 20;
	visibility: collapse;
	horizontal-align: right;
	vertical-align: center;
}

.HasEventData #SectionTitleArea
{
	visibility: visible;
}

.HideSectionTitle #SectionTitleArea
{
	visibility: collapse;
}


DACRewardsProtopassPage #SectionTitleArea,
DACRewardsBattlePassPage #SectionTitleArea 
{
	margin-right: 0px;
	padding-bottom: -12px;
	visibility: collapse;
}

.BattlePassTitle
{
	font-size: 32px;
	font-weight: black;
	color: textDark;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.IsLayoutSmallScreen DACRewardsProtopassPage .BattlePassTitle,
.IsLayoutSmallScreen DACRewardsBattlePassPage .BattlePassTitle 
{
	margin-right: 0px;
	padding-bottom: -12px;
	visibility: collapse;
}

#PlayerBPLevel
{
	
	
	visibility: collapse;
	
}


.HasEventData #PlayerBPLevel
{
	visibility: visible;
}

.BPLevelText
{
	color: #bdbdbd;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 0px;
	margin-right: -4px;
	letter-spacing: 2px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	visibility: collapse;
}

.BPLevel
{
	color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
	font-size: 40px;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 8px;
	padding-top: 12px;
	vertical-align: bottom;
	text-shadow: 0px 0px 0px 2.8 #000000dd;
	text-align: center;
	
	background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	width: 100px;
	height: 100px;
}

.Shield0 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
}

.Shield1 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_bronze_tier_psd.vtex");
}

.Shield2 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_silver_tier_psd.vtex");
}

.Shield3 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_gold_tier_psd.vtex");
}

.Shield4 .BPLevel
{
	background-image: url("s2r://panorama/images/dashboard/rank_platinum_tier_psd.vtex");
}

.HeaderPlayerInfo .BPLevel
{
	color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
	font-size: 32px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	
	margin-top: 8px;
	margin-right: 12px;
	margin-left: -48px;
	font-weight: bold;
	vertical-align: center;
	text-shadow: 0px 2px 0px 2.0 #000000;
	text-align: center;
	
	width: 64px;
	height: 54px;
	
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#fff));

}



.BPXPLabel
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 18px;
	font-weight: black;
	margin: 2px 0px 0px 4px;
	vertical-align: center;
	text-overflow: shrink;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}


#BattlePassProgress
{
	width: 520px;
	
	flow-children: right;
	padding-top: 20px;
	
	

	z-index: 10;
	brightness: 1.4;
	visibility: collapse;
}

/*Styling for home screen - needs to be cleaned up as design is finalized */

DACControlBattlePass.OnDACHomePage
{
    ui-scale: 75%;
    margin-top: 0px;
    horizontal-align: left;
}

.OnDACHomePage #BattlePassProgress
{
    background-image: none;
    background-color: none;
    box-shadow: none;
    padding-top: 0px;
    width: 504px;
}

.OnDACHomePage #PlayerBPLevel
{
    
}

.OnDACHomePage .BPLevelProgressContainer
{
	margin-top: 10px;
}

.OnDACHomePage .PlayerProgressContainer
{
    margin-top: 8px;
}

.OnDACHomePage .BattlePassCurrentLevelProgress
{
    color: #948b62;
    text-shadow: none;
    font-size: 32px;
    font-weight: black;
    margin-top: -4px;
}

.OnDACHomePage .BPXPLabel
{
    color: #948b62;
    text-shadow: none;
    font-size: 32px;
    margin-top: -4px;
}

/*End home styling*/

.HasEventData #BattlePassProgress
{
	visibility: visible;
}

.OnRewardsPage #BattlePassProgress
{
    margin-right: 0px;
}

#PlayerBPBackgroundTop
{
	width: 500px;
	height: 48px;
}


#PlayerBPBackgroundBottom
{
	width: 500px;
	height: 40px;
}

.BPBottomRow
{
	margin-top: 40px;
	flow-children: none;
}

.BPLevelProgressContainer
{
	flow-children: right;
	margin-left: -2px;
	margin-top: 4px;
}

.BattlePassCurrentLevelProgress
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 24px;
	font-weight: black;
	text-transform: uppercase;
	//horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
	letter-spacing: 1px;
	text-align: right;
	margin-right: 1px;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}

DACDailyChallenge
{
	width: 100%;
}

DACRewardsProtopassPage DACDailyChallenge
{
	margin-right: 0px;
}

#QuestLevelContainer
{
	flow-children: down;
}

.NeedsGC #QuestLevelContainer,
.NeedsSteamLogin #QuestLevelContainer
{
	visibility: collapse;
}

#MainNav #QuestLevelContainer
{
    margin-left: safe-area-inset-left;
}


.DailyChallenge
{
	flow-children: down;
	
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#2c2e37cc), to(#00000000));
	padding: 10px 24px 45px 24px;
	horizontal-align: right;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
}

.IsBattlePassGame.HasEventData .DailyChallenge
{
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#2c2e37ee), to(#000000ee));
	margin-bottom: 20px;	
}

#TopRow .DailyChallenge
{
	padding-bottom: 12px;	
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#2c2e37ee), to(#000000ee));
	margin-bottom: 12px;
}


.ChallengeTitle {
	color: #4b4e5d;
	font-size: 24px;
	font-weight: black;
	text-transform: uppercase;
	margin-top: 4px;
}

.ChallengeSlot2 .DailyChallenge
{

}

.Claimed .DailyChallenge
{
}

.DailyChallengeContainer
{
	flow-children: down;
	width:  100%;
}




//treatment when challenge is complete and reward is claimed

.Claimed .DailyChallengeDesc
{
	color: #606374;
}

.Claimed .RewardBackground
{
	visibility: collapse;
}


.DailyChallengeComplete
{
	color: #606374;
	font-size: 52px;
	text-transform: uppercase;
	horizontal-align: left;
	z-index: 20;
	visibility: collapse;
	height: 64px;
	width: 328px;
}

.Claimed .DailyChallengeComplete
{
	visibility: visible;
}

.DailyChallengeRewardContainer,
.ChallengeRewardContainer
{
	
	width: 100%;
	
	flow-children: right;
	
	
}

.ChallengeRewardContainer
{
	
}

#ChallengeList DACDailyChallenge .ChallengeRewardContainer
{
	visibility: visible;
}

.RewardIcon
{
	width: 35px;
	height: 35px;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-image: url("s2r://panorama/images/dashboard/gem_icon_png.vtex");
	background-color: black;
	wash-color: gold;
}

.RewardsAboutHeader
{
	margin-top: 50px;
	horizontal-align: center;
}

.DailyChallengeReward,
.DailyChallengeRewardPlacement,
.ChallengeReward
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 24px;
	font-weight: black;
	text-transform: uppercase;
	vertical-align: center;
	letter-spacing: 1px;
	text-align: right;
	margin-left: -1px;

	text-shadow: 1px 2px 0px 1.0 #00000099;
}

.DynamicReward .DailyChallengeReward
{
	width: 300px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
}  

.DynamicReward .DailyChallengeRewardPlacement
{
	width: 200px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
}

.DailyChallengeDesc
{
	color: #c7dbda;
	font-size: 24px;
	vertical-align: center;
	width: 440px;
	text-overflow: shrink;
}

.DailyChallengeDescContainer
{
	height: 64px;
	vertical-align: center;
} 

.ProgressRemaining
{
	
	font-size: 52px;
	color: #c7dbda;
	horizontal-align: left;
	text-overflow: shrink;
	z-index: 20;
	letter-spacing: 1px;
	width: 328px;
	height: 64px;
}

.IsLayoutSmallScreen .ProgressRemaining, .IsLayoutSmallScreen .DailyChallengeComplete
{
	width: 300px;
}

.Claimed .ProgressRemaining
{
	visibility: collapse;
}

.DailyChallengeDescContainer
{
	flow-children: down;
	
}

.ProgressBars
{
	width: 100%;
	overflow: noclip;
	background-color:#000;
	padding: 2px;
	horizontal-align: center;
	margin: 0px 20px 0px 20px;
}

#PlayerProgress,
.DailyChallengeProgressBar
{
	
	height: 16px;
	width: 100%;
}

.PlayerProgressContainer {
	margin-top: 10px;
	padding: 2px;
	
	width: 420px;

	flow-children: down;
	margin-right: 18px;
}

#PlayerProgress
{
	background-color: #2b2d36;
	width: 316px;
}

.OnDACHomePage #PlayerProgress
{
	background-color: #21232a;
	width: 100%;
}

ParticleProgressBar {
	overflow: noclip;
	flow-children: none;
}

#ChallengeProgress
{

}

.DailyChallengeProgressBar
{
	vertical-align: top;
	
	background-color: #0e101b;
	
	height: 6px;
	//visibility: collapse;
}

.DailyChallengeProgressBar .ProgressBarParticle {
	height: 100%;
	overflow: noclip;
	opacity: .6;
	
}

#PlayerProgress .ProgressBarParticle {
	height: 100%;
	opacity: .15;
	overflow: noclip;
	
}

#PlayerProgress_Left
{
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#D39614), to(#f6cd40));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #fefb4d;
	border-bottom: 1px solid #b13a1c;
	border-right: 1px solid #fefb53;
}

#ChallengeProgress_Left
{
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
}

#InGameChallengeProgress_Left
{
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
	border-left: 1px solid #522848;

	background-color: #806d99;
}

#PlayerRankProgressBar 
{
    width: 200px;
    height: 14px;
		//overflow: noclip;
		background-color: #1e2027;
		border: 2px solid #000000;
		width: 240px;
		horizontal-align: center;
		horizontal-align: left;
}

#PlayerRankProgressBar_Left
{
	//background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000033;
	border-right: 1px solid #ffffff22;
}

.MinorRank1 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}


#PlayerProgress_Right,
#InGameChallengeProgress_Right,
#ChallengeProgress_Right
#PlayerRankProgressBar_Right
{
	//background-color: #0e101b;
	opacity: 0.001;
}

#QuestItemContainer
{
    flow-children: down;
    background-size: 100%;
    background-position: top;
    horizontal-align: right;
    visibility: collapse;
	width: 100%;
}

.HasEventData #QuestItemContainer
{
	visibility: visible;
}

.HideQuests #QuestItemContainer
{
	visibility: collapse;
}

#BattlePassProgress
{
	//flow-children: down;
}

#BattlePassProgress #PlayerProgress
{
	visibility: visible;
}




.DailyChallengeRerollButton
{
	visibility: visible;
	width: 72px;
	height: 72px;

	background-image: url("s2r://panorama/images/shop/reroll_button_psd.vtex");
	background-size: 100%;
	horizontal-align: right;
	vertical-align: bottom;	

	transition-property: brightness, opacity;
	transition-duration: .2s;
	
	vertical-align: center;
	
	opacity: .1;
}

.IsBattlePassGame.HasEventData .DailyChallengeRerollButton
{
	visibility: collapse;
}

.RerollAvailable .DailyChallengeRerollButton
{
	opacity: 1.0;
	brightness: 0.7;
}

.RerollAvailable .RerollContainer:hover .DailyChallengeRerollButton,
.RerollAvailable .RerollContainer:hover .RerollLabel
{
	brightness: 1.5;
}

#RewardsAboutButton
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	vertical-align: top;	
	background-image: url("s2r://panorama/images/shop/shop_info_icon_psd.vtex");
	background-size: 100%;

	transition-property: brightness;
	transition-duration: .2s;
	visibility: collapse;
}

#RewardsAboutButton:hover
{
	brightness: 1.5;
}

DACRewardsProtopassPage #RewardsAboutButton,
DACRewardsBattlePassPage #RewardsAboutButton 
{
	visibility: collapse;
}

.HUD_BattlePassProgressVisible #RewardsAboutButton,
.MenuButtonsVisible #RewardsAboutButton
{
	visibility: collapse;
}

.RewardsAbout
{
	flow-children: down;
}

.RewardsAbout Label
{
	font-size: 28px;
	padding: 0px 16px;
	color: white;
}

#DynamicRewardsContainer
{
	//visibility: collapse;
	margin-top: 30px;
	flow-children: down;
	horizontal-align: center;
}

.DynamicReward
{
	flow-children: right;
}

#RerollAtText
{
	margin-left: 20px;
	visibility: visible;
}

.ClaimContainer
{
	
	horizontal-align: right;
	visibility: collapse;
}

.RerollContainer {
	horizontal-align: right;
	width: 72px;
	ui-scale: 74%;
	margin-top: 4px;
}

.IsLayoutSmallScreen .RerollContainer
{
	ui-scale: 100%;
	margin-top: -8px;
}

.ChallengeNameContainer {
	flow-children: right;
	width: 100%;
}

.RerollAvailable #RerollAtText,
.Claimable #RerollAtText
{
	visibility: collapse;
}

.RerollAvailable.CanReroll .RerollContainer
{
	visibility: visible;
}

.Claimable .RerollContainer
{
	visibility: collapse;
}

.Claimable .ClaimContainer
{
	visibility: visible;
	vertical-align: center;
}

.DailyChallengeClaimButton
{
	width: 45px;
	height: 45px;
	background-image: url("s2r://panorama/images/hud/claim_button_psd.vtex");
	background-size: 100%;
	horizontal-align: left;
	vertical-align: top;
	margin-top:2px;	

	transition-property: brightness;
	transition-duration: .2s;
}

.DailyChallengeClaimFX
{
	width: 100%;
	height: 126%;
	margin-left: -2px;
	margin-top: -2px;
}

#DailyChallengeClaimButtonContainer
{
	
	visibility: collapse;
	overflow: noclip;
	background-color: gradient( linear, 0% 90%, 0% 0%, from( #836218 ), to( #4a370e) );
	height: 40px;
	border: 2px solid #fbbc2e ;
	text-overflow: shrink;
	visibility: visible;
	opacity: 1.0;
	vertical-align: center;
}

.ClaimContainer:hover .DailyChallengeClaimButton,
.ClaimContainer:hover .RerollLabel
{
	brightness: 1.5;
}

#ChallengeList DACDailyChallenge
{
	height: 120px;
}

#ChallengeList DACDailyChallenge .LowerContainer
{
	visibility: collapse;
}

#ChallengeList .DailyChallengeContainer
{
	height: 80px;
}


.RerollLabel
{
	color: #8588a0;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	vertical-align: center;
	letter-spacing: 1px;
	margin-left: 4px;
	margin-top: 4px;

	transition-property: brightness;
	transition-duration: .2s;
}

.IsPlatformMobile .RerollLabel
{
	font-size: 22px;
}

#RerollClaimableText
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-weight: black;
	font-size: 24px;
	padding: 2px 20px 2px 20px;
	margin: 0px;
}

.UpperContainer
{
	
	width:  100%;
	flow-children: down;
}

.LowerContainer
{
	
	width:  100%;
	flow-children: down;
}

.RerollContainer,
.ClaimContainer
{
	flow-children: right;
}

.HUD_BattlePassProgressVisible .RerollContainer,
.HUD_BattlePassProgressVisible .ClaimContainer
{
	visibility: collapse;
}

.InGameProgressLegend
{
	height: 50px;
	width: 100%;

	visibility: collapse;
}

.HUD_BattlePassProgressVisible .InGameProgressLegend
{
	visibility: collapse;
	flow-children: right;
}

.InGameProgressColorSwatch
{
	height: 15px;
	width: 40px;
	vertical-align: center;

	margin-left: 10px;
	margin-bottom: 5px;
	
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 1px solid #8d60c6;
	border-left: 1px solid #522848;

	background-color: #806d99;
}

#InGameChallengeProgress
{
	visibility: collapse;
}

.HUD_BattlePassProgressVisible #InGameChallengeProgress
{
	visibility: visible;
}

.InGameProgressLegendDesc
{
	color: #8588a0;
	font-size: 24px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	margin-left: 22px;
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: 0px;
	width: 460px;
	text-overflow: shrink;
}

.RewardBackground
{
	width: 132px;
	height: 100%;
	//background-image: url("s2r://panorama/images/battle_pass/xp_bg_psd.vtex");
	background-position: left;
	horizontal-align: right;
}

#ErrorContainer
{
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	flow-children: down;
	//background-image: url("s2r://panorama/images/dashboard/challenge_bg_psd.vtex");
	background-size: 100%;
	background-position: top;
	margin-top: -24px;

	visibility: collapse;
	width: 500px;
	//horizontal-align: right;
	padding-left: safe-area-inset-left;

}


DACRewardsProtopassPage #ErrorContainer,
DACRewardsBattlePassPage #ErrorContainer 
{
	margin-top: 0px;
}

#ProtoPassLogo_Error {
	background-image: url("s2r://panorama/images/battle_pass/protopass_logo_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 400px;
	height: 100px;
	margin-bottom: -10px;
	/*horizontal-align: center;*/

}

.ConnectToSteamText
{
	color: #bdbdbd;
	font-size: 26px;
	/*font-weight: bold;*/
	/*text-transform: uppercase;*/
	vertical-align: top;
	padding: 10px;
	letter-spacing: 0.5px;
	text-shadow: 1px 2px 0px 2.0 #00000066;
}

.ErrorTitle {
	font-size: 30px;
	color: #ffffff;
	font-weight: black;
	margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-overflow: shrink;
}

#ConnectToSteamContainer,
#ReconnectToSteamContainer
{
	flow-children: down;
}

#GCErrorContainer,
#ConnectToSteamContainer,
#ReconnectToSteamContainer
{
	visibility: collapse;
}

.NeedsGC #QuestLevelContainer
{
	visibility: collapse;
}

.NeedsGC #ErrorContainer,
.NeedsSteamLogin #ErrorContainer
{
	visibility: visible;
}

.HasEventData #ConnectToSteamContainer,
.NeedsGC.NeedsSteamLogin #GCErrorContainer
{
	visibility: collapse;
}

.NeedsSteamLogin #ConnectToSteamContainer,
.NeedsSteamLogin.HasCredential #ReconnectToSteamContainer
{
	visibility: visible;
}

.NeedsSteamLogin.HasCredential #ConnectToSteamContainer
{
	visibility: collapse;
}

.NeedsGC #GCErrorContainer
{
	visibility: visible;
}


#MainContent,
#ErrorContent
{
	flow-children: down;
	width: 100%;
}

.PostGameBPControl #BattlePassProgress,
.PostGameBPControl #PlayerBPLevel
{
	visibility: collapse;
}

.SectionTitle
{
	font-size: 32px;
	font-weight: black;
	color: textDark;
	text-transform: uppercase;
	margin-bottom: 12px;
}

#PreMatchContainer #RankIcon
{
	ui-scale: 80%;
	margin-top: 32px;
}

#TopRow #BattlePassProgress
{
	padding-top: 12px;
}


