@import url("file://{resources}/styles/battle_pass/current_battlepass.css");


/* Container for hero/item panels with scroll lists */
.HeroesTabPageContainersMultiple {
	/*margin-top: 80px;*/
	width: 100%;
	height: 100%;
	padding-top: 180px;
}

PopupHeropedia .HeroesTabPageContainersMultiple {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

/* hero/item panels with scroll lists*/
.HeroesTabPageContainer {
	width: 100%;
	height: 100%;
	overflow: clip scroll;
	flow-children: down;
	visibility: collapse;
}

/* scroll down list of composite elements i.e. tiers/synergies/types */
.HeropediaList {
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-right: 26px;
}

#CreepsTabContainer
{
	padding-top: 180px;
}
#CreepList
{	
	overflow: clip scroll;
}

#SectionName {
	font-size: 110px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background-color: #000;
	padding: 0px 24px -11px 30px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000;
	margin-top: 15px;
	margin-left: 5px;
	/*color: gradient(linear, 0% 50%, 0% 100%, from( #ffffff ), to( #95a5bc ));*/
	/*text-shadow: 0px 1px 0px 3.0 #999;*/
	/*opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;*/
}

#SectionType {
	horizontal-align: center;
	color: #000000;
	font-size: 32px;
	font-weight: black;
	text-transform: uppercase;
	transform: rotatez(-3deg);
	background-color: #ffffff;
	padding: 4px 16px 2px 18px;
	letter-spacing: 2px;
	box-shadow: 0px 0px 2px #ffffff;
	margin-bottom: 20px;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 125px;
}

    .ByTier {
        margin-top: 125px;
    }

    .ByName {
        margin-top: 125px;
    }

    #SectionType .ByAlliance {

    }

/* main container */
.HeropediaList .MainContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

/* top row */
.HeropediaList .HeaderContainer {
	/*height: 80px;*/
	width: 100%;
	flow-children: right;

	/*background-color: #ffffff;*/
	padding: 0px 30px 0px 10px;
	/*background-color: gradient(linear, 0% 0%, 100% 100%, from( #000000 ), to( #00000000 ));*/
}

.HeropediaList .HeaderContainer .HeaderLabel {
	color: #ffffff;
	font-size: 36px;
	letter-spacing: 3px;
	text-overflow: clip;
	font-weight: black;
	vertical-align: middle;
	text-align: left;
	line-height: 18px;
	text-transform: uppercase;
	visibility: collapse;
	width: 100%;
	text-shadow: 0px 1px 0px 3.0 #000;
}

.HeropediaList .Tier1.HeaderContainer .HeaderLabel,
.Tier1 #Tier1Header,
.Tier2 #Tier2Header,
.Tier3 #Tier3Header,
.Tier4 #Tier4Header,
.Tier5 #Tier5Header,
.Tier6 #Tier6Header,
.Tier7 #Tier7Header,
.Tier8 #Tier8Header {
	visibility: visible;
	background-size: 100%;
	background-position: left;
	height: 110px;
	width: 1124px;
	padding-top: 18px;
	padding-left: 64px;
	margin-left: -32px;
}

#Tier1Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-default-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( rgb(136, 136, 136) ), to(#fff));
}

#Tier2Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier2-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( #5CCF59 ), to(#fff));
}

#Tier3Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier3-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( #5990FF ), to(#fff));
}

#Tier4Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier4-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( #E347FF ), to(#fff));
}

#Tier5Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier5-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( #FE9643 ), to(#fff));
}

#Tier6Header
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier5-bg_png.vtex");
	color: gradient(linear, 0% 0%, 0% 100%, from( #FE9643 ), to(#fff));
}

    /* everything under the line */
    .HeropediaList .BodyContainer {
        width: 100%;
        height: fit-children;
        flow-children: right;
    }

    /* hero icons go in here */
    .HeropediaList .HeroList {
        max-width: 1600px;
        width: fill-parent-flow( 1.0 );
        height: fit-children;
        padding-bottom: 30px;
	    flow-children: right-wrap;
    }

    .HeropediaList .HeroContainer {
        width: 200px;
        height: fit-children;
        margin: 10px;
        flow-children: down;
    }

.HeropediaList .HeroContainer .Icon:hover {
	brightness: 2;
}

.HeropediaList .HeroContainer .Icon {
	width: 180px;
	height: 180px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	horizontal-align: center;
	box-shadow: fill #00000030 0px 0px 10px 8px;
	opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;
	transition-property: brightness;
	transition-duration: .2s;
}

.HeropediaList #ItemList .HeroContainer .Icon
{
	opacity-mask: none;
}

.HeropediaList .HeroContainer #SynergyCapsule {
	ui-scale: 50%;
	horizontal-align: center;
	margin-top: -30px;
	margin-left: 5px;
}

.HeropediaList .HeroContainer Label {
	horizontal-align: center;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#fff));
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-weight: semi-bold;
	text-shadow: 0px 1px 0px 3.0 #000;
}

#SynergyCapsulePC {
	ui-scale: 80%;
	horizontal-align: center;
	visibility: visible;
}

.IsLayoutSmallScreen #SynergyCapsulePC {
	visibility: collapse;
}

#SynergyCapsuleMobile {
	visibility: collapse;
}

.IsLayoutSmallScreen #SynergyCapsuleMobile {
	ui-scale: 50%;
	horizontal-align: center;
	visibility: visible;
}

#TierPanel {
	width: 60px;
	height: 60px;
	margin: 10px 20px 10px 10px;
	/* background-color: gradient(linear, 0% 0%, 40% 100%, from(#444444), to(#222222)); */
	border-top: 2px solid #ffffff11;
	border-left: 2px solid #ffffff05;
	border-right: 2px solid #877fc309;
	border-bottom: 2px solid #877fc311;
	visibility: collapse;
}

#TierPanel Label {
	margin-top: -4px;
	color: white;
	font-size: 55px;
	letter-spacing: 1px;
	text-overflow: clip;
	font-weight: semi-bold;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px 5.0 #101010;
}

.Tier1 #TierPanel {
	wash-color: #dedbca;
}

.Tier2 #TierPanel {
	wash-color: #81fc9e;
}

.Tier3 #TierPanel {
	wash-color: #81defc;
}

.Tier4 #TierPanel {
	wash-color: #ff9afe;
}

.Tier5 #TierPanel {
	wash-color: #fc9f45;
}

.UnitCost6 #CostContainer
{
	visibility:collapse;
}
#CostContainer {
	width: 50px;
	height: 50px;
	z-index: 100;
	margin-left: -18px;
	background-image: url("s2r://panorama/images/heropedia/section-header-default-bg_png.vtex");
	background-size: 100%;
}

.UnitCost2 #CostContainer {
	background-image: url("s2r://panorama/images/heropedia/section-header-tier2-bg_png.vtex");
}

.UnitCost3 #CostContainer {
	background-image: url("s2r://panorama/images/heropedia/section-header-tier3-bg_png.vtex");
}

.UnitCost4 #CostContainer {
	background-image: url("s2r://panorama/images/heropedia/section-header-tier4-bg_png.vtex");
}

.UnitCost5 #CostContainer {
	background-image: url("s2r://panorama/images/heropedia/section-header-tier5-bg_png.vtex");
}

.IsCreep #CostContainer {
	visibility: collapse;
}

/* #CostNumber {
	font-size: 24px;
	horizontal-align: right;
	margin-right: 4px;
	color: #f3efd9;
	font-weight: semi-bold;
	margin-top: -2px;
} */

.UnitCost1 #CostNumber {
	color: gradient(linear, 0% 0%, 0% 100%, from(#dedbca), to(#fdfcf8));
}

.UnitCost2 #CostNumber {
	color: gradient(linear, 0% 0%, 0% 100%, from(#81fc9e), to(#d2ffdd));
}

.UnitCost3 #CostNumber {
	color: gradient(linear, 0% 0%, 0% 100%, from(#81defc), to(#e3f8ff));
}

.UnitCost4 #CostNumber {
	color: gradient(linear, 0% 0%, 0% 100%, from(#ff9afe), to(#ffdfff));
}

.UnitCost5 #CostNumber {
	color: gradient(linear, 0% 0%, 0% 100%, from(#fc9f45), to(#ffd0a2));
}


/* overrides */

/* box with dropdown */
DropDown {
    font-size: 30px;
    horizontal-align: right;
    height: 60px;
    margin-top: 280px;
    margin-right: 120px;
    padding: 5px;
    width: 400px;
}

#DropDown
{
	visibility: collapse;
	
}
.ShowDropdown #DropDown
{
	visibility: visible;
}

/* text in box */
.DropDownChild {
	font-size: 40px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-overflow: shrink;
	brightness: 0.7;
	color: white;
}

/* pull down menu with options */
DropDownMenu.DropDownMenuVisible.IsLayoutSmallScreen {
	width: 100%;
	height: 100%;
	max-height: 100%;
	horizontal-align: center;
	font-size: 60px;
	transition-property: transform;
	max-height: 100%;
	horizontal-align: center;
	transition-property: transform;
	background-color: #000000F0;
}

/* option in pull down menu */
DropDownMenu .DropDownChild {
	font-size: 30px;
	margin-right: 26px;
	brightness: 0.7;
}

.IsLayoutSmallScreen .DropDownChild {
	background-color: #00f00000;
	font-size: 80px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-align: center;
	text-overflow: shrink;
	brightness: 0.7;
	color: white;
}

.IsLayoutSmallScreen .DropDownChild:hover {}

.IsLayoutSmallScreen DropDown .DropDownChild:hover {
	letter-spacing: 0px;
	color: white;
}

.IsLayoutSmallScreen .DropDownChild:active {
	letter-spacing: 10px;
	color: gradient(linear, 0% 50%, 0% 100%, from(#ffffff), to(#95a5bc));
}

.IsLayoutSmallScreen DropDown .DropDownChild:active {
	letter-spacing: 0px;
	color: white;
}

/* end overrides */



/* Scroll Bars */
VerticalScrollBar,
HTMLVerticalScrollBar {
	width: 26px;
	margin: 0px, 8px, 0px 8px;
	border-radius: 0px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	/*box-shadow: fill #00000055 -3px 0px 3px 4px;*/
	horizontal-align: right;
	vertical-align: center;
	transition-property: transform;
}

VerticalScrollBar .ScrollThumb,
HTMLVerticalScrollBar .ScrollThumb {
	width: 26px;
	min-height: 32px;
	/*need to get the scrollthumb to hit the bottom of the scrollbar background-color: #566767;*/
	border-top: 1px solid #aaaaaa22;
	border-right: 1px solid #000000aa;
	transition-property: position;
	background-color: #242425aa;
	/*#566767;*/
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #3e4446 ), to( #33383a ) );*/
	transition-property: background-color, transform;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

VerticalScrollBar:hover .ScrollThumb,
HTMLVerticalScrollBar:hover .ScrollThumb {
	background-color: #242425cc;
	brightness: 1.2;
}

VerticalScrollBar:active .ScrollThumb,
HTMLVerticalScrollBar:active .ScrollThumb {
	background-color: #242425ff;
	brightness: 1.4;
}


VerticalScrollBar,
VerticalScrollBar .ScrollThumb,
HTMLVerticalScrollBar .ScrollThumb {
	/*The transition duration and timing function must match constants used in code: // k_flScrollTransitionTime, k_flScrollTransitionFunc, so dont change without talking with a dev transition-duration: 0.20s;*/
	transition-timing-function: ease-in-out;
}