.ChallengeSnippetPanel
{
	height:240px;
	width:fill-parent-flow(.5);
	flow-children:down;	
	margin-bottom:12px;	
	background-color: gradient (linear, 0% 0%, 0% 100%, from(#4f568d33), to(#4f568d14));
	padding:20px 32px;
}

.ChallengeText
{
	horizontal-align: left;
	text-overflow: clip;	
	text-align: left;	
	width:100%;	
	color: #F4F4F4;
	font-size: 28px;
	text-shadow: 1px 2px 0px 1.0 #000000FF;
}

.Title
{
	font-size:32px;
}

.Desc
{
	font-size: 28px;
	color: #F4F4F499;
	text-overflow: shrink;
	z-index: 20;
	width: 100%;
	height: 70px;
	margin-top: 12px;
}

.ChallengesUnavailable .ChallengeSnippetPanel
{	
	background-color:#220000;
}

.UnderlordHeader
{
	horizontal-align:center;
	height:200px;
	width:200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	horizontal-align: right;
	margin-right: -26px;
	margin-top: -12px;
}

#AnessixHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_1_0_png.vtex"); }
#JullHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_2_0_png.vtex"); }
#EnnoHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_3_0_png.vtex"); }
#HobgenHeader{	background-image: url("s2r://panorama/images/hud/dac_profile_avatar_4_0_png.vtex"); }

#ChallengeProgress_Left
{
	background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #7b54ad;
	border-bottom: 1px solid #522848;
	border-right: 2px solid white;
}

#InGameChallengeProgress_Left
{
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

#InGameChallengeProgress_Right,
#ChallengeProgress_Right
{
	opacity: 0.001;
}

.ChallengeProgressContainer
{
	width:100%;
	height:10px;
	flow-children:none;	
	margin:5px 0px;	
}

.ChallengeSnippetPanel .ProgressBars
{	
	width:60%;
	overflow: noclip;
	background-color:#000;
	horizontal-align: left;	
	vertical-align: center;
	height:100%;
	margin:0px;	
}

.IsRecommended.ChallengeSnippetPanel
{
	border-color:#f0a351;
	border:5px;
}

#MostRecentText
{	
	font-size: 24px;
	color:#d9dcf6;
	text-shadow: 0px 0px 0px 3.0 #4242b433;
	visibility: collapse;
}

.IsRecommended #MostRecentText
{
	visibility: visible;
}

.ChallengeSnippetPanel .DailyChallengeProgressBar
{
	height:100%;
	width:100%;
}

.ChallengeProgressText
{
	color: #F4F4F499;
	font-size: 52px;
	font-weight: semi-bold;
	vertical-align: center;
	text-align: left;
	text-shadow: 1px 2px 0px 1.0 #000000FF;
	text-overflow: shrink;	
	width: 100%;
	height:70px;
}

.ProgressBarParticle {
	width: 100%;
	height: 100%;
	z-index: 2;
}

.DailyChallengeProgressBar .ProgressBarParticle {
	height: 100%;
	overflow: noclip;
	opacity: .6;
}

.HideProgress .ChallengeProgressText,
.HideProgress .ChallengeProgressContainer
{
	visibility: collapse;
}

.HideProgress .Desc
{
	font-size:28px;
	color: #F4F4F499;
}

.ChallengeSynergyInventors
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
	wash-color: mechColor;
}

.ChallengeSynergyDemonHunters
{
	background-image: url("s2r://panorama/images/synergyicons/demonhunter_psd.vtex");
	wash-color: demonhunterColor;
}

.ChallengeSynergyDemons
{
	background-image: url("s2r://panorama/images/synergyicons/demon_psd.vtex");
	wash-color: demonColor;
}

.ChallengeSynergyBrawny
{
	background-image: url("s2r://panorama/images/synergyicons/orc_psd.vtex");
	wash-color: orcColor;
}

.ChallengeSynergyWarlocks
{
	background-image: url("s2r://panorama/images/synergyicons/warlock_psd.vtex");
	wash-color: warlockColor;
}

.ChallengeSynergyAssassins
{
	background-image: url("s2r://panorama/images/synergyicons/assassin_psd.vtex");
	wash-color: assassinColor;
}

.ChallengeSynergyTroll
{
	background-image: url("s2r://panorama/images/synergyicons/troll_psd.vtex");
	wash-color: trollColor;
}

.ChallengeSynergyScrappy
{
	background-image: url("s2r://panorama/images/synergyicons/goblin_psd.vtex");
	wash-color: goblinColor;
}

.ChallengeSynergyScaled
{
	background-image: url("s2r://panorama/images/synergyicons/naga_psd.vtex");
	wash-color: nagaColorBright;
}

.ChallengeSynergyKnights
{
	background-image: url("s2r://panorama/images/synergyicons/knight_psd.vtex");
	wash-color: knightColor;
}

.ChallengeSynergyOgre
{
	background-image: url("s2r://panorama/images/synergyicons/bloodbound_psd.vtex");
	wash-color: ogreColor;
}

.ChallengeSynergyDragon
{
	background-image: url("s2r://panorama/images/synergyicons/dragon_psd.vtex");
	wash-color: dragonColor;
}

.ChallengeSynergyPrimordial
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
	wash-color: elementColor;
}

.ChallengeSynergyHunters
{
	background-image: url("s2r://panorama/images/synergyicons/hunter_psd.vtex");
	wash-color: hunterColor;
}

.ChallengeSynergyHuman
{
	background-image: url("s2r://panorama/images/synergyicons/human_psd.vtex");
	wash-color: humanColor;
}

.ChallengeSynergyDruid
{
	background-image: url("s2r://panorama/images/synergyicons/druid_psd.vtex");
	wash-color: druidColor;
}

.ChallengeSynergySavage
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
	wash-color: beastColor;
}

.ChallengeSynergyWarriors
{
	background-image: url("s2r://panorama/images/synergyicons/warrior_psd.vtex");
	wash-color: warriorColor;
}

.ChallengeSynergyElusive
{
	background-image: url("s2r://panorama/images/synergyicons/elf_psd.vtex");
	wash-color: elfColor;
}

.ChallengeSynergyShaman
{
	background-image: url("s2r://panorama/images/synergyicons/shaman_psd.vtex");
	wash-color: shamanColor;
}

.ChallengeSynergyHeartless
{
	background-image: url("s2r://panorama/images/synergyicons/undead_psd.vtex");
	wash-color: undeadColor;
}

.ChallengeSynergyMages
{
	background-image: url("s2r://panorama/images/synergyicons/mage_psd.vtex");
	wash-color: mageColor;
}

.ChallengeSynergyDeadeye
{
	background-image: url("s2r://panorama/images/synergyicons/deadeye_psd.vtex");
	wash-color: dwarfColor;
}

.ChallengeSynergyInsect
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
	wash-color: insectColor;
}

.ChallengeSynergyChampion
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
	wash-color: championColor;
}

.ChallengeSynergyBrutal
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
	wash-color: brutalColor;
}

.ChallengeSynergyHealer
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
	wash-color: healerColor;
}

.ChallengeSynergySpiritBrother
{
	background-image: url("s2r://panorama/images/synergyicons/spiritbrother_psd.vtex");
	wash-color: spiritBrotherColor;
}

.ChallengeSynergySummoner
{
	background-image: url("s2r://panorama/images/synergyicons/summoner_psd.vtex");
	wash-color: summonerColor;
}

.ChallengeSynergyVigilant
{
	background-image: url("s2r://panorama/images/synergyicons/vigilant_psd.vtex");
	wash-color: vigilantColor;
}

.ChallengeSynergyVoid
{
	background-image: url("s2r://panorama/images/synergyicons/void_psd.vtex");
	wash-color: voidColor;
}