@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACBattlePassRewardLine
{
    width:100%;
    height:100%;
    /*flow-children: down;*/
   // background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
//    background-size: 100%;
}

DACBattlePassRewardLine #BattlePassOverview .PlayerProgressContainer {
    margin-top: 10px;
    padding: 2px;
    background-color: #343434;
    width: 100%;

}


DACBattlePassRewardLine #BattlePassOverview .Description
{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 14px;
    
    text-align: center;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-weight: semi-bold;
}

#BattlePassAspectRatioBacker
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.RequireBattlePassIcon
{
    horizontal-align:center;
    vertical-align:bottom;
    margin-bottom: 8px;

    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    //background-color: purple;

    overflow: noclip;
}

.Requires_BattlePass .RequireBattlePassIcon
{
    background-image: url("s2r://panorama/images/battle_pass/require_battle_pass_icon_psd.vtex");
    margin-bottom: 0px;
}

#BattlepassBackgroundImage {
    width: 100%;
    height: 100%;
    background-color: #000000ee;
   // background-image: url("s2r://panorama/images/battle_pass/bp1/paint_bg_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top -80px;

    transition-property: background-image, background-position;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0.3s;
}

.EquipmentType_underlord_cosmetic #BattlepassBackgroundImage
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/bg_underlord_items_png.vtex");
    background-size: 100% 110%;
}



// TOP ROW

#TopRow
{

    width: 100%;
    height: fit-children;
    horizontal-align:center;
    //vertical-align: top;

   
    flow-children: none;

    background-position: center top;
   
}


// TOP ROW: SEASON INFO

.RewardsInfo
{
    margin-top: 100px;
    flow-children: none;
    width: 800px;
    text-align: center;
    horizontal-align: right;
}

.IsLayoutSmallScreen .RewardsInfo
{
    margin-top: 122px;
    ui-scale: 120%;
	margin-right: -28px;
}

.AspectRatio4x3.IsLayoutSmallScreen .RewardsInfo
{
    margin-top: 164px;
    margin-left: 160px;
}

.AspectRatio21x9.IsLayoutSmallScreen .RewardsInfo
{
    margin-top: 124px;
    margin-left: 300px;
    width: 900px;
	margin-right: 48px;
}

.Header
{
    color: #C6DCFE;
    font-size: 72px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #000000;
    margin-left: 20px;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-weight: bold;
}

.SectionType {
    horizontal-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    padding: 2px 8px 2px 10px;
    letter-spacing: 2px;
    margin-top: 100px;
    margin-left: 600px;
    //horizontal-align: center;
    horizontal-align: left;
    transform: rotatez(-3deg);
    box-shadow: 0px 0px 3px #000000;
}

.IsLayoutSmallScreen .SectionType
{
    font-size: 32px;
}

.Description
{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #C6DCFE;
    font-size: 24px;
    text-shadow: 1px 1px 0px #000000;
    
    /*text-shadow: 1px 1px 2px #000000;*/
    font-weight: semi-bold;
}

#MainContent
{
    width: 100%;
    flow-children: down;
}


DACControlBattlePass.OnBattlePass_Page
{
    width: 100%;
    margin-top: 0px;
    horizontal-align: left;
}

.Intro
{
    color: #C6DCFE;
    font-size: 32px;
    text-shadow: 1px 1px 0px #000000;
    margin-left: 20px;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-weight: bold;
}

.RewardsDesc
{
    flow-children: down;
    text-align: right;
    horizontal-align: right;
}

.IsLayoutSmallScreen .Description
{
    margin-top: 24px;
    font-size: 28px;
}


// TOP ROW: DAILY CHALLENGES

.DailyQuests
{
    /*flow-children: down;*/
    padding-top: 0px;
    padding-left: 58px;
    /*margin-right: 88px;*/
    //width: 560px;
    width: 700px;
    height: 1000px;
    /*background-color: black;*/
       /*border: 1px solid red;*/
    horizontal-align: right;

}

.IsLayoutSmallScreen .DailyQuests
{
    ui-scale: 110%;
}

.BattlePassTitle
{
    color: black;
    font-size: 30px;
    font-weight: black;
    text-transform: uppercase;
    background-color: white;
    padding: 5px 10px 0px 10px;
    box-shadow: 0px 0px 3px white;
    transform: rotatez(-3deg);
    z-index: 20;
    margin-bottom: 28px;

}

#BattlePassLevel
{
    padding-right: 58px;
}

.PlayerLevelTitle {
    margin-bottom: -40px;
}

#QuestContainer
{
    flow-children:down;
    width: 500px;
    //height: 100%;
}

#DACRewardsBattlePassPage #QuestItemContainer
{
   background-image: none;
   background-color: none;
   box-shadow: none;

}

#DACRewardsBattlePassPage .DailyChallenge
{
    border: 0px;
    margin-bottom: 1px;
    background-image: none;
    background-color: none;
    box-shadow: none;
}




// TOP ROW: RANKING


.RankContainer
{
    //width: 400px;
    //height: 400px;
    padding-top: 20px;
    flow-children: none;
    //flow-children: up;
}

#DACRewardsBattlePassPage #MiniProfile
{
    margin-top: 70px;
    overflow: clip;
}

#DACRewardsBattlePassPage #PlayerRank
{
    margin-top: 60px;
    horizontal-align: center;
}



// BOTTOM ROW

#BottomRow
{
    width: 100%;
    height: 60%;
    vertical-align: bottom;
    overflow: noclip;
    margin-bottom: 10px;
}

.RewardLineTitle {
   margin-left: 160px;
}

.RewardLabel {
   background-color: #ffffff;
   font-size: 26px;
   font-weight: black;
   transform: rotateZ(-2deg);
   horizontal-align: center;
   margin-top: -30px;
   color: black;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 3px 5px 0px 10px;
   box-shadow: 0px 0px 3px #ffffff;
}

/*.Map #MainRewardPanel {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/


// LEVEL LINE
/*#PlayerBPLevelLabelBG*/
/*{*/
/*    background-image: url("s2r://panorama/images/dashboard/rank_silver_tier_psd.vtex");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    !*width: 128px;*!*/
/*    height: 60px;*/
/*}*/

/*#PlayerBPLevelGraphLevelLabel*/
/*{*/
/*    color: #f7b461;*/
/*    text-align: center;*/

/*    color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));*/
/*    font-size: 16px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    font-weight: black;*/
/*    padding-left: 6px;*/
/*    padding-right: 6px;*/
/*    padding-top: 4px;*/
/*    vertical-align: center;*/
/*    text-shadow: 0px 1px 0px 3.0 #000;*/
/*    text-align: center;*/


/*    font-style: italic;*/
/*}*/

/*#PlayerBPLevelGraphLevel*/
/*{*/
/*    color: #f7b461;*/
/*    text-align: center;*/

/*    color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));*/
/*    font-size: 36px;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*    font-weight: black;*/
/*    padding-left: 6px;*/
/*    padding-right: 6px;*/
/*    padding-top: 4px;*/
/*    vertical-align: center;*/
/*    text-shadow: 0px 1px 0px 3.0 #000;*/
/*    text-align: center;*/
/*   */

/*    width: 90px;*/
/*    font-style: italic;*/
/*}*/

#BPLevelOverview {
    /*flow-children: right;*/
    width: 80%;
}
 
#PlayerBPLevelGraphLevel .LevelNumber
{
    font-size: 44px;
}


/*#PlayerBPLevelGraph_FG*/
/*{*/
/*    background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_fg_png.vtex");*/
/*    width: 141px;*/
/*    height: 141px;*/
/*    transition-property: clip;*/
/*    transition-duration: 200ms;*/
/*}*/

/*#DACRewardsBattlePassPage .BattlePassCurrentLevelProgress*/
/*{*/
/*    font-style: italic;*/
/*    margin-top: -10px;*/
/*    margin-left: 4px;*/
/*    margin-bottom: 4px;*/
/*    margin-right: 15px;*/
/*    font-size: 16px;*/
/*    letter-spacing: 2px;*/
/*    text-shadow: 0px 0px 0px 3.0 black;*/
/*    vertical-align: bottom;*/
/*    horizontal-align: right;*/
/*}*/

#DACRewardsBattlePassPage DACControlBattlePass
{
    margin-top: 0px;
}

.IsLayoutSmallScreen #DACRewardsBattlePassPage DACControlBattlePass 
{
    ui-scale: 120%;
    margin-top: 20px;
    margin-right: 40px;
}

.AspectRatio4x3.IsLayoutSmallScreen #DACRewardsBattlePassPage DACControlBattlePass
{
        margin-top: 180px;
        margin-right: 60px;
}

#QuestLevelContainer {
    box-shadow: 0px 0px 200px #000000;
}

#DACRewardsBattlePassPage #BattlePassProgressContainer
{
    horizontal-align: center;
    vertical-align: top;
    /*flow-children: down;*/
    width: 500px;
    height: 100%;
    /*border: 1px solid red;*/
    padding-right: 0px;
    /*padding-top: 70px;*/
    visibility: collapse;
}

#DACRewardsBattlePassPage #PlayerBPLevel {

}

#DACRewardsBattlePassPage #BattlePassImage {
    background-image: url("s2r://panorama/images/battle_pass/battlepass_img_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    margin-top: 50px;
    opacity: 0.3;
    vertical-align: top;
    horizontal-align: center;
    width: 500px;
    height: 530px;
    border: 1px solid red;
    opacity: 0;
}


#DACRewardsBattlePassPage .PlayerProgressContainer {
    margin-top: 10px;
    padding: 2px;
    
    width: 100%;

    flow-children: down;
    margin-right: 18px;
}


/*#DACRewardsBattlePassPage #PlayerProgress*/
/*{*/
/*    height: 20px;*/
/*    vertical-align: middle;*/
/*    margin-left: -20px;*/
/*    width: 100%;*/
/*}*/



#RewardLineContainer 
{
    horizontal-align:center;
    height: 70%;
    width: 100%;
    vertical-align: bottom;
    overflow: scroll clip;
}


.IsLayoutSmallScreen #RewardLineContainer
{
    //padding-top: 40px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #BottomRow
{
    // ipad
	margin-bottom: 40px;
    
    // NOTE: DO NOT uiscale or scale2d this, it will break scrolling
    //pre-transform-scale2d: 1.4;
}

.IsLayoutSmallScreen.AspectRatio4x3 .RewardLineItem, 
.IsLayoutSmallScreen.AspectRatio4x3 .EmptyReward 
{
    // normally 185 x 290
    width: 240px;
    height: 376px;
}



#RewardLineContainer #HorizontalScrollBar
{
    opacity:0;
}


#RewardLine 
{
    margin-left: 40px;//needed to stop far left item from being clipped while something is hovered over.
    margin-right: 40px;
    width: fit-children;
    flow-children: right;
    height: 100%;

    vertical-align: bottom;
    overflow: noclip;
}


//Container for 1 level of objects, or a continuous set of empty objects
//Could have 1, or many sub children. Used to compile total length of battle
//pass
.RewardLevelContainer
{
    width: fit-children;
    flow-children: down;
    min-width: 1px;
    height: fit-children;
    vertical-align: bottom;
	
}

#RewardLineItemClaimButton Label
{
 
    horizontal-align: center;
    text-align: center;

    font-size: 22px;
    color: #ffffff;
    font-weight:bold;
    text-shadow: 0px 0px 0px 6.0 #000;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-top: 15px;
}

.RewardsGroup
{
    flow-children: right;
    width: fit-children;

    height: fit-children;
    //border: 8px;
    //border-bottom: 0px;
	
}

.RewardsGroup.Selected
{
    border-color: #00aa00;
}

#RewardGroupProgressBarContainer
{
    z-index: 0;
    width: 100%;
    height: 20px;
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 7px;

    //background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_container_background_png.vtex");
    //background-repeat: no-repeat;
    //background-size: 100%;

    padding: 3px;
    border-top: 2px solid #5c3806;
    border-left: 2px solid #5c3806;
    border-right: 2px solid #574f34;
    border-bottom: 2px solid #574f34;

}

#RewardGroupProgressBar
{
    width: 100%;
    height: 100%;
}

#RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
}

.IsCurrentlyBeingUnlocked #RewardGroupProgressBar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_selected_psd.vtex");
}

.NumRewards2 #RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_double_wide_psd.vtex");
}

.IsCurrentlyBeingUnlocked.NumRewards2 #RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_double_wide_selected_psd.vtex");
}

.NumRewards3 #RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_triple_wide_psd.vtex");
}

.IsCurrentlyBeingUnlocked.NumRewards3 #RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_triple_wide_selected_psd.vtex");
}

.IsCurrentlyBeingUnlocked.NumRewards10 #RewardGroupProgressBar .ProgressBarLeft
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_fill_triple_wide_selected_psd.vtex");
}

#RewardGroupProgressBar .ProgressBarRight
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_unfilled_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
}

.NumRewards2 #RewardGroupProgressBar .ProgressBarRight
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_unfilled_double_wide_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
}

.NumRewards3 #RewardGroupProgressBar .ProgressBarRight
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_unfilled_triple_wide_psd.vtex");
}

.NumRewards10 #RewardGroupProgressBar .ProgressBarRight
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_progress_bar_unfilled_triple_wide_psd.vtex");
}


.RewardLineItem, 
.EmptyReward 
{
    //flow-children: down;
    width: 16px;
    height: 290px;   
	padding: 5px;
    padding-bottom: 15px;

    horizontal-align: center;
    vertical-align: bottom;
    
    background-color: #ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;


}

.RewardLineItem
{
    width: 185px;

    padding: 0px;
    //padding-bottom: 33px;
    //border: 4px solid #ffffff00;
    //background-color: #CACACA;
    //background-color: black;
    background-color: none;
   
    
    ui-scale: 100%;
    transition-duration: 0.125s;
    //transition-property:brightness, width, height;
    transition-property:brightness, ui-scale;
    transition-timing-function: ease-in-out;
    
    //background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_psd.vtex");
    //background-repeat: no-repeat;
    //background-size: 100%;
    
    //overflow: noclip;//just bugs out when hovering over
}

.RewardLineItem.Requires_BattlePass
{
    //background-color: #C4C433;
}

.RewardLineItem.Selected
{
    ui-scale: 120%;
    //width: 220px; 
    //height: 300px;
    //background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_selected_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
	
}

.RewardLineItem:hover
{
    brightness: 1.2;

    //ui-scale: 120%;
    //width: 220px; 
    //height: 300px;
}


//boarder containing image of stuff and/or 3D preview
#MainRewardPanel 
{
    width: 100%;
    height: 100%;
    background-color: black;
    //opacity-mask: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_opacity_mask_psd.vtex");
    margin: 8px;
    border-bottom: 33px;
}

.MainRewardPanelFrame
{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_free_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px;
    //padding-bottom: 33px;
}

.Selected .MainRewardPanelFrame
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_free_selected_psd.vtex");
    transition-property: background-image;
    transition-duration: .3s;
}

.Requires_BattlePass .MainRewardPanelFrame 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_psd.vtex");
    transition-property: background-image;
    transition-duration: .3s;
}

.Selected .Requires_BattlePass .MainRewardPanelFrame
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_selected_psd.vtex");
}

#SelectedFrameParticle
{
	width: 100%;
	height: 100%;
	//background-color: red;
	//margin-top: 200px;
	opacity-mask: url("s2r://panorama/images/battle_pass/bp1/reward_item_selected_particle_mask_psd.vtex");
	visibility: collapse;
}

.LowVisualQuality #SelectedFrameParticle
{
    opacity-mask: none;
}

.Selected #SelectedFrameParticle
{
	visibility: visible;
}

#BattlePassSelectedParticle
{
	width: 100%;
	height: 100%;
	margin-top: -137.5px;
}

.RewardFrameBP
{
    width: 100%;
    height: 100%;
    background-color: red;
    border: 5px solid pink;
}

.EmptyReward #MainRewardPanel 
{
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}

.EquipmentTypeIcon
{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.RewardLineItem .EquipmentTypeIcon
{
    vertical-align:top;
    horizontal-align: left;

    width: 34px;
    height: 34px;
    
    margin-left: 15px;
    margin-top: 13px;
    
    opacity: .6;

}

.IsLayoutSmallScreen .RewardLineItem .EquipmentTypeIcon
{
    width: 50px;
    height: 50px;
}

//Icon which appears if this item is selected
.IsLoadoutSelectionIcon
{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.IsLoadoutSelection .IsLoadoutSelectionIcon
{

    //background-color: #ff4400;

    vertical-align:top;
    horizontal-align: left;

    width: 42px;
    height: 42px;
    
    margin-left: 12px;
    margin-top: 36px;
    
    //margin-left: 36px;
    //margin-top: 8px;
    
    opacity: 1;
    
    background-image: url("s2r://panorama/images/battle_pass/bp1/equipped_pip_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
}

.IsLayoutSmallScreen .RewardLineItem .IsLoadoutSelectionIcon
{
    width: 50px;
    height: 50px;
}

.RewardLineItem DACRewardPreviewScenePanel
{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    //opacity-mask: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_opacity_mask_png.vtex");
}

.RewardLevel8 .RewardLineItemImage
{
    //background-position:90%;
    //margin-top: 40px;
    //margin-top: 0px;
    background-position: 0%;
}


#RewardLineItemPathIcon
{
    visibility: collapse;//We don't really do manual claiming on this line anymore, but just in case we change our minds...
    height: 100%;
    width: height-percentage(100%);

   
    vertical-align: center;
    background-image: url("s2r://panorama/images/battle_pass/rewardline_unclaimed_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;

}

.Claimed #RewardLineItemPathIcon
{
    background-image: url("s2r://panorama/images/battle_pass/rewardline_claimed_psd.vtex");
}

#MainProgress0,
#MainProgress1
{
    width: 9600px;//Set from code, then offset for MainProgress1 by MainProgress 2's width
    height: 10px;
    max-height: 10px;
    margin-top: 250px;
    margin-left: 92px;
    background-color: #3e4054;
    overflow: noclip;
}




#MainProgress .ProgressBarLeft
{
    background-color: gradient (linear, 0% 0%, 100% 0%, from(#D39614), to(#f6cd40));
    border-right: 2px solid #FEFB54;
    border-top: 2px solid #FEFB54;
    border-bottom: 2px solid #F54013;
}



.RewardLineItemImageBP
{
    background-color: #999;

}

.RewardLineItemEquipButton
{
    visibility: collapse;
}

#RewardLineItemClaimButton
{
    width: 45px;
    height: 45px;

    vertical-align: top;
    horizontal-align: center;

    margin-top: 220px;
    flow-children: right;

    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateY(0px);
    
}


#RewardLineItemClaimButton Label
{
    horizontal-align: center;
    vertical-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    color: #ffffff;
    font-weight:bold;
    /*text-shadow: 0px 0px 0px 6.0 #000;*/
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* identical to box height */
    text-align: right;
    
    visibility: collapse;
}

.IsLayoutSmallScreen #RewardLineItemClaimButton Label
{
    font-size: 28px;
}

.Claimed #RewardLineItemClaimButton Label {
    color: #c9d9f2;
}


#ScrollLeft, #ScrollRight
{
    height: 250px;
    width: 70px;
    background-image: url("s2r://panorama/images/dashboard/reward_arrow_png.vtex");
    background-repeat: no-repeat;
    background-position:50% 50%;
}


#ScrollRight
{
    transform: ScaleX(-1);
    margin-left:20px;
}

#ScrollLeft
{
    margin-right:20px;
}

#RewardLine #HorizontalScrollBar
{
    opacity:0;
}

#FreeBPPanels
{
    height:100%;
    width:115px;
    margin-right:10px;
    flow-children:down;
}

#FreePanel
{
    background-color: #DDD;
    height: 230px;
    margin-bottom: 10px;
    width: 100%;
}

#BPPanel
{
    background-color: #DDD;
    height: 230px;
    width: 100%;
    background-image: url("s2r://panorama/images/dashboard/bpreward_icon_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#FreePanel Label
{
    color: #666;
    font-size:40px;
    font-weight:bold;
    vertical-align:middle;
    horizontal-align:center;
    text-transform:uppercase;
    font-style: italic;
}

#BattlePassUpsell
{
    width: 691px;
    height: 119px;
    background-image: url("s2r://panorama/images/dashboard/battlepass_upsellbg_png.vtex");
    horizontal-align:right;
}

#BattlePassUpsell .UpsellTitle
{
    horizontal-align:center;
    font-size:40px;
    font-weight:bold;
    color:#555;
    height:45px;
}

#BattlePassUpsell .UpsellDesc
{
    horizontal-align: center;
    font-size: 24px;
    color: #555;
}

.UpsellLabelContainer
{
    flow-children:down;
    horizontal-align: center;
    vertical-align:middle;
}

.ComingSoonViolator
{
    font-weight: black;
    font-size: 24px;
    padding: 2px 12px -2px;
    text-transform: uppercase;
    color: white;
    background-color: gradient( linear, 0% 90%, 0% 0%, from( #b7231a ), to( #de2b20 ) );
    horizontal-align: center;
    vertical-align: center;
    transform: rotatez(-5deg);
    box-shadow: 0px 0px 3px #b7231a;
    vertical-align: top;
    margin-top: 14px;
    visibility: collapse;
}



#ErrorContainer
{
    opacity: 0.0;
}

#ItemInspector
{
    flow-children:none;
    horizontal-align: right;
    vertical-align: top;

    width: 100%;
    height: fit-children;
  
	//background-color: black;
}

.AspectRatio21x9 #ItemInspector
{
	//ui-scale: 50%;
}


#ItemInspector #ItemInspectorSnippetHandle
{
    horizontal-align: left;
    vertical-align: top;

    margin-top: 87px;
    width: 37%;
    height: 400px; 
}
#ItemInspector .ItemPanel
{
    //width: 100%;
    width: fit-children;
    height: 100%;

    opacity: 0;

    transform:translateX(-500px);
    transition-property: opacity, transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
	flow-children: down;
}


#ItemInspector #ItemContents
{
   width: fit-children;
   height: 100%;
   
   background-image: url("s2r://panorama/images/battle_pass/bp1/reward_title_backer_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    //width: 100%;
    height: 230px;
    padding-left: 64px;
    padding-right: 64px;
    flow-children: right;
}

.AspectRatio4x3 #ItemInspector #ItemContents
{
	padding-left: 40px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ItemInspector #ItemContents
{
	padding-left: 114px;
}

#ItemInspector .ItemContainer
{
    align: left middle;
    height: 75%;
    width: height-percentage(100%);
}

#ItemInspector .ItemPanel.Appearing
{
    opacity: 1;
    transform:translateX(0px);
}

#ItemInspector .ItemPanel.Disappearing
{
    opacity: 0;
    transition-duration: 0.125s;
    transform:translateX(-500px);
}


//One of these two will be hidden depending on whether we have 3D preview or not


#ItemInspector #ItemImage
{
    width: 100%;
    height: 100%;
}

#ItemInspector DACRewardPreviewScenePanel
{
    width: 100%; 
    height: 800px; 
    //background-color: black;
}

.AspectRatio21x9 #ItemInspector DACRewardPreviewScenePanel
{
margin-top: -50px;
}

.AspectRatio21x9 #ItemInspector.fireworks DACRewardPreviewScenePanel 
{
//margin-top: 200px;
}


#OptionalForeground
{
	//background-image: url("s2r://panorama/images/battle_pass/bp1/items/kill_streak_backer_psd.vtex");
	width: 550px; 
    height: 970px; 
	margin-left: 200px;
	//background-color: red;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
}

.AspectRatio21x9 #OptionalForeground
{
	margin-left: 434px;
	ui-scale: 110%;
	background-position: center top -82px;
}

.AspectRatio21x9.IsLayoutSmallScreen #OptionalForeground
{
	margin-left: 340px;
	ui-scale: 110%;
	background-position: center top -82px;
}

#OptionalBackground
{
	//background-image: url("s2r://panorama/images/battle_pass/bp1/items/kill_streak_backer_psd.vtex");
	width: 550px; 
    height: 770px; 
	margin-left: 200px;
	//background-color: red;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .2s;
}

.wanted_poster #Overlay #OptionalBackground
{
    background-image: url("s2r://panorama/images/post_game/wanted_poster_plain_psd.vtex");

    width: 700px;
    height: 900px;
    opacity: 1;
    background-size: contain;
    background-position: 50% 50%;
    horizontal-align: center;
    margin: 0px;
    background-repeat: no-repeat;
}

.AspectRatio21x9 #OptionalBackground
{
	margin-left: 434px;
	ui-scale: 110%;
	background-position: center top -82px;
}

.AspectRatio21x9.IsLayoutSmallScreen #OptionalBackground
{
	margin-left: 340px;
	ui-scale: 110%;
	background-position: center top -82px;
}


.underlord_damage_effect #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/damage_effect_ui_backer_psd.vtex");
	width: 600px; 
    height: 770px; 
	horizontal-align: right;
	margin-left: 0px;
	margin-right: 350px;
	margin-top: -30px;
}

.AspectRatio21x9 .underlord_damage_effect #OptionalBackground
{
	margin-right: 410px;
}

.AspectRatio21x9.IsLayoutSmallScreen .underlord_damage_effect #OptionalBackground
{
	margin-right: 360px;
}

.yo2 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo2_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo3 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo3_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo4 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo4_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo5 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo5_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo6 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo6_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo7 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo7_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

.yo8 #OptionalBackground
{
	opacity: 1;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo8_backer_psd.vtex");
	width: 900px; 
    height: 770px; 
}

// yo reward popup shenanigans

.AspectRatio16x10 .yo #Overlay #OptionalBackground 
{
    margin-top: 50px;
}

.AspectRatio21x9 .yo #Overlay #OptionalBackground 
{
    margin-left: 350px;
    margin-top: 50px;
}

.IsLayoutSmallScreen.AspectRatio16x9 .yo #Overlay #OptionalBackground 
{
    margin-left: 10px;
    background-position: 50% 25%;
}

.AspectRatio4x3 .yo #Overlay #OptionalBackground 
{
    margin-left: 10px;
    background-position: 50% -10%;
}

.IsLayoutSmallScreen.AspectRatio21x9 .yo #Overlay #OptionalBackground 
{
    margin-left: 45px;
    background-position: 50% 35%;
}

#ItemInspector #RewardTextContainer
{
    flow-children: down;
    height: fit-children;
    width: fit-children;
    align: left middle;
}

#ItemInspector #RewardTextHeadnote
{
    flow-children: right;
    align: left top;
    width: 100%;
    width: fit-children;
    height: fit-children;
    overflow: clip;
    margin-top: 0px;
    //margin-top: 63px;
}

#ItemInspector .RewardTextLevel
{
   
    color: gradient (linear, 0% 0%, 0% 100%, from(#C6DCFE), to(#fff));
    color: #ffffff55;
    font-size: 28px;
    font-weight: medium;
    letter-spacing: 0px;    
    text-align: left;
    width: fit-children;
    //text-shadow: 0px 0px 0px 1.0 black;
    text-transform: uppercase;
    margin-top: 1px;
}


#ItemInspector .RewardTextName
{
    text-transform: uppercase;
    color: gradient (linear, 0% 0%, 0% 100%, from(#C6DCFE), to(#fff));
    color: #ffffff;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    width: fit-children;
    height: 69px;
    //text-shadow: 0px 0px 0px 5.0 #00000066;
    text-transform: uppercase;
    margin-top: -13px;
    text-overflow: shrink;
}

#ItemInspector .EquipmentTypeIcon
{
   
    width: 34px;
    height: 34px;
    margin-left: 15px;
    horizontal-align:center;
}

#ItemInspector .RewardLevel-1 .EquipmentTypeIcon
{
    margin-left: 0px;
}

#ItemInspector .RewardTextDesc
{
    color: #ffffff66;
    font-size: 22px;
    //font-weight: bold;
    letter-spacing: 0px;    
    text-align: left;
    width: fit-children;
    text-shadow: 1px 1px 0px 2.0 black;
    //visibility: collapse;
	margin-top: -39px;
	margin-bottom: 14px;
	margin-left: 64px;
	width: 440px;
}

.IsLayoutSmallScreen #ItemInspector .RewardTextDesc
{
	font-size: 26px;
}

.AspectRatio4x3 #ItemInspector .RewardTextDesc
{
	margin-left: 40px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ItemInspector .RewardTextDesc
{
	margin-left: 112px;
}

#ItemInspector .RewardTypeDesc
{
    color: gradient (linear, 0% 0%, 0% 100%, from(#C6DCFE), to(#fff));
    color: #cdd2f3;
    font-size: 28px;
    font-weight: medium;
    letter-spacing: 0px;    
    text-align: left;
    width: fit-children;
    text-shadow: 0px 0px 0px 3.0 #4242b4;
    text-transform: uppercase;
    margin-top: 1px;
    margin-left: 2px;
}

#RewardLevelTextContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: right;
	margin-right: 7px;
}

.RewardLockedIcon
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/bp_locked_icon_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    visibility: collapse;
}


.IsLockedDueToBattlePassRequirement .RewardLockedIcon
{
    vertical-align:top;
    horizontal-align: left;

	margin-top: 3px;
	width: 27px;
    height: 30px;
    visibility: visible;
}

#RewardLevelCorner
{
	width: 8px;
	height: 7px;
	background-image: url("s2r://panorama/images/battle_pass/bp1/reward_level_corner_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	margin-right: 0px;
}

#RewardLevelVerticalBar
{ 
	height: 31px;
	border-right: 2px solid #574f34;
}




Label.RewardLevelText
{
 
    horizontal-align: center;
    text-align: center;
    horizontal-align: right;
    font-size: 32px;
    color: #ffffff;
    color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
    font-family: ravenhook;
    font-weight:bold;
    //text-shadow: 0px 0px 0px 6.0 #000;
    text-transform: uppercase;
    //letter-spacing: 3px;

    //margin-top: 15px;
    margin-right: 0px;
    padding-top: -1px;
    padding-right: 0px;
    padding-bottom: -6px;
    
    margin-bottom: 15px;
    
    //border-right: 2px solid #574f34;
}

Label#DoNotRequireBattlePassText 
{
    height: 100%;
   
    color: gradient (linear, 0% 0%, 0% 100%, from(#cdd2f3), to(#fff));
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;    
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 0px 3.0 #5656fe;
    margin-top: 37px;
    margin-right: 3px;
    horizontal-align: center;
}

.Requires_BattlePass #DoNotRequireBattlePassText 
{
    visibility: collapse;
}

#RewardEntry
{
    width: 100%;
    height: 100%;
}

#InputBlocker
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

.InputLocked #InputBlocker
{
    visibility: visible;
}


#EventInfoContainer
{
    horizontal-align: center;
    vertical-align: bottom;
    width: 100%;
    height: fit-children;

    transition-delay: 0s;
    transition-duration: 0.02s;
    transition-property: opacity;
    opacity: 0;
}

#EventInfoItems
{
    padding-top: 150px;

    vertical-align: bottom;
    horizontal-align: center;
}

.ShowProgressEvent #EventInfoContainer
{
    opacity: 1;
}

.EventInfoBG
{
    background-color: gradient(linear, 0% 100%, 0% 0%, from( #30244cee ), to( #025760ee ));
    background-image: url("s2r://panorama/images/vignettes/backing_vignette_soft_psd.vtex"); 
    
    background-repeat: no-repeat;
    background-size: 100% 100%;

    opacity: 0.0;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;

    width: 100%;
    height: 100%;
}

.ShowProgressEvent .EventInfoBG
{
    opacity: .98;
}

.EventInfo
{
    horizontal-align: center;
    vertical-align: bottom;

    overflow: noclip;

    flow-children: none;

    width: fit-children;
    height: 900px;

    opacity: 0.0;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: opacity;
}

.EventInfo.ShowEvent
{
    opacity: 1.0;
}

.EventInfo Label
{
    font-family: ravenhook;
    font-weight:bold;

    text-transform: uppercase;

    color: white;
}

.EventInfo .EventTitle
{
    color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
    text-shadow: 0px 1px 0px 2.25 #000;
    horizontal-align: center;
    font-size: 58px;
}

#EventInfoTop,
#EventInfoMiddle,
#EventInfoBottom
{
    horizontal-align: center;
}

.EventInfo .EventDescription
{
    horizontal-align: center;
    font-size: 78px;
}

#EventInfoTop
{
    transform: translateY(100px);
}

#EventInfoMiddle
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/progress_event_description_bg_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 50px;

    transform: translateY(150px) rotateZ(-3deg);
}

.LowVisualQuality #EventInfoMiddle
{
    transform: translateY(150px);
}

#EventInfoBottom
{
    transform: translateY(320px);
}

.EventInfo .EventXPGain
{
    color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
    text-shadow: 0px 1px 0px 2.25 #000;
    horizontal-align: center;
    font-size: 58px;
}

// Item-specific skinning
.EquipmentType_currency_item #MainRewardPanel
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_loot_list_psd.vtex"); 
    background-size: cover;
}

#ItemInspector.EquipmentType_map #RewardPreviewScenePanel
{
    visibility: collapse;
}

.kill_streak #OptionalForeground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/kill_streak_backer_psd.vtex");
}

 .AspectRatio16x10 .kill_streak #Overlay #OptionalForeground
{
    background-position: 100% -55%;
}

.AspectRatio21x9 .kill_streak #Overlay #OptionalForeground
{
    background-position: 100% 20%;
    margin-left: 375px;
}

.IsLayoutSmallScreen.AspectRatio16x9 .kill_streak #Overlay #OptionalForeground
{
    margin-left: 240px;
    background-size: cover;
    background-position: 100% 35%;
}

.IsLayoutSmallScreen.AspectRatio16x9 .kill_streak #Overlay #RewardContainer
{
    margin-left: 450px;
}

.AspectRatio4x3 .kill_streak #Overlay #OptionalForeground
{
    margin-left: 30px;
    background-size: cover;
    background-position: 100% -10%;
}

.IsLayoutSmallScreen.AspectRatio21x9 .kill_streak #Overlay #OptionalForeground
{
    margin-left: 300px;
    background-size: cover;
    background-position: 100% 30%;
}

.IsLayoutSmallScreen.AspectRatio21x9 .kill_streak #Overlay #RewardContainer
{
    margin-left: 400px;
}


.underlord_damage_effect #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/damage_effect_ui_backer_psd.vtex");
    width: 700px; 
    height: 1119px; 
    horizontal-align: right;
    margin-left: 0px;
    margin-right: 250px;
    margin-top: -30px;
}

.underlord_damage_effect #Overlay #OptionalBackground
{
   visibility: collapse;
}

.yo2 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo2_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}

.yo3 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo3_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}

.yo4 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo4_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}

.yo5 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo5_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}

.yo6 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo6_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}

.yo7 #OptionalBackground
{
    opacity: 1;
    background-image: url("s2r://panorama/images/battle_pass/bp1/items/yo7_backer_psd.vtex");
    width: 900px; 
    height: 970px; 
}


.PosterFrame,
.PosterBG
{
    height:100%;
    width:100%; 
    horizontal-align: center;
    vertical-align: center; 
    visibility: collapse;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;        
}

.wanted_poster .PosterFrame,
.wanted_poster .PosterBG
{
    visibility: visible;
}

.PosterBG
{
    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex"); 
}

.PosterFrame
{
    background-image: url("s2r://panorama/images/post_game/wanted_poster_plain_psd.vtex");     
}

.AspectRatio21x9 .PosterBGTopRow
{
    transform:translateY(-185px);
    pre-transform-scale2d:.75;  
}

.PosterBGTopRow
{
    transform:translateY(-85px);
    pre-transform-scale2d:.84;
}

.streetfight_item #OptionalImage
{
    //margin-left: 415px;
    //margin-top: 300px;
    vertical-align: center;
    horizontal-align: center;
    margin-left: 17%;
    margin-top: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    visibility: visible;
    width: 300px;
    height: 300px;

}

.streetfight_item .PosterFrame
{
    visibility: visible;
    background-size: cover;
    background-position: bottom;
}

.streetfight_item.UsedByUnderlord_1 .PosterFrame {background-image: url("s2r://panorama/images/battle_pass/bp1/fightem_bg_anessix_png.vtex"); }
.streetfight_item.UsedByUnderlord_2 .PosterFrame {background-image: url("s2r://panorama/images/battle_pass/bp1/fightem_bg_jull_png.vtex"); }
.streetfight_item.UsedByUnderlord_3 .PosterFrame {background-image: url("s2r://panorama/images/battle_pass/bp1/fightem_bg_enno_png.vtex"); }
.streetfight_item.UsedByUnderlord_4 .PosterFrame {background-image: url("s2r://panorama/images/battle_pass/bp1/fightem_bg_hobgen_png.vtex"); }

// dirty hacks to hide the extra music notes

.reward_item_id_11148,
.reward_item_id_11149,
.reward_item_id_11150,
.reward_item_id_11151,
.reward_item_id_11152,
.reward_item_id_11153,
.reward_item_id_11154
{
    visibility: collapse;
}