@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");


.NextPageButton {
    height: 60px;
    padding: 5px 32px;
    vertical-align: top;
    horizontal-align: right;
    background-color: #d07c18;
    /*blur: gaussian( 2.5 );*/
    visibility: collapse;
    margin-top: 280px;
    margin-right: 122px;
		box-shadow: fill #00000050 0px 0px 10px 8px;
		transition-property: brightness;
		transition-duration: 0.2s;
		brightness: 1;
}

    PopupHeropedia .NextPageButton {
        margin-top: 100px;
    }

    .NextPageButton:hover {
        brightness: 1.3;
    }

    .NextPageButton:active {
        brightness: 1.0;
    }

    .NextPageButton Label {
        color: #fff;
        vertical-align: middle;
        horizontal-align: center;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 28px;
        //text-overflow: shrink;
    }

.NamePageSwitch #NamePageButton,
.TierPageSwitch #TierPageButton,
.NamePageSwitch #NamePageContainer,
.TierPageSwitch #TierPageContainer {
    visibility: visible;
}

#HeroName
{
	background-image: url("s2r://panorama/images/heropedia/paintbrush-black-bg_png.vtex");
    background-size: 100%;
    background-position: top;
    width: 100%;
    margin-top: -30px;
    padding: 24px 0px 12px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 21px;
}

.IsLayoutSmallScreen #HeroName
{
    font-size: 24px;
}

#SynergyCapsulePC
{
    margin-top: -12px;
}