DACZooPage
{
	flow-children: down;

	horizontal-align: center;
	width: 100%;
	height: 100%;
}

DACZooPage Label.ProbablyUnlocalizedText
{
	background-color: none;
	animation-name: none;
	color: #ffffff;
}

DACZooPage Label.ProbablyUnlocalizedText.ZooTextHeader
{
	color: textBrightest;
	background-color: black;
	padding: 2px 6px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.ZooTextDesc
{
	font-size: 21px;
	margin-top: -5px;
	margin-bottom: 5px;
	color: textDefault;
}

Label
{
	font-size: 24px;
	color: white;
}

.TopNav
{
	flow-children: right;
	margin-bottom: 10px;
	margin-left: 15px;
}

.ZooPage
{
	width: 100%;
	height: fill-parent-flow(1);
	visibility: collapse;

	background-color: #222;
	background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_psd.vtex");
	background-size: 100%;
	padding: 30px;
	flow-children: right;
}

.Page1 .ZooPage1,
.Page2 .ZooPage2,
.Page3 .ZooPage3,
.Page4 .ZooPage4,
.Page5 .ZooPage5,
.Page6 .ZooPage6
{
	visibility: visible;
}

.PageButton
{
	font-size: 30px;
	margin-left: 13px;
	margin-right: 13px;
	color: textDefault;
}

.NavDivider
{
	font-size: 30px;
	margin-left: 13px;
	margin-right: 13px;
	color: grey;
}

.Page1 .PageButton1,
.Page2 .PageButton2,
.Page3 .PageButton3,
.Page4 .PageButton4,
.Page5 .PageButton5,
.Page6 .PageButton6
{
	color: textBrightest;
}

.ZooColumn
{
	flow-children: down;
	margin-right: 40px;
}

.ScrollColumn
{
	overflow: clip scroll;
}

.Page1 TextButton {
	margin-bottom: 20px;
}


// TEXT COLORS

#textBrightest
{
	color: textBrightest;
	margin-top: 20px;
}

#textBrighter
{
	color: textBrighter;
}

#textBright
{
	color: textBright;
}

#textDefault
{
	color: textDefault;
}

#textDark
{
	color: textDark;
}

#textAccent
{
	margin-top: 20px;
	color: textAccent;
}

#textGold
{
	color: textGold;
}

#textFancy
{
	color: textFancy;
}

#textMinorRank1
{
	margin-top: 20px;
	color: textMinorRank1;
}

#textMinorRank2
{
	color: textMinorRank2;
}

#textMinorRank3
{
	color: textMinorRank3;
}

#textMinorRank4
{
	color: textMinorRank4;
}

#textMinorRank5
{
	color: textMinorRank5;
}



// TEXT STYLES


.TextBody
{
	width: 570px;
}


// BUTTON STYLES

DACZooPage Label.ProbablyUnlocalizedText.ZooTextHeader.ColumnTop
{
	margin-top: 45px;
}

.LiftButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp0/items/shield_01_png.vtex");
}

.HideTemp
{
	//hiding for now
	visibility: collapse;
}

// MAP STYLES

.MapContainer
{
	width: 100%;
	height: 100%;

	margin: 20px;
	border: 1px solid white;
}

.Map
{
	width: 3000px;
	height: 1080px;

	background-image: url("s2r://panorama/images/map/sample_map_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
}

DragZoom
{
	flow-children: down;
}

#DragZoomContentPanel
{
	vertical-align: middle;
	horizontal-align: middle;
	overflow: noclip;
	z-index: 1;
	transition-property: transform, position;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.MapContainer #VerticalScrollBar,
.MapContainer #HorizontalScrollBar
{
	opacity: 1;
}

.DragZoomSlowTransition
{
	transition-property: transform;
	transition-duration: 0.5s;
}

.DragZoomFastTransition
{
	transition-property: transform;
	transition-duration: 0.001s;
}



.TabBar
{
	flow-children: right;
}

.TabBar Button
{
	height: 60px;
	border: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.TabBar Button:hover
{
	border: 1px solid white;
}

.TabBar Button Label
{
	font-size: 20px;
	color: white;
	vertical-align: center;
}

.ZooRowContainer
{
	flow-children: down;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

DACUIZoo Label
{
	font-size: 18px;
	color: white;
}

DACUIZoo .CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/dac_library_button_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	width: 130px;
	height: 130px;
}

.ZooSynergies
{
	vertical-align: top;
	width: 100%;
	height: fit-children;
	flow-children: right-wrap;
	margin-bottom: 10px;
}

DACUIZoo .SynergyCapsule
{
	margin-right: 20px;
}

.Page
{
	width: 100%;
	height: fit-children;
	margin-top: 200px;
	overflow: clip scroll;

	visibility: collapse;
}

.Page0 .SynergyPage,
.Page1 .ItemsPage,
.Page2 .HeroesPage
{
	visibility: visible;
}

#ItemsPage
{
	flow-children: right-wrap;
}

.ItemBlock
{
	width: 30%;
	height: fit-children;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	flow-children: down;
	padding: 5px;

	border: 1px solid white;
}

.ItemHeaderRow
{
	flow-children: right;
}

.ItemName
{
	text-transform: uppercase;
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	horizontal-align: left;
}

.ItemTier
{
	text-transform: uppercase;
	horizontal-align: left;
	color: white;
	font-size:  35px;
	font-weight: bold;
	text-align: center;

	margin-left: 10px;
}

#ItemImage
{
	width: 150px;
	height: 150px;
	horizontal-align: left;
	margin-bottom: 10px;

	background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_axe_png.vtex");

}

.ItemBlock.Tier1
{
	border: 1px solid grey;
}

.ItemBlock.Tier2
{
	border: 1px solid blue;
}

.ItemBlock.Tier3
{
	border: 1px solid purple;
}

.ItemBlock.Tier4
{
	border: 1px solid yellow;
}

.ItemBlock.Tier5
{
	border: 1px solid teal;
}

.ItemDescription
{
	color: white;
	font-size: 20px;
	height: 100%;
}

.ItemTypeIcon
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	visibility: collapse;
}

.ItemTypeIconOffensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_png.vtex");
}

.ItemTypeIconDefensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
}

.ItemTypeIconSupport
{
	background-image: url("s2r://panorama/images/hud/icon_tag_support_png.vtex");
}

.ItemTypeIconHat
{
	background-image: url("s2r://panorama/images/hud/icon_tag_hat_png.vtex");
}

.ItemTypeIconGlobal
{
	border: 1px solid red;
}

.ItemTypeEquipOffensive .ItemTypeIconOffensive,
.ItemTypeEquipDefensive .ItemTypeIconDefensive,
.ItemTypeEquipSupport .ItemTypeIconSupport,
.ItemTypeEquipHat .ItemTypeIconHat,
.ItemTypeGlobal .ItemTypeIconGlobal
{
	visibility: visible;
}

#MidButtonPanel
{
	margin-top: 100px;
	margin-left: 20px;
}

.MidButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7;
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

.MidButtonTextStyle
{

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 3px;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	vertical-align: center;
}

.PopupPanelStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7;
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

.PopupButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #000000 0px 1px -3px;
	border-top: 3px solid #d6d7d7;
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

#HeroesPage
{
	flow-children: down;
}

.HeroEntry
{
	font-size: 30px;
	color: #fff;
	width: 320px;
	height: 600px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	padding: 8px 4px 8px 4px;
	padding: 16px 8px 16px 8px;

	margin: 10px;

	visibility: collapse;
}

.HeroEntry.HeroVisible
{
	visibility: visible;
}

#SceneView
{
	width: 100%;
	height: 100%;
}

Label.ProbablyUnlocalizedText
{
	background-color: #0000;
	color: white;
	animation-duration: 0s;
}

#BottomFade
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/shop/cost1_vignette_psd.vtex");
	background-size: 100%;
}

.Cost2 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost2_vignette_psd.vtex");
}

.Cost3 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost3_vignette_psd.vtex");
}

.Cost4 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost4_vignette_psd.vtex");
}

.Cost5 #BottomFade
{
	background-image: url("s2r://panorama/images/shop/cost5_vignette_psd.vtex");
}

DropDownMenu Label
{
	height: 36px;
}

#GiveButton
{
	padding: 10px;
	border: 1px solid #999;
}

#GiveButton:hover
{
	border: 1px solid white;
}

#ChallengeMap
{
	width: 100%;
	height: 100%;
}

#StreakIndicator {
	width: 150px;
}





.Chevron {
	width: 26px;
	height: 30px;
	margin-left: 0px;
	transform: translateX(0px);

	background-image: url("s2r://panorama/images/notifications/chevron_purple_png.vtex");
	background-size: 100% 100%;

	transition-property: transform;
	transition-timing-function: ease-in;
	transition-duration: 0.35s;
}

#StreakIndicator:hover .Chevron2 {
	transform: translateX(23px);
}

#StreakIndicator:hover .Chevron3 {
	transform: translateX(46px);
}

#StreakIndicator:hover .Chevron4 {
	transform: translateX(69px);
}

#StreakIndicator:hover .Chevron5 {
	transform: translateX(92px);
}

/* .Chevron2 {
	animation-name: WinStreakChevron2;
    animation-duration: 0.55s;
    animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	//animation-fill-mode: forwards;
}

.Chevron3 {
	animation-name: WinStreakChevron3;
    animation-duration: 0.55s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	//transform: translateX(50px);
	//animation-fill-mode: forwards;
} */

/* #StreakIndicator:hover .Chevron2 {
	margin-left: 25px;
	transition-duration: 0.2s;
}

#StreakIndicator:hover .Chevron3 {
	margin-left: 50px;

}

#StreakIndicator:hover .Chevron4 {
	margin-left: 75px;
} */

/* @keyframes 'WinStreakChevron2'
{
    0%
    {
        transform: translateX(0px);
    }

    100%
    {
		transform: translateX(25px);
    }
}

@keyframes 'WinStreakChevron3'
{
    0%
    {
		transform: translateX(0px);
		brightness: 1;
	}
	
	50% {
		brightness: 2;
	}

    100%
    {
		transform: translateX(50px);
		brightness: 1;
    }
}
 */

/* Puzzle Container */
#PuzzlePlaytestContainer
{
	background-color: #000000CC;
	color: #cccccc;
	font-size: 18px;
	width: 820px;
	padding: 20px 30px;
	height: fit-children;
}

#PuzzlePlaytest_Preview
{
	width: 220px;
	height: 120px;
	margin-bottom: 53px;
	background-color: black;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 200px;
}

#PuzzlePlaytestInnerContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

#PuzzlePlaytestContainer RadioButton
{
	margin-top: 5px;
}

#PuzzlePlaytestContainer RadioButton > Label
{
	font-size: 18px;
}

#PuzzlePlaytestContainer RadioButton:not(:selected) > Label
{
	color: #cccccc;
}

#PuzzlePlaytestHeader
{
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: black;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: 2px;
}

#PuzzlePlaytestDescription
{
	margin-bottom: 12px;
	width: 400px;
	visibility: collapse;
}

#PuzzlePlaytestContainer TextButton
{
	background-color: #d07c18;
	border-style: solid;
	border-width: 0px;
	padding: 4px 10px;
	transition-property: brightness;
	transition-duration: 0.05s;
	transition-timing-function: linear;
	box-shadow: #00000055 -2px -2px 4px 4px;
	min-width: 192px;
	min-height: 36px;
	brightness: 1.0;
	margin-top: 12px;
}

#PuzzlePlaytestContainer TextButton:hover
{
	brightness: 1.9;
}

#PuzzlePlaytestContainer TextButton > Label
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	text-shadow: none;
	color: #000;
	font-weight: black;
	font-size: 21px;
	vertical-align: middle;
	margin: 4px 0px;
	padding-top: 4px;
	letter-spacing: 1px;
}

#PuzzlePlaytestContainer TextButton:active Label
{
	transform: translateY(1px);
}

#PuzzleRules
{
	margin-top: 130px;

	horizontal-align: right;
}

/* END MAIN BRANCH ONLY STUFF */

.PostGameOption
{
	flow-children: right;
	margin-bottom: 5px;
}

.PostGameOption Label
{
	color: baseText;
	margin-right: 10px;
	vertical-align: center;
}

.PostGameButton
{
	margin: 8px;
	vertical-align: middle;
}

.ZooHeadline,
.ZooHeadlineMono
{
	font-size: 60px;
}

#PostGameLaunchButtons
{
	margin-top: 36px;

	flow-children: right;
	width: fit-children;
	height: fit-children;
}