DACUIPuzzleRules
{
	background-color: #00000030;
	padding: 20px 30px;
}

#ActiveRules
{
	flow-children: down;
}

.ActiveRule Label
{
	font-size: 20px;
	color: #FF0000;
}

.ActiveRule.Satisfied Label
{
	color: #FFFFFF;
}