@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACDBControlIntroLogo
{
}

DACDBControlIntroLogo.Hidden
{
	visibility: collapse;
}

#IntroSequence
{
	width: 100%;
	height: 100%;

	background-color: #000000;

	opacity: 1;
}

#ValveLogo
{
	width: 655px;
	height: 274px;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/logos/valve_white_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0;
}

.InitialBoot #ValveLogo
{
	animation-duration: 0s;
	animation-name: none;

	opacity: 1;
}

.PlayIntro #ValveLogo
{
	animation-duration: 0s;
	animation-name: none;

	opacity: 1;
}

.FadeOut #ValveLogo
{
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-name: FadeOut;
	animation-iteration-count: 1;

	opacity: 0;
}

.PlayIntro #IntroSequence
{
	animation-duration: 0s;
	animation-name: none;

	opacity: 1;
}

.FadeOut #IntroSequence
{
	animation-duration: 1.8s;
	animation-timing-function: ease-in-out;
	animation-name: FadeOut;
	animation-iteration-count: 1;

	opacity: 0;
}

@keyframes 'FadeIn'
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes 'FadeOut'
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}