@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACHeropediaHowToPlayPage
{
}

Label
{
    color: white;   
}

#RootFrame
{
    height: 100%;
    width: 100%;
    margin: 180px 0px 0px 0px;
    overflow: clip scroll;
    flow-children: down;
}

.PopupPanel #HowToPlayPanel #RootFrame
{
    margin: 0px;
    padding-top: 40px;
}


.ContentBlock
{
    width: 100%;
    margin-bottom: 40px;
    flow-children: right;
}

.TextColumn
{
    flow-children: down;
    //width: 50%;
    width: 45%;
    padding-left: 30px;
    vertical-align: center;
 }


.Screenshot
{
    //horizontal-align: left;
    //margin-right: 40px;
    margin-left: 40px;
    //width: 384px;
    //height: 216px;
    width: 600px;
    height: 400px;
    //background-image: url("s2r://panorama/images/dashboard/coming_soon_png.vtex");
    //background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: center center;

    border-top: 2px solid #829cf044;
    border-left: 2px solid #829cf022;
    border-right: 2px solid #829cf022;
    border-bottom: 2px solid #829cf022;
    background-color: gradient(linear, 0% 100%, 50% 0%, from(#233368), to(#4442));
}

.IsLayoutSmallScreen.AspectRatio16x9 .Screenshot
{
    ui-scale: 85%;
}

.Title
{
    font-size: 110px;
    //margin-bottom: 40px;
    color: textBrighter;
    margin-left: 25px;
    margin-bottom: 30px;
}

.ChapterHeader
{
    background-image: url("s2r://panorama/images/heropedia/section-header-default-bg_png.vtex");
    background-position: 100% 0%;
    background-size: 102% 140%;
    background-repeat: no-repeat;
    width: 80%;
    margin-left: 0px;
    padding-left: 25px;
    margin-bottom: 30px;

}

.ChapterTitle
{
    font-size: 72px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 20px;
    //color: #c2bfb0;
    //color: textBright;
    //color: white;
    color: gradient(linear, 0% 0%, 0% 100%, from( rgb(136, 136, 136) ), to(#fff));
    //padding: 0px 150px 0px 40px;
}

.SectionTitle
{
    font-size: 48px;
    margin-bottom: 4px;
    color: textDefault;
}
 
.BodyText
{
    font-size: 32px;
    line-height: 42px;
    color: #c1c3d3;
    font-weight: normal;
}

#ImageWinning,
#ImageGameFlow,
#ImageLevelingUp,
#ImageHireHeroes,
#ImageLevelUpHeroes,
#ImageFormAlliances,
#ImageFightForLoot,
#ImageItems,
#ImageHeadToHead,
#ImageTakingDamage,
#ImageYourUnderlord,
#ImageAbilitiesAndTalents,
#ImageHypeOMeter
{
    background-size: 100% 100%;
    background-position: 50% 50%;
}

#ImageWinning
{
    background-image: url("s2r://panorama/images/how_to_play/howto_winning_png.vtex");
}

#ImageGameFlow
{
    background-image: url("s2r://panorama/images/how_to_play/howto_game_flow_png.vtex");
}

#ImageLevelingUp
{
    background-image: url("s2r://panorama/images/how_to_play/howto_leveling_up_png.vtex");
}

#ImageHireHeroes
{
    background-image: url("s2r://panorama/images/how_to_play/howto_hire_heroes_png.vtex");
}

#ImageLevelUpHeroes
{
    background-image: url("s2r://panorama/images/how_to_play/howto_rank_up_heroes_png.vtex");
}

#ImageFormAlliances
{
    background-image: url("s2r://panorama/images/how_to_play/howto_form_alliances_png.vtex");
}

#ImageFightForLoot
{
    background-image: url("s2r://panorama/images/how_to_play/howto_loot_rounds_png.vtex");
}

#ImageItems
{
    background-image: url("s2r://panorama/images/how_to_play/howto_items_png.vtex");
}

#ImageHeadToHead
{
    background-image: url("s2r://panorama/images/how_to_play/howto_head_to_head_png.vtex");
}

#ImageTakingDamage
{
    background-image: url("s2r://panorama/images/how_to_play/howto_taking_damage_png.vtex");
}

#ImageYourUnderlord
{
    background-image: url("s2r://panorama/images/how_to_play/howto_whats_an_underlord_png.vtex");
}

#ImageAbilitiesAndTalents
{
    background-image: url("s2r://panorama/images/how_to_play/howto_abilities_and_talents_png.vtex");
}

#ImageHypeOMeter
{
    background-image: url("s2r://panorama/images/how_to_play/howto_hype_o_meter_png.vtex");
}
