

#PlayerLeaderboardContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	flow-children: down;

	//margin-top: 100px;

}

.CombatLabel {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	font-size: 24px;
	
	color: #fff;
	
	visibility: collapse;
}

.IsLayoutLargeScreen.GameMode_Duos #PlayerLeaderboardContainer
{
	max-height: 2100px;
	margin-top: 150px;
	padding-bottom: 20px;
	overflow: clip scroll;
	width: fit-children;
	//ui-scale: 60%;
}

.IsLayoutLargeScreen.GameMode_Duos #PlayerLeaderboardContainer #VerticalScrollBar
{
	opacity: 0;
}


.IsLayoutLargeScreen #PlayerLeaderboardContainer
{
	ui-scale: 80%;
	//margin: 10px;
	//margin-left: 30px;
	//margin-top: 8px;
	//width: 220px;
	margin-top: 75px;
}

.IsLayoutLargeScreen.GameMode_Duos #PlayerLeaderboardContainer
{
	ui-scale: 50%;
}



.AspectRatio21x9.IsLayoutSmallScreen #PlayerLeaderboardContainer
{
	margin-top: 27px;
}

.AspectRatio4x3.IsLayoutSmallScreen #PlayerLeaderboardContainer
{
	margin-top: 77px;
}

DACLeaderboardEntry {
	transition-property: position;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

#PlayerLeaderboardContainerCombat #EventNotificationContainer {
	visibility: collapse;
}

#PlayerLeaderboardContainerCombat
{
	visibility: collapse;
	flow-children: down;
	vertical-align: top;
	margin-top: 75px;
	margin-left: 15px;
}


#PlayerLeaderboardContainerCombatEntries {
	flow-children: down;
}



/* Styles for combat containers */


.ViewBar
{
	height: 58px;
	width: 4px;
	background-color: #93b7fe00;
	vertical-align: center;	
	margin-right: 8px;

	transition-property: background-color;
	transition-duration: .2s;
}

.Selected .ViewBar
{
	background-color: #93b7fe;
}

.PlayerColumn {
	flow-children: down;
}

.PlayerRow {
	flow-children: right;
	height: 35px;
}

#player_home
{
	margin-top: 2px;
}

#player_away
{
	margin-top: -4px;
}

.PlayerName {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	font-size: 18px;
	vertical-align: middle;
	color: #fff;
	width: 135px;
	text-overflow: ellipsis;
}

.Combat .PlayerName
{
	width: 125px;
}

.Combat .PlayerLevel
{
	width: 24px;
	text-align: right;
}

.IsFinished .IsVictory .PlayerName
{
	color: #99d3a0;
}

.IsFinished .IsLoss .PlayerName
{
	color: #d74545;
}

.PlayerLevel,
.PlayerHealth,
.PlayerGold
{
	font-size: 18px;
	font-weight: bold;
}

.PlayerLevel
{
	text-shadow: 0px 0px 0px 1.0 #00000000;
	color: #93b7fe;
	vertical-align: center;
}

.PlayerHealth {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	//width: 40px;
	width: 37px;
	text-align: right;
	padding-right: 4px;
	color: #a2ff92;
	vertical-align: middle;
}

.HealthMid .PlayerHealth
{
	color: #fff66e;
}

.HealthLow .PlayerHealth
{
	color: #ff6123;
}	

.PlayerGold {
	text-shadow: 0px 0px 0px 1.0 #00000000;
	width: 32px;
	text-align: right;
	text-overflow: shrink;
	padding-right: 4px;
	color: gold;
	vertical-align: middle;
}


.PlayerLevelIcon
{
	width: 15px;
	height: 15px;
	opacity: .75;
	margin-left: -2px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/player_level_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.PlayerHealthIcon
{
	width: 13px;
	height: 13px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_health_psd.vtex");
	background-size: contain;
	margin-top: 2px;
	margin-left: -3px;
}

.HealthMid .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_mid_psd.vtex");
}

.HealthLow .PlayerHealthIcon
{
	background-image: url("s2r://panorama/images/leaderboard/icon_health_low_psd.vtex");
}	

.PlayerGoldIcon
{
	width: 12px;
	height: 12px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/leaderboard/icon_gold_bevel_psd.vtex");
	background-size: contain;
	margin-top: 2px;
	margin-left: -3px;
}

.IconColumn {
	width: 50px;
	margin-left: 10px;
	height: 100%;
}

/* Backgrounds */
.PlayerSlotHome1 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel01_psd.vtex");
}

.PlayerSlotHome2 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel02_psd.vtex");
}

.PlayerSlotHome3 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel03_psd.vtex");
}

.PlayerSlotHome4 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel04_psd.vtex");
}

.PlayerSlotHome5 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel05_psd.vtex");
}

.PlayerSlotHome6 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel06_psd.vtex");
}

.PlayerSlotHome7 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel07_psd.vtex");
}

.PlayerSlotHome8 {
	background-image: url("s2r://panorama/images/leaderboard/minimal_background_panel08_psd.vtex");
}


/* Combat icon */
.InCombatIcon {
	ui-scale: 40%;
	margin: 8px 0 0 9px;
	width: 100%;
	height: 100%;
}
.InCombatIcon .SwordIcon
{
	//margin-right: 5px;
	animation-name: Fighting;
	margin-top: 20px;
}

.InCombatIcon Image {
	animation-duration: .81s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.InCombatIcon .DefendIcon
{
	margin-right: 15px;
	animation-name: Defending;
	margin-top: 20px;
}

.IsFinished .DefendIcon,
.IsFinished .SwordIcon
{
	visibility: collapse;
}

.IsClone .DefendIcon,
.IsClone .SwordIcon
{
	wash-color: #00aeffff;
	opacity: .85;
}

.IsClone .PlayerName {
	color: #00aeffff;
}


@keyframes 'Fighting'
{
	0%
	{
		transform: translateX(10px) translateY(5px);
	}
	15%
	{
		transform: translateX(-15px) translateY(-5px) rotateZ(-55deg);
	}	
	100%
	{
		transform: translateX(10px) translateY(5px);
	}
}


@keyframes 'Defending'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	15%
	{
		pre-transform-scale2d: 1.1;
	}	
	100%
	{
		pre-transform-scale2d: 1.0;
	}
}
