DACUIPuzzleStatus
{
	height: fit-children;
	width: 360px;

	//margin: 20px;

	vertical-align: top;
	horizontal-align: left;
	
	background-color: #121212;

	flow-children: down;
	box-shadow: 0px 0px 50px #00000090;

}

#PuzzleStatusTitle {
	background-color: black;
	flow-children: down;
	width: 100%;
}

#PuzzleStatusContent {
	padding: 10px 20px 20px 20px;
	flow-children: down;
}

.PuzzleTitle
{
	font-size: 40px;
	font-family: Ravenhook;
	line-height: 40px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #dd7676 ), to(  #8c3636 ) ); 
	text-transform: uppercase;
	max-width: 480px;
	padding: 0px 20px 10px 20px;
	text-overflow: shrink;
	width: 100%;
}

#PuzzleLabel {
	flow-children: right;
	padding: 15px 0px 0px 20px; 
}
	

.PuzzleLabel {
	font-size: 20px;
	color: textBrighter;
	font-weight: black;
	margin-top: 1px;
	text-transform: uppercase;

}

#PuzzleIcon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background-image: url("s2r://panorama/images/challenge_map/icon_puzzle_png.vtex");
	background-size: 100%;
	opacity: 0.6;
}



.PuzzleDifficulty
{
	text-transform: uppercase;
	font-size: 28px;
	font-family: Ravenhook;
	color: white;
	margin-left: 3px;
}

.PuzzleCompletion
{
	font-size: 20px;
	color: #ddd;
}

