DACMapPropList
{	
}

#PropListContainer
{	
	flow-children:right-wrap;	
	overflow:clip scroll;
	width:720px;
	height:660px;
	padding: 12px 12px 0px 12px;    	
}

#PropListContainer VerticalScrollBar .ScrollThumb
{	
	background-color: #cdd2f3;
}

VerticalScrollBar, HTMLVerticalScrollBar
{
	width: 16px;
	padding-right: 4px;
	padding-top: 12px;
}

.MapPropItem
{	
	height:100%;
	width:100%;
	margin: 0px 4px 8px 4px;
	brightness: 0.9;
    transition-property: transform, background-color, color;
	transition-duration: .1s;	
}

.IsLocked.MapPropRootContainer
{
	brightness: 0.5;
	saturation: 0.1;
	wash-color: #3a458188;
}

.IsLocked.MapPropRootContainer:hover
{
	brightness: 0.5;
	saturation: 0.1;
	wash-color: #3a458188;
}

#SceneBGImage
{
	width: 100%;	
	height: 100%;	
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_loot_list_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
}

#RewardPreviewScenePanel
{
	width: 100%;	
	height: 100%;
	background-size:100%;
}

.MapPropRootContainer
{
	height: 304px;
	width: 228px;	
    transition-property: transform;
	transition-duration: .1s;
	box-shadow: fill 0px 0px 24px #00000066;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#PropFrame
{
	width:100%;
	height:100%;
	background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_psd.vtex");
    background-repeat: no-repeat;
	background-size: 100%;
	visibility: collapse;
}

.MapPropRootContainer:hover,
.MapPropRootContainer:active
{
	brightness: 1.8;
}

.LimitText,
.PropText
{
	padding: 3px;
	padding-top: 5px;
	text-align: center;
	font-size: 24px;
    text-overflow: shrink;
	font-weight: semi-bold;
    color: #CCCCCC;
	margin:0px 4px 20px 4px;
	vertical-align: bottom;
    horizontal-align: center;   
    text-transform: uppercase;
    letter-spacing: 1px;
    height:36px;
    text-shadow: 0px 0px 0px 3.0 black;
}

.LimitText
{
	vertical-align: top;
	color:#f0be51;
	visibility: collapse;
	margin-top:8px;
	text-shadow: 0px 0px 0px 2.0 black;
	font-weight: black;
	letter-spacing: 0px;
}

.HasMapLimit .LimitText
{
	visibility: visible;
}

.IsLocked .PropText
{
	color:#CCCCCC;
	text-shadow: 0px 0px 0px 3.0 black;
}

.IsLocked .LockIcon
{
    width: 32px;
    height: 32px;
    vertical-align: top;
    horizontal-align: right;
    margin: 12px;
    background-image: url("s2r://panorama/images/control_icons/lock_png.vtex");
    background-size: 100%;
}
