@import url("file://{resources}/styles/battle_pass/current_battlepass.css");


DACLoadoutPage
{
    width:100%;
    height:100%;
    background-color:#333333;
    flow-children:none;
    background-image: url("s2r://panorama/images/dashboard/background/flattened-bg_jpg.vtex");
    background-size: 100%;
}

.Dimmer
{
    width:100%;
    height:100%;
	background-color: #060606cc;
}

.IsPlatformMobile .PreviewBanner,
.IsPlatformMobile .LoadoutMaps,
.IsPlatformMobile .LoadoutSigils,
.IsPlatformMobile .LoadoutFlags,
.IsPlatformMobile .LoadoutStandards,
.IsPlatformMobile .LoadoutTeleports,
.IsPlatformMobile .LoadoutFireworks,
.IsPlatformMobile .LoadoutStreaks,
.IsPlatformMobile .LoadoutYos
{
    box-shadow: none;
}

#TopRow
{
    width: 100%;
    height: 400px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    vertical-align: top;
    horizontal-align:center;
    flow-children: right;
    //background-image: url("s2r://panorama/images/heropedia/paintbrush-blue-bg_psd.vtex");
    background-size: 100%;
}

.PageTitleLabel
{
    font-size: 80px;
    font-weight: black;
    //color: #ffffff;
    //background-color: #000000;
    //box-shadow: 0px 0px 6px #000000;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 3px #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    padding: 0px 30px;
    transform: rotateZ(-2deg);
    //margin-top: 12px;
    margin-left: 4px;
}

.PageDescription
{
    font-weight: black;
    font-size: 24px;
    color: white;
    text-transform: uppercase;

    margin-left: 20px;
    margin-top: 30px;
    padding: 5px 30px;
    vertical-align: top;
}

.LoadoutPanel
{
    width: 600px;
    height: 850px;
    margin-right: 20px;
    background-color: black;
}

// TEMP LOADOUT STUFF

.ComingSoonViolator
{
    font-weight: black;
    font-size: 72px;
    padding: 10px 60px -2px 60px;
    text-transform: uppercase;
    color: white;
    //background-color: #d07c18;
    background-color: gradient( linear, 0% 90%, 0% 0%, from( #b7231a ), to( #de2b20 ) );
    horizontal-align: center;
    vertical-align: center;
    transform: rotatez(-5deg);
    box-shadow: 0px 0px 3px #b7231a;
    margin-left: 40px;
}

#BottomRow
{
    //width: 100%;
    width: fit-children;
    horizontal-align: center;
    vertical-align: center;
    height: fit-children;
    flow-children: right;
    padding-left: 40px;
    margin-top: 150px;
    //background-color: red;
}

.LoadoutContainer
{
    height: 750px;
    width: 550px;
    background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_psd.vtex");
    background-size: 100%;
    box-shadow: fill 0px 0px 24px #000000cc;
}


.LoadoutContainer.Left
{
    width: 1075px;
    background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_left_psd.vtex");
    flow-children: right;
    margin-right: 25px;
}

.LoadoutContainer.Right
{
    flow-children: down;
}

.LeftSide
{
    margin-left: 25px;
    margin-right: 25px;
}

.RightSide
{
    flow-children: down;
}

.Right
{
	   background-image: url("s2r://panorama/images/dashboard/loadout_section_bg_right_psd.vtex");
}

.LoadoutDetail
{
    border: 3px solid #66666620;
    //border-top: 4px solid #444;
    //border-right: 4px solid #333;
    //border-bottom: 4px solid #222;
    //border-left: 4px solid #222;
    transition-property: border, brightness, transform;
    transition-duration: .2s;
    background-color: gradient (linear, 0% 100%, 60% 0%, from(#000000), to(#00000020));
    brightness: 1.0;
}

.LoadoutDetail:hover
{
    border: 3px solid #8D60C6;
    //border: 3px solid gold;
    //transform: translateY(-2px);
    brightness: 1.5;
    /*background-color: #00000090;*/
    background-color: gradient (linear, 0% 100%, 100% 0%, from(#000000), to(#140a2770));
}

.ImageDetail
{
    transition-property: transform;
    transition-duration: .2s;
    horizontal-align: right;
    margin-right: 40px;
}


.LoadoutDetail:hover .ImageDetail
{
    transform: translateY(-8px);
}


.LoadoutDetail:hover .LoadoutLabel
{
    color: #ffffff;
    background-color: #8D60C6;

    /*background-color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );*/

}




.LoadoutLabel
{
    horizontal-align: right;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff30;
    letter-spacing: 2px;
    transition-property: color, transform;
    transition-duration: .2s;
    background-color: #292D2E;
    padding: 2px 10px 2px 15px;
}

#EquippedItemName {
    horizontal-align: left;
    vertical-align: bottom;
    margin-bottom: 20px;
    flow-children: down;
    margin-left: 30px;
    width: 280px;
    /*border: 1px solid yellow;*/
    /*height: fit-content;*/
}

.EquippedText
{
    horizontal-align: left;
    /*margin-right: 25px;*/
    vertical-align: bottom;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    color: #ffffffaa;
    text-overflow: shrink;
    transition-property: transform;
    transition-duration: .2s;

}

.EquippedLabel {
    font-size: 14px;
    text-transform: uppercase;
    color: #8D60C6;
    width: 220px;
    height: 20px;
    horizontal-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    //text-align: right;

}

.PreviewBanner
{
    width: 500px;
    height: 700px;
    background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    horizontal-align: center;
    margin-top: 25px;
	  background-image: url("s2r://panorama/images/battle_pass/bp0/items/map_00_banner_bg_psd.vtex");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.MapDAC_Item_Map0 .PreviewBanner
{
	  background-image: url("s2r://panorama/images/battle_pass/bp0/items/map_00_banner_bg_psd.vtex");
}

.MapDAC_Item_Map1 .PreviewBanner
{
	  background-image: url("s2r://panorama/images/battle_pass/bp0/items/map_01_banner_bg_psd.vtex");
}

.LoadoutContainerBannerOptions
{
    width: 500px;
    height: 210px;
    margin-top: 25px;
    horizontal-align: center;
    flow-children: right;
}

.LoadoutStandards,
.LoadoutFlags,
.LoadoutSigils
{
    width: 500px;
    height: 220px;
    horizontal-align: center;
    margin-top: 25px;
    /*background-color: #000000aa;*/
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    //background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #55555588 ), to( #33333333 ) );
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    background-position: center;
    background-size: contain;
}

.LoadoutStandards
{
    height: 210px;
}


.LoadoutMaps
{
    width: 500px;
    height: 220px;
    margin-top: 25px;
    horizontal-align: center;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    background-position: center;
}

.LoadoutTitles
{
    width: 500px;
    height: 175px;
    margin-top: 25px;
    horizontal-align: center;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
}

.LoadoutContainerBottom
{
    width: 500px;
    height: 210px;
    margin-top: 25px;
    horizontal-align: center;
    flow-children: right;
}

.MiddleContainer
{
    flow-children: right;
}

.BottomContainer
{
    flow-children: right;
}

.LoadoutYos
{
    width: 235px;
    height: 210px;
    horizontal-align: center;
    margin-top: 25px;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    background-size: 50% 75%;
    background-position: 0%;
    margin-left: 25px;
}

.LoadoutStreaks
{
    width: 235px;
    height: 210px;
    horizontal-align: center;
    margin-top: 25px;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    margin-left: 25px;
}

.LoadoutTeleports
{
    width: 235px;
    height: 210px;
    horizontal-align: center;
    margin-top: 25px;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    background-size: 50% 75%;
    background-position: 0%;
    margin-left: 25px;
}

.LoadoutFireworks//temp
{
    width: 235px;
    height: 210px;
    horizontal-align: center;
    margin-top: 25px;
    /*background-color: gradient( radial, 50% 20%, 0% 0%, 180% 80%, from( #00000088 ), to( #22222233 ) );*/
    box-shadow: inset #000000cc 0px 1px 14px 0px;
    margin-left: 25px;
}

#BannerSceneView
{
    width: 100%;
    height: 100%;
}

.MapImage
{
    width: 200px;
    height: 200px;
    vertical-align: center;
}

.FlagBaseImage,
.FlagShapeImage
{
    width: 190px;
    height: 190px;
    vertical-align: bottom;
}

.TeleportImage
{
    width: 140px;
    height: 140px;
    margin-right: 0px;
		margin-top: 20px;
    horizontal-align: right;
    vertical-align: top;
}

.FireworksImage
{
    width: 140px;
    height: 140px;
    margin-right: 0px;
		margin-top: 20px;
    horizontal-align: right;
    vertical-align: top;
}


.YoImage,
.StreakImage
{
    width: 150px;
    height: 150px;
    margin-right: 0px;
}

.YoImage
{
    margin-top: 5px;
}

.StreakImage
{
    margin-top: -5px;
    margin-right: -5px;
}

.StreakImage,
.YoImage
{
    vertical-align: top;
    /*horizontal-align: center;*/
    //margin-right: 10px;
}



.LoadoutYos .EquippedText,
.LoadoutStreaks .EquippedText {
    font-size: 26px;
}