DACSynergyCapsule
{
	flow-children: right;
}

DACSynergyCapsule.NoValidKeywords
{
	visibility: collapse;
}

DACSynergyCapsule DACSynergyIconNoBars
{
	margin-left: -10px;	
	margin-right: -10px;
}

DACSynergyIconNoBars
{
	visibility: collapse;
}

DACSynergyIconNoBars.IconVisible
{
	visibility: visible;
}

DACSynergyCapsule.FourIcons
{
	ui-scale: 80%;
}