@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACUnitStatus {
	flow-children: down;
}



.HeaderPlayerName
{
	text-align: center;
	height: 40px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 1px 0px 3.0 #000;
	font-size: 30px;
	font-weight: bold;
	text-overflow: shrink;
	width: fit-children;
	max-width: 200px;
	
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 2.0 #000;
}

.LowVisualQuality .HeaderPlayerName {
	text-shadow: 0px 1px 0px 2.0 #000;
}

.Cost1 .HeaderPlayerName,
.Cost2 .HeaderPlayerName,
.Cost3 .HeaderPlayerName,
.Cost4 .HeaderPlayerName,
.Cost5 .HeaderPlayerName
{
	max-width: 240px;
	horizontal-align: center;
}

.Cost1 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#d0b2cd), to(#cedef8));
}

.Cost2 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#3ed93b), to(#99d3a0));
}

.Cost3 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#5990ff), to(#9cbbed));
}

.Cost4 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#e347ff), to(#e49bff));
}

.Cost5 .HeaderPlayerName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #181818 ), to(#2d2c30));
	text-shadow: none;
	font-weight: black;
	background-image: url("s2r://panorama/images/hud/highroller_title_bg_psd.vtex");
	background-size: 100%;
	padding: 0px 12px 0px 12px;
}

#PlayerProfile
{
	background-image: url("s2r://panorama/images/hud/unit_inspect_portrait_bevel_psd.vtex");
	background-size: cover;
	width: 240px;
	height: 240px;
}


#PlayerAvatar {
	background-image: url("s2r://panorama/images/hud/unit_inspect_portrait_bevel_psd.vtex");
	background-size: cover;
	width: 240px;
	height: 240px;
}

#PlayerEXPGraph_FG {
	background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_fg_png.vtex");
	background-size: cover;
	transition-property: clip;
	transition-duration: 200ms;
}

#HealthBar {
	width: 88%;
	height: 88%;
	opacity: 0;
	margin-top: 1.5%;
	margin-left: 2.3%;
}

#HealthBar_FG {
	background-image: url("s2r://panorama/images/hud/health_ring_psd.vtex");
	width: 100%;
	height: 100%;
	background-size: cover;
	transition-property: clip;
	transition-duration: 200ms;
}

#AbilityCooldown
{
	width: 100%;
	height: 16px;
	vertical-align: bottom;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	background-color: #222;

	visibility: collapse;
}

.ERoundState_Combat .UnitIsAlive.AbilityInCooldown #AbilityCooldown
{
	visibility: visible;
}

ProgressBar .ProgressBarLeft
{
	background-color: #ddd;
	height: 12px;
}

.HPLabel
{
	width: 100%;
	color: #a2ff92;
	font-size: 38px;
	text-align: center;
	font-weight: bold;
	margin-top: 188px;
	text-overflow: shrink;
	horizontal-align: center;
	
	text-shadow: 0px 0px 0px 3.0 #000;
}
.ERoundState_Combat #StatusHP
{
	visibility: collapse;
}

#StatusHPInCombat
{
	visibility: collapse;
}

.ERoundState_Combat #StatusHPInCombat
{
	visibility: visible;
}

.LowVisualQuality #StatusHP {
	text-shadow: 0px 0px 0px 2.0 #000;
}


#UnitPortraitView {
	width: 100%;
	height: 100%;
}

.Cost2 #UnitPortraitView
{
	border-top: 2px solid #62df8144;
	border-left: 2px solid #62df8122;
	border-right: 2px solid #62df8122;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#28813F), to(#4442));
}

.Cost3 #UnitPortraitView
{
	border-top: 2px solid #829cf044;
	border-left: 2px solid #829cf022;
	border-right: 2px solid #829cf022;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#233368), to(#4442));
}

.Cost4 #UnitPortraitView
{
	border-top: 2px solid #ef87f344;
	border-left: 2px solid #ef87f322;
	border-right: 2px solid #ef87f322;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#733a75), to(#4442));
}

.Cost5 #UnitPortraitView
{
	border-top: 2px solid #806d41;
	border-left: 2px solid #78663d;
	border-right: 2px solid #78663d;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#99834e), to(#4442));
}

#PlayerFlag {
	//background-image: url("s2r://panorama/images/hud/black_ribbon_psd.vtex");
	background-image: url("s2r://panorama/images/shop/cost1_background_psd.vtex");
	background-size: cover;
	width: 240px;
	height: 240px;
	box-shadow: #000000bb 0px 0px 22px;
}

.RankLabel {
	font-size: 26px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	text-shadow: 0px 0px 0px 3.0 #000;
	text-align: left;
	//width: 100px;
	visibility: collapse;
	margin-top: 2px;
	//margin-top: 130px;
	text-overflow: clip;
	horizontal-align: center;
}

.UnitNameContainer
{
	flow-children: down;
	width: 100%;
	horizontal-align: center;
	margin-bottom: 6px;
}

.LowVisualQuality .RankLabel {
	text-shadow: 0px 0px 0px 2.0 #000;
}

.TextContainer {
	width: 100%;
	height: 100%;

	//margin-right: 10px;
}

.Rank_1 .Rank1Label {
	visibility: visible;
	color: rank1Color;
}

.Rank_2 .Rank2Label {
	visibility: visible;
	color: rank2Color;
}

.Rank_3 .Rank3Label {
	visibility: visible;
	color: rank3Color;
}

#AbilitySnippetContainer
{
	flow-children: right;
	horizontal-align: center;
}

.AbilityContainer
{
	width: 120px;
	height: 120px;
	margin: 2px 0 6px 0;
	horizontal-align: center;
	box-shadow: #000000bb 0px 0px 12px;
	background-image: url("s2r://panorama/images/hud/ability_icon_bevel_psd.vtex");
	background-size: 100%;
}

.TwoAbilities .AbilityContainer
{
	width: 80px;
	height: 80px;
	margin-left: 4px;
	margin-right: 4px;
}

#UnitAbility
{
	width: 100%;
	height: 100%;
}

#AbilityBevel
{
	width: 120px;
	height: 120px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/ability_icon_bevel_psd.vtex");
	background-size: 100%;
}

.SynergyContainer {
	margin: 0px 0px 0px 0px;
	width: 100%;
	
	ui-scale: 80%;
}

#SynergyCapsule {
	horizontal-align: center;
}

#SelectUnitStats {
	background-color: #00000090;
	background-image: url("s2r://panorama/images/hud/unit_inspect_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: top;
	box-shadow: #000000bb 0px 0px 22px;
	padding: 4px 2px 20px 2px;
	width: 100%;
}

#SelectUnitStatsTint
{
	background-color: red;
	width: 100%;
} 

.Stat {
	color: #8588a0;
	font-size: 24px;
	text-shadow: 0px 1px 0px 3.0 #000;
	width: 100%;
	text-align: center;
}

.IsLayoutSmallScreen .Stat
{
	font-size: 28px;
}


#SelectUnitStats .Count {
	color: #fff;
}

#SelectUnitItem {
	visibility: collapse;
	width: 80px;
	height: 80px;	
	margin: 4px;
	horizontal-align: center;
}

#SelectUnitItem.ContainsItem {
	visibility: visible;
}

#HighRollerContainer
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/heroes/spellicons/highroller_psd.vtex");
	background-repeat: no-repeat;
	background-position: center;
	width: 120px;
	height: 120px;
	margin: 2px 0 12px 0;
	horizontal-align: center;
	box-shadow: #000000bb 0px 0px 12px;
	background-size: 100%;
}

#HighRollerIconEffect
{
	width: 100%;
	height: 100%;
	//margin-top: -84px;
}

.Cost5 #HighRollerContainer
{
	visibility: visible;
}