@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACRewardsPage
{
    width:100%;
    height:100%;
    background-color:#333333;
    flow-children:down;
}

#RewardLineContainer 
{
    flow-children: right;
    horizontal-align:center;
    vertical-align: center;
}

#RewardLine 
{
    flow-children: right;
    width: 1430px;
    height: 550px;
    overflow: scroll scroll;
    transition-property: transform;
    transition-duration: 0.2s;
}

.RewardLineItem 
{
    flow-children: down;
    width: 230px;
    height: 550px;
    transition-property: position;
    transition-duration: 1s;
}

.RewardLineItemSeparator
{
    width: 150px;
    height: 10px;
}

.RewardLineItemImage
{
    width: 100%;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.RewardLineItemImageFree
{
  background-color:#DDDDDD;
}
.RewardLineItemImageBP
{
    background-color: #999;
}
.RewardLineItemImage Label
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 32px;
}

.RewardLineItemEquipButton
{
    visibility: collapse;
}

.HasReward .RewardLineItemClaimButton
{
    visibility: visible;
}

.RewardLineItemClaimButton
{
    vertical-align: bottom;
    horizontal-align: center;
    width: 100%;
    height: 55px;
    //visibility: collapse;
    background-color: #555;
    margin-top:10px;
}

.RewardLineItemClaimButton Label
{
    horizontal-align: center;
    vertical-align: middle;
    font-size: 50px;
    color:white;
    font-weight:bold;
}

.RewardLineItemClaimButton:hover
{
    background-color: #888888;
}

#ScrollLeft, #ScrollRight
{
    height: 500px;
    width: 70px;
    background-image: url("s2r://panorama/images/dashboard/reward_arrow_png.vtex");
    background-repeat: no-repeat;
    background-position:50% 50%;
}


#ScrollRight
{
    transform: ScaleX(-1);
    margin-left:20px;
}

#ScrollLeft
{
    margin-right:20px;
}

#BottomRow
{
    width: 100%;
    height: 550px;
    flow-children: right;
    vertical-align:bottom;
    margin-bottom:100px;
}

#RewardLine #HorizontalScrollBar
{
    opacity:0;
}

#FreeBPPanels
{
    height:100%;
    width:115px;
    margin-right:10px;
    flow-children:down;
}

#FreePanel
{
    background-color: #DDD;
    height: 230px;
    margin-bottom: 10px;
    width: 100%;
}

#BPPanel
{
    background-color: #DDD;
    height: 230px;
    width: 100%;
    background-image: url("s2r://panorama/images/dashboard/bpreward_icon_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#FreePanel Label
{
    color: #666;
    font-size:40px;
    font-weight:bold;
    vertical-align:middle;
    horizontal-align:center;
    text-transform:uppercase;
    font-style: italic;
}

#TopRow
{
    width:1620px;
    margin-top: 250px;
    horizontal-align:center;
}

#BattlePassUpsell
{
    width: 691px;
    height: 119px;
    background-image: url("s2r://panorama/images/dashboard/battlepass_upsellbg_png.vtex");
    horizontal-align:right;
}

#BattlePassUpsell .UpsellTitle
{
    horizontal-align:center;
    font-size:40px;
    font-weight:bold;
    color:#555;
    height:45px;
}

#BattlePassUpsell .UpsellDesc
{
    horizontal-align: center;
    font-size: 24px;
    color: #555;
}

.UpsellLabelContainer
{
    flow-children:down;
    horizontal-align: center;
    vertical-align:middle;
}

#PlayerBPLevelContainer
{
    background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_bg_png.vtex");
    width: 141px;
    height: 141px;
    margin-left:32px;
}

#PlayerBPLevelGraph
{
    width: 119px;
    height: 119px;
    position: 2px 6px 0px;
}

#PlayerBPLevelGraphLevel
{
    color: #f7b461;
    text-align: center;
    width: 100%;
    margin: 33px 15px 0px 0px;
    font-size: 54px;
}

#PlayerBPLevelGraph_FG
{
    background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_fg_png.vtex");
    width: 141px;
    height: 141px;
    transition-property: clip;
    transition-duration: 200ms;
}

#BattlePassProgress
{
    flow-children:right;
}

.BattlePassCurrentLevelProgress
{
    vertical-align:middle;
    font-size:40px;
    color:#DDD;
    font-style: italic;
}