

DACUnderlordConfig
{
	width: 1920px;
	height: 100%;

	position: 0px 0px 0px;

	transition-property: position;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

DACUnderlordConfig.Left
{
	position: -100% 0px 0px;
}

DACUnderlordConfig.Right
{
	position: 100% 0px 0px;
}


DACUnderlordConfig #UnderlordContainer
{
	width: 100%;
	height: 100%;
	//padding: 120px 150px;
	background-color: gradient(linear, 0% 0%, 70% 0%, from( #5126AB ), to(#00000000));
}

DACUnderlordConfig #UnderlordContainer .DashboardHeader
{
	horizontal-align: left;
	vertical-align: top;
}


DACUnderlordConfig #BioSection
{
	flow-children: down;
	
	background-image: url("s2r://panorama/images/underlords/bg_texture_png.vtex");
	background-size: 100%;
	padding-left: 140px;

	width: 1000px;
	height: 100%;
}

.IsLayoutSmallScreen DACUnderlordConfig #BioSection
{
	width: 1300px;
}

.AspectRatio21x9.IsLayoutSmallScreen #BioSection {
	padding-left: 120px;
}

DACUnderlordConfig .IsLayoutSmallScreen.AspectRatio21x9 #BioSection 
{
	padding-left: 120px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #Name
{
	font-size: 120px;
	text-transform: uppercase;
	font-weight: black;
	font-family: Ravenhook, Radiance Black;
	color: gradient(linear, 0% 0%, 0% 100%, from( #ffffff ), to(#C6DCFE));
}

.IsLayoutSmallScreen.AspectRatio21x9 DACUnderlordConfig #Name 
{
	margin-left: 80px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #TabSection
{
	width: 500px;
	margin-top: 10px;
	margin-bottom: 30px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #TabSection #TabBackground
{
	width: 50%;
	height: 100%;

	background-color: white;

	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

DACUnderlordConfig.TabSelected1  #UnderlordContainer #BioSection #TabSection #TabBackground
{
	transform: translateX( 50% );
}

DACUnderlordConfig.TabSelected2  #UnderlordContainer #BioSection #TabSection #TabBackground
{
	transform: translateX( 0 );
}

DACUnderlordConfig #UnderlordContainer #BioSection #TabSection #TabLabels
{
	width: 100%;
	flow-children: right;
}

DACUnderlordConfig #UnderlordContainer #BioSection #TabSection .TabLabel
{
	width: fill-parent-flow( 1.0 );

	color: white;
	font-size: 44px;
	letter-spacing: 2px;
	text-align: center;
	text-overflow: shrink;
	text-transform: uppercase;


	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

DACUnderlordConfig.TabSelected1  #UnderlordContainer #BioSection #TabSection #TabCombat
{
	color: black;
}

DACUnderlordConfig.TabSelected2  #UnderlordContainer #BioSection #TabSection #TabAbilities
{
	color: black;
}

DACUnderlordConfig #UnderlordContainer #BioSection #Subtitle
{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: Ravenhook, Radiance Black;
	letter-spacing: 2px;

	color: #ffffff;

	margin-bottom: 20px;
	margin-top: -20px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #Subtitle
{
	margin-left: 80px;
}

DACUnderlordConfig #UnderlordContainer #BioSection .TabSection
{
	width: 100%;
	height: 100%;

	margin-right: 100px;

	opacity: 0;

	flow-children: down;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

/* .IsLayoutSmallScreen.AspectRatio21x9 #BioSection, 
.IsLayoutSmallScreen.AspectRatio21x9 #TabSection
{
	margin-left: 80px;
} */

DACUnderlordConfig #UnderlordContainer #BioSection #TabOptions
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

DACUnderlordConfig.TabSelected1 #UnderlordContainer #BioSection #CombatContents,
DACUnderlordConfig.TabSelected2 #UnderlordContainer #BioSection #AbilityContents
{
	opacity: 1.0;
}


DACUnderlordConfig #UnderlordContainer #BioSection #Oneliner
{
	font-size: 30px;
	color: #dedede;
	font-weight: semi-bold;

	margin-bottom: 20px;
	margin-right: 100px;
}

.IsLayoutSmallScreen DACUnderlordConfig #UnderlordContainer #BioSection #Oneliner {
	font-size: 36px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #Description
{
	font-size: 26px;
	width: 100%;
	margin-bottom: 10px;
	letter-spacing: 0px;
	font-style: italic;

	color: #a8a8a8;
}

.IsLayoutSmallScreen DACUnderlordConfig #UnderlordContainer #BioSection #Description {
	font-size: 30px;
}



#PlayButtonContainer {
	flow-children: right;
}

#PlayButtonLabel {
	vertical-align: middle;
	font-size: 30px;
	font-family: 'Ravenhook';
	color: #d9ddf6;
	letter-spacing: 2px;
	margin-left: 5px;

}

#PlayButtonIcon {
	width: 60px;
    height: 60px;
	background-image: url("s2r://panorama/images/underlords/play_sound_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#UnderlordsMonologue {
	width: 100%;
	max-height: 500px;
	overflow: squish scroll;
	border-left: 45px solid #222222;
	padding-left: 30px;
	flow-children: down;
}
/* 
#UnderlordsMonologue Label {
	font-size: 28px;
	horizontal-align: center;
	vertical-align: middle;
} */

#UnderlordsMonologueButton {
	flow-children: right;
}

#UnderlordsMonologueButton:hover {
	brightness: 2;
}




DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList
{
	horizontal-align: left;
	width: 100%;

	flow-children: down;

	margin-bottom: 40px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList .AbilityBlock 
{
	width: 100%;
	flow-children: right;
	margin-top: 20px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList #AbilityIcon 
{
	width: 110px;
	height: 110px;
	background-color: #999999;
}

DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList .AbilityInfo 
{
	flow-children: down;
	width: 100%;
	margin-left: 30px;
}

DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList .AbilityName 
{
	font-size: 30px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: black;
	letter-spacing: 2px;
	font-family: 'Ravenhook';
}

DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList .AbilityDesc 
{
	font-size: 20px;
	color: #c7c7c7;
}

.IsLayoutSmallScreen DACUnderlordConfig #UnderlordContainer #BioSection #AbilityContents #AbilityList .AbilityDesc 
{
	font-size: 26px;
}


DACUnderlordConfig #TalentsButton
{
	border: 1px solid white;
	padding: 6px 10px;

	margin-top: 10px;
	margin-bottom: 60px;

	horizontal-align: left;

}

DACUnderlordConfig #TalentsButton:hover
{
	background-color: #222;
}

DACUnderlordConfig #TalentsButton Label
{
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: black;
	font-family: Ravenhook, Radiance Black;
	letter-spacing: 1px;
}


DACUnderlordConfig #HypeSection
{
	horizontal-align: left;
	flow-children: down;
}

DACUnderlordConfig #HypeSection #HypeMeterTitle
{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: black;
	
	color: #C1C1C1;
}

DACUnderlordConfig #HypeSection .HypeMeterInfo
{
	font-size: 30px;
	
	color: #FFF;
}

.MainNavUnderlordButtonContainer
{
    transform: rotateZ(-3deg);
    //width: 600px;
    width: 550px;
    height: fit-children;
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 120px;
    //margin-right: 80px;
    margin-right: 50px;
    flow-children: none;
}

.IsLayoutSmallScreen.AspectRatio21x9 .MainNavUnderlordButtonContainer
{
    margin-right: safe-area-inset-right;
}

.UnderlordArrow
{
    background-image: url("s2r://panorama/images/dashboard/arrow_right_underlord_psd.vtex"); 
    height: 78px;
    width: 50px;
    background-size: 100%;
    horizontal-align: right;
    vertical-align: center;
    wash-color: textDefault;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.ArrowLeft
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_left_underlord_psd.vtex"); 
}

.UnderlordArrow:hover
{
    opacity: 1;
}

#Underlord_1 #LeftUnderlordArrow,
#Underlord_4 #RightUnderlordArrow
{
	opacity: 0;
}

.MainNavUnderlordsButtonLabel
{
    font-size: 64px;
    font-weight: black;
    letter-spacing: 1px;
    color: textBrighter;
    text-transform: uppercase;
    text-overflow: shrink;
    text-align: center;
}

#MainNavUnderlordsButton
{
    background-image: url("s2r://panorama/images/dashboard/underlords_button_01_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 12px 30px;
    transition-property: brightness;
    transition-duration: .2s;
    transition-property: brightness;
    transition-duration: 0.2s;
    horizontal-align: center;
    vertical-align: center;
    line-height: 52px;
    //height: 200px;
    max-width: 480px;
    min-width: 375px;
    text-align: center;
    height: fit-children;
    text-overflow: shrink;
	max-width: 430px;
}

DACUnderlordConfig:not(.UnderlordIsSelected) #MainNavUnderlordsButton:hover
{
	brightness: 2.0;
}

.MainNavUnderlordsButtonLabel
{
    horizontal-align: center;
    visibility: collapse;
}

#HypeSectionHIDE {
	opacity: 0;
}

#PlaceholderLabel {
	width: 500px;
	height: 50px;
	font-size: 20px;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 150px;
	background-color: none;
}

.UnderlordSelectContainer
{
    width: 450px;
	height: 220px;
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 72px;
    margin-right: 200px;
    flow-children: down;
	transform: translateZ( 2px );
	overflow: noclip;
}
.AspectRatio21x9.IsLayoutLargeScreen DACUnderlordConfig .UnderlordSelectContainer {
	margin-right: 450px;
}
.AspectRatio21x9.IsLayoutSmallScreen DACUnderlordConfig .UnderlordSelectContainer {
	margin-right: 300px;	
	ui-scale: 120%;
}

.AspectRatio16x9.IsLayoutSmallScreen DACUnderlordConfig .UnderlordSelectContainer,
.AspectRatio4x3.IsLayoutSmallScreen DACUnderlordConfig .UnderlordSelectContainer {
	margin-right: 140px;
}
.UnderlordSelectContainer #SelectEmpty
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #348746 ), to( #699a61 ) );
	vertical-align: center;
    
	padding: 8px 20px;
	font-size: 48px;
	text-transform: uppercase;
	color: white;
	max-width: 450px;
	line-height: 48px;

	text-align: center;
	visibility: collapse;

    transition-property: brightness;
    transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.UnderlordSelectContainer #SelectEmpty:hover
{
	brightness: 1.5;
}

.Underlord_0 .UnderlordSelectContainer #SelectEmpty
{
	visibility: visible;
}

.IsLayoutSmallScreen .UnderlordSelectContainer #SelectEmpty
{

}

.UnderlordSelectContainer .UnderlordSelectTopContainer
{
	width: 100%;
	height: 100px;
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectBackground 
{
	width: 100%;
	height: 100%;

    background-image: url("s2r://panorama/images/dashboard/underlords_button_01_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;

	transition-property: background-image;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


.Underlord_1 .UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectBackground
{
    background-image: url("s2r://panorama/images/dashboard/underlords_button_anessix_psd.vtex");
}

.Underlord_4 .UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectBackground
{
    background-image: url("s2r://panorama/images/dashboard/underlords_button_hobgen_psd.vtex");
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectTop
{
	width: 100%;
	height: 100%;

	flow-children: right;
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectTop .UnderlordArrow
{
    background-image: url("s2r://panorama/images/dashboard/arrow_right_underlord_psd.vtex"); 
    height: 90px;
    width: height-percentage( 64% );
    background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50%;
    horizontal-align: right;
    vertical-align: center;
    wash-color: textDefault;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectTop .UnderlordArrow.ArrowLeft
{
    horizontal-align: left;
    background-image: url("s2r://panorama/images/dashboard/arrow_left_underlord_psd.vtex"); 
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordSelectTop .UnderlordArrow:hover
{
    opacity: 1;
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordButton
{
    padding: 12px 30px;
    transition-property: brightness;
    transition-duration: .2s;
    transition-property: brightness;
    transition-duration: 0.2s;
    horizontal-align: center;
    vertical-align: center;
    line-height: 52px;
    //height: 200px;
    max-width: 350px;
    text-align: center;
	width: fill-parent-flow( 1.0 );
    height: fit-children;
    text-overflow: shrink;
}

.UnderlordSelectContainer .UnderlordSelectTopContainer .UnderlordButton Label
{
    font-size: 64px;
    font-weight: black;
    letter-spacing: 1px;
    color: textBrighter;
    text-transform: uppercase;
    text-overflow: shrink;
    text-align: center;
    horizontal-align: center;
	vertical-align: center;
}

.UnderlordSelectContainer .UnderlordSelectMiddleContainer
{
	width: 100%;
}

.UnderlordSelectContainer .UnderlordSelectMiddleContainer .MiddleButton
{
	visibility: collapse;
}

.UnderlordSelectContainer.HomeMenu .UnderlordSelectMiddleContainer #ViewDetails,
DACUnderlordConfig:not(.UnderlordIsSelected) .UnderlordSelectContainer .UnderlordSelectMiddleContainer #Select,
DACUnderlordConfig.UnderlordIsSelected .UnderlordSelectContainer .UnderlordSelectMiddleContainer #Selected
{
	visibility: visible;
}
.UnderlordSelectContainer .UnderlordSelectMiddleContainer .MiddleButton
{
margin-top: 6px;
margin-bottom: 6px;

horizontal-align: center;
background-color: #27272f;

transition-property: brightness, background-color;
transition-duration: 0.2s;
transition-timing-function: ease-in-out;
horizontal-align: center;

}

.UnderlordSelectContainer .UnderlordSelectMiddleContainer #Selected.MiddleButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #98a7bd ), to( #e9f1fc ) );
}

.UnderlordSelectContainer #Select:hover, .UnderlordSelectContainer #ViewDetails:hover
{
	brightness: 1.5;
	background-color: #373742;
}


.UnderlordSelectContainer .UnderlordSelectMiddleContainer Label
{
	padding: 12px 20px;
	font-size: 28px;
	text-transform: uppercase;
	color: textBrighter;
	min-width: 280px;
	text-align: Center;
	font-weight: black;
}

.UnderlordSelectContainer #Selected.MiddleButton Label
{
	color: #31333b;
	font-weight: black;
}

.UnderlordSelectContainer .UnderlordSelectBottomContainer
{
	height: fill-parent-flow( 1.0 );

	horizontal-align: center;
	flow-children: right;
}

.HideTalentCount .UnderlordSelectContainer .UnderlordSelectBottomContainer.MainNavUnderlordsButtonBottomContainer
{
	visibility: collapse;
}

.UnderlordSelectContainer .UnderlordSelectBottomContainer .TalentsUnlockedNumbers
{
	font-weight: bold;
	font-size: 28px;
	color: textBrighter;
	margin-top: 2px;
}

.UnderlordSelectContainer .UnderlordSelectBottomContainer .TalentsUnlocked
{
	font-weight: black;
	font-size: 24px;
	color: textDark;

	text-transform: uppercase;

	margin-left: 8px;
	margin-top: 6px;
}

.IsPlatformMobile .UnderlordSelectContainer .UnderlordSelectBottomContainer .InfoImage
{
	visibility: collapse;
}


.InfoImage
{
	width:30px;
	height:30px;
    margin-top:2px;
    margin-left: 6px;
    background-image: url("s2r://panorama/images/dashboard/icon_info_psd.vtex"); 
    wash-color: textDark;
    background-size: 100%;
}