DACScoreboard {
	flow-children: down;
	vertical-align: top;
	margin-top: 45px;
	ui-scale: 80%; /* Matches scale value of scoreboard in PC mode */
	
	overflow: scroll scroll;
	width: 100%;
	max-height: 100%;
	
	//background-color: #2c2a32;
}

#ScoreboardEntryContainer {
	background-image: url("s2r://panorama/images/hud/scoreboard_bg_psd.vtex");
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: repeat-x;
}

.IsLayoutSmallScreen DACScoreboard {
	margin-top: 35px;
	ui-scale: 90%;
}

.IsLayoutSmallScreen.AspectRatio16x9 DACScoreboard {
	margin-bottom: 0px;
}

.IsLayoutSmallScreen.AspectRatio4x3 DACScoreboard {
	ui-scale: 100%;
	margin-bottom: 28px;
}

.IsLayoutSmallScreen.AspectRatio21x9 DACScoreboard {
	ui-scale: 90%;
	margin-bottom: 0px;
	//max-width: 1920px;
}


.IsLayoutSmallScreen.AspectRatio16x9 #Header,
.IsLayoutSmallScreen.AspectRatio21x9 #Header {
	height: 30px;
}

.IsLayoutSmallScreen.AspectRatio4x3 #Header {
	visibility: visible;
}

.PlayerLeaderboardBackground DACScoreboard #ScrollThumb
{
	background-color: #4b4354aa;
	height: 20px;
}

.PlayerLeaderboardBackground DACScoreboard #HorizontalScrollBar
{
	background-color: #000000;
	//background-color: red;
	height: 20px;
}

.IsLayoutSmallScreen .PlayerLeaderboardBackground DACScoreboard #HorizontalScrollBar
{
	height: 10px;
	//background-color: #ffffff88;
}

#Header {
	flow-children: right;
	background-color: #352d3e;
	max-height: 60px;
}

#Header Label {
	color: #fff;
	font-size: 24px;
	padding: 15px 10px 15px 10px;
	text-transform: uppercase;
	text-overflow: shrink;
}

.IsLayoutSmallScreen.AspectRatio16x9 #Header Label,
.IsLayoutSmallScreen.AspectRatio21x9 #Header Label{
	color: #fff;
	font-size: 24px;
	padding: 0px 10px 0px 10px;
	text-transform: uppercase;
	overflow: squish squish;
}

.IsLayoutSmallScreen.AspectRatio16x9 #Header{
	padding-left: 64px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #Header{
	padding-left: 62px;
	//margin-left: -60px;
}

#ScoreboardEntryContainer {
	flow-children: down;
	width: fit-children;
}

.MatchModeSoloBot #RankHeader, .MatchModeCasual #RankHeader {
	width: 0;
	opacity: 0;
}

#DuosHeader, #DuosColumn {
	visibility: collapse;
}

.GameMode_Duos #DuosHeader, .GameMode_Duos #DuosColumn {
	visibility: visible;
}

.GameMode_Duos DACScoreboard,
.GameMode_Duos.ScoreboardVisible #ScoreboardBG
{
	// hiding scoreboard for Duos for the time being
	//visibility: collapse; 
}