@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACHeropediaPage {
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/heropedia/heropedia-bg-2_psd.vtex");
	background-size: 100%;
	background-position: left;
	background-repeat: no-repeat;
}

#HeropediaContainer {
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/heropedia/heropedia-bg-2_psd.vtex");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.HeropediaBody
{
	width: 100%;
	height: fill-parent-flow(0.5);
	flow-children: right;
	height: 100%;
	vertical-align: bottom;
}

#TitleImage
{
	width: 120px;
	height: 105px;
	background-image: url("s2r://panorama/images/dashboard/logo_crown_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 30px;
		visibility: collapse;
}

.AspectRatio21x9.IsLayoutSmallScreen .HeropediaTabBackground
{
	width: 644px;
}

.HeropediaTabButtons
{
	width: 540px;
	height: 100%;
	margin-top: 180px;
}

.IsLayoutLargeScreen .HeropediaTabButtons
{
	ui-scale: 80%;
}

.IsLayoutLargeScreen .HeropediaTabBackground
{
	width: 416px;
}


.HeropediaTabButtons .Background {
	width: 100%;
	height: 100%;
	/*background-color: gradient(linear, 0% 100%, 50% 10%, from( #030508 ), to( #233749 ));*/
}

.HeropediaTabButtons .TabList {
	width: 100%;
	margin-top: 10px;
	margin-right: 20px;
	flow-children: down;
}

.HeropediaTabButtons #TabTitle {
	horizontal-align: center;
	color: #000000;
	font-size: 54px;
	font-weight: black;
	text-transform: uppercase;
	transform: rotatez(-3deg);
	background-color: #ffffff;
	padding: 6px 16px 4px 18px;
	letter-spacing: 2px;
	box-shadow: 0px 0px 2px #ffffff;
	horizontal-align: left;
	margin-top: 100px;
	margin-left: 50px;
	letter-spacing: 4px;
	font-style: normal;
	font-weight: black;
	margin-bottom: 120px;
	height: 80px;
	brightness: 1;
	text-overflow: shrink;
	height: fit-children;
}

.HeropediaTabButtons Button 
{
	height: 110px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 20px 0 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: -8px 0;
	/*background-color: gradient(linear, 100% 100%, 0% 10%, from( #a15216aa ), color-stop( 0.125, #995b17aa ), color-stop( 0.4, #ae7d17aa ), color-stop( 0.85, #a24c15aa ), to( #ae7d17aa ));*/
	brightness: 1;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.HeropediaTabButtons Button:hover Label
{
	//brightness: 1.2;
}


.HeropediaTabButtons Label {
	color: textBrighter;
	vertical-align: middle;
	horizontal-align: left;
	font-size: 36px;
	font-weight: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	//line-height: 36px;
	brightness: .7;
	text-overflow: clip;
	overflow: squish clip;
	margin-left: safe-area-inset-left;
}

.IsLayoutSmallScreen .SeasonTabLabel.PC,
.IsLayoutLargeScreen .SeasonTabLabel.Mobile
{
	visibility: collapse;
}

.IsLayoutLargeScreen .SeasonTabLabel.PC,
.IsLayoutSmallScreen .SeasonTabLabel.Mobile
{
	visibility: visible;
}

.HowToPlayContainer #HowToPlayContainer,
.SeasonButtonContainer #SeasonButtonContainer,
.HeroesButtonContainer #HeroesButtonContainer,
.ItemsButtonContainer #ItemsButtonContainer,
.SynergiesButtonContainer #SynergiesButtonContainer,
.CreepsButtonContainer #CreepsButtonContainer,
.PatchNotesButtonContainer #PatchNotesButtonContainer,
.RulesButtonContainer #RulesButtonContainer 
{
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/dashboard/rulebook_nav_01_psd.vtex"); 
	brightness: 1;
	transition-property: brightness, background-image;
	transition-duration: 0.2s;
}

.HowToPlayContainer #HowToPlayContainer Label,
.SeasonButtonContainer #SeasonButtonContainer Label,
.HeroesButtonContainer #HeroesButtonContainer Label,
.ItemsButtonContainer #ItemsButtonContainer Label,
.CreepsButtonContainer #CreepsButtonContainer Label,
.RulesButtonContainer #RulesButtonContainer Label,
.SynergiesButtonContainer #SynergiesButtonContainer Label
{
	brightness: 1.4;
	transition-property: brightness, background-image;
	transition-duration: 0.2s;
}

.HeroesButtonContainer .Disabled {
	opacity: 0.1;
}

.HeropediaTabPanels {
	width: 100%;
	height: 100%;
	flow-children: right;
	margin-right: safe-area-inset-right;
}

.AspectRatio21x9.IsLayoutSmallScreen .HeropediaTabPanels
{
	width: 1800px;
}

.IsLayoutLargeScreen .HeropediaTabPanels
{
	width: 100%;
	ui-scale: 80%;
	padding: 0% 5%;
}



/* Tabs */

.TabPageContainerNoScroll {
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.TabPageContainer {
	width: fill-parent-flow(0.5);
	height: 100%;
	overflow: clip scroll;
	flow-children: right;
	visibility: collapse;
}

.HowToPlayTabContainer #HowToPlayTabContainer,
.SeasonTabContainer #SeasonTabContainer,
.HeroesTabContainer #HeroesTabContainer,
.ItemsTabContainer #ItemsTabContainer,
.CreepsTabContainer #CreepsTabContainer,
.RulesTabContainer #RulesTabContainer,
.SynergiesTabContainer #SynergiesTabContainer,
.PatchNotesTabContainer #PatchNotesTabContainer
{
	visibility: visible;
}
