DACItemSelect
{
	width: 100%;
	height: 100%;

	vertical-align: middle;

	horizontal-align: center;
	background-color: gradient(linear, 0% 0%, 0% 100%, from( rgba(11, 6, 24, 0.933) ),color-stop(.15, rgba(30, 31, 77, 0.933)), color-stop(.75, rgba(19, 45, 46, 0.933)), to(#0002));
	transition-property: background-color;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
}

.IsLayoutLargeScreen DACItemSelect
{
	ui-scale: 80%;
}

.Defeat
{
	background-color: gradient(linear, 0% 0%, 0% 100%, from( rgba(24, 6, 6, 0.979) ),color-stop(.15, rgba(43, 18, 33, 0.986)), color-stop(.75, rgba(37, 19, 46, 0.945)), to(#0002));
}

DACItemSelect.CollapseItemChoices 
{
	background-color: #0000;
}

.CollapseItemChoicesButton
{
	width: 300px;
	width: fit-children;
	height: 60px;
	horizontal-align: right;

	margin-top: 180px;
	margin-right: 284px;
}

.IsLayoutSmallScreen .CollapseItemChoicesButton
{
	vertical-align: top;
}

.CollapseItemChoicesButton.BevelButton Label
{
	text-align: center;
	vertical-align: center;
	font-size: 30px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;

    color: white;
}

#CollapseItemChoicesShowText
{
	visibility: collapse;
}

.CollapseItemChoices #CollapseItemChoicesShowText
{
	visibility: visible;
}

.CollapseItemChoices #CollapseItemChoicesHideText
{
	visibility: collapse;
}

.MainBG
{	
	width: 100%;
	height: fit-children;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: 100% 850px;
	transition-property: opacity, transform;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
	flow-children: down;
}

.LowVisualQuality DACItemSelect,
.LowVisualQuality .MainBG
{
    transition-duration: 0s;
}

.CollapseItemChoices .MainBG
{
	opacity: 0;
	transform: translateY(-200px);
}

.ExtraChoices .MainBG
{
	background-size: 100% 800px;
}

@keyframes 'PanelAppear'
{
	from
	{
		opacity: 0;
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	60%
	{
		wash-color: white;
	}

	99%
	{
		wash-color: white;
	}

	to
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
}

DACItemSelect.ItemSelectVisible {
	visibility: visible;

	animation-name: PanelAppear;
	animation-delay: 0.0s;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

.LowVisualQuality DACItemSelect.ItemSelectVisible
{
    animation-name: none;
    animation-duration: 0.0s;
}

.ItemSelectTextContainer
{
	width: 100%;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	opacity: 1;
	
	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.Header
{
	width: 100%;
	color: white;
	horizontal-align: center;
	font-size: 64px;
	font-weight: black;
	color: #8ad8fc;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
}

DACItemSelect.CollapseItemChoices .ItemSelectTextContainer
{
	transform: translateY(-100px);
	opacity: 0;
}

.Defeat .VictoryHeader,
.Defeat .VictoryHeaderSubtitle
{
	visibility: collapse;
}

.DefeatHeader
{
	visibility: collapse;
}

.Defeat .DefeatHeader
{
	color: #dd4e35;
	visibility: visible;
}

.SubtitleHighlight
{
	font-weight: bold;
}

.VictoryHeaderSubtitle
{
	color: white;
	width: 100%;
	horizontal-align: center;
	text-align: center;
	font-size: 40px;
	color: #8ad8fc;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
}

.DefeatHeaderSubtitle
{
	color: white;
	width: 100%;
	horizontal-align: center;
	text-align: center;
	font-size: 40px;
	color: #dd4e35;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	visibility: collapse;
}

.Defeat .DefeatHeaderSubtitle
{
	visibility: visible;
}

#ItemChoicesContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 16px;
}

.ItemChoice
{
	background-image: url("s2r://panorama/images/hud/itemselect_01_png.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: fit-children;
	width: 1000px;
	margin-top: 15px;
	padding-top: 22px;
	padding-bottom: 12px;
	padding-right: 64px;
}

.ItemChoice:not(.Unavailable):hover
{
	brightness: 2;
}

#ItemChoiceRewardPicker_Choice_0 
{
	background-image: url("s2r://panorama/images/hud/itemselect_01_psd.vtex"); 
}

#ItemChoiceRewardPicker_Choice_0.ItemChoice.Unavailable
{
	background-image: url("s2r://panorama/images/hud/itemselect_01_broken_psd.vtex"); 
}

#ItemChoiceRewardPicker_Choice_1 
{
	background-image: url("s2r://panorama/images/hud/itemselect_02_psd.vtex"); 
	margin-top: 16px;
}
#ItemChoiceRewardPicker_Choice_1.ItemChoice.Unavailable
{
	background-image: url("s2r://panorama/images/hud/itemselect_02_broken_psd.vtex"); 
}

#ItemChoiceRewardPicker_Choice_2 
{
	background-image: url("s2r://panorama/images/hud/itemselect_03_psd.vtex"); 
	margin-top: -5px;
}

#ItemChoiceRewardPicker_Choice_2.ItemChoice.Unavailable
{
	background-image: url("s2r://panorama/images/hud/itemselect_03_broken_psd.vtex"); 
}

#ItemChoiceRewardPicker_Choice_3 
{
	background-image: url("s2r://panorama/images/hud/itemselect_01_psd.vtex"); 
}

#ItemChoiceRewardPicker_Choice_3.ItemChoice.Unavailable
{
	background-image: url("s2r://panorama/images/hud/itemselect_01_broken_psd.vtex"); 
}


.ItemChoiceContents
{
	width: 100%;
	height: fit-children;
}

.Unavailable .ItemName,
.Unavailable .ItemDescContainer
{
	opacity: .4;
	saturation: 0;
}

.ItemName
{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	text-align: center;
	horizontal-align: left;
	margin-left: 152px;
	height: 100px;
}

.ItemDescContainer
{
	flow-children: down;

	margin-top: 44px;
	margin-left: 152px;
}

.ItemDescription
{
	color: #d0f5e7;
	font-size: 28px;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	font-weight: bold;
	horizontal-align: left;
}

.ItemSynergyCountText
{
	margin-top: 5px;

	color: gold;
	font-size: 24px;
	horizontal-align: right;
	background-color: gradient(linear, 0% 100%, 0% 0%, from( #A0ACE2 ), to(#9DB5B2));
	color: black;
	visibility: collapse;
	padding: 4px 16px;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: 14px;
}

.HasUnitTypeInfo .ItemSynergyCountText
{
	visibility: visible;
}

.ItemContainer
{
	horizontal-align: left;
	height: 150px;
}


#ItemImage
{
	width: 130px;
	height: 130px;
	background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_axe_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.ItemTypeIcon
{
	z-index: 3;
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	visibility: collapse;
}


.ItemChoice.Unavailable .ItemName,
.ItemChoice.Unavailable .ItemDescription
{
	color: grey;
}

.ItemChoice.Unavailable #ItemImage,
.ItemChoice.Unavailable .ItemImageBackground
{
	saturation: 0;
	brightnesS: .25;
	contrast: 1.13;
}

.ItemTypeIconOffensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_png.vtex");
}

.ItemTypeIconDefensive
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
}

.ItemTypeIconSupport
{
	background-image: url("s2r://panorama/images/hud/icon_tag_support_png.vtex");
}

.ItemTypeEquipOffensive .ItemTypeIconOffensive,
.ItemTypeEquipDefensive .ItemTypeIconDefensive,
.ItemTypeEquipSupport .ItemTypeIconSupport
{
	visibility: visible;
}

.ItemTypeGlobal .ItemImageBackground,
.ItemTypeAlliance .ItemImageBackground
{
	visibility: collapse;
}

.ItemTierAlliance
{
	visibility:collapse;
}

.ItemTypeAlliance .ItemTier
{
	visibility: collapse;
}

.ItemTypeAlliance .ItemTierAlliance
{
	visibility: visible;
}

.ItemChoice.Unavailable .UnavailableIcon
{
	width: 180px;
	height: 180px;
	margin: -15px;
	margin-left: -32px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-image: url("s2r://panorama/images/hud/synergy_slash_psd.vtex");
}

#TimerBar
{
	height: 16px;
	horizontal-align: center;
	background-color: #EE2222;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
	border: 1px solid #000;
	margin-top: 32px;
}

.CanFastForward #TimerBar
{
	visibility: collapse;
    opacity: 0;
}

#ItemSelectFlow
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: middle;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.CollapseItemChoices #ItemSelectFlow
{
	opacity: 0;
}

.ItemTierContainer
{
	flow-children: right;
	horizontal-align: center;
	height: 100%;
}

.ItemTier,
.ItemTierAlliance
{
	text-transform: uppercase;
	horizontal-align: center;
	color: #208492;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: -6px;
	background-color: black;
	padding: 0 10px;
	padding-top: 14px;
	z-index: 0;
}

.Tier1 .ItemTier
{
	color: #C3C3C3;
}

.Tier2 .ItemTier
{
	color: #32CD2F;
}

.Tier3 .ItemTier
{
	color: #056BF7;
}

.Tier4 .ItemTier
{
	color: #BD05F7;
}

.Tier5 .ItemTier
{
	color: #F7C105;
}

