@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia.css");

DACHeropediaSeasonPage {
    flow-children: none;
}

.Body {
    width: 100%;
    height: 100%;
}

.SeasonList {
    width: 100%;
    padding-top: 220px;
    flow-children: down;
}

.UnderlordsWelcome {
    horizontal-align: right;
    vertical-align: bottom;
    width: 800px;
    height: 793px;
}

.IsLayoutSmallScreen .Header.PC,
.IsLayoutSmallScreen .SectionType.PC,
.IsLayoutSmallScreen .SeasonDesc.PC,
.IsLayoutLargeScreen .Header.Mobile,
.IsLayoutLargeScreen .SectionType.Mobile,
.IsLayoutLargeScreen .SeasonDesc.Mobile
{
    visibility: collapse;
}

.IsLayoutLargeScreen .Header.PC,
.IsLayoutLargeScreen .SectionType.PC,
.IsLayoutLargeScreen .SeasonDesc.PC,
.IsLayoutSmallScreen .Header.Mobile,
.IsLayoutSmallScreen .SectionType.Mobile,
.IsLayoutSmallScreen .SeasonDesc.Mobile
{
    visibility: visible;
}

.SectionName {
	font-size: 110px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background-color: #000000;
	padding: 0px 30px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	margin-top: 15px;
	margin-left: 5px;
	/*color: gradient(linear, 0% 50%, 0% 100%, from( #ffffff ), to( #95a5bc ));*/
	/*text-shadow: 0px 1px 0px 3.0 #999;*/
	/*opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;*/
}


#SeasonIntro {
    height: fit-children;
    margin-bottom: 40px;
    padding-bottom: 4px;
}

.SeasonListElement {
    height: fit-children;
    //padding-top: 220px;
    padding-left: 30px;
    padding-right: 80px;
    flow-children: down;
    width: 100%;
    //overflow: squish scroll;
    overflow: clip scroll;
}

.SeasonListElement .Header {
	font-size: 110px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background-color: #000000;
	padding: 0px 30px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	margin-top: 15px;
	margin-left: 5px;
}

.SectionType {
	horizontal-align: center;
	color: #000000;
	font-size: 30px;
	font-weight: black;
	text-transform: uppercase;
	transform: rotatez(-2deg);
	background-color: #ffffff;
	padding: 6px 16px 4px 18px;
	letter-spacing: 2px;
	box-shadow: 0px 0px 2px #ffffff;
	margin-bottom: 30px;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 140px;

}

.IsLayoutLargeScreen .SeasonDesc {
    font-size: 28px;
    line-height: 40px;
    color: #c1c3d3;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    width: 1280px;
}

.IsLayoutSmallScreen .SeasonDesc {
    font-size: 28px;
    line-height: 42px;
    color: #c1c3d3;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    width: 1280px;
}

.IsLayoutSmallScreen .SeasonDesc,
.IsLayoutSmallScreen #Ranking
{
    width: 100%;
}

.IsLayoutSmallScreen .Rank1,
.IsLayoutSmallScreen .Rank2,
.IsLayoutSmallScreen .Rank3,
.IsLayoutSmallScreen .Rank4,
.IsLayoutSmallScreen .Rank5,
.IsLayoutSmallScreen .Rank6,
.IsLayoutSmallScreen .Rank7,
.IsLayoutSmallScreen .Rank8,
{
    ui-scale: 85%;
}

#Ranking
{
    flow-children: down;
    width: 1300px;
    /*margin-top: 32px;*/
    padding-top: 48px;
}

.RankingTitle
{
    font-size: 36px;
    font-weight: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    width: 100%;
    /*margin-bottom: 6px;*/
}

.IsLayoutSmallScreen .RankingDesc
{
    font-size: 28px;
    line-height: 42px;
    color: #c1c3d3;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    text-align: left;
    width: 100%;
}

.IsLayoutLargeScreen .RankingDesc
{
    font-size: 25px;
    line-height: 42px;
    color: #c1c3d3;
    font-weight: normal;
    vertical-align: top;
    text-overflow: clip;
    text-align: left;
    width: 100%;
}

.RankingInfographic {
    width: 100%;
    height: width-percentage( 80% );
    margin-bottom: 60px;

    background-image: url("s2r://panorama/images/heropedia/infographic/ranked_blog_english_jpg.vtex");
    background-size: 100%;
}


.Language_russian .RankingInfographic {
    background-image: url("s2r://panorama/images/heropedia/infographic/ranked_blog_russian_jpg.vtex");
}

.Language_schinese .RankingInfographic {
    background-image: url("s2r://panorama/images/heropedia/infographic/ranked_blog_schinese_jpg.vtex");
}



#RankingList
{
    flow-children: right-wrap;
    width: 100%;
    height: fit-children;
    margin-top: 48px;
	margin-bottom: 10px;
}

.RankName
{
    //font-size: 21px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    text-overflow: shrink;
    background-color: #493a3f;
    color: white;
    font-weight: black;
    padding: 4px 0px 4px 0px;
}

.Rank1,
.Rank2,
.Rank3,
.Rank4,
.Rank5,
.Rank6,
.Rank7,
.Rank8,
{
    flow-children: down;
    //width: fill-parent-flow (1.0);
    height: fit-children;
    margin: 0px 12px;
}

.IsLayoutLargeScreen .Rank9
{
	horizontal-align: center;
	flow-children: down;
    //width: fill-parent-flow (5.0);
    height: fit-children;
    margin: 0px 495px;
	margin-top: 20px;
	padding-bottom: 80px;
}

.IsLayoutSmallScreen .Rank9
{
	horizontal-align: center;
	flow-children: down;
    //width: fill-parent-flow (5.0);
    height: fit-children;
    margin: 0px 12px;
	padding-bottom: 80px;
	ui-scale: 85%;
}

.MedalImage
{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    //width: 176px;
    //height: 220px;
    width: 352px;
    height: 440px;
    ui-scale: 85%;
}

.Rank1 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank1_png.vtex");
}

.Rank2 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank2_png.vtex");
}

.Rank3 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank3_png.vtex");
}

.Rank4 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank4_png.vtex");
}

.Rank5 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank5_png.vtex");
}

.Rank6 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank6_png.vtex");
}

.Rank7 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank7_png.vtex");
}

.Rank8 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank8_png.vtex");
}

.Rank9 .MedalImage
{
    background-image: url("s2r://panorama/images/rank_icons/tier5-rank9_png.vtex");
}