@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

DACHeropediaCreepsPage {
	flow-children: down;
}


.SectionType {
	horizontal-align: center;
	color: #000000;
	font-size: 32px;
	font-weight: black;
	text-transform: uppercase;
	transform: rotatez(-3deg);
	background-color: #ffffff;
	padding: 4px 16px 2px 18px;
	letter-spacing: 2px;
	box-shadow: 0px 0px 2px #ffffff;
	margin-bottom: 20px;
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 125px;
}

#SeasonIntro {
    height: fit-children;
    margin-bottom: 40px;
    padding-bottom: 4px;
}



.Header {
	font-size: 105px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background-color: #000000;
	padding: 0px 30px;
	transform: rotateZ(-2deg);
	box-shadow: 0px 0px 3px #000000;
	margin-top: 15px;
	margin-left: 0px;
}

.RoundHeader {
	font-size: 52px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 3px;
	margin-bottom: 10px;
	padding: 0px 30px;
	margin-top: 10px;
	margin-left: 0px;
}

.CreepContainer {
    flow-children: down;
    padding: 20px;
    
    /*background-image: url("s2r://panorama/images/tutorial/shortphrase_brush_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;*/
}

.CreepListContainer 
{
    margin-left: 30px;
	margin-right: 300px;
    margin-top: -50px;
	margin-bottom: 30px;
    flow-children: right;
}

.IsLayoutSmallScreen .CreepListContainer 
{
    margin-left: 60px;
	margin-right: 10px;
    margin-top: -30px;
	margin-bottom: 40px;
    flow-children: right;
}

.HeroLabel {
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    vertical-align: middle;
    horizontal-align: center;
    text-overflow: clip;
    text-align: center;
    line-height: 34px;
}

.HeroIcon {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    horizontal-align: center;
    border-top: 2px solid #ffffff08;
    border-left: 2px solid #ffffff02;
    border-right: 2px solid #877fc308;
    border-bottom: 2px solid #877fc308;
    box-shadow: fill #00000030 0px 0px 10px 8px;
}

#UnitPortraitView {
    width: 100px;
    height: 100px;
    horizontal-align: center;
}

.RoundContainer {
    flow-children: down;
    width: 100%;
    height: fit-children;
    padding: 0px;
	margin-bottom: 45px;
}

    .RoundContainer .Header {
        font-size: 49px;
        color: white;
		font-weight: black;
        letter-spacing: 3px;
        vertical-align: middle;
        text-overflow: clip;
        text-align: left;
        line-height: 20px;
        margin-right: 0px;
		margin-left: 0px;
        text-transform: uppercase;
        horizontal-align: left;
    }

#RoundPanel {
    flow-children: right;
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
    height: fit-children;
	text-overflow: shrink;
}

#RoundName {
    flow-children: right;
    width: 80%;
    height: fit-children;
	text-overflow: shrink;
	vertical-align: middle;
	width: 100%;
    background-image: url("s2r://panorama/images/hud/paintswipe_psd.vtex");
    background-size: cover;
    background-repeat: no-repeat;
}


#PlayerProfileAvatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
}

.NeutralRound1 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round1_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound2 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round2_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound3 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round3_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound10 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round10_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound15 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round15_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound20 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round20_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound25 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round25_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound30 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round30_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound35 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round35_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound40 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round40_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound45 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round45_avatar_png.vtex");
    background-size: cover;
}

.NeutralRound50 #PlayerProfileAvatar {
    background-image: url("s2r://panorama/images/hud/neutral_round50_avatar_png.vtex");
    background-size: cover;
} 

.NeutralRoundImage 
{
	width:420px;
	height:420px;
}

.NeutralRoundDescription
{
	vertical-align: center;
	color: #c1c3d3;
	font-size: 28px;
	line-height: 42px;
	box-shadow: -17px 2px 102px -14px rgba(0,0,0,0.75);
	 padding-top: 50px;
     padding-right: 65px;
     padding-bottom: 65px;
     padding-left: 10px;
	margin-left: 20px;
}
