/* styles for the player context menu */
#Contents.PlayerMenuContents 
{
    width: 500px;
    flow-children: down;
	box-shadow: fill #000000ee -4px 4px 12px 8px;
}

.ChatItem9
{
	visibility: collapse;
    //turn this custom chat option off until we turn on chat
}

#MenuOptionsContainer
{
	width: 100%;
}

#MenuOptionsPanel
{
	flow-children: down;
	width: 100%;

	transform: TranslateY(-100% );
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.EntranceAnimation #MenuOptionsPanel
{
	transform: TranslateY(0% );
	opacity: 1;
}

/* Don't animate the options appearing if the menu is on the top */
.BottomArrowVisible #MenuOptionsPanel
{
	transition-duration: 0.0s;
}

#MenuOptionsPanel Button
{
	padding: 5px 4px 4px 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	horizontal-align: center;
	width: 100%;
	border: 1px solid #ffffff22;
	background-color: #00000000;
	transition-property: background-color;
	transition-duration: .2s;
}

.IsPlatformMobile #MenuOptionsPanel Button
{
	//padding: 20px 8px 19px 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	horizontal-align: center;
	width: 100%;
	border: 2px solid #ffffff22;
}

#MenuOptionsPanel Button Label
{
    text-align: center;
    horizontal-align: center;
    color: #ffffffaa;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    text-overflow: shrink;
    font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition-property: color;
	transition-duration: .2s;
}

.IsPlatformMobile #MenuOptionsPanel Button Label
{
    font-size: 28px;	
}

#MenuOptionsPanel Button:hover
{
	background-color: #00000075;
	transition-property: background-color;
	transition-duration: .1s;
}

#MenuOptionsPanel Button:active
{
	background-color: #000000cc;
	transition-property: background-color;
	transition-duration: .1s;
}

#MenuOptionsPanel Button:hover Label
{
	color: #ffffffdd;
	transition-property: color;
	transition-duration: .1s;
}

#MenuOptionsPanel Button:active Label
{
	color: #ffffff;
	transition-property: color;
	transition-duration: .1s;
}

/* Custom styling for player context menu (with a profile card at the top) */
DACContextMenuPlayer #Contents
{
    background-color: transparent;
    padding: 0px;
    border: 0px solid transparent;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;
}