@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

DACPagePostGame
{
	width:100%;
	height:100%;
	flow-children:none;

	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg_jpg.vtex");
	background-size: cover;
	background-position: center;

	opacity: 0;
}

.LowVisualQuality DACPagePostGame
{
	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg-lowres_jpg.vtex");
}

.IsLayoutSmallScreen DACPagePostGame
{
	background-image: url("s2r://panorama/images/hud/post_game/post-game-bg-mobile_jpg.vtex");
	background-position: center;
}
.LowVisualQuality DACPagePostGame Label
{
	transition-property: none;
	transition-duration: 0.0s;
}

#PageContainer
{
    height: fill-parent-flow( 1.0 );
    width: 100%;
    overflow: clip;
}
#PageContainer .ScrollThumb
{
    visibility: collapse;
}

#ScrollingPage
{
    height: fill-parent-flow( 1.0 );
    width: 5760px;
    flow-children: right;
    visibility: collapse;
    transition-property: transform;
    transition-duration: 0.2s;
}

#ResultPage
{
    visibility: collapse;
}
.ResultPage #ResultPage
{
    visibility: visible;
}

.SeasonProgressPage #ScrollingPage,
.StatsPage #ScrollingPage,
.ScoreboardPage #ScrollingPage,
{
    visibility: visible;
}

.StatsPage #ScrollingPage
{
    transform: translateX( -1920px );
}

.AspectRatio21x9 #ScrollingPage
{
	width: 7100px;
}
.AspectRatio21x9  .OverlayContainer
{
	width: 2400px;
}


.AspectRatio21x9 .StatsPage #ScrollingPage
{
    transform: translateX( -2400px );
}


.ScoreboardPage #ScrollingPage
{
    transform: translateX( -3840px );
}

.AspectRatio21x9 .ScoreboardPage #ScrollingPage
{
    transform: translateX( -4800px );
}


.OverlayContainer
{
    flow-children: down;
    width: 1920px;
    height: fill-parent-flow( 1.0 );
}

#HeroImage
{
	width: 110px;
	height: 110px;
	opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;
}

.HeroIconPanel DACInventoryItem,
.IsLayoutSmallScreen .HeroIconPanel DACInventoryItem
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	margin-top: -20px;
}

.HeroRoster
{
	flow-children: right-wrap;
}

.PlaceTitle
{
	background-color: #fff;
	//height: 160px;
	box-shadow: 0px 0px 3px #ffffff;
	font-size: 88px;
	font-weight: black;
	letter-spacing: 2px;
	color: #000;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	margin-top: 40px;
	transform: rotateZ(1deg);
	transition-duration: 4s;
	transition-timing-function: ease-in;
	transition-property: color;
	padding: 0px 48px;
	visibility: visible;
}

.PlaceQuote
{
	/* margin-top: 220px; */
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: semi-bold;
	padding: 8px 10px 4px 10px;
	horizontal-align: center;
	transform: rotateZ(1deg);
	vertical-align: top;
	transition-duration: 4s;
	transition-timing-function: ease-in;
	transition-property: color;
	background-color: #000000;
	background-size: cover;
	box-shadow: 0px 0px 3px #000000dd;
}

.Language_schinese .PlaceQuote,
.Language_tchinese .PlaceQuote
{
	margin-top: 220px;
}

.ButtonContainer
{
	width: 100%;
	vertical-align: bottom;
	height: fit-children;

	padding: 15px;

	margin-left: safe-area-inset-left;
	margin-right: safe-area-inset-right;
	margin-bottom: safe-area-inset-bottom;
}

.PostGameButtons
{
	height: fit-children;
	margin-right: 60px;
	horizontal-align: right;
	flow-children: down;
}

.ButtonContainer Label
{
	font-size: 32px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 4px;
	vertical-align: center;
	text-align: center;
	padding-top: 6px;
	color: #ffffff;
	text-transform: uppercase;
	width: 100%;
}

.GlassButton {
	width: 320px;
	height: 64px;
	background-image: url("s2r://panorama/images/hud/post_game/glass-texture_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	//margin-left: 60px;
	box-shadow: inset 0px 0px 6px #ffffff50;
	transition-property: brightness;
	transition-duration: .2s; 

	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

.GlassButton:hover
{
	brightness: 1.5;
}


.HomeButton {
	horizontal-align: left;
	width: 500px;
	height: 133px;
	background-image: url("s2r://panorama/images/dashboard/play_btn_bg_psd.vtex");
	background-size: 100%;
	margin-left: 60px;
	transition-property: brightness;
	transition-duration: .2s; 
}

.HomeButton:hover
{
	brightness: 1.5;
}

.HomeButton Label
{
	font-size: 120px;
	width: 100%;
	text-overflow: shrink;
	overflow: noclip;
	text-align: center;
	font-weight: black;
	letter-spacing: 4px;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 20px;
	color: #ffffff;
	text-transform: uppercase;
	transform: rotateZ(-2deg);
	text-shadow: 0px 1px 0px 2.0 #000;
}

.Language_schinese .HomeButton Label
.Language_tchinese .HomeButton Label
{
	font-size: 80px;
}

.PlaceContainer
{
	opacity: 0;
	pre-transform-scale2d: 3;
	pre-transform-rotate2d: 20deg;

	transition-property: opacity, pre-transform-scale2d, pre-transform-rotate2d;
	transition-duration: 0.5s;
}

.TitleAnimate .PlaceContainer
{
    transition-duration: 0.0s;
    opacity: 1;
    pre-transform-scale2d: 1;
    pre-transform-rotate2d: 0deg;
}


.StatsMainRow
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 40px;
	width: fit-children;
	
	animation-duration: 3.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;

	width: 100%;
	height: 430px;

	margin-left: 100px;
	margin-right: 100px;

	ui-scale: 80%;
}

.IsLayoutSmallScreen .StatsMainRow
{
	ui-scale: 110%;
	margin-left: safe-area-inset-left;
	margin-right: safe-area-inset-right;
}

.AspectRatio4x3 .StatsMainRow {
	margin-top: 80px;
}

// on play the anim?
.AnimateIn .StatsMainRow
{
	animation-name: PlacePanelInFlip;
}

.StatsColumn
{
	flow-children: down;
	height: 100%;
}

.SynergiesColumn
{
	width: 30%;
}

.HeroesColumn
{
	width: 40%;
}

.ItemsColumn
{
	width: 30%;
}

#SynergiesContainer
{
	margin-top: 32px;
	horizontal-align: center;
	flow-children: right-wrap;
}

#SynergiesContainer DACSynergyIcon
{
	ui-scale: 70%;
}

#HeroesContainer
{
	margin-top: 10px;
	horizontal-align: center;
	flow-children: right-wrap;
}

#ItemsContainer
{
	margin-top: 32px;
	horizontal-align: center;
	flow-children: right-wrap;
	visibility: collapse;
}

.HasGlobalItems #ItemsContainer
{
	visibility: visible;
}

#ItemsContainer DACInventoryItem
{
	width: 80px;
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
}

.NoGlobalItemsLabel
{
	color: #8588a0;
	font-size: 24px;
	horizontal-align: center;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.HasGlobalItems .NoGlobalItemsLabel
{
	visibility: collapse;
}

.FinalCrewTitle
{
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	horizontal-align: center;
	color: #fff;
	margin-top: 4px;
	background-color: #000;
	padding: 8px 12px 4px 12px;
	text-transform: uppercase;
	box-shadow: 0px 0px 3px #000000;
}

.StatsContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 12px;
	overflow: noclip;
}

.StatsSubContainer
{
	min-width: 250px;
	flow-children: down;
	
	animation-duration: 1.6s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'StatsPanelIn'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
	}
	80%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
	}
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
}

.AnimateIn .StatsSubContainer
{
	animation-name: StatsPanelIn;
}

#RoundsWon
{
	animation-duration: 1.6s; 
}

#EndGameDamageDealt 
{	
	animation-duration: 1.8s; 
}

#GoldEarned 
{
	animation-duration: 2s; 
}

.StatsSubContainer Label
{
	horizontal-align: center;
	//line-height: 40px;
}

.tilt-left
{
	transform: rotateZ(-2deg);
}

.tilt-right
{
	transform: rotateZ(2deg);
}

.PlaceContainer
{
	horizontal-align: center;
	width: 100%;
	flow-children: down;
	padding-bottom: 20px;
    visibility: visible;
}

.BigStat
{
	font-size: 84px;
	font-weight: black;
	text-shadow: 0px 0px 0px 2.0 black;
	color: white;
	z-index: 2;
}

.StatDescription
{
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	margin-top: -20px;
	background-color: #000;
	padding: 8px 12px 8px 12px;
	margin-bottom: 4px;
	text-transform: uppercase;
	box-shadow: 0px 0px 3px #000000;
}

.HeroRoster Label
{
	horizontal-align: center;
	//margin-bottom: 350px;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000cc;
	margin-top: 2px;
	letter-spacing: 2px;
}

#ReturnToGameButton
{
	visibility: collapse;

	horizontal-align: left;
}

.ConnectedToGame #ReturnToGameButton
{
	visibility: visible;
}

#MainMenuButton
{
	horizontal-align: right;
}

#PlayButton
{
	visibility: collapse;
}

.HeroIconPanel.Rank1 .HeroRank
{
	color: rank1Color;
}

.HeroIconPanel.Rank2 .HeroRank
{
	color: rank2Color;
}

.HeroIconPanel.Rank3 .HeroRank
{
	color: rank3Color;
}

.HeroIconPanel
{
	flow-children: down;
	horizontal-align: left;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.HeroIconPanel Label
{
	horizontal-align: center;
	font-size: 20px;
	color: white;
}

#ScoreboardButton,
#StatsButton
{
	horizontal-align: center;
	visibility: collapse;

	vertical-align: bottom;
}

.StatsPage #ScoreboardButton,
.ScoreboardPage #StatsButton
{
	visibility: visible;
}

#ScoreboardPage .PlaceTitle
{
	horizontal-align: left;
	vertical-align: top;
	
	transform: rotateZ(-1deg);
	font-size: 90px;
	height: 110px;

	margin-left: 32px;
	margin-top: 48px;

	ui-scale: 90%;
	visibility: collapse;
}

.AspectRatio21x9.IsLayoutSmallScreen #ScoreboardPage
{
	padding-left: safe-area-inset-left;
	padding-right: safe-area-inset-right;
}

.SeasonProgressHeaderContainer
{
    horizontal-align: center;
    margin-top: 100px;
}

#SeasonTitleImage
{
    width: 850px;
    height: 212px;
	background-image: url("s2r://panorama/images/battle_pass/protopass_logo_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	transform: rotatez(-2deg);
	
	margin-right: 12px;
}

.Language_bulgarian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/bulgarian_png.vtex");
}

.Language_czech #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/czech_png.vtex");
}

.Language_danish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/danish_png.vtex");
}

.Language_dutch #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/dutch_png.vtex");
}

.Language_finnish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/finnish_png.vtex");
}

.Language_french #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/french_png.vtex");
}

.Language_german #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/german_png.vtex");
}

.Language_greek #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/greek_png.vtex");
}

.Language_hungarian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/hungarian_png.vtex");
}

.Language_italian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/italian_png.vtex");
}

.Language_japanese #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/japanese_png.vtex");
}

.Language_korean #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/korean_png.vtex");
}

.Language_latam #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/latam_png.vtex");
}

.Language_norwegian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/norwegian_png.vtex");
}

.Language_polish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/polish_png.vtex");
}

.Language_portuguese #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/portuguese_png.vtex");
}

.Language_portuguese-br #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/portuguese-br_png.vtex");
}

.Language_romanian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/romanian_png.vtex");
}

.Language_russian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/russian_png.vtex");
}

.Language_schinese #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/schinese_png.vtex");
}

.Language_spanish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/spanish_png.vtex");
}

.Language_swedish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/swedish_png.vtex");
}

.Language_tchinese #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/tchinese_png.vtex");
}

.Language_thai #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/thai_png.vtex");
}

.Language_turkish #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/turkish_png.vtex");
}

.Language_ukranian #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/ukranian_png.vtex");
}

.Language_vietnamese #SeasonTitleImage {
	background-image: url("s2r://panorama/images/battle_pass/loc/vietnamese_png.vtex");
}


#SeasonQuote
{
    horizontal-align: right;
    margin-top: 120px;
    /* margin-right: 60px; */
    transform: rotateZ(-3deg);
}

#SeasonDesc
{
    horizontal-align: center;
    margin-top: 32px;
    color: #C6DCFE;
		font-size: 24px;
		line-height: 34px;
    text-shadow: 1px 2px 0px 2.0 #00000066;
    font-weight: semi-bold;
    text-align: center;
}

#SeasonProgressContainer
{
    width: 70%;
    height: 360px;
    horizontal-align: center;
}

.IsLayoutSmallScreen #SeasonProgressContainer
{
	ui-scale: 110%;
}

.BrushBg
{
	background-image: url("s2r://panorama/images/post_game/brush-bg-fade_psd.vtex");
    background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

#SeasonProgressContainer .ProgressBar
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 80px;
	margin-right: 80px;
	width: 1000px;
}

.IsLayoutSmallScreen #SeasonProgressContainer .ProgressBar
{
	width: 840px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #SeasonProgressContainer .ProgressBar
{
	width: 1000px;
	margin-right: 20px;
}

.AspectRatio4x3 #SeasonProgressContainer .ProgressBar
{
	margin-top: 40px;
}

#SeasonLevelProgress
{
    width: 100%;
    height: 54px;
	horizontal-align: center;
	vertical-align: center;
    /* opacity-mask: url("s2r://panorama/images/dashboard/progress_bar_mask_psd.vtex"); */
	background-color: #2E3146;
	margin-top: 40px;
	margin-left: 110px;
	margin-right: 60px;
  border: 4px solid black;

	
	box-shadow: fill 0px 6px 32px rgba(0, 0, 0, 0.5);
}

#SeasonLevelProgress_Left
{
    background-color: gradient (linear, 60% 60%, 100% 0%, from(#ffcc00), to(#ffebaf));
    transition-property: width;
    transition-duration: 0s;
	transition-timing-function: ease-out;
	border-right: 2px solid #FFFCCD;
	border-top: 2px solid #FFFCCD;
	border-bottom: 2px solid #F53707EF;
}

.ProgressBarAnimate #SeasonLevelProgress_Left
{
    transition-duration: .5s;
}

#LevelContainer
{
	vertical-align: center;
	horizontal-align: left;
	flow-children: down;
	width: 160px;
	margin-top: 20px;
}

#SeasonLevelHeader,
#SeasonLevelNum
{
    color: gradient ( linear, 0% 0%, 0% 100%, from(#bfd9fe), to(#fff));
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: black;
    text-shadow: 0px 1px 0px 2.0 #000;
	text-align: center;
}

#SeasonLevelHeader
{
	font-size: 26px;
	line-height: 32px;
	padding-left: 36px;
	opacity: 0;
	margin-bottom: -12px;
}

#SeasonLevelNum
{
    font-size: 72px;
	horizontal-align: center;
	padding-right: 0px;
	padding-top: 20px;
	letter-spacing: 0px;

	vertical-align: center;

	height: 130px;
}

.Tier_Default_Bg
{
	background-image: url("s2r://panorama/images/post_game/tier-default-bg_png.vtex");
    background-repeat: no-repeat;
	background-size: 100% 90%;
	background-position: bottom;

	width: 100%;
}

#LevelDescriptionContainer
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
	margin-right: 80px;
	margin-top: 40px;

	height: 130px;
}

#LevelPointCounts
{
	font-size: 28px;
	letter-spacing: 2px;
	text-shadow: 0px 1px 0px 2.0 #000;
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;

	horizontal-align: right;
	vertical-align: bottom;
}

#NextRewardDesc
{
	font-size: 24px;
	letter-spacing: 2px;
	text-shadow: 0px 1px 0px 2.0 black;
	color: gradient( linear, 0% 90%, 0% 0%, from( #aec4e7 ), to( #3F4256 ) );
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	visibility: visible;
	horizontal-align: right;
	vertical-align: bottom;
	height: fit-children;
	width: 210px;
	margin-right: 40px;
	height: 60px;
}

.AspectRatio21x9 #NextRewardDesc
{
	margin-right: 80px;
}

#NextLevelDesc
{
    horizontal-align: right;
    visibility: collapse;
}

#NextRewardContainer
{
	horizontal-align: right;
	width: 210px;
	height: 240px;
	flow-children: down;
    border: 3px solid #66666620;
    background-color: gradient (linear, 0% 100%, 60% 0%, from(#000000), to(#00000020));
	vertical-align: center;
	margin-right: 40px;
}

.AspectRatio21x9 #NextRewardContainer
{
	margin-right: 80px;
}

#NextRewardImageContainer
{
	width: 210px;
	height: 240px;
	
	horizontal-align: right;
	vertical-align: bottom;
}

#NextRewardBg
{
    /* horizontal-align: right; */
    //background-image: url("s2r://panorama/images/post_game/next-reward-bg_png.vtex");
    background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 100%;
	height: 100%;

	margin-bottom: 10px;
}

#NextRewardImage
{
    width: 90%;
    height: 90%;

    background-image: url("s2r://panorama/images/post_game/reward-temp_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	vertical-align: top;
	horizontal-align: center;

	margin-bottom: 18px;
}

.AspectRatio4x3 #NextRewardImage
{
	
}

.IsLayoutSmallScreen #ScoreboardPage .PlaceTitle {
	ui-scale: 60%;
	margin-top: 20px;
}

.Shield0
{
    background-image: url("s2r://panorama/images/dashboard/rank_default_tier_psd.vtex");
}

.Shield1
{
    background-image: url("s2r://panorama/images/dashboard/rank_bronze_tier_psd.vtex");
}

.Shield2
{
    background-image: url("s2r://panorama/images/dashboard/rank_silver_tier_psd.vtex");
}

.Shield3
{
    background-image: url("s2r://panorama/images/dashboard/rank_gold_tier_psd.vtex");
}

.Shield4
{
    background-image: url("s2r://panorama/images/dashboard/rank_platinum_tier_psd.vtex");
}

.PostGameTopBar
{
    width: fit-children;
    height: 12%;
    flow-children: right;
    horizontal-align: center;
}

.IsLayoutSmallScreen .PostGameTopBar
{
	ui-scale: 110%;
}

#TopBarPlaceContainer
{
    vertical-align: top;
    margin-left: 5%;
    margin-top: 40px;
    height: fit-children;
    width: fit-children;
    	transform: rotatez(-3deg);
    		box-shadow: 0px 0px 3px #ffffff;
    		visibility: collapse;
}

#TopBarPlaceText
{
	font-size: 32px;
	line-height: 42px;
	padding: 0 12px;
	font-weight: black;
	text-transform: uppercase;
	//text-shadow: 0px 1px 0px 3.0 #000;
	//background-color: gradient(linear, 0% 0%, 0% 100%, from( #c0daf4 ), to(#ffffff));
	background-color: white;
	color: black;
}

.PlaceContainer
{
    margin-top: 140px;
}

.TopBarButton
{
  vertical-align: center;
  margin-left: 4%;
  width: 320px;
	height: 64px;
	background-color: #000000;
	//background-image: url("s2r://panorama/images/hud/post_game/glass-texture_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	//box-shadow: inset 0px 0px 6px #ffffff50;
	transition-property: brightness, background-color;
	transition-duration: .2s; 

	padding-left: 5px;
	padding-right: 5px;

	margin: 16px;
}
.TopBarButton Label
{
	font-size: 32px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 2px;
	vertical-align: center;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	width: 100%;
}

.TopBarButton:hover
{
	brightness: 1.5;
}

#TopBarProgressButton
{
    //margin-left: 8%;
}

.SeasonProgressPage #TopBarProgressButton, .StatsPage #TopBarStatsButton, .ScoreboardPage #TopBarScoreboardButton
{
	background-color: #ededed;
	//background-color: gradient ( linear, 0% 0%, 0% 100%, from(#fbe792), to(#fdf4af));
}

.SeasonProgressPage #TopBarProgressButton Label, .StatsPage #TopBarStatsButton Label, .ScoreboardPage #TopBarScoreboardButton Label
{
	color: black;
}

.SeasonProgressPage #TopBarProgressButton:hover, .StatsPage #TopBarStatsButton:hover, .ScoreboardPage #TopBarScoreboardButton:hover
{
	brightness: 1.0;
}


#ChallengeAndRankContainer
{
    width: 100%;
    height: 58%;
}
#BattlePassOverview.PostGameBPControl
{
    horizontal-align: left;
    margin-top: 4%;
    margin-left: 12%;
    visibility: collapse;
}

#RankContainer
{
    width: 500px;
    height: 250px;
    margin-top: 4%;
    //background-image: url("s2r://panorama/images/dashboard/rank_backing_psd.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    horizontal-align: center;
    flow-children: right;
    visibility: collapse;
    margin-left: -24px;
}

.IsLayoutSmallScreen #RankContainer
{
	ui-scale: 120%;
}

.RankedMatch #RankContainer
{
    visibility: visible;
}

DACRankIcon
{
    margin-top: 190px;
    margin-left: 30px;
    vertical-align: middle;
    horizontal-align: center;
}

/* Center heavy icons */
.MajorRank1 #RankIcon
{
    margin-top: -38px;
}

.MajorRank2 #RankIcon
{
    margin-top: -38px;
}

.MajorRank3 #RankIcon
{
    margin-top: -38px;
}

.MajorRank4 #RankIcon
{
    margin-top: -38px;
}

.MajorRank5 #RankIcon
{
    margin-top: -38px;
}

.MajorRank6 #RankIcon
{
    margin-top: -38px;
}

.MajorRank7 #RankIcon
{
    margin-top: -15px;
}

.MajorRank8 #RankIcon
{
    margin-top: -16px;
}

.MajorRank9 #RankIcon
{
    margin-top: -24px;
}

.AspectRatio4x3 #RankContainer
{
    margin-bottom: 80px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #RankContainer
{
    margin-bottom: 30px;
    margin-right: safe-area-inset-right;
}

.IsLayoutSmallScreen.AspectRatio16x9 #RankContainer
{
    margin-bottom: 20px;
}

.IsLayoutLargeScreen #ForegroundContainer #RankContainer
{
    width: 420px;
}

#ForegroundContainer #RankNumeral
{
    visibility: collapse;
}

.NameContainer
{
    flow-children: down;
    vertical-align: top;
    margin-top: 20px;
    /* margin-left: 20px; */
    width: fill-parent-flow(1.0);
}

#PlayerName
{
    color: #fff;
    font-size: 26px;
    margin-top: 8px;
    text-shadow: 1px 2px 0px 2.0 #00000066;
    //font-weight: regular;
    visibility: collapse;
}

#PlayerRank
{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: fit-children;
    text-shadow: 1px 2px 0px 2.0 #00000066;
    margin-top: 8px;
}

#PlayerRankScore
{
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	color: gradient( linear, 0% 110%, 0% 0%, from( #e2e1e4 ), to( #adacb0 ) );
	text-transform: uppercase;
}

.MajorRank9 #PlayerRankProgressBar
{
    visibility: collapse;
}

.ProgressBarAnimate #PlayerRankProgressBar_Left
{
    transition-duration: .5s;
}

#PlayerLeaderboardPosition
{
    visibility: collapse;
    font-size: 22px;
    text-shadow: 1px 1px 0px 2.0 #00000066;
    font-weight: black;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 1px;
    color: gradient( linear, 80% 100%, 0% 0%, from( #f8cc33 ), to( #f8ad33 ) );
}

.MajorRank9 #PlayerLeaderboardPosition
{
    visibility: visible;
    margin-top: -8px;
}

.MajorRank9 #PlayerRank
{
    visibility: collapse;
}

.MinorRank1 #PlayerRank
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 #PlayerRank
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 #PlayerRank
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 #PlayerRank
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 #PlayerRank
{
    color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}

#PlayerRank .RankName
{
    font-weight: bold;
}

.ProgressBarParticle
{
    width: 100%;
    height: 100%;
    z-index: 2;
}
#SeasonLevelProgress .ProgressBarParticle
{
    opacity: .4;
    overflow: noclip;
}

#PlayerScoreContainer
{
    flow-children: right;
    width: 100%;
    height: 28px;
    overflow: noclip;
}

#PlayerRankScoreDelta
{
    opacity: 0;
    transition-property: opacity, transform;
    transform: translateX( 200px );
    transition-duration: 0.5s;
    
   	font-size: 24px;
		font-weight: bold;
		text-shadow: 1px 2px 0px 2.0 #00000066;
		color: gradient( linear, 0% 110%, 0% 0%, from( #e2e1e4 ), to( #adacb0 ) );
		text-transform: uppercase;
		margin-left: 8px;
}

.ShowRankLevelDelta #PlayerRankScoreDelta
{
    opacity: 1;
    transform: translateX( 0px );
    transition-duration: 0.2s;
}

#PlayerRankProgressBar 
{
    width: 240px;
    height: 14px;
		//overflow: noclip;
		background-color: #2E3146;
		border: 2px solid #000000;
		horizontal-align: left;
		vertical-align: top;
		margin-top: 6px;
}

#PlayerRankProgressBar_Left
{
	//background-color: gradient (linear, 0% 0%, 100% 0%, from(#402c5a), to(#8D60C6));
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000033;
	border-right: 1px solid #ffffff22;
}

.MinorRank1 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #3b9208 ), to( #65f013 ) );
}

.MinorRank2 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #0c6583 ), to( #14b4eb ) );
}

.MinorRank3 #PlayerRankProgressBar_Left
{
	background-color: gradient( linear, 0% 110%, 0% 0%, from( #991115 ), to( #fb262e ) );
}

.MinorRank4 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #6a1e88 ), to( #c151ec ) );
}

.MinorRank5 #PlayerRankProgressBar_Left
{
    background-color: gradient( linear, 0% 110%, 0% 0%, from( #9b6714 ), to( #f8ad33 ) );
}

#PlayerRankProgressBar_Right
{
	//background-color: #0e101b;
	opacity: 0.001;
}
