@import url("file://{resources}/styles/battle_pass/current_battlepass.css");
@import url("file://{resources}/styles/dac_db_page_heropedia.css");

DACHeropediaSynergiesPage {
	flow-children: down;
	padding-top: 180px;
}

PopupHeropedia DACHeropediaSynergiesPage {
    flow-children: down;
    padding-top: 40px;
}

#SynergyList {
	margin-top: 0px;

	width: 100%;
	height: 100%;

	flow-children: right-wrap;

	overflow: clip scroll;
}

.SynergyBody {
	width: 100%;
	height: fit-children;
	padding: 30px;
	flow-children: right;
}

.SynergyContainer
{
	flow-children: down;

	width: 200px;
	height: 190px;

	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.SynergyContainer DACSynergyIconNoBars
{
	ui-scale: 120%;

	horizontal-align: center;
}

.SynergyContainer Label
{
	horizontal-align: center;
	color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	text-shadow: 0px 1px 0px 3.0 #000;
}

#SectionName {
	font-size: 110px;
	font-weight: black;
	color: textBrighter;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-left: 25px;
}
