/* Just import all the normal DAC styles */
@import url("file://{resources}/styles/dac_global.css");
@import url("file://{resources}/styles/gamestyles_staging.css");

@define beastColor: #b2411a;
@define demonColor: #9e1d74;
@define dragonColor: #ff511b;
@define dwarfColor: #c29315;
@define elementColor: teal;
@define elfColor: #5f97d0;
@define goblinColor: #b8c72c;
@define humanColor: #02c89c;
@define nagaColor: #483fa2;
@define ogreColor: #961f1c;
@define orcColor: #a61b1b;
@define trollColor: #9e6e4a;
@define undeadColor: #7fa09a;
@define assassinColor: #5a3d68;
@define demonhunterColor: darkmagenta;
@define druidColor: #2e6340;
@define hunterColor: #ff7652;
@define knightColor: #ffe327;
@define mageColor: #58dde9;
@define mechColor: #fb8e14;
@define inventorColor: #fb8e14;
@define shamanColor: #6c985b;
@define warlockColor: #e46ed5;
@define warriorColor: #1c67b4;
@define insectColor: #4d69ff;
@define championColor: #ac89e0;
@define brutalColor: #8b7765;
@define healerColor: #4fd565;
@define spiritBrotherColor: #636aa9;

@define beastColorBright: #fd4a1a;
@define demonColorBright: #c826a8;
@define dragonColorBright: #ff8b36;
@define dwarfColorBright: #fcbb0b;
@define elementColorBright: #06c5e1;
@define elfColorBright: #5bd8f3;
@define goblinColorBright: #bcf366;
@define humanColorBright: #04f9eb;
@define nagaColorBright: #7878ff;
@define ogreColorBright: #de6767;
@define orcColorBright: #ff3600;
@define trollColorBright: #d4945b;
@define undeadColorBright: #b5eccb;
@define assassinColorBright: #a35fa6;
@define demonhunterColorBright: #c826a8;
@define druidColorBright: #7fb790;
@define hunterColorBright: #ffa56f;
@define knightColorBright: #f6ff6b;
@define mageColorBright: #8afffb;
@define mechColorBright: #ffb81f;
@define inventorColorBright: #ffb81f;
@define shamanColorBright: #bbbe53;
@define warlockColorBright: #ff84fb;
@define warriorColorBright: #17a4c7;
@define insectColorBright: #4d69ff;
@define championColorBright: #dccee5;
@define brutalColorBright: #ceb6a1;
@define healerColorBright: #52fd9b;
@define spiritBrotherColorBright: #bebbff;

@define rank1Color: #b29d8e;
@define rank2Color: #d4e8fa;
@define rank3Color: #fffb11;

.Beast {
	color: beastColor;
}

.Demon {
	color: demonColor;
}

.Dragon {
	color: dragonColor;
}

.Dwarf {
	color: dwarfColor;
}

.Element {
	color: elementColor;
}

.Elf {
	color: elfColor;	
}

.Goblin {
	color: goblinColor;
}

.Human {
	color: humanColor;
}

.Naga {
	color: nagaColorBright;
}

.Ogre {
	color: ogreColor;
}

.Orc {
	color: orcColor;
}

.Troll {
	color: trollColor;
}

.Undead {
	color: undeadColor;
}

.Assassin {
	color: assassinColor;
}

.DemonHunter {
	color: demonhunterColor;
}

.Druid {
	color: druidColor;
}

.Hunter {
	color: hunterColor;
}

.Knight {
	color: knightColor;
}

.Mage {
	color: mageColor;
}

.Mech {
	color: mechColor;
}

.Inventor {
	color: inventorColor;
}

.Shaman {
	color: shamanColor;
}

.Warlock {
	color: warlockColor;
}

.Warrior {
	color: warriorColor;
}

.Insect {
	color: insectColor;
}

.Champion {
	color: championColor;
}

.Brutal {
	color: brutalColor;
}

.Healer {
	color: healerColor;
}

.SpiritBrother {
	color: spiritBrotherColor;
}

.Savage {
	color: beastColor;
}

.Brawny {
	color: orcColor;
}

.Primordial {
	color: elementColor;
}

Slider {
	// needs to be at least as wide as the thumb and, as the thumb center stops at end // of track, needs to allow for 1/2 the height of the thumb on each end width: 30px;
	height: 130px;
	margin-bottom: 20px;
}

#SliderTrack {
	height: 120px;
	width: 12px;
	background-color: #7d8688;
	align: center center;
	/* border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px; */
	z-index: 2;
}

SlottedSlider.HorizontalSlider .SliderNotch {
	margin-top: 18px;
	/* border-bottom: 2px solid #5e686966;
	border-left: 2px solid #5e686966;
	border-right: 2px solid #5e686966;
	background-color: black; */
	background-color: #7d868810;
	width: 12px;
	height: 12px;
	vertical-align: bottom;
	z-index: 3;
}

#SliderTrackProgress {
	width: 10px;
	height: 100%;
	background-color: #7d8688;
	align: center center;
	z-index: 3;
}

#SliderThumb {
	/* background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) ); */
	width: 30px;
	height: 16px;
	/* box-shadow: fill black 1px 1px 32px 0px; */
	z-index: 4;
}

// VR
ClientUIDialogPanel #SliderThumb {
	box-shadow: none;
}

#SliderThumb:hover {
	background-color: #7d8688;
}

Slider.HorizontalSlider, SlottedSlider.HorizontalSlider {
	width: 720px;
	height: 30px;
}

	Slider.HorizontalSlider #SliderTrack, SlottedSlider.HorizontalSlider #SliderTrack {
		height: 16px;
		width: 100%;
		/* padding: 10px; */
	}

	Slider.HorizontalSlider #SliderTrackProgress, SlottedSlider.HorizontalSlider #SliderTrackProgress {
		width: 100%;
		height: 10px;
		/* background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( #444f52FF ) );
		box-shadow: inset black 0px 1px 4px 0px; */
		/* margin-left: 1px; */
	}

		Slider.HorizontalSlider #SliderTrackProgress:disabled, SlottedSlider.HorizontalSlider #SliderTrackProgress:disabled {
			width: 100%;
			height: 10px;
			/* background-color: gradient( linear, 0% 0%, 100% 0%, from( #010101FF ), to( #333333FF ) );
			box-shadow: inset black 0px 1px 4px 0px; */
			// flickering when sliding...bug? margin-left: 1px;
		}


	Slider.HorizontalSlider #SliderThumb, SlottedSlider.HorizontalSlider #SliderThumb {
		/* background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b9 ), to( #444f52 ) ); */
		width: 16px;
		height: 30px;
	}

		Slider.HorizontalSlider #SliderThumb:hover, SlottedSlider.HorizontalSlider #SliderThumb:hover {
			/* background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #b8c5d3 ), to( #444f52 ) ); */
		}

		Slider.HorizontalSlider #SliderThumb:disabled, SlottedSlider.HorizontalSlider #SliderThumb:disabled {
			background-color: #333333;
		}

#MidButtonPanel
{
	margin-top: 100px;
	margin-left: 20px; 
}

.MidButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	box-shadow: #00000088 0px 0px 15px;
	border-top: 3px solid #d6d7d7; 
	border-right: 3px solid #9086c3;
	border-bottom: 3px solid #58518c;
	border-left: 3px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}
	
.MidButtonTextStyle
{
	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 3px;
	color: white; 
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	vertical-align: center;
}


.PopupButtonStyle
{
	width: fit-children;
	height: 60px;
	background-color: red;
	//box-shadow: #000000 0px 1px -3px;
	border-top: 4px solid #d6d7d7; 
	border-right: 4px solid #9086c3;
	border-bottom: 4px solid #58518c;
	border-left: 4px solid #8c9192;
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #ffffff06 ), to( #ffffff23 ));
}

.PopupButtonStyle:active
{
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #cccccc06 ), to( #cccccc23 ));
}

.PopupPanelStyle Label 
{
    font-size: 60px;
	font-weight: semi-bold;
	//letter-spacing: 2px;
    vertical-align: center;
    margin-left: 60px;
	margin-top: 6px;
    color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    text-transform: uppercase;
	text-shadow: 0px 0px 0px 2.0 black;
	
}

.BevelButton
{
    vertical-align: top;
    border-top: 4px solid #d6d7d722; 
    border-right: 4px solid #9086c322;
    border-bottom: 4px solid #58518c22;
    border-left: 4px solid #8c919222;
    //background-image: url("s2r://panorama/images/hud/post_game/glass-texture_png.vtex");
    background-image: url("s2r://panorama/images/dashboard/glass-texture-2_png.vtex");
    background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
	//margin-left: 60px;
	//height: 60px;
	//box-shadow: inset 0px 0px 6px #ffffff50;
	transition-property: brightness;
	transition-duration: .2s; 
}

.BevelButton:hover
{
    border-top: 4px solid #d6d7d722; 
    border-right: 4px solid #9086c322;
    border-bottom: 4px solid #58518c22;
    border-left: 4px solid #8c919222;
    brightness: 1.5;
    //background-color: red;
}

.BevelButton:active
{
	background-color: gradient(linear, 12% 100%, 0% 0%, from( #11111155 ), to( #aaaaaa05 ));
}

.BevelButton Label 
{
    //font-size: 60px;
	font-weight: bold;
	letter-spacing: 2px;
    vertical-align: center;
    //margin-left: 60px;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    color: white;
    text-transform: uppercase;
	text-shadow: 0px 0px 0px 2.0 black;
	padding-bottom: -4px;
}



/* ------------------------------------------------------------------------- */
/*  Synergy Label icons                                                      */
/* ------------------------------------------------------------------------- */
.InlineSynergyIcon
{
	width: 24px;
	height: 24px;
	margin-left: -3px;
	margin-right: -3px;
	background-position: 0px 0px;
	background-size: contain;
	background-repeat: no-repeat;
}

.SynergyInventors
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
	wash-color: mechColor;
}

.SynergyDemonHunters
{
	background-image: url("s2r://panorama/images/synergyicons/demonhunter_psd.vtex");
	wash-color: demonhunterColor;
}

.SynergyDemons
{
	background-image: url("s2r://panorama/images/synergyicons/demon_psd.vtex");
	wash-color: demonColor;
}

.SynergyBrawny
{
	background-image: url("s2r://panorama/images/synergyicons/orc_psd.vtex");
	wash-color: orcColor;
}

.SynergyWarlocks
{
	background-image: url("s2r://panorama/images/synergyicons/warlock_psd.vtex");
	wash-color: warlockColor;
}

.SynergyAssassins
{
	background-image: url("s2r://panorama/images/synergyicons/assassin_psd.vtex");
	wash-color: assassinColor;
}

.SynergyTroll
{
	background-image: url("s2r://panorama/images/synergyicons/troll_psd.vtex");
	wash-color: trollColor;
}

.SynergyScrappy
{
	background-image: url("s2r://panorama/images/synergyicons/goblin_psd.vtex");
	wash-color: goblinColor;
}

.SynergyScaled
{
	background-image: url("s2r://panorama/images/synergyicons/naga_psd.vtex");
	wash-color: nagaColorBright;
}

.SynergyKnights
{
	background-image: url("s2r://panorama/images/synergyicons/knight_psd.vtex");
	wash-color: knightColor;
}

.SynergyOgre
{
	background-image: url("s2r://panorama/images/synergyicons/bloodbound_psd.vtex");
	wash-color: ogreColor;
}

.SynergyDragon
{
	background-image: url("s2r://panorama/images/synergyicons/dragon_psd.vtex");
	wash-color: dragonColor;
}

.SynergyPrimordial
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
	wash-color: elementColor;
}

.SynergyHunters
{
	background-image: url("s2r://panorama/images/synergyicons/hunter_psd.vtex");
	wash-color: hunterColor;
}

.SynergyHuman
{
	background-image: url("s2r://panorama/images/synergyicons/human_psd.vtex");
	wash-color: humanColor;
}

.SynergyDruid
{
	background-image: url("s2r://panorama/images/synergyicons/druid_psd.vtex");
	wash-color: druidColor;
}

.SynergySavage
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
	wash-color: beastColor;
}

.SynergyWarriors
{
	background-image: url("s2r://panorama/images/synergyicons/warrior_psd.vtex");
	wash-color: warriorColor;
}

.SynergyElusive
{
	background-image: url("s2r://panorama/images/synergyicons/elf_psd.vtex");
	wash-color: elfColor;
}

.SynergyShaman
{
	background-image: url("s2r://panorama/images/synergyicons/shaman_psd.vtex");
	wash-color: shamanColor;
}

.SynergyHeartless
{
	background-image: url("s2r://panorama/images/synergyicons/undead_psd.vtex");
	wash-color: undeadColor;
}

.SynergyMages
{
	background-image: url("s2r://panorama/images/synergyicons/mage_psd.vtex");
	wash-color: mageColor;
}

.SynergyDeadeye
{
	background-image: url("s2r://panorama/images/synergyicons/deadeye_psd.vtex");
	wash-color: dwarfColor;
}

.SynergyInsect
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
	wash-color: insectColor;
}

.SynergyChampion
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
	wash-color: championColor;
}

.SynergyBrutal
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
	wash-color: brutalColor;
}

.SynergyHealer
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
	wash-color: healerColor;
}

.SynergySpiritBrother
{
	background-image: url("s2r://panorama/images/synergyicons/spiritbrother_psd.vtex");
	wash-color: spiritBrotherColor;
}