/* Just import all the normal DAC styles */
@import url("file://{resources}/styles/dac_global.css");

@define insectColor: #4d69ff;
@define championColor: #ac89e0;
@define brutalColor: #8b7765;
@define healerColor: #4fd565;

@define insectColorBright: #4d69ff;
@define championColorBright: #dccee5;
@define brutalColorBright: #ceb6a1;
@define healerColorBright: #52fd9b;

.Insect {
	color: insectColor;
}

.Champion {
	color: championColor;
}

.Brutal {
	color: brutalColor;
}

.Healer {
	color: healerColor;
}

/* ------------------------------------------------------------------------- */
/*  Synergy Label icons                                                      */
/* ------------------------------------------------------------------------- */

.SynergyInsect
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
	wash-color: insectColor;
}

.SynergyChampion
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
	wash-color: championColor;
}

.SynergyBrutal
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
	wash-color: brutalColor;
}

.SynergyHealer
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
	wash-color: healerColor;
}



DACSynergyIcon.Champion .TakeWashColor,
DACSynergyIconNoBars.Champion .TakeWashColor
{
	wash-color: championColor;
}

DACSynergyIcon.Champion .TakeBrightWashColor,
DACSynergyIconNoBars.Champion .TakeBrightWashColor
{
	wash-color: championColorBright;
}

DACSynergyIcon.Champion .SynergyIcon,
DACSynergyIconNoBars.Champion .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
}

DACSynergyIcon.Insect .TakeWashColor,
DACSynergyIconNoBars.Insect .TakeWashColor
{
	wash-color: insectColor;
}

DACSynergyIcon.Insect .TakeBrightWashColor,
DACSynergyIconNoBars.Insect .TakeBrightWashColor
{
	wash-color: insectColorBright;
}

DACSynergyIcon.Insect .SynergyIcon,
DACSynergyIconNoBars.Insect .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
}



DACSynergyIcon.Brutal .TakeWashColor,
DACSynergyIconNoBars.Brutal .TakeWashColor
{
	wash-color: brutalColor;
}

DACSynergyIcon.Brutal .TakeBrightWashColor,
DACSynergyIconNoBars.Brutal .TakeBrightWashColor
{
	wash-color: brutalColorBright;
}

DACSynergyIcon.Brutal .SynergyIcon,
DACSynergyIconNoBars.Brutal .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
}

DACSynergyIcon.Healer .TakeWashColor,
DACSynergyIconNoBars.Healer .TakeWashColor
{
	wash-color: healerColor;
}

DACSynergyIcon.Healer .TakeBrightWashColor,
DACSynergyIconNoBars.Healer .TakeBrightWashColor
{
	wash-color: healerColorBright;
}

DACSynergyIcon.Healer .SynergyIcon,
DACSynergyIconNoBars.Healer .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
}
