/* Just import all the normal DAC styles */
@import url("file://{resources}/styles/dac_global.css");

@define spectralColor: #bc013b;
@define commanderColor: #ac89e0;
@define insectColor: #4d69ff;
@define meepoColor: #6722f5;
@define championColor: #ac89e0;
@define wispColor: #d3f4ff;
@define brutalColor: #8b7765;
@define healerColor: #4fd565;

@define spectralColorBright: #feffe9;
@define commanderColorBright: #1433da;
@define insectColorBright: #4d69ff;
@define championColorBright: #dccee5;
@define wispColorBright: #effbff;
@define brutalColorBright: #ceb6a1;
@define healerColorBright: #52fd9b;

.Commander {
	color: commanderColor;
}

.Insect {
	color: insectColor;
}

.Meepo {
	color: meepoColor;
}

.Spectral {
	color: spectralColor;
}

.Champion {
	color: championColor;
}

.Wisp {
	color: wispColor;
}

.Brutal {
	color: brutalColor;
}

.Healer {
	color: healerColor;
}

/* ------------------------------------------------------------------------- */
/*  Synergy Label icons                                                      */
/* ------------------------------------------------------------------------- */

.SynergyInsect
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
	wash-color: insectColor;
}

.SynergySpectral
{
	background-image: url("s2r://panorama/images/synergyicons/spectral_psd.vtex");
	wash-color: spectralColor;
}

.SynergyCommander
{
	background-image: url("s2r://panorama/images/synergyicons/commander_psd.vtex");
	wash-color: commanderColor;
}

.SynergyMeepo
{
	background-image: url("s2r://panorama/images/synergyicons/meepo_psd.vtex");
	wash-color: meepoColor;
}

.SynergyChampion
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
	wash-color: championColor;
}

.SynergyWisp
{
	background-image: url("s2r://panorama/images/synergyicons/wisp_psd.vtex");
	wash-color: wispColor;
}

.SynergyBrutal
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
	wash-color: brutalColor;
}

.SynergyHealer
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
	wash-color: healerColor;
}


DACSynergyIcon.Commander .TakeWashColor
{
	wash-color: commanderColor;
}

DACSynergyIcon.Commander .TakeBrightWashColor
{
	wash-color: commanderColorBright;
}

DACSynergyIcon.Commander .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/commander_psd.vtex");
}


DACSynergyIcon.Champion .TakeWashColor
{
	wash-color: championColor;
}

DACSynergyIcon.Champion .TakeBrightWashColor
{
	wash-color: championColorBright;
}

DACSynergyIcon.Champion .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
}


DACSynergyIcon.Insect .TakeWashColor
{
	wash-color: insectColor;
}

DACSynergyIcon.Insect .TakeBrightWashColor
{
	wash-color: insectColorBright;
}

DACSynergyIcon.Insect .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
}


DACSynergyIcon.Wisp .TakeWashColor
{
	wash-color: wispColor;
}

DACSynergyIcon.Wisp .TakeBrightWashColor
{
	wash-color: wispColorBright;
}

DACSynergyIcon.Wisp .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/wisp_psd.vtex");
}

DACSynergyIcon.Brutal .TakeWashColor
{
	wash-color: brutalColor;
}

DACSynergyIcon.Brutal .TakeBrightWashColor
{
	wash-color: brutalColorBright;
}

DACSynergyIcon.Brutal .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
}

DACSynergyIcon.Healer .TakeWashColor
{
	wash-color: healerColor;
}

DACSynergyIcon.Healer .TakeBrightWashColor
{
	wash-color: healerColorBright;
}

DACSynergyIcon.Healer .SynergyIcon
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
}
