PopupWeeklyChallenge 
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;

}

.PopupPanel
{
	width: 100%;
	height: 100%;
	margin: 50px;
	horizontal-align: center;
	vertical-align: center;
	flow-children:none;
	border: 0px solid transparent;
}

 #PopupWeeklyChallenge
 {
	 margin: 0px;
 }
.IsLayoutSmallScreen PopupCityCrawlIntro
{
	max-width: 2200px;
}

.CloseButton
{
	background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
	width:72px;
	height:72px;
}
