PopupWeeklyChallenge 
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;

}

.PopupPanel
{
	width: 100%;
	height: 100%;
	margin: 50px;
	horizontal-align: center;
	vertical-align: center;
	flow-children:none;
	border: 0px solid transparent;
}

 #PopupWeeklyChallenge
 {
	 margin: 0px;
 }
.IsLayoutSmallScreen PopupCityCrawlIntro
{
	max-width: 2200px;
}

.CloseButton
{
	background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
	width:72px;
	height:72px;
}



.AdvanceButton
{
	vertical-align: bottom;
	horizontal-align: left;
	width: 250px;
	height: 97px;
	transition-property: brightness;
	transition-duration: 0.2s; 	
	margin-bottom: 40px;

	opacity-mask: url("s2r://panorama/images/weekly/opacity_mask_square_psd.vtex");
   	background-image: url("s2r://panorama/images/weekly/newspaper_backing_psd.vtex");

	// painty button style
	brightness: 1.3;

	transition-property: brightness, transform;
	transition-duration: .2s;
	visibility: collapse;
}

.AdvanceButton.IsVisible
{
	visibility: visible;
}

.AdvanceButtonIcon
{
	width:64px;
	height:64px;
	width: 100%;
	height: 100%;
	wash-color: textDefault;
	opacity: 0.6;
}


.AdvanceButtonLabel
{
	text-transform: lowercase;
	vertical-align: center;
	horizontal-align: center;
	width: 70%;
	//height:100%;
	text-align: center;
	
	// painty button style
	color: #e7e0d1;
	font-family: ravenhook;
	font-size: 28px;
	margin: 5px 0px;
	text-shadow: 2px 2px 3.0 #1f296188;

	transition-property: transform, opacity;
	transition-duration: 0.2s;
}

#NextWeekButton
{
	horizontal-align:right;
	margin-right: 20px;
}

#PrevWeekButton
{
	margin-left: 20px;	
}

.LowVisualQuality .AdvanceButton
{
	opacity: 1;
}

.AdvanceButton:hover
{
	brightness: 1.6;
	transform:translateY(-2px);
}
