.PopupPanel
{
	width: 100%;
	max-width: 1600px;
	horizontal-align: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

	border: 0px solid none;
	
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	img-shadow: 0px 0px 200px #000000;
}

.IsPlatformMobile .PopupPanel
{
	img-shadow: none;
}


.IsLayoutSmallScreen PopupMapChallenge {
	max-width: 2200px;
}


PopupMapChallenge.StreetFightChallenge {
	background-image: url("s2r://panorama/images/challenge_map/challenge_puzzle_bg_psd.vtex");
	height: 90%;
}

.PopupPanel.ObjectiveSlot,
.PopupPanel.IntroChallenge {
	background-image: url("s2r://panorama/images/challenge_map/challenge_puzzle_bg_psd.vtex");
	height: 90%;
}

PopupMapChallenge.PuzzleChallenge
{
	background-color: #111111;
	background-size: 120% 150%;
	background-position: center;
	opacity-mask: url("s2r://panorama/images/masks/citycrawl_puzzle_pc_psd.vtex");
	width: 100%;
	max-width: 100%;

	
}

.QuoteName {
	font-weight: bold;
}

.Body
{
	width: 100%;
	height: 100%;
}

.SimpleButton Label {
	color: #333333;
}

.ChallengeContent
{
	visibility: visible;
	width: 100%;
	height: 100%;
	flow-children: right;
}

.LockedContent
{
	visibility: collapse;
	width: 100%;
}

.LockedPremium .LockedContent
{
	visibility: visible;
}

.LockedPremium .ChallengeContent
{
	visibility: visible;
}



.UnderlordSigil {
	background-image: url("s2r://panorama/images/map/sigil_hobgen_png.vtex");	
	width: 170px;
	height: 200px;
	background-size: 100%;
	horizontal-align: center;
}

.NodeContent {
	vertical-align: top;
	margin-top: 60px;
	margin-right: 30px;
	width: 100%;
	height: 100%;
	color: #000000;
}

.PuzzleChallenge .NodeContent {
	color: #ffffff;
}

.ChallengeText {
	flow-children: down;
	margin-bottom: 100px;
	horizontal-align: center;
	width: 80%;
}

.LockedPremium .ChallengeText {
	vertical-align: middle;
}

.IsLayoutSmallScreen .ChallengeText {
	width: 100%;
}

.DistrictName
{
	//horizontal-align: left;
	font-size: 24px;
	text-align: center;
	horizontal-align: center;
	margin-bottom: -5px;
	text-transform: lowercase;
	//color: #353535;
	letter-spacing: 1px;
	opacity: 0.8;

	white-space: nowrap;
}

#MostWantedContainer {
	background-image: url("s2r://panorama/images/challenge_map/wanted_bg_png.vtex");	
	background-size: 100% 100%;
	height: 120px;
	horizontal-align: middle;
	margin-top: 50px;
	margin-bottom: 20px;
	visibility: collapse;
	vertical-align: top;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}

.StreetFightChallenge #MostWantedContainer {
	//visibility: visible;
}

.MostWanted {
	color: #A28F7E;
	font-size: 90px;
	text-transform: lowercase;
	font-family: "Early Bird";
	letter-spacing: 5px;
	padding: 0px 20px;
	text-align: center;
	margin-top: -10px;
}

.ChallengeName
{
	//horizontal-align: left;
	font-size: 80px;
	text-align: center;
	horizontal-align: center;
	margin-bottom: 0px;
	font-family: Early Bird;
	//color: #000000;
	text-transform: lowercase;
	white-space: normal;
	line-height: 60px;
	margin-top: -20px;
}

.Language_tchinese .ChallengeName,
.Language_schinese .ChallengeName,
.Language_koreana .ChallengeName,
.Language_japanese .ChallengeName
{
	line-height: 85px;
	margin-top: 0px;
}


.PuzzleChallenge .ChallengeName {
	margin-top: 0px;
}

.ChallengeLore {
	margin-bottom: 50px;
	font-size: 26px;
	text-align: center;
	horizontal-align: center;
}

.ChallengeLore.Locked {
	font-size: 26px;
	font-weight: semi-bold;
	margin-bottom: 30px;
}


.IsLayoutSmallScreen .ChallengeLore {
	font-size: 30px;
	font-weight: semi-bold;
	margin-bottom: 30px;
}

.ChallengeDescription,
.StreetFightDescription
{

	font-size: 26px;
	text-align: center;
	font-weight: semi-bold;
	horizontal-align: center;

	//color: #292929;
}

.IsLayoutSmallScreen .ChallengeDescription,
.IsLayoutSmallScreen .StreetFightDescription {
	font-size: 38px;
}

#ObjectiveDescription.ChallengeDescription {
	margin-bottom: 5px;
	margin-bottom: 5px;
}

.IsLayoutSmallScreen #ObjectiveDescription.ChallengeDescription {
	margin-bottom: 0px;
}


#ObjectiveDescription .AllianceHighlight {
	font-family: Ravenhook;
	margin-right: 0px;
	color: #222;
}

#ChallengeType {
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 10px;
}

#ChallengeIcon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.ChallengeTypeLabel {
	font-family: Early Bird;
	font-size: 26px;
	letter-spacing: 1px;
	color: #222222;
	text-transform: lowercase;
	margin-top: -8px;
}

.Language_tchinese .ChallengeTypeLabel,
.Language_schinese .ChallengeTypeLabel,
.Language_koreana .ChallengeTypeLabel,
.Language_japanese .ChallengeTypeLabel
{
	margin-top: 0px;
}


.IsLayoutSmallScreen #ChallengeType {
	ui-scale: 130%;
}

.StreetfightDifficulty {
	font-family: Early Bird;
	font-size: 26px;
	letter-spacing: 1px;
	color: #222222;
	text-transform: lowercase;
	visibility: collapse;
	margin-top: -8px;
}

.Language_tchinese .StreetfightDifficulty,
.Language_schinese .StreetfightDifficulty,
.Language_koreana .StreetfightDifficulty,
.Language_japanese .StreetfightDifficulty
{
	margin-top: 0px;
}


.StreetFightChallenge .StreetfightDifficulty {
	visibility: visible;
}

.PuzzleChallenge #ChallengeIcon {
	background-image: url("s2r://panorama/images/challenge_map/icon_puzzle_png.vtex");
	background-size: 100% 100%;
}

.StreetFightChallenge #ChallengeIcon {
	background-image: url("s2r://panorama/images/challenge_map/icon_streetfight_png.vtex");
	background-size: 100% 100%;
	wash-color: #222222;
}

.ObjectiveSlot #ChallengeIcon {
	background-image: url("s2r://panorama/images/challenge_map/icon_objective_png.vtex");
	background-size: 100% 100%;
	wash-color: #222222;
	width: 18px;
}

.PuzzleChallenge .ChallengeTypeLabel {
	color: #ffffff;
}

#ClaimRewardParticle {
	width: 100%;
	height: 200px;
	vertical-align: bottom;
	margin-bottom: 100px;
	visibility: collapse;
}

.ChallengeCompleted #ClaimRewardParticle {
	visibility: visible;
}

.ChallengeClaimed #ClaimRewardParticle {
	visibility: collapse;
}



.ChallengeSynergyInventors
{
	background-image: url("s2r://panorama/images/synergyicons/mech_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyDemonHunters
{
	background-image: url("s2r://panorama/images/synergyicons/demonhunter_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyDemons
{
	background-image: url("s2r://panorama/images/synergyicons/demon_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyBrawny
{
	background-image: url("s2r://panorama/images/synergyicons/orc_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyWarlocks
{
	background-image: url("s2r://panorama/images/synergyicons/warlock_psd.vtex");
	wash-color: #333333;
}

.SynergyAssassins
{
	background-image: url("s2r://panorama/images/synergyicons/assassin_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyTroll
{
	background-image: url("s2r://panorama/images/synergyicons/troll_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyScrappy
{
	background-image: url("s2r://panorama/images/synergyicons/goblin_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyScaled
{
	background-image: url("s2r://panorama/images/synergyicons/naga_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyKnights
{
	background-image: url("s2r://panorama/images/synergyicons/knight_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyOgre
{
	background-image: url("s2r://panorama/images/synergyicons/bloodbound_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyDragon
{
	background-image: url("s2r://panorama/images/synergyicons/dragon_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyPrimordial
{
	background-image: url("s2r://panorama/images/synergyicons/element_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyHunters
{
	background-image: url("s2r://panorama/images/synergyicons/hunter_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyHuman
{
	background-image: url("s2r://panorama/images/synergyicons/human_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyDruid
{
	background-image: url("s2r://panorama/images/synergyicons/druid_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergySavage
{
	background-image: url("s2r://panorama/images/synergyicons/beast_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyWarriors
{
	background-image: url("s2r://panorama/images/synergyicons/warrior_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyElusive
{
	background-image: url("s2r://panorama/images/synergyicons/elf_psd.vtex");
	wash-color: #333333;
}

.SynergyShaman
{
	background-image: url("s2r://panorama/images/synergyicons/shaman_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyHeartless
{
	background-image: url("s2r://panorama/images/synergyicons/undead_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyMages
{
	background-image: url("s2r://panorama/images/synergyicons/mage_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyDeadeye
{
	background-image: url("s2r://panorama/images/synergyicons/deadeye_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyInsect
{
	background-image: url("s2r://panorama/images/synergyicons/insect_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyChampion
{
	background-image: url("s2r://panorama/images/synergyicons/champion_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyBrutal
{
	background-image: url("s2r://panorama/images/synergyicons/brutal_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyHealer
{
	background-image: url("s2r://panorama/images/synergyicons/healer_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergySpiritBrother
{
	background-image: url("s2r://panorama/images/synergyicons/spiritbrother_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergySummoner
{
	background-image: url("s2r://panorama/images/synergyicons/summoner_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyVigilant
{
	background-image: url("s2r://panorama/images/synergyicons/vigilant_psd.vtex");
	wash-color: #333333;
}

.ChallengeSynergyVoid
{
	background-image: url("s2r://panorama/images/synergyicons/void_psd.vtex");
	wash-color: #333333;
}



.StreetFightBotDescription
{
	margin-bottom: 10px;
	width: 100%;
	font-size: 22px;
	text-align: center;
	horizontal-align: center;

	//color: #333333;

	visibility: collapse;
}

.StreetFightChallenge .StreetFightBotDescription
{
	visibility: visible;
}

.ChallengeRewardXP
{
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
	font-size: 24px;
	horizontal-align: center;
	width: 100%;

	margin-top: 5px;
	margin-bottom: 15px;

	visibility: visible;
}

.ChallengeQuote
{
	font-size: 20px;
	color: #333333;
	margin-top: 10px;
	font-style: italic;
	font-weight: semi-bold;
	horizontal-align: middle;
	text-align: center;
	visibility: collapse;
}

.PuzzleChallenge .ChallengeQuote {
	color: textBright;
	margin-top: 20px;
}

.ChallengeLeft {
	width: 50%;
	//background-color: red;
	height: 100%;
	overflow: noclip;
}


.DescriptionTop {
	visibility: visible;
}

.DescriptionLower {
	visibility: collapse;
}

.ObjectiveSlot .DescriptionLower {
	visibility: visible;
}

.ObjectiveSlot .DescriptionTop {
	visibility: collapse;
}


.ChallengeImage {
	background-image: url("s2r://panorama/images/challenge_map/puzzles/puzzle_test_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.StreetFightChallenge .ChallengeImage {
	background-image: url("s2r://panorama/images/challenge_map/puzzles/puzzle_test_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	//opacity-mask: url("s2r://panorama/images/masks/fade_right_psd.vtex");
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
	background-color: rgba(0, 0, 0, 0.4);
	width: 95%;
	height: 80%;
	z-index: 1;
	margin: 30px;
	border: 8px solid #000000aa;
}

.LockedPremium.StreetFightChallenge .ChallengeImage {
	brightness: 0;
	background-color: rgba(0,0,0,0);

}

.PuzzleChallenge .ChallengeImage {
	background-image: url("s2r://panorama/images/challenge_map/puzzles/locked_puzzle_png.vtex");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center; 
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/fade_right_psd.vtex");
	
}

.ObjectiveSlot .ChallengeImage {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_bg_default_psd.vtex");
	background-repeat: no-repeat; 
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity-mask: url("s2r://panorama/images/masks/fade_right_psd.vtex");
}

.ObjectiveUnderlord {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_hobgen_default_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 790px;
	height: 880px;
	margin-left: 150px;
	margin-bottom: 80px;
	z-index: 2;
	visibility: collapse;
	opacity: 1;
	//img-shadow: 0px 0px 50px #000000;
	opacity-mask: url("s2r://panorama/images/masks/fade_bottom_psd.vtex");
}

.LockedPremium .ObjectiveUnderlord {
	saturation: 0;
	opacity: 0.7;
	brightness: 0;
}

.Underlord1 .ObjectiveUnderlord {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_anessix_default_psd.vtex");
	width: 900px;
	height: 880px;
	margin-left: 0px;
}

.Underlord2 .ObjectiveUnderlord {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_jull_default_psd.vtex");
	width: 900px;
	height: 750px;
	margin-left: 0px;
	margin-top: 100px;
}

.Underlord3 .ObjectiveUnderlord {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_enno_default_psd.vtex");
	width: 650px;
	height: 880px;
	margin-left: 150px;
}

.Underlord4 .ObjectiveUnderlord {
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_hobgen_default_psd.vtex");
	width: 790px;
	height: 880px;
	margin-left: 100px;
}

.ObjectiveSlot .ObjectiveUnderlord {
	visibility: visible;
}

#PuzzleHistogram
{
	vertical-align: bottom;
	horizontal-align: center;

	margin-bottom: 100px;

	z-index: 2;

	visibility: collapse;
}

.PuzzleChallenge.ChallengeCompleted:not(.ChallengeClaimable) #PuzzleHistogram
{
	visibility: visible;
}

#ChallengeRewardBlock
{
	width: 100%;
	height: 400px;
	max-width: 1015px;
	vertical-align: bottom;
	overflow: noclip;
	margin-left: 30px;
	z-index: 15;

	visibility: collapse;
}

.LockedPremium #ChallengeRewardBlock {
	opacity: 1;
	saturation: 0;
	brightness: 0.2;
}

.IsLayoutSmallScreen #ChallengeRewardBlock {
	ui-scale: 120%;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ChallengeRewardBlock {
	margin-left: -50px;
}

.PuzzleChallenge #ChallengeRewardBlock {
	max-width: 1015px;
}

.HasRewardVirtualItem:not(.ChallengeClaimed) #ChallengeRewardBlock
{
	visibility: visible;
}

.ChallengeClaimed #ChallengeRewardBlock
{
	visibility: collapse;
}

DACRewardPreviewScenePanel
{
	width: 171px;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	vertical-align: top;
	margin-top: -18px;
	margin-left: 7px;
}

#RewardItem {
	width: 185px;
	height: 300px;
	ui-scale: 130%;
	horizontal-align: right;
	z-index: 20;
	overflow: noclip;
}

.IsLayoutSmallScreen #RewardItem {
	ui-scale: 150%;
}

.RewardImage {
	width: 185px;
	height: 300px;
	margin: 10px;

	background-image: url("s2r://panorama/images/battle_pass/bp1/items/barricade_01_png.vtex");
	background-size: contain;
}

#MainRewardPanel
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_free_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 0px;
}

.Premium #MainRewardPanel {
	background-image: url("s2r://panorama/images/battle_pass/bp1/reward_item_frame_bp_psd.vtex");
}

#RewardFreeLabel
{
	height: 100%;
   
	color: gradient (linear, 0% 0%, 0% 100%, from(#cdd2f3), to(#fff));
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;    
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px 3.0 #5656fe;
	margin-top: 257px;
	margin-right: 3px;
	horizontal-align: center;
}

.Premium #RewardFreeLabel {
	visibility: collapse;
}

#RewardInfo {
	width: 600px;
	height: fit-children;
	vertical-align: bottom;
	margin-bottom: 20px;
	margin-left: 0px;
	flow-children: down;
	margin-left: 0px;
	color: #ffffff;
	background-image: url("s2r://panorama/images/challenge_map/reward_bg_png.vtex");
	background-size: cover;
	padding: 40px 0px 40px 70px;
	z-index: 10;
	z-index: 15;
	horizontal-align: right;
	margin-right: 220px;
}

.PuzzleChallenge #RewardInfo {
	color: #ffffff;
}


.RewardType {
	color: gradient (linear, 0% 0%, 0% 100%, from(#C6DCFE), to(#fff));
	color: #cdd2f3;
	font-size: 28px;
	font-weight: medium;
	letter-spacing: 0px;    
	text-align: left;
	width: fit-children;
	text-shadow: 0px 0px 0px 3.0 #4242b4;
	text-transform: uppercase;
	margin-top: 1px;
	margin-left: 2px;
}

.RewardName {
	font-family: Ravenhook;
	font-size: 46px;
	line-height: 48px;
	width: 460px;
	max-height: 55px;
	text-overflow: shrink;
}

.RewardDesc {
	font-size: 24px;
	color: textBrighter;
	width: 460px;
	height: 85px;
	height: fit-children;
	max-height: 120px;
	text-overflow: shrink;
}

#EquipmentType {
	flow-children: right;
}

.EquipmentTypeIcon
{
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: center;
}

.EquipmentTypeIcon
{
	vertical-align:top;
	horizontal-align: left;

	width: 34px;
	height: 34px;
	margin-right: 5px;
	
	opacity: .6;

	//visibility: collapse;
}



.PuzzleChallenge .ProgressBars,
.PuzzleChallenge .ChallengeDescription,
.PuzzleChallenge .ProgressRemaining
{
	visibility: collapse;
}

.PuzzleChallenge .ChallengeTitle.TextSubTitle
{
	font-family: Ravenhook;
	color: gradient( linear, 0% 0%, 0% 100%, from( #dd7676 ), to(  #8c3636 ) ); 
}

.ProgressBars
{
	horizontal-align: left;
	visibility: visible;
	margin: 10px 0px;
	max-width: 300px;
	horizontal-align: center;
}

.DailyChallengeProgressBar {
	height: 10px;
}

.PuzzleChallenge .ProgressBars,
.StreetFightChallenge .ProgressBars,
.PuzzleChallenge .ProgressBarLabel,
.StreetFightChallenge .ProgressBarLabel {
	visibility: collapse;
}

#ObjectiveProgressArea {
	width: 100%;
	flow-children: down;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/challenge_map/challenge_progress_bg_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px 20px 40px 20px;
	visibility: collapse;
	margin-bottom: 20px;
}

.ObjectiveSlot #ObjectiveProgressArea {
	visibility: visible;
}

#StreetfightDescriptionArea {
	width: 100%;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/challenge_map/challenge_progress_bg_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 30px;
	visibility: collapse;
	margin-bottom: 20px;
}

.IsLayoutSmallScreen #StreetfightDescriptionArea {
	padding: 40px;
	width: 80%;
}

.StreetFightChallenge #StreetfightDescriptionArea {
	visibility: visible;
}

#StreetfightPrestigeArea
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	//background-image: url("s2r://panorama/images/challenge_map/challenge_progress_bg_psd.vtex");
	//background-size: 100% 100%;
	background-repeat: no-repeat;
	//padding: 10px;
	visibility: collapse;
	//margin-bottom: 20px;
}

.IsLayoutSmallScreen #StreetfightPrestigeArea
{
	
}

.StreetFightChallenge.ShowPrestige #StreetfightPrestigeArea
{
	visibility: visible;
}

.StreetfightPrestigeTitle
{
	text-transform: uppercase;
	font-size: 23px;
	color: #333334;
	horizontal-align: center;
	font-weight: bold;
	font-family: 'Ravenhook';
	visibility: visible;
	margin-top: 0px;
	margin-bottom: 0px;
}

.IsLayoutSmallScreen .StreetfightPrestigeTitle
{
	font-size: 30px;
}

.StreetfightPrestigeDescription
{
	font-size: 20px;
	text-align: center;
	font-weight: semi-bold;
	horizontal-align: center;

	visibility: visible;
	vertical-align: center;
	margin-bottom: 10px;
}

.IsLayoutSmallScreen .StreetfightPrestigeDescription
{
	font-size: 30px;
}

.ProgressBarCounter {
	font-family: Ravenhook;
	color: #000000;
	font-size: 40px;
	horizontal-align: center;
	
}

.ProgressRemaining
{
	margin-top: 0px;
	margin-left: 0px;
}

.WithActiveUnderlord {
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
	margin-top: 20px;
	visibility: collapse;
	margin-bottom: 5px;
}

.Underlord4 .WithActiveUnderlord.Hobgen {
	visibility: visible;
}

.Underlord1 .WithActiveUnderlord.Anessix {
	visibility: visible;
}

.Underlord2 .WithActiveUnderlord.Jull {
	visibility: visible;
}

.Underlord3 .WithActiveUnderlord.Enno {
	visibility: visible;
}


.ProgressBarLabel {
	text-transform: uppercase;
	font-size: 24px;
	color: #333334;
	horizontal-align: center;
	font-weight: bold;
	font-family: 'Ravenhook';
	visibility: visible;

	vertical-align: middle;
}

.ProgressBarLabel.UnderlordHighlight {
	color: black;
}

.ProgressBarLabel.SpaceRight {
	margin-right: 5px;
}

.UnderlordIcon {
	width: 30px;
	height: 30px;
	margin: 0px 8px 0px 5px;
}

.Underlord1 .UnderlordIcon {
	background-image: url("s2r://panorama/images/heroes/icons/anessix_png.vtex");
	background-size: 100% 100%;
}

.Underlord2 .UnderlordIcon {
	background-image: url("s2r://panorama/images/heroes/icons/jull_png.vtex");
	background-size: 100% 100%;
}

.Underlord3 .UnderlordIcon {
	background-image: url("s2r://panorama/images/heroes/icons/enno_png.vtex");
	background-size: 100% 100%;
}

.Underlord4 .UnderlordIcon {
	background-image: url("s2r://panorama/images/heroes/icons/hobgen_png.vtex");
	background-size: 100% 100%;
}



.StreetfightDescriptionLabel {
	text-transform: uppercase;
	font-size: 24px;
	color: #333334;
	horizontal-align: center;
	font-weight: bold;
	font-family: 'Ravenhook';
	visibility: visible;
	margin-top: 0px;
	margin-bottom: 0px;
}

.IsLayoutSmallScreen .StreetfightDescriptionLabel {
	font-size: 34px;
}

.SimpleButton
{
	horizontal-align: center;
	margin-top: 20px;
}

// Puzzle
.LaunchPuzzleButton
{
	visibility: collapse;
	vertical-align: bottom;
}

#PuzzleRulesContainer {
	width: 400px;
	horizontal-align: center;
	flow-children: down;
	background-color: #222222;
	padding: 20px;
	visibility: collapse;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}

#PuzzleRulesContainer .PuzzleRulesLabel {
	color: #ffffff;
	font-size: 24px;
	horizontal-align: left;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Ravenhook;
	margin-bottom: 10px;
	margin-left: 5px;
}

.PuzzleChallenge #PuzzleRulesContainer {
	visibility: visible;
}

.LockedPremium.PuzzleChallenge #PuzzleRulesContainer {
	visibility: collapse;
}

.PuzzleChallenge .LaunchPuzzleButton
{
	visibility: visible;
}

#PuzzleRules
{
	visibility: collapse;
}

.PuzzleChallenge #PuzzleRules
{
	visibility: visible;
}

.LaunchIntroChallengeButton
{
	visibility: collapse;
}

.IntroChallenge .LaunchIntroChallengeButton
{
	visibility: visible;
}

// Street Fight
.LaunchStreetFightButton
{
	visibility: collapse;
}

.StreetFightChallenge .LaunchStreetFightButton
{
	visibility: visible;
}

.StreetFightDescription
{
	visibility: collapse;
	vertical-align: center;
	margin-bottom: 10px;
	//margin: 20px 0px;
}

.StreetFightChallenge .StreetFightDescription
{
	visibility: visible;
}

.StreetFightDescription .BotName {
	color: #222222;
	font-family: Ravenhook;
	letter-spacing: 1px;

}

.StreetFightChallenge .ProgressRemaining
{
	visibility: collapse;
}

.StreetFightChallenge .LaunchChallengeButton,
.PuzzleChallenge .LaunchChallengeButton,
.IntroChallenge .LaunchChallengeButton
{
	visibility: collapse;
	
}

.ClaimButton
{
	visibility: collapse;
}

.ChallengeClaimable .ClaimButton
{
	visibility: visible;
}

.ChallengeClaimable .LaunchButton,
.ChallengeClaimable .UseKeyButton
{
	visibility: collapse;
}

/* LOCKED */

.LockedDescription {
	height: fit-children;
	width: 100%;
	flow-children: down;
}

.BuyBattlePassButton {
	visibility: collapse;
}

.LockedPremium .BuyBattlePassButton {
	visibility: visible;
}

.BuyBattlePassButton {
	vertical-align: bottom;
	ui-scale: 110%;
}

.BuyBattlePassButton Label {
	opacity: 1;
}


.LockedPremium .LaunchButton,
.LockedPremium #ObjectiveProgressArea,
.LockedPremium #StreetfightDescriptionArea {
	visibility: collapse;
}


.StreetFightChallenge .ChallengeDescription {
	visibility: collapse;
}

.BotName
{
	font-weight: bold;
	color: white;
}

#ModeRestrictionLabel
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 22px;
	text-align: center;
	horizontal-align: center;

	color: textBright;
	
	visibility: collapse;
}

.HasModeRestriction #ModeRestrictionLabel
{
	visibility: collapse;
}

.CloseButton2
{
	horizontal-align: right;
	vertical-align: top;
	width: 74px;
	height: 74px;
	background-image: url("s2r://panorama/images/challenge_map/close_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0.7;
	margin-right: 60px;
	margin-top: 40px;
}

.CloseButton2:hover {
	opacity: 1;
}

.PuzzleChallenge .CloseButton2 {
	background-image: url("s2r://panorama/images/challenge_map/close_white_psd.vtex");
	//margin-right: 100px;
	//margin-top: 100px;
	opacity: 0.3;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.CloseButton:hover
.CloseButton2:active
{
	opacity: 1;
}



.CCButton {
	background-image: url("s2r://panorama/images/ui/splash_btn_bg_psd.vtex");
	background-size: 100% 100%;
	width: 600px;
	height: 260px;
	opacity: 0.9;
	transition-property: opacity, ui-scale;
	transition-duration: 0.2s;
	horizontal-align: center;
	vertical-align: bottom;
}

.CCButton Label {
	font-family: Ravenhook;
	font-size: 80px;
	letter-spacing: 2px;
	color: #ffffff;
	transform: rotateZ(-1deg);

	margin-top: 48px;
	width: 600px;
	horizontal-align: center;
	text-align: center;
}

.IsLayoutSmallScreen .CCButton {
	width: 100%;
	height: 400px;
}

.IsLayoutSmallScreen .CCButton Label {
	font-size: 130px;
	margin-top: 65px;
}

.CCButton:hover {
	opacity: 1;
}

.MulliganButton Label {
	font-size: 30px;
	visibility: visible;
}

.IsLayoutSmallScreen .MulliganButton Label {
	font-size: 60px;
}

.PuzzleChallenge .CCButton {
	background-image: url("s2r://panorama/images/ui/splash_btn_white_bg_psd.vtex");
}

.PuzzleChallenge .CCButton Label {
	color: #000000;
}

.UseKeyButton
{
	vertical-align: bottom;
	horizontal-align: center;
	visibility: collapse;
	margin-bottom: 45px;

	opacity: 0.5;
}

#KeyLabel
{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	opacity: 0.9;
	visibility: collapse;
}

.CanUseCityKey .UseKeyButton,
.CanUseCityKey #KeyLabel
{
	opacity: 1;
	visibility: visible;
}

.HasRewardVirtualItem #ChallengeRewardBlock #RewardImage
{
	horizontal-align: center;
	margin-top: 13px;
	//vertical-align: center;
	width: 171px;
	height: 239px;
	background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_teleport_psd.vtex"); 
	background-size: cover;
	//background-color: #333;
}

.Locked {
	visibility: collapse;
}

.LockedPremium .Locked {
	visibility: visible;
}

.LockedPremium .Unlocked {
	visibility: collapse;
}

.PosterFrame,
.PosterBG
{
    height:100%;
    width:100%; 
    horizontal-align: center;
    vertical-align: center; 
    visibility: collapse;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;        
    transform:translateY(-18px);
    pre-transform-scale2d:.95;
}

.wanted_poster .PosterFrame,
.wanted_poster .PosterBG
{
    visibility: visible;
}

.PosterBG
{
    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex"); 
}

.PosterFrame
{
    background-image: url("s2r://panorama/images/post_game/wanted_poster_plain_psd.vtex");     
}