.PopupPanel
{
	width: 100%;
	max-width: 2000px;
	horizontal-align: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	border: 0px solid white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right bottom;

	
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	img-shadow: 0px 0px 200px #000000;
}

.IsLayoutSmallScreen PopupCityCrawlIntro
{
	max-width: 2200px;
}

.Body
{
	width: 1700px;
	height: 950px;
	horizontal-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: url("s2r://panorama/images/challenge_map/prestige_modal_bg_psd.vtex");
	background-size: auto 100%;
	background-repeat: no-repeat;
	overflow: noclip;
}

.IsLayoutSmallScreen.AspectRatio21x9 .Body {
	width: 2000px;
}

.CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 74px;
	height: 74px;
	background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 1.0;
	wash-color: transparent;
	margin-right: 40px;
	margin-top: 40px;
}
.CloseButton:hover
{
	opacity: 2.0;
}
.CloseButton:active
{
	opacity: 1.5;
}

.MulliganButton.CloseModalButton {
	visibility: visible;
	height: 120px;
	width: fit-children;
	margin-top: 20px;
	
}

.ClaimButton
{
	visibility: visible;

	flow-children: down;
}

.ClaimButton .Subtitle
{
	font-size: 42px;
	height: fit-children;
	margin-top: 25px;
	color: #cdd2f3;
    font-weight: medium;
    letter-spacing: 2px;    
    text-align: left;
    width: fit-children;
    text-shadow: 0px 0px 0px 3.0 #4242b4;
}

.ModalContent {
	flow-children: down;
	margin-top: 130px;
	height: fit-children;
	vertical-align: top;
	horizontal-align: right;
	width: 50%;
	margin-right: 50px;

}

/* .IsLayoutSmallScreen .ModalContent {
	margin-left: 200px;
} */

#ModalText {
	width: 100%;
	flow-children: down;
	margin-left: 20px;
}

.CCDistrict {
	font-family: Early Bird;
	font-size: 40px;
	color: #ffffff60;
	text-transform: lowercase;
	horizontal-align: center;
	letter-spacing: 2px;
	margin-bottom: -10px;
}

.CCIntro {
	font-family: Early Bird;
	font-size: 90px;
	color: #ffffff;
	text-transform: lowercase;
	horizontal-align: center;
	letter-spacing: 2px;
}

.CCDesc {
	font-size: 30px;
	color: #ffffff90;
	horizontal-align: center;
	text-align: center;
	width: 1200px;
	margin-top: 20px;
}


.IsLayoutSmallScreen .CCDesc {
	font-size: 30px;
}

.CCDescTop {
	font-weight: semi-bold;
	color: #ffffff;
}

.CCNote {
	font-size: 20px;
	color: #ffffff60;
	horizontal-align: center;
	text-align: center;
	width: 1200px;
	margin-top: 20px;
}

#EquipSelectionButton
{
    height: 100%;
    width: 100%;
	margin-left: 24px;
	height: 58px;
	width: 400px;
	//height: 100px;
	background-color: #00000055;
	border: 2px solid #b7d5ffaa;
	box-shadow: inset 0px 0px 20px #4b5affcc;
	visibility: visible;

	transition-property: background-color;
	transition-duration: .2s;

}

.IsLayoutSmallScreen #EquipSelectionButton
{
	box-shadow: inset 0px 0px 10px #4b5affcc;
}

#EquipSelectionButton Label
{
	font-size: 32px;
	width: 156px;
	color: #8b91a6;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 0px;
	font-family: Ravenhook;
	color: #ffffff;
	letter-spacing: 2px;
	text-align: center;
}

#EquipSelectionButton:hover
{
	background-color: #253782;
}



.CCDescSkins {
	font-size: 24px;
	color: #ffffff;
	font-weight: semi-bold;
	horizontal-align: center;
	text-align: center;
	width: 1000px;
	margin-top: 20px;
	//font-family: Early Bird;
	//text-transform: lowercase;
}

.IsLayoutSmallScreen .CCDescSkins {
	font-size: 30px;
}

.UnderlordImg { 
	width: 600px;
	height: 800px;
	vertical-align: bottom;
	background-size: 100% 100%;
}

.hobgen .UnderlordImg.Hobgen
{
	background-image: url("s2r://panorama/images/challenge_map/underlords/rewards_hobgen_png.vtex");
	margin-right: 0px;
	horizontal-align: right;
	width: 1100px;
	height: 950px;
	margin-right: -150px;
}

.enno .UnderlordImg.Enno
{
	background-image: url("s2r://panorama/images/challenge_map/underlords/rewards_enno_png.vtex");
	margin-right: 0px;
	horizontal-align: right;
	width: 1100px;
	height: 950px;
	margin-right: -150px;
}

.jull .UnderlordImg.Jull
{
	background-image: url("s2r://panorama/images/challenge_map/underlords/rewards_jull_png.vtex");
	margin-right: 0px;
	horizontal-align: right;
	width: 1100px;
	height: 950px;
	margin-right: -150px;
}

.anessix .UnderlordImg.Anessix
{
	background-image: url("s2r://panorama/images/challenge_map/underlords/rewards_anessix_png.vtex");
	margin-right: 0px;
	horizontal-align: right;
	width: 1100px;
	height: 950px;
	margin-right: -150px;
}

.NodesLabel {
	font-family: Early Bird;
	font-size: 30px;
	color: #999999;
	letter-spacing: 3px;
	horizontal-align: center;
	margin-top: 50px;
	text-transform: lowercase;
}

#NodeTypes {
	flow-children: right;
	width: 60%;
	height: fit-children;
	horizontal-align: center;
}

.IsLayoutSmallScreen #NodeTypes {
	width: 70%;
}

.Node {
	flow-children: down;
	width: fill-parent-flow( 0.25 );
	margin: 10px;
}

.NodeImg {
	width: 150px;
	height: 150px;
	horizontal-align: center;
}

.NodeImg.ObjectiveNode {
	background-image: url("s2r://panorama/images/citycrawl/another_icon_png.vtex");
	background-size: 100% 100%;
}

.NodeImg.PuzzleNode {
	background-image: url("s2r://panorama/images/citycrawl/challenge_icon_puzzle_easy_png.vtex");
	background-size: 100% 100%;
}

.NodeImg.BattlePassNode {
	background-image: url("s2r://panorama/images/citycrawl/challenge_icon_locked_png.vtex");
	background-size: 100% 100%;
}

.NodeImg.StreetFightNode {
	background-image: url("s2r://panorama/images/citycrawl/challenge_icon_street_fight_png.vtex");
	background-size: 100% 100%;
}

.NodeTitle {
	font-family: Early Bird;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	text-transform: lowercase;
	horizontal-align: center;
	margin-top: 10px;
	letter-spacing: 3px;
}

.NodeDesc {
	font-size: 20px;
	color: #999999;
	text-align: center;
}

.IsLayoutSmallScreen .NodeDesc {
	font-size: 24px;
}

#ClaimArea {
	width: 100%;
	//border: 1px solid red;
	height: 250px;
	overflow: noclip;
}

.IsLayoutSmallScreen #ClaimArea {
	horizontal-align: center;
}

.CCButton {
	background-image: url("s2r://panorama/images/ui/splash_btn_white_bg_psd.vtex");
	background-size: 100% 100%;
	width: 900px;
	height: 380px;
	opacity: 0.9;
	transition-property: opacity, ui-scale;
	transition-duration: 0.2s;
	horizontal-align: left;
	vertical-align: top;
	horizontal-align: center;

	//border: 1px solid blue;
}



.CCButton Label {
	font-family: Ravenhook;
	font-size: 90px;
	letter-spacing: 2px;
	color: #000000;
	transform: rotateZ(-1deg);

	margin-top: 90px;
	width: 620px;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
	height: 100px;
	//border: 1px solid green;
}

.RewardLabel {
	font-family: Ravenhook;
	color: #000000;
	font-size: 20px;
	letter-spacing: 1px;
	background-color: #ffffff;
	padding: 0px 4px 1px 6px;
	max-width: 300px;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
}

.OutfitLabel {
	horizontal-align: right;
	margin-top: 150px;
	margin-right: 50px;
}

.PosterLabel {
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 100px;
	margin-right: 280px;
}



/* .IsLayoutSmallScreen .CCButton {
	width: 100%;
	height: 400px;
}

.IsLayoutSmallScreen .CCButton Label {
	font-size: 130px;
	margin-top: 65px;
} */

.CCButton:hover {
	opacity: 1;
}

#ClaimRewardParticle {
	width: 100%;
	height: 400px;
	vertical-align: top;
	visibility: visible;
	margin-top: -50px;
	margin-left: -50px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ClaimRewardParticle {
	margin-left: -120px;
}