.PopupPanel
{
	width: 1900px;
	//max-width: 1600px;
	horizontal-align: center;
	height: 960px;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	border: 0px solid white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right bottom;
	
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	img-shadow: 0px 0px 200px #000000;

	flow-children: none;
	
	overflow: noclip;
}

.IsLayoutLargeScreen .PopupPanel
{
	ui-scale: 80%;
}

.IsLayoutSmallScreen.AspectRatio16x9 .PopupPanel
{
	ui-scale: 92%;
}

.IsLayoutSmallScreen.AspectRatio4x3 .PopupPanel
{
	ui-scale: 92%;
}

.IsLayoutSmallScreen PopupBattlePassS1Intro
{
	max-width: 2200px;
}

#Title
{
	margin-left: -80px;
	margin-top: 40px;

	transform: rotateZ(-5deg);

	width: fit-children;
	height: fit-children;
	flow-children: right;
}

#Title #CurrentLevel
{
	ui-scale: 160%;
}

#Title #TitleText
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

#TitleText
{
	margin-top: 14px;
	margin-left: -20px;
}

#Title #BattlePassTitle 
{
	font-family: Ravenhook;
	font-size: 60px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f9f3e5 ), color-stop( 0.33, #f9f3e5), color-stop( 0.33, #eddcb7), color-stop( 0.93, #b08d50), color-stop( 0.97, #b4712d),  to( #b4712d) );
	text-align: left;
	horizontal-align: left;
	text-shadow: 1px 1px 0px 2.0 black;
}

#Title #SeasonOneTitle
{
	font-family: Ravenhook;
	font-size: 90px;
	margin-top: -22px;
	text-shadow: 1px 1px 0px 2.0 black;
	color: #ffffff;
}

.Body
{
	width: 1600px;
	height: 800px;
	horizontal-align: center;
	vertical-align: middle;
	//flow-children: down;
	padding: 30px;
	background-color: #111111;
}

.CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 95px;
	height: 95px;
	background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: .4;
	wash-color: transparent;
	margin-right: 22px;
	margin-top: 20px;
}

.CloseButton:hover
{
	opacity: 1;
}
.CloseButton:active
{
	opacity: 1.5;
}

.BattlePassTitle {
	font-family: Ravenhook;
	font-size: 100px;
	color: #ffffff;
	text-transform: lowercase;
	horizontal-align: left;

}

.SeasonOneTitle {

	font-family: Ravenhook;
	margin-top: 80px;
	font-size: 30px;
	color: gradient (linear, 0% 0%, 0% 100%, from(#eddcb7), to(#b08d50));
	horizontal-align: left;
	text-align: center;
	width: 1000px;
}

.PageText
{
	font-family: Ravenhook;
	//margin-top: 80px;
	margin-bottom: 140px;
	font-size: 32px;
	color: #ffffff;
	horizontal-align: left;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	width: 1000px;
	
	text-transform: none;
	font-weight: medium;
	letter-spacing: 0px;
	color: #ffffff88;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eddcb7 ), to( #d5b172));
	width: 800px;
	text-align: center;
	text-shadow: 1px 1px 0px 2.0 black;
}

#Page2 .PageText
{
	width: 1200px;
}

#Page3 .PageText
{
	width: 1400px;
}

#InnerCarouselNav
{
	height: 20%;
	width: 80%;
	horizontal-align: center;
	vertical-align: bottom;
}

//contents
#Page1.BattlePassIntroCarouselItem,
#Page2.BattlePassIntroCarouselItem,
#Page3.BattlePassIntroCarouselItem
{
	width: 100%;
	height: 100%;
	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.5s;
}

#Page1.BattlePassIntroCarouselItem.Selected,
#Page2.BattlePassIntroCarouselItem.Selected,
#Page3.BattlePassIntroCarouselItem.Selected
{
	opacity: 1;
}

#CarouselContent
{
 	width: 100%;
 	height: 100%;
}

PopupBattlePassS1Intro #Page1
{
	background-color: black;
	border-top: 4px solid #50505055;
	border-right: 4px solid #35314755;
	border-bottom: 4px solid #2e2a4955;
	border-left: 4px solid #35363755;

	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/first_time_pop_up_backer_psd.vtex"); 
}

PopupBattlePassS1Intro #Page2
{
	background-color: black;
	border-top: 4px solid #50505055;
	border-right: 4px solid #35314755;
	border-bottom: 4px solid #2e2a4955;
	border-left: 4px solid #35363755;

	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/first_time_pop_up_backer_page2_psd.vtex"); 
}

PopupBattlePassS1Intro #Page3
{
	background-color: black;
	border-top: 4px solid #50505055;
	border-right: 4px solid #35314755;
	border-bottom: 4px solid #2e2a4955;
	border-left: 4px solid #35363755;

	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/first_time_pop_up_backer_page3_psd.vtex"); 
}

PopupBattlePassS1Intro CarouselNav
{
	flow-children: none;
}

#ItemPips
{

	flow-children: right;
	width: fit-children;
	height: fit-children;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 50px;

	//background-color: #111111;
}

.ItemPip
{
	margin:15px;
	width: 20px;
	height:  20px;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.5;
	border-radius: 50%;
	background-color: #616474dd;
}

.ItemPip.Selected
{
	opacity: 1;
	background-color: #ffffff;	
}

/* Styling for .OnlyPips, which just shows the pips themselves but is otherwise normal*/
.OnlyPips #PreviousItemButton, .OnlyPips #NextItemButton
{
	visibility: collapse;
}

#CarouselNav
{
	width: 100%;
	height: 20%;
	vertical-align: bottom;
	horizontal-align: center;
}

.SelectedPage1 .PaginationArrow.Left
{
	//opacity: .1;
}

.PaginationArrow
{
	brightness: .8;
	transition-property: brightness;
	transition-duration: .2s;
}

.PaginationArrow:hover
{
	brightness: 1.4;
}

.PaginationArrow.Left
{
	vertical-align: bottom;
	horizontal-align: left;
	height: 92px;
	width: 92px;
	background-image: url("s2r://panorama/images/hud/forward_arrow_single_psd.vtex");
    //background-position: right 60px 50%;
	transform: scaleX( -1 );
	background-size: 100%;
    background-repeat: no-repeat;
	margin-bottom: 30px;
	margin-left: 720px;
}

.PaginationArrow.Right
{
	vertical-align: bottom;
	horizontal-align: right;
	height: 92px;
	width: 92px;
	background-image: url("s2r://panorama/images/hud/forward_arrow_single_psd.vtex");
    //background-position: right 60px 50%;
	background-size: 100%;
    background-repeat: no-repeat;
	margin-bottom: 30px;
	margin-right: 720px;
} 