PopupLookingForMatch
{
    width: 900px;
    height: fit-children;
    horizontal-align: center;
    vertical-align: center;
    //flow-children: down;
    sound: "DCG_Progression.Ranked_Tier_01";
}

.IsPlatformPC PopupLookingForMatch
{
    ui-scale: 80%;
}


PopupLookingForMatch .PopupPanel
{
    //background-color: none;
    //border: 0px;
}

PopupLookingForMatch #ContinueButton
{
    horizontal-align: right;
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 100%;
    //height: 312px;
    height: 300px;
    flow-children: down;
}

.Title
{
    text-overflow: shrink;
    font-weight: black;
    letter-spacing: 4px;
    vertical-align: center;
    horizontal-align: center;
    color: #ffffff;
    text-transform: uppercase;

    margin-top: 32px;
    horizontal-align: center;
    //color: uiLightGrey;
    font-size: 48px;
    //font-weight: light;
}

.Spinner
{
    width: 48px;
    height: 48px;
    margin-top: 46px;
    margin-left: 10px;

    background-image: url("s2r://panorama/images/dashboard/loading_dots1_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    animation-name: MoreDots;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'MoreDots'
{
    0%
    {
        transform: rotateZ( 360deg );
    }
    50%
    {
        transform: rotateZ( 180deg );
    }
    100%
    {
        transform: rotateZ( 0deg );
    }
}

#DescAndSpinner 
{
    margin-top: 40px;
    flow-children: right;
    height: 120px;
    width: fit-children;
    horizontal-align: center;
}

#DevMMCount
{
    horizontal-align: left;
    margin-top: 0px;
    font-size: 24px;
    margin-left: 20px;
}

#ContinueButton
{
    horizontal-align: right;
}

.CanForceMatch #ForceMatch,
.CanForceMatch #DevMMCount
{
    visibility: visible;
}

#ForceMatch,
#DevMMCount
{
    visibility: collapse;
}

.TempButton
{
    border: 1px solid red;
    background-color: black;
    width: 150px;
    height: 80px;
    //padding: 0 3px;
    margin: 0px;
    flow-children: down;
    horizontal-align: left;
    margin-left: 20px;
}

.TempButton Label
{
    font-size: 21px;
    horizontal-align: center;
    vertical-align: center;
}

.TempButton:hover
{
    background-color: #444;
}
