PopupSteamLogin
{
    width: 1400px;
    height: 500px;
    horizontal-align:center;
    vertical-align: top;
    margin-top: 32px;
    sound: "DCG_Progression.Ranked_Tier_01";
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 100%;
    height: 100%;
    flow-children: Right;
}

.LoginContainer
{
    width: 50%;
    height: 100%;
    padding: 16px;
    flow-children: down;
}

.AttemptingLogin .LoginContainer
{
    visibility: collapse;
}

#SteamLogo
{
    width: 64px;
    height: 64px;
    background-image: url("s2r://panorama/images/dashboard/steam_logo_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    visibility: collapse;
}

#LoginTitle
{
    margin-top: 16px;
    horizontal-align: left;
    color: uiLightGrey;
    font-size: 32px;
    font-weight: light;
    visibility: collapse;
}

#CreateAccountButton 
{
    vertical-align: bottom;
    horizontal-align: center;
}

#LogInDataEntryContainer
{
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 2px solid #5e686966;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #bec5da ), color-stop( 0.005, #aeb6cc ), color-stop( .5, #8189a1 ), to( #6d768f ) );
    flow-children: down;
}

.NeedsSteamGuard #SteamRememberCredentials,
.NeedsSteamGuard #SteamIDEntry,
.NeedsSteamGuard #SteamPasswordEntry,
{
    visibility: collapse;
}

#SteamGuardEntry 
{
    text-transform: uppercase;
}

.NeedsSteamGuard #SteamGuardEntry
{
    visibility: visible;
}

.SettingsTextEntryUserName
{
    font-size: 30px;
    width: 100%;
    height: 60px;
    border: 2px solid #5e686966;
    padding-top: 10px;
}

.SettingsTextEntryPassword
{
    font-size: 24px;
    width: 100%;
    height: 60px;
    border: 2px solid #5e686966;
    padding-top: 10px;
}

.SettingTitle
{
    font-size: 28px;
    margin-top: 8px;
    color: #1e212d;
    text-transform: uppercase;
}

#SteamGuardEntry
{
    visibility: collapse;
}

.LoginFailed .LogInDataEntry
{
    border: 2px solid red;
}

#LogInButtonContainer
{
    width: 100%;
    height: fit-children;
    flow-children: down;
    vertical-align: bottom;
}

.LoginButton 
{
    width: 100%;
    margin-bottom: 16px;
}

.LogInDataEntry
{
    width: 100%;
    height: fit-children;
    flow-children: down;
}

#SteamRememberCredentials
{
    margin-top: 8px;
    visibility: collapse;
}

#CancelButton
{
    margin-bottom: 0px;
}

#PasswordTitle
{
    width: 100%;
    flow-children: right;
}

#ViewPasswordIcon
{
    horizontal-align: right;
    width: 48px;
    height: 48px;
    vertical-align: center;
    background-image: url("s2r://panorama/images/dashboard/eye_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#SteamGuardTextEntry
{
    text-transform: uppercase;
}

.ConnectingContainer
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

#ConnectingDesc
{
    margin-top: 33%;
    margin-right: 200px;
    horizontal-align: right;
    flow-children: left;
}

.AttemptingLogin .ConnectingContainer
{
    visibility: visible;
}

#ConnectingLabel
{
    font-size: 80px;
    color: uiLightGrey;
}

#LogoThrobber
{
    width: 128px;
    height: 128px;
    margin-left: 32px;
    background-image: url("s2r://panorama/images/dashboard/steam_throbber_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    animation-name: Throbber;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'Throbber'
{
    0%
    {
        transform: rotateZ( 360deg );
    }

    50%
    {
        transform: rotateZ( 180deg );
    }

    100%
    {
        transform: rotateZ( 0deg );
    }
}

#CancelLoginButton
{
    width: 50%;
    height: 20%;
    vertical-align: bottom;
    horizontal-align: center;
}