@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

.IsLayoutLargeScreen .PopupPanel.SwitchHeroes,
.IsLayoutLargeScreen .PopupPanel.SwitchSynergies,
.IsLayoutLargeScreen .PopupPanel.SwitchItems,
.IsLayoutLargeScreen .PopupPanel.SwitchCreeps,
.IsLayoutLargeScreen .PopupPanel.SwitchHowToPlay,
.IsLayoutLargeScreen .PopupPanel.SwitchSeason
{
    ui-scale: 80%;
    width: 80%;
    height: 100%;
    margin: 10%;
}

.PopupPanel {
    width: 100%;
    height: 100%;
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );*/
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000fc ), color-stop( 0.3, #191919fc ), color-stop( 0.7, #191919fc ), to( #000000fc ) );
}

.FlowRight {
    flow-children: right;
}

.Header {
    padding-left: 5%;
    padding-right: 5%;
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000060 ), to( #000 ) );*/
    width: 100%;
    height: 100px;
    flow-children: right;
    height: fit-children;
}


#SeasonInfo {
    color: #000000;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 40px;
    background-color: white;
    transform: rotateZ(-3deg);
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 2px;
    padding: 14px;
    box-shadow: 0px 0px 3px #ffffff;
    overflow: clip scroll;
}

.Header Label {
    color: blue;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: black;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    overflow: clip scroll;
}



.Header .CloseButton {
    horizontal-align: right;
    vertical-align: middle;
    width: 74px;
    height: 74px;
    background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: opacity;
    transition-duration: 0.1s;
    opacity: 1.0;
    wash-color: transparent;
}



.Header .CloseButton {

}

.Header .CloseButton:hover
{
	opacity: 2.0;
}

.Header .CloseButton:active
{
    opacity: 1.5;
}


.Body {
    width: 100%;
    height: 100%;

    /*flow-children: down;*/
}

    .Body Label
    {
	    color: white;
	    font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

        .Body .Filters Label {
            text-transform: uppercase;
            font-weight: bold;
            horizontal-align: right;
        }

        .Body .Filters .RightGap {
            margin-right: 100px;
            margin-left: 66%;
            margin-top: 26%;
            padding: 20px;
            background-color: #141919;
        }


        .Body .Filters .ResetButtonImage {
            width: 15px;
            height: 55px;
            vertical-align: middle;
            background-image: url("s2r://panorama/images/shop/reroll_button_psd.vtex");
            background-size: 100%;
        }

            .Body .Filters .ResetButton:hover {
                brightness: 1.5;
            }

            .Body .Filters .ResetButton:active {
                brightness: 2.0;
            }

#ToggleOwnedHeroes, {
    vertical-align: top;
    horizontal-align: right;
    visibility: collapse;
}


#ToggleOwnedItems {
    vertical-align: top;
    horizontal-align: right;
    visibility: collapse;
}



.SwitchHeroes #ToggleOwnedHeroes,
.SwitchItems #ToggleOwnedItems {
    visibility: visible;
}


.HeropediaHeroPanelContainer {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    /*overflow: clip scroll;*/
    /*flow-children: down;*/
}



#HeroPanel, #ItemPanel, #SynergyPanel, #CreepsPanel, #HowToPlayPanel, #SeasonPanel
{
    visibility: collapse;
}

.SwitchSynergies #SynergyPanel,
.SwitchHeroes #HeroPanel,
.SwitchItems #ItemPanel,
.SwitchCreeps #CreepsPanel,
.SwitchHowToPlay #HowToPlayPanel,
.SwitchSeason #SeasonPanel
{
    visibility: visible;
}

.TabList{
    height: fit-children;
    horizontal-align: middle;
    vertical-align: center;
    flow-children: right;
    padding: 2px;
    margin-left: 30px;
}

.TabList Button {
    height: 80px;
    width: 220px;
    padding: 5px 0px 15px 20px;
    background-size: 100% 100%;
    background-color: #181818;
    /*background-color: gradient(linear, 100% 100%, 0% 10%, from( #a15216aa ), color-stop( 0.125, #995b17aa ), color-stop( 0.4, #ae7d17aa ), color-stop( 0.85, #a24c15aa ), to( #ae7d17aa ));*/
    brightness: 1;
}

    .TabList Button:hover {
        background-color: #79480e;
    }

.TabList Label {
    color: #fff;
    vertical-align: middle;
    horizontal-align: center;
    font-size: 26px;
    font-weight: semi-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;
    brightness: .7;
    text-overflow: shrink;
    overflow: squish;
    text-shadow: none;
}

.SwitchSynergies #SynergyTabButton,
.SwitchHeroes #HeroTabButton,
.SwitchItems #ItemTabButton,
.SwitchCreeps #CreepsTabButton,
.SwitchHowToPlay #HowToPlayTabButton,
.SwitchSeason #SeasonTabButton
{
    background-color: #d07c18;
    box-shadow: fill #00000050 0px 0px 10px 8px;
    brightness: 1;
}

    .SwitchSynergies #SynergyTabButton Label,
    .SwitchHeroes #HeroTabButton Label,
    .SwitchItems #ItemTabButton Label, 
    .SwitchCreeps #CreepsTabButton Label{
        brightness: 1;
    }