.PopupPanel {
    width: 800px;
    height: 520px;
    padding-top: 16px;
    flow-children: down;
}

#RewardContainer {
    width: 100%;
    flow-children: down;
}

.RewardLabel {
    horizontal-align: center;
    font-size: 30px;
    color: white;
}

#ReasonGroup {
    margin-top: 20px;
    width: 100%;
    flow-children: down;
    visibility: collapse;
}

.HasReason #ReasonGroup {
    visibility: visible;
}

.ReasonHeader {
    color: white;
    font-size: 30px;
    horizontal-align: center;
}

.ReasonBody {
    color: white;
    font-size: 24px;
    horizontal-align: center;
}

.PopupButtonRow {
    width: fit-children;
    horizontal-align: center;
}

.CreditReward {
    horizontal-align: center;
}
