PopupSelectMatchType
{
	width: 100%;
	height: 100%;
	horizontal-align:center;
	vertical-align: center;
	sound: "DCG_Progression.Ranked_Tier_01";
}

.PopupPanel {
	background-color: none;
	border: 0px;
	width: 100%;
	height: 100%;
	flow-children: none;
}

#EffectsPanel
{
	width: 100%;
	height: 100%;
}

.Contents
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: center;
}

.Title
{
	margin-top: 20px;
	horizontal-align: center;
	color: uiLightGrey;
	font-size: 80px;
	font-weight: black;
	color: black;
	text-transform: uppercase;
	transform: rotatez(-2deg);
	background-color: #ffffff;
	padding: 0px 30px 0px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 3px #ffffff;
}

.SubTitle
{
	horizontal-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	transform: rotatez(-2deg);
	background-color: #000000;
	padding: 0px 30px;
	letter-spacing: 2px;
	margin-top: -38px;
	box-shadow: 0px 0px 3px #000000;
}

#MatchTypeContainer
{
	margin-top: 50px;
	width: fit-children;
	//height: fit-children;
	height: 330px;
	flow-children: right;
	horizontal-align: center;
}

.MatchTypePanel
{
	width: 300px;
	height: 100%;
	margin: 0px 30px;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000ff ), to( #0000b6 ) );
	flow-children: down;
	transition-property: brightness;
	transition-duration: .2s;
	overflow: noclip;
	margin-bottom: -40px;
	padding-bottom: -40px;

}

.MatchTypeImage:hover
{
	brightness:1.8;
}

/*.MatchTypePanel:hover .MatchTypeImage {*/
	/*ui-scale: 108%;*/
/*}*/

.MatchTypeImage
{
	margin-top: 15px;
	width: 250px;
	height: 250px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;
    transition-property: brightness;
    transition-duration: .2s;
}

.MatchName
{
	horizontal-align: center;
	color: white;
	background-color: black;
	font-size: 32px;
	margin-top: 10px;
	transform: translateY(-20px);
	letter-spacing: 3px;
	font-weight: black;
	padding: 0px 30px;
	box-shadow: 0px 0px 3px #000000;
	text-overflow: shrink;
	//color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
	text-transform: uppercase;
	text-align: center;
	min-height: 80px;
	/*text-shadow: 0px 0px 0px 2 black;*/
}

.ComingSoonViolator
{
	height: fit-children;
	height: 140px;
	width: 100%;
	vertical-align: center;
}

.MatchViolator
{
	horizontal-align: center;
	vertical-align: center;
	color: white;
	background-color: #c60505;
	width: 100%;
	font-size: 32px;
	margin-top: 10px;
	letter-spacing: 3px;
	font-weight: black;
	padding: 0px 15px;
	text-align:center;
	text-overflow: shrink;
	//color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
	text-transform: uppercase;
	transform: rotateZ(2deg);
	box-shadow: 0px 0px 2px #c60505;
	/*text-shadow: 0px 0px 0px 2 black;*/
}

.TutorialLabel {
	transform: rotateZ(4deg) translateY(-50px);
}

.BotsLabel {
	transform: rotateZ(-3deg) translateY(-50px);
}

.MultiplayerLabel {
	transform: rotateZ(-4deg) translateY(-50px);
}

#Ranked .MultiplayerLabel {
	transform: rotateZ(2deg) translateY(-50px);
}

#Tutorial:hover
{
	//brightness: 1;
}


.ModeSelectCancelButton
{
	width: 300px;
	height: 80px;
}



#Casual .MatchTypeImage{ background-image: url("s2r://panorama/images/hud/selectmode_multiplayer_psd.vtex"); }
#Ranked .MatchTypeImage{ background-image: url("s2r://panorama/images/hud/selectmode_ranked_locked_psd.vtex"); }
#Bots .MatchTypeImage{ background-image: url("s2r://panorama/images/hud/selectmode_botmatch_psd.vtex"); }
#Tutorial .MatchTypeImage{ background-image: url("s2r://panorama/images/hud/selectmode_tutorial_psd.vtex"); }

.RankedIsLocked #Ranked .MatchTypeImage
{
	background-image: url("s2r://panorama/images/hud/selectmode_ranked_locked_psd.vtex");
    saturation: .5;
    opacity: .3;
}

.RankedIsLocked #Ranked .MatchTypeImage:hover
{
    brightness: 1;
}


#RankedLockedLabel
{
	visibility: collapse;
	color: #8588a0;
	text-transform: uppercase;
	font-weight: black;
	font-size: 28px;
	text-align: center;
	horizontal-align: center;
	margin-top: 4px;
	width: 330px;
	line-height: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.RankedIsLocked #RankedLockedLabel
{
	visibility: visible;
}

.NotConnectedToGC .Multiplayer .MatchTypeImage,
{
	brightness: .2;
}

.NotConnectedToGC .Multiplayer .MatchName.MultiplayerLabel
{
	opacity: .2;
}

#ContinueButton
{
	horizontal-align: center;
	border: 2px solid #555555;
	background-color: #111111;
	background-image: none;
}

#ContinueButton Label {
	horizontal-align: center;
	font-size: 32px;
	//margin-bottom: 4px;
	font-weight: black;
}
