.PopupPanel {
    width: 900px;
    height: 1050px;
    vertical-align: middle;
    padding: 0px;
    background-color: #262626;
    //border: 0px solid #000000;
    flow-children: none;
}

.IsLayoutSmallScreen .PopupPanel {
    ui-scale: 110%;
}

.AspectRatio4x3 .PopupPanel {
    ui-scale: 120%;
}

.GameLogo {
    width: 320px;
    background-image: url("s2r://panorama/images/dashboard/underlords_logo_psd.vtex");
    height: 70px;
    background-size: 100%;
    horizontal-align: center;
    transform: rotateZ(-3deg);
    margin-top: 30px;
}

#PopupImage {
    width: 800px;
    height: 450px;
    margin-bottom: 0px;
    background-image: url("s2r://panorama/images/promo/popups/hero_rotation_update_psd.vtex");
    background-size: contain;
    horizontal-align: center;
    //margin-top: 170px;
    margin-top: 310px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #PopupImage
{
    margin-top: 265px;	
}

.ButtonContainer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.SimpleButton {
    margin-left: 10px;
    margin-right: 10px;

    transform: rotateZ(0deg);
    box-shadow: 0px 0px 0px #00000000;
    background-color: grey;
    border: 0px solid #00000000;
}

.SimpleButton Label
{
	color: black;
	text-shadow: 0px 0px 0px 0.0 black;
}

Button {
    horizontal-align: center;
    border: 1px solid #999999;
    padding: 15px 30px;
    color: #ffffff;
    font-weight: semi-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    background-color: #222222ee;
    box-shadow: 0px 0px 3px #999999;
    transition-property: background-color, color;
    transition-duration: .2s;
    transform: rotateZ(-3deg);
}

    Button:hover {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        box-shadow: 0px 0px 3px #ffffff;
        color: #000000;
    }

.FeatureList {
    flow-children: right-wrap;
    width: 100%;
    horizontal-align: center;
    flow-children: down;
    margin-top: 725px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 35px;
    background-image: url("s2r://panorama/images/dashboard/city_crawl_bg_psd.vtex");
    background-size: 100%;
}

.IsLayoutSmallScreen.AspectRatio21x9 .FeatureList {
	margin-top: 650px;
}

.FeatureRow {
    width: fit-children;
    horizontal-align: center;
    flow-children: right;
}

.FeatureLabel {
    margin: 5px;
    background-color: #00000055;
		box-shadow: 0px 0px 0px #00000000;
}

.Title {
    transform: rotateZ(3deg);
    horizontal-align: center;
    text-align: center;
    margin-top: 55px;
    padding: 75px;
    z-index: 100;
    background-image: url("s2r://panorama/images/dashboard/fight_btn_bg_psd.vtex");
    background-size: 100%;
    background-color: #00000000;
		box-shadow: 0px 0px 0px #00000000;
		font-size: 80px;
}

.IsLayoutSmallScreen.AspectRatio21x9 .Title {
	
	transform: scaleX(.85) scaleY(.85);
	margin-top: 35px;
	
}