//@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

PopupBattlepassProgress 
{
}

PopupBattlepassProgress Label
{
	font-family: Radiance;
	font-weight: black;    
	text-transform: uppercase;

	color: white;
}

#Body
{
	width: 1860px;
	height: 1020px;

	// have to counter-scale the popup for now since the rewardline
	//  won't scroll properly otherwise
	ui-scale: 125%;
}

.AspectRatio4x3 #Body
{
	width: 2100px;
	height: 1500px;
	ui-scale: 100%;
}

.IsLayoutSmallScreen.AspectRatio16x9 #Body
{
	// inverse of default popup scale
	ui-scale: 108.7%;
}

.IsLayoutSmallScreen.AspectRatio21x9 #Body
{
	width: 2200px;
	ui-scale: 96%;
}

.IsLayoutLargeScreen.AspectRatio21x9 #Body
{
	width: 2450px;
	ui-scale: 126%;
}

#BattlepassRewardLine
{
	width: 100%;
	height: 100%;
}

#ContinueButton
{
	margin-top: 50px;
	margin-right: 50px;
	height: 72px;
	width: 72px;
	align: right top;
	background-image: url("s2r://panorama/images/hud/round_exit_button_psd.vtex");	
	background-size: 70px 70px;
	background-position: 100%;
	background-repeat: no-repeat;
	border: 0px;
	overflow: noclip;
	opacity: .5;
	transition-property: opacity;
	transition-duration: .2s;
}

#ContinueButton:hover 
{
	background-color: none;
	brightness: 1.2; 
	opacity: 1;
}
