PopupPlayPageSeasonInfo
{
    width: 100%;
    height: 100%;
    sound: "DAC_UI.MainMenu_Difficulty_PopUp";
}

.PopupPanel {
	border: 0px;
	width: 100%;
	height: 100%;
	flow-children: none;
	padding: 0px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1b2229aa ), to( #0e1215aa ) );
}

#PopupFog
{
	width: 100%;
	height: 100%;
}

#PreMatchContainer #BackButton
{
	visibility: visible;
	margin: 0px 16px 0px 0px;
}

.IsLayoutLargeScreen .PopupPanel
{
	ui-scale: 100%;
}

.Contents
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.IsLayoutSmallScreen .Contents
{
	ui-scale: 104%;
	margin-top: 0px;
}

.AspectRatio21x9.IsLayoutSmallScreen .Contents
{
	ui-scale: 108%;
	margin-top: 20px;
}


.AspectRatio4x3 .Contents
{
	ui-scale: 110%;
	margin-top: 220px;
}

#MainContainer
{
	width: 584px;
	height: 740px;
	flow-children: right;
	//background-color: gradient(linear, 70% 0%, 0% 0%, from( #5126AB22 ), to(#0f1518));
	//background-color: gradient( radial, 50% 0%, 0% 0%, 75% 65%, from( #c8771855), to( #c8771800 ) );
	background-color: #0f1517;
	background-size: 100%;
	transition-property: background-image;
	transition-duration: 0.1s;
}

#PreMatchContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
}

.TitleContainer
{
	flow-children: right;
	margin-bottom: 12px;
}

.PreMatchDetailsTitle
{
	color: textDefault;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: black;
	visibility: collapse;
	vertical-align: center;
}

#LeftContainer
{
	width: 740px;
	height: 100%;
	padding-top: 32px;
	padding-left: 32px;
	background-image: url("s2r://panorama/images/dashboard/bg_play_dialog_psd.vtex");
}

#BattlePassContainer,
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	flow-children: down;
}

#BattlePassOverview #QuestItemContainer
{
	visibility: visible;
}

#Footer
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

#RankContainer
{
	width: fit-children;
	margin-top:8px;
}

#ForegroundContainer #RankIcon
{
	ui-scale: 90%;
	margin-left: 0px;
	horizontal-align: left;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer #RankIcon
{
	margin-left: safe-area-inset-left;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer .RankHoverContainer
{
	margin-left: safe-area-inset-left;
}


#SeasonProgressContainer
{
	vertical-align: middle;
	horizontal-align: right;
	flow-children: down;
}

#ForegroundContainer #RankContainer
{
	width: fit-children;
	height: 250px;
	brightness: 1.0;
	vertical-align: top;
	horizontal-align: left;
	visibility: collapse;
	padding: 4px 30px 4px 100px;
	transition-property: brightness;
	transition-duration: .2s;
	background-image: url("s2r://panorama/images/dashboard/main_nav_profile_psd.vtex");
	background-repeat: no-repeat;
	background-position: 100% 17%;
	background-size: contain;
}


DACRankIcon
{
	vertical-align: middle;
}

.RankHoverContainer
{
	flow-children: down;
	padding-left: 120px;
	margin-top: 64px;
}

/* Center heavy icons */
.MajorRank1 #RankIcon,
.MajorRank2 #RankIcon,
.MajorRank3 #RankIcon,
.MajorRank4 #RankIcon,
.MajorRank5 #RankIcon,
.MajorRank6 #RankIcon,
{
	margin-top: 0px;
}

.MajorRank7 #RankIcon
{
	margin-top: -15px;
}

.MajorRank8 #RankIcon
{
	margin-top: -16px;
}

.MajorRank9 #RankIcon
{
	margin-top: -24px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer #RankContainer
{
	padding-left: safe-area-inset-left;
}


#ForegroundContainer #RankNumeral
{
	visibility: collapse;
}

.NameContainer
{
	flow-children: down;
	vertical-align: top;
	width: fit-children;
}

#PlayerName
{
	color: textBrighter;
	font-size: 26px;
	margin-top: 8px;
	font-weight: black;
}

#PlayerRank
{
	font-size: 24px;
	text-transform: uppercase;
	margin-top: -1px;
	color: textDefault;
}

#PlayerRankScore
{
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	color: textBrighter;
	margin-top: 16px;
	text-transform: uppercase;
}

.PlayerRankScoreContainer
{
	width: 300px;
	vertical-align: center;
}

.RankPoints
{
	font-size: 24px;
	text-transform: uppercase;
}

.MajorRank9 #PlayerRankProgressBar
{
	visibility: collapse;
}

#PlayerLeaderboardPosition
{
	visibility: collapse;
	font-size: 24px;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	font-weight: black;
	text-transform: uppercase;
	margin-top: 0px;
	letter-spacing: 1px;
	color: gradient( linear, 80% 100%, 0% 0%, from( #f8cc33 ), to( #f8ad33 ) );
}

.MajorRank9 #PlayerLeaderboardPosition
{
	visibility: visible;
}

.MajorRank9 #PlayerRank
{
	visibility: collapse;
}


#Header
{
	width: 100%;
	height: fit-children;
}

#MiniJail
{
	margin-top: 14px;
}