/* styles for the generic popup */


.PopupPanel
{

    //background-color: #000000ee;
    //background-color: #222222ee;

    background-repeat: no-repeat;

	//min-height:300px;
	animation-name: none;
	padding: 24px 0px 16px 0px;
	border: 0px;
	background-color: none;
}


.IsPlatformPC .PopupPanel
{
	ui-scale: 80%;
}

.EGameState_Intro #TutorialPopup
{
	//background-color: red;
	width: 1950px;
	flow-children: none;
	vertical-align: bottom;
	horizontal-align: center;
	//margin-right: 150px;
	ui-scale: 70%;
}

.EGameState_Intro #DynamicPopupContainer
{
	//border-top: 4px solid #505050aa; 
    //border-right: 4px solid #353147aa;
    //border-bottom: 4px solid #2e2a49aa;
    //border-left: 4px solid #353637aa;
    //background-image: url("s2r://panorama/images/dashboard/glass-texture-2_png.vtex");
	background-image: url("s2r://panorama/images/tutorial/old_paper_png.vtex");
    background-size: 100%;
    //brightness: 1.5;
    padding: 100px 50px;
	//background-color: #111111ee;
	//background-color: #bbae84;
	margin-bottom: 200px;
	margin-left: 750px;
	width: 800px;
	transform: rotateZ( 5deg );	
	horizontal-align: center;
}


.HeroTutorialImage
{
	background-image: url("s2r://panorama/images/tutorial/tutorial_intro_note_png.vtex");
	horizontal-align: left;
	vertical-align: bottom;
	margin-left: 150px;
	width: 914px;
	height: 833px;
	margin-bottom: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	//visibility: collapse;
}

.Confirmation 
{
	margin-top: 9px;
	horizontal-align: center;
	flow-children: down;
}

.Confirmation Label
{
	horizontal-align: center;
}

#ConfirmationText
{
	horizontal-align: center;
	margin-top: 10px;
}

.MessagePanel
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	height: fit-children;
	//padding-bottom: 20px;
}

#MessageLabel,
.MessageLabel
{
	color: uiStandardGrey;
	horizontal-align: center;
	vertical-align: center;
	text-align: left;
	//text-shadow: 1px 1px 2px 2.0 #00000055;
	margin-bottom: 16px;
	padding: 5px 50px;
	//color: #ddd;
	color: black;
	font-size: 36px;
	letter-spacing: 1px;
	font-weight: bold;
}

.MessageSignoff
{
	color: black;
	horizontal-align: right;
	text-align: right;
	margin-right: 80px;
	font-size: 36px;
	font-style: italic;
	letter-spacing: 1px;
	//font-weight: regular;
}


.Emphasis
{
	color: red;
}

.IsPlatformPC .MessageLabel.PCLabel,
.IsPlatformMobile .MessageLabel.MobileLabel
{
	visibility: visible;
}

.IsPlatformMobile .MessageLabel.PCLabel,
.IsPlatformPC .MessageLabel.MobileLabel
{
	visibility: collapse;
}


.MessageTitle
{
	//color: white;
	color: black;
	font-size: 64px;
	horizontal-align: left;
	font-weight: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
	//background-color: black;
	//padding: 5px 30px;
	margin-left: 50px;
}

.MessageLabel.PCLabel,
.MessageLabel.MobileLabel
{
	padding-left: 80px;
}


.PopupTitle
{
	margin-bottom: 16px;
	margin-top: 16px;
	font-size: 32px;

    text-overflow: shrink;
	font-weight: black;
	letter-spacing: 4px;
    vertical-align: center;
    horizontal-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.PopupButton Label
{
	//text-shadow: .5px .5px 2px 2.0 #00000055;
	//color: uiBrightGrey;
}

.PopupButton
{
	//box-shadow: #00000033 -3px -3px 6px 6px;
}

.WideMode #MessageLabel
{
	max-width: 700px;
}

.PopupPanel.EconItemIconEnabled #MessageLabel
{
	text-align: left;
}

#Spinner
{
	horizontal-align: center;
	visibility: collapse;
	margin-top: 10px;
}

#Spinner.SpinnerVisible
{
	visibility: visible;
}

.ImageContainer
{
	flow-children:down;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

#EconItemImage
{
	width: 80px;
	margin-right: 15px;
	visibility: collapse;
}

.PopupPanel.EconItemIconEnabled #EconItemImage
{
	visibility: visible;
}

#HeroImage
{
	width: 80px;
	margin-right: 15px;
	visibility: collapse;
}

 .PopupPanel.HeroIconEnabled #HeroImage
{
	visibility: visible;
}


.CriticalText
{
	color: #FF0000;
}

#ProgressBar
{
	horizontal-align: center;
	visibility: collapse;
	margin-top: 10px;
}

#ProgressBar.ProgressBarVisible
{
	visibility: visible;
}

@keyframes 'DelayedFadeOpacityIn'
{
	0%
	{
		opacity: 0.0;
	}

	80%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}


.DelayedButtons #ButtonContainer
{
	animation-name: DelayedFadeOpacityIn;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

#ButtonContainer
{
	horizontal-align:center;
	flow-children:right;
	vertical-align: middle;
}

.NoTitle #TitleLabel,
.NoMessage #MessageLabel
{
	visibility: collapse;
}


.NoTitle #MessageLabel
{
	margin-top: 12px;
}

.FeaturedDeckNameConfirm
{
	color: white;
}

.Hidden .PopupBlurBackgroundImage
{
	opacity: 0;
}

.PopupBlurBackgroundImage
{
	width: 100%;
	height: 100%;
	opacity: 0.5;
    //background-color: black;
	//blur: gaussian( 7 );
	transition-property: opacity;
	transition-duration: 0.5s;
}

.PopupBlurBackgroundOverlay
{
	width: 100%;
	height: 100%;
	//background-color: #5672;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #333742 ), color-stop( 0.015, #272b36 ), color-stop( .5, rgb(30, 33, 45) ), to( #252934 ) );
	
	transition-property: background-color, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.ButtonContainer
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	z-index: 99;
}