.PopupPanel
{
    width: 800px;
    height: 520px;
    padding-top: 16px;
}

.TeamGroup {
    margin-top: 35px;
    horizontal-align: center;
    flow-children: down;
}

.TeamRow {
    flow-children: right;
}

.TeamButton {
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 1px solid gray;
}

.PopupButtonRow {
    horizontal-align: center;
    width: fit-children;
}

#Team1 {    background-color: #0094ff;    }
#Team2 {    background-color: #ff94ff;    }
#Team3 {    background-color: #ff0000;    }
#Team4 {    background-color: #00ff00;    }
#Team5 {    background-color: #ff00ff;    }
#Team6 {    background-color: #00ffff;    }
#Team7 {    background-color: #ffff00;    }
#Team8 {    background-color: #ffffff;    }

