
.AddFriendPanel
{
    //padding: 30px;
    height: fit-children;
}

#AddFriendTitle
{
    visibility: collapse;
}

#FriendCodeEntry
{
    horizontal-align: center;
    height: 70px;
    width: 440px;
    font-size: 50px;
    color: #ffffff88;
    text-transform: uppercase;
    border-bottom: 4px solid #ffffff11;
    border-right: 4px solid #ffffff07;

}

#AddFriendButton
{
    margin-top: 20px;
    horizontal-align: center;
    width: 440px;
}

#CodeGen {
    width: 90%;
    //height: 100px;
    height: 100px;
    horizontal-align: center;
	flow-children: none;
}

.HasCodeDisplay #CodeGen
{
    height: 325px;
}

#GenerateCodeButton
{
    width: 440px;
    horizontal-align: center;
    margin-top: 20px;
}

#CodeCopyButton {
    width: 440px;
    horizontal-align: center;
    border-top: 4px solid #f8e0b6aa; 
    border-right: 4px solid #7a370faa;
    border-bottom: 4px solid #62290baa;
    border-left: 4px solid #f8d253cc;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #edb32b ), to( #f7c625 ) );
	height: 80px;
	margin-bottom: 16px;
	brightness: 0.8;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#CodeCopyButton:hover
{
	brightness: 1.2;
}

#CodeGenCode {
    horizontal-align: center;
    font-size: 45px;
}

#CodeGenCodeDisplay {
    visibility: collapse;
    width: 100%;
    height: 100%;
    margin-top: 72px;
    flow-children: down;
    //overflow: squish scroll;
}
.HasCodeDisplay #CodeGenCodeDisplay {
    visibility: visible;
}

#CodeGenCodeDisplayWaiting {
    visibility: collapse;
    width: 100%;
    height: 100%;
    flow-children: down;
    overflow: squish scroll;
}

.HasCodeWaiting #CodeGenCodeDisplayWaiting {
    visibility: visible;
}

#CodeGenCodeDisplayGen {
		opacity: 0;
    width: 100%;
    height: 100%;
    flow-children: down;
    overflow: squish scroll;
}

.HasCodeGen #CodeGenCodeDisplayGen {
		opacity: 1;
}

#CodeContainer {
    width: 100%;
    height: fit-children;
    flow-children: down;
    overflow: squish scroll;
    visibility: collapse;
}

.HasConnection #CodeContainer {
    visibility: visible;
}

#ConnectingContainer {
    visibility: visible;
}

.HasConnection #ConnectingContainer {
    visibility: collapse;
}


#CodeEnter {
    width: 90%;
    height: fit-children;
    padding-bottom: 40px;
    border-bottom: 2px solid #ffffff08;
    margin-bottom: 20px;
    //height: 400px;
    horizontal-align: center;
		flow-children: down;
}

#CodeEnterCodeDisplayWaiting {
    visibility: collapse;
}

.HasCodeEnterWaiting #CodeEnterCodeDisplayWaiting {
    visibility: visible;
}

.FriendCodeMainText {
    horizontal-align: center;
    color: white;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: semi-bold;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    text-transform: uppercase;
    text-shadow: 0px 0px 0px 2 black;
    //visibility: collapse;
    height: 50px;
    text-overflow: shrink;
}

.CodeGenTitle, .CodeGenTitleCopied
{
		visibility: collapse;
    margin-top: 20px;
}

.HasCodeDisplay .CodeGenTitle, .HasCodeDisplay.CodeCopied .CodeGenTitleCopied
{
	visibility: visible;
}

.HasCodeDisplay .CodeGenTitleCopied, .CodeCopied .CodeGenTitle
{
	visibility: collapse;
}

.FriendCodeText {
    horizontal-align: center;
    color: #ffffff;
    font-size: 50px;
    //margin-top: 10px;
    font-weight: semi-bold;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    text-transform: uppercase;
    text-shadow: 0px 0px 0px 2.5 black;
}

.FriendCodeTextSmaller {
    horizontal-align: center;
    color: #ffffff88;
    font-size: 28px;
    //margin-top: 10px;
    //font-weight: semi-bold;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    text-transform: uppercase;
    text-shadow: 0px 0px 0px 2 black;
}

.AddFriendPanel .PopupButtonRow
{
    background-color: none;
    margin: 0px 0px 30px 0px;
}

.AddFriendCloseButton,
#RevokeCodeButton
{
    horizontal-align: center;
    width: 440px;
    //height: 52px;
}

#RevokeCodeButton
{
    margin-top: 10px;
}

#ConnectingContainer {
    horizontal-align: center;
    flow-children: down;
}

#ConnectingLabel Label
{
    color: #ffffffaa;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: semi-bold;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    
}

#LogoThrobber {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    //margin-left: 32px;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/dashboard/steam_throbber_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    //animation-name: Throbber;
    transition-property: opacity;
    animation-name: Pulsing;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'Throbber'
{
    0%
    {
        transform: rotateZ( 360deg );
    }

    50%
    {
        transform: rotateZ( 180deg );
    }

    100%
    {
        transform: rotateZ( 0deg );
    }
}

@keyframes 'Pulsing'
{
    0%
    {
        opacity: 1;
    }

    50%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1;
    }
}