.IsLayoutLargeScreen PopupUnderlordAbility {
	ui-scale: 80%;
}

.IsLayoutSmallScreen PopupUnderlordAbility.PopupPanel {
	ui-scale: 150%;
}

PopupUnderlordAbility.PopupPanel {
	min-height: 0px;
	min-width: 0px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
	flow-children: none;
}

.CloseButton {
    horizontal-align: right;
    vertical-align: top;
    width: 72px;
    height: 72px;
    margin-right: 0px;
    background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: brightness;
    transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	brightness: 1.0;
}

.CloseButton:hover
{
	brightness: 1.7;
}

.CloseButton:active
{
	brightness: 1.7;
}

#Body
{
	padding: 25px;
	flow-children: right;
}
