PopupSteamLogin
{
    width: 1300px;
    height: 450px;
    //height: fit-children;
    horizontal-align:center;
    vertical-align: top;
    margin-top: 32px;
    sound: "DCG_Progression.Ranked_Tier_01";
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 100%;
    height: 100%;
    flow-children: Right;
}

.LoginContainer
{
    width: 65%;
    //width: fit-children;
    height: 100%;
    padding: 20px;
    flow-children: down;
}

.AttemptingLogin .LoginContainer
{
    visibility: collapse;
}

#LoginTitle
{
    margin-top: 16px;
    horizontal-align: left;
    color: uiLightGrey;
    font-size: 32px;
    font-weight: light;
    visibility: collapse;
}

#CreateAccountButton 
{
    vertical-align: bottom;
    horizontal-align: center;
}

#LogInDataEntryContainer
{
    width: 100%;
    height: fit-children;
    //padding-bottom: 10px;
    flow-children: down;
}

.NeedsSteamGuard #SteamRememberCredentials,
.NeedsSteamGuard #SteamIDEntry,
.NeedsSteamGuard #SteamPasswordEntry,
{
    visibility: collapse;
}

#SteamGuardEntry 
{
    text-transform: uppercase;
    margin-top: 150px;
}

.NeedsSteamGuard #SteamGuardEntry
{
    visibility: visible;
}

.SettingsTextEntryUserName
{
    font-size: 30px;
    width: 100%;
    height: 60px;
    border: 2px solid #5e686966;
    padding-top: 10px;
}

.SettingsTextEntryPassword
{
    font-size: 24px;
    width: 100%;
    height: 60px;
    border: 2px solid #5e686966;
    padding-top: 10px;
}

.SettingTitle
{
    font-size: 28px;
    margin-top: 8px;
    color: #1e212d;
    text-transform: uppercase;
}

#SteamGuardEntry
{
    visibility: collapse;
}

.LoginFailed .LogInDataEntry
{
    border: 2px solid red;
}

#LogInButtonContainer
{
    width: 100%;
    height: fit-children;
    flow-children: down;
    vertical-align: bottom;
}

#LogInButtonContainer Button
{
    height: 100px;
    width: 400px;
}

.LoginButton 
{
    width: 100%;
    margin-bottom: 16px;
}

.LogInDataEntry
{
    width: 100%;
    height: fit-children;
    flow-children: down;
}

#HelpButton
{
    //height: 80px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    width: fit-children;
    text-align: left;
    horizontal-align: left;
    border: 0px;
    border-bottom: 2px solid 5e686966;
}

#HelpButton Label
{
    font-size: 28px;
    color: #888888;
    text-align: left;
    horizontal-align: left;
    vertical-align: bottom;
}

#SteamRememberCredentials
{
    margin-top: 8px;
    visibility: collapse;
}

#CancelButton
{
    margin-bottom: 0px;
}

#PasswordTitle
{
    width: 100%;
    flow-children: right;
}

#ViewPasswordIcon
{
    horizontal-align: right;
    width:60px;
    height: 40px;
    vertical-align: center;
    background-image: url("s2r://panorama/images/dashboard/eye_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

#SteamIDEntry Label,
#SteamPasswordEntry Label,
#SteamGuardEntry Label
{
    font-weight: black;
    color: white;
}

#SteamPasswordEntry
{
    margin-top: 20px;
}

#SteamIDTextEntry,
#SteamPasswordTextEntry,
#SteamGuardTextEntry
{
    height: 100px;
    font-size: 70px;
    text-transform: none;
}

#SteamPasswordTextEntry
{
    font-size: 50px;
}

#SteamGuardTextEntry
{
    text-transform: uppercase;
}

.ConnectingContainer
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

#ConnectingDesc
{
    margin-top: 33%;
    horizontal-align: center;
    flow-children: left;
}

.AttemptingLogin .ConnectingContainer
{
    visibility: visible;
}

#ConnectingLabel
{
    font-size: 80px;
    color: uiLightGrey;
}

@keyframes 'Throbber'
{
    0%
    {
        transform: rotateZ( 360deg );
    }

    50%
    {
        transform: rotateZ( 180deg );
    }

    100%
    {
        transform: rotateZ( 0deg );
    }
}

#CancelLoginButton
{
    width: 50%;
    height: 20%;
    vertical-align: bottom;
    horizontal-align: center;
}

#SteamLogo
{
    width: 96px;
    height: 96px;
    /*    background-image: url("s2r://panorama/images/dashboard/steam_logo_high_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;*/
    horizontal-align: center;
    margin-bottom: 32px;
    margin-left: 32px;
}

.SteamLogoAnimated
{
    width: 100%;
    height: 100%;
}


#radial3
{
    background-image: url("s2r://panorama/images/dashboard/steamlogo_radiallines_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    animation-name: radiallines;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    margin: 3px;
}

#radialMask
{
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/dashboard/steamlogo_mask_psd.vtex");
}

#steamlogo_bg
{
    background-image: url("s2r://panorama/images/dashboard/steamlogo_bg_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    animation-name: steamlogopulse;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes

'radiallines'
{
    0%

{
    pre-transform-rotate2d: 0deg;
}

100%
{
    pre-transform-rotate2d: 360deg;
}

}

@keyframes

'steamlogopulse'
{
    0%

{
    opacity: .3;
}

50%
{
    opacity: 1;
}

to
{
    opacity: .3;
}
}
