#RenameTeamPopup
{
	background-image: url("s2r://panorama/images/dashboard/bg_play_dialog_psd.vtex");
    background-size: 110% 100%;
    width: 800px;
    height: fit-children;
    padding: 30px 50px 20px 50px;
    //background-color: none;
}

#TeamNameEntry {
    horizontal-align: center;
    width: 520px;
    height: 80px;
    margin: 20px 0px;
    border: 2px solid #333333;
}

.RenamePopupHeader
{
	horizontal-align: center;
	font-size: 64px;
    font-weight: black;
    margin-bottom: 20px;
    //color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#ffffff)); 
    //color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));   
    color: white;
    text-transform: uppercase;
    //font-family: ravenhook, radiance;

}

.ChangeTeamHeader
{
	font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: gradient(linear, 0% 0%, 0% 100%, from( #999 ), to(#ddd));    
    text-transform: uppercase;
    //font-family: ravenhook, radiance;
}

.IsLayoutSmallScreen #RenameTeamPopup
{
	vertical-align: top;
	margin-top: 50px;
}

.TeamEntryField {
    flow-children: right;
}

.RenameTeamGroup {
    flow-children: down;
    visibility: collapse;
    padding-bottom: 10px;
    width: 100%;

}

#OKButton
{
	margin-top: 0px;
	margin-left: 10px;
	visibility: visible;
}

.TeamNameGroup {
    flow-children: down;
}

.CanRename .RenameTeamGroup {
    visibility: visible;
}

.CanRename .TeamNameGroup {
    visibility: collapse;
}

.RenameTeamUnlock {
    visibility: collapse;
}

.PlayerInTeam .RenameTeamUnlock {
    visibility: visible;
}

.BottomPanel
{
    border-top: 3px solid #444;
    margin-top: 25px;
}

.TeamStatHeader {
    font-size: 28px;
    font-weight: black;
    color: gradient(linear, 0% 0%, 0% 100%, from( #999 ), to(#ddd));    
    text-transform: uppercase;
    //font-family: ravenhook, radiance;
    margin-bottom: 10px;
}

.TeamStat {
    font-size: 28px;
    font-weight: semi-bold;
    color: gradient(linear, 0% 0%, 0% 100%, from( #888 ), to(#aaa));    
    //color: grey;
    text-transform: uppercase;
}

.TeamName {
    color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#ffffff));    
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    text-overflow: shrink;
}

#RenameTeamUnlock
{
	//color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#ffffff));    
	color: gold;
    font-size: 28px;
    font-weight: bold;
}

.TeamStatsGroup {
    flow-children: down;
    horizontal-align: left;
    width: 550px;
    margin-top: 25px;
    margin-bottom: 20px;
    visibility: collapse;
}

.TeamStatsEmptyGroup {
    flow-children: down;
    horizontal-align: center;
}

.HasPlayedTogether .TeamStatsGroup {
    visibility: visible;
}

.HasPlayedTogether .TeamStatsEmptyGroup {
    visibility: collapse;
}

.BottomPanel {
    flow-children: right;
}

