PopupPreMatchDetails
{
	width: 100%;
	height: 100%;
	sound: "DAC_UI.MainMenu_Difficulty_PopUp";
}

.PopupPanel {
	border: 0px;
	width: 100%;
	height: 100%;
	flow-children: none;
	padding: 0px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #2e3a4566 ), to( #2e3a4511 ) );
}

#PopupFog
{
	width: 100%;
	height: 100%;
}

#PreMatchContainer #BackButton
{
	visibility: visible;
	margin: 0px 16px 0px 0px;
}

.IsLayoutLargeScreen .PopupPanel
{
	ui-scale: 100%;
}

.Contents
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-top: 72px;
}

.IsLayoutSmallScreen .Contents
{
	ui-scale: 110%;
	margin-top: 32px;
}

.AspectRatio21x9.IsLayoutSmallScreen .Contents
{
	ui-scale: 108%;
	margin-top: 20px;
}


.AspectRatio4x3 .Contents
{
	ui-scale: 110%;
	margin-top: 220px;
}

#MainContainer
{
	width: 1480px;
	height: 740px;
	flow-children: right;
	//background-color: gradient(linear, 70% 0%, 0% 0%, from( #5126AB22 ), to(#0f1518));
	//background-color: gradient( radial, 50% 0%, 0% 0%, 75% 65%, from( #c8771855), to( #c8771800 ) );
	background-color: #0f1517;
	background-size: 100%;
	transition-property: background-image;
	transition-duration: 0.1s;
}

.Underlord_4 #MainContainer
{
	background-image: url("s2r://panorama/images/dashboard/play_bg_hobgen_psd.vtex");
}

.Underlord_1 #MainContainer
{
	background-image: url("s2r://panorama/images/dashboard/play_bg_anessix_psd.vtex");
}

#PreMatchContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
}

#PreMatchDetails_UnderlordCarousel
{
	vertical-align: bottom;
	transform:translateZ(2px);
	margin-bottom: 40px;
	width: 520px; 
	transition-property: background-image;
	transition-duration: 0.1s;
}


.Hobgen #PreMatchDetails_UnderlordCarousel
{
	background-image: url("s2r://panorama/images/dashboard/underlords_button_hobgen_psd.vtex");   
}

.Anessix #PreMatchDetails_UnderlordCarousel
{
	background-image: url("s2r://panorama/images/dashboard/underlords_button_anessix_psd.vtex");   
}



.TitleContainer
{
	flow-children: right;
	margin-bottom: 12px;
}

.MatchTypeTitle
{
	margin-right: 12px;
}

.PreMatchDetailsTitle
{
	color: textDefault;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: black;
	visibility: collapse;
	vertical-align: center;
}

.Ranked #Ranked,
.Casual #Casual,
.SoloBot #SoloBot,
.Standard.Casual #Multiplayer,
.Standard.Ranked #Multiplayer,
.PrivateLobby #Private,
.ReadyUpLayout #ReadyUp,
.DuosBot #DuosBot,
.SoloBot #BotDifficulty,
.DuosBot #BotDifficulty,
{
	visibility: visible;
}


#LeftContainer
{
	width: 740px;
	height: 100%;
	padding-top: 32px;
	padding-left: 32px;
	background-image: url("s2r://panorama/images/dashboard/bg_play_dialog_psd.vtex");
}

#BattlePassContainer,
#NoBattlePassContainer,
#FreestyleContainer,
{
	width: 80%;
	height: 100%;
	horizontal-align: left;
	flow-children: down;
	visibility: collapse;
}
.ShowBattlePassInfo #BattlePassContainer { visibility: visible; }
.HideBattlePassInfo #NoBattlePassContainer { visibility: visible; }
.HideBattlePassInfo.Sandbox #NoBattlePassContainer { visibility: collapse; }
.HideBattlePassInfo.Sandbox #FreestyleContainer { visibility: visible; }

#NoRewardsTitle,
#FreestyleTitle,
{
	font-weight: bold;
	font-size: 32px;
	color: textBrighter;
}
#NoRewardsDesc,
#FreestyleDesc,
{
	font-weight: normal;
	font-size: 28px;
	color: textDark;
	margin-top: 20px;
}

#UnderlordContainer
{
	width: 740px;
	height: 100%;
	horizontal-align: right;
	flow-children: none;
}

#UnderlordPortrait
{
	width: 740px;
	height: 740px;
	vertical-align: bottom;
	transform:translateZ(1px);
	opacity-mask: url("s2r://panorama/images/dashboard/play_underlord_mask_psd.vtex");
}

#BattlePassOverview #QuestItemContainer
{
	visibility: visible;
}

#Footer
{
	width: 100%;
	height: fit-children;
	flow-children: left;
}

#RankContainer
{
	width: fit-children;
	margin-top:8px;
}


.SoloBot #RankContainer
{
	visibility: collapse;
}


#ForegroundContainer #RankIcon
{
	ui-scale: 90%;
	margin-left: 0px;
	horizontal-align: left;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer #RankIcon
{
	margin-left: safe-area-inset-left;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer .RankHoverContainer
{
	margin-left: safe-area-inset-left;
}


#SeasonProgressContainer
{
	vertical-align: middle;
	horizontal-align: right;
	flow-children: down;
}

#ForegroundContainer #RankContainer
{
	width: fit-children;
	height: 250px;
	brightness: 1.0;
	vertical-align: top;
	horizontal-align: left;
	visibility: collapse;
	padding: 4px 30px 4px 100px;
	transition-property: brightness;
	transition-duration: .2s;
	background-image: url("s2r://panorama/images/dashboard/main_nav_profile_psd.vtex");
	background-repeat: no-repeat;
	background-position: 100% 17%;
	background-size: contain;
}


.RankedIsUnlocked .ShowSocialPanel #ForegroundContainer #RankContainer
{
	visibility: collapse;
}

.Casual #RankContainer
{
	visibility: collapse;
}

.RankedIsUnlocked #ForegroundContainer #RankContainer
{
	visibility: visible;
}

DACRankIcon
{
	vertical-align: middle;
}

.RankHoverContainer
{
	flow-children: down;
	padding-left: 120px;
	margin-top: 64px;
}

/* Center heavy icons */
.MajorRank1 #RankIcon,
.MajorRank2 #RankIcon,
.MajorRank3 #RankIcon,
.MajorRank4 #RankIcon,
.MajorRank5 #RankIcon,
.MajorRank6 #RankIcon,
{
	margin-top: 0px;
}

.MajorRank7 #RankIcon
{
	margin-top: -15px;
}

.MajorRank8 #RankIcon
{
	margin-top: -16px;
}

.MajorRank9 #RankIcon
{
	margin-top: -24px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ForegroundContainer #RankContainer
{
	padding-left: safe-area-inset-left;
}


#ForegroundContainer #RankNumeral
{
	visibility: collapse;
}

.NameContainer
{
	flow-children: down;
	vertical-align: top;
	width: fit-children;
}

#PlayerName
{
	color: textBrighter;
	font-size: 26px;
	margin-top: 8px;
	font-weight: black;
}

#PlayerRank
{
	font-size: 24px;
	text-transform: uppercase;
	margin-top: -1px;
	color: textDefault;
}

#PlayerRankScore
{
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 2px 0px 2.0 #00000066;
	color: textBrighter;
	margin-top: 16px;
	text-transform: uppercase;
}

.PlayerRankScoreContainer
{
	width: 300px;
	vertical-align: center;
}

.RankPoints
{
	font-size: 24px;
	text-transform: uppercase;
}

.MajorRank9 #PlayerRankProgressBar
{
	visibility: collapse;
}

#PlayerLeaderboardPosition
{
	visibility: collapse;
	font-size: 24px;
	text-shadow: 1px 1px 0px 2.0 #00000066;
	font-weight: black;
	text-transform: uppercase;
	margin-top: 0px;
	letter-spacing: 1px;
	color: gradient( linear, 80% 100%, 0% 0%, from( #f8cc33 ), to( #f8ad33 ) );
}

.MajorRank9 #PlayerLeaderboardPosition
{
	visibility: visible;
}

.MajorRank9 #PlayerRank
{
	visibility: collapse;
}

.FindMatchButton
{
	width: 370px;
	height: 72px;
	margin-top: 20px;
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #348746 ), to( #699a61 ) );

	transition-property: brightness;
	transition-duration: 0.2s;
	
	visibility: collapse;
}

.FindMatchButton:hover
{
	brightness: 1.4;
}

.SoloBot #SoloBotMatchButton,
.DuosBot #SoloBotMatchButton,
.Sandbox #SoloBotMatchButton,
.TurboBot #SoloBotMatchButton,
.Ranked #FindMatchButton,
.Casual #FindMatchButton,
.DuosMatch.Casual #FindMatchButton,
.CreatePartyLayout #CreatePartyButton,
.JoinPartyLayout #JoinPartyButton,
.ReadyUpLayout #ReadyButton,
.Sandbox #Freestyle,
{
	visibility: visible;
}

.FindMatchButton Label
{
	color: white;
	font-size: 40px;
	font-weight: black;
	vertical-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	padding: 0px 16px 0px 16px;
	text-transform: uppercase;
}

#PreMatchContainer .UnderlordSelectContainer
{
	margin-bottom: -20px;
	margin-right: 0px;
	horizontal-align: center;
}

#PreMatchContainer .UnderlordSelectContainer .UnderlordSelectBottomContainer .TalentsUnlocked,
#PreMatchContainer .UnderlordSelectContainer .UnderlordSelectBottomContainer .TalentsUnlockedNumbers
{
	//text-shadow: 0px 0px 0px 3.0 #00000066;
}

#Header
{
	width: 100%;
	height: fit-children;
}