PopupRankUp
{
    width: 100%;
    height: 100%;
    flow-children: none;
    sound: "DCG_Progression.Ranked_Tier_01";
	overflow: noclip;
	//background-color: #000000dd;
	width: 1920px;
	height: 1080px;
}

.IsPlatformMobile PopupRankUp 
{
	
	ui-scale: 130%;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -25px;
}




#ContinueButton {
	visibility: collapse;
}

.RankDown #ContinueButton {
	hue-rotation: 170deg;
}

#Overlay {
	background-color: #000000f8;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #000000cc ), color-stop( 0.4, #000000fc ), color-stop( 0.6, #000000 ), to( #000000 ) );
	//background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #14465c ), color-stop( 0.4, #102634fa ), color-stop( 0.6, #000000 ), to( #000000 ) );
	opacity: 0;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	width: 100%;
	height: 100%;
}

.StepOldRank #Overlay {
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #3f4041ee ), color-stop( 0.4, #000000fc ), color-stop( 0.6, #000000 ), to( #000000 ) );
}


.StepNewRank #Overlay {
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #14465c ), color-stop( 0.35, #102634fa ), color-stop( 0.6, #000000 ), to( #000000 ) );
}

.RankDown.StepNewRank #Overlay {
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #5c1414 ), color-stop( 0.35, #200a0afa ), color-stop( 0.6, #000000 ), to( #000000 ) );
}


.Contents
{
    vertical-align: center;
	horizontal-align: center;
}


#NewRank
{
    visibility: collapse;
}

.RankContainer
{
    vertical-align: center;
	margin-top: -70px;
    overflow: noclip;
    horizontal-align: center;
}


#RankIcon, #RankIconOld {
	opacity: 0;
	transform: scale3d(3.0, 3.0, 1.0);
	transition-property: opacity, transform;
	transition-duration: 200ms, 300ms;
}

#RankIconOld {
	transform: scale3d(1.0, 1.0, 1.0);
}


#ContinueButton
{
	horizontal-align: right;
}


.ParticleOverlay {
	margin-top: -180px;
	width: 1920px;
	height: 1920px;
	horizontal-align: center;
	vertical-align: center;
	//hue-rotation: 156deg;
}

#RankDownParticle {
	hue-rotation: 160deg;
}


.IsPlatformMobile #ContinueButton.PopupButton{
	margin-right: 278px;
	margin-top: 200px;
	ui-scale: 135%;
}

#ContinueButton.PopupButton {
	margin-top: 50px;
	margin-right: 50px;
	height: 70px;
	width: 70px;
	align: right top;
	background-image: url("s2r://panorama/images/hud/round_exit_button_psd.vtex");	
	background-size: 70px 70px;
	background-position: 100%;
	background-repeat: no-repeat;
	border: 0px;
	overflow: noclip;
	opacity: .5;
	transition-property: opacity;
	transition-duration: .2s;
}

#ContinueButton.PopupButton:hover {
	background-color: none;
	brightness: 1; 
	opacity: 1;
}

.TitleContainer {
	background-color: #000000;
	transform: scale3d(3.0, 3.0, 1.0) rotateZ(-30deg);
	align: center top;
	margin-top: 615px;
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 200ms, 300ms;
	box-shadow: 0px 0px 4px #000000;
	//padding: 0px 50px;
	
}

.StepNewRank .TitleContainer {
	background-image: url("s2r://panorama/images/hud/rank_up_title_backer_psd.vtex");
	background-size: 100%;
}

.RankDown.StepNewRank .TitleContainer  {
	background-image: url("s2r://panorama/images/hud/rank_up_title_backer_down_psd.vtex");
	background-size: 100%;
}

.NewRankMajor2 .TitleContainer{
	margin-top: 622px;
}

.NewRankMajor3 .TitleContainer{
	margin-top: 628px;
}

.NewRankMajor4 .TitleContainer{
	margin-top: 635px;
}

.NewRankMajor5 .TitleContainer{
	margin-top: 642px;
}

.NewRankMajor6 .TitleContainer{
	margin-top: 649px;
}

.NewRankMajor7 .TitleContainer{
	margin-top: 656px;
}

.NewRankMajor8 .TitleContainer{
	margin-top: 663px;
}


.Title {
	color: gradient(linear, 0% 0%, 100% 0%, from( #f8b763 ), color-stop( .15, #f3d767 ), color-stop( .5, #ffffff ), color-stop( .85, #f3d767 ), to( #f8b763 ) );	
	font-size: 90px;
	visibility: collapse;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Radiance;
	font-style: italic; 
	max-width: 1300px;
	white-space: nowrap; 
	text-overflow: shrink;
	padding: 0px;
	margin-top: 16px;
	margin-left: 37px;
	margin-right: 47px;
}

#RankTextContainer {
	
	flow-children: down;
	align: center top;
	margin-top: 700px;
	width: 1000px;
}

.NewRankMajor2 #NewRankText {
	margin-top: 72px;
}

.NewRankMajor3 #NewRankText {
	margin-top: 78px;
}

.NewRankMajor4 #NewRankText {
	margin-top: 85px;
}

.NewRankMajor5 #NewRankText {
	margin-top: 92px;
}

.NewRankMajor6 #NewRankText {
	margin-top: 99px;
}

.NewRankMajor7 #NewRankText {
	margin-top: 106px;
}

.NewRankMajor8 #NewRankText {
	margin-top: 113px;
}

.RankText {
	//color: gradient(linear, 0% 0%, 100% 0%, from( #69a2d7 ), color-stop( .4, #cbfff2 ), color-stop( .6, #cbfff2 ), to( #69a2d7 ) );
	color: #987a59;
	font-size: 45px;
	opacity: 0;
	text-align: center;
	width: 100%;
	transition-property: opacity;
	transition-duration: 200ms;
	transition-delay: 150ms;
	font-weight: light;
	text-transform: uppercase;
}



#NewRankText.RankText  
{
	//color: gradient(linear, 0% 0%, 100% 0%, from( #69a2d7 ), color-stop( .4, #cbfff2 ), color-stop( .6, #cbfff2 ), to( #69a2d7 ) );
	color: gradient(linear, 0% 0%, 12% 0%, from( #cbfff2 ), to( #69a2d7 ) );
	//color: #987a59;
	font-size: 45px;
	opacity: 0;
	text-align: center;
	width: 100%;
	transition-property: opacity, transform;
	transition-duration: 200ms;
	transition-delay: 1800ms;
	font-weight: light;
	text-transform: uppercase;
}

#TitleParticle {
	width: 1000px;
	height: 1000px;
	
	horizontal-align: center;
	margin-top: 190px;
}

#OldRankText {
	color: #e7e7e766;
	margin-top: -30px;
	color: gradient(linear, 0% 0%, 12% 0%, from( #e7e7e7bb ), to( #e7e7e755 ) );
}

#NewRankText {
	
	//color: gradient(linear, 0% 0%, 50% 0%, from( #69a2d7 ), color-stop( .4, #cbfff2 ), color-stop( .6, #cbfff2 ), to( #69a2d7 ) );
	color: gradient(linear, 0% 0%, 12% 0%, from( #cbfff2 ), to( #69a2d7 ) );
	margin-top: 65px;
}

.RankDown #NewRankText {
	hue-rotation: 160deg;
}

#OldRankText .RankName {
	font-weight: bold;
	color: #e7e7e766;
	color: gradient(linear, 0% 0%, 20% 0%, from( #e7e7e755 ), to( #e7e7e7bb ) );
}

#NewRankText .RankName {
	font-weight: bold;
	color: gradient(linear, 0% 0%, 50% 0%, from( #69a2d7 ), to( #cbfff2 ) );
	color: gradient(linear, 0% 0%, 20% 0%, from( #69a2d7 ), to( #cbfff2 ) );
}

/* ----- Rank up variances ------ */
/* These classes adjust visibility and effects between major/minor rank ups and rank down. 
	The parent will have one of three classes set:
	- RankUpMajor - Gaining a new major rank
	- RankUpMinor - Increasing your rank tier
	- RankDown - Losing a rank tier

	- NewRankMajor# - indicates which major rank we're about to show. Used to set correct margins
*/
.RankUpMajor #RankUpMajorTitle {
	visibility: visible;
}

.RankUpMinor #RankUpMinorTitle {
	visibility: visible;
}

.RankDown #RankDownTitle {
	visibility: visible;
}

/* ----- Animation ------- */
/*
	Code currently adds the following classes in order:
	- StepFadeIn
	- StepOldRank
	- StepLevelUp ( Fires TitleParticle )
	- StepNewRank ( Fires RankUp/Down particle )
*/
.StepFadeIn #Overlay {
		opacity: 1;
}

.StepOldRank #RankIconOld {
	opacity: 1;
	transform: scale3d(1.0, 1.0, 1.0);
}

.StepOldRank #OldRankText {
	opacity: 1;
}

.StepLevelUp .TitleContainer {
	transform: scale3d(1.0, 1.0, 1.0) rotateZ(-5deg);
	opacity: 1;
}

.StepLevelUp #NewRankText {
	opacity: 1;
}

.StepNewRank #RankIcon {
	opacity: 1;
	transform: scale3d(1.0, 1.0, 1.0);
}

.StepNewRank #RankIconOld {
	visibility: collapse;
}


.StepNewRank #ContinueButton  {
	visibility: visible;
}