.PopupPanel
{
	width: 1440px;
	height: 900px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
    /* background-image: url("s2r://panorama/images/dashboard/glass-texture-2_png.vtex");
    background-size: cover;
    background-position: center; */
    padding: 24px;
	border: 0px solid transparent;
    flow-children: none;
}

.LowVisualQuality .PopupPanel 
{
    transition-duration: 0.0s;
    box-shadow: #00000000 0px 0px 0px 0px;
	border: 0px solid #00000000;
}

.AspectRatio4x3 .PopupPanel {
    width: 1395px;
    height: 930px;
}

.PopupPanel #BuildVersion
{
    margin-right: 16px;
}

#DACCloseSettingsButton {
    margin-left: 6px;
    margin-top: 8px;
    width: 36px;
    height: 36px;
    background-image: url("s2r://panorama/images/control_icons/gear_return_png.vtex");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    horizontal-align: right;
    wash-color: #575d5f;
}

#DACCloseSettingsButton:hover {
    wash-color: #939da0;
}

#DACCloseSettingsButton:active {
    sound: "ui_settings_out_multi";
}

.IsLayoutSmallScreen #DACCloseSettingsButton {
    margin-bottom: 6px;
    margin-right: 6px;
    width: 75px;
    height: 75px;
    wash-color: #939da0;
}
