DACSynergyPanel
{
	width: 100%;
	min-height: 100px;
	vertical-align: top;
	margin-top: 0px;
	horizontal-align: center;

	flow-children: down;

	background-image: url("s2r://panorama/images/hud/mobile_popup_takeover_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;

	padding-left: 210px;

	padding-bottom: 20px;

	margin-right: 80px;
}

DACSynergyPanel.Visible
{
	opacity: 1;
}

.Header
{
	width: 100%;
	flow-children: right;
}

.Body
{
	visibility: visible;
	height: fit-children;
}

.HeaderText
{
	color: white;
	font-size: 60px;

	margin-top: 12px;

	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000;

	vertical-align: center;
}

DACSynergyIcon
{
	ui-scale: 100%;
}

.Body
{
	width: 100%;
	padding: 15px;
	flow-children: down;
	margin-top: 10px;

	margin-right: 270px;
}

.Body Label
{
	color: white;
	font-size: 30px;
}

.LevelRow
{
	margin-left: 20px;
	margin-right: 20px;
	width: fit-children;
	height: fit-children;
	horizontal-align: left;

	flow-children: right;
}

.Body .LevelDescription
{
	font-size: 36px;

	margin-left: 20px;
	line-height: 30px;

	height: 80px;

	white-space: normal;

	color: #9f9fa5;
}

.LevelRow.Active .LevelDescription
{
	color: gold;
}

.Body .HasUnitsLabel,
.Body .HasUnitLabel
{
	color: white;
	font-size: 28px;
	visibility: collapse;
	horizontal-align: center;	
	text-transform: uppercase;
}

.Body .HasBenchUnitsLabel,
.Body .HasBenchUnitLabel
{
	font-size: 28px;
	color: #999;
	visibility: collapse;
	horizontal-align: center;
	text-transform: uppercase;
}

.HasUnits .HasUnitsLabel,
.HasUnit .HasUnitLabel,
.HasBenchUnits .HasBenchUnitsLabel,
.HasBenchUnit .HasBenchUnitLabel
{
	visibility: collapse;
}

.LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_1_psd.vtex");

	margin-top: -5px;
	width: 60px;
	height: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}

#LevelRow2 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_2_psd.vtex");
}

#LevelRow3 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_3_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow1 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_1_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow2 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_2_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow3 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_3_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow1 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_1_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow2 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_2_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow3 .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_3_psd.vtex");
}

// and versions for the active .LevelRow

#LevelRow1.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_1_glow_psd.vtex");
}

#LevelRow2.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_2_glow_psd.vtex");
}

#LevelRow3.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_1_3_glow_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow1.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_1_glow_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow2.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_2_glow_psd.vtex");
}

.SegmentsPerLevel_2 #LevelRow3.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_2_3_glow_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow1.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_1_glow_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow2.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_2_glow_psd.vtex");
}

.SegmentsPerLevel_3 #LevelRow3.Active .LevelIcon
{
	background-image: url("s2r://panorama/images/hud/synergy_column_3_3_glow_psd.vtex");
}

//=====

.Beast .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( beastColor ), to( beastColorBright ) );
}

.Demon .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( demonColor ), to( demonColorBright ) );
}

.Dragon .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( dragonColor ), to( dragonColorBright ) );
}

.Dwarf .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( dwarfColor ), to( dwarfColorBright ) );
}

.Element .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( elementColor ), to( elementColorBright ) );
}

.Elf .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( elfColor ), to( elfColorBright ) );
}

.Goblin .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( goblinColor ), to( goblinColorBright ) );
}

.Human .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( humanColor ), to( humanColorBright ) );
}

.Naga .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( nagaColor ), to( nagaColorBright ) );
}

.Ogre .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( ogreColor ), to( ogreColorBright ) );
}

.Orc .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( orcColor ), to( orcColorBright ) );
}

.Troll .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( trollColor ), to( trollColorBright ) );
}

.Undead .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( undeadColor ), to( undeadColorBright ) );
}

.Assassin .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( assassinColor ), to( assassinColorBright ) );
}

.DemonHunter .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( demonhunterColor ), to( demonhunterColorBright ) );
}

.Druid .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( druidColor ), to( druidColorBright ) );
}

.Hunter .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( warriorColor ), to( warriorColorBright ) );
}

.Knight .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( knightColor ), to( knightColorBright ) );
}

.Mage .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( mageColor ), to( mageColorBright ) );
}

.Mech .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( mechColor ), to( mechColorBright ) );
}

.Shaman .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( shamanColor ), to( shamanColorBright ) );
}

.Warlock .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( warlockColor ), to( warlockColorBright ) );
}

.Warrior .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( warriorColor ), to( warriorColorBright ) );
}

//=====

.Beast .LevelIcon
{
	wash-color: beastColor;
}

.Demon .LevelIcon
{
	wash-color: demonColor;
}

.Dragon .LevelIcon
{
	wash-color: dragonColor;
}

.Dwarf .LevelIcon
{
	wash-color: dwarfColor;
}

.Element .LevelIcon
{
	wash-color: elementColor;
}

.Elf .LevelIcon
{
	wash-color: elfColor;
}

.Goblin .LevelIcon
{
	wash-color: goblinColor;
}

.Human .LevelIcon
{
	wash-color: humanColor;
}

.Naga .LevelIcon
{
	wash-color: nagaColor;
}

.Ogre .LevelIcon
{
	wash-color: ogreColor;
}

.Orc .LevelIcon
{
	wash-color: orcColor;
}

.Troll .LevelIcon
{
	wash-color: trollColor;
}

.Undead .LevelIcon
{
	wash-color: undeadColor;
}

.Satyr .LevelIcon
{
	wash-color: satyrColor;
}

.Assassin .LevelIcon
{
	wash-color: assassinColor;
}

.DemonHunter .LevelIcon
{
	wash-color: demonhunterColor;
}

.Druid .LevelIcon
{
	wash-color: druidColor;
}

.Hunter .LevelIcon
{
	wash-color: hunterColor;
}

.Knight .LevelIcon
{
	wash-color: knightColor;
}

.Mage .LevelIcon
{
	wash-color: mageColor;
}

.Mech .LevelIcon
{
	wash-color: mechColor;
}

.Shaman .LevelIcon
{
	wash-color: shamanColor;
}

.Warlock .LevelIcon
{
	wash-color: warlockColor;
}

.Warrior .LevelIcon
{
	wash-color: warriorColor;
}