.PopupPanel {
	width: 800px;
	height: 910px;
	vertical-align: middle;
	padding: 0px;
	background-color: rgba(0,0,0,0);
	border: 0px solid #000000;
	flow-children: none;
}

.IsLayoutSmallScreen .PopupPanel {
	ui-scale: 110%;
}

.AspectRatio4x3 .PopupPanel {
	ui-scale: 120%;
}

#CloseButton {
	width: 30px;
	height: 30px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100% 100%;
	wash-color: #999;
}


#PopupImage {
	/*background-color: gray;*/
	width: 700px;
	height: 561px;
	margin-bottom: 0px;
	background-image: url("s2r://panorama/images/promo/popups/contraptions_highrollers_png.vtex");
	background-size: 100% 100%;
}

#TextArea {
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-top: 500px;
	padding-bottom: 30px;
	overflow: noclip;
}

#PopupIntro {
	horizontal-align: center;
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 20px;
	transform: rotateZ(-3deg);
	/*background-color: #000000;*/
}

#PopupTitle {
	horizontal-align: center;
	color: #ffffff;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0px 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 52px;
}

#PopupDesc {
	horizontal-align: center;
	color: #888888;
	font-size: 26px;
	margin-bottom: 25px;
	transform: rotateZ(-3deg);
}

#Button {
	horizontal-align: center;
	border: 1px solid #999999;
	padding: 15px 30px;
	color: #ffffff;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 26px;
	background-color: #222222ee;
	box-shadow: 0px 0px 3px #999999;

	transition-property: background-color, color;
	transition-duration: .2s;
	transform: rotateZ(-3deg);
}

#Button:hover {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px #ffffff;
	color: #000000;
}

#TitleArea {
	flow-children: down;
	ui-scale: 60%;
	width: 100%;
	overflow: noclip;
	margin-bottom: 20px;
}

.First {
	box-shadow: 0px 0px 3px #ffffff;
	transform: rotateZ(-3deg);
}

.Second {
	transform: rotateZ(-3deg);
	horizontal-align: right;
	margin-top: -30px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from( #f8d37f ), to(#f8ecd2));
}

#TitleLine1 {
	flow-children: right;
	/*transform: rotateZ(-3deg);*/
	overflow: noclip;
}

.And {
	font-size: 100px;
	font-weight: black;
	color: #ffffff;
	margin-left: 20px;
	transform: rotateZ(-3deg);
	margin-top: -25px;
}

.TextTitle {
	box-shadow: 0px 0px 3px #ffffff;
}