.PopupPanel
{
    width: 800px;
    height: 520px;
    padding-top: 16px;
}

.TeamGroup {
    margin-top: 35px;
    horizontal-align: center;
    flow-children: down;
}

.TeamRow {
    flow-children: right;
}

.TeamButton {
    width: 80px;
    height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    border: 1px solid gray;
}

.PopupButtonRow {
    horizontal-align: center;
    width: fit-children;
}

#Team1 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_0_png.vtex");       }
#Team2 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_1_png.vtex");       }
#Team3 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_2_png.vtex");       }
#Team4 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_3_png.vtex");       }
#Team5 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_4_png.vtex");       }
#Team6 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_5_png.vtex");       }
#Team7 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_6_png.vtex");       }
#Team8 {    background-image: url("s2r://panorama/images/hud/dac_profile_avatar_background_7_png.vtex");       }

