.PopupPanel
{
	width: 1600px;
	height: 800px;
	//width: 75%;
	//height: 75%;
	vertical-align: middle;
	padding: 0px;
	background-color: #222222;
	//border: 0px solid #000000;
	flow-children: none;
}

.IsLayoutSmallScreen .PopupPanel
{
	ui-scale: 110%;
}

.AspectRatio4x3 .PopupPanel
{
	ui-scale: 120%;
}

.MainPanel
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.PanelLeft
{
	width: 50%;
	height: 100%;
	background-color: #333;
	background-image: url("s2r://panorama/images/dashboard/promo/promo_big_image_psd.vtex");
	background-size: cover;
	background-position: 50% 50%;
	opacity-mask: url("s2r://panorama/images/masks/fade_right_psd.vtex");
}

.PanelRight
{
	width: 50%;
	height: 100%;
	margin-right: 20px;
	margin-top: 20px;

	flow-children: down;
}

.TitleRow1,
.TitleRow2
{
	font-size: 100px;
	line-height: 100px;
	width: 80%;
	text-overflow: shrink;
	horizontal-align: center;
	//color: gradientAnessix;
	color: white;
	font-family: Ravenhook;
	text-align: center;
}

.TitleRow1
{
	margin-top: 40px;
	margin-bottom: -25px;
}

.Description
{
	font-family: radiance;
	color: #aaa;
	text-shadow: 1px 2px  2.0 #000000;
	font-size: 32px;
	horizontal-align: center;
	font-weight: semi-bold;
	width: 85%;
	text-align: left;
	overflow: clip scroll;
	margin-top: 20px;
	text-align: center;
	max-height: 350px;
}

.Emphasis
{
	color: white;
}

.TrailerButton
{
	//width: 80%;
	//height: 100px;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	transition-property: brightness, transform;
	transition-duration: .2s;
	margin-top: 10px;
	

	//visibility: collapse;
}

.TrailerButton:hover
{
	brightness: 1.5;
	transform: translateY( -5px );
}

.TrailerLabel
{
	font-family: ravenhook;
	font-size: 50px;
	color: white;
	//width: 80%;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
	padding: 10px 20px;

	background-color: #00000055;
	border: 2px solid #b7d5ffaa;
	box-shadow: inset 0px 0px 20px #4b5affcc;
}

.CloseButton
{
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-right: 30px;
	opacity: .2;
	background-image: url("s2r://panorama/images/hud/close_shop_icon_png.vtex");
}


