@import url("file://{resources}/styles/dac_db_page_heropedia_heroes_shared.css");

.PopupPanel {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    flow-children: none;
    background-color: none;
    vertical-align: middle;
		background-color: #000000dd;
}

.IsPlatformMobile .PopupPanel {
    padding: safe-area-inset-top safe-area-inset-right safe-area-inset-bottom safe-area-inset-left;
}

.PopupPanel .Inner {
    width: 1800px;
    max-width: 100%;
    height: 1320px;
    padding: 16px 96px 16px 96px;
    horizontal-align: center;
    //border: 2px solid black;
    /*border-top: 4px solid #505050;
    border-right: 4px solid #2d2d2d47;
    border-bottom: 4px solid #2d2d2d49;
    border-left: 4px solid #2d2d2d;*/
    /*background-color: #252f3bcc;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #333742 ), color-stop( 0.005, #272b36 ), color-stop( .5, rgb(30, 33, 45) ), to( #252934 ) );*/
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #101010fc ) );
}

.IsPlatformMobile .PopupPanel .Inner
{
    width: 1700px;
    height: 1200px;
}

.IsPlatformPC PopupHero
{
    ui-scale: 80%;
    /* margin: 10%; */
}

.Header {
    width: 100%;
    height: 104px;
    padding: 10px;
    /*background-color: black;*/
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000 ) );
}

.HeaderText {
    font-size: 72px;
    font-weight: black;
    color: gradient( linear, 0% 0%, 0% 100%, from( #C6DCFE ), to( #fff ) );
    text-shadow: 0px 1px 0px 3.0 #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 62px;
    text-overflow: shrink;
    width: 100%;
}

#CloseButtonContainer
{
    vertical-align: top;
    width: 100%;
    padding: 100px 260px;
}

.IsPlatformMobile .CloseButton
{
    width: 96px;
    height: 96px;
}

.CloseButton {
    horizontal-align: right;
    vertical-align: middle;
    width: 72px;
    height: 72px;
    margin-right: 0px;
    /* background-color: #00000005; Must have color or wash/opacity bug */
    background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    /* wash-color: #8588a0; */
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 1.0;
    wash-color: transparent;
}

.CloseButton:hover
{
	opacity: 2.0;
}

.CloseButton:active
{
    opacity: 1.5;
}

.Body {
    width: 100%;
    height: 80%;
    padding: 12px;
    vertical-align: middle;
    /* margin-top: 100px; */
}

.IsPlatformMobile .Body
{
	 margin-top: 60px;
}

.BodyLeft {
    width: 700px;
    height: 100%;
}

.BodyRight {
    width: 100%;
    height: 80%;
    vertical-align: middle;
    flow-children: down;
    horizontal-align: left;
    margin-left: 620px;
    overflow: clip scroll;
}

.IsPlatformMobile .BodyRight
{
    margin-left: 600px;
}

#HeroIcon {
    width: 64px;
    height: 64px;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    visibility: collapse;
}

#HeroImage {
    width: 100%;
    height: 100%;
    /* opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex"); */
    visibility: visible;
}

#BorderContainer {
    width: 100%;
    height: 100%;
    z-index: 1;
    //border-top: 2px solid #ffffff11;
    //border-left: 2px solid #ffffff05;
    //border-right: 2px solid #877fc309;
    //border-bottom: 2px solid #877fc311;
}

#CostContainer {
    width: 100%;
    height: fit-children;
    margin-top: -21px;
}

#CostNumber {
    color: #f3efd9;
    font-size: 36px;
    font-weight: black;  
    text-align: left;
    width: 100%;
	height: 110px;
	letter-spacing: 4px;
	vertical-align: middle;
	text-transform: uppercase;
    text-shadow: 0px 1px 0px 3.0 #000;
    
    margin-left: -24px;
    margin-right: 14px;
    padding: 24px 0px;
    padding-top: 18px;
    padding-left: 64px;
}

/* #BottomFade {
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/shop/cost3_vignette_psd.vtex");
    background-size: 100%;
}

.UnitCost1 #BottomFade {
    background-image: url("s2r://panorama/images/shop/cost1_vignette_psd.vtex");
}

.UnitCost2 #BottomFade {
    background-image: url("s2r://panorama/images/shop/cost2_vignette_psd.vtex");
}

.UnitCost3 #BottomFade {
    background-image: url("s2r://panorama/images/shop/cost3_vignette_psd.vtex");
}

.UnitCost4 #BottomFade {
    background-image: url("s2r://panorama/images/shop/cost4_vignette_psd.vtex");
}

.UnitCost5 #BottomFade {
    background-image: url("s2r://panorama/images/shop/cost5_vignette_psd.vtex");
} */

DACUnitScenePanel
{
}

#UnitAbilityContainer {
    width: 100%;
    height: fit-children;
    margin-bottom: 16px;
    flow-children: down;
    overflow: clip scroll;
}

.UnitAbilityContainerSub {
    width: 100%;
    height: fit-children;
    margin-bottom: 20px;
    margin-left: 12px;
    flow-children: right;
}

#UnitAbility {
    width: 100px;
    height: 100px;
}

#UnitAbilityLeft {
    width: 100px;
    height: 100px;
    margin-right:20px;
    margin-top: 8px;
}

#UnitAbilityRight {
    width: 660px;
    max-width: 100%;
    height: fit-children;
    flow-children: down;
}

#AbilityTitle {
	color: #ffffff;
	font-size: 36px;
	letter-spacing: 2px;
	text-overflow: clip;
	font-weight: black;
	vertical-align: middle;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	/* margin-bottom: 12px; */
}

#AbilityDesc {
    font-size: 28px;
    color: #8588a0;
	text-overflow: clip;
    line-height: 32px;
    margin-right: 24px;
    margin-bottom: 8px;
}


#AbilityLore {
    font-size: 28px;
    color: #6e7084;
    margin-top: 10px;
    text-overflow: clip;
    line-height: 30px;
    visibility: visible;
}

#UnitLoreText {
    visibility: collapse;
}

.IsCreep #UnitLoreText {
    font-size: 22px;
    color: #909080;
    margin-bottom: 10px;
    text-overflow: clip;
    line-height: 20px;
    visibility: visible;
    margin-top: 20px;
    max-width: 800px;
}

Label i
{
	font-style: italic;
}

.AbilityStat {
    color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: url("s2r://panorama/images/hud/cooldown-icon_png.vtex");
    background-position: left;
    padding-left: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 12px;
}

.AbilityManaCost {
    color: gradient(linear, 0% 0%, 0% 100%, from( #b0d3ff ), to(#d9e5fd));
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: url("s2r://panorama/images/hud/mana-cost-icon_png.vtex");
    background-position: left;
    padding-left: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 12px;
}

.SynergyCapsule {
    horizontal-align: left;
    vertical-align: middle;
    margin-bottom: 16px;
    ui-scale: 70%;
    margin-top: -12px;
}

.Body .StatRow {
    flow-children: right;
    padding: 5px 0 1px 10px;
    /* background-color: #8588a005; */
}

.Body .StatLabel {
    color: #8588a0;
    font-size: 28px;
    font-weight: semi-bold;
}
.Body #Stat0.StatLabel {
    margin-left: 10px;
}

.IsCreep #StatStars {
    visibility: collapse;
}

#Stat0 {
    width: 260px;
}

#Stat1, #Stat2, #Stat3 {
    width: 160px;
}

.IsCreep #Stat2,
.IsCreep #Stat3 {
    visibility: collapse;
}

#StatStars
{
    background-image: url("s2r://panorama/images/heropedia/section-header-default-bg_png.vtex");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 72px;
    margin-left: -18px;
}

#StatStars Label {
    font-size: 28px;
    font-weight: black;
    margin-bottom: 3px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: gradient(linear, 0% 0%, 0% 100%, from(#D2E2FD), to (#fff));
}

#StatStars #Stat1,
#RankToggle1 Label
{
    color: gradient(linear, 0% 0%, 0% 100%, from(rank1Color), to(#81581A));
    text-shadow: 0px 1px 0px 3.0 #000;
}

#StatStars #Stat2,
#RankToggle2 Label
{
    color: gradient(linear, 0% 0%, 0% 100%, from(rank2Color), to(#4D88BD));
    text-shadow: 0px 1px 0px 3.0 #000;

}

#StatStars #Stat3,
#RankToggle3 Label
{
    color: gradient(linear, 0% 0%, 0% 100%, from(rank3Color), to(#FA9D12));
    text-shadow: 0px 1px 0px 3.0 #000;

}

#StatStars #Stat0
{
    text-shadow: 0px 1px 0px 3.0 #000;
    padding-top: 4px;
    margin-left: 28px;
}

#StatsHealth,
#StatDPS,
#Armor,
#DamageMin,
#AttackSpeed,
#AttackRange {
    /* background-color: #8588a011; */
}

.RankToggleContainer {
    width: 440px;
    height: 140px;
    margin-left: 15px;
    vertical-align: bottom;
    margin-bottom: 180px;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 18px;
    flow-children: right;
    horizontal-align: middle;
    visibility: visible;
    background-image: url("s2r://panorama/images/heropedia/paintbrush-neutral-bg_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

.IsPlatformMobile .RankToggleContainer
{
    ui-scale: 80%;
}

.RankToggleContainer Label {
    width: 72px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    horizontal-align: center;
    vertical-align: middle;
    margin-right: 0px;
    text-align: center;
    font-size: 60px;
}

.RankToggleContainer .RankToggle {
    /* width: 100px;
    height: 100px; */
    /* background-image: url("s2r://panorama/images/hud/dac_profile_level_progressbar_bg_png.vtex"); */
    background-size: cover;
    font-size: 20px;
    z-index: 800;
    width: fill-parent-flow(1.0);
}

.RankToggleContainer .RankToggle:hover {
    brightness: 2.5;
    font-size: 22px;
}

.IsCreep .RankToggleContainer {
    visibility: collapse;
}

.UnitRank1 #RankToggle1,
.UnitRank2 #RankToggle2,
.UnitRank3 #RankToggle3 {
    wash-color: #00000000;
}

#RankToggle1,
#RankToggle2,
#RankToggle3 {
    wash-color: #000000ef;
}


.IsCreep .NavigationButtons {
    visibility: collapse;
}

.NavigationButtons{
    width: 100%;
    height: 100%;
}

.NavigationButtons .BevelButton
{
    background-image: url("s2r://panorama/images/hud/cirlce-button-grey-bg_png.vtex");
    background-size: contain;
    background-color: transparent;
}

.IsPlatformMobile .NavigationButtons Button {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    vertical-align: middle;
    border: 0px solid #666669;
}

.NavigationButtons Button {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    vertical-align: middle;
    border: 0px solid #666669;
    background-color: #8588a022;
}


.NavigationButtons Button:hover {
    brightness: 2.0;
    border: 0px solid #666669;
}

.NavigationButtons Button:active {
    brightness: 1.5;
}

.NavigationButtons .Previous {
    horizontal-align: left;
    margin-left: 250px;
    opacity: .85;
}

.NavigationButtons .Next {
    horizontal-align: right;
    margin-right: 250px;
    opacity: .85;
}

.IsPlatformMobile .NavigationButtons .Previous {
    margin-left: 50px;
}

.IsPlatformMobile .NavigationButtons .Next {
    margin-right: 50px;
}

.NavigationButtons .Arrow {
    width: 100px;
    height: 100px;
    /* background-image: url("s2r://panorama/images/dashboard/reward_arrow_png.vtex"); */
    background-image: url("s2r://panorama/images/hud/arrow-left_png.vtex");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    horizontal-align: center;
    margin-right: 4px;
    margin-top: 6px;
}

.IsPlatformMobile .NavigationButtons .Arrow
{
    background-size: 70%;
}

.NavigationButtons Label {
    margin-right: 10px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: semi-bold;
    text-overflow: clip;
    horizontal-align: right;
    vertical-align: middle;
    text-align: right;
    visibility: collapse;
}

.NavigationButtons .Right {
    transform: ScaleX(-1);
    horizontal-align: right;
    text-align: left;
}

.NavigationButtons .Right Label {
    transform: ScaleX(-1);
    horizontal-align: right;
}

.RotationButtons {
    width: 100%;
    height: 100%;
    opacity: 0.01;
    brightness: 0.01;
}

.Dragging .RotationButtons:hover {
    opacity: 0.5;
    brightness: 1;
}

.RotationButtons:hover {
    opacity: 0.5;
    brightness: 0.5;
}

.RotationButtons .Arrow {
    width: 80px;
    height: 80px;
    background-image: url("s2r://panorama/images/dashboard/reward_arrow_png.vtex");
    background-size: 60% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    horizontal-align: left;
}

.RotationButtons .Right {
    transform: ScaleX(-1);
    horizontal-align: right;
    text-align: left;
}

#BlurBackground
{
    /* background-color: red; */
    background-color: white;
}
