/* styles for the generic popup */
.PopupPanel
{

    //background-color: #000000ee;
    background-color: #222222ee;

    background-repeat: no-repeat;

	//min-height:300px;
	animation-name: none;
	padding: 24px 0px 16px 0px;
}

.IsPlatformPC .PopupPanel
{
	ui-scale: 80%;
}


.MessagePanel
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: right;
	height: fit-children;
}

#MessageLabel,
.MessageLabel
{
	font-size: 24px;
	color: uiStandardGrey;
	horizontal-align: center;
	vertical-align: center;
	text-align: left;
	//text-shadow: 1px 1px 2px 2.0 #00000055;
	margin-bottom: 16px;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: light;

	color: #ddd;
	font-size: 24px;
	//text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
}


.PopupTitle
{
	margin-bottom: 16px;
	margin-top: 16px;
	font-size: 32px;

    text-overflow: shrink;
	font-weight: black;
	letter-spacing: 4px;
    vertical-align: center;
    horizontal-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.PopupButton Label
{
	//text-shadow: .5px .5px 2px 2.0 #00000055;
	//color: uiBrightGrey;
}

.PopupButton
{
	//box-shadow: #00000033 -3px -3px 6px 6px;
}

.WideMode #MessageLabel
{
	max-width: 700px;
}

.PopupPanel.EconItemIconEnabled #MessageLabel
{
	text-align: left;
}

#Spinner
{
	horizontal-align: center;
	visibility: collapse;
	margin-top: 10px;
}

#Spinner.SpinnerVisible
{
	visibility: visible;
}

.ImageContainer
{
	flow-children:down;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
}

#EconItemImage
{
	width: 80px;
	margin-right: 15px;
	visibility: collapse;
}

.PopupPanel.EconItemIconEnabled #EconItemImage
{
	visibility: visible;
}

#HeroImage
{
	width: 80px;
	margin-right: 15px;
	visibility: collapse;
}

 .PopupPanel.HeroIconEnabled #HeroImage
{
	visibility: visible;
}

.Confirmation 
{
	margin-top: 9px;
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.PopupPanel.ConfirmationCodeEnabled .Confirmation
{
	visibility: visible;
}

.Confirmation Label
{
	horizontal-align: center;
}

#ConfirmationText
{
	horizontal-align: center;
	margin-top: 10px;
}

.CriticalText
{
	color: #FF0000;
}

#ProgressBar
{
	horizontal-align: center;
	visibility: collapse;
	margin-top: 10px;
}

#ProgressBar.ProgressBarVisible
{
	visibility: visible;
}

@keyframes 'DelayedFadeOpacityIn'
{
	0%
	{
		opacity: 0.0;
	}

	80%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}


.DelayedButtons #ButtonContainer
{
	animation-name: DelayedFadeOpacityIn;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

#ButtonContainer
{
	horizontal-align:center;
	flow-children:right;
	vertical-align: middle;
}

.NoTitle #TitleLabel,
.NoMessage #MessageLabel
{
	visibility: collapse;
}


.NoTitle #MessageLabel
{
	margin-top: 12px;
}

.FeaturedDeckNameConfirm
{
	color: white;
}

.Hidden .PopupBlurBackgroundImage
{
	opacity: 0;
}

.PopupBlurBackgroundImage
{
	width: 100%;
	height: 100%;
	opacity: 0.5;
    //background-color: black;
	//blur: gaussian( 7 );
	transition-property: opacity;
	transition-duration: 0.5s;
}

.PopupBlurBackgroundOverlay
{
	width: 100%;
	height: 100%;
	//background-color: #5672;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #333742 ), color-stop( 0.015, #272b36 ), color-stop( .5, rgb(30, 33, 45) ), to( #252934 ) );
	
	transition-property: background-color, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.ButtonContainer
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	z-index: 99;
}