.PopupPanel
{
	width: 100%;
	height: 100%;
	transition-property: none;
	transition-duration: 0s;
	flow-children: none;
}

.TutorialImage
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.Slide1
{
	background-image: url("s2r://panorama/images/hud/1welcome_png.vtex");
}

.Slide2
{
	background-image: url("s2r://panorama/images/hud/2shop_png.vtex");
}

.Slide3
{
	background-image: url("s2r://panorama/images/hud/3movebeast_png.vtex");
}

.Slide4
{
	background-image: url("s2r://panorama/images/hud/4battlephase_png.vtex");
}

.Slide5
{
	background-image: url("s2r://panorama/images/hud/5enemystack_png.vtex");
}

.Slide6
{
	background-image: url("s2r://panorama/images/hud/6wonround_png.vtex");
}

.Slide7
{
	background-image: url("s2r://panorama/images/hud/7stars_png.vtex");
}

.Slide8
{
	background-image: url("s2r://panorama/images/hud/8synergies_png.vtex");
}

.NextButton
{
	width: 100px;
	height: 200px;
	vertical-align: center;
	margin-bottom: 30px;
	horizontal-align: right;
	margin-right: 30px;
	background-image: url("s2r://panorama/images/hud/r_arrow_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.PrevButton
{
	width: 100px;
	height: 200px;
	vertical-align: center;
	margin-bottom: 30px;
	horizontal-align: left;
	margin-left: 30px;
	background-image: url("s2r://panorama/images/hud/l_arrow_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}