PopupRankUp
{
    width: 100%;
    height: 100%;
    flow-children: none;
    sound: "DCG_Progression.Ranked_Tier_01";
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 900px;
    height: fit-children;
}

.MainBody
{
    width: 100%;
    margin-top: 32px;
    height: 400px;
    flow-children: down;
}

.Title
{
    horizontal-align: center;
    color: uiLightGrey;
    font-size: 48px;
    font-weight: light;
}

.Subheading
{
    horizontal-align: center;
    color: uiStandardGrey;
    font-weight: light;
    font-size: 20px;
}

.RankChange #OldRank
{
    visibility: collapse;
}

.RankChange #NewRank
{
    visibility: visible;
}
#NewRank
{
    visibility: collapse;
}

#RankContainer
{
    width: 100%;
    height: fit-children;
    margin-top: 10px;
    horizontal-align: center;
}

#Rank1 {
    background-image: url("s2r://panorama/images/rank_icons/rank1_psd.vtex");
    background-repeat: no-repeat;
}
#Rank2 {
    background-image: url("s2r://panorama/images/rank_icons/rank2_psd.vtex");
    background-repeat: no-repeat;
}

.RankIcon
{
    width: 256px;
    height: 256px;
    vertical-align: center;
    horizontal-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.RankLabel
{
    vertical-align: center;
    horizontal-align: center;
    font-size: 20px;
    //text-shadow: 0px 0px 6px 4.0 #71ffff11;
    text-overflow: shrink;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 2px;
    color: uiStandardGrey;
    text-shadow: 0px 0px 6px 3.0 #00000033;
}

.RankLabelBig
{
    horizontal-align: center;
    font-size: 104px;
    text-overflow: shrink;
    font-weight: light;
    color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( .3, #c8cdd6 ), color-stop( .3, #c8cdd6 ), color-stop( .8, #8b97a6 ), to( #8b97a6 ) );
}

.BottomButtonContainer
{
    vertical-align: bottom;
    width: 100%;
    padding-bottom: 10px;
}

.BottomButtonContainer Button
{
    vertical-align: center;
    horizontal-align: center;
}

.BottomButtonContainer Button Label
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 32px;
    text-shadow: 0px 0px 3px 4.0 #00000088;
}

.BottomButtonContainer Button:hover
{
    brightness: 1.2;
}

.BottomButtonContainer Button:hover Label
{
    text-shadow: 0px 0px 6px 4.0 #71ffff11;
}

.BottomButtonContainer Button:disabled
{
    brightness: 0.1;
}
.BottomButtonContainer Button:hover:disabled
{
    brightness: 0.15;
}
.BottomButtonContainer Button:disabled Label
{
    text-shadow: none;
}
.BottomButtonContainer Button:hover:disabled Label
{
    text-shadow: none;
}

#ContinueButton
{
	horizontal-align: right;
}

#RankIcon
{
    horizontal-align:center;
}