PopupGems
{
	flow-children:down;
	background-color:gradient( linear, 0% 0%, 0% 100%, from( #151515 ), to( #2f2f2f ) );
	padding: 12px;
}

.IsLayoutSmallScreen PopupGems
{
	ui-scale: 120%;
}

.MenuGems
{
	min-width:600px;
	min-height: 200px;
}

.Hover 
{
	color: textBrighter;
}

.Gem
{
	width:100%;
	height: fit-children;
	flow-children:right;
	padding: 8px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.IsLayoutSmallScreen .Gem
{
	margin-bottom: 4px;
}

.Gem:hover
{
	background-color:gradient( linear, 0% 0%, 0% 100%, from( #3d3c4ecc ), to( #38353acc ) );
}

#ItemPanel
{
	height: 64px;
	width: 64px;
}

#HeroPanel
{
	height: 35px;
	width: 35px;
	margin-top: -5px;
	margin-left: -5px;
}

.ItemName
{
	color: textBright;
	font-weight: black;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 2px;
}

.ItemContainer
{
	flow-children: down;
	height: fit-children;
}

.ItemDesc
{
	color: textDefault;
	font-size: 24px;
}

.GemName
{
	width: 600px;
	font-weight: black;
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 4px;
}

.OffensiveGem .GemName
{
	color: #fd745e;
}

.DefensiveGem .GemName
{
	color: #a2ff92;
}

.SupportGem .GemName
{
	color: #65bbf4;
}

#ItemContainer
{
	width:fit-children;
	height:fit-children;
	margin-right: 16px;
}

#OffensiveGemIcon
{
	height: 18px;
	width: 18px;
	vertical-align: bottom;
	horizontal-align: left;
	visibility:collapse;
}

.HasOffensive #OffensiveGemIcon
{
	visibility:visible;
}

#DefensiveGemIcon
{
	height: 18px;
	width: 18px;
	vertical-align: bottom;
	horizontal-align: middle;
	visibility: collapse;
}

.HasDefensive #DefensiveGemIcon
{
	visibility: visible;
}


#SupportGemIcon
{
	height: 18px;
	width: 18px;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

.HasSupport #SupportGemIcon
{
	visibility: visible;
}
