PopupLookingForMatch
{
    width: 900px;
    height: fit-children;
    horizontal-align: left;
    vertical-align: bottom;
    sound: "DCG_Progression.Ranked_Tier_01";
    background-color: gradient( linear, 25% 100%, 100% 25%, from( #c8771800 ), to( #c87718 ) );
    background-color: gradient( radial, 0% 100%, 0% 0%, 75% 65%, from( #c8771855), to( #c8771800 ) );
}

.IsLayoutLargeScreen PopupLookingForMatch
{
    //ui-scale: 80%;
}

.IsLayoutLargeScreen .PopupPanel
{
    ui-scale: 100%;
}


PopupLookingForMatch .PopupPanel
{
    background-color: none;
    border: 0px;
}

PopupLookingForMatch #ContinueButton
{
    //horizontal-align: right;
}

#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: 100%;
    //height: 312px;
    height: 200px;
    flow-children: down;
}

.Title
{
    text-overflow: shrink;
    font-weight: black;
    letter-spacing: 2px;
    vertical-align: center;
    horizontal-align: left;
    color: #ffa945;
    text-transform: uppercase;
    font-size: 32px;
    padding-left: 24px;
    margin-top: 36px;
}

.Spinner
{
    width: 42px;
    height: 42px;
    margin-top: 51px;
    margin-left: 10px;

    background-image: url("s2r://panorama/images/dashboard/loading_throbber_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    animation-name: MoreDots;
    animation-duration: 1.s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#CancelSearchButton
{
    width: 36px;
    height: 36px;
    background-size: 100%;
    margin-top: 54px;
    margin-left: 16px;
    background-image: url("s2r://panorama/images/dashboard/cancel_button_psd.vtex");
    wash-color: #ffa945;
    transition-property: wash-color;
    transition-duration: 0.2s;

}

#CancelSearchButton:hover
{
    wash-color: #ffc179;
}

@keyframes 'MoreDots'
{
    0%
    {
        transform: rotateZ( 0deg );
    }
    50%
    {
        transform: rotateZ( 180deg );
    }
    100%
    {
        transform: rotateZ( 360deg );
    }
}

#DescAndSpinner 
{
    margin-top: 48px;
    flow-children: right;
    height: 120px;
    width: fit-children;
    horizontal-align: left;
    margin-left: safe-area-inset-left;
}

#DevMMCount
{
    horizontal-align: left;
    margin-top: 0px;
    font-size: 24px;
    color: #c2bfb0;
    text-transform: uppercase;
    font-weight: black;
}

#DevMMContainer
{
    flow-children: right;
    margin-top: 92px;
    margin-left: 40px;
}

#ContinueButton
{
    horizontal-align: right;
}

.CanForceMatch #ForceMatch,
.CanForceMatch #DevMMCount
{
    visibility: visible;
}

#ForceMatch,
#DevMMCount
{
    visibility: collapse;
}

.TempButton
{
    border: 1px solid #c2bfb0;
    background-color: #00000088;
    width: 150px;
    height: 32px;
    //padding: 0 3px;
    margin: 0px;
    flow-children: down;
    horizontal-align: left;
    margin-left: 20px;
    color: #c2bfb0;
}

.TempButton Label
{
    font-size: 21px;
    horizontal-align: center;
    vertical-align: center;
}

.TempButton:hover
{
    background-color: #444;
}
