.IsLayoutLargeScreen PopupItem {
	ui-scale: 80%;
}


.PopupPanel {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;

	background-image: url("s2r://panorama/images/post_game/postgame_bg_psd.vtex");
	background-size: 200% 110%;
	background-position: 50% 70%;

	flow-children: none;
}

.JailPosterContents
{
	//width: 1500px;
	width: 100%;
	height: 1150px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;

	margin-bottom: safe-area-inset-bottom;
}

.IsLayoutSmallScreen .JailPosterContents
{
	ui-scale: 90%;
}

.IsLayoutSmallScreen .RickySez
{
	ui-scale: 85%;
}

.AspectRatio21x9.IsLayoutSmallScreen .RickySez
{
	margin-right: 50px;
	margin-right: safe-area-inset-right;
}

.JailPoster
{
	width: 1600px;
	height: 1200px;
	horizontal-align: center;
	vertical-align: center;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/post_game/popup_bg_01_psd.vtex");
}

.Body
{
	width:100%;
	vertical-align: middle;
	height:fit-children;
}

.Footer
{
	width: 1400px;
	horizontal-align: center;
	height: fit-children;
	//border-top: 2px solid #2f2a28;
}

.FooterLabel
{
	horizontal-align: center;
	width: 1400px;
	text-align:center;
	font-size: 24px;
	font-weight: bold;
	color: #2f2a28cc;
}


#JailContainer
{
	width: 1500px;
	//width: 1200px;
	height: 825px;
	//height: fit-children;
	max-height: 825px;
	horizontal-align: center;
	flow-children:right-wrap;
}


.Title
{
	margin-top: 30px;
	horizontal-align: center;
	//horizontal-align: left;
	font-size: 100px;
	//font-size: 72px;
	//font-size: 60px;
	font-weight: black;
	//color: white;
	color: #92847b;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-family: Ravenhook, Radiance;

	background-image: url("s2r://panorama/images/jail/title_bg_04_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	//background-color: black;
	padding: 5px 100px 5px 100px;
}

.IsLayoutSmallScreen .Title
{
	font-size: 80px;
	margin-top: 40px;
}

.Description
{
	horizontal-align: center;
	width: 1300px;
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	color: #2f2a28;
}

.CountdownTimerToJailRefresh
{
	background-color: #666;
	height: fit-children;
	width: 100%;
	font-weight: black;
	color: white;
}

#ReleaseFromJail
{
	horizontal-align: center;
	margin-bottom: 25px;
}

.CountdownTimerToJailRefresh .ReleaseFromJailLabel
{
	//horizontal-align: center;
	//text-transform: uppercase;
	//text-align: center;
	//font-size: 36px;
}


.HeroCell
{
	flow-children:right;
	height:fit-children;
	max-height: 175px;
	//width: 200px;
	width: 450px;
	margin-left:30px;
	//margin-right:15px;
	margin-bottom: 30px;
}

.HeroIcon
{
	//width: 100%;
    //height: 180px;
    width: 175px;
    height: 175px;
	visibility:visible;
	horizontal-align:center;
	opacity-mask: url("s2r://panorama/images/post_game/poster_opacity_mask_square_psd.vtex");
	saturation: .85;
	brightness: .75;
}

.HeroInfo
{
	flow-children: down;
	width: 300px;
	margin-left: 20px;
}

.HeroName
{
	font-family: ravenhook, radiance;
    color: gradient(linear, 0% 0%, 0% 100%, from( #2b0505 ), to(#2b0505));    
	color: #2f2a28;
	font-size: 36px;
	font-weight: black;
	line-height: 36px;
	text-transform: uppercase; 
	text-overflow: shrink;
	width:100%;
	height:fit-children;
	vertical-align: top;
	margin-top: -10px;
}

.IsLayoutSmallScreen .HeroName
{
	font-size: 32px;
}

.SynergyCapsuleContainer
{
	//ui-scale: 80%;
	ui-scale: 55%;
	//horizontal-align: center;
	horizontal-align: left;
	margin-left: 0px;
}

.Crime
{
	color: #2f2a28dd;
	font-size: 21px;
	font-weight: black;
	font-size: 18px;
	text-transform: uppercase; 
	height:fit-children;
	vertical-align: bottom;
	width:100%;
}

.IsLayoutSmallScreen .Crime
{
	font-size: 28px;
	max-height: 100px;
	text-overflow: shrink;
}

.CellBars
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/jail/jail_bars_psd.vtex");
	background-size:contain;

	visibility: collapse;
}

.IsLayoutSmallScreen #PopupAboutDuos #BackButton
{
	margin-left: safe-area-inset-left;
}

.RickySez
{
	width: 550px;
	height: 800px;
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
}

.RickySezLabel1,
.RickySezLabel2
{
	width: 360px;
	font-family: Ravenhook, Radiance;
	horizontal-align: right;
	margin-right: 25px;
}

.RickySezLabel1
{
	color: #92847b88;
	font-size: 28px;
	text-shadow: 2px 2px 3 5px #000000;
}

.RickySezLabel2
{
	font-size: 44px;
	//color: #c4b9b2;
	color: #92847b;	
	text-shadow: 2px 2px 9 15px #000000;
}

.RickySezImage
{
	background-image: url("s2r://panorama/images/jail/raven_hookey_psd.vtex");
	background-size: 90% 90%;
	width: 100%;
	height: 100%;
	//width: 400px;
	//height: 100%;
	background-position: 300% 20%;
	//vertical-align: bottom;
	background-repeat: no-repeat;
}

.CloseJail
{
	width: 100px;
	height: 100px;
	horizontal-align: right;
	vertical-align: top;
	margin: 75px 75px 0px 0px;

	background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
	background-size: contain;
	wash-color: #92847b;
	opacity: .75;
}

#PopupAboutJail #BackButton
{
	visibility: visible;
	wash-color: #92847b;
}

.IsLayoutLargeScreen #PopupAboutJail #BackButton
{
	ui-scale: 130%;
	margin: 48px 0px 0px 48px;
}
.AspectRatio21x9.IsLayoutSmallScreen #PopupAboutJail #BackButton
{
	margin-left: safe-area-inset-left;
}

.JailButton
{
	background-color: #70645f;
	width: 420px;
	height: 80px;
	margin: 40px 12px 0px 12px;
	border: 2px solid #48403d;
}

.JailButton Label
{
	color: #2f2a28;
	vertical-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: black;
	font-size: 32px;
}
