#ChallengeClaimMsg.PopupPanel {
	width: 1120px;
	height: fit-children;
	height: 660px;
	vertical-align: middle;
	padding: 0px;
	background-color: none;
	background-image: url("s2r://panorama/images/post_game/popup_bg_01_psd.vtex");
	border-width: 0px;
	transform: rotateZ(-2deg);
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.Body .HeaderText
{
	color: #2f2a28;
	font-size: 80px;
	line-height: 80px;
	text-transform: uppercase;
	vertical-align: center;
	text-align: center;
}

.ClaimText {
	text-shadow: 0px 4px 0px 3.0 #00000035;
	color: #000;
	text-transform: uppercase;

}

#ClaimButton {
	horizontal-align: center;
	vertical-align: bottom;
	border: 2px solid #fbbc2e ;
	background-color: gradient( linear, 0% 90%, 0% 0%, from( #836218 ), to( #4a370e) );

	margin-top: 40px;
}

#ClaimText {
	font-size: 64px;
	text-transform: uppercase;
	padding: 4px 36px 4px 36px;
	font-family: Radiance Black Distressed, k_alwaysFontNames;
	color: gradient( linear, 0% 90%, 0% 0%, from( #fbbc2e ), to( #ebd784 ) );
}

.DailyChallengeClaimFX
{
	width: 100%;
	height: 124%;
	margin-left: -2px;
	margin-top: -2px;
	margin-bottom: -50px;
}

#RewardName {
	color: #2f2a28;
	font-weight: bold;
	font-size: 36px;
}

.CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 48px;
	height: 48px;
	background-color: #000;
	/*Must have color or wash/opacity bug*/
	background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: white;
}

Label i
{
	font-style: italic;
}

.Body
{
	width: 100%;
	height: fit-children;
	padding: 25px;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	margin-top: -40px;
}

.Body Label {
	color: #d4e1f6;

	horizontal-align: center;
}

