.IsLayoutLargeScreen PopupAbility {
	ui-scale: 80%;
}

.PopupPanel {
	width: 1200px;
	height: fit-children;
	min-height: 440px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.Body .HeaderText
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #f8d37f ), to(#f8ecd2));
	font-size: 50px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

.CloseButton {
    horizontal-align: right;
    vertical-align: middle;
    width: 72px;
    height: 72px;
    margin-right: 0px;
    background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: brightness;
    transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	brightness: 1.0;
}

.CloseButton:hover
{
	brightness: 1.7;
}

.CloseButton:active
{
	brightness: 1.7;
}

Label i
{
	font-style: italic;
}

.Body
{
	width: 100%;
	height: fit-children;
	padding: 25px;
	flow-children: right;
}

.Body Label {
	color: textDefault;
	font-size: 28px;
}

.Body .DescriptionText {
	font-size: 28px;
	margin-bottom: 10px;
}

.Body .Left {
	width: 300px;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: visible;
}

.Body .Right {
	width: 650px;
	height: fit-children;
	flow-children: down-wrap;
	horizontal-align: left;
	margin-left: 30px;
}

#AbilityImage
{
	width: 160px;
	height: 160px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: center;
	horizontal-align: center;
	visibility: visible;
	background-image: url("s2r://panorama/images/heroes/spellicons/highroller_psd.vtex");
	background-size: contain;
}

.AbilityBevel
{
	width: 160px;
	height: 160px;
	//background-image: url("s2r://panorama/images/hud/ability_icon_bevel_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	vertical-align: center;
	horizontal-align: center;
}

Label.CooldownText
{
	margin-top: 15px;
	vertical-align: bottom;
	margin-bottom: 4px;

	font-size: 32px;

	visibility: collapse;

	color: white;
}

.HasCooldowns .CooldownText
{
	visibility: visible;
}

#HighRollerIconEffect
{
	width: 100%;
	height: 100%;
}
