.PopupPanel
{
	width: 1588px;
	height: 920px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
	transition-property: opacity, transform, pre-transform-scale2d, wash-color;
	transition-duration: 0.4s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
	border: 2px solid #32383677;
    flow-children: none;
}

.LowVisualQuality .PopupPanel 
{
    transition-duration: 0.0s;
    box-shadow: #00000000 0px 0px 0px 0px;
	border: 0px solid #00000000;
}

.AspectRatio4x3 .PopupPanel {
    width: 1395px;
    height: 930px;
}

#DACCloseSettingsButton {
    margin-left: 6px;
    margin-top: 6px;
    width: 32px;
    height: 32px;
    background-image: url("s2r://panorama/images/control_icons/gear_return_png.vtex");
    background-color: black;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    horizontal-align: right;
    margin-right: 28px;
    wash-color: #575d5f;
}

    #DACCloseSettingsButton:hover {
        wash-color: #939da0;
    }

    #DACCloseSettingsButton:active {
        sound: "ui_settings_out_multi";
    }

.IsPlatformMobile #DACCloseSettingsButton {
    margin-bottom: 6px;
    margin-right: 6px;
    width: 75px;
    height: 75px;
    wash-color: #939da0;
}