.PopupPuzzleVictory
{
    width: 100%;
    height: 100%;
    pre-transform-scale2d: .7;
    transition-property: opacity;
    transition-duration: 0.2s;
    visibility: collapse;
    vertical-align: top;
    margin-top: -100px;
}

/* .IsLayoutSmallScreen .PopupPuzzleVictory {
    ui-scale: 130%;
} */
.PopupPuzzleVictory.ShowVictory
{
    visibility: visible;
    animation-name: IntroAppearAnim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    pre-transform-scale2d: .7;
}


// Individual profile anim
@keyframes 'IntroAppearAnim' {
	0% {
		opacity: 0;
		pre-transform-scale2d: 3.0;
	}
	1% {
		opacity: 1;
		pre-transform-scale2d: 3.0;
	}
	5% {
		opacity: 1;
		pre-transform-scale2d: .5;
	}		
	8%
	{
		opacity: 1; 
		pre-transform-scale2d: .7;
	}
	97%
	{
		opacity: 1; 
		pre-transform-scale2d: .7;
	}
	100%
	{
		opacity: 1; 
		pre-transform-scale2d: .7;
	}
}
.LowVisualQuality .PopupPuzzleVictory.ShowVictory
{
    animation-name: none;
    visibility: visible;
    opacity: 1;
}


#PlaceContainer
{
    background-image: url("s2r://panorama/images/hud/dac_banner_postgame_bg_png.vtex");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: rotateZ(-1.5deg);
}

#PlaceAccents
{
    background-image: url("s2r://panorama/images/hud/dac_banner_postgame_fg_png.vtex");
    background-position: center center;
    width: 100%;
    height: 100%;
    wash-color: #eaca72;
}

#PlaceText
{
	width:fit-children;
	height:760px;
	flow-children:none;
	vertical-align: center;
	horizontal-align: center;	
	transform: rotateZ(3.5deg);
	margin-left:50px;	
}

/* #ReturnToCityCrawl
{
    width: 400px;
    height: 80px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 60px;
    font-size: 304px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Radiance Black Distressed, k_alwaysFontNames;
    opacity: 0.8;
} */

#PlaceTitle,
#PlaceSubtitle
{
    vertical-align: center;
    horizontal-align: center;
    font-size: 304px;
    letter-spacing: 1px;
    vertical-align: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Radiance Black Distressed, k_alwaysFontNames;
    opacity: 0.8;
    color: gradient(linear, 100% 100%, 0% 10%, from( #eaca72 ), color-stop( 0.125, #eaca72 ), color-stop( 0.4, #eaca72 ), color-stop( 0.85, #efe199 ), to( #e1e199 ));
}

.LowerNavButton
{
	vertical-align: center;
	horizontal-align: left;
	transition-property: brightness, background-color;
	transition-duration: .2s; 
	horizontal-align: right;
    background-image: url("s2r://panorama/images/ui/splash_btn_white_bg_psd.vtex");
    background-size: 100% 100%;
    width: 1200px;
	height: 400px;
    horizontal-align: center;
    margin-top: 750px;
    opacity: 0.8;
}

.LowerNavButton Label
{
	font-family: Ravenhook;
	vertical-align: top;
	margin-top: 80px;
	transform: rotateZ(-1deg);
	font-size: 70px;
    color: #000000;
    width: 850px;
    height: 90px;
    horizontal-align: center;
    text-align: center;
    text-overflow: shrink;
}

.IsLayoutSmallScreen.AspectRatio4x3 .LowerNavButton Label {
    margin-top: 105px;
}

.LowerNavButton:hover {
    opacity: 1;
}


#PlaceSubtitle
{
	width:400px;		
	height:250px;
	vertical-align: bottom;
	margin-bottom:65px;
	text-overflow: shrink;
}


.ReturnToCityCrawlExit
{
    visibility: collapse;
}

.LaunchOrigin_CityCrawl .ReturnToCityCrawlExit
{
    visibility: visible;
}

.LaunchOrigin_CityCrawl .ReturnToMainMenuExit
{
    visibility: collapse;
}