
PopupSteamLogin
{
	width: 100%;
	height: 100%;
	//height: fit-children;
	horizontal-align:center;
	vertical-align: top;
	sound: "DCG_Progression.Ranked_Tier_01";
	font-family: Arial;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0C0C0C ), to( #212121 ) );


	animation-duration: 0.6s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, margin;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

/* PopupSteamLogin.StateIntro
{
	transform: translateY( 200px );
} */

PopupSteamLogin.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
}

PopupSteamLogin .PopupPanel
{
	width: 100%;
	height: 100%;
	padding: 0px;

	flow-children: none;

	border-width: 0px;
	background-color: none;
}

PopupSteamLogin .BackgroundSteamLogo
{
	width: 800px;
	height: 800px;

	opacity-mask: url("s2r://panorama/images/dashboard/steam_logo_high_png.vtex");

	margin-left: -100px;
	margin-top: 240px;
	margin-bottom: -210px;
	vertical-align: bottom;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #191919 ), to( #292929 ) );
}

#CloseButton
{
	border: 3px solid #666;
	border-radius: 50%;

	horizontal-align: right;
	vertical-align: top;

	width: 100px;
	height: 100px;

	margin: 40px;

	transition-property: brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#CloseButton:hover
{
	brightness: 2.0;
}

#CloseButton .ThinX
{
	width: 50%;
	height: 50%;

	horizontal-align: center;
	vertical-align: center;

	background-image: url("s2r://panorama/images/control_icons/plus_extra_thin_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;

	transform: rotateZ( 45deg );

	wash-color: #666;
}

.MainPage
{
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	flow-children: down;

	width:100%;
	height: 100%;

	opacity: 0;
}

.StateIntro #Intro,
.StateEnterUsernamePassword #EnterUsernamePassword,
.StateEnterSteamGuard #EnterSteamGuard,
.StateLoginFailed #LoginFailed,
.StateWorking #Working,
.StateConnecting #Working
{
	opacity: 1;
}

#Working .Header
{
	visibility: collapse;
}

.StateConnecting #Working .Header
{
	visibility: visible;
}

.StateConnecting #Working #SteamLogoThrobber
{
	margin-top: 50px;
}

.Header
{
	width: 100%;
	text-align: center;

	font-size: 80px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;

	margin-top: 80px;
}

#Intro .SubHeader
{
	margin-top: 10px;

	horizontal-align: center;
	width: 60%;
	height: fit-children;
	text-align: center;

	font-size: 46px;
	color: #868686;
	line-height: 40px;
	line-height: 50px;
	font-weight: normal;

	letter-spacing: 1px;
}

#Intro .NoAccount
{
	horizontal-align: center;
	width: 60%;
	text-align: center;

	font-size: 46px;
	color: #868686;
	line-height: 40px;
	font-weight: thin;

}

#Intro .Separator
{
	horizontal-align: center;

	width: 600px;
	height: 1px;
	border: 1px solid #333;

	margin-top: 40px;
	margin-bottom: 30px;
}

#LoginFailed #FailMessage
{
	horizontal-align: center;
	width: 60%;
	text-align: center;

	font-size: 46px;
	color: #DE3F3F;
	line-height: 40px;
	font-weight: normal;


	margin-top: 40px;
	margin-bottom: 40px;
}

.Forms
{
	margin-top: 80px;
	horizontal-align: center;
	flow-children: right;
}

.Forms .Form
{
	flow-children: down;

	margin-right: 20px;
}

.Forms .Form .FormHeader
{
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;

	margin-bottom: 4px;
	margin-left: 4px;

	color: #AAA;
}

.Forms .Form .FormEntry
{
	padding-top: 26px;
	padding-left: 12px;
	font-size: 60px;
	min-width: 600px;
	height: 120px;
	font-weight: normal;

	background-color: #282828;
	border-radius: 4px;

	margin-bottom: 10px;
	text-transform: none;

	color: white;
}

.Forms .Form #SteamGuard.FormEntry
{
	text-transform: uppercase;
}


.Forms .Form #Password.FormEntry
{
	padding-top: 12px;

}

.Forms .Form .FormFooter
{
	font-size: 40px;
	font-weight: thin;
	letter-spacing: 1px;
	text-decoration: underline;

	color: #777;
}

.Forms .Form .FormFooter:hover
{
	brightness: 2.0;
}

.Forms .SteamButton
{
	margin-top: 46px;
}



.SteamButton
{

	min-width: 600px;
	height: 120px;

	horizontal-align: center;

	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #3899EB ), to( #235ECE ) ); 

	transition-property: brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.SteamButton:hover
{
	brightness: 2.0;
}

#SubmitUsernamePasswordButton .Forms .SteamButton {
	margin-top: 40px;
}

.SteamButton > Label,
.SteamButton > Panel
{
	color: white;
	font-size: 50px;
	font-weight: bold;

	padding: 0px 40px;

	vertical-align: center;
	horizontal-align: center;
	
}

.SteamButtonOutline
{
	margin-top: 20px;

	min-width: 600px;
	height: 120px;
	border-radius: 4px;
	border: 2px solid #888;

	horizontal-align: center;

	transition-property: brightness, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.SteamButtonOutline:hover
{
	background-color: #222;
	brightness: 2.0;
}


.SteamButtonOutline .TextAndLogo
{
	flow-children: right;

	padding: 0px 40px;

	vertical-align: center;
	horizontal-align: center;
}


.SteamButtonOutline .TextAndLogo Label
{
	color: #EEE;
	font-size: 50px;

	margin-right: 20px;

	vertical-align: center;
}

.ExternalLinkIcon
{
	vertical-align: center;

	width: 35px;
	height: 35px;

	background-image: url("s2r://panorama/images/control_icons/external_link_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

#SteamLogoThrobber
{
	margin-top: 200px;
	width: 300px;
	height: 300px;
	horizontal-align: center;
}

.SteamLogoAnimated
{
	width: 100%;
	height: 100%;
}

@keyframes 'radiallines'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}

	100%
	{
		pre-transform-rotate2d: 360deg;
	}
}

@keyframes 'steamlogopulse'
{
	0%
	{
		opacity: .3;
	}

	50%
	{
		opacity: 1;
	}

	to
	{
		opacity: .3;
	}
}

#radial3
{
	background-image: url("s2r://panorama/images/dashboard/steamlogo_radiallines_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	animation-name: radiallines;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
	margin: 3px;
}

#radialMask
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/dashboard/steamlogo_mask_psd.vtex");
}

#steamlogothrobber_bg
{
	background-image: url("s2r://panorama/images/dashboard/steam_logo_solid_high_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	animation-name: steamlogopulse;
	animation-duration: 2.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

