.PopupPanel {
	width: 1200px;
	height: fit-children;
	min-height: 440px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.Body .HeaderText
{
	color: #C3C3C3;
	font-size: 50px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

.CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 48px;
	height: 48px;
	background-color: #000;
	/*Must have color or wash/opacity bug*/
	background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: white;
}

Label i
{
	font-style: italic;
}

.Body
{
	width: 100%;
	height: fit-children;
	padding: 25px;
	flow-children: down;
}

.Body Label {
	color: #d4e1f6;

	//horizontal-align: center;
}



.ExplainPoolLabel
{
	color: #aaadcc;
	font-size: 36px;
	width: 800px;
	horizontal-align: center;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	margin-top: 15px;
	text-align: center;
	font-style: italic;
}

.HeroOddsLabel
{
	font-size: 40px;
	line-height: 40px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	//letter-spacing: 1px;
	font-weight: semi-bold;
}

.HeroOddsLabel.Tier1
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#d0b2cd), to(#cedef8));
}

.HeroOddsLabel.Tier2
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#3ed93b), to(#99d3a0));
}

.HeroOddsLabel.Tier3
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#5990ff), to(#9cbbed));
}

.HeroOddsLabel.Tier4
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#e347ff), to(#e49bff));
}

.HeroOddsLabel.Tier5
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#fc9f45), to(#ffd0a2));
	padding-bottom: 16px;
}

.HeroOddsHeader,
.CurrentOddsHeader,
.NextOddsHeader
{
	color: #aaadcc;
	font-size: 40px;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	//padding: 16px 24px 0px 16px;
	margin-top: 30px;
}

.HeroOddsHeader
{
	font-size: 45px;
	horizontal-align: center;
}


.CurrentOddsHeader,
.NextOddsHeader
{
	color: #ffffffcc;
	margin-bottom: 5px;
	font-weight: black;
	text-transform: uppercase;
	horizontal-align: left;
}

.OddsContainer
{
	flow-children: right;
	horizontal-align: center;
}

.CurrentLevelOdds,
.NextLevelOdds
{
	flow-children: down;
}

.NextLevelOdds
{
	margin-left: 90px;
	//brightness: .6;
	wash-color: #6d94e366;
}

.Body .HeroOddsLabel
{
	horizontal-align: left;
	margin-top: 10px;
}