#TeamNameEntry {
    horizontal-align: center;
    width: 520px;
    margin: 20px 0px;
    border: 2px solid #333333;
}


.IsLayoutSmallScreen #RenameTeamPopup
{
	vertical-align: top;
	margin-top: 50px;
}