.IsPlatformPC PopupItem
{
    ui-scale: 80%;
}

.PopupPanel 
{
    width: 800px;
    height: fit-children;
    min-height: 440px;
    vertical-align: middle;
    padding: 0px;
}

.Header {
    padding: 10px;
    background-color: black;
    width: 100%;
    height: 100px;
    flow-children: right;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000060 ), to( #000 ) );
}

    .Header Label {
        color: white;
        font-size: 60px;
        height: 100px;
        margin-top: 4px;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: middle;
        text-overflow: shrink;
        max-width: 620px;
        text-shadow: 2px 3px 0px 3.0 #101010;
    }

.CloseButton {
    horizontal-align: right;
    vertical-align: center;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-color: #000; /*Must have color or wash/opacity bug*/
    background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    wash-color: white;
}

Label i {
    font-style: italic;
}

.Body {
    width: 100%;
    height: fit-children;
    padding: 25px;
    flow-children: right;
}

    .Body Label
    {
	    color: white;
	    font-size: 30px;
    }

    .Body .DescriptionText {
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 24px;
    }

    .Body .LoreText {
        font-size: 24px;
        line-height: 24px;
        color: #909080;
    }

    .Body .Left {
        width: 256px;
        height: 256px;
        background-size: contain;
        background-repeat: no-repeat;
        visibility: visible;
    }

    .Body .Right {
        width: 430px;
        height: fit-children;
        flow-children: down-wrap;
        horizontal-align: left;
        margin-left: 30px;
    }

#CostContainer {
    width: 150px;
    height: 150px;
    z-index: 100;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/shop/cost1_corner_stone_psd.vtex");
    background-size: 100%;
}

.Cost1 #CostContainer {
    background-image: url("s2r://panorama/images/shop/cost1_corner_stone_psd.vtex");
}

.Cost2 #CostContainer {
    background-image: url("s2r://panorama/images/shop/cost2_corner_stone_psd.vtex");
}

.Cost3 #CostContainer {
    background-image: url("s2r://panorama/images/shop/cost3_corner_stone_psd.vtex");
}

.Cost4 #CostContainer {
    background-image: url("s2r://panorama/images/shop/cost4_corner_stone_psd.vtex");
}

.Cost5 #CostContainer {
    background-image: url("s2r://panorama/images/shop/cost5_corner_stone_psd.vtex");
}

#CostNumber {
    font-size: 60px;
    horizontal-align: right;
    margin-right: 14px;
    color: #f3efd9;
    font-weight: semi-bold;
    margin-top: -2px;
}

.Cost1 #CostNumber {
    color: gradient(linear, 0% 0%, 0% 100%, from(#dedbca), to(#fdfcf8));
}

.Cost2 #CostNumber {
    color: gradient(linear, 0% 0%, 0% 100%, from(#81fc9e), to(#d2ffdd));
}

.Cost3 #CostNumber {
    color: gradient(linear, 0% 0%, 0% 100%, from(#81defc), to(#e3f8ff));
}

.Cost4 #CostNumber {
    color: gradient(linear, 0% 0%, 0% 100%, from(#ff9afe), to(#ffdfff));
}

.Cost5 #CostNumber {
    color: gradient(linear, 0% 0%, 0% 100%, from(#fc9f45), to(#ffd0a2));
}

#ItemImage {
    width: 256px;
    height: 256px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    visibility: visible;
}

.ItemTypeIcon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-image: url("s2r://panorama/images/hud/item_icon_equip_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

.ItemTypeEquipOffensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_attack_png.vtex");
}

.ItemTypeEquipDefensive .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_defense_png.vtex");
}

.ItemTypeEquipSupport .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/icon_tag_support_png.vtex");
}

.ItemTypeGlobal .ItemTypeIcon {
    background-image: url("s2r://panorama/images/hud/item_icon_global_psd.vtex");
    /*visibility: collapse;*/
}