#DynamicPopupContainer
{
	height:fit-children;
	flow-children:down;
}

#CityCrawlChallengesPopup
{
	width:60%;
	height:80%;
	//background-color: gradient (linear, 0% 0%, 0% 100%, from(#2c2e37cc), to(#000000ee));
	background-color: #1b1d24;
	background-size: 100%;
}

#ChallengesList
{
	height:fill-parent-flow(.8);
}

#GoToCityCrawlButton
{
	margin-top:20px;
	height: 88px;
	width:400px;	
	horizontal-align:center;
	background-image: url("s2r://panorama/images/hud/combat_button_bg_psd.vtex");
	background-size: 100%; 
	background-repeat: no-repeat;
	opacity:.8;
	transition-property: transform, brightness;
	transition-duration:.1s;
}

#GoToCityCrawlButton:hover {
	brightness: 1.5;
	opacity: 1;
	transform: translateY(-3px);
}

#CityCrawlButtonText
{	
	vertical-align: center;
	horizontal-align:center;
	font-size: 32px;
	font-weight: black;
	letter-spacing: 1px;
	color: #F4F4F4;
	text-transform: uppercase;
	text-align: left;
	font-family: Ravenhook;
	text-shadow: 2px 2px 1.0 #1f296188;
	text-align: center;
}

.CloseButton
{
	width: 80px;
	height: 80px;
	vertical-align: top;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/hud/close-button_png.vtex");
	background-size: 100%;
	opacity: 1;
	brightness: 0.8;
	transition-property: brightness;
	transition-duration: 0.2s;
	wash-color: none;
}
.CloseButton:hover
{
	brightness: 1.8;
}

.PanelHeader
{
	font-size: 52px;
	color: #b9bedc;
	margin-left: 6px;
}

.Header
{
	width: 100%;
}