@import url("file://{resources}/styles/battle_pass/current_battlepass.css");

PopupBattlepassPurchase {

}

#PopUpBPBacker
{
	width: 100%;
	height: 100%;
	background-color: black;
	border-top: 4px solid #50505055;
	border-right: 4px solid #35314755;
	border-bottom: 4px solid #2e2a4955;
	border-left: 4px solid #35363755;

	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/purchase_button_pop_up_backer_level_up_psd.vtex"); 	
}

.IsUnlock.NumItems_0 #PopUpBPBacker
{
	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/purchase_button_pop_up_backer_psd.vtex"); 
}

PopupBattlepassPurchase Label
{
	font-family: Radiance;
	font-weight: black;    
	text-transform: uppercase;    

	color: white;
}

.LevelUpOnly Label
{
	font-family: ravenhook;
	font-size: 32px;
	letter-spacing: 0px;
	color: #ffffff88;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eddcb7 ), to( #d5b172));
	width: 800px;
	text-align: center;
	text-shadow: 1px 1px 0px 2.0 black;
}

#TitleText
{
	margin-top: 14px;
	margin-left: -20px;
}

#Title #BattlePassTitle 
{
	font-family: Ravenhook;
	font-size: 60px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f9f3e5 ), color-stop( 0.33, #f9f3e5), color-stop( 0.33, #eddcb7), color-stop( 0.93, #b08d50), color-stop( 0.97, #b4712d),  to( #b4712d) );
	text-align: left;
	horizontal-align: left;
	text-shadow: 1px 1px 0px 2.0 black;
}

#Title #SeasonOneTitle
{
	font-family: Ravenhook;
	font-size: 90px;
	margin-top: -22px;
	text-shadow: 1px 1px 0px 2.0 black;
}

#Title #BuyLevelsTitle
{
	font-family: Ravenhook;
	font-size: 110px;
	margin-top: 12px;
	margin-left: -10px;
	text-shadow: 2px 2px 0px 2.0 black;
}
	

#DescriptionNoRewards,
#RewardsDescriptionMany,
#RewardsDescriptionOne
{
	text-transform: none;
	font-weight: medium;
	letter-spacing: 0px;
	color: #ffffff88;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eddcb7 ), to( #d5b172));
	width: 800px;
	text-align: center;
	text-shadow: 1px 1px 0px 2.0 black;
}

#DescriptionNoRewards
{
	width: 1400px;
}

PopupBattlepassPurchase #Body
{
	overflow: noclip;

	//width: 1600px;
	//height: 820px;
	
	width: 100%;
	height: 100%;

	flow-children: none;
}

#BodyMessage
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

PopupBattlepassPurchase.PopupPanel
{
	overflow: noclip;
	flow-children: none;
	background-color: black;
	height: 960px;
	width: 1900px;
	
	padding: 0px;
	border: 0px;
	background-color: #00000000;
}

.HasEnoughCreditsOnly
{
	visibility: collapse;
}
.NeedsCreditsOnly
{
	visibility: visible;
}

.HasEnoughCredits .HasEnoughCreditsOnly
{
	visibility: visible;
}

.HasEnoughCredits .NeedsCreditsOnly
{
	visibility: collapse;
}

.UnlockOnly,
.LevelUpOnly
{
	visibility: collapse;
}

.IsUnlock .UnlockOnly,
.IsLevelUp .LevelUpOnly
{
	visibility: visible;
}

.DescriptionSpacer
{
	height: 24px;
}

#Title
{
	margin-left: -80px;
	margin-top: 40px;

	transform: rotateZ(-5deg);

	width: fit-children;
	height: fit-children;
	flow-children: right;
}

#Title #CurrentLevel
{
	ui-scale: 160%;
}

#Title Label
{
	text-align: center;
	horizontal-align: center;
	font-size: 48px;

	width: fit-children;
	height: fit-children;
}

#Title #TitleText
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

#Title #Description
{
	font-size: 28px;
}

#CloseButton
{
	height: 95px;
	width: 95px;
	align: right top;
	background-image: url("s2r://panorama/images/hud/round_exit_button_psd.vtex");	
	background-size: 80px 80px;
	background-position: 100%;
	background-repeat: no-repeat;
	border: 0px;
	overflow: noclip;
	opacity: .4;
	transition-property: opacity;
	transition-duration: .2s;
	
	margin-top: 20px;
	margin-right: 30px;
	
}

#CloseButton:hover 
{
	background-color: none;
	brightness: 1.2; 
	opacity: 1;
}


#ItemContainer 
{
	padding-top: 350px;

	flow-children: right;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

#ItemContainer
{
	ui-scale: 100%;
	padding-top: 320px;
	padding-top: 345px;

	overflow: clip;

	max-width: 1820px;
}

.NumItems_1 #ItemContainer,
.NumItems_2 #ItemContainer,
.NumItems_3 #ItemContainer,
.NumItems_4 #ItemContainer,
.NumItems_5 #ItemContainer,
{
	ui-scale: 150%;
	padding-top: 140px;
}


#ImageNoRewards
{
	margin-top: 120px;
	width: 800px;
	height: 440px;
	visibility: collapse;
}

#PurchaseRewardsDescription
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 172px;
}


.IsUnlock #PurchaseRewardsDescription
{
	margin-bottom: 220px;
	margin-bottom: 210px;
}

.IsUnlock.NumItems_0 #PurchaseRewardsDescription
{
	margin-bottom: 172px;
}

#PurchaseRewardsDescription Label
{
	font-size: 32px;
	font-family: ravenhook;
}

#DescriptionNoRewards,
#RewardsDescriptionOne
{
	visibility: collapse;
}

.NumItems_0 #RewardsDescriptionMany,
.NumItems_0 #RewardsDescriptionOne
{
	visibility: collapse;
}

.NumItems_0 #ImageNoRewards,
.NumItems_0 #DescriptionNoRewards
{
	visibility: visible;
}

.NumItems_0 #ItemContainer,
.NumItems_0 #Description
{
	visibility: collapse;
}

.NumItems_1 #RewardsDescriptionMany
{
	visibility: collapse;
}
.NumItems_1 #RewardsDescriptionOne
{
	visibility: visible;
}

#Buttons
{
	vertical-align: bottom;
	horizontal-align: center;
	width: fit-children;

	flow-children: down;
	margin-bottom: 18px;
}

#MainButtonsContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

#Buttons #SelectHeader Label
{
	font-family: Radiance;
	font-size: 26px;
	color: #616474dd;
	font-weight: semi-bold;
	margin-bottom: -20px;
}

#SelectHeader
{
	visibility: collapse;
}

.IsLevelUp #SelectHeader
{
	visibility: visible;
}



#PurchaseOptions
{
	flow-children: down;
	
}

#PurchaseOptions:hover
{
	//brightness: 2;
}

#PurchaseContainer
{
	flow-children: right;
	
	box-shadow: 0px 0px 20px #4b5aff33;
	
	transition-property: brightness;
	transition-duration: .2s;
	vertical-align: center;
}

.IsLayoutSmallScreen #PurchaseContainer
{
	box-shadow: 0px 0px 10px #4b5aff33;
}

#PurchaseContainer:hover
{
	brightness: 2;
}

#Buttons Label
{
	text-align: center;
	horizontal-align: center;
	font-family: ravenhook;
	font-size: 46px;
	color: #ffffff;
	padding: 8px;
	padding-bottom: 10px;
	//padding-right: 18px;

	width: fit-children;
}

#JustThePrice
{
	margin-top: 2px;
}

#Buttons .LevelUpTextSpacer
{
	width: 12px;
}

Label#StorePrice
{
	font-family: Radiance;
	font-size: 26px;
	color: #5c89c6aa;
	font-weight: semi-bold;
	text-align: right;
	horizontal-align: right;
	margin-right: -6px;
	margin-top: -4px;
}

.NumItems_2 Label#StorePrice,
.NumItems_12 Label#StorePrice
{
	margin-top: -11px;
}


#AcceptButtonLabel
{
	horizontal-align: center;
	flow-children: down;
}

#AcceptButtonLabel Label
{
	padding-left: 12px;
	padding-right: 12px;
}

.CurrencyIcon
{
	width: 48px;
	height: 48px;
	margin-top: 1px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/battle_pass/currency_png.vtex");
	background-size: 100%;
}

.PanelButton
{
	horizontal-align: center;

	padding: 8px;
	font-size: 22px;

	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 12px;
	min-width: 300px;

	width: fit-children;
	height: fit-children;
	border: 3px solid #666666;
	transition-property: brightness;
	transition-duration: .2s; 
}

.PanelButton:hover
{
	brightness: 1.5;
}

#LevelUpSection
{
	flow-children: right;

	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

.NumItems_0 #LevelUpSection
{
	height: fill-parent-flow(0.8);
}

#LevelUpSection #Upgrades
{
	margin-top: 4px;
	width: fit-children;
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: right;
}

#IncludesLevels
{
	//vertical-align: center;
	horizontal-align: center;

	margin-top: 210px;
	margin-right: 40px;
	
	width: fit-children;
	height: fit-children;
	background-color: #24c1c7;
	text-shadow: 1px 1px 0px 2.0 #000000dd;
	//box-shadow: 2px 2px 0px 3.0 #000000;
	font-size: 34px;
	padding-bottom: 1px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;

	transform: rotateZ(14deg);
	border: 2px solid black;
	
	text-align: center;
	
	text-overflow: shrink;
	max-width: 380px;
	max-height: 46px;
}

#Violator
{
	width: fit-children;
	height: fit-children;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 100px;
	margin-right: 46px;
	
	opacity: 1;
	pre-transform-scale2d: 1;
	sound: "ui_custom_lobby_dialog_slide";
	
	animation-name: TitleContainerAppear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


#ViolatorArt
{
	background-image: url("s2r://panorama/images/battle_pass/purchase_pop_ups/5_level_violator_psd.vtex");
	background-size: 100%;
	width: 420px;
	height: 420px;
	
	
}

#LevelUpSection #DesiredLevel
{
	padding-left: 138px;
}

#LevelUpSection #BattlepassIcons
{
	horizontal-align: center;
}

#Upgrades Label
{
	font-size: 26px;
	text-align: center;
	width: 100%;
}

.IsUnlock #CurrentLevel
{
	horizontal-align: center;
}

#UnlockRewardLabel
{
	padding-top: 22px;
}

#BattlepassUnlockDescription
{
	flow-children: down;
	vertical-align: middle;
}

#BattlepassUnlockDescription Label
{
	font-size: 26px;
}

#Description
{
	horizontal-align: center;
	text-align: center;
	font-size: 32px;

	flow-children: down;
}

.IsLevelUp #Description
{
	padding-top: 660px;
}

.NumItems0 #Description
{
	visibility: collapse;
}

#UpgradeArrow
{
	width: 48px;
	height: 48px;

	horizontal-align: center;
	vertical-align: center;

	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	background-size: 100%;
}

.RewardItemContainer
{
	width: 178px;
	height: 349px;

	margin: 12px;

	horizontal-align: center;
}

.RewardItemContainer .PurchaseRewardLabel
{
	margin-top: 250px;
	text-align: center;
	horizontal-align: center;
	vertical-align: top;
}

.RewardItemContainer .MainRewardPanelFrame
{
	width: 100%;
	height: 249px;
}

.RewardItemContainer DACRewardPreviewScenePanel
{
	margin-top: 6px;
	vertical-align: top;
	horizontal-align: center;

	width: 162px;
	height: 236px;
}

.RewardItemContainer .RequireBattlePassIcon
{
	margin-top: 174px;
	vertical-align: top;
}

#CreditBalanceContainer
{
	vertical-align: top;
	flow-children: right;
	horizontal-align: right;

	padding-right: 130px;
	margin-top: 46px;
	
}

#CreditBalanceContainer Label
{
	font-size: 28px;
	vertical-align: middle;
	margin-right: -6px;
}

.LevelUpOfferButton
{
	flow-children: down;
	//padding-left: 20px;
	padding-right: 50px;

	transition-duration: 0.2s;
	transition-property: brightness, color;

	vertical-align: center;

	color: red;
	//brightness: 0.25;
	//ui-scale: 85%;
}


.SelectedLevelUpOffer_1 #LevelUpOffer1.LevelUpOfferButton,
.SelectedLevelUpOffer_2 #LevelUpOffer2.LevelUpOfferButton,
.SelectedLevelUpOffer_3 #LevelUpOffer3.LevelUpOfferButton
{
	brightness: 1;
	//ui-scale: 105%;
	color: red;
}


#Buttons .LevelUpOfferButton Label
{
	color: #616474dd;
	transition-duration: 0.2s;
	transition-property: color, brightness;
	font-size: 64px;
	text-shadow: 1px 1px 0px 2.0 black;
}

#Buttons .LevelUpOfferButton Label:hover
{
	brightness: 2;
}

.SelectedLevelUpOffer_1 #Buttons #LevelUpOffer1.LevelUpOfferButton Label,
.SelectedLevelUpOffer_2 #Buttons #LevelUpOffer2.LevelUpOfferButton Label,
.SelectedLevelUpOffer_3 #Buttons #LevelUpOffer3.LevelUpOfferButton Label
{
	brightness: 1;
	//ui-scale: 105%;
	color: #ffffff;
}


#DebugButtons
{
	ui-scale: 140%;

	opacity: .85;

	//margin-left: -300px;
	padding-bottom: -10px;
	vertical-align: bottom;
	height: fit-children;
	width: fit-children;
	flow-children: down;

	visibility: collapse;
}

.BuildMain #DebugButtons,
.BuildStaging #DebugButtons
{
	visibility: visible;
}

.DebugButton
{
	padding: 8px;
	font-size: 22px;

	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 12px;
	min-width: 300px;
	background-color: #000000;

	width: fit-children;
	height: fit-children;
	border: 3px solid #666666;
	transition-property: brightness;
	transition-duration: .2s; 

	visibility: collapse;
}

.DebugButton:hover
{
	brightness: 3.0;
	background-color: #333333;
}

#DebugButtons Label.ProbablyUnlocalizedText
{
	background-color: none;
	animation-name: none;
	color: #ffffff;
}

.DebugButtonsShow .DebugButton
{
	visibility: visible;
}

.ShowDebugButton
{
	visibility: visible;
} 

@keyframes 'TitleContainerAppear'
{
	0%
	{
		pre-transform-scale2d: 2;
		opacity: 0;
	} 

	70%
	{
		pre-transform-scale2d: 2;
		opacity: 0;
	} 

	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
	}
}