PopupBotDifficulty
{
    //height: 750px;
    height: fit-children;
    horizontal-align:center;
    vertical-align: center;
    flow-children: none;
    sound: "DAC_UI.MainMenu_Difficulty_PopUp";
}

.PopupPanel {
    background-color: none;
    border: 0px;
}


#EffectsPanel
{
    width: 100%;
    height: 100%;
}

.Contents
{
    width: fit-children;
	//height:750px;
    height: fit-children;
    flow-children: down;
}

.IsPlatformPC .Contents
{
    ui-scale: 80%;
}

.Title
{

    margin-top: 20px;
    horizontal-align: center;
    color: uiLightGrey;
    font-size: 80px;
    font-weight: black;
    color: black;
    text-transform: uppercase;
    transform: rotatez(2deg);
    background-color: #ffffff;
    padding: 0px 30px 0px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px #ffffff;

}

.SubTitle
{
    horizontal-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotatez(1deg);
    background-color: #000000;
    padding: 0px 30px;
    letter-spacing: 2px;
    margin-top: -35px;
    box-shadow: 0px 0px 3px #000000;
    margin-bottom: 20px;

}

#DifficultyContainer
{
    margin-top: 20px;
    height: 440px;
    //height: 100%;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 24px;
    flow-children: right;
}

.DifficultyPanel
{
    width: 300px;
	margin-top: 10px;
    height: 100%;
    margin-right: 10px;
    //background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000ff ), to( #0000b6 ) );
    flow-children: down;
    transition-property: brightness;
    transition-duration: .2s;  
}

.DifficultyPanel:hover
{
    brightness:1.8;
}
.DifficultyPanel.Disabled
{
	saturation:0;
	brightness:0.5;
}

.DifficultyPanel.Disabled #Proto
{
	saturation:0;
	brightness:0.5;
}

/*.DifficultyPanel:hover .BotImage {*/
    /*ui-scale: 108%;*/
/*}*/



.BotImage
{
    margin-top: 15px;
    width: 250px;
    height: 250px;
    horizontal-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex") 1;
}


.BotName
{
    horizontal-align: center;
    color: white;
    background-color: black;
    font-size: 36px;
    min-width: 300px;
    margin-top: 10px;
    text-align: center;
    transform: translateY(-30px);
    letter-spacing: 3px;
    font-weight: black;
    //padding: 0px 30px;
    text-overflow: shrink;
    //color: gradient( linear, 100% 0%, 0% 0%, from( #a7e8e3 ), to( #fff ) );
    text-transform: uppercase;
    /*text-shadow: 0px 0px 0px 2 black;*/
    box-shadow: 0px 0px 3px #000000;
}

.BotDesc
{
    horizontal-align: center;
    //color: uiLightGrey;
    color: #a7a8b2;
    font-size: 25px;
    font-weight: light;
    padding: 0px 15px 0px 15px;
    text-align: center;
    //margin-bottom: 20px;
    transform: translateY(-30px);
    //height: 100%;
}

.IsPlatformPC .BotDesc
{
    font-size: 24px;
}


.DifficultyBottom .DifficultyCancelButton
{
    width: 250px;
    margin-right: 35px;
    margin-bottom: 0px;

}

.PopupBottomContainer.DifficultyBottom
{
    background-color: none;
    margin-bottom: 20px;
}


.Line
{
    margin-right: 22px;
	margin-left: 16px;
    width: 1px;
    height: 410px;
	background-color: grey;
	opacity: 0.4;
    background-size: contain;
    background-repeat: no-repeat;
}


.Shield
{
    width: 65px;
	height: 80px;
	margin-top: -388px;
	margin-right: 2px;
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/proto_tag_png.vtex");
	transform: rotateZ(5deg) translateY(0px);
	background-size: 100%;
}

ToggleButton#PlayPausedButton.Activated:active:selected .DifficultyPanel#Proto
{
	background-color: red;
}


#NoBots {
    visibility: collapse;
}

.ShowNoBots #NoBots {
    visibility: visible;
}
.ShowNoBots #Separator
{
	visibility: collapse;
}

.ShowNoBots #Challenging{
	visibility:collapse;
}
.ShowNoBots #PlayPausedButton,
.ShowNoBots #PlayOurServers
{
	visibility: collapse;
}
.PlayAtOwnPace #Proto
{
	brightness:0.5;
	saturation:0;
}

#Easy .BotImage
{
	background-image: url("s2r://panorama/images/hud/solomatch_easy_psd.vtex");
}
#Medium .BotImage{ background-image: url("s2r://panorama/images/hud/solomatch_medium_psd.vtex"); }
#Hard .BotImage{ background-image: url("s2r://panorama/images/hud/solomatch_challenging_psd.vtex"); }
#Challenging .BotImage{ background-image: url("s2r://panorama/images/hud/solomatch_hardcore_psd.vtex"); }
#NoBots .BotImage{ background-image: url("s2r://panorama/images/hud/solomatch_nobots_psd.vtex"); }
#Proto .BotImage{ background-image: url("s2r://panorama/images/hud/solomatch_proto_psd.vtex"); }

.PlayAtOwnPace #Proto {
	saturation:0;
	brightness:0.08;
}

#Proto
{
	transition-property: brightness, saturation;
	transition-duration: 0.2s;
}

#ContinueButton
{
    horizontal-align: center;
    border: 2px solid #555555;
    background-color: #111111;
    background-image: none;
    width: 300px;
    height: 80px;
    margin-top: 44px;
}

#ContinueButton Label {
    horizontal-align: center;
    font-size: 32px;
    //margin-bottom: 4px;
    font-weight: black;
}

.PlayPausedOption
{
	horizontal-align: left;
	color: white;
	font-size: 28px;
	padding: 0px 15px 0px 10px;
    margin-left: 0px;
}

.IsPlatformPC .PlayPausedOption
{
    font-size: 27px;
}


#PlayPausedButton,
#PlayOurServers
{
	margin-left: 60px;
	vertical-align: top;
	horizontal-align: center;
	width:1080px;
	height: 46px;
}

#PopupBotDifficulty .TickBox
{
    width: 25px;
    height: 25px;

}

.EasyLabel {
    transform: rotateZ(3deg) translateY(-40px);
}

.MediumLabel {
    transform: rotateZ(-2deg) translateY(-40px);
}

.HardLabel {
    transform: rotateZ(1deg) translateY(-40px);
}

.ChallengingLabel {
    transform: rotateZ(-4deg) translateY(-40px);
}

.ProtoLabel {
    transform: rotateZ(4deg) translateY(-40px);
}

.BotNotes
{
	color: #a7a8b2;
}

ToggleButton:disabled .BotNotes
{
	color: #333333;
}