.IsPlatformPC PopupItem {
	ui-scale: 80%;
}

.PopupPanel {
	width: 1200px;
	height: fit-children;
	min-height: 440px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.TypeContainer
{
	flow-children: right;
	margin-top: -4px;
	margin-bottom: 8px;
	//Shawn told me to use negative margin so yell at him when your brain explodes on fire
}

.Body .HeaderText
{
	color: #C3C3C3;
	font-size: 50px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

.TierText
{
	font-size: 30px;
	color: #C3C3C3;

	font-weight: bold
	text-transform: uppercase;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;

	padding-left: 28px;
	line-height: 44px;

	margin-top: -4px;

	width: 600px;
	height: 70px;

	background-image: url("s2r://panorama/images/heropedia/section-header-default-bg_png.vtex");
	background-size: 100%;
	background-position: 0px center;
	background-repeat: no-repeat;
}

.Tier2 .TierText
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier2-bg_png.vtex");
}

.Tier3 .TierText
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier3-bg_png.vtex");
}

.Tier4 .TierText
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier4-bg_png.vtex");
}

.Tier5 .TierText
{
	background-image: url("s2r://panorama/images/heropedia/section-header-tier5-bg_png.vtex");
}

.Tier2 .TierText,
.Tier2 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #94c67b ), to( #32CD2F) );
}

.Tier3 .TierText,
.Tier3 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #57baf3 ), to( #056BF7) );
}

.Tier4 .TierText,
.Tier4 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eb7cea ), to( #BD05F7) );
}

.Tier5 .TierText,
.Tier5 .HeaderText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ecde7f ), to( #F7C105) );
}

.TierLabel
{
	text-transform: uppercase;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(purple), to(#000));
}

.ItemTypeLabel
{
	margin-top: 2px;
	vertical-align: center;
	color: #888;
	font-size: 20px;
	font-weight: light;
}

.CloseButton {
	horizontal-align: right;
	vertical-align: top;
	width: 48px;
	height: 48px;
	background-color: #000;
	/*Must have color or wash/opacity bug*/
	background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: white;
}

Label i {
	font-style: italic;
}

.Body {
	width: 100%;
	height: fit-children;
	padding: 25px;
	flow-children: right;
}

.Body Label {
	color: #d4e1f6;
	font-size: 30px;
}

.Body .DescriptionText {
	font-size: 28px;
	margin-bottom: 10px;
}

.Body .LoreText {
	font-size: 24px;
	line-height: 24px;
	color: #9fa8cf;
}

.Body .Left {
	width: 400px;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: visible;
}

.Body .Right {
	width: 650px;
	height: fit-children;
	flow-children: down-wrap;
	horizontal-align: left;
	margin-left: 30px;
}

#ItemImage {
	width: 256px;
	height: 256px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: center;
	horizontal-align: center;
	visibility: visible;
}

.ItemTypeIcon
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	margin-right: 10px;

	visibility: collapse;
}

.ItemTypeEquipOffensive .ItemTypeIcon {
	background-image: url("s2r://panorama/images/hud/icon_tag_attack_psd.vtex");
	visibility: visible;
}

.ItemTypeEquipDefensive .ItemTypeIcon
{
	background-image: url("s2r://panorama/images/hud/icon_tag_defense_psd.vtex");
	visibility: visible;
}

.ItemTypeEquipSupport .ItemTypeIcon
{
	background-image: url("s2r://panorama/images/hud/icon_tag_support_psd.vtex");
	visibility: visible;
}