/* styles for the popup manager */

PopupManager
{
	width: 100%;
	height: 100%;
}

#DimBackground
{
	width: 100%;
	height: 100%;
	background-color: #060606F0;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

#DimBackground.Hidden
{
    background-color: #06060600;
}

#BlurBackground
{
	width: 100%;
	height: 100%;
	background-color: #060606F0;
	opacity: 0.95;
	/* background-color: gradient(linear, 0% 100%, 0% 40%, from( #0f5f7c ), to( #000 )); */
	
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#BlurBackground.Hidden
{
	background-color: #00000000;
}

#BlurBackground:not(.Hidden):hover
{
	background-color: #060606F0;
}

#BlurBackground:active
{
	sound: "ui_settings_out_multi";
}


.IsTutorial #DimBackground
{
	background-color: #00000000;
}

.IsTutorial #BlurBackground.Hidden
{
	background-color: gradient(linear, 0% 100%, 5% 40%, from( #00000000 ), to( #00000000 ));
}


.IsTutorial #BlurBackground,
.IsTutorial #BlurBackground:not(.Hidden):hover
{
	//background-color: gradient(linear, 0% 100%, 5% 40%, from( #000000ff ), to( #00000000 ));
	background-color: gradient(linear, 0% 100%, 0% 70%, from( #7264b933 ), to( #00000000 ));
}

.SettingsPanelVisible #BlurBackground
{
	opacity: 0.25;
}

.SettingsPanelVisible #DimBackground
{
	opacity: 0.25;
}

