/* styles for the popup manager */

PopupManager
{
	width: 100%;
	height: 100%;

	transition-property: wash-color, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

    visibility: collapse;
}

PopupManager.HaveActivePopups
{
    visibility: visible;
}

#DimBackground
{
	width: 100%;
	height: 100%;
	background-color: #060606F0;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}


#DimBackground.Hidden
{
    background-color: #06060600;
}


.Page_DACChallengeWorldMap #DimBackground.Hidden {
	background-color: #00000030;
}


#BlurBackground
{
	width: 100%;
	height: 100%;
	background-color: #060606;
	opacity: 1;
	/* background-color: gradient(linear, 0% 100%, 0% 40%, from( #0f5f7c ), to( #000 )); */
	
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.BattlePassContainer #BlurBackground
{
	background-color: red;
	background-color: gradient(linear, 0% 100%, 0% 0%, from( #30244cee ), to( #025760ee ));
	background-image: url("s2r://panorama/images/vignettes/backing_vignette_soft_psd.vtex"); 
	background-size: 100%;
}

.Page_DACLoadoutPage #BlurBackground
{
	background-color: gradient(linear, 0% 100%, 0% 0%, from( #30244cee ), to( #025760ee ));
	background-image: url("s2r://panorama/images/vignettes/backing_vignette_soft_psd.vtex"); 
}

#BlurBackground.Hidden
{
	background-color: #00000000;
	background-image: none;
}

.Page_DACChallengeWorldMap #BlurBackground.Hidden {
	background-color: #000000;
	opacity: 0;
}

.Page_DACChallengeWorldMap #BlurBackground {
	background-color: #000000;
	opacity: 0.7;
}

/* #BlurBackground:not(.Hidden):hover
{
	background-color: #060606F0;
} */

#BlurBackground:active
{
	sound: "ui_settings_out_multi";
}


.IsTutorial #DimBackground
{
	background-color: #00000000;
}

.IsTutorial #BlurBackground.Hidden
{
	background-color: gradient(linear, 0% 100%, 5% 40%, from( #00000000 ), to( #00000000 ));
}


.IsTutorial #BlurBackground,
.IsTutorial #BlurBackground:not(.Hidden):hover
{
	//background-color: gradient(linear, 0% 100%, 5% 40%, from( #000000ff ), to( #00000000 ));
	background-color: gradient(linear, 0% 100%, 0% 70%, from( #7264b933 ), to( #00000000 ));
}

.SettingsPanelVisible #BlurBackground
{
	opacity: 0.6;
}

.SettingsPanelVisible #DimBackground
{
	opacity: 1;
}

DACPagePostGame #BlurBackground
{
	background-color: #060606cc;
}

