PopupReward
{
    width: 100%;
    height: 100%;
    flow-children: none;
    sound: "DCG_Progression.Ranked_Tier_01";
	overflow: noclip;
	width: 100%;
	height: 100%;
}

#RewardFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.1;
}

.IsLayoutSmallScreen PopupReward 
{
	
	ui-scale: 130%;
	horizontal-align: center;
	vertical-align: center;
}

#Overlay
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #14465c ), color-stop( 0.35, #102634fa ), color-stop( 0.6, #000000 ), to( #000000 ) );
	opacity: 1;
	transition-property: opacity, background-color;
	transition-duration: .2s;
	width: 100%;
	height: 100%;
}

#EquipButton
{
	width: 250px;
	height: 80px;
	border: 3px solid #eeeeee;
	horizontal-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
	visibility: collapse;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.CanEquip #EquipButton
{
	visibility: visible;
}

#EquipButton Label {
	text-transform: uppercase;
	padding-top: 3px;
	text-align: center;
	font-size: 32px;
	text-overflow: shrink;
	font-weight: black;
	letter-spacing: 4px;
	color: #eeeeee;
	vertical-align: center;
	horizontal-align: center;
}

.Contents
{
    vertical-align: center;
	horizontal-align: center;
}

#RewardContainer
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: fit-children;
	padding-top: 40px;
	margin-bottom: 40px;
}

.IsLayoutSmallScreen #RewardContainer
{
	margin-top: 20px;
}

.TitleContainer
{
	transform: rotateZ(-3deg);
	align: center top;
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: 200ms, 300ms;
	flow-children: down;
}

.IsLayoutSmallScreen #RewardContainer
{
	ui-scale: 90%;
}

.AspectRatio4x3.IsLayoutSmallScreen .TitleContainer
{
}


.IsLayoutSmallScreen .TitleContainer
{
}


.Title
{
	text-transform: uppercase;
	font-weight: bold;
	font-family: Radiance;
	padding: 0px;
}

.MajorTitle
{
	font-size: 120px;
	horizontal-align: center;
	color: textBrightest;
	font-weight: black;
	text-align: center;
}

.MinorTitle
{	
	font-size: 18px;
	color: white;
	horizontal-align: right;
	background-color: black;
	padding: 6px 12px;
	padding-top: 10px;
	letter-spacing: 1px;
	margin-left: -10px;
}

#MinorTitleRow
{
	flow-children: right;
	overflow: noclip;
	margin-top: -10px;
	vertical-align: center;
	padding-left: 300px;
	horizontal-align: right;
	visibility: collapse;
}

#BPLogo
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/post_game/shield-icon_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -10px;
	z-index: 9;
}

#RewardTextContainer
{
	flow-children: down;
	align: center top;
	width: 1000px;
	padding: 40px;
}

.IsLayoutSmallScreen #RankTextContainer
{
	margin-top: 580px;
}

.AspectRatio4x3.IsLayoutSmallScreen #RankTextContainer
{
	margin-top: 720px;
}



.RewardTextName
{
	text-transform: uppercase;
	color: gradient (linear, 0% 0%, 0% 100%, from(#C6DCFE), to(#fff));
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	text-shadow: 0px 1px 0px 4.0 black;
}

.RewardTextDesc
{
	color: #C4C4C4;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;	
	text-align: center;
	width: 100%;
	text-shadow: 0px 1px 0px 2.0 black;
}


.ItemContainer
{
    vertical-align: center;
    overflow: noclip;
    horizontal-align: center;
    width: 360px;
	height: 360px;
	margin-top: 20px;
}

.IsTalent .ItemContainer,
.IsTalent .RewardTextDesc
{
	visibility: collapse;
}

.RewardMaybeHorizontal
{
	width: 100%;
	flow-children: down;
}

.IsLayoutSmallScreen .RewardMaybeHorizontal
{
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
}

.HorizontalCenter
{
	width: 100%;
}

.RewardTextUnlockCount
{
	margin-top: 20px;
	text-transform: uppercase;
	color: gradient (linear, 0% 0%, 0% 100%, from(#a4b7d5), to(#cbcbcb));
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	text-shadow: 0px 1px 0px 1.0 black;

	visibility: collapse;
}

.IsLayoutSmallScreen .RewardTextUnlockCount
{
	margin-top: 0px;
	width: fit-children;
	margin-right: 20px;
}

.IsLayoutSmallScreen .RewardTextUnlocked
{
	margin-top: 0px;
	width: fit-children;
}

.RewardTextUnlocked
{
	text-transform: uppercase;
	color: #707789;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;

	visibility: collapse;

}

.IsTalent .RewardTextUnlockCount,
.IsTalent .RewardTextUnlocked
{
	visibility: visible;
}

#ItemImage
{
	width: 100%;
	height: 100%;
}

#TalentContainer
{
	horizontal-align: center;
	padding-top: 50px;
}

#ContinueButton
{
	horizontal-align: right;
}


.ParticleOverlay {
	margin-top: -180px;
	width: 1920px;
	height: 1920px;
	horizontal-align: center;
	vertical-align: center;
	//hue-rotation: 156deg;
}

.IsLayoutSmallScreen #ContinueButton.PopupButton{
	margin-right: 100px;
	margin-top: 80px;
	ui-scale: 125%;
}

#ContinueButton.PopupButton {
	margin-top: 50px;
	margin-right: 50px;
	height: 72px;
	width: 72px;
	align: right top;
	background-image: url("s2r://panorama/images/hud/round_exit_button_psd.vtex");	
	background-size: 70px 70px;
	background-position: 100%;
	background-repeat: no-repeat;
	border: 0px;
	overflow: noclip;
	opacity: .5;
	transition-property: opacity;
	transition-duration: .2s;
}

#ContinueButton.PopupButton:hover {
	background-color: none;
	brightness: 1.2; 
	opacity: 1;
}


