.IsPlatformPC PopupItem {
	ui-scale: 80%;
}

.PopupPanel {
	width: 1200px;
	height: fit-children;
	min-height: 440px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.TypeContainer
{
	flow-children: right;
	margin-top: -4px;
	margin-bottom: 8px;
}

.Body .HeaderText
{
	color: #C3C3C3;
	font-size: 50px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

DACEquipControl
{
	width: 80%;
	height: 70%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.CloseButton
{
	width: 300px;
	height: 100px;
	vertical-align: bottom;
	background-color: blue;
}