.PopupPanel {
	width: 1200px;
	height: fit-children;
	min-height: 440px;
	vertical-align: middle;
	padding: 0px;

	background-color: #0000;
	border-width: 0px;
}

.HeaderTextContainer
{
	flow-children: right;
}

.HeaderTitleContainer
{
	flow-children: down;
}

.Body .HeaderText
{
	color: #C3C3C3;
	font-size: 50px;

	font-weight: bold;
	text-transform: uppercase;

	vertical-align: center;
	text-shadow: 0px 4px 0px 3.0 #00000035;
	letter-spacing: 1px;
}

.CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 48px;
	height: 48px;
	background-color: #000;
	/*Must have color or wash/opacity bug*/
	background-image: url("s2r://panorama/images/control_icons/x_out_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: white;
}

Label i
{
	font-style: italic;
}

.Body
{
	width: 100%;
	height: fit-children;
	padding: 25px;
	flow-children: down;
}

.Body Label {
	color: #d4e1f6;

	horizontal-align: center;
}

.HeroOddsHeader
{
	color: #aaadcc;
	font-size: 36px;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	margin-bottom: 10px;
}

.ExplainPoolLabel
{
	color: #aaadcc;
	font-size: 36px;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	margin-bottom: 10px;
	text-align: center;
	font-style: italic;
}

.HeroOddsLabel
{
	font-size: 40px;
	line-height: 40px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px 3.0 #000000aa;
	//letter-spacing: 1px;
	font-weight: semi-bold;
}

.HeroOddsLabel.Tier1
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#d0b2cd), to(#cedef8));
}

.HeroOddsLabel.Tier2
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#3ed93b), to(#99d3a0));
}

.HeroOddsLabel.Tier3
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#5990ff), to(#9cbbed));
}

.HeroOddsLabel.Tier4
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#e347ff), to(#e49bff));
}

.HeroOddsLabel.Tier5
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#fc9f45), to(#ffd0a2));
	padding-bottom: 16px;
}