.PopupPanel
{
	flow-children: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	background-color: #000000;
	border: 0px solid #000000;
}

#PopupContent
{
	width: 100%;
	height: fit-children;
	horizontal-align:center;
	vertical-align:center;	
	flow-children: down;
}

#BGContent
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 75%;
	background-repeat: no-repeat;
	opacity: 0.3;
	background-image: url("s2r://panorama/images/dashboard/background/background_png.vtex");

	animation-name: FadeIn;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#RightUnderlordContent,
#LeftUnderlordContent
{
	
	background-size: contain;
	background-repeat: no-repeat;	
	background-position: bottom;
	vertical-align: bottom;
}

#LeftUnderlordContent
{
	width: 50%;
	height:100%;	
	//width: 500px;
	//height: 1200px;
	horizontal-align:left;
	margin-left:-100px;
	//background-image: url("s2r://panorama/images/dashboard/anessix_hobgen_png.vtex");
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_jull_default_psd.vtex");

	animation-name: UnderlordsLeft;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#RightUnderlordContent
{		
	width: 45%;
	height: 100%;	
	horizontal-align:right;	
	margin-right:-100px;

	//background-image: url("s2r://panorama/images/dashboard/jull_enno_png.vtex");
	background-image: url("s2r://panorama/images/challenge_map/underlords/objective_anessix_default_psd.vtex");

	animation-name: UnderlordsRight;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#ButtonContainer
{	
	flow-children:down;		
	margin-top: 60px;	
}

.TutorialIntroButton
{
	width:1000px;
	height:fit-children;
	margin-bottom:60px;
}

.TutorialIntroButton:hover
{
	pre-transform-scale2d: 1.02;
	brightness: 1.5;
}

#PlayBotMatchButton
{		
	width:100%;
	height:100%;
	background-image: url("s2r://panorama/images/tutorial/play_bots_button_psd.vtex");	
	horizontal-align: center;	
	vertical-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
    transition-property: brightness;
    transition-duration: .2s;    
}

.TutorialIntroButton #PlayBotMatchButton
{
}

.TutorialIntroButton #BackToMainMenuButton
{
}



.Title
{
	horizontal-align: center;
	margin-top: 40px;
}

.PopupText
{
	font-family: ravenhook, radiance;
	color: white;
	horizontal-align: center;
	text-align: center;		
}


#PlayBotMatchText
{
	font-size: 90px;
	padding: 20px 70px;
}

#BackToDashboardText
{
	font-size:42px;
	text-decoration: underline;
	color: #dedede;
	letter-spacing: 3px;
}

#PopupTitle
{
	font-size:100px;	
	vertical-align: top;
	opacity: 0.8;
}



@keyframes 'UnderlordsLeft'
{
0%
{
	transform: translateY(500px);
	transform: translateX(-300px);
	opacity: 0;
}
100%
{
	transform: translateY(0px);
	transform: translateX(0px);
	opacity: 1;
}
}

@keyframes 'UnderlordsRight'
{
0%
{
	transform: translateY(500px);
	transform: translateX(300px);
	opacity: 0;
}
100%
{
	transform: translateY(0px);
	transform: translateX(0px);
	opacity: 1;
}
}

@keyframes 'FadeIn'
{
0%
{
	opacity: 0;
}
100%
{
	opacity: 0.3;
}
}