DACSettingsSlider
{
    flow-children: down;
}

#Title
{
    width: fill-parent-flow(1.0);
}

#Slider
{
    width: 100%;
}

DACSettingsSlider:disabled Panel Label
{
    color: #333333;
}

DACSettingsSlider Label
{
	color: #7d8688;
}

PopupSettings DACSettingsSlider Label
{
	font-size: 18px;
	color: #7d8688;
	vertical-align: center;
	margin: 0px;
	padding-top: 4px;
	padding-left: 5px;
	letter-spacing: 1px;
	font-weight: thin;
}

.IsPlatformMobile DACSettingsSlider Label
{
	font-size: 18px;
    	font-weight: normal;
}