DACSettingsSlider
{
    flow-children: down;
}

#Title
{
    width: fill-parent-flow(1.0);
}

#Slider
{
    width: 100%;
}

DACSettingsSlider:disabled Panel Label
{
    color: #333333;
}

DACSettingsSlider Label
{
	color: #7d8688;
	font-size: 18px;
	letter-spacing: 1px;
}

PopupSettings DACSettingsSlider Label
{
	font-size: 18px;
	color: #7d8688;
	vertical-align: center;
	margin: 0px;
    margin-bottom: 5px;
	letter-spacing: 1px;
}

.IsLayoutSmallScreen DACSettingsSlider
{
	margin-bottom: 20px;
}

.IsLayoutSmallScreen DACSettingsSlider Label
{
	font-size: 18px;
    	font-weight: normal;
    	margin-right: 20px;
}

.IsLayoutSmallScreen .DACSettingsSlider Label
{
	margin-right: 30px;
}