DACSettingsEnum
{
    flow-children: right;
    padding: 8px 0px;
}

DACSettingsEnum Label
{
	font-size: 18px;
	color: #7d8688;
	margin: 0px;
	padding-top: 0px;
	letter-spacing: 1px;
	font-weight: thin;
	/* margin-bottom: 6px; */
	text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
	color: #777;
	font-weight: bold;
}

DACSettingsEnum #title
{
    margin-right: 18px;
}

DACSettingsEnum #values
{
    flow-children: down;
}

DACSettingsEnum.HorizontalEnum #values
{
    flow-children: right;
}

DACSettingsEnum.HorizontalEnum #values RadioButton
{
    margin-right: 12px;
}

DACSettingsEnum:disabled Label
{
    color: #333333;
}

DACSettingsEnum:disabled RadioButton:selected Label
{
    //color: white;
}


.SummonedUnitAutoattack #title
{
	width: 162px;
}