
.yo1.UpvoteType, .yo1 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/oi_psd.vtex");
}

.yo2.UpvoteType, .yo2 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/pepper_psd.vtex");
}

.yo3.UpvoteType, .yo3 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");
}

.yo4.UpvoteType, .yo4 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/ow_psd.vtex");
}


.Language_bulgarian .yo1.UpvoteType, .Language_bulgarian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/bulgarian_png.vtex"); }
.Language_czech .yo1.UpvoteType, .Language_czech .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/czech_png.vtex"); }
.Language_danish .yo1.UpvoteType, .Language_danish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/danish_png.vtex"); }
.Language_finnish .yo1.UpvoteType, .Language_finnish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/finnish_png.vtex"); }
.Language_french .yo1.UpvoteType, .Language_french .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/french_png.vtex"); }
.Language_german .yo1.UpvoteType, .Language_german .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/german_png.vtex"); }
.Language_greek .yo1.UpvoteType, .Language_greek .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/greek_png.vtex"); }
.Language_hungarian .yo1.UpvoteType, .Language_hungarian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/hungarian_png.vtex"); }
.Language_italian .yo1.UpvoteType, .Language_italian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/italian_png.vtex"); }
.Language_japanese .yo1.UpvoteType, .Language_japanese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/japanese_png.vtex"); }
.Language_korean .yo1.UpvoteType, .Language_korean .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/korean_png.vtex"); }
.Language_latam .yo1.UpvoteType, .Language_latam .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/latam_png.vtex"); }
.Language_norwegian .yo1.UpvoteType, .Language_norwegian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/norwegian_png.vtex"); }
.Language_polish .yo1.UpvoteType, .Language_polish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/polish_png.vtex"); }
.Language_portuguese .yo1.UpvoteType, .Language_portuguese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/portuguese_png.vtex"); }
.Language_portuguese_br .yo1.UpvoteType, .Language_portuguese_br .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/portuguese_br_png.vtex"); }
.Language_romanian .yo1.UpvoteType, .Language_romanian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/romanian_png.vtex"); }
.Language_russian .yo1.UpvoteType, .Language_russian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/russian_png.vtex"); }
.Language_schinese .yo1.UpvoteType, .Language_schinese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/schinese_png.vtex"); }
.Language_spanish .yo1.UpvoteType, .Language_spanish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/spanish_png.vtex"); }
.Language_swedish .yo1.UpvoteType, .Language_swedish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/swedish_png.vtex"); }
.Language_tchinese .yo1.UpvoteType, .Language_tchinese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/tchinese_png.vtex"); }
.Language_thai .yo1.UpvoteType, .Language_thai .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/thai_png.vtex"); }
.Language_turkish .yo1.UpvoteType, .Language_turkish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/turkish_png.vtex"); }
.Language_ukranian .yo1.UpvoteType, .Language_ukranian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/ukranian_png.vtex"); }
.Language_vietnamese .yo1.UpvoteType, .Language_vietnamese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/vietnamese_png.vtex"); }


.Language_bulgarian .yo3.UpvoteType, .Language_bulgarian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/bulgarian_png.vtex"); }
.Language_french .yo3.UpvoteType, .Language_french .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/french_png.vtex"); }
.Language_german .yo3.UpvoteType, .Language_german .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/german_png.vtex"); }
.Language_greek .yo3.UpvoteType, .Language_greek .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/greek_png.vtex"); }
.Language_hungarian .yo3.UpvoteType, .Language_hungarian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/hungarian_png.vtex"); }
.Language_italian .yo3.UpvoteType, .Language_italian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/italian_png.vtex"); }
.Language_japanese .yo3.UpvoteType, .Language_japanese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/japanese_png.vtex"); }
.Language_korean .yo3.UpvoteType, .Language_korean .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/korean_png.vtex"); }
.Language_latam .yo3.UpvoteType, .Language_latam .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/latam_png.vtex"); }
.Language_polish .yo3.UpvoteType, .Language_polish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/polish_png.vtex"); }
.Language_portuguese .yo3.UpvoteType, .Language_portuguese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/portuguese_png.vtex"); }
.Language_portuguese_br .yo3.UpvoteType, .Language_portuguese_br .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/portuguese_br_png.vtex"); }
.Language_russian .yo3.UpvoteType, .Language_russian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/russian_png.vtex"); }
.Language_schinese .yo3.UpvoteType, .Language_schinese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/schinese_png.vtex"); }
.Language_spanish .yo3.UpvoteType, .Language_spanish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/spanish_png.vtex"); }
.Language_swedish .yo3.UpvoteType, .Language_swedish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/swedish_png.vtex"); }
.Language_tchinese .yo3.UpvoteType, .Language_tchinese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/tchinese_png.vtex"); }
.Language_thai .yo3.UpvoteType, .Language_thai .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/thai_png.vtex"); }
.Language_turkish .yo3.UpvoteType, .Language_turkish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/turkish_png.vtex"); }
.Language_ukranian .yo3.UpvoteType, .Language_ukranian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/ukranian_png.vtex"); }
.Language_vietnamese .yo3.UpvoteType, .Language_vietnamese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/vietnamese_png.vtex"); }


.Language_bulgarian .yo4.UpvoteType, .Language_bulgarian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/bulgarian_png.vtex"); }
.Language_danish .yo4.UpvoteType, .Language_danish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/danish_png.vtex"); }
.Language_finnish .yo4.UpvoteType, .Language_finnish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/finnish_png.vtex"); }
.Language_french .yo4.UpvoteType, .Language_french .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/french_png.vtex"); }
.Language_german .yo4.UpvoteType, .Language_german .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/german_png.vtex"); }
.Language_hungarian .yo4.UpvoteType, .Language_hungarian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/hungarian_png.vtex"); }
.Language_italian .yo4.UpvoteType, .Language_italian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/italian_png.vtex"); }
.Language_japanese .yo4.UpvoteType, .Language_japanese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/japanese_png.vtex"); }
.Language_korean .yo4.UpvoteType, .Language_korean .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/korean_png.vtex"); }
.Language_latam .yo4.UpvoteType, .Language_latam .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/latam_png.vtex"); }
.Language_polish .yo4.UpvoteType, .Language_polish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/polish_png.vtex"); }
.Language_portuguese .yo4.UpvoteType, .Language_portuguese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/portuguese_png.vtex"); }
.Language_portuguese_br .yo4.UpvoteType, .Language_portuguese_br .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/portuguese_br_png.vtex"); }
.Language_russian .yo4.UpvoteType, .Language_russian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/russian_png.vtex"); }
.Language_schinese .yo4.UpvoteType, .Language_schinese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/schinese_png.vtex"); }
.Language_spanish .yo4.UpvoteType, .Language_spanish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/spanish_png.vtex"); }
.Language_swedish .yo4.UpvoteType, .Language_swedish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/swedish_png.vtex"); }
.Language_tchinese .yo4.UpvoteType, .Language_tchinese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/tchinese_png.vtex"); }
.Language_thai .yo4.UpvoteType, .Language_thai .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/thai_png.vtex"); }
.Language_turkish .yo4.UpvoteType, .Language_turkish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/turkish_png.vtex"); }
.Language_vietnamese .yo4.UpvoteType, .Language_vietnamese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/vietnamese_png.vtex"); }




.S0ProfileRing1 #PlayerProfileAvatarOverlay,
.S0ProfileRing2 #PlayerProfileAvatarOverlay,
.S0ProfileRing3 #PlayerProfileAvatarOverlay,
.S0ProfileRing4 #PlayerProfileAvatarOverlay
{
}

.HasProfileRingItem .PlayerProfileAvatarBorder
{
	width: 350px;
	height: 350px;
	margin-left: -62px;
	margin-top: -62px;
	z-index: -10;
}


.S0ProfileRing1 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank0_psd.vtex");
}

.S0ProfileRing2 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank1_psd.vtex");
}

.S0ProfileRing3 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank2_psd.vtex");
}

.S0ProfileRing4 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank3_psd.vtex");
}

.BattlePassEquipPopup .PreviewPanel
{
	visibility: collapse;
}

.flag_base.BattlePassEquipPopup .PreviewPanel
{
	visibility: visible;
	width: 100px;
	height: 100px;
}


#BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_default_psd.vtex");
}

#BannerLogo
{
	width: 92%;
	height: 43%;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 16.5%;
	background-image: url("s2r://panorama/images/banners/default_logo_gold_psd.vtex");
	background-size: 100% 100%;
	
	wash-color: white;
}


.S0FlagShape1 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_01_psd.vtex");
}

.S0FlagShape2 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_02_psd.vtex");
}

.S0FlagShape3 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_03_psd.vtex");
}

.S0FlagShape4 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_04_psd.vtex");
}

.S0FlagShape5 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_05_psd.vtex");
}

.S0FlagShape6 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_default_psd.vtex");
}
.S0FlagShape6 #BannerLogo
{
	background-image: url("s2r://panorama/images/banners/default_logo_psd.vtex");
}


.S0FlagShape7 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_07_psd.vtex");
}

.S0FlagShape8 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_08_psd.vtex");
}

.S0FlagShape9 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_09_psd.vtex");
}

.S0FlagShape10 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_10_psd.vtex");
}

.S0FlagSigilDefault #BannerLogo
{
	background-image:  url("s2r://panorama/images/banners/default_logo_gold_psd.vtex");
}

.S0FlagSigilEcon1 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_1star_psd.vtex");
}

.S0FlagSigilEcon2 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_2star_psd.vtex");
}

.S0FlagSigilEcon3 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_econ_3star_psd.vtex");
}

.S0FlagSigilAlliance1 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_1star_psd.vtex");
}

.S0FlagSigilAlliance2 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_2star_psd.vtex");
}

.S0FlagSigilAlliance3 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_alliance_3star_psd.vtex");
}

.S0FlagSigilWin1 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_1star_psd.vtex");
}

.S0FlagSigilWin2 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_2star_psd.vtex");
}

.S0FlagSigilWin3 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_win_3star_psd.vtex");
}

.S0FlagSigilHeroes1 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_1star_psd.vtex");
}

.S0FlagSigilHeroes2 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_2star_psd.vtex");
}

.S0FlagSigilHeroes3 #BannerLogo
{
	background-image:  url("s2r://panorama/images/sigils/s0/sigil_s0_heroes_3star_psd.vtex");
}

.RewardLevel1 #MainRewardPanel
{
    opacity: 1;
    background-image:  url("s2r://panorama/images/battle_pass/bp0/items/shield_01_png.vtex");


}

.RewardLevel1 #RewardLineItemClaimButton Label 
{
    color: #c9d9f2;
}

.RewardLevel1 #RewardLineItemPathIcon
{
    background-image: url("s2r://panorama/images/battle_pass/rewardline_claimed_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
