
.yo1.UpvoteType, .yo1 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/oi_psd.vtex");
}

.yo2.UpvoteType, .yo2 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/pepper_psd.vtex");
}

.yo3.UpvoteType, .yo3 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");
}

.yo4.UpvoteType, .yo4 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/ow_psd.vtex");
}

.S0ProfileRing1 #PlayerProfileAvatarOverlay,
.S0ProfileRing2 #PlayerProfileAvatarOverlay,
.S0ProfileRing3 #PlayerProfileAvatarOverlay,
.S0ProfileRing4 #PlayerProfileAvatarOverlay
{
}

.HasProfileRingItem .PlayerProfileAvatarBorder
{
	width: 350px;
	height: 350px;
	margin-left: -62px;
	margin-top: -62px;
	z-index: -10;
}


.S0ProfileRing1 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank0_psd.vtex");
}

.S0ProfileRing2 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank1_psd.vtex");
}

.S0ProfileRing3 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank2_psd.vtex");
}

.S0ProfileRing4 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank3_psd.vtex");
}

.BattlePassEquipPopup .PreviewPanel
{
	visibility: collapse;
}

.flag_base.BattlePassEquipPopup .PreviewPanel
{
	visibility: visible;
	width: 100px;
	height: 100px;
}


#BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_default_psd.vtex");
}

.S0FlagShape1 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_01_psd.vtex");
}

.S0FlagShape2 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_02_psd.vtex");
}

.S0FlagShape3 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_03_psd.vtex");
}

.S0FlagShape4 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_04_psd.vtex");
}

.S0FlagShape5 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_05_psd.vtex");
}

.S0FlagShape6 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_default_psd.vtex");
}

.S0FlagShape7 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_07_psd.vtex");
}

.S0FlagShape8 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_08_psd.vtex");
}

.S0FlagShape9 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_09_psd.vtex");
}

.S0FlagShape10 #BannerBackground
{
	background-image:  url("s2r://panorama/images/banners/banner_10_psd.vtex");
}

.RewardLevel1 #MainRewardPanel
{
    opacity: 1;
    background-image:  url("s2r://panorama/images/battle_pass/bp0/items/shield_01_png.vtex");


}

.RewardLevel1 #RewardLineItemClaimButton Label 
{
    color: #c9d9f2;
}

.RewardLevel1 #RewardLineItemPathIcon
{
    background-image: url("s2r://panorama/images/battle_pass/rewardline_claimed_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
