@define playerColor: #ff00ff; 

#BannerBackground
{
   width: 50%;
   height: 100%;
   background-size: 100% 100%;
   background-image:  url("s2r://panorama/images/banners/default_bg_psd.vtex");

   wash-color: playerColor;
}

.HasShapeItem #BannerBackground
{
   wash-color: none;  
}

#BannerForeground
{
   width: 100%;
   height: 100%;
   background-size: 100% 100%;
   background-image:  url("s2r://panorama/images/banners/default_fg_psd.vtex");
   
   wash-color: white;
}


#BannerLogo
{
	width: 80%;
	height: 40%;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 15%;
	background-image: url("s2r://panorama/images/banners/default_logo_psd.vtex");
	background-size: 100% 100%;
	
	wash-color: white;
}