@define playerColor: #ff00ff; 

#Background
{
   width: 50%;
   height: 100%;
   background-size: 100% 100%;
   background-image:  url("s2r://panorama/images/banners/default_bg_psd.vtex");

   wash-color: playerColor;
}

#Foreground
{
   width: 100%;
   height: 100%;
   background-size: 100% 100%;
   background-image:  url("s2r://panorama/images/banners/default_fg_psd.vtex");
}


#Logo
{
	width: 50%;
	height: 25%;
	horizontal-align: center;
	margin-top: 25%;
	background-image: url("s2r://panorama/images/banners/default_logo_psd.vtex");
	background-size: 100% 100%;
}