
.EquipmentType_barricade_skin .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_barricade_skin_psd.vtex"); }
.EquipmentType_board_spray .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_board_spray_psd.vtex"); }
.EquipmentType_fireworks .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_fireworks_psd.vtex"); }
.EquipmentType_hero_skin .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_hero_skin_png.vtex"); }
.EquipmentType_kill_streak .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_kill_streak_psd.vtex"); }
.EquipmentType_map .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_map_psd.vtex"); }
.EquipmentType_map_prop .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_map_prop_psd.vtex"); }
.EquipmentType_player_yo .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_player_yo_psd.vtex"); }
.EquipmentType_target_buddy_skin .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_target_buddy_skin_psd.vtex"); }
.EquipmentType_teleport .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_teleport_psd.vtex"); }
.EquipmentType_underlord_cosmetic .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_underlord_cosmetic_png.vtex"); }
.EquipmentType_underlord_damage_effect .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_underlord_damage_effect_psd.vtex"); }
.EquipmentType_wanted_poster .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_wanted_poster_psd.vtex"); }
.EquipmentType_wanted_poster_title .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_wanted_poster_psd.vtex"); }
.EquipmentType_board_buddy .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_board_buddy_psd.vtex"); }
.EquipmentType_streetfight_item .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_streetfight_item_psd.vtex"); }
.EquipmentType_underlord_cosmetic .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_underlord_item_psd.vtex"); }
.EquipmentType_loot_list .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_mystery_item_psd.vtex"); }
.EquipmentType_currency_item .EquipmentTypeIcon { background-image: url("s2r://panorama/images/battle_pass/equipment_type/equipment_type_city_item_psd.vtex"); }



#BattlepassBackgroundImage.reward_item_id_11091 { background-image: url("s2r://panorama/images/battle_pass/bp1/items/map_bg_01_png.vtex"); } 
#BattlepassBackgroundImage.reward_item_id_11092 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_map_02_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.reward_item_id_11093 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_map_03_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.reward_item_id_11094 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_map_04_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.reward_item_id_11095 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_map_05_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.reward_item_id_11096 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_map_06_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

.IsLayoutSmallScreen #BattlepassBackgroundImage.reward_item_id_11096 
{
	//margin-top: 10px;
}

#BattlepassBackgroundImage.EquipmentType_kill_streak
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_kill_streak_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 
#BattlepassBackgroundImage.EquipmentType_fireworks 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_fireworks_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.EquipmentType_teleport 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_teleport_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.EquipmentType_player_yo
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_yo_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 





#BattlepassBackgroundImage.EquipmentType_barricade_skin 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_barricade_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 


#BattlepassBackgroundImage.EquipmentType_target_buddy_skin
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_target_buddy_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#Overlay #BattlepassBackgroundImage.EquipmentType_target_buddy_skin
{
	background-position: top;
	background-size: 125% 125%;
}


#BattlepassBackgroundImage.EquipmentType_board_spray 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_board_spray_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

	
#BattlepassBackgroundImage.EquipmentType_map_prop 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_loot_list_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#Overlay #BattlepassBackgroundImage.EquipmentType_map_prop 
{ 
	background-size: 135% 135%;
	background-position: top;
}

#BattlepassBackgroundImage.EquipmentType_loot_list,
#BattlepassBackgroundImage.EquipmentType_currency_item
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_loot_list_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 


#BattlepassBackgroundImage.EquipmentType_underlord_damage_effect
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_damage_effect_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

#BattlepassBackgroundImage.EquipmentType_wanted_poster 
{ 
background-image: url("s2r://panorama/images/battle_pass/bp1/items/bg_wanted_poster_psd.vtex"); 
background-color: black;
background-position: 50% 50%;
background-size: 1920px 1080px;
background-size: cover;
} 

.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio16x10 #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top -63px;
}

.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio4x3 #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top -200px;
}

.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio21x9.IsLayoutSmallScreen #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top -144px;
}

// undoing this for loadout

.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio16x10 #EquipControl #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top 0px;
}

.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio4x3 #EquipControl #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top 0px;
}

.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_teleport,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_fireworks,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_barricade_skin,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_target_buddy_skin,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_board_spray,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_map_prop,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_loot_list,
.AspectRatio21x9.IsLayoutSmallScreen #EquipControl #BattlepassBackgroundImage.EquipmentType_currency_item
{
	background-position: center top 0px;
}



.yo1.UpvoteType, .yo1 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/oi_psd.vtex");
}

.yo2.UpvoteType, .yo2 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/pepper_psd.vtex");
}

.yo3.UpvoteType, .yo3 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/yo_psd.vtex");
}

.yo4.UpvoteType, .yo4 #UpvoteButton
{
	background-image: url("s2r://panorama/images/hud/ow_psd.vtex");
}

.yo1.UpvoteType, .yo1 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_01_psd.vtex");
}

.yo2.UpvoteType, .yo2 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_02_psd.vtex");
}

.yo3.UpvoteType, .yo3 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_03_psd.vtex");
}

.yo4.UpvoteType, .yo4 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_04_psd.vtex");
}

.yo5.UpvoteType, .yo5 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_05_psd.vtex");
}

.yo6.UpvoteType, .yo6 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_06_psd.vtex");
}

.yo7.UpvoteType, .yo7 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_07_psd.vtex");
}

.yo8.UpvoteType, .yo8 #UpvoteButton
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/leaderboard_yos/yo_particle_08_psd.vtex");
}



.Language_bulgarian .yo1.UpvoteType, .Language_bulgarian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/bulgarian_png.vtex"); }
.Language_czech .yo1.UpvoteType, .Language_czech .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/czech_png.vtex"); }
.Language_danish .yo1.UpvoteType, .Language_danish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/danish_png.vtex"); }
.Language_finnish .yo1.UpvoteType, .Language_finnish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/finnish_png.vtex"); }
.Language_french .yo1.UpvoteType, .Language_french .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/french_png.vtex"); }
.Language_german .yo1.UpvoteType, .Language_german .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/german_png.vtex"); }
.Language_greek .yo1.UpvoteType, .Language_greek .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/greek_png.vtex"); }
.Language_hungarian .yo1.UpvoteType, .Language_hungarian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/hungarian_png.vtex"); }
.Language_italian .yo1.UpvoteType, .Language_italian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/italian_png.vtex"); }
.Language_japanese .yo1.UpvoteType, .Language_japanese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/japanese_png.vtex"); }
.Language_korean .yo1.UpvoteType, .Language_korean .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/korean_png.vtex"); }
.Language_latam .yo1.UpvoteType, .Language_latam .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/latam_png.vtex"); }
.Language_norwegian .yo1.UpvoteType, .Language_norwegian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/norwegian_png.vtex"); }
.Language_polish .yo1.UpvoteType, .Language_polish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/polish_png.vtex"); }
.Language_portuguese .yo1.UpvoteType, .Language_portuguese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/portuguese_png.vtex"); }
.Language_portuguese_br .yo1.UpvoteType, .Language_portuguese_br .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/portuguese_br_png.vtex"); }
.Language_romanian .yo1.UpvoteType, .Language_romanian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/romanian_png.vtex"); }
.Language_russian .yo1.UpvoteType, .Language_russian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/russian_png.vtex"); }
.Language_schinese .yo1.UpvoteType, .Language_schinese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/schinese_png.vtex"); }
.Language_spanish .yo1.UpvoteType, .Language_spanish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/spanish_png.vtex"); }
.Language_swedish .yo1.UpvoteType, .Language_swedish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/swedish_png.vtex"); }
.Language_tchinese .yo1.UpvoteType, .Language_tchinese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/tchinese_png.vtex"); }
.Language_thai .yo1.UpvoteType, .Language_thai .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/thai_png.vtex"); }
.Language_turkish .yo1.UpvoteType, .Language_turkish .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/turkish_png.vtex"); }
.Language_ukranian .yo1.UpvoteType, .Language_ukranian .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/ukranian_png.vtex"); }
.Language_vietnamese .yo1.UpvoteType, .Language_vietnamese .yo1 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/oi/vietnamese_png.vtex"); }


.Language_bulgarian .yo3.UpvoteType, .Language_bulgarian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/bulgarian_png.vtex"); }
.Language_french .yo3.UpvoteType, .Language_french .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/french_png.vtex"); }
.Language_german .yo3.UpvoteType, .Language_german .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/german_png.vtex"); }
.Language_greek .yo3.UpvoteType, .Language_greek .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/greek_png.vtex"); }
.Language_hungarian .yo3.UpvoteType, .Language_hungarian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/hungarian_png.vtex"); }
.Language_italian .yo3.UpvoteType, .Language_italian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/italian_png.vtex"); }
.Language_japanese .yo3.UpvoteType, .Language_japanese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/japanese_png.vtex"); }
.Language_korean .yo3.UpvoteType, .Language_korean .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/korean_png.vtex"); }
.Language_latam .yo3.UpvoteType, .Language_latam .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/latam_png.vtex"); }
.Language_polish .yo3.UpvoteType, .Language_polish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/polish_png.vtex"); }
.Language_portuguese .yo3.UpvoteType, .Language_portuguese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/portuguese_png.vtex"); }
.Language_portuguese_br .yo3.UpvoteType, .Language_portuguese_br .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/portuguese_br_png.vtex"); }
.Language_russian .yo3.UpvoteType, .Language_russian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/russian_png.vtex"); }
.Language_schinese .yo3.UpvoteType, .Language_schinese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/schinese_png.vtex"); }
.Language_spanish .yo3.UpvoteType, .Language_spanish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/spanish_png.vtex"); }
.Language_swedish .yo3.UpvoteType, .Language_swedish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/swedish_png.vtex"); }
.Language_tchinese .yo3.UpvoteType, .Language_tchinese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/tchinese_png.vtex"); }
.Language_thai .yo3.UpvoteType, .Language_thai .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/thai_png.vtex"); }
.Language_turkish .yo3.UpvoteType, .Language_turkish .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/turkish_png.vtex"); }
.Language_ukranian .yo3.UpvoteType, .Language_ukranian .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/ukranian_png.vtex"); }
.Language_vietnamese .yo3.UpvoteType, .Language_vietnamese .yo3 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/yo/vietnamese_png.vtex"); }


.Language_bulgarian .yo4.UpvoteType, .Language_bulgarian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/bulgarian_png.vtex"); }
.Language_danish .yo4.UpvoteType, .Language_danish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/danish_png.vtex"); }
.Language_finnish .yo4.UpvoteType, .Language_finnish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/finnish_png.vtex"); }
.Language_french .yo4.UpvoteType, .Language_french .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/french_png.vtex"); }
.Language_german .yo4.UpvoteType, .Language_german .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/german_png.vtex"); }
.Language_hungarian .yo4.UpvoteType, .Language_hungarian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/hungarian_png.vtex"); }
.Language_italian .yo4.UpvoteType, .Language_italian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/italian_png.vtex"); }
.Language_japanese .yo4.UpvoteType, .Language_japanese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/japanese_png.vtex"); }
.Language_korean .yo4.UpvoteType, .Language_korean .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/korean_png.vtex"); }
.Language_latam .yo4.UpvoteType, .Language_latam .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/latam_png.vtex"); }
.Language_polish .yo4.UpvoteType, .Language_polish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/polish_png.vtex"); }
.Language_portuguese .yo4.UpvoteType, .Language_portuguese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/portuguese_png.vtex"); }
.Language_portuguese_br .yo4.UpvoteType, .Language_portuguese_br .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/portuguese_br_png.vtex"); }
.Language_russian .yo4.UpvoteType, .Language_russian .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/russian_png.vtex"); }
.Language_schinese .yo4.UpvoteType, .Language_schinese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/schinese_png.vtex"); }
.Language_spanish .yo4.UpvoteType, .Language_spanish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/spanish_png.vtex"); }
.Language_swedish .yo4.UpvoteType, .Language_swedish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/swedish_png.vtex"); }
.Language_tchinese .yo4.UpvoteType, .Language_tchinese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/tchinese_png.vtex"); }
.Language_thai .yo4.UpvoteType, .Language_thai .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/thai_png.vtex"); }
.Language_turkish .yo4.UpvoteType, .Language_turkish .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/turkish_png.vtex"); }
.Language_vietnamese .yo4.UpvoteType, .Language_vietnamese .yo4 #UpvoteButton { background-image: url("s2r://panorama/images/hud/yo_loc/ow/vietnamese_png.vtex"); }




.S0ProfileRing1 #PlayerProfileAvatarOverlay,
.S0ProfileRing2 #PlayerProfileAvatarOverlay,
.S0ProfileRing3 #PlayerProfileAvatarOverlay,
.S0ProfileRing4 #PlayerProfileAvatarOverlay
{
}

.HasProfileRingItem .PlayerProfileAvatarBorder
{
	width: 350px;
	height: 350px;
	margin-left: -62px;
	margin-top: -62px;
	z-index: -10;
}


.S0ProfileRing1 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank0_psd.vtex");
}

.S0ProfileRing2 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank1_psd.vtex");
}

.S0ProfileRing3 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank2_psd.vtex");
}

.S0ProfileRing4 .PlayerProfileAvatarBorder
{
	background-image: url("s2r://panorama/images/mini_profile/avatar_border/border_s0_rank3_psd.vtex");
}

.BattlePassEquipPopup .PreviewPanel
{
	visibility: collapse;
}

.flag_base.BattlePassEquipPopup .PreviewPanel
{
	visibility: visible;
	width: 100px;
	height: 100px;
}

.streetfight_item.UsedByUnderlord_1 #OptionalBackground 
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/diamond_anessix_png.vtex"); 
}

.streetfight_item.UsedByUnderlord_2 #OptionalBackground 
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/diamond_jull_png.vtex"); 
}

.streetfight_item.UsedByUnderlord_3 #OptionalBackground 
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/diamond_enno_png.vtex"); 
}

.streetfight_item.UsedByUnderlord_4 #OptionalBackground 
{
	background-image: url("s2r://panorama/images/battle_pass/bp1/diamond_hobgen_png.vtex"); 
}

.streetfight_item.IngameItemId_10100 #OptionalImage { background-image: url("s2r://panorama/images/items/claymore_psd.vtex"); }
.streetfight_item.IngameItemId_10101 #OptionalImage { background-image: url("s2r://panorama/images/items/void_stone_psd.vtex"); }
.streetfight_item.IngameItemId_10102 #OptionalImage { background-image: url("s2r://panorama/images/items/vitality_booster_psd.vtex"); }
.streetfight_item.IngameItemId_10103 #OptionalImage { background-image: url("s2r://panorama/images/items/chainmail_psd.vtex"); }
.streetfight_item.IngameItemId_10104 #OptionalImage { background-image: url("s2r://panorama/images/items/gloves_of_haste_psd.vtex"); }
.streetfight_item.IngameItemId_10105 #OptionalImage { background-image: url("s2r://panorama/images/items/headdress_psd.vtex"); }
.streetfight_item.IngameItemId_10106 #OptionalImage { background-image: url("s2r://panorama/images/items/mask_of_death_psd.vtex"); }
.streetfight_item.IngameItemId_10107 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10108 #OptionalImage { background-image: url("s2r://panorama/images/items/kaya_psd.vtex"); }
.streetfight_item.IngameItemId_10109 #OptionalImage { background-image: url("s2r://panorama/images/items/talisman_of_evasion_psd.vtex"); }

.streetfight_item.IngameItemId_10111 #OptionalImage { background-image: url("s2r://panorama/images/items/hand_of_midas_psd.vtex"); }
.streetfight_item.IngameItemId_10112 #OptionalImage { background-image: url("s2r://panorama/images/items/vanguard_psd.vtex"); }
.streetfight_item.IngameItemId_10113 #OptionalImage { background-image: url("s2r://panorama/images/items/crystalis_psd.vtex"); }
.streetfight_item.IngameItemId_10114 #OptionalImage { background-image: url("s2r://panorama/images/items/desolator_psd.vtex"); }
.streetfight_item.IngameItemId_10115 #OptionalImage { background-image: url("s2r://panorama/images/items/arcane_boots_psd.vtex"); }
.streetfight_item.IngameItemId_10116 #OptionalImage { background-image: url("s2r://panorama/images/items/stonehall_pike_psd.vtex"); }
.streetfight_item.IngameItemId_10117 #OptionalImage { background-image: url("s2r://panorama/images/items/stonehall_cloak_psd.vtex"); }
.streetfight_item.IngameItemId_10118 #OptionalImage { background-image: url("s2r://panorama/images/items/blink_dagger_psd.vtex"); }
.streetfight_item.IngameItemId_10119 #OptionalImage { background-image: url("s2r://panorama/images/items/orb_of_venom_psd.vtex"); }
.streetfight_item.IngameItemId_10120 #OptionalImage { background-image: url("s2r://panorama/images/items/force_staff_psd.vtex"); }

.streetfight_item.IngameItemId_10121 #OptionalImage { background-image: url("s2r://panorama/images/items/maelstrom_psd.vtex"); }
.streetfight_item.IngameItemId_10122 #OptionalImage { background-image: url("s2r://panorama/images/items/mask_of_madness_psd.vtex"); }
.streetfight_item.IngameItemId_10123 #OptionalImage { background-image: url("s2r://panorama/images/items/mekansm_psd.vtex"); }
.streetfight_item.IngameItemId_10124 #OptionalImage { background-image: url("s2r://panorama/images/items/blade_mail_psd.vtex"); }
.streetfight_item.IngameItemId_10125 #OptionalImage { background-image: url("s2r://panorama/images/items/basher_psd.vtex"); }
.streetfight_item.IngameItemId_10126 #OptionalImage { background-image: url("s2r://panorama/images/items/eul_scepter_psd.vtex"); }
.streetfight_item.IngameItemId_10127 #OptionalImage { background-image: url("s2r://panorama/images/items/silver_edge_psd.vtex"); }
.streetfight_item.IngameItemId_10128 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10129 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }

.streetfight_item.IngameItemId_10130 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10131 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10132 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10133 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10134 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10135 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10136 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10137 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10138 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10139 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }

.streetfight_item.IngameItemId_10140 #OptionalImage { background-image: url("s2r://panorama/images/items/vladmirs_offering_psd.vtex"); }
.streetfight_item.IngameItemId_10141 #OptionalImage { background-image: url("s2r://panorama/images/items/big_time_contract_psd.vtex"); }
.streetfight_item.IngameItemId_10142 #OptionalImage { background-image: url("s2r://panorama/images/items/battle_fury_psd.vtex"); }
.streetfight_item.IngameItemId_10143 #OptionalImage { background-image: url("s2r://panorama/images/items/black_king_bar_psd.vtex"); }
.streetfight_item.IngameItemId_10144 #OptionalImage { background-image: url("s2r://panorama/images/items/diffusal_blade_psd.vtex"); }
.streetfight_item.IngameItemId_10145 #OptionalImage { background-image: url("s2r://panorama/images/items/moon_shard_psd.vtex"); }
.streetfight_item.IngameItemId_10146 #OptionalImage { background-image: url("s2r://panorama/images/items/scythe_of_vyse_psd.vtex"); }
.streetfight_item.IngameItemId_10147 #OptionalImage { background-image: url("s2r://panorama/images/items/skadi_psd.vtex"); }
.streetfight_item.IngameItemId_10148 #OptionalImage { background-image: url("s2r://panorama/images/items/dagon_psd.vtex"); }
.streetfight_item.IngameItemId_10149 #OptionalImage { background-image: url("s2r://panorama/images/items/aeon_disk_psd.vtex"); }

.streetfight_item.IngameItemId_10150 #OptionalImage { background-image: url("s2r://panorama/images/items/refresher_orb_psd.vtex"); }
.streetfight_item.IngameItemId_10151 #OptionalImage { background-image: url("s2r://panorama/images/items/pipe_of_insight_psd.vtex"); }
.streetfight_item.IngameItemId_10152 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10153 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10154 #OptionalImage { background-image: url("s2r://panorama/images/items/hood_psd.vtex"); }
.streetfight_item.IngameItemId_10155 #OptionalImage { background-image: url("s2r://panorama/images/items/satanic_psd.vtex"); }
.streetfight_item.IngameItemId_10156 #OptionalImage { background-image: url("s2r://panorama/images/items/radiance_psd.vtex"); }
.streetfight_item.IngameItemId_10157 #OptionalImage { background-image: url("s2r://panorama/images/items/divine_rapier_psd.vtex"); }
.streetfight_item.IngameItemId_10158 #OptionalImage { background-image: url("s2r://panorama/images/items/shivas_guard_psd.vtex"); }
.streetfight_item.IngameItemId_10159 #OptionalImage { background-image: url("s2r://panorama/images/items/bloodthorn_psd.vtex"); }

.streetfight_item.IngameItemId_10160 #OptionalImage { background-image: url("s2r://panorama/images/items/butterfly_psd.vtex"); }
.streetfight_item.IngameItemId_10161 #OptionalImage { background-image: url("s2r://panorama/images/items/heart_psd.vtex"); }
.streetfight_item.IngameItemId_10162 #OptionalImage { background-image: url("s2r://panorama/images/items/octarine_fragment_psd.vtex"); }
.streetfight_item.IngameItemId_10163 #OptionalImage { background-image: url("s2r://panorama/images/items/horn_of_the_alpha_psd.vtex"); }
.streetfight_item.IngameItemId_10164 #OptionalImage { background-image: url("s2r://panorama/images/items/vesture_of_the_tyrant_psd.vtex"); }
.streetfight_item.IngameItemId_10165 #OptionalImage { background-image: url("s2r://panorama/images/items/aegis_psd.vtex"); }
.streetfight_item.IngameItemId_10166 #OptionalImage { background-image: url("s2r://panorama/images/items/build_healing_ward_psd.vtex"); }
.streetfight_item.IngameItemId_10167 #OptionalImage { background-image: url("s2r://panorama/images/items/build_barricade_psd.vtex"); }
.streetfight_item.IngameItemId_10168 #OptionalImage { background-image: url("s2r://panorama/images/items/build_undying_tower_psd.vtex"); }
.streetfight_item.IngameItemId_10169 #OptionalImage { background-image: url("s2r://panorama/images/items/build_target_dummy_psd.vtex"); }

.streetfight_item.IngameItemId_10170 #OptionalImage { background-image: url("s2r://panorama/images/items/hunting_hat_psd.vtex"); }
.streetfight_item.IngameItemId_10171 #OptionalImage { background-image: url("s2r://panorama/images/items/demon_hat_psd.vtex"); }
.streetfight_item.IngameItemId_10172 #OptionalImage { background-image: url("s2r://panorama/images/items/brute_hat_psd.vtex"); }
.streetfight_item.IngameItemId_10173 #OptionalImage { background-image: url("s2r://panorama/images/items/dwarf_hat_psd.vtex"); }
.streetfight_item.IngameItemId_10174 #OptionalImage { background-image: url("s2r://panorama/images/items/dragon_lance_psd.vtex"); }
.streetfight_item.IngameItemId_10175 #OptionalImage { background-image: url("s2r://panorama/images/items/tank_buster_psd.vtex"); }
.streetfight_item.IngameItemId_10176 #OptionalImage { background-image: url("s2r://panorama/images/items/armlet_psd.vtex"); }
.streetfight_item.IngameItemId_10177 #OptionalImage { background-image: url("s2r://panorama/images/items/build_mango_tree_psd.vtex"); }
.streetfight_item.IngameItemId_10178 #OptionalImage { background-image: url("s2r://panorama/images/items/quelling_blade_psd.vtex"); }
