.DacBp1BronzeBorder 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/borders/dac_bronze_border_png.vtex");
}

.DacBp1SilverBorder 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/borders/dac_silver_border_png.vtex");
}

.DacBp1GoldBorder 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/borders/dac_gold_border_png.vtex");
}

.DacBp1PlatinumBorder 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/borders/dac_platinum_border_png.vtex");
}

.DacBp1BronzeBorderIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_bronze_border_png.vtex");
}

.DacBp1PoseChestIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_pose_chest_png.vtex");
}

.DacBp1AvatarChestIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_avatar_chest_png.vtex");
}

.DacBp1SilverBorderIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_silver_border_png.vtex");
}

.DacBp1GoldBorderIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_gold_border_png.vtex");
}

.DacBp1PlatinumBorderIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_platinum_border_png.vtex");
}

.DacBp1BackgroundFireIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_background_fire_png.vtex");
}

.DacBp1TitleJourneymanIcon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_title_journeyman_png.vtex");
}

.DacBp1BonusHp1Icon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_bonus_hp_1_png.vtex");
}

.DacBp1BonusAttack1Icon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_bonus_attack_1_png.vtex");
}

.DacBp1BonusAbilityDmg1Icon.RewardLineItemImage 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/icons/dac_bp1_bonus_ability_dmg_1_png.vtex");
}


.DacBp1HappyGuyAvatar {
    background-image: url("s2r://panorama/images/battle_pass/bp1/avatars/dac_profile_avatar_happyguy_png.vtex");
}

.DacBp1EvilGuyAvatar 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/avatars/dac_profile_avatar_happyguy_png.vtex");
}

.DacBp1CowAvatar 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/avatars/dac_profile_avatar_cow_png.vtex");
}

.DacBp1StarAvatar 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/avatars/dac_profile_avatar_star_png.vtex");
}

.DacBp1AdrianAvatar 
{
    background-image: url("s2r://panorama/images/battle_pass/bp1/avatars/dac_profile_avatar_adrian_png.vtex");
}